Repository Unity-Technologies/Graphics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Unity-Technologies/universal-rp-team, @Unity-Technologies/urp-trunk-guardian, @Unity-Technologies/2d-graphics, @Unity-Technologies/shader-graph, @Unity-Technologies/gfx-sdets

.github/CODEOWNERS:

# Code Ownership File

# Universal RP Team and URP Guardian
/com.unity.render-pipelines.universal/ @Unity-Technologies/universal-rp-team @Unity-Technologies/urp-trunk-guardian
/com.unity.testing.urp-upgrade/ @Unity-Technologies/universal-rp-team @Unity-Technologies/urp-trunk-guardian
/com.unity.testing.urp/ @Unity-Technologies/universal-rp-team @Unity-Technologies/urp-trunk-guardian
/TestProjects/UniversalGraphicsTest_Foundation/ @Unity-Technologies/universal-rp-team @Unity-Technologies/urp-trunk-guardian
/TestProjects/UniversalGraphicsTest_Lighting/ @Unity-Technologies/universal-rp-team @Unity-Technologies/urp-trunk-guardian
/TestProjects/UniversalGraphicsTest_PostPro/ @Unity-Technologies/universal-rp-team @Unity-Technologies/urp-trunk-guardian
/TestProjects/UniversalGraphicsTest_Terrain/ @Unity-Technologies/universal-rp-team @Unity-Technologies/urp-trunk-guardian
/com.unity.template-universal/ @Unity-Technologies/universal-rp-team @Unity-Technologies/urp-trunk-guardian

# Universal RP Guardian
/com.unity.render-pipelines.universal/Editor/2D @Unity-Technologies/2d-graphics @Unity-Technologies/urp-trunk-guardian
/com.unity.render-pipelines.universal/Runtime/2D @Unity-Technologies/2d-graphics @Unity-Technologies/urp-trunk-guardian
/com.unity.render-pipelines.universal/Shaders/2D @Unity-Technologies/2d-graphics @Unity-Technologies/urp-trunk-guardian
/com.unity.render-pipelines.universal/Editor/ShaderGraph/MasterNodes @Unity-Technologies/2d-graphics  @Unity-Technologies/urp-trunk-guardian
/TestProjects/UniversalGraphicsTest_2D/ @Unity-Technologies/2d-graphics @Unity-Technologies/urp-trunk-guardian
/com.unity.testing.xr/ @Unity-Technologies/urp-trunk-guardian


# Shader Graph
/com.unity.shadergraph/ @Unity-Technologies/shader-graph

# Test systems
/.github/ @Unity-Technologies/gfx-sdets
/.yamato/ @Unity-Technologies/gfx-sdets
/katana-ci/ @Unity-Technologies/gfx-sdets
/Tools/ @Unity-Technologies/gfx-sdets
/com.unity.testframework.graphics/ @Unity-Technologies/gfx-sdets

[SpaceWarp] URP V1 Commit
  com.unity.render-pipelines.core/ShaderLibrary/SpaceTransforms.hlsl
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/OculusMotionVectorPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/OculusMotionVectorPass.cs.meta
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRPass.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/OculusMotionVectorCore.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/OculusMotionVectorCore.hlsl.meta
  com.unity.render-pipelines.universal/ShaderLibrary/UnityInput.hlsl
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.shadergraph/ShaderGraphLibrary/ShaderVariables.hlsl
Owners: @Unity-Technologies/universal-rp-team, @Unity-Technologies/urp-trunk-guardian, @Unity-Technologies/shader-graph

fix changelog
  com.unity.render-pipelines.universal/CHANGELOG.md
Owners: @Unity-Technologies/universal-rp-team, @Unity-Technologies/urp-trunk-guardian

Revert "tmp"
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
Owners: none

Finalize code without having public method
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DManager.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
Owners: @Unity-Technologies/2d-graphics, @Unity-Technologies/urp-trunk-guardian

cleanup - add #ifdef
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
Owners: @Unity-Technologies/2d-graphics, @Unity-Technologies/urp-trunk-guardian

Fix stencil override of objects in HDRP
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/DrawRenderersCustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/DrawRenderersCustomPass.cs
Owners: none

Fix wrong pass index used in fullscreen custom pass
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/FullScreenCustomPass.cs
Owners: none

Fix fullscreen shader tooltips
  com.unity.shadergraph/Editor/Generation/Targets/Fullscreen/FullscreenShaderGUI.cs
Owners: @Unity-Technologies/shader-graph

Fix cubemap sampling in CRT shader, preview texture declaration and remove useless asmdef
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/CustomTexture.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/CustomTextureNodes.cs
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/CustomTextureSubShader.template
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/CustomTextureSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/ShaderGraphRef.asmref
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/ShaderGraphRef.asmref.meta
Owners: @Unity-Technologies/shader-graph

Fix lod sampling in custom pass from fullscreen SG
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassSampling.hlsl
Owners: none

Fix stencil override of objects in HDRP
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/DrawRenderersCustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/DrawRenderersCustomPass.cs
Owners: none

Fix wrong pass index used in fullscreen custom pass
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/FullScreenCustomPass.cs
Owners: none

Fix fullscreen shader tooltips
  com.unity.shadergraph/Editor/Generation/Targets/Fullscreen/FullscreenShaderGUI.cs
Owners: @Unity-Technologies/shader-graph

Fix cubemap sampling in CRT shader, preview texture declaration and remove useless asmdef
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/CustomTexture.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/CustomTextureNodes.cs
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/CustomTextureSubShader.template
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/CustomTextureSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/ShaderGraphRef.asmref
  com.unity.shadergraph/Editor/Generation/Targets/CustomRenderTexture/ShaderGraphRef.asmref.meta
Owners: @Unity-Technologies/shader-graph

Removed visible divider when block is collapsed
  com.unity.visualeffectgraph/Editor/UIResources/uss/VFXBlock.uss
Owners: none

update occlusion radius for directional light sample
  com.unity.render-pipelines.high-definition/Samples~/LensFlareSamples/ExampleDirectionalLight.unity
Owners: none

Hide HDR label with no tonemap
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/TonemappingEditor.cs
Owners: none

[testing] add git rev date commands
  .yamato/config/__shared.metafile
  .yamato/urp_performance_boatattack-linux-vulkan.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_lostcrypt-linux-vulkan.yml
  .yamato/urp_performance_lostcrypt-osx-metal.yml
Owners: @Unity-Technologies/gfx-sdets

Disable in Metal
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Owners: none

update occlusion radius for directional light sample (#6154)
  com.unity.render-pipelines.high-definition/Samples~/LensFlareSamples/ExampleDirectionalLight.unity
Owners: none

Fix broken public API.
  com.unity.render-pipelines.core/Runtime/Camera/SRPPhysicalCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
Owners: none

Rename CullingMatrix -> cullingMatrix
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowUtils.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
Owners: @Unity-Technologies/universal-rp-team, @Unity-Technologies/urp-trunk-guardian

[testing] update mac git commands
  .yamato/config/__shared.metafile
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_lostcrypt-osx-metal.yml
Owners: @Unity-Technologies/gfx-sdets

Fix manual-mode max blur size + address review comments, code clean-up
  com.unity.render-pipelines.core/ShaderLibrary/Random.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFCombine.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGather.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGatherUtils.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Owners: none

Use more clear function name
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGatherUtils.hlsl
Owners: none

apply formatting tool
  TestProjects/Lightmapping/Assets/Tests/Editor/Tests_Unit_Editmode/Editmode_PowerSampling_Tests.cs
Owners: none

Fix formatting
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Owners: none

Fix incorrect copy of reference element
  com.unity.visualeffectgraph/Runtime/Utilities/Playables/VisualEffectControl/Editor/VisualEffectControlPlayableAssetInspector.cs
Owners: none

Remove TODOPAUL
  com.unity.visualeffectgraph/Runtime/Utilities/Playables/VisualEffectControl/VisualEffectControlTrackMixerBehaviour.cs
Owners: none

Fix (more) formatting
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGatherUtils.hlsl
Owners: none

Added tests
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentUserExperience.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeComponentArchetype/EverythingVolumeComponentFilter.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeComponentArchetype/Filter.cs
  com.unity.render-pipelines.core/Tests/Editor/Volumes/ArbX.cs
  com.unity.render-pipelines.core/Tests/Editor/Volumes/EqualityTests.cs
  com.unity.render-pipelines.core/Tests/Editor/Volumes/EqualityTests.cs.meta
  com.unity.render-pipelines.core/Tests/Editor/Volumes/EqualityTests.tt
  com.unity.render-pipelines.core/Tests/Editor/Volumes/EqualityTests.tt.meta
  com.unity.render-pipelines.core/Tests/Editor/Volumes/VolumeComponentArchetypeTests.cs
  com.unity.render-pipelines.core/Tests/Editor/Volumes/VolumeComponentFilterTests.cs
  com.unity.render-pipelines.core/Tests/Editor/Volumes/VolumeComponentFilterTests.cs.meta
  com.unity.render-pipelines.core/Tests/Editor/Volumes/VolumeComponentTypeTests.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
Owners: @Unity-Technologies/universal-rp-team, @Unity-Technologies/urp-trunk-guardian
