Repository Unity-Technologies/Graphics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Unity-Technologies/universal-rp-team, @Unity-Technologies/2d-graphics, @Unity-Technologies/shader-graph, @Unity-Technologies/xr-graphics, @Unity-Technologies/gfx-sdets

.github/CODEOWNERS:

# Code Ownership File

# Universal RP Team
/com.unity.render-pipelines.universal/ @Unity-Technologies/universal-rp-team
/com.unity.testing.urp-upgrade/ @Unity-Technologies/universal-rp-team
/com.unity.testing.urp/ @Unity-Technologies/universal-rp-team
/TestProjects/UniversalGraphicsTest_Foundation/ @Unity-Technologies/universal-rp-team
/TestProjects/UniversalGraphicsTest_Lighting/ @Unity-Technologies/universal-rp-team
/TestProjects/UniversalGraphicsTest_PostPro/ @Unity-Technologies/universal-rp-team
/TestProjects/UniversalGraphicsTest_Terrain/ @Unity-Technologies/universal-rp-team
/TestProjects/UniversalGfxTestStereo/ @Unity-Technologies/universal-rp-team
/com.unity.template-universal/ @Unity-Technologies/universal-rp-team

# Universal 2D Renderer
/com.unity.render-pipelines.universal/Editor/2D @Unity-Technologies/2d-graphics
/com.unity.render-pipelines.universal/Runtime/2D @Unity-Technologies/2d-graphics
/com.unity.render-pipelines.universal/Shaders/2D @Unity-Technologies/2d-graphics
/com.unity.render-pipelines.universal/Editor/ShaderGraph/MasterNodes @Unity-Technologies/2d-graphics
/TestProjects/UniversalGraphicsTest_2D/ @Unity-Technologies/2d-graphics

# Shader Graph
/com.unity.shadergraph/ @Unity-Technologies/shader-graph

# XR
/com.unity.render-pipelines.core/Runtime/XR @Unity-Technologies/xr-graphics

# Test systems
/.github/ @Unity-Technologies/gfx-sdets
/.yamato/ @Unity-Technologies/gfx-sdets
/katana-ci/ @Unity-Technologies/gfx-sdets
/Tools/ @Unity-Technologies/gfx-sdets
/com.unity.testframework.graphics/ @Unity-Technologies/gfx-sdets

Revert "Fix missing reference of Variant for build" & Use Muticompile instead
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/Misc/VFXKeyword.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/Shaders/SG_Keyword_Global_Exposed.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/Shaders/SG_Keyword_Global_Exposed.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/Shaders/SG_Keyword_Global_Not_Exposed.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/Shaders/SG_Keyword_Local_Exposed.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/Shaders/SG_Keyword_Local_Not_Exposed.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/GraphicsSettings.asset
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_ShaderGraphGenerationFTP.unity
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_ShaderGraphGenerationFTP/Misc/VFXKeyword.cs
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_ShaderGraphGenerationFTP/Misc/VFXKeyword.cs.meta
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_ShaderGraphGenerationFTP/Shaders/SG_Keyword_Global_Exposed.shadergraph
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_ShaderGraphGenerationFTP/Shaders/SG_Keyword_Global_Not_Exposed.shadergraph
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_ShaderGraphGenerationFTP/Shaders/SG_Keyword_Local_Not_Exposed.shadergraph
  TestProjects/VisualEffectGraph_URP/ProjectSettings/GraphicsSettings.asset
  com.unity.testing.visualeffectgraph/CommonAssets/Shadergraph/ShaderGraphGeneration.meta
  com.unity.testing.visualeffectgraph/CommonAssets/Shadergraph/ShaderGraphGeneration/SG_Keyword_Global_Exposed.shadergraph
  com.unity.testing.visualeffectgraph/CommonAssets/Shadergraph/ShaderGraphGeneration/SG_Keyword_Global_Exposed.shadergraph.meta
  com.unity.testing.visualeffectgraph/CommonAssets/Shadergraph/ShaderGraphGeneration/SG_Keyword_Global_Not_Exposed.shadergraph
  com.unity.testing.visualeffectgraph/CommonAssets/Shadergraph/ShaderGraphGeneration/SG_Keyword_Global_Not_Exposed.shadergraph.meta
  com.unity.testing.visualeffectgraph/CommonAssets/Shadergraph/ShaderGraphGeneration/SG_Keyword_Local_Exposed.shadergraph
  com.unity.testing.visualeffectgraph/CommonAssets/Shadergraph/ShaderGraphGeneration/SG_Keyword_Local_Exposed.shadergraph.meta
  com.unity.testing.visualeffectgraph/CommonAssets/Shadergraph/ShaderGraphGeneration/SG_Keyword_Local_Not_Exposed.shadergraph
  com.unity.testing.visualeffectgraph/CommonAssets/Shadergraph/ShaderGraphGeneration/SG_Keyword_Local_Not_Exposed.shadergraph.meta
  com.unity.testing.visualeffectgraph/Runtime/VFXKeyword.cs
  com.unity.testing.visualeffectgraph/Runtime/VFXKeyword.cs.meta
Owners: none

seperate for clean only
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
Owners: none

Formatting fixes.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/UniversalRenderPipelineAssetUI.Skin.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/ShaderLibrary/LODCrossFade.hlsl
  com.unity.render-pipelines.universal/Shaders/Lit.shader
Owners: @Unity-Technologies/universal-rp-team

Adding snippet files
  com.unity.shadergraph/Documentation~/snippets/hdrp-latest-link.md
  com.unity.shadergraph/Documentation~/snippets/nodes-additional-settings.md
  com.unity.shadergraph/Documentation~/snippets/nodes-all-contexts.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-all.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-hdrp.md
  com.unity.shadergraph/Documentation~/snippets/nodes-controls.md
  com.unity.shadergraph/Documentation~/snippets/nodes-fragment-only.md
  com.unity.shadergraph/Documentation~/snippets/nodes-generated-code.md
  com.unity.shadergraph/Documentation~/snippets/nodes-inputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-outputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-related.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-control.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-input.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-output.md
  com.unity.shadergraph/Documentation~/snippets/nodes-subgraph-node.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-errors.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-bias-sample-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-ss-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-uv-table.md
Owners: @Unity-Technologies/shader-graph

GSG-529 - ThreadMapDetail and UVCombine node documentation (#6942)
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/ThreadMapDetail-Node.md
  com.unity.shadergraph/Documentation~/UVCombine-Node.md
  com.unity.shadergraph/Documentation~/images/sg-threadmapdetail-node.png
  com.unity.shadergraph/Documentation~/images/sg-uvcombine-node.png
  com.unity.shadergraph/Documentation~/snippets/hdrp-latest-link.md
  com.unity.shadergraph/Documentation~/snippets/nodes-additional-settings.md
  com.unity.shadergraph/Documentation~/snippets/nodes-all-contexts.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-all.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-hdrp.md
  com.unity.shadergraph/Documentation~/snippets/nodes-controls.md
  com.unity.shadergraph/Documentation~/snippets/nodes-fragment-only.md
  com.unity.shadergraph/Documentation~/snippets/nodes-generated-code.md
  com.unity.shadergraph/Documentation~/snippets/nodes-inputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-outputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-related.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-control.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-input.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-output.md
  com.unity.shadergraph/Documentation~/snippets/nodes-subgraph-node.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-errors.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-bias-sample-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-ss-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-uv-table.md
Owners: @Unity-Technologies/shader-graph

GSG-529 - ThreadMapDetail and UVCombine node documentation (#6942)
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/ThreadMapDetail-Node.md
  com.unity.shadergraph/Documentation~/UVCombine-Node.md
  com.unity.shadergraph/Documentation~/images/sg-threadmapdetail-node.png
  com.unity.shadergraph/Documentation~/images/sg-uvcombine-node.png
  com.unity.shadergraph/Documentation~/snippets/hdrp-latest-link.md
  com.unity.shadergraph/Documentation~/snippets/nodes-additional-settings.md
  com.unity.shadergraph/Documentation~/snippets/nodes-all-contexts.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-all.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-hdrp.md
  com.unity.shadergraph/Documentation~/snippets/nodes-controls.md
  com.unity.shadergraph/Documentation~/snippets/nodes-fragment-only.md
  com.unity.shadergraph/Documentation~/snippets/nodes-generated-code.md
  com.unity.shadergraph/Documentation~/snippets/nodes-inputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-outputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-related.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-control.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-input.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-output.md
  com.unity.shadergraph/Documentation~/snippets/nodes-subgraph-node.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-errors.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-bias-sample-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-ss-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-uv-table.md
Owners: @Unity-Technologies/shader-graph

Update CHANGELOG.md
  com.unity.render-pipelines.universal/CHANGELOG.md
Owners: @Unity-Technologies/universal-rp-team

GSG-529 - ThreadMapDetail and UVCombine node documentation (#6942) (#6991)
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/ThreadMapDetail-Node.md
  com.unity.shadergraph/Documentation~/UVCombine-Node.md
  com.unity.shadergraph/Documentation~/images/sg-threadmapdetail-node.png
  com.unity.shadergraph/Documentation~/images/sg-uvcombine-node.png
  com.unity.shadergraph/Documentation~/snippets/hdrp-latest-link.md
  com.unity.shadergraph/Documentation~/snippets/nodes-additional-settings.md
  com.unity.shadergraph/Documentation~/snippets/nodes-all-contexts.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-all.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-hdrp.md
  com.unity.shadergraph/Documentation~/snippets/nodes-controls.md
  com.unity.shadergraph/Documentation~/snippets/nodes-fragment-only.md
  com.unity.shadergraph/Documentation~/snippets/nodes-generated-code.md
  com.unity.shadergraph/Documentation~/snippets/nodes-inputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-outputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-related.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-control.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-input.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-output.md
  com.unity.shadergraph/Documentation~/snippets/nodes-subgraph-node.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-errors.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-bias-sample-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-ss-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-uv-table.md
Owners: @Unity-Technologies/shader-graph

GSG-529 - ThreadMapDetail and UVCombine node documentation (#6942) (#6990)
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/ThreadMapDetail-Node.md
  com.unity.shadergraph/Documentation~/UVCombine-Node.md
  com.unity.shadergraph/Documentation~/images/sg-threadmapdetail-node.png
  com.unity.shadergraph/Documentation~/images/sg-uvcombine-node.png
  com.unity.shadergraph/Documentation~/snippets/hdrp-latest-link.md
  com.unity.shadergraph/Documentation~/snippets/nodes-additional-settings.md
  com.unity.shadergraph/Documentation~/snippets/nodes-all-contexts.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-all.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-hdrp.md
  com.unity.shadergraph/Documentation~/snippets/nodes-controls.md
  com.unity.shadergraph/Documentation~/snippets/nodes-fragment-only.md
  com.unity.shadergraph/Documentation~/snippets/nodes-generated-code.md
  com.unity.shadergraph/Documentation~/snippets/nodes-inputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-outputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-related.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-control.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-input.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-output.md
  com.unity.shadergraph/Documentation~/snippets/nodes-subgraph-node.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-errors.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-bias-sample-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-ss-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-uv-table.md
Owners: @Unity-Technologies/shader-graph

[2021.2] Backport GSG 581 / PR 6987 (#6988)
  com.unity.shadergraph/Documentation~/Blackboard.md
  com.unity.shadergraph/Documentation~/Branch-On-Input-Connection-Node.md
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/Dither-Node.md
  com.unity.shadergraph/Documentation~/First-Shader-Graph.md
  com.unity.shadergraph/Documentation~/Gather-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/Graph-Target.md
  com.unity.shadergraph/Documentation~/Is-Front-Face-Node.md
  com.unity.shadergraph/Documentation~/Keyword-Node.md
  com.unity.shadergraph/Documentation~/Keywords.md
  com.unity.shadergraph/Documentation~/Main-Preview.md
  com.unity.shadergraph/Documentation~/Master-Stack.md
  com.unity.shadergraph/Documentation~/Node-Library.md
  com.unity.shadergraph/Documentation~/Node.md
  com.unity.shadergraph/Documentation~/Port.md
  com.unity.shadergraph/Documentation~/Sample-Virtual-Texture-Node.md
  com.unity.shadergraph/Documentation~/Shader-Stage.md
  com.unity.shadergraph/Documentation~/SpeedTree8-SubGraphAssets.md
  com.unity.shadergraph/Documentation~/Sub-Graph-Dropdown-Node.md
  com.unity.shadergraph/Documentation~/Sub-graph-Asset.md
  com.unity.shadergraph/Documentation~/Sub-graph-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/images/sg-branch-on-input-connection-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-branch-on-input-connection-node.png
  com.unity.shadergraph/Documentation~/images/sg-calculate-level-detail-texture-2d-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-calculate-level-detail-texture-2d-node.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example-2.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example-3.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-sample-order.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node-example-2.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node.png
  com.unity.shadergraph/Documentation~/snippets/sg-node-fragment-only.md
Owners: @Unity-Technologies/shader-graph

Merge SS Tracing (ENABLE_SS_TRACING 0)
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/OITResolveDeferredSSTracing.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VisibilityOITResources.hlsl
Owners: none

Disable by default
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/OITResolveDeferredSSTracing.compute
Owners: none

Adding missing android vulkan reference images, and flagging scenes as not XR compatible (XR enabled results are inconsistent)
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/Vulkan/None/050_Shader_Graph_ScreenCoordinates.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/Vulkan/None/050_Shader_Graph_ScreenCoordinates.png.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/Vulkan/None/050_Shader_Graph_ScreenCoordinates_DynamicRez.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/Vulkan/None/050_Shader_Graph_ScreenCoordinates_DynamicRez.png.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graph_ScreenCoordinates.unity
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graph_ScreenCoordinates_DynamicRez.unity
Owners: @Unity-Technologies/universal-rp-team

*Update HDRP_DebugNormal.png (#6972)
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/HDRP_DebugNormal.png
Owners: none

[Docs] [HDRP] Update scripts in the accumulation API documentation (#6951)
  com.unity.render-pipelines.high-definition/Documentation~/Accumulation.md
Owners: none

[CI] [2021.2] Updated editor to de4950fa04da709d6b616bcf5aae1ed9d8b789d0
  .yamato/_latest_editor_versions_2021.2.metafile
Owners: @Unity-Technologies/gfx-sdets

[CI] [2022.1] Updated editor to c0c678b963f443019c46b36c51abe57d40f5fa15
  .yamato/_latest_editor_versions_2022.1.metafile
Owners: @Unity-Technologies/gfx-sdets

[CI] [2020.3] Updated editor to e94f7398a50aaa9708c171d143156d23d603946d
  .yamato/_latest_editor_versions_2020.3.metafile
Owners: @Unity-Technologies/gfx-sdets

Improve lighting option
  com.unity.render-pipelines.high-definition/Editor/Sky/CloudSystem/CloudLayer/CloudLayerEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/DefaultCloudMap.png.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/BakeCloudShadows.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/BakeCloudTexture.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.Migration.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayerCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayerRenderer.cs
Owners: none

Fix for memory leak
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCaster2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs
Owners: @Unity-Technologies/2d-graphics

Fixing changes of target size, which cause stale history
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Owners: none

Fixing resetting of history buffer when resizing the backbuffer. Should fix some artifacts in tests
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Owners: none

Fix for memory leak
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
Owners: @Unity-Technologies/2d-graphics

Regenerating yaml files with latest
  .yamato/all-shaderfoundry.yml
  .yamato/shaderfoundry-linux-openglcore.yml
  .yamato/shaderfoundry-linux-vulkan.yml
  .yamato/shaderfoundry-osx-metal.yml
  .yamato/shaderfoundry-osx-openglcore.yml
  .yamato/shaderfoundry-win-dx11.yml
  .yamato/shaderfoundry-win-dx12.yml
  .yamato/shaderfoundry-win-vulkan.yml
Owners: @Unity-Technologies/gfx-sdets

Change FieldTypes to announce that they are descriptors.
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FieldType.cs
Owners: @Unity-Technologies/shader-graph

Add INodeBuilder for FuncDesc and associated Register method.
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FieldType.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FunctionDescriptorNodeBuilder.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FunctionDescriptorNodeBuilder.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/Registry.cs
Owners: @Unity-Technologies/shader-graph

make it internal
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Renderer2DDepthFeature.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
  com.unity.render-pipelines.universal/Runtime/2D/SortingLayer/SortingLayerDepth.cs
  com.unity.render-pipelines.universal/Runtime/2D/SortingLayer/SortingLayerDepthOverride.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/ValidationExceptions.json.meta
Owners: @Unity-Technologies/2d-graphics, @Unity-Technologies/universal-rp-team

Get rid of compiler errors.
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FieldType.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FunctionDescriptorNodeBuilder.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/RegistryPlaceholder.cs
Owners: @Unity-Technologies/shader-graph

Screenshots
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5010_CloudLayer.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5010_CloudLayer/Scene Settings Profile.asset
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5010_CloudLayer.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5010_CloudLayer.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5010_CloudLayer.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5010_CloudLayer.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5010_CloudLayer.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/5010_CloudLayer.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/5010_CloudLayer.png.meta
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-CloudLayer.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Cloud-Layer.md
  com.unity.render-pipelines.high-definition/Editor/Sky/CloudSystem/CloudLayer/CloudLayerEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/BakeCloudShadows.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/BakeCloudTexture.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.Migration.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayerCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayerRenderer.cs
Owners: none

APV + RT Integration
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingLightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs.hlsl
Owners: none

Added automatic upgrade for casting options
  com.unity.render-pipelines.universal/Editor/2D/ShadowCaster2DEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCaster2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs
Owners: @Unity-Technologies/2d-graphics

Updated scenes
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/004_Shadows_Caster_Perspective_110_Silhoutte_Casts.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/004_Shadows_Caster_Perspective_110_Silhoutte_Casts.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/004_Shadows_Caster_Perspective_111_Silhoutte_Casts_Self.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/004_Shadows_Caster_Perspective_111_Silhoutte_Casts_Self.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/005_Shadows_Composite_Perspective_010_Casts.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/005_Shadows_Composite_Perspective_010_Casts.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/005_Shadows_Composite_Perspective_011_Casts_Self.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/005_Shadows_Composite_Perspective_011_Casts_Self.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/005_Shadows_Composite_Perspective_110_Silhoutte_Casts.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/005_Shadows_Composite_Perspective_110_Silhoutte_Casts.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/005_Shadows_Composite_Perspective_111_Silhoutte_Casts_Self.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/005_Shadows_Composite_Perspective_111_Silhoutte_Casts_Self.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/007_Shadows_Layers_Ortho_All.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/007_Shadows_Layers_Ortho_All.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/008_Shadows_Transparency_Composite_Ortho_NonSelf_vs_NonSelf.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/008_Shadows_Transparency_Composite_Ortho_NonSelf_vs_NonSelf.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/008_Shadows_Transparency_Composite_Ortho_Self_vs_NonSelf.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/008_Shadows_Transparency_Composite_Ortho_Self_vs_NonSelf.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/008_Shadows_Transparency_Composite_Ortho_Self_vs_Self.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/008_Shadows_Transparency_Composite_Ortho_Self_vs_Self.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/072_Shadow_Prerendering.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/072_Shadow_Prerendering.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/004_Shadows_Caster_Ortho_111_Silhoutte_Casts_Self.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/004_Shadows_Caster_Perspective_110_Silhoutte_Casts.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/004_Shadows_Caster_Perspective_111_Silhoutte_Casts_Self.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/005_Shadows_Composite_Ortho_010_Casts.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/005_Shadows_Composite_Ortho_011_Casts_Self.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/005_Shadows_Composite_Perspective_011_Casts_Self.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/005_Shadows_Composite_Perspective_110_Silhoutte_Casts.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/005_Shadows_Composite_Perspective_111_Silhoutte_Casts_Self.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/007_Shadows_Layers_Ortho_All.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/008_Shadows_Transparency_Composite_Ortho_NonSelf_vs_NonSelf.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/008_Shadows_Transparency_Composite_Ortho_Self_vs_NonSelf.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/008_Shadows_Transparency_Composite_Ortho_Self_vs_Self.unity
  TestProjects/UniversalGraphicsTest_2D/ProjectSettings/QualitySettings.asset
Owners: @Unity-Technologies/2d-graphics

Reflection probes no longer requires an additional copy per face.
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Owners: none

Fix missing distance scale when flattening
  com.unity.render-pipelines.core/Runtime/Lighting/CapsuleShadows/Shaders/CapsuleShadows.hlsl
Owners: none

Added an initial version of under water rendering for the water system.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/EvaluateRefractionData_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/EvaluateSimulationCaustics_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/WaterSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Water/WaterSurfaceEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Water/WaterSurfaceMenuItems.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Water/Water.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Water/Water.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Water.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.Underwater.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.Underwater.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.Utilities.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/ShaderPassWaterGBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterLighting.compute
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSimulation.compute
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSurface.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSystemDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSystemDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterUtilities.hlsl
Owners: none

Template - bump license version
  com.unity.template-hd/Packages/com.unity.template.hd/LICENSE.md
  com.unity.template-universal/Packages/com.unity.template.universal/LICENSE.md
Owners: @Unity-Technologies/universal-rp-team

First set up : changelog, json, sample content description
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Sample-Content.md
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/.sample.json
Owners: none

commiting first iterations work
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/CRTMaterial_NightSky.mat
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/CRTMaterial_NightSky.mat.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/CRTShader_NightSky.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/CRTShader_NightSky.shadergraph.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/CRT_Nightsky.asset
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/CRT_Nightsky.asset.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/FullScreenShowcase.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/FullScreenShowcase.unity
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/FullScreenShowcase.unity.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/FullScreenShowcase/Fullscreen_RenderingSettings Profile.asset
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/FullScreenShowcase/Fullscreen_RenderingSettings Profile.asset.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/SG_ProceduralNightSky.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/SG_ProceduralNightSky.shadergraph.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scripts.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scripts/FullscreenSamples.asmdef
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scripts/FullscreenSamples.asmdef.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scripts/LinkDirectionalToCustomNightSky.cs
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scripts/LinkDirectionalToCustomNightSky.cs.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/T_Moon.png
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/T_Moon.png.meta
Owners: none

CRT nightsky done
  com.unity.render-pipelines.high-definition/Samples.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/CRTShader_NightSky.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Materials.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Materials/CRTMaterial_NightSky.mat
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Materials/CRTMaterial_NightSky.mat.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Prefabs.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Prefabs/CustomNightSky.prefab
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Prefabs/CustomNightSky.prefab.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/SG_ProceduralNightSky.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/SG_ProceduralNightSky.shadergraph.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase.unity
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase.unity.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase/LightingData.asset
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase/LightingData.asset.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase/NightSkySamples_RenderingSettings Profile.asset
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase/NightSkySamples_RenderingSettings Profile.asset.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Shadergraphs.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Shadergraphs/CRTShader_NightSky.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Shadergraphs/CRTShader_NightSky.shadergraph.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Textures.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Textures/CRT_Nightsky.asset
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Textures/CRT_Nightsky.asset.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Textures/T_Moon.png
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Textures/T_Moon.png.meta
Owners: none

Finished presenting custom nightsky beginning colorblindness
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Materials/Black.mat
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Materials/Black.mat.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Materials/CRTMaterial_NightSky.mat
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Materials/SampleCubemap_Normal.mat
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Materials/SampleCubemap_Normal.mat.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Materials/White.mat
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Materials/White.mat.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase.unity
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase/FullScreen_GlobalRenderingSettings Profile.asset
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase/FullScreen_GlobalRenderingSettings Profile.asset.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase/FullscreenSamplesLightingData.lighting
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase/FullscreenSamplesLightingData.lighting.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scenes/FullScreenShowcase/LightingData.asset
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scripts/Colorblindness.cs
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scripts/Colorblindness.cs.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scripts/FullscreenSamples.asmdef
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Scripts/LinkDirectionalToCustomNightSky.cs
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Shadergraphs/CRTShader_NightSky.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Shadergraphs/ColorBlindness.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Shadergraphs/ColorBlindness.shadergraph.meta
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Shadergraphs/SampleCubemap.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/FullscreenSamples/Shadergraphs/SampleCubemap.shadergraph.meta
Owners: none
