Repository Unity-Technologies/Graphics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Unity-Technologies/universal-rp-team, @hdb-unity, @Unity-Technologies/2d-graphics, @Unity-Technologies/shader-graph, @Unity-Technologies/gfx-sdets

.github/CODEOWNERS:

# Code Ownership File

# Universal RP General
/com.unity.render-pipelines.universal/ @Unity-Technologies/universal-rp-team
/TestProjects/UniversalGraphicsTest/ @hdb-unity

# Universal RP 2D Renderer
/com.unity.render-pipelines.universal/Editor/2D @Unity-Technologies/2d-graphics
/com.unity.render-pipelines.universal/Runtime/2D @Unity-Technologies/2d-graphics
/com.unity.render-pipelines.universal/Shaders/2D @Unity-Technologies/2d-graphics
/com.unity.render-pipelines.universal/Editor/ShaderGraph/MasterNodes @Unity-Technologies/2d-graphics

# Shader Graph
/com.unity.shadergraph/ @Unity-Technologies/shader-graph

# Test systems
/.github/ @Unity-Technologies/gfx-sdets
/.yamato/ @Unity-Technologies/gfx-sdets
/katana-ci/ @Unity-Technologies/gfx-sdets
/Tools/ @Unity-Technologies/gfx-sdets
/com.unity.testframework.graphics/ @Unity-Technologies/gfx-sdets

# LWRP (Legacy)
/com.unity.render-pipelines.lightweight/ @Unity-Technologies/universal-rp-team

Add new API to CachedShadowManager and fix WouldFitInAtlas (#3387)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowManager.cs
Owners: none

Fix caching of directional shadows
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowManager.cs
Owners: none

Doc
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
Owners: none

Better fix for Targets accessing the current blocks
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Serialization/MultiJsonInternal.cs
Owners: @Unity-Technologies/shader-graph

Update reference images.
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/006_LitShaderLightProbes.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/Android/Vulkan/None/006_LitShaderLightProbes.png
Owners: none

Sync point (need switching branch)
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowAtlas.cs
Owners: none

Forgot to commit this bit.
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
Owners: none

Tentative fix for RTClearFlags not found.
  com.unity.render-pipelines.core/Runtime/Common/CommonStructs.cs
Owners: none

Fix undo preview with inline value (#3425)
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
Owners: @Unity-Technologies/shader-graph

Used GetEffectiveShaderStageCapability() to fix compatibility
  com.unity.shadergraph/Editor/Data/Graphs/MaterialSlot.cs
Owners: @Unity-Technologies/shader-graph

Revert "Used GetEffectiveShaderStageCapability() to fix compatibility"
  com.unity.shadergraph/Editor/Data/Graphs/MaterialSlot.cs
Owners: @Unity-Technologies/shader-graph

Fixed vetex stage compatibility
  com.unity.shadergraph/Editor/Data/Graphs/MaterialSlot.cs
Owners: @Unity-Technologies/shader-graph

Update the test's Unlit SG graph to connect the map to the emission slot.
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2011_ForwardEmissiveForDeferred/UnlitSGEmissive.shadergraph
Owners: none

Enable debug display for forward emissive in deferred pass.
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/PassDescriptorExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
Owners: none

Changelog
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Owners: none

Disable some light properties
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
Owners: @Unity-Technologies/universal-rp-team

Save changes for speedtree8 for filing a bug
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8_PBRLit.shadergraph
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/ShaderGraphLibrary/Nature/SpeedTree8Wind.hlsl
  com.unity.shadergraph/ShaderGraphLibrary/Nature/SpeedTree8Wind.shadersubgraph
  com.unity.shadergraph/ShaderGraphLibrary/Nature/SpeedTreeCrossFade.hlsl
  com.unity.shadergraph/ShaderGraphLibrary/Nature/SpeedTreeCrossFade.hlsl.meta
Owners: @Unity-Technologies/universal-rp-team, @Unity-Technologies/shader-graph

[VFX] Disable Asyncompilation (temporarly) (#3595)
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorSettings.asset
  TestProjects/VisualEffectGraph_URP/ProjectSettings/EditorSettings.asset
Owners: none

Fixed SSR used with transparent: Keyword overrided
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
Owners: none

Change Log
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Owners: none

Add all _ST_Wind properties to st8 shadergraph for universal
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8_PBRLit.shadergraph
Owners: @Unity-Technologies/universal-rp-team

player work
  TestProjects/ShaderGraph/Assets/CommonAssets/Scripts/Attributes/SetupTestAssetTestCases.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Scripts/Attributes/UseTestAssetTestCase.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Scripts/ShaderGraphTestAssetBehavior.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Scripts/ShaderGraphTestAssetBehavior.cs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Scripts/ShaderGraphTestResult.cs
  TestProjects/ShaderGraph/Assets/Testing/ShaderGraphTestAsset.cs
  TestProjects/ShaderGraph/Assets/Testing/ShaderGraphTestAsset.cs.meta
  TestProjects/ShaderGraph/Assets/Testing/ShaderGraphTestAssetBehavior.cs
  TestProjects/ShaderGraph/Assets/Testing/ShaderGraphTestAssetBehavior.cs.meta
Owners: none

[CI] [2021.1] Updated latest editors metafile
  .yamato/_latest_editor_versions_2021.1.metafile
Owners: @Unity-Technologies/gfx-sdets

[CI] [2020.2] Updated latest editors metafile
  .yamato/_latest_editor_versions_2020.2.metafile
Owners: @Unity-Technologies/gfx-sdets

Implement PR feedback
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/PassDescriptorExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
Owners: none

[CI] [2020.2] Updated latest editors metafile
  .yamato/_latest_editor_versions_2020.2.metafile
Owners: @Unity-Technologies/gfx-sdets

Shorten the option name
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/LightTextureNode.cs
Owners: @Unity-Technologies/2d-graphics

Reorg files
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/AssetCallbacks.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/AssetCallbacks/CreateSpriteLitShaderGraph.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/AssetCallbacks/CreateSpriteLitShaderGraph.cs.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/AssetCallbacks/CreateSpriteUnlitShaderGraph.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/AssetCallbacks/CreateSpriteUnlitShaderGraph.cs.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Includes.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Includes/SpriteForwardPass.hlsl
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Includes/SpriteForwardPass.hlsl.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Includes/SpriteLitPass.hlsl
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Includes/SpriteLitPass.hlsl.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Includes/SpriteNormalPass.hlsl
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Includes/SpriteNormalPass.hlsl.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Includes/SpriteUnlitPass.hlsl
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Includes/SpriteUnlitPass.hlsl.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Nodes.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Nodes/LightTextureNode.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Nodes/LightTextureNode.cs.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteCustomSubTarget.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteCustomSubTarget.cs.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteLitSubTarget.cs.meta
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteUnlitSubTarget.cs.meta
Owners: @Unity-Technologies/2d-graphics

Cleanup
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Nodes/LightTextureNode.cs
Owners: @Unity-Technologies/2d-graphics

Fixes from review
  com.unity.render-pipelines.core/Editor/CoreEditorStyles.cs
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayerListUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayersUIBlock.cs
Owners: none

Format
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayerListUIBlock.cs
Owners: none

Fix for perspective lighting
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/2D/Include/LightingUtility.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Owners: @Unity-Technologies/universal-rp-team, @Unity-Technologies/2d-graphics

Removed unused code from volumetric point light shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
Owners: @Unity-Technologies/2d-graphics

[CI] [trunk] Updated green project revisions
  .yamato/_green_job_revisions_trunk.metafile
Owners: @Unity-Technologies/gfx-sdets

[CI] [2021.1] Updated green project revisions
  .yamato/_green_job_revisions_2021.1.metafile
Owners: @Unity-Technologies/gfx-sdets

[CI] [2020.2] Updated green project revisions
  .yamato/_green_job_revisions_2020.2.metafile
Owners: @Unity-Technologies/gfx-sdets

Moving _GlossMapScale to obsolete properties as it is not used. Also removing it in complex lit as it is not using upgrade path
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
Owners: @Unity-Technologies/universal-rp-team

Foundation DX11 DX12 player ref imgs
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/014_CameraMulti_MiniMap_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/050_Shader_Graphs.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/014_CameraMulti_MiniMap_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/050_Shader_Graphs.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/050_Shader_Graphs_deferred.png
Owners: none

Removing spaces as formatter not allowing it
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows/UnlitCustomShadows.mat
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows/UnlitCustomShadows.mat.meta
Owners: none
