Repository Unity-Technologies/Graphics, changes with the labels that .github/labeler.yml gives for each.
All labels: SRP, HDRP, Universal, Shader Graph, vfx, yamato, testing

.github/labeler.yml:

# Add 'core' to any changes within 'com.unity.render-pipelines.core' folder or any subfolders
SRP:
  - com.unity.render-pipelines.core/**/*
  - TestProjects/SRP*/**/*
  
# Add 'hdrp' to any changes within HDRP-related folder or any subfolders
HDRP:
  - com.unity.render-pipelines.high-definition-config/**/*
  - com.unity.render-pipelines.high-definition/**/*
  - com.unity.testing.hdrp/**/*
  - TestProjects/HDRP*/**/*
  
Universal:
  - com.unity.render-pipelines.universal/**/*
  - com.unity.render-pipelines.lightweight/**/*
  - TestProjects/Universal*/**/*
  
Shader Graph:
  - com.unity.shadergraph/**/*
  - TestProjects/ShaderGraph*/**/*
  - com.unity.render-pipelines.universal/Editor/ShaderGraph/*
  
vfx:
  - com.unity.visualeffectgraph/**/*
  - com.unity.testing.visualeffectgraph/**/*
  - TestProjects/VisualEffectGraph*/**/*
  
yamato:
  - .yamato/*
  
testing:
  - TestProjects/**/*

Fix normal reconstruction to work in SS. Fix for shader array size missmatch
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/ShaderPassDecal.hlsl
  com.unity.render-pipelines.universal/Runtime/NormalReconstruction.cs
Labels: Universal

Disable test 146_Unlit_Custom_Shadows on XR.
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows.unity
Labels: Universal, testing

[CI] [2021.1] Updated green project revisions
  .yamato/_green_job_revisions_2021.1.metafile
Labels: yamato

Adding missing checks for Transparents when sampling SSAO
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
Labels: Universal

Removing renderer feature now calls dispose
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
Labels: Universal

Removed the icon from the light to fix issue with double icon and icon dependency
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs.meta
Labels: Universal
