Repository Unity-Technologies/Graphics, pull requests merged in 2020-04, with the labels that each got.

#11 [Yamato] replace ScriptableRenderPipeline with Graphics in yml [skip ci]
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
Labels: needs-backport-7.x, needs-backport-8.x, yamato

#13 [skip ci] [backport] replace ScriptableRenderPipeline with Graphics (#11)
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
Labels: yamato

#12 [skip ci] [backport] UPM_REGISTRY variable (#6442)
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  .yamato/z_editor.yml
Labels: yamato

#15 [skip ci] [backport] replace ScriptableRenderPipeline with Graphics (#11)
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
Labels: yamato

#29 Add 126_SampleDepth reference image for Android Vulkan tests [skip CI]
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/126_SampleDepth.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/126_SampleDepth.png.meta
Labels: testing, universal

#31 Fixed a regression in the ray traced indirect diffuse due to the new probe system.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
Labels: HDRP

#19 Clamp probes compression factor to 0
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#10 Enable Hybrid V2 DOTS instancing for previously unsupported shader graph passes
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/HDEyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/HDFabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HDHairSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/PBR/ShaderGraph/PBRSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDTarget.cs
Labels: HDRP

#38 Merge 8.x.x/hd/staging
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentListEditor.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeProfileFactory.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeProfile.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Glossary.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedScalableSetting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
Labels: HDRP, SRP

#37 Merge 7.x.x/hd/staging
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentListEditor.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeProfileFactory.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeProfile.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Glossary.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedScalableSetting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
Labels: HDRP, SRP

#49 Merge Hdrp/staging [Skip CI]
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/801_SubSurfaceScatteringDeferred.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/802_SubSurfaceScatteringForward.png
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentListEditor.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeProfileFactory.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeProfile.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedScalableSetting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingSubSurface.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VertMesh.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
Labels: HDRP, SRP, testing

#33 Alpha to coverage frame setting
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_MSAAForward.asset
Labels: HDRP

#40 Pospow and SG triplanar fix
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Triplanar-Node.md
  com.unity.shadergraph/Editor/Data/Nodes/UV/TriplanarNode.cs
Labels: HDRP, SRP, Shader Graph, needs-backport-7.x, needs-backport-8.x

#53 update of MERGE_NAME macro [Skip CI]
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
Labels: HDRP

#41 Axf - Add specaa, add baked ao, fix reflection hierarchy for carpaint.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFProperties.hlsl
Labels: HDRP, needs-backport-8.x

#42 Hdrp/fix/custom pass msaa rendering info
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/DrawRenderersCustomPassDrawer.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#50 Custom Pass AOV API
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVBuffers.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequestBuilder.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequestData.cs
Labels: HDRP

#75 Added disocclusion and ghosting to the glossary
  com.unity.render-pipelines.high-definition/Documentation~/Glossary.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#80 Fixes an issue where scene view fx toggles were broken [skip CI]
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: SRP, needs-backport-8.x

#61 [ShaderGraph][HD][8.x.x] Fix for Scene Depth node and Keywords
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.shadergraph/CHANGELOG.md
Labels: HDRP, Shader Graph, backported-7.x

#62 [ShaderGraph][HD][7.x.x] Fix for Scene Depth node and Keywords
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.shadergraph/CHANGELOG.md
Labels: HDRP, Shader Graph

#60 [Shader Graph][8.x.x] Minor Caching Improvements to Searcher
  com.unity.shadergraph/Editor/Drawing/SearchWindowProvider.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#59 [Shader Graph] Minor Caching Improvements to Searcher
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/SearchWindowProvider.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph, backported-8.x

#87 Implement Constant Buffers for HDRP (part 2)
  com.unity.render-pipelines.core/Runtime/Common/ConstantBuffer.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugViewMaterialGBuffer.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightCookieManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAOCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesAmbientOcclusion.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesAmbientOcclusion.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesAmbientOcclusion.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceReflection.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceReflection.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceReflection.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForwardUnlit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXLitPixelOutput.hlsl
Labels: HDRP, SRP

#97 Minor adjustments to TAA anti flicker
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntiAliasing.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntialiasing.hlsl
Labels: HDRP

#81 [8.x.x backport] Fixes an issue where scene view fx toggles were broken
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#1 Fix MSAA resolve when there is no motion vectors
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/SharedRTManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MSAA/DepthValues.shader
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#111 Fix switch shader compilation
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/ComputeGgxIblSampleData.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/IBLFilterGGX.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#113 Fix various leaks in HDRP.
  com.unity.render-pipelines.core/Runtime/Common/ComponentSingleton.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCacheCubemap.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#107 Fix compile errors with XR subsystem
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
Labels: HDRP, XR

#118 Re-enable light overlap debug mode
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/SceneViewDrawMode.cs
Labels: HDRP

#63 [Shader Graph] Fix Various Property Duplication Issues
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/BooleanShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/ColorShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/CubemapShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/GradientShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Matrix2ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Matrix3ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Matrix4ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/SamplerStateShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/ShaderKeyword.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DArrayShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture3DShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector1ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector2ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector3ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector4ShaderProperty.cs
Labels: Shader Graph

#78 Vfx/docs/bulk review continued
  com.unity.visualeffectgraph/Documentation~/ComponentAPI.md
  com.unity.visualeffectgraph/Documentation~/Contexts.md
  com.unity.visualeffectgraph/Documentation~/Events.md
  com.unity.visualeffectgraph/Documentation~/GettingStarted.md
  com.unity.visualeffectgraph/Documentation~/GraphLogicAndPhilosophy.md
  com.unity.visualeffectgraph/Documentation~/Properties.md
  com.unity.visualeffectgraph/Documentation~/StickyNotes.md
  com.unity.visualeffectgraph/Documentation~/TableOfContents.md
  com.unity.visualeffectgraph/Documentation~/VisualEffectGraphWindow.md
Labels: Docs, needs-backport-7.x, needs-backport-8.x, vfx

#58 [Shader Graph] Fix Bug with Enum Keyword Reference Suffix
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Keywords.md
  com.unity.shadergraph/Documentation~/images/keywords_enum.png
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldKeywordView.cs
Labels: Shader Graph

#16 Increase .shadergraph version number when Hybrid Renderer V2 is enabled, to make shader graphs automatically reimport
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph

#114 Follow references when deleting unloading unused assets on shader graph save (case 1230996)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ShaderGraphMaterialsUpdater.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#119 [Backport 8.x.x] Fix various leaks in HDRP
  com.unity.render-pipelines.core/Runtime/Common/ComponentSingleton.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCacheCubemap.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
Labels: HDRP, SRP

#120 [Backport 7.x.x] Fix various leaks in HDRP
  com.unity.render-pipelines.core/Runtime/Common/ComponentSingleton.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCacheCubemap.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
Labels: HDRP, SRP

#121 Fix culling of reflection probes that change position
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbeSystem.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#115 [8.x.x backport] Follow references when deleting unloading unused assets on shader graph save (case 1230996)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ShaderGraphMaterialsUpdater.cs
Labels: HDRP

#128 [7.x.x backport] Follow references when deleting unloading unused assets on shader graph save (case 1230996)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ShaderGraphMaterialsUpdater.cs
Labels: HDRP

#131 Fix null reference when processing light probe
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#133 [CI] fix custom jobs [skip ci]
  .yamato/upm-ci-packages.yml
Labels: yamato

#134 [CI] Fix custom ABV [skip CI]
  .yamato/upm-ci-packages.yml
Labels: yamato

#4 Fix issues causing planar probes to be broken with multiple cameras in the scene
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#137 Fix black screen in XR when HDRP package is present but not used
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
Labels: HDRP, XR, needs-backport-7.x, needs-backport-8.x

#64 [8.x.x][Shader Graph] Backport Deleted Asset Dialogue
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphAssetPostProcessor.cs
Labels: Shader Graph

#18 Fixed an issue with the specularFGD term being used when the material has a clear coat (lit shader).
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2551_SSR.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#20 [8.x.x Backport] Fixed an issue with the specularFGD term being used when the material has a clear coat (lit shader).
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2551_SSR.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
Labels: HDRP, testing

#21 [7.x.x Backport] Fixed an issue with the specularFGD term being used when the material has a clear coat (lit shader).
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/2551_SSR.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
Labels: HDRP, testing

#39 Added support for rasterized area light shadows in StackLit + slight refactor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
Labels: HDRP, needs-backport-8.x

#110 Hd/fix framesettings api documentation [skip ci]
  com.unity.render-pipelines.core/Runtime/Utilities/BitArray.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#145 Baked GI and shadow filter quality in deferred mode
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.shadergraph/Documentation~/Baked-GI-Node.md
Labels: Docs, HDRP, Shader Graph, needs-backport-7.x, needs-backport-8.x

#144 [8.x.x backport] Pospow and SG triplanar fix
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Triplanar-Node.md
  com.unity.shadergraph/Editor/Data/Nodes/UV/TriplanarNode.cs
Labels: SRP, Shader Graph

#141 Merge 8.x.x/hd/staging [Skip CI]
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2551_SSR.png
  com.unity.render-pipelines.core/Runtime/Common/ComponentSingleton.cs
  com.unity.render-pipelines.core/Runtime/Utilities/BitArray.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Glossary.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ShaderGraphMaterialsUpdater.cs
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/DrawRenderersCustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCacheCubemap.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbeSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/ComputeGgxIblSampleData.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/IBLFilterGGX.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/SharedRTManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MSAA/DepthValues.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/SceneViewDrawMode.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.shadergraph/Documentation~/Baked-GI-Node.md
  com.unity.visualeffectgraph/Documentation~/ComponentAPI.md
  com.unity.visualeffectgraph/Documentation~/Contexts.md
  com.unity.visualeffectgraph/Documentation~/Events.md
  com.unity.visualeffectgraph/Documentation~/GettingStarted.md
  com.unity.visualeffectgraph/Documentation~/GraphLogicAndPhilosophy.md
  com.unity.visualeffectgraph/Documentation~/Properties.md
  com.unity.visualeffectgraph/Documentation~/StickyNotes.md
  com.unity.visualeffectgraph/Documentation~/TableOfContents.md
  com.unity.visualeffectgraph/Documentation~/VisualEffectGraphWindow.md
Labels: HDRP, SRP

#140 Fix for white flash happening when changing lighting condition (like teleport)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadows.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, testing

#100 safe default resources ( and no more assetdatabase asserts)
  TestProjects/VisualEffectGraph/Assets/VFXDefaultResources.asset
  TestProjects/VisualEffectGraph/Assets/VFXDefaultResources.asset.meta
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/Utils/VFXResources.cs
  com.unity.visualeffectgraph/Editor/VFXAssetEditorUtility.cs
Labels: needs-backport-8.x, testing, vfx

#138 Fix default volume profile collapse
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
Labels: HDRP, backported-8.x, needs-backport-7.x

#152 AxF Shader link fixes
  com.unity.render-pipelines.high-definition/Documentation~/AxF-Shader.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#147 [8.x.x Backport] Disabling speedtree warnings about pow and vector truncation
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7BillboardPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Passes.hlsl
Labels: universal

#159 Bind missing buffer
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: backported-7.x, needs-backport-8.x

#153 Merge 8.x.x/hd/staging
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/AxF-Shader.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadows.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#158 Merge 7.x.x/hd/staging [Skip CI]
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/2551_SSR.png
  com.unity.render-pipelines.core/Runtime/Common/ComponentSingleton.cs
  com.unity.render-pipelines.core/Runtime/Utilities/BitArray.cs
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/AxF-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Glossary.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ShaderGraphMaterialsUpdater.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/DrawRenderersCustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCacheCubemap.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbeSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadows.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/ComputeGgxIblSampleData.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/IBLFilterGGX.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/SharedRTManager.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MSAA/DepthValues.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/SceneViewDrawMode.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Baked-GI-Node.md
  com.unity.shadergraph/Documentation~/Triplanar-Node.md
  com.unity.shadergraph/Editor/Data/Nodes/UV/TriplanarNode.cs
Labels: HDRP, SRP, testing

#35 [ShaderGraph] performance fix for 1209047
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/PreviewProperty.cs
  com.unity.shadergraph/Editor/Data/Util/PooledHashSet.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/MasterPreviewView.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
Labels: Shader Graph

#151 safe default resources ( and no more assetdatabase asserts) (#100)
  TestProjects/VisualEffectGraph/Assets/VFXDefaultResources.asset
  TestProjects/VisualEffectGraph/Assets/VFXDefaultResources.asset.meta
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/Utils/VFXResources.cs
  com.unity.visualeffectgraph/Editor/VFXAssetEditorUtility.cs
Labels: testing, vfx

#160 Update templates
  com.unity.visualeffectgraph/Editor/Templates/Empty Particle System.vfx
  com.unity.visualeffectgraph/Editor/Templates/Simple Heads & Sparks.vfx
  com.unity.visualeffectgraph/Editor/Templates/Simple Heads & Trails.vfx
  com.unity.visualeffectgraph/Editor/Templates/Simple Mesh Output.vfx
  com.unity.visualeffectgraph/Editor/Templates/Simple Particle System.vfx
  com.unity.visualeffectgraph/Editor/Templates/Simple Ribbon.vfx
  com.unity.visualeffectgraph/Editor/Templates/Simple Swarm Particle System.vfx
Labels: vfx

#162 AxF fix: Use CALCULATE_TEXTURE2D_LOD macro for future cross platform …
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
Labels: HDRP, needs-backport-8.x

#163 Fixed shader warning on Xbox for ResolveStencilBuffer.compute
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ResolveStencilBuffer.compute
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#165 Texture-weighted automatic exposure
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Exposure.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ExposureEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Exposure.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/Exposure.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#2 Optimizing light loop part 2
  com.unity.render-pipelines.core/Runtime/Utilities/CoreMatrixUtils.cs
  com.unity.render-pipelines.core/Runtime/Utilities/CoreMatrixUtils.cs.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP

#51 Added support for POM for emissive map
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1221_Lit_POM_Emission.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1221_Lit_POM_Emission.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1221_Lit_POM_Emission.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1221_Lit_POM_Emission/pom_emissive_layered_lit.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1221_Lit_POM_Emission/pom_emissive_layered_lit.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1221_Lit_POM_Emission/pom_emissive_lit.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1221_Lit_POM_Emission/pom_emissive_lit.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1221_Lit_POM_Emission.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1221_Lit_POM_Emission.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1221_Lit_POM_Emission.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1221_Lit_POM_Emission.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1221_Lit_POM_Emission.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1221_Lit_POM_Emission.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/1221_Lit_POM_Emission.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/1221_Lit_POM_Emission.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Layered-Lit-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Lit-Shader.md
  com.unity.render-pipelines.high-definition/Editor/Material/LayeredLit/LayeredLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/LitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitBuiltinData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialExtension.cs
Labels: HDRP

#43 PBR shader gbuffer ztest
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/PBR/ShaderGraph/PBRSubTarget.cs
Labels: HDRP

#79 Enable Light Baking Cookies by default + Warning
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#94 Reducing the number of variants for ray tracing when building a player
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RayTracingShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedRenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingGBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingIndirect.hlsl
Labels: HDRP

#176 Merge 8.x.x/hd/staging
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.3-to-2020.1.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#93 Avoid building the mip chain a second time for SSR for transparent objects.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#34 Scalable volumetrics [skip ci]
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2008_Light_Volumetrics/2008_Light_Volumetrics_Volume.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/Volume_Base.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5002_Fog_DensityVolumes/Scene Settings Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5003_Fog_DensityVolumesShadows/Scene Settings Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5008_FogFiltering/Sky and Fog Settings Profile.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedRenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/AtmosphericScattering/FogEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/AtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/Fog.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/ShaderVariablesAtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumeVoxelization.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLightingFiltering.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCameraFrameHistoryType.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
Labels: HDRP

#130 Fix async compute throwing errors because of global constant buffers.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
Labels: HDRP

#136 Diffusion Profile and Material references in HDRP materials are now correctly exported to unity packages.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/MaterialExternalReferences.cs
  com.unity.render-pipelines.high-definition/Editor/Material/MaterialExternalReferences.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/PBR/HDPBRLit.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayerListUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/ShaderGraphUIBlock.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#156 Refactoring to share the code for light list building better between probe volumes and lights.
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#179 [Backport 7.x.x] Diffusion Profile and Material references in HDRP materials are now correctly exported to unity packages.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/MaterialExternalReferences.cs
  com.unity.render-pipelines.high-definition/Editor/Material/MaterialExternalReferences.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/PBR/HDPBRLit.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayerListUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/ShaderGraphUIBlock.cs
Labels: HDRP

#180 [Backport 8.x.x] Diffusion Profile and Material references in HDRP materials are now correctly exported to unity packages.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/MaterialExternalReferences.cs
  com.unity.render-pipelines.high-definition/Editor/Material/MaterialExternalReferences.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/PBR/HDPBRLit.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayerListUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/ShaderGraphUIBlock.cs
Labels: HDRP

#55 Platform Fixes
  TestProjects/VisualEffectGraph_LWRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_LWRP/ProjectSettings/ProjectSettings.asset
Labels: testing, vfx

#101 Add range attenuation to box-shaped spotlights [Skip CI]
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1210_Lit_BentNormal.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1215_Lit_SubSurfaceScattering.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1351_Fabric.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2002_Light_DynamicMix.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2313_Shadow_Mask_Spotlight_Shapes.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2501_LightLayers.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9500_LightScripting/LightScriptCreator.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9601_SkinnedMeshBatching-Off.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9602_SkinnedMeshBatching-On.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9603_MeshRendererBatching-Off.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9604_MeshRendererBatching-On.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2002_Light_DynamicMix.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2002_Light_DynamicMix.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2002_Light_DynamicMix.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/2002_Dynamic_Mix.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/PunctualLightCommon.hlsl
Labels: HDRP

#171 RTP2 | Light Flags
  com.unity.render-pipelines.core/ShaderLibrary/CommonLighting.hlsl
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/SerializedHDLight.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedGlobalLightLoopSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/LightFlag.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/LightFlag.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/GlobalLightLoopSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ShaderVariablesLightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP, SRP

#96 Hdrp/decal transparent mip selection 1222437
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1705_Decals-stress-test.png.meta
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalUtilities.hlsl
Labels: HDRP, SRP, testing

#187 Fix cookie atlas alloc for cone spot lights
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#190 Update HDRP template
  com.unity.template-hd/Assets/ExampleAssets/Textures/Light_Cookie/Spotlight_Cookie.tif.meta
  com.unity.template-hd/Assets/HDRPDefaultResources/DefaultSceneRoot.prefab
  com.unity.template-hd/Assets/HDRPDefaultResources/Sky and Fog Settings Profile.asset
  com.unity.template-hd/Packages/manifest.json
Labels: HDRP

#191 Update changelog for 8.1.0 [Skip CI]
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.shadergraph/CHANGELOG.md
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: HDRP, SRP, Shader Graph, universal, vfx

#23 Fixed XR errors in URP unit tests.
  TestProjects/UniversalGraphicsTest/Assets/Scenes/029_Particles/Shaders/CustomParticleData.shader
  TestProjects/UniversalGraphicsTest/Assets/Scenes/046_Camera_OpaqueTexture/CameraOpaque.shader
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Labels: XR, testing, universal

#172 DisplayInfo attribute.
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.core/Runtime/Common/CoreAttributes.cs
  com.unity.render-pipelines.core/Runtime/Common/CoreAttributes.cs.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/Fog.cs
Labels: HDRP, SRP

#25 [8.x.x] Fixed case 1226208
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#26 [7.x.x Backport] Fix DepthTexture precision, macros in Core.hlsl and make URP shaders use DeclareDepthTexture.hlsl when sampling depth
  com.unity.render-pipelines.universal/ShaderLibrary/Core.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/DeclareDepthTexture.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Particles.hlsl
  com.unity.render-pipelines.universal/Shaders/PostProcessing/BokehDepthOfField.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/CameraMotionBlur.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/GaussianDepthOfField.shader
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceShadows.shader
Labels: universal

#103 [8.x.x Backport] Fix URP backwards compatibility function calls itself (backport 6517).
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/BakedLitMetaPass.hlsl
Labels: needs-backport-7.x, universal

#108 Universal/fix gles30 shadergraph
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
Labels: universal

#194 Compute Buffer management for render graph
  com.unity.render-pipelines.core/Runtime/Debugging/ProfilingScope.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, SRP

#112 [7.x.x Backport] Fixing defines and calculations for shadow coordinates
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/PBRForwardPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7BillboardPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrassPasses.hlsl
Labels: universal

#188 Update the volumetric fog tooltip
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/Fog.cs
Labels: HDRP

#182 Added MovedFrom attribute
  com.unity.render-pipelines.core/Runtime/Utilities/MaterialQuality.cs
Labels: HDRP, SRP

#150 Contact shadow min distance + fix scalarization code
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-ContactShadows1.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Contact-Shadows.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/ContactShadowsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.hlsl
Labels: HDRP, needs-backport-8.x

#132 TAA docs update
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/TAA.png
Labels: HDRP

#199 [CI] Change npm registry [skip ci]
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-templates.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  .yamato/z_preview-publish.yml
Labels: yamato

#200 [CI] update registry [skip ci]
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-templates.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
Labels: yamato

#201 [CI] update registry [skip ci]
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-templates.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
Labels: yamato

#196 Fix obsolete API in Core
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
Labels: SRP

#164 Hdrp/path traced dof
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP

#205 Dont remove suboutputs objects if it cannot be deserialized
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXAbstractRenderedOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXSRPSubOutput.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: vfx

#197 [8.x.x Backport] Fixing defines and calculations for shadow coordinates #112
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/PBRForwardPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7BillboardPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrassPasses.hlsl
Labels: universal

#192 [9.x.x] Enables GC Alloc tests for post-processing scenes
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/UniversalGraphicsTests.cs
Labels: needs-backport-7.x, needs-backport-8.x, testing, universal

#209 DOC-1735 Updated the requirements page for 7.4, 8.1, 9.0 release:
  com.unity.render-pipelines.universal/Documentation~/requirements.md
Labels: needs-backport-7.x, needs-backport-8.x, universal

#149 Fixed volume debug menu in playmode
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUI.Containers.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Resources/DebugUI Canvas.prefab
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerColor.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerRow.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerRow.cs.meta
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerToggle.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerToggleHistory.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Widgets/DebugUI Row.prefab
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Widgets/DebugUI Row.prefab.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/VolumeDebug.cs
Labels: HDRP

#157 camera editor multi editing
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
Labels: universal

#211 Addingtest scene for physical camera DoF in Pathtracer
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoF.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoF.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF/M_Background.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF/M_Background.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF/M_Ground.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF/M_Ground.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF/M_Transparent.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF/M_Transparent.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF/PathTracer Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF/PathTracer Volume Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF/Sky and Fog Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF/Sky and Fog Volume Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, dxr, testing

#215 Fixed issue when toggling anything in HDRP asset that will produce an error (case 1238155)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#212 8.x.x/universal/backport/doc 1735
  com.unity.render-pipelines.universal/Documentation~/index.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
Labels: universal

#213 DOC-1735 Back-porting the Requirements page update.
  com.unity.render-pipelines.universal/Documentation~/index.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
Labels: universal

#214 DOC-1735 Back-porting the Requirements page update.
  com.unity.render-pipelines.universal/Documentation~/index.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
Labels: universal

#217 [8.x.x] Changelog fix
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: universal

#174 [9.x.x] Fix for UniversalGraphicsTests 010_AdditionalLightsSorted
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
Labels: needs-backport-7.x, needs-backport-8.x, universal

#220 [7.x.x Backport] DOC-1734 Back-porting the upgrade guidelines for 7.4, 8.1, 9.0.
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-4-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-8-0-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-8-1-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-9-0-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: universal

#229 Fix warning in PCSS code when using Vulkan
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowSampling.hlsl
Labels: HDRP

#232 [9.x.x] Changed UI name, tooltip, and doc for maximum decals on screen
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#207 [7.x.x] Fixed case 1226208
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#246 [9.x.x] case-1235282 Changed "in on" to "on"
  com.unity.render-pipelines.universal/Documentation~/shaders-in-universalrp.md
Labels: needs-backport-7.x, needs-backport-8.x, universal

#247 [9.x.x] case-1236016 Corrected "Mutipass"
  com.unity.render-pipelines.universal/Documentation~/universalrp-builtin-feature-comparison.md
Labels: needs-backport-7.x, needs-backport-8.x, universal

#228 [7.3.x] case-1235174 Fixed &gt in output.
  com.unity.render-pipelines.universal/Documentation~/InstallURPIntoAProject.md
Labels: universal

#230 [7.2.x Backport] case-1235174 Fixed &gt in output.
  com.unity.render-pipelines.universal/Documentation~/InstallURPIntoAProject.md
Labels: universal

#244 Do shadow code cleanup + Fix Yamato after PR #5 Multi compile shadow
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1351_Fabric.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2311_ShadowMaps.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5008_FogFiltering.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8102_Transparent.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8103_PrePostPass.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8106_UnlitShadowMatte.png
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/CommonLighting.hlsl
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/UnlitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugViewTiles.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowContext.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowSampling.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadows.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumeVoxelization.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPass.cs.hlsl
Labels: HDRP, SRP, testing

#257 Hdrp/pt fix sss and accum
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/SubFrameManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingSubSurface.raytrace
Labels: HDRP

#254 Add missing documentation for AOV API params
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequestData.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#253 Hdrp/public static sky
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#235 Update HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#233 [9.x.x] Link fixing in Custom-Post-Process.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Post-Process.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#181 [9.x.x] Fixed Quality Settings changing without user interaction v2.
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: needs-backport-7.x, needs-backport-8.x, universal

#198 [9.x.x] Hides Particles Instancing UI from URP
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#234 [9.x.x] case-1196379 Added the tooltip for Post Process Data.
  com.unity.render-pipelines.universal/Editor/ForwardRendererDataEditor.cs
Labels: needs-backport-7.x, needs-backport-8.x, universal

#269 Fix box light migration after enabling applyRangeAttenuation to them
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.Migration.cs
Labels: HDRP, needs-backport-8.x

#270 [9.x.x] Bugfix: Emission value in particle shaders does not update unless you enter playmode
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/ParticlesLitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/ParticlesSimpleLitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/ParticlesUnlitShader.cs
Labels: needs-backport-7.x, needs-backport-8.x, universal

#236 [9.x.x] Improved EditorResourceAsset loading and shader nullreference exceptions
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Tests/Editor/EditorTests.cs
Labels: needs-backport-7.x, needs-backport-8.x, universal

#271 Add return attribute to CoreMatrixUtils public API
  com.unity.render-pipelines.core/Runtime/Utilities/CoreMatrixUtils.cs
Labels: HDRP, SRP, needs-backport-8.x

#273 Fixed an error about procedural sky being logged by mistake.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/VisualEnvironment.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#123 [7.x.x backport] Fix quality settings UI and shadow mask UI #122
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#122 Fix quality settings UI and shadow mask UI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, backported-7.x, backported-8.x

#274 Updated raytracing async compute warning.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#279 HD: Switch to 1920x1080 default standalone resolution
  com.unity.template-hd/ProjectSettings/ProjectSettings.asset
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#280 URP: Switch to 1920x1080 default standalone resolution
  com.unity.template-universal/ProjectSettings/ProjectSettings.asset
Labels: needs-backport-7.x, needs-backport-8.x, universal

#268 [9.x.x] Fix allocation caused when sorting cameras in URP.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: needs-backport-7.x, needs-backport-8.x, universal

#89 Disable incompatible XR tests
  TestProjects/UniversalGraphicsTest/Assets/Scenes/015_CameraMulti_FPSCam.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/045_CustomLWPipe.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/056_2D_Lights-Shadows.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/056_2D_Lights.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/056_2D_Lights_Shader_Graph.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/059_2D_PixelPerfect_PostProcessing.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/070_2D_Forward_Shader_Compatibility_2D.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/126_RendererFeatureActive.unity
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/UniversalGraphicsTestSettings.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: XR, testing, universal

#278 Fixed a null ref exception in static sky when the default volume profile is invalid.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#281 [8.x.x] bump version to 8.2.0
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Documentation.cs
  com.unity.render-pipelines.core/ShaderLibrary/Version.hlsl
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Documentation.cs
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Util/Documentation.cs
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx
