Repository Unity-Technologies/Graphics, pull requests merged in 2020-12, with the labels that each got.

#2793 Updated the feature comparison table. Added a clarification about upgrading shaders from built-in to URP.
  com.unity.render-pipelines.universal/Documentation~/universalrp-builtin-feature-comparison.md
  com.unity.render-pipelines.universal/Documentation~/upgrading-your-shaders.md
Labels: universal

#2546 Added new render graph API for shared resources
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceComputeBuffer.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceComputeBuffer.cs.meta
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourcePool.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRendererList.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRendererList.cs.meta
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceTexture.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceTexture.cs.meta
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResources.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDDynamicShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#2796 Removed illegal characters from doc filenames
  com.unity.visualeffectgraph/Documentation~/Block-VelocityFromDirectionAndSpeed(ChangeSpeed).md
  com.unity.visualeffectgraph/Documentation~/Block-VelocityFromDirectionAndSpeed(NewDirection).md
  com.unity.visualeffectgraph/Documentation~/Block-VelocityFromDirectionAndSpeed(RandomDirection).md
  com.unity.visualeffectgraph/Documentation~/Block-VelocityFromDirectionAndSpeed(Spherical).md
  com.unity.visualeffectgraph/Documentation~/Block-VelocityFromDirectionAndSpeed(Tangent).md
  com.unity.visualeffectgraph/Documentation~/TableOfContents.md
Labels: Docs, needs-backport-10.x, vfx

#2797 [HDRP] Rename Text mesh pro folder in samples folder
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/TextMesh Pro/Resources/Fonts and Materials.meta
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/TextMesh Pro/Resources/Fonts and Materials/LiberationSans SDF.asset
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/TextMesh Pro/Resources/Fonts and Materials/LiberationSans SDF.asset.meta
Labels: HDRP, needs-backport-10.x

#2747 [HDRP] Re-enable some vulkan test + update reference screenshots
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2205_LightLoopCullWOblique.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2307_Shadow_VeryHigh.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4060_CustomPostProcess.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8101_Opaque.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8102_Transparent.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1301_StackLitSG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2205_LightLoopCullWOblique.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2307_Shadow_VeryHigh.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8101_Opaque.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8102_Transparent.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2205_LightLoopCullWOblique.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2222_ReflectionProbeDistanceBased.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2307_Shadow_VeryHigh.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8101_Opaque.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8102_Transparent.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1601_TerrainLit.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2205_LightLoopCullWOblique.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2307_Shadow_VeryHigh.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4060_CustomPostProcess.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8101_Opaque.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8102_Transparent.png
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
Labels: HDRP, testing

#2801 Vfx/docs/rename files
  com.unity.visualeffectgraph/Documentation~/Block-VelocityFromDirectionAndSpeed(ChangeSpeed).md
  com.unity.visualeffectgraph/Documentation~/Block-VelocityFromDirectionAndSpeed(NewDirection).md
  com.unity.visualeffectgraph/Documentation~/Block-VelocityFromDirectionAndSpeed(RandomDirection).md
  com.unity.visualeffectgraph/Documentation~/Block-VelocityFromDirectionAndSpeed(Spherical).md
  com.unity.visualeffectgraph/Documentation~/Block-VelocityFromDirectionAndSpeed(Tangent).md
  com.unity.visualeffectgraph/Documentation~/Images/Block-VelocityFromDirectionAndSpeed(ChangeSpeed)Example.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-VelocityFromDirectionAndSpeed(NewDirection)Example.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-VelocityFromDirectionAndSpeed(RandomDirection)Example.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-VelocityFromDirectionAndSpeed(Spherical)Example.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-VelocityFromDirectionAndSpeed(Tangent)Example.gif
Labels: Docs, needs-backport-10.x, vfx

#2792 [11.x.x] Bug: 1237756 - Adding a clamp to LinearToLogC & LinearToLogC_Precise
  com.unity.render-pipelines.core/ShaderLibrary/Color.hlsl
Labels: HDRP, SRP, universal

#2800 [Yamato][10.x.x] Set editor pinning update to run before nightly
  .yamato/_abv.yml
  .yamato/_editor_pinning.yml
  .yamato/ruamel/jobs/abv/abv_all_project_ci_nightly.py
  .yamato/ruamel/jobs/editor/editor_pinning_update.py
Labels: yamato

#2799 [Yamato] Set editor pinning update to run before nightly
  .yamato/_abv.yml
  .yamato/_editor_pinning.yml
  .yamato/ruamel/jobs/abv/abv_all_project_ci_nightly.py
  .yamato/ruamel/jobs/editor/editor_pinning_update.py
Labels: yamato

#2795 Workaround for Switch and OpenGL
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Core.hlsl
  com.unity.render-pipelines.universal/Shaders/PostProcessing/SubpixelMorphologicalAntialiasing.hlsl
  com.unity.shadergraph/ShaderGraphLibrary/ShaderVariablesFunctions.hlsl
Labels: SRP, Shader Graph, universal

#2806 [HDRP] update DXR screenshots after Cascade shadow PR change.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/104_ReflectionsNoisy.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsDenoised.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/501_RecursiveRenderingTransparent.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/702_DirectionalShadowNoRT.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/802_SubSurfaceScatteringForward.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/900_Materials_AlphaTest_SG.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/902_Materials_SG_Variants_Fabric.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/905_Materials_SG_TransparentRTR.png
Labels: HDRP, testing

#2807 [Yamato] Store green revisions per jobs
  .yamato/_editor_pinning.yml
  .yamato/_green_job_revisions_trunk.metafile
  .yamato/config/_editor.metafile
  .yamato/ruamel/editor_pinning/store_green_revisions.py
  .yamato/ruamel/editor_pinning/update_revisions.py
  .yamato/ruamel/jobs/editor/editor_pinning_merge_all.py
  .yamato/ruamel/jobs/editor/editor_pinning_store_green.py
  .yamato/ruamel/jobs/editor/yml_editor.py
  .yamato/ruamel/jobs/shared/namer.py
Labels: yamato

#2809 Fix Low Resolution Light Unit Icon
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_SunriseSunset@2x.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_SunriseSunset@2x.png.meta
Labels: HDRP

#2815 Increase UniversalGraphicsTest 145_ManyAdditionalLightShadowsTypes threshold to pass on local machines
  TestProjects/UniversalGraphicsTest/Assets/Scenes/145_ManyAdditionalLightShadowTypes.unity
Labels: ready-to-merge, universal

#1873 Post Processing disabling in Universal Render Pipeline asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-forward-renderer.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-11/urp-asset-post-processing.png
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Documentation~/urp-forward-renderer.md
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new.md
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DDataEditor.cs
  com.unity.render-pipelines.universal/Editor/ForwardRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DDataAuthoring.cs
  com.unity.render-pipelines.universal/Runtime/Data/PostProcessData.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
Labels: ready-to-merge, universal

#1556 Add screen space shadows as renderer feature in URP
  TestProjects/UniversalGraphicsTest/Assets/Scenes/107_DepthPrepass/Test107Renderer.cs
  TestProjects/UniversalGraphicsTest/Assets/Scenes/140_SSAO/Renderers/SSAO_DepthRenderer.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/RenderObjectsPassFeatureEditor.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/TransparentSettingsPass.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/RenderObjects.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceShadows.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceShadows.cs.meta
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Shadows.hlsl
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Billboard.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Shaders.cs
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainDetailLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitAdd.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrass.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrassBillboard.shader
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceShadows.shader
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
Labels: ready-to-merge, testing, universal

#2745 Nested volume components
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeComponent.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeManager.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-11.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP, SRP

#2566 [11.x.x] Add terrain shader tag
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
Labels: HDRP, universal

#2821 [11.x.x] ForwardRenderer: Fixing a call to the obsolete RenderPassEvent.BeforeRenderingPrepasses
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#2819 [HDRP] Rename HDRP to HD Render Pipeline in menu item
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/CreateDecalShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/CreateEyeShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/CreateFabricShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/CreateHairShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/CreateHDLitShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/CreateStackLitShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/CreateHDUnlitShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
Labels: HDRP

#2783 HDRP/Fix package version showing package after the last "verified" package
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/RenderPipelineWizard1.png
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Wizard.md
  com.unity.render-pipelines.high-definition/Editor/USS/Wizard.uss
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
Labels: HDRP, needs-backport-10.x

#2789 [10.3] [HDRP] [bugfix 1292501] - Ensure all passes request the DiffusionProfile for SRP batcher compatibility
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
Labels: HDRP

#2822 fix loading race condition for thumbnail in LookDev
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/LookDev/Environment.cs
Labels: HDRP, SRP

#2790 [11.x] [HDRP] [bugfix 1292501] - Ensure all passes request the DiffusionProfile for SRP batcher compatibility
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
Labels: HDRP, needs-backport-10.x

#2825 Update .cs.hlsl files with new header
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Core/Utilities/GeometryUtils.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/ColorPickerDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/MaterialDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/MipMapDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/RayCountManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesAmbientOcclusion.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceReflection.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/DiffusionProfile/DiffusionProfileSettings.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/GGXConvolution.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialBlendModeEnum.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Tonemapping.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStencilUsage.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracingLightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassInjectionPoint.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPass.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs.hlsl
Labels: HDRP, needs-backport-10.x

#2664 [ShaderGraph] [10.3] custom function node name reflects custom function
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/images/Custom-Function-Node-File-wFunction.png
  com.unity.shadergraph/Documentation~/images/Custom-Function-Node-String-wFunction.png
  com.unity.shadergraph/Documentation~/images/Custom-Function-Node-Subgraph.png
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
Labels: Shader Graph

#2674 [ShaderGraph] [11.x] custom function node name reflects custom function
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/images/Custom-Function-Node-File-wFunction.png
  com.unity.shadergraph/Documentation~/images/Custom-Function-Node-String-wFunction.png
  com.unity.shadergraph/Documentation~/images/Custom-Function-Node-Subgraph.png
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
Labels: Shader Graph, needs-backport-10.x

#2828 Merge Hd/bugfix
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/RenderPipelineWizard1.png
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Wizard.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/CreateDecalShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/CreateEyeShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/CreateFabricShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/CreateHairShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/CreateHDLitShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/CreateStackLitShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/CreateHDUnlitShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_SunriseSunset@2x.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_SunriseSunset@2x.png.meta
  com.unity.render-pipelines.high-definition/Editor/USS/Wizard.uss
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Utilities/GeometryUtils.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/ColorPickerDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/MaterialDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/MipMapDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/RayCountManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesAmbientOcclusion.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceReflection.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/DiffusionProfile/DiffusionProfileSettings.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/GGXConvolution.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialBlendModeEnum.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Tonemapping.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStencilUsage.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracingLightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassInjectionPoint.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPass.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs.hlsl
Labels: HDRP

#2831 [SRP] Improve message of HLSL generator and re-generate header
  com.unity.render-pipelines.core/Editor/ShaderGenerator/CSharpToHLSL.cs
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Core/Utilities/GeometryUtils.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/ColorPickerDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/MaterialDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/MipMapDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/RayCountManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesAmbientOcclusion.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceReflection.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/DiffusionProfile/DiffusionProfileSettings.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/GGXConvolution.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialBlendModeEnum.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Tonemapping.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStencilUsage.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracingLightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassInjectionPoint.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPass.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/ShaderTypes.cs.hlsl
Labels: HDRP, SRP, universal

#2592 HLSL CodeGen Improvements
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/ShaderGenerator/CSharpToHLSL.cs
  com.unity.render-pipelines.core/Editor/ShaderGenerator/ICSharpCode.NRefactory.dll
  com.unity.render-pipelines.core/Editor/ShaderGenerator/ICSharpCode.NRefactory.dll.meta
  com.unity.render-pipelines.core/Editor/ShaderGenerator/ShaderGeneratorMenu.cs
  com.unity.render-pipelines.core/Runtime/ShaderGenerator/ShaderGeneratorAttributes.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/Fog.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.cs.hlsl
Labels: HDRP, SRP

#2781 [URP 2d] Fix inconsistent SetRenderTarget calls
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
Labels: 2d, universal

#2762 Introduce concept of falling back textures to black in rendergraph + ReadWrite tag
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceTexture.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResources.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerArea.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerDirectional.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerPunctual.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManagerRT.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseShadowDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingDeferredLightLoop.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingRecursiveRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDReflectionDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDSimpleDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
Labels: HDRP, SRP, needs-backport-10.x

#2842 [Yamato][10.x.x] Disable editor pinning, add green revisions
  .yamato/_editor_pinning.yml
  .yamato/_green_job_revisions_2020.2.metafile
  .yamato/config/__shared.metafile
  .yamato/config/_editor.metafile
  .yamato/ruamel/editor_pinning/store_green_revisions.py
  .yamato/ruamel/editor_pinning/update_revisions.py
  .yamato/ruamel/jobs/editor/editor_pinning_merge_all.py
  .yamato/ruamel/jobs/editor/editor_pinning_store_green.py
  .yamato/ruamel/jobs/editor/yml_editor.py
  .yamato/ruamel/jobs/shared/namer.py
Labels: yamato

#2855 [ShaderGraph] Fix Formatting
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/TexelSizeNode.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph

#2848 Fixed Render Graph error caused by recent Shared Resource PR
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
Labels: HDRP

#2861 Fix Yamato: VFX screenshtos + HDRP + add missing meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/003-VirtualTexturing-Forward.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/003-VirtualTexturing-NoMV-Forward.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/003-VirtualTexturing-NoMV.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003-VirtualTexturing-Forward.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003-VirtualTexturing-NoMV-Forward.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003-VirtualTexturing-NoMV.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/003-VirtualTexturing-Forward.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/003-VirtualTexturing-NoMV-Forward.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/003-VirtualTexturing-NoMV.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/003-VirtualTexturing-Forward.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/003-VirtualTexturing-NoMV-Forward.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/003-VirtualTexturing-NoMV.png.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_PlanarProbeExposure/M_I10_W0.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_PlanarProbeExposure/M_I10_W1.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_PlanarProbeExposure/M_MirrorGround.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_PlanarProbeExposure/M_SG_I10_W0.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_PlanarProbeExposure/M_SG_I10_W1.mat
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/08_Shadows.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/08_Shadows.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/102_ShadergraphShadow.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/102_ShadergraphShadow.png
Labels: HDRP, testing, vfx

#2862 Bump Graphics Test Framework version
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx

#2813 Migrate to new ObjectPool (UnityEngine.Pool) system
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/KeywordTests.cs
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Graphs/GraphDataUtils.cs
  com.unity.shadergraph/Editor/Data/Implementation/NodeUtils.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Basic/MultiplyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Matrix/MatrixSplitNode.cs
  com.unity.shadergraph/Editor/Data/Util/DictionaryPool.cs
  com.unity.shadergraph/Editor/Data/Util/DictionaryPool.cs.meta
  com.unity.shadergraph/Editor/Data/Util/IndexSetPool.cs
  com.unity.shadergraph/Editor/Data/Util/IndexSetPool.cs.meta
  com.unity.shadergraph/Editor/Data/Util/ListPool.cs
  com.unity.shadergraph/Editor/Data/Util/ListPool.cs.meta
  com.unity.shadergraph/Editor/Data/Util/ObjectPool.cs
  com.unity.shadergraph/Editor/Data/Util/ObjectPool.cs.meta
  com.unity.shadergraph/Editor/Data/Util/PooledObject.cs
  com.unity.shadergraph/Editor/Data/Util/PooledObject.cs.meta
  com.unity.shadergraph/Editor/Data/Util/QueuePool.cs
  com.unity.shadergraph/Editor/Data/Util/QueuePool.cs.meta
  com.unity.shadergraph/Editor/Data/Util/StackPool.cs
  com.unity.shadergraph/Editor/Drawing/SearchWindowProvider.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Generation/Utils/TargetUtils.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph

#2063 [Shader Graph] Suppress exception when deleting inactive nodes that are not in the node dictionary.
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
Labels: Shader Graph

#2867 [HDRP] Always load DownsampleVTFeedback in resources
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
Labels: HDRP

#2871 Update all hdrp and VFX screenshots after fix shadow cascade PR ladned.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/104_ReflectionsNoisy.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsDenoised.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/501_RecursiveRenderingTransparent.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/702_DirectionalShadowNoRT.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/802_SubSurfaceScatteringForward.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/900_Materials_AlphaTest_SG.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/902_Materials_SG_Variants_Fabric.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/905_Materials_SG_TransparentRTR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1601_TerrainLit.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2307_Shadow_VeryHigh.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8101_Opaque.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8102_Transparent.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1301_StackLitSG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2307_Shadow_VeryHigh.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8101_Opaque.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8102_Transparent.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2307_Shadow_VeryHigh.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8101_Opaque.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8102_Transparent.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1601_TerrainLit.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2307_Shadow_VeryHigh.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8101_Opaque.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8102_Transparent.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/08_Shadows.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/08_Shadows.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/102_ShadergraphShadow.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/102_ShadergraphShadow.png
Labels: HDRP, testing, vfx

#2872 [HDRP] Fix RenderGraph issue with Forward mode, debug mode and VT.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x

#2833 Fixed renderer creation to work without urp asset assigned
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/PostProcessPasses.cs
  com.unity.render-pipelines.universal/Runtime/PostProcessPasses.cs.meta
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Tests/Editor/EditorTests.cs
Labels: universal

#2865 [Yamato] Use just python3 in cmd
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/shadergraph-osx-metal.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-osx-metal.yml
Labels: yamato

#2876 Fixed ScreenSpace Shadows with ZBinning
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerArea.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerPunctual.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerPunctual.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.raytrace
Labels: HDRP

#2878 Enable Linux in URP performance testing
  .yamato/all-urp_performance_boatattack.yml
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/ruamel/jobs/projects/commands/linux.py
  .yamato/urp_performance_boatattack-linux-vulkan.yml
Labels: yamato

#2882 [Yamato] Update green revisions and job names
  .yamato/_green_job_revisions_trunk.metafile
  .yamato/config/_editor.metafile
Labels: yamato

#2883 [Yamato] Fix triggers
  .yamato/all-hdrp.yml
  .yamato/all-hdrp_dxr.yml
  .yamato/all-hdrp_hybrid.yml
  .yamato/all-shadergraph.yml
  .yamato/all-universal.yml
  .yamato/all-vfx_hdrp.yml
  .yamato/all-vfx_urp.yml
  .yamato/config/hdrp.metafile
  .yamato/config/hdrp_dxr.metafile
  .yamato/config/hdrp_hybrid.metafile
  .yamato/config/shadergraph.metafile
  .yamato/config/universal.metafile
  .yamato/config/vfx_hdrp.metafile
  .yamato/config/vfx_urp.metafile
Labels: yamato

#2884 [Performance] Fix players path
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/ruamel/jobs/shared/constants.py
  .yamato/ruamel/jobs/shared/yml_job.py
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/urp_performance_boatattack-win-dx12.yml
  .yamato/urp_performance_boatattack-win-vulkan.yml
Labels: yamato

#2816 2d/docs update
  com.unity.render-pipelines.universal/Documentation~/2DLightProperties.md
  com.unity.render-pipelines.universal/Documentation~/2DRendererData_overview.md
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2DLightBasics.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2dRendererData_properties.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/LightType_FreeForm.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/LightType_Point.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/LightType_Sprite.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/image_2.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/image_7.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/introduction_phase1.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/introduction_phase2.png
  com.unity.render-pipelines.universal/Documentation~/LightTypes.md
  com.unity.render-pipelines.universal/Documentation~/Lights-2D-intro.md
Labels: universal

#2866 [10.x.x] Introduce concept of falling back textures to black in rendergraph + ReadWrite tag
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResources.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerArea.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerDirectional.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerPunctual.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManagerRT.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseShadowDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingDeferredLightLoop.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingRecursiveRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDReflectionDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDSimpleDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
Labels: HDRP, SRP

#2879 Updated cheat sheet intro wording
  com.unity.render-pipelines.high-definition/Documentation~/Physical-Light-Units.md
Labels: Docs, HDRP, needs-backport-10.x

#2850 Fully specify TextureXR.maxViews in the doc
  com.unity.render-pipelines.high-definition/Documentation~/VR-Overview.md
Labels: HDRP, needs-backport-10.x, needs-backport-7.x

#2838 ShaderGraph SubTarget: Fix UI issues in AdvancedOptionsPropertyBlock
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/AdvancedOptionsPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitAdvancedOptionsPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitAdvancedOptionsPropertyBlock.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSurfaceOptionPropertyBlock.cs
Labels: HDRP

#2835 Remove unnecessarry macro
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.shader
Labels: HDRP, backported-10.x

#2834 Updates fog documentation and tooltips
  com.unity.render-pipelines.high-definition/Documentation~/Override-Fog.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/Fog.cs
Labels: Docs, HDRP, needs-backport-10.x

#2126 Universal/custom shadow resolution for additional lights
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/146-AdditionalLightShadowCustomResolution.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/146-AdditionalLightShadowCustomResolution.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/105_TransparentReceiveShadows.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146-AdditionalLightShadowCustomResolution.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146-AdditionalLightShadowCustomResolution.unity.meta
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalLightData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: testing, universal

#2733 [11.x.x] Re-enabled Metal MacOS implicit MSAA resolve
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#2529 Deprecate ComputeScreenPos
  TestProjects/UniversalGraphicsTest/Assets/Scenes/046_Camera_OpaqueTexture/CameraOpaque.shader
  TestProjects/UniversalGraphicsTest/Assets/Scenes/130_UnityMatrixIVP/WorldReconstruction.shader
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-color.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-texture.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/ShaderVariablesFunctions.deprecated.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/ShaderVariablesFunctions.deprecated.hlsl.meta
  com.unity.render-pipelines.universal/ShaderLibrary/ShaderVariablesFunctions.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Include/LightingUtility.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLitGBufferPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlitForwardPass.hlsl
Labels: ready-to-merge, testing, universal

#2889 Update screenshots for VFX_HDRP (DX12)
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/25_PerParticleLOD.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/25_PerParticleLOD.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/27_SampleSDF.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/27_SampleSDF.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/28_CameraProject.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/28_CameraProject.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/30_PositionOnSDF.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/30_PositionOnSDF.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/ShadergraphSampleScene.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/ShadergraphSampleScene.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/ShadergraphShadowLit.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/ShadergraphShadowLit.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/SubgraphContextWithSubgraphBlock.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/SubgraphContextWithSubgraphBlock.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/SubgraphContexts.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/SubgraphContexts.png.meta
Labels: testing, vfx

#2753 Removed the upper clamp values for recursive rendering and light cluster size (case 1294620)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RecursiveRenderingEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/LightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RecursiveRendering.cs
Labels: HDRP, dxr

#2852 [11.x] [ShaderGraph] Preview Mode Control
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Graphs/PreviewMode.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/GeometryNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/ScreenPositionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/VertexColorNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PBR/DielectricSpecularNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PBR/MetalReflectanceNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PropertyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleCubemapNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleRawCubemapNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Basic/MultiplyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Matrix/MatrixSplitNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/FresnelEffectNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/UV/TriplanarNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphAsset.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawerUtils.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/AbstractMaterialNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/CustomFunctionNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GraphDataPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph, needs-backport-10.x

#2779 [re] Add support of a custom material editor per render pipeline in ShaderGraph [2021.1] #1802
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/LightingSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/Editor/Generation/Contexts/TargetSetupContext.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#2550 [ShaderGraph] Fix 'Reset Reference' on a Blackboard property throwing a NullReferenceException
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/PropertyTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/ShaderGraphUITestHelpers.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/ShaderGraphUITestHelpers.cs.meta
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/PropertyNodeView.cs
Labels: Shader Graph, needs-backport-10.x, testing

#2893 [8xx] Support multiple standalone job definitions
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/ruamel/jobs/projects/_project_base.py
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/ruamel/jobs/shared/namer.py
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/smoke_test-win-dx11.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#2892 [7xx] Support multiple standalone job definitions
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/ruamel/jobs/projects/_project_base.py
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/ruamel/jobs/shared/namer.py
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/smoke_test-win-dx11.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#2891 Remove auto trigger for CUSTOM-REVISION jobs
  .yamato/all-hdrp.yml
  .yamato/all-shadergraph.yml
  .yamato/all-universal.yml
  .yamato/all-vfx_hdrp.yml
  .yamato/all-vfx_urp.yml
  .yamato/ruamel/jobs/projects/project_pr.py
Labels: yamato

#2722 Added a slider to control the fallback value of the directional shadow when the cascade have no coverage.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/711_DirectionalShadowFallback.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/711_DirectionalShadowFallback.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/711_DirectionalShadowFallback.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/711_DirectionalShadowFallback.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/711_DirectionalShadowFallback.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/711_DirectionalShadowFallback/DirectionalFallbackRT.renderTexture
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/711_DirectionalShadowFallback/DirectionalFallbackRT.renderTexture.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/711_DirectionalShadowFallback/DirectionalVolume0 Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/711_DirectionalShadowFallback/DirectionalVolume0 Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/711_DirectionalShadowFallback/M_RTRenderer.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/711_DirectionalShadowFallback/M_RTRenderer.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/ShadowExtendedCullingVolume.asset
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  TestProjects/HDRP_DXR_Tests/ProjectSettings/TagManager.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RayTracingSettingsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingLightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs.hlsl
Labels: HDRP, dxr, needs-backport-10.x, testing

#2755 Now reflection probes cannot have SSAO, SSGI, SSR, ray tracing effects or volumetric reprojection.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Ambient-Occlusion.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, dxr, needs-backport-10.x

#2888 [HDRP] Fix coat normal space
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDBlockFields.cs
Labels: HDRP, needs-backport-10.x

#2894 [HDRP] Fix exposed properties decal material UI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalShaderGraphGUI.cs
Labels: HDRP

#2802 [11.x.x] Updating 146_MSAA_RenderToBackbuffer Test scene
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/UniversalRPAssetRenderScaleLow.asset
  TestProjects/UniversalGraphicsTest/Assets/CommonAssets/UniversalRPAssetRenderScaleLow.asset.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer/YellowUnlit.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer/YellowUnlit.mat.meta
  TestProjects/UniversalGraphicsTest/ProjectSettings/QualitySettings.asset
Labels: testing, universal

#2776 Avoid issues causing faulty transitions in shadows (resulting in no shadows with unconventional aspect ratio)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
Labels: HDRP, needs-backport-10.x

#2901 [11.x.x] Exposing DisallowMultipleRendererFeature attribute for renderer features
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DisallowMultipleRendererFeature.cs
Labels: universal

#2830 Fixed invalid loop length for probe baking (case 1289680)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDBakedReflectionSystem.cs
Labels: HDRP, SRP, needs-backport-10.x

#2823 Fix volumetric fog with XR single-pass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
Labels: HDRP, XR, needs-backport-10.x

#2836 [HDRP] Fix rendering issues for the first frame
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x

#2788 Universal/always normalize normal
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/130_ClearCoat.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/130_ClearCoat.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/130_ClearCoat.png
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/ShaderVariablesFunctions.hlsl
Labels: universal

#2798 Improvement to the ray traced reflection denoising
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_Indirect.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/101_ReflectionsPerfFullRes.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/102_ReflectionsPerfHalfRes.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsAndGlobalIlluminationCollision.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsDenoised.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/302_GlobalIlluminationPerfHalf.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/304_GlobalIlluminationDenoised1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/305_GlobalIlluminationDenoisedHalf1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/306_GlobalIlluminationDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/307_GlobalIlluminationFog.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/6000_VertexFormats.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/7000_QuadChannelTexCoord.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/902_Materials_SG_Variants_Lit.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/902_Materials_SG_Variants_StackLit.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/902_Materials_SG_Variants/902_Materials_SG_Variants.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/ReflectionsAndGlobalIlluminationCollision.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/BilateralUpsample.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/BilateralUpsample.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/BilateralUpsample.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDReflectionDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingGBuffer.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/ReflectionDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingReflectionFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.compute
Labels: HDRP, dxr, testing

#2811 Add Light Unit Slider for Auto Exposure Limits
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/LightUnit/LightUnitSlider.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ExposureEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Exposure.cs
Labels: HDRP, needs-backport-10.x

#2692 [HDRP] [Path Tracing] Added proper computation of geometric normal
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_PathTracer_Default.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5001_PathTracing.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoF.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
Labels: HDRP, SRP, dxr, needs-backport-10.x

#2895 [ShaderGraph] [11.x] [bugfix 1268134] Fix graph inspector property row scaling
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Resources/Styles/PropertyRow.uss
Labels: Shader Graph, needs-backport-10.x

#2814 [10.3] [ShaderGraph] Preview Mode Control
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Graphs/PreviewMode.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/GeometryNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/ScreenPositionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/VertexColorNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PBR/DielectricSpecularNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PBR/MetalReflectanceNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PropertyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleCubemapNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleRawCubemapNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Basic/MultiplyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Matrix/MatrixSplitNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/FresnelEffectNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/UV/TriplanarNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphAsset.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawerUtils.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/AbstractMaterialNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/CustomFunctionNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GraphDataPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph

#2827 [ShaderGraph] [10.3] [bugfix 1268134] Fix graph inspector property row scaling
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Resources/Styles/PropertyRow.uss
Labels: Shader Graph, needs-backport-10.x

#2387 Axf raytracing support [21.1]
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AllMaterials/AxF.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AllMaterials/AxF_Transparent.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1451_AxF_SVBRDF.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1451_AxF_SVBRDF/AxF.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1451_AxF_SVBRDF/AxF_aniso/AxF_aniso.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1451_AxF_SVBRDF/AxF_displacement/AxF_displacement.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1709_DecalLayer/NoDecal/NoDecalAxF.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1709_DecalLayer/NoDecal/NoDecalAxFTransparent.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/AxF.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9301_MotionVectors/M_AxF.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9402_AlphaToMask/M_HDRP_AxF.mat
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/AxF-Shader.md
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/AxfMainSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/AxfSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFRayTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFRayTracing.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/ShaderPass/AxFConstantPass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/ShaderPass/AxFConstantPass.hlsl.meta
Labels: HDRP, testing

#2690 Better bias option for mesh decals
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/DecalShape.fbx
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/DecalShape.fbx.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/MeshDecal_Medium.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/MeshDecal_Medium.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/MeshDecal_TooBig.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/MeshDecal_TooBig.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/MeshDecal_TooSmall.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/MeshDecal_TooSmall.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/SG_MeshDecal.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/SG_MeshDecal.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/SG_MeshDecalMat_Medium.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/SG_MeshDecalMat_Medium.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/SG_MeshDecalMat_TooBig.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/SG_MeshDecalMat_TooBig.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/SG_MeshDecalMat_TooSmall.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1713_MeshDecalViewBias/SG_MeshDecalMat_TooSmall.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1713_MeshDecalViewBias.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1713_MeshDecalViewBias.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1713_MeshDecalViewBias.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1713_MeshDecalViewBias.png
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Shader.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSortingInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/DecalMeshBiasTypeEnum.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/DecalMeshBiasTypeEnum.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/DecalMeshBiasTypeEnum.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/DecalMeshBiasTypeEnum.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDecal.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VertMesh.hlsl
Labels: HDRP, needs-backport-10.x

#2771 [HDRP][Path Tracing] Fixed issues with path-traced volumetrics (light anim dirtiness, truncated volume shafts)
  com.unity.render-pipelines.core/ShaderLibrary/GeometricTools.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, SRP, dxr, needs-backport-10.x

#2903 Merge Hd/bugfix
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback.unity
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDBakedReflectionSystem.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDBlockFields.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x

#2074 Fix "ToSubgraph" with multiple outputs and allow passthrough
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Util/CopyPasteGraph.cs
Labels: Shader Graph, backported-10.x

#1946 Fix master node bug in upgrade
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
Labels: Shader Graph, backported-10.x

#1645 [Shader Graph] Fix issue with enum keyword display names
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Util/GraphUtil.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
Labels: Shader Graph, backported-10.x

#2902 Moving post process data back to renderer
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Custom.meta
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DDataEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DMenus.cs
  com.unity.render-pipelines.universal/Editor/ForwardRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DDataAuthoring.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.render-pipelines.universal/Runtime/PostProcessPasses.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#2900 Core RP preview camera background color
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Utilities/CoreRenderPipelinePreferences.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: HDRP, SRP, need-backport-2021.1, universal

#2880 Universal/fix aces filter
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/Color.hlsl
Labels: SRP, need-backport-2021.1, universal

#2856 [11.x.x] Shaders: Fix truncation and redefinition errors
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesEditorPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: need-backport-2021.1, universal

#2904 [10.x.x] Workaround Android GLES3 failing tests
  TestProjects/UniversalGraphicsTest/ProjectSettings/ProjectSettings.asset
Labels: need-backport-2021.1, testing, universal

#2663 [11.x.x] Fixed terrain and speed tree shaders missing XR macros
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: XR, need-backport-2021.1, needs-backport-10.x, universal

#2914 Backporting https://github.com/Unity-Technologies/Graphics/pull/2902
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Custom.meta
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DDataEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DMenus.cs
  com.unity.render-pipelines.universal/Editor/ForwardRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DDataAuthoring.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.render-pipelines.universal/Runtime/PostProcessPasses.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#2910 Reactivate hdrp osx playmode in the HDRP_ABV job
  .yamato/all-hdrp.yml
  .yamato/config/hdrp.metafile
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/shadergraph-osx-metal.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-osx-metal.yml
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1207_Lit_Displacement.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1214_Lit_LowResTransparent.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1223_Lit_Iridescence.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1701_Decals.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1702_MeshDecals.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1704_Decals-Settings.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1706_DecalsSG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1707-Decals-FadeFactorAndDistance.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1708_DecalsSG_on_SG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1711_DecalMasks_3RT.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1711_DecalMasks_4RT.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2001_Light_DynamicDirectional.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2205_LightLoopCullWOblique.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2222_ReflectionProbeDistanceBased.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/3003_LightingMode.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4075_PhysicalCamera-gateFit.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4076_PhysicalCamera-lensShift.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8101_Opaque.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8102_Transparent.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8204_CustomSpecOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9500_LightScripting.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9801_ShurikenLightModule.png
Labels: yamato

#2909 Fix AOV API for render graph
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2896 10.x.x/sg/bug 1259801 backport
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
Labels: Shader Graph

#2922 Special exclusion to avoid issues where preprocessors cause interpola…
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
Labels: Shader Graph

#2898 Fix HDRP tests with by enabling backbuffer instead of render texture
  TestProjects/HDRP_DXR_Tests/TestRunnerOptions.json
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2551_SSR.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2601_SSAO_HalfRes.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2602_SSAO_FullRes.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2317_Mixed_Cached_ShadowMap_Point.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2601_SSAO_HalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2602_SSAO_FullRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4011_MotionBlur_PerObject.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4013_TransparentMotionVector.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9301_MotionVectorsOff-Forward-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9301_MotionVectorsOn-Forward-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9302_MotionVectorsOff-Deffered-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9302_MotionVectorsOff-DefferedDecal-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9302_MotionVectorsOn-Deffered-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9302_MotionVectorsOn-DefferedDecal-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2317_Mixed_Cached_ShadowMap_Point.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2601_SSAO_HalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2602_SSAO_FullRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4011_MotionBlur_PerObject.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4013_TransparentMotionVector.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9301_MotionVectorsOff-Forward-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9301_MotionVectorsOn-Forward-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9302_MotionVectorsOff-Deffered-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9302_MotionVectorsOff-DefferedDecal-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9302_MotionVectorsOn-Deffered-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9302_MotionVectorsOn-DefferedDecal-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9402_AlphaToMask-Graph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2317_Mixed_Cached_ShadowMap_Point.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2601_SSAO_HalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2602_SSAO_FullRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4011_MotionBlur_PerObject.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9301_MotionVectorsOff-Forward-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9301_MotionVectorsOn-Forward-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9302_MotionVectorsOff-Deffered-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9302_MotionVectorsOff-DefferedDecal-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9302_MotionVectorsOn-Deffered-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9302_MotionVectorsOn-DefferedDecal-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9402_AlphaToMask-Graph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2317_Mixed_Cached_ShadowMap_Point.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2601_SSAO_HalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2602_SSAO_FullRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4011_MotionBlur_PerObject.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4013_TransparentMotionVector.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9301_MotionVectorsOff-Forward-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9301_MotionVectorsOn-Forward-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9302_MotionVectorsOff-Deffered-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9302_MotionVectorsOff-DefferedDecal-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9302_MotionVectorsOn-Deffered-Dynamic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9302_MotionVectorsOn-DefferedDecal-Dynamic.png
  com.unity.testing.hdrp/TestRunner/HDRP_GraphicTestRunner.cs
  com.unity.testing.visualeffectgraph/Tests/Runtime/VFXGraphicsTests.cs
Labels: HDRP, need-backport-2021.1, testing, vfx

#2924 Fix small discrepancy in marker placement in light intensity sliders
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/LightUnit/LightUnitSlider.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2925 Fix issue with VT spewing errors when transparent and opaque are disabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/VTBufferManager.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2920 Fixed a bug in the sphere-aabb light cluster (case 1294767).
  com.unity.render-pipelines.core/ShaderLibrary/GeometricTools.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingLightCluster.compute
Labels: HDRP, SRP, dxr, need-backport-2021.1, needs-backport-10.x

#2927 Fix nullref excpetion when HDRP is present but not used
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.cs
Labels: HDRP, need-backport-2021.1

#2917 Move EndCameraRendering callback out of the profiling scope
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2915 Fixed baked light being included into the ray tracing light cluster (case 1296203).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP, dxr, need-backport-2021.1, needs-backport-10.x

#2913 Fix UI for enum properties in shadergraph nodes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SubTargetPropertyBlock.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2916 Changed the message when the graphics device doesn't support ray tracing (case 1287355).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
Labels: HDRP, dxr, need-backport-2021.1, needs-backport-10.x

#2919 [HDRP] Fix default blocks for Hair and Eye shader graphs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/CreateEyeShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/CreateHairShaderGraph.cs
Labels: HDRP

#2931 Init scene camera debug framesettings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettingsHistory.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2932 Fixed using the wrong method to define if a light should be included in the light cluster depending on its baking status.
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP, dxr

#2930 [HDRP] Change the behavior of custom passes when the volume is disabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassVolume.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2810 Add internal package for XR automated graphics tests
  com.unity.testing.xr/Editor.meta
  com.unity.testing.xr/Editor/InjectMockHMD.cs
  com.unity.testing.xr/Editor/InjectMockHMD.cs.meta
  com.unity.testing.xr/Editor/Unity.Testing.XR.Editor.asmdef
  com.unity.testing.xr/Editor/Unity.Testing.XR.Editor.asmdef.meta
  com.unity.testing.xr/README.md
  com.unity.testing.xr/README.md.meta
  com.unity.testing.xr/Runtime.meta
  com.unity.testing.xr/Runtime/ConfigureMockHMD.cs
  com.unity.testing.xr/Runtime/ConfigureMockHMD.cs.meta
  com.unity.testing.xr/Runtime/Unity.Testing.XR.Runtime.asmdef
  com.unity.testing.xr/Runtime/Unity.Testing.XR.Runtime.asmdef.meta
  com.unity.testing.xr/Tests.meta
  com.unity.testing.xr/Tests/.tests.json
  com.unity.testing.xr/Tests/Editor.meta
  com.unity.testing.xr/Tests/Editor/InjectMockHMDTest.cs
  com.unity.testing.xr/Tests/Editor/InjectMockHMDTest.cs.meta
  com.unity.testing.xr/Tests/Editor/Unity.Testing.XR.Editor.Tests.asmdef
  com.unity.testing.xr/Tests/Editor/Unity.Testing.XR.Editor.Tests.asmdef.meta
  com.unity.testing.xr/XR.meta
  com.unity.testing.xr/XR/Loaders.meta
  com.unity.testing.xr/XR/Loaders/Mock HMD Loader.asset
  com.unity.testing.xr/XR/Loaders/Mock HMD Loader.asset.meta
  com.unity.testing.xr/XR/Settings.meta
  com.unity.testing.xr/XR/Settings/Mock HMD Build Settings.asset
  com.unity.testing.xr/XR/Settings/Mock HMD Build Settings.asset.meta
  com.unity.testing.xr/XR/XRGeneralSettings.asset
  com.unity.testing.xr/XR/XRGeneralSettings.asset.meta
  com.unity.testing.xr/package.json
  com.unity.testing.xr/package.json.meta
Labels: XR

#2921 Fixed display of LOD Bias and maximum level in frame settings when using Quality Levels
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2929 Fixed an issue when trying to open a look dev env library when Look Dev is not supported.
  com.unity.render-pipelines.core/Editor/LookDev/EnvironmentLibrary.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, need-backport-2021.1, needs-backport-10.x

#2923 Yamato - Fix editor pinning branch
  .yamato/_editor_pinning.yml
  .yamato/config/__shared.metafile
  .yamato/docs/readme.md
Labels: yamato

#2851 [12.0] SG Prep work for exposing vertexid, instanceid, and color interpolato…
  com.unity.shadergraph/Editor/Data/Graphs/ShaderGraphRequirements.cs
  com.unity.shadergraph/Editor/Data/Graphs/VertexColorMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Nodes/BlockNode.cs
  com.unity.shadergraph/Editor/Generation/Controls.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/FieldDependencies.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/Fields.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/StructFields.cs
  com.unity.shadergraph/Editor/Generation/Targets/PreviewTarget.cs
  com.unity.shadergraph/Editor/Generation/Templates/BuildSurfaceDescriptionInputs.template.hlsl
  com.unity.shadergraph/Editor/Generation/Templates/PassMesh.template
  com.unity.shadergraph/ShaderGraphLibrary/PreviewVaryings.hlsl
Labels: Shader Graph

#2933 Fixed shader graph not supporting indirectdxr multibounce (case 1294694)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
Labels: HDRP, dxr, need-backport-2021.1, needs-backport-10.x

#2269 [11.x.x] Fixed issue with UNITY_REVERSED_Z and UNITY_UV_STARTS_AT_TOP and OGL
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/API/GLCore.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/API/GLES2.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/API/GLES3.hlsl
Labels: SRP, need-backport-2021.1

#2926 Fixed the planar depth texture not being properly created and rendered to (case 1299617).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderUtilities.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2943 [Yamato] Set timeout to 3000 for all URP builds
  .yamato/config/universal.metafile
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
Labels: yamato

#2944 [Yamato][2021.1] Set timeout 3000 for all URP builds
  .yamato/config/universal.metafile
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
Labels: yamato

#2949 Fixed C# 8 compilation issue with turning on nullable checks (case 1300167)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/MaterialDebug.cs
Labels: HDRP

#2950 Fixed affects AO for decal materials
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalUI.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2751 [HDRP] density volumes improvements
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Density-Volume.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/DensityVolume1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPAsset_VolumetricSettings.png
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-11.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/DensityVolumeUI.Drawer.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/DensityVolumeUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/SerializedDensityVolume.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedGlobalLightLoopSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/GlobalLightLoopSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/DebugDensityVolumeAtlas.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/DebugDensityVolumeAtlas.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/DensityVolume.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/DensityVolumeManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/Texture3DAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumeVoxelization.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture3DAtlas.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture3DAtlas.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture3DAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture3DAtlas.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
Labels: HDRP

#2957 Raytracing getting started docs bugfix
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracingGettingStarted1.png
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
Labels: Docs, HDRP, needs-backport-10.x, needs-backport-7.x

#2961 Fixed case where material keywords would not get setup before usage
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x, needs-backport-7.x

#2963 HDRP getting started doc update
  com.unity.render-pipelines.high-definition/Documentation~/Getting-started-with-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/GettingStarted1.png
Labels: Docs, HDRP, needs-backport-10.x

#2964 Fix formatter issue in decal UI block
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSortingInputsUIBlock.cs
Labels: HDRP

#2308 Fix SampleGradientNode colorspace
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/OpenGLCore/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/Scenes/InputNodes.unity
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Gradient/GradientBlend.shadergraph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Gradient/SampleGradientNode.cs
  com.unity.shadergraph/Editor/Drawing/Controls/GradientControl.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GradientPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/Slots/GradientSlotControlView.cs
Labels: Shader Graph, testing

#2962 [2021.2] [ShaderGraph] Disabling failing test for IsNaN node
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/LogicNodes.png
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Utility/Logic/IsNaNV4.shadergraph
Labels: Shader Graph, need-backport-2021.1, testing

#2965 [2021.1] [ShaderGraph] Disabling failing test for IsNaN node
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/LogicNodes.png
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Utility/Logic/IsNaNV4.shadergraph
Labels: Shader Graph, testing

#2774 [10.x.x] backport of #2147 renderer list select
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
Labels: universal

#2928 Merge Hd/bugfix
  com.unity.render-pipelines.core/Editor/LookDev/EnvironmentLibrary.cs
  com.unity.render-pipelines.core/ShaderLibrary/GeometricTools.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/LightUnit/LightUnitSlider.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/CreateEyeShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/CreateHairShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SubTargetPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/MaterialDebug.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/VTBufferManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingLightCluster.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassVolume.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettingsHistory.cs
  com.unity.render-pipelines.high-definition/Runtime/Scripting/GameObjectExtension.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderUtilities.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2972 Fix random shader warnings in HDRP
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/DebugDensityVolumeAtlas.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingReflectionFilter.compute
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2967 Fix FreeCamera speed boost controls
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Camera/FreeCamera.cs
Labels: SRP, need-backport-2021.1, needs-backport-10.x

#2947 Fixed an issue with the frame count management for the volumetric fog (case 1299251).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#2912 Minor improvement to ssgi
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
Labels: HDRP, need-backport-2021.1, needs-backport-10.x

#2938 [2021.2] [ShaderGraph] [BugFix 1299830] Fix for SampleGrad in custom function node
  com.unity.render-pipelines.core/ShaderLibrary/Texture.hlsl
  com.unity.shadergraph/CHANGELOG.md
Labels: SRP, Shader Graph, need-backport-2021.1, needs-backport-10.x

#2685 Link to Master Preview/Main Preview was broken in TOC
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Create-Shader-Graph.md
  com.unity.shadergraph/Documentation~/First-Shader-Graph.md
  com.unity.shadergraph/Documentation~/Main-Preview.md
  com.unity.shadergraph/Documentation~/Shader-Graph-Window.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
Labels: Docs, Shader Graph, needs-backport-10.x

#2974 [Shader Graph] Fix Truncation Error on new graphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Templates/BuildVertexDescriptionInputs.template.hlsl
Labels: Shader Graph

#2952 [Yamato] Trigger CI on PR changes rather than push
  .yamato/_abv.yml
  .yamato/all-hdrp.yml
  .yamato/all-shadergraph.yml
  .yamato/all-universal.yml
  .yamato/all-vfx_hdrp.yml
  .yamato/all-vfx_urp.yml
  .yamato/config/_abv.metafile
  .yamato/config/hdrp.metafile
  .yamato/config/shadergraph.metafile
  .yamato/config/universal.metafile
  .yamato/config/vfx_hdrp.metafile
  .yamato/config/vfx_urp.metafile
  .yamato/ruamel/jobs/abv/abv_all_project_ci.py
  .yamato/ruamel/jobs/abv/yml_abv.py
Labels: yamato

#2980 [Shader Graph] Fix Custom Function Node Upgrade Errors
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Implementation/NodeUtils.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
Labels: Shader Graph, backported-10.x, backported-2021.1

#2983 [2021.1][Shader Graph] Fix Custom Function Node Upgrade Errors
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Implementation/NodeUtils.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
Labels: Shader Graph

#2981 [10.3][Shader Graph] Fix Custom Function Node Upgrade Errors
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Implementation/NodeUtils.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
Labels: Shader Graph

#2984 [2021.1] [ShaderGraph] [BugFix 1299830] Fix for SampleGrad in custom function node
  com.unity.render-pipelines.core/ShaderLibrary/Texture.hlsl
  com.unity.shadergraph/CHANGELOG.md
Labels: SRP, Shader Graph

#2969 [10.3] [ShaderGraph] [BugFix 1299830] Fix for SampleGrad in custom function node
  com.unity.render-pipelines.core/ShaderLibrary/Texture.hlsl
  com.unity.shadergraph/CHANGELOG.md
Labels: SRP, Shader Graph
