Repository Unity-Technologies/Graphics, pull requests merged in 2020-05, with the labels that each got.

#341 [Android] Add/update reference images for camera stacking [skip ci]
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/123_CameraStackingClear.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/124_CameraStackingClearRT.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/123_CameraStackingClear.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/124_CameraStackingClearRT.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/125_CameraStackingVolumes.png
Labels: testing, universal

#322 2d/shadow fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/ShadowCaster2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowUtility.cs
  com.unity.render-pipelines.universal/Shaders/2D/ShadowGroup2D.shader
Labels: 2d, needs-backport-7.x, needs-backport-8.x, universal

#320 [2D] Use half precision types in our fragment shaders.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/SpriteLitPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/SpriteNormalPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/SpriteUnlitPass.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Include/CombinedShapeLightShared.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Include/LightingUtility.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Include/NormalsRenderingShared.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Shape-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Shape.shader
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Labels: 2d, needs-backport-7.x, needs-backport-8.x, universal

#319 Fix SSS code doc
  com.unity.render-pipelines.high-definition/Runtime/Material/DiffusionProfile/DiffusionProfileSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP

#350 Updated forward and deferred rendering definitions
  com.unity.render-pipelines.high-definition/Documentation~/Forward-And-Deferred-Rendering.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#288 regenerate contextual entries
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/EdgeConnectorListener.cs
Labels: Shader Graph, needs-backport-8.x

#86 [8.x.x Backport] Fix pre/post pass sg properties #82
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/HDShaderGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
Labels: HDRP

#85 [7.x.x Backport] Fix pre/post pass sg properties #82
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/HDShaderGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
Labels: HDRP

#139 Fix issue with screen-space shadows not enabled with RT off
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.cs
Labels: HDRP

#262 [9.x.x] Fix inconsistent previews on Matrix nodes
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Basic/MultiplyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Matrix/MatrixDeterminantNode.cs
Labels: Shader Graph

#285 - Fixed the indirect diffuse texture not being ignored when it should.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, dxr

#300 Fixed a performance issue with stochastic ray traced area shadows.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/SphericalQuad.hlsl
Labels: HDRP, dxr

#306 [7.x.x Backport] Fixed a performance issue with stochastic ray traced area shadows.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/SphericalQuad.hlsl
Labels: HDRP, dxr

#310 [8.x.x Backport] Fixed a performance issue with stochastic ray traced area shadows.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/SphericalQuad.hlsl
Labels: HDRP, dxr

#354 Fix compilation issue in HDRP DXR_Test [Skip CI]
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/HDFabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HDHairSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/HDStackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingVolume.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingVolume.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
Labels: HDRP

#321 Fix bad merge of the light loop optimization PR (an optimization was undone)
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
Labels: HDRP

#170 Camera override API
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#371 Fix for Universal compilation with VT properties
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.shadergraph/Editor/Data/Graphs/PreviewProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
Labels: Shader Graph, universal

#304 [Backport 7.x.x] Updated raytracing async compute warning.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
Labels: HDRP

#305 [Backport 8.x.x] Updated raytracing async compute warning.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
Labels: HDRP

#302 [Backport 8.x.x] Fixed a null ref exception in static sky when the default volume profile is invalid.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
Labels: HDRP

#303 [Backport 7.x.x] Fixed a null ref exception in static sky when the default volume profile is invalid.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
Labels: HDRP

#307 [Backport 7.x.x] Fixed an error about procedural sky being logged by mistake.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/VisualEnvironment.cs
Labels: HDRP

#308 [Backport 8.x.x] Fixed an error about procedural sky being logged by mistake.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/VisualEnvironment.cs
Labels: HDRP

#309 [Backport 8.x.x] Hdrp/public static sky
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
Labels: HDRP

#346 [9.x.x] Fixed division by zero in visibility function
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/BSDF.hlsl
Labels: SRP, needs-backport-7.x, needs-backport-8.x

#297 Fix cookie srgb
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture2DAtlas.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#314 Fix scene view draw mode in URP & HDRP
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/SceneViewDrawMode.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/SceneViewDrawMode.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, universal

#290 Fix flickering lighting in the scene and game view when lookdev is open.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#299 Added a function to reset the reference size of RTHandle systems.
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/Textures/BufferedRTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandles.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP, needs-backport-8.x

#368 Yamato: Add DX12 and Vulkan build to ALL HDRP CI [Skip CI]
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
Labels: yamato

#378 [Backport 8.x.x] Added a function to reset the reference size of RTHandle systems.
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/Textures/BufferedRTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandles.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#379 [Backport 7.x.x] Fix flickering lighting in the scene and game view when lookdev is open.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP

#380 [Backport 8.x.x] Fix flickering lighting in the scene and game view when lookdev is open.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP

#291 Fix issue with ambient probe not being correct with OnEnable/OnDemand probes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderingContext.cs
Labels: HDRP

#317 [7.x.x Backport] Fix issue with ambient probe not being correct with OnEnable/OnDemand probes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderingContext.cs
Labels: HDRP

#316 [8.x.x Backport] Fix issue with ambient probe not being correct with OnEnable/OnDemand probes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderingContext.cs
Labels: HDRP

#347 Update HDRP graphic test framework with Test Broken / TestFilter script [Skip CI]
  com.unity.testing.hdrp/Fonts/Font Material SG.mat
  com.unity.testing.hdrp/Fonts/Font Material.mat
  com.unity.testing.hdrp/Fonts/FontShader-linear.shadergraph
  com.unity.testing.hdrp/Fonts/FontShader-point.shadergraph
  com.unity.testing.hdrp/Fonts/PressStart2P-Regular.ttf.meta
  com.unity.testing.hdrp/ScenePrefabs/HDRP_Test_Camera.prefab
  com.unity.testing.hdrp/Scripts/DisplayOnPlatformAPI.cs
  com.unity.testing.hdrp/Scripts/HDRP_Tests.asmdef
  com.unity.testing.hdrp/Scripts/SetToCameraNearPlane.cs
  com.unity.testing.hdrp/Scripts/SetToCameraNearPlane.cs.meta
  com.unity.testing.hdrp/Scripts/TestFilterGenerator.cs
  com.unity.testing.hdrp/Scripts/TestFilterGenerator.cs.meta
Labels: HDRP

#340 [9.x.x][Shader Graph] Fix Custom Function node reorderable list
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Drawing/Views/ReorderableSlotListView.cs
Labels: Shader Graph

#259 Fixes for 3 cases of undo not working
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/Editor/Drawing/Views/Slots/MultiFloatSlotControlView.cs
Labels: Shader Graph, backported-7.x, backported-8.x

#369 [8.x.x][Shader Graph]Fixes for 3 cases of undo not working
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/Editor/Drawing/Views/Slots/MultiFloatSlotControlView.cs
Labels: Shader Graph

#370 [7.x.x][Shader Graph] Fixes for 3 cases of undo not working
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/Editor/Drawing/Views/Slots/MultiFloatSlotControlView.cs
Labels: Shader Graph

#358 [ShaderGraph] Fix preview rendering for view direction
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/ShaderGraphLibrary/PreviewVaryings.hlsl
Labels: Shader Graph

#91 Sg/inline color node hdr to default fix
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/ColorNode.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
Labels: Shader Graph

#315 Fix Motion Vectors written by transparent when rendering with MSAA
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/SharedRTManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MSAA/MotionVecResolve.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MSAA/MotionVecResolve.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#384 Revert "Update HDRP graphic test framework with Test Broken / TestFilter script [Skip CI]"
  com.unity.testing.hdrp/Fonts/Font Material SG.mat
  com.unity.testing.hdrp/Fonts/Font Material.mat
  com.unity.testing.hdrp/Fonts/FontShader-linear.shadergraph
  com.unity.testing.hdrp/Fonts/FontShader-point.shadergraph
  com.unity.testing.hdrp/Fonts/PressStart2P-Regular.ttf.meta
  com.unity.testing.hdrp/ScenePrefabs/HDRP_Test_Camera.prefab
  com.unity.testing.hdrp/Scripts/DisplayOnPlatformAPI.cs
  com.unity.testing.hdrp/Scripts/HDRP_Tests.asmdef
  com.unity.testing.hdrp/Scripts/SetToCameraNearPlane.cs
  com.unity.testing.hdrp/Scripts/SetToCameraNearPlane.cs.meta
  com.unity.testing.hdrp/Scripts/TestFilterGenerator.cs
  com.unity.testing.hdrp/Scripts/TestFilterGenerator.cs.meta
Labels: HDRP

#252 Hdrp/reflection probe scale perf
  TestProjects/HDRP_PerformanceTests/Assets/PerformanceTests/Editor/HDReflectionSystemTests.cs
  TestProjects/HDRP_PerformanceTests/Assets/PerformanceTests/Editor/HDReflectionSystemTests.cs.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDBakedReflectionSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbeCullingResults.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbeSystem.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, testing

#393 Update HDRP graphic test framework with Test Broken / TestFilter script
  com.unity.testing.hdrp/ScenePrefabs/HDRP_Test_Camera.prefab
  com.unity.testing.hdrp/Scripts/DisplayOnPlatformAPI.cs
  com.unity.testing.hdrp/Scripts/HDRP_Tests.asmdef
  com.unity.testing.hdrp/Scripts/SetToCameraNearPlane.cs
  com.unity.testing.hdrp/Scripts/SetToCameraNearPlane.cs.meta
  com.unity.testing.hdrp/Scripts/TestFilterGenerator.cs
  com.unity.testing.hdrp/Scripts/TestFilterGenerator.cs.meta
Labels: HDRP

#402 Update Volumetric Lighting doc
  com.unity.render-pipelines.high-definition/Documentation~/Volumetric-Lighting.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#404 Disable 1221_Lit_POM_Emission.unity as it hang Yamato
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, testing

#398 Sg/stack master v2 upgrade hdrp fix preview
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
Labels: Shader Graph

#401 Fix Yamato DX12 test 2106_GI_EmissionSG
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2106_GI_EmissionSG.png
Labels: HDRP, testing

#364 Hd/add layer modification on generated emissive mesh for area light
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/SerializedHDLight.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#374 [9.x.x] Fix computation of inverseVP matrix.
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/130_UnityMatrixIVP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/130_UnityMatrixIVP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/130_UnityMatrixIVP.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/130_UnityMatrixIVP.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/130_UnityMatrixIVP.unity.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/130_UnityMatrixIVP/DepthTest.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/130_UnityMatrixIVP/DepthTest.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/130_UnityMatrixIVP/WorldReconstruction.shader
  TestProjects/UniversalGraphicsTest/Assets/Scenes/130_UnityMatrixIVP/WorldReconstruction.shader.meta
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: needs-backport-7.x, needs-backport-8.x, testing, universal

#411 Fixed Android GLES3 shader errors.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
Labels: universal

#301 Disable async compute for D3D12 [Hold]
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP

#416 Hd/fix nullref while removing decal component
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#44 Added a flow map parameter to HDRI Sky
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5009_HDRI_Sky_Flow.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5009_HDRI_Sky_Flow.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5009_HDRI_Sky_Flow.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5009_HDRI_Sky_Flow/Scene Settings Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5009_HDRI_Sky_Flow/Scene Settings Profile.asset.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5009_HDRI_Sky_Flow.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5009_HDRI_Sky_Flow.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5009_HDRI_Sky_Flow.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5009_HDRI_Sky_Flow.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5009_HDRI_Sky_Flow.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5009_HDRI_Sky_Flow.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/5009_HDRI_Sky_Flow.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/5009_HDRI_Sky_Flow.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-HDRI-Sky.md
  com.unity.render-pipelines.high-definition/Editor/Sky/HDRISky/HDRISkyEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUtils.hlsl
Labels: HDRP

#422 Fix issue with Uber Post process shader when alpha is enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/UberPost.compute
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#427 Fix HDRP_Tests import error
  com.unity.testing.hdrp/3DObjects/CornelBox/Cornell Box.fbx
Labels: HDRP

#430 Fix message error Decal 1242359
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
Labels: HDRP, SRP

#208 [9.x.x] Fix ambient shader variables.
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/129_EnvironmentShaderVariables.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/129_EnvironmentShaderVariables.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/029_Particles/Shaders/CustomParticleData.shader
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/AmbientEquator.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/AmbientEquator.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/AmbientGround.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/AmbientGround.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/AmbientSky.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/AmbientSky.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/AmbientSky.shader
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/AmbientSky.shader.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/FogColor.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/FogColor.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/RealtimeShadowColor.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariable/RealtimeShadowColor.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariables.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/129_EnvironmentShaderVariables.unity.meta
  TestProjects/UniversalGraphicsTest/UserSettings/EditorUserSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: needs-backport-7.x, needs-backport-8.x, testing, universal

#418 Fix issue with corrupted values with Layer Lit when using multiply mode for vertex color
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
Labels: HDRP, backported-7.x, backported-8.x

#436 Renamed hdri sky variables
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.cs
Labels: HDRP

#433 Disable test 8105 and 1218 for DX12 as they are unstable
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
Labels: HDRP, testing

#421 Fix issue with the resolve of motion vectors when transparent object motion is enabled
  com.unity.render-pipelines.high-definition/Runtime/Material/SharedRTManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#439 [Yamato] Refactor preview publish dependency chain
  .yamato/z_preview-publish.yml
Labels: yamato

#413 Hd/fix targets used in ongui in decalcomponent
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
Labels: HDRP, SRP, needs-backport-8.x

#440 Save scene-view camera settings in Editor prefs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDAdditionalSceneViewSettings.cs
Labels: HDRP, needs-backport-8.x

#260 Fix keyword node input reset on default change
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/KeywordNode.cs
Labels: Shader Graph

#417 Fix issue when switching back to custom sensor type in physical camera
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
Labels: HDRP

#360 Fix a null ref exception when running playmode tests
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUI.Fields.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, XR

#333 [9.x.x] SubWindow open/close/toggle automated testing coverage
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/SubWindowTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/SubWindowTests.cs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/TestAssemblyExtensions.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/TestAssemblyExtensions.cs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/SubWindow.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/SubWindow.shadergraph.meta
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardProvider.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph, testing

#445 Fixed some gcalloc in the debug window
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/VolumeDebug.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#442 [9.x.x] Core / hdrp: Move packing and dots instancing code to right location + Update DOTS Macro
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Packing.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/UnityInstancing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
Labels: HDRP, SRP

#423 Hdrp/small ui update
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/ContactShadowsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/AtmosphericScattering/FogEditor.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#454 Revert "[9.x.x] Core / hdrp: Move packing and dots instancing code to right location + Update DOTS Macro"
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Packing.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/UnityInstancing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
Labels: HDRP, SRP

#349 Fix reorderable list issue
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/RendererFeatures/RenderObjectsPassFeatureEditor.cs
Labels: universal

#449 Don't query cull results if we don't have them
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#431 [8.x.x] Backport #126
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/Renderer2DTests.cs
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/Renderer2DTests.cs.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/PixelPerfectCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: 2d, testing, universal

#429 [7.x.x] Backport #126
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/Renderer2DTests.cs
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/Renderer2DTests.cs.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/PixelPerfectCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: 2d, testing, universal

#403 backport of #349 case(1240895)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/RendererFeatures/RenderObjectsPassFeatureEditor.cs
Labels: universal

#463 Wrong screenshot after merging the ray traced transparent PR and color shadow fix.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/902_Materials_SG_Variants_Lit.png
Labels: HDRP, dxr, testing

#464 [Backport 7.x.x] Fixed some gcalloc in the debug window
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP

#465 [Backport 8.x.x] Fixed some gcalloc in the debug window
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP

#466 [Backport 7.x.x] Hdrp/small ui update
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/ContactShadowsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/AtmosphericScattering/FogEditor.cs
Labels: HDRP

#467 [Backport 8.x.x] Hdrp/small ui update
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/ContactShadowsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/AtmosphericScattering/FogEditor.cs
Labels: HDRP

#166 [Feature] Compute Deformation Node
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDStructFields.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDStructs.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/Templates/VertexAnimation.template.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Compute-Deformation-Node.md
  com.unity.shadergraph/Documentation~/Linear-Blend-Skinning-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Editor/Data/Graphs/ShaderGraphRequirements.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IMayRequireVertexID.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IMayRequireVertexID.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Mesh Deformation.meta
  com.unity.shadergraph/Editor/Data/Nodes/Mesh Deformation/ComputeDeformNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Mesh Deformation/ComputeDeformNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Mesh Deformation/LinearBlendSkinningNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Mesh Deformation/LinearBlendSkinningNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
  com.unity.shadergraph/Editor/Generation/Processors/ShaderGeneratorNames.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/FieldDependencies.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/StructFields.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/Structs.cs
  com.unity.shadergraph/Editor/Generation/Templates/BuildVertexDescriptionInputs.template.hlsl
  com.unity.shadergraph/Editor/Unity.ShaderGraph.Editor.asmdef
Labels: HDRP, Shader Graph

#250 PBR Sky renderer now shares its internal precomputation table between different instances.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Creating-a-Custom-Sky.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUpdateContext.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#383 DOC-1664 Added: Customizing URP: Using the beginCameraRendering event.
  com.unity.render-pipelines.universal/Documentation~/Images/customizing-urp/deactivate-script-component.png
  com.unity.render-pipelines.universal/Documentation~/Images/customizing-urp/log-message-in-console.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/customizing-urp.md
  com.unity.render-pipelines.universal/Documentation~/using-begincamerarendering.md
Labels: needs-backport-7.x, needs-backport-8.x, universal

#331 Makes sure quaternion is normalized and valid before converting to ma…
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/PlanarReflectionProbeEditor.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#357 Baked area light falloff info
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#365 Correct environment library HDRI import info
  com.unity.render-pipelines.high-definition/Documentation~/Look-Dev-Environment-Library.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#415 New tooltip for camera background and fixed exposure when switching the background mode.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#367 Update experimental disclaimers
  com.unity.visualeffectgraph/Documentation~/EventBinders.md
  com.unity.visualeffectgraph/Documentation~/ExposedPropertyHelper.md
  com.unity.visualeffectgraph/Documentation~/PointCacheBakeTool.md
  com.unity.visualeffectgraph/Documentation~/PointCaches.md
  com.unity.visualeffectgraph/Documentation~/SpawnerCallbacks.md
  com.unity.visualeffectgraph/Documentation~/VectorFields.md
Labels: Docs, needs-backport-7.x, needs-backport-8.x, vfx

#441 Fix issue causing not all baked reflection probes to be deleted
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDBakedReflectionSystem.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#462 Fixed asset preview being rendered white because of static lighting sky.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Sky/HDLightingWindowEnvironmentSection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#477 Updated Decal Projector doc
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Projector.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#483 [Backport 8.x.x] PBR Sky renderer now shares its internal precomputation table between different instances.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Creating-a-Custom-Sky.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUpdateContext.cs
Labels: HDRP

#482 [Backport 7.x.x] PBR Sky renderer now shares its internal precomputation table between different instances.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Creating-a-Custom-Sky.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUpdateContext.cs
Labels: HDRP

#481 [Backport 8.x.x] New tooltip for camera background and fixed exposure when switching the background mode.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP

#480 [Backport 7.x.x] New tooltip for camera background and fixed exposure when switching the background mode.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP

#479 [Backport 7.x.x] Fixed asset preview being rendered white because of static lighting sky.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Sky/HDLightingWindowEnvironmentSection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#478 [Backport 8.x.x] Fixed asset preview being rendered white because of static lighting sky.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Sky/HDLightingWindowEnvironmentSection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#484 Look Dev docs refactor 2
  com.unity.render-pipelines.core/Documentation~/Images/LookDev1.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDev2.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDev3.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDev4.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDev5.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDev6.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDev7.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDev8.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDev9.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDevEnvironmentLibrary1.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDevEnvironmentLibrary2.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDevEnvironmentLibrary3.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDevEnvironmentLibrary4.png
  com.unity.render-pipelines.core/Documentation~/Images/LookDevEnvironmentLibrary5.png
  com.unity.render-pipelines.core/Documentation~/Look-Dev-Environment-Library.md
  com.unity.render-pipelines.core/Documentation~/Look-Dev.md
  com.unity.render-pipelines.core/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/Look-Dev.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
Labels: Docs, HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#491 Remove bellevue QA from SG codeowners
  .github/CODEOWNERS
Labels: Shader Graph

#452 [skip ci] [Shader Graph] Bump Searcher Version
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
Labels: Shader Graph

#425 [7.x.x Backport] Fix issue with corrupted values with Layer Lit when using multiply mode for vertex color
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
Labels: HDRP

#377 [7.x.x Backport] Fix scene view draw mode in URP & HDRP
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/SceneViewDrawMode.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/SceneViewDrawMode.cs
Labels: HDRP, universal

#376 [8.x.x backport] Fix scene view draw mode in URP & HDRP
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/SceneViewDrawMode.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/SceneViewDrawMode.cs
Labels: HDRP, universal

#424 [8.x.x Backport] Fix issue with corrupted values with Layer Lit when using multiply mode for vertex color
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
Labels: HDRP

#447 Fixed null reference exception in LookDev when setting the SRP to None
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
Labels: SRP, needs-backport-7.x, needs-backport-8.x

#475 Fix show cookie atlas debug mode
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#339 Fixes for issue with Default shader and material not available when Models are imported at project startup.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/ShaderUtils.cs
  com.unity.render-pipelines.universal/Tests/Editor/EditorTests.cs
Labels: needs-backport-7.x, needs-backport-8.x, universal

#473 Fix few multi-editing issues with Emission UI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#470 Fixed performance problem of ShaderPreprocessor
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
Labels: universal

#460 [9.x.x] updated terrain scene and reference images.
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/035_Shader_TerrainShaders.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/035_Shader_TerrainShaders.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/035_Shader_TerrainShaders.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/035_Shader_TerrainShaders/New Terrain.asset
Labels: testing, universal

#437 Fix NaN cause when a 0-length normal is generated and then normalized
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialUtilities.hlsl
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalBlendNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalFromHeightNode.cs
Labels: HDRP, Shader Graph, needs-backport-7.x, needs-backport-8.x

#487 Re-enable cubemap thumbnail gen only for d3d11
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDCubemapInspector.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#495 Bump Package version to 10.
  Tools/CreateLocalPackages.cmd
  com.unity.render-pipelines.core/Runtime/Documentation.cs
  com.unity.render-pipelines.core/ShaderLibrary/Version.hlsl
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.graphics-performance/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#456 Check reflection probe null pointer before use. (case 1244047)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDAdditionalReflectionData.Legacy.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#504 Reviewed the changelog. Made a minor change (Multipass - Yes in VR in URP 7.4)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-builtin-feature-comparison.md
Labels: universal

#458 Remove max atlas probe alloc size in HDRP asset
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightCookieManager.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#505 [9.x.x][Yamato] Remove references to trunk and master
  .yamato/template-config.metafile
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_hybrid.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-shadergraph_stereo.yml
  .yamato/upm-ci-templates.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_hybrid.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  .yamato/z_editor.yml
  .yamato/z_preview-publish.yml
Labels: yamato

#506 [10.x.x][Yamato] Change nightly branch
  .yamato/upm-ci-abv.yml
  .yamato/upm-ci-hdrp.yml
  .yamato/upm-ci-hdrp_dxr.yml
  .yamato/upm-ci-hdrp_hybrid.yml
  .yamato/upm-ci-hdrp_standalone.yml
  .yamato/upm-ci-packages.yml
  .yamato/upm-ci-shadergraph.yml
  .yamato/upm-ci-shadergraph_stereo.yml
  .yamato/upm-ci-templates.yml
  .yamato/upm-ci-universal.yml
  .yamato/upm-ci-universal_hybrid.yml
  .yamato/upm-ci-universal_stereo.yml
  .yamato/upm-ci-vfx_lwrp.yml
  .yamato/upm-ci-vfxmain.yml
  .yamato/z_editor.yml
  .yamato/z_preview-publish.yml
Labels: yamato

#490 Hd/fix undo environmentlibrary lookdev
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/LookDev/Context.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.EnvironmentLibrarySidePanel.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.core/Editor/LookDev/EnvironmentLibrary.cs
Labels: SRP, needs-backport-7.x, needs-backport-8.x

#507 [9.x.x] Remove player-connection-ip argument from UTP command line arguments
  .yamato/upm-ci-universal.yml
Labels: universal, yamato

#510 Added system requirements and frame settings api docs
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings-API.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/FrameSettingsAPI-watch.png
  com.unity.render-pipelines.high-definition/Documentation~/System-Requirements.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/index.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x

#509 [Backport 9.x.x/release] Remove player-connection-ip argument from UTP command line arguments
  .yamato/upm-ci-universal.yml
Labels: universal, yamato

#485 [Backport 7.x.x] Fix NaN cause when a 0-length normal is generated and then normalized
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialUtilities.hlsl
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalBlendNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalFromHeightNode.cs
Labels: HDRP, Shader Graph

#512 [7.x.x] Merge 7.x.x/hd/staging
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/LookDev/Context.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.EnvironmentLibrarySidePanel.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.core/Editor/LookDev/EnvironmentLibrary.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings-API.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/FrameSettingsAPI-watch.png
  com.unity.render-pipelines.high-definition/Documentation~/System-Requirements.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/index.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDCubemapInspector.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightCookieManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDAdditionalReflectionData.Legacy.cs
Labels: HDRP, SRP

#95 Initial implementation of SSGI
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferred.asset
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetForward.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised1.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised1Half.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised2.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationFog.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationPerfFull.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationPerfHalf.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationQuality.asset
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedRenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ShaderVariablesLightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/BilateralUpsample.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/BilateralUpsample.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCameraFrameHistoryType.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/CoherentNoise/RankingTile1SPP.png.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/CoherentNoise/ScramblingTile1SPP.png.meta
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
Labels: HDRP

#453 Fix softlock when blackboard was hidden when opening a graph.
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardProvider.cs
Labels: Shader Graph, needs-backport-9.x

#502 Update sky in 5001_PathTracing test to HDRI Sky
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5001_PathTracing.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/5001_PathTracing.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5001_PathTracing/Sky and Fog Settings Profile.asset
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, dxr, testing

#486 [Backport 8.x.x] Fix NaN cause when a 0-length normal is generated and then normalized
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialUtilities.hlsl
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalBlendNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalFromHeightNode.cs
Labels: HDRP, Shader Graph

#523 Use path relative to package for depth of field
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldGather.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldTileMax.compute
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#444 Fix Light overlap
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugLightVolumes.compute
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugLightVolumes.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-8.x

#524 Fixed API breakage.
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
Labels: HDRP, SRP, needs-backport-8.x

#530 [9.x.x] [Packages] Fix promotion jobs [skip ci]
  .yamato/z_preview-publish.yml
Labels: yamato

#532 [Docs] Add missing documentation for Accumulation, AOVs, path-traced DoF
  com.unity.render-pipelines.high-definition/Documentation~/AOVs.md
  com.unity.render-pipelines.high-definition/Documentation~/Accumulation.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Path-traced-DoF.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/aov_example.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/path_tracing_recording.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/shutter_profiles.png
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Depth-of-Field.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Light-Cluster.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
Labels: HDRP

#382 Restore some XR HDRP tests
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1206_Lit_Transparent_Distortion.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1219_Lit_Light_on_Tesselation.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2008_Light_Volumetrics.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3003_LightingMode.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5002_Fog_DensityVolumes.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5003_Fog_DensityVolumesShadows.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5008_FogFiltering.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8101_Opaque.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8102_Transparent.unity
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
  com.unity.testing.hdrp/TestRunner/HDRP_GraphicTestRunner.cs
Labels: HDRP, XR

#522 [9.x.x] Fix Microshadow not working properly with LightLayers enabled in deferred
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#535 hide exposure compensation for fixed exposure
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ExposureEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP

#534 Fix taaFrameIndex and restore TAA tests for XR
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4052_TAA.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4053_TAA-FP16Alpha.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1710_Decals_Normal_Patch.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2316_ShadowTint.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4052_TAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2316_ShadowTint.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4052_TAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1710_Decals_Normal_Patch.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4052_TAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4053_TAA-FP16Alpha.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_FP16_PPAlpha.asset
  com.unity.testing.hdrp/TestRunner/HDRP_GraphicTestRunner.cs
Labels: HDRP, XR, needs-backport-7.x, needs-backport-8.x, testing

#488 Fixed the sub surface mask not being taken into account when computing ray traced sub surface scattering (1247255)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRayTracingResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/SubSurface/RayTracingSubSurface.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/SubSurface/RayTracingSubSurface.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRayTracingResources.asset
Labels: HDRP, dxr

#542 Merge batch mode
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#538 [7.x.x Backport] Fix an issue in reading the gbuffer for ray traced subsurface scattering (case 1248358)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingSubSurface.raytrace
Labels: HDRP, dxr

#533 [10.x.x] Fix some builtin stereo shaders with HDRP
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRPass.cs
  com.unity.testing.hdrp/TestRunner/HDRP_TestSettings.cs
Labels: HDRP, XR

#537 Merge 7.x.x/hd/staging [Skip CI]
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1710_Decals_Normal_Patch.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2316_ShadowTint.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2601_SSAO_HalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2602_SSAO_FullRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4052_TAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4053_TAA-FP16Alpha.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ExposureEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldGather.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldTileMax.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingSubSurface.raytrace
  com.unity.testing.hdrp/TestRunner/HDRP_GraphicTestRunner.cs
Labels: HDRP

#525 DOC-1906 Removed the notes saying the Camera Stacking is not supported in 2D renderer.
  com.unity.render-pipelines.universal/Documentation~/camera-component-reference.md
  com.unity.render-pipelines.universal/Documentation~/camera-stacking.md
Labels: universal
