Repository Unity-Technologies/Graphics, pull requests merged in 2020-08, with the labels that each got.

#1471 HDRP - Update docs related to FrameSettings, HDRP settings and Default Settings
  com.unity.render-pipelines.high-definition/Documentation~/Default-Settings-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
Labels: HDRP

#1482 Changed major Unity versions to HDRP versions in the upgrade guides
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.1-to-2019.2.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.2-to-2019.3.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.3-to-2020.1.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
Labels: Docs, HDRP, needs-backport-9.x

#845 [7.x.x Backport] Fix exposure white flash when enabling SSR
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP

#849 [7.x.x Backport] Fix depth pyramid issues with dynamic resolution
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP

#1101 [Backport 7.x.x] Fixed Look Dev with Light Theme
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP

#1104 [Backport 7.x.x] Fixed a serialization issue, preventing quality level parameters to undo/redo and update scene view on change.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/ScalableSettingLevelParameterEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalPostProcessingQualitySettings.cs
Labels: HDRP

#1321 [Backport 7.x.x] Fixed an issue where look dev lighting would go black when a new scene is loaded.
  com.unity.render-pipelines.core/Editor/LookDev/LookDevRenderer.cs
  com.unity.render-pipelines.core/Editor/LookDev/Stage.cs
  com.unity.render-pipelines.core/Runtime/LookDev/IDataProvider.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LookDev.cs
Labels: HDRP, SRP

#1350 Fix terrain shader upgrade for URP. Add upgraders for speedtree.
  com.unity.render-pipelines.core/Editor/MaterialUpgrader.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
  com.unity.render-pipelines.universal/Runtime/ShaderUtils.cs
  com.unity.render-pipelines.universal/Tests/Editor/EditorTests.cs
Labels: SRP, backported-7.x, backported-8.x, backported-9.x, universal

#1490 [HDRP][Compositor] Add tooltips with the full name of compositor properties that otherwi…
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/ShaderPropertyUI.Drawers.cs
Labels: HDRP

#1442 [7.x.x backport] [Ready to merge] DOC-1818 writing custom shaders
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-basic-hardcoded-color.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-color-field-with-scene.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-normals-uncompressed.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-normals.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-texture-property-in-inspector.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-texture-with-scene.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-material-prop-base-color.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-material-ui-shader-path.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-template-sample-object.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/shader-structure.md
  com.unity.render-pipelines.universal/Documentation~/shaders-in-universalrp.md
  com.unity.render-pipelines.universal/Documentation~/upgrading-your-shaders.md
  com.unity.render-pipelines.universal/Documentation~/urp-shader-examples.md
  com.unity.render-pipelines.universal/Documentation~/writing-custom-shaders-urp.md
  com.unity.render-pipelines.universal/Documentation~/writing-custom-shaders.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-basic-prerequisites.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-basic-unlit-structure.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-color.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-normals.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-texture.md
Labels: universal

#1449 [10.x.x] Improve default render target setup for ScriptableRenderPasses
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#1379 [10.x.x] Fixed URP postFX temp texture not getting released
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/RenderTargetHandle.cs
Labels: universal

#1503 Fix case 1264632 - HDRP Lit comes with Coat Mask in the stack, which is disabled by default
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/CreateHDLitShaderGraph.cs
Labels: HDRP

#1450 [9.x.x] Update reference images for LDR tests on Android
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/079_GradingColorAdjustmentsLDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/079_GradingColorAdjustmentsLDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/089_GradingWhiteBalanceLDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/089_GradingWhiteBalanceLDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/091_TonemappingNeutralLDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/091_TonemappingNeutralLDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/079_GradingColorAdjustmentsLDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/089_GradingWhiteBalanceLDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/091_TonemappingNeutralLDR.png
Labels: testing, universal

#1502 bump to version 10.1.0-preview
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Documentation.cs
  com.unity.render-pipelines.core/ShaderLibrary/Version.hlsl
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#1464 [10.x.x] Improved logic to set xrRendering to correct default value
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, universal

#1495 Fix SceneEV100 indicator when rescaling and add a shadow to text
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugExposure.shader
Labels: HDRP

#1507 [7xx] Backport #1460 - Remove duplicated command for standalones (editor download)
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/commands/linux_split.py
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#1508 [8xx] Backport #1460 - Remove duplicated command for standalones (editor download)
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/commands/linux_split.py
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#1510 [9xx] Backport #1460 - Remove duplicated command for standalones (editor download)
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/commands/linux_split.py
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#1487 Rewrite git hooks entirely in Python & Add improvements
  .gitattributes
  .github/CODEOWNERS
  Tools/git-hook/precommit/check-shader-includes.ps1
  Tools/git-hook/precommit/check-shader-includes.sh
  Tools/git-hook/precommit/check_shader_includes.py
  Tools/git-hook/precommit/file_extension_to_lowercase.py
  Tools/git-hook/precommit/renormalize-files.sh
  Tools/git-hook/prepush/check_branch_name.py
  Tools/package.json
  Tools/readme.md
  Tools/standalone/file_extension_to_lowercase.py
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#653 Add an error message when the DOTS_INSTANCING_ON variant is compiled with an incompatible shader model
  com.unity.render-pipelines.core/ShaderLibrary/UnityInstancing.hlsl
Labels: SRP

#957 Fixed a case where main light hard shadows would not work if any other light is present with soft shadows.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#1516 Added a new slice mode for visualizing cluster.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugViewTiles.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
Labels: HDRP

#1498 Fix PCSS filtering issues on first frame (or cached shadows)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, needs-backport-9.x

#1504 Fix for area light emissive mesh not appearing in playmode when Reload Scene is disabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP

#1509 Fix issue that caused OnEnable probes to marked as rendered even when they were not
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, backported-8.x, needs-backport-9.x

#1515 Make sure sun icon is not clipped in lookdev window
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.uss
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-8.x, needs-backport-9.x

#1506 Fix layer-related error caused by disabling emissive area light mesh
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, needs-backport-8.x

#1499 [HDRP][Compositor] Do not allow users to directly reset/edit the compositor .asset file
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionUtils.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositorWindow.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/ShaderGraphs/DefaultCompositionGraph.shadergraph
Labels: HDRP

#1489 [HDRP][Compositor] Fixed assertion failure when switching resolution and AOV settings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionLayer.cs
Labels: HDRP

#1536 2d/layer batching3 moving shadow
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/CompositeShadowCaster2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/CompositeShadowCaster2D.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCaster2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCaster2D.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCasterGroup2DManager.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs.meta
Labels: universal

#1485 [Hdrp][Compositor] Fix flickering with camera stacking
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionLayer.cs
Labels: HDRP

#1526 Fix issue with disc area light editor not updating
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, needs-backport-8.x, needs-backport-9.x

#1470 Fix some link to override volume and update SSGI
  com.unity.render-pipelines.high-definition/Documentation~/Forward-And-Deferred-Rendering.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Global-Illumination.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
Labels: HDRP

#1514 bump to 10.1.0.preview.1
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#1543 [Yamato] Add downloader cmd back to playmode jobs
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#1531 Fix issues with Texture2DAtlas cache system
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightCookieManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture2DAtlas.cs
Labels: HDRP, needs-backport-8.x, needs-backport-9.x

#1547 Update PropertyRM.uss & Bump Package Version
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor Default Resources/uss/PropertyRM.uss
  com.unity.visualeffectgraph/package.json
Labels: vfx

#1318 [9.x.x][Shadergraph] Fix for whitespace in keyword enum reference names
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
Labels: Shader Graph

#1351 [Shadergraph] Updated Blackboard Resizer styles
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Resources/Styles/Blackboard.uss
Labels: Shader Graph

#1484 Prepare hybrid pipelines
  .yamato/_packages.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/ruamel/jobs/packages/package_test.py
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/commands/iphone.py
  .yamato/ruamel/jobs/projects/commands/linux.py
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/ruamel/jobs/projects/commands/osx_openglcore.py
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
Labels: HDRP, testing, universal, yamato

#1480 add promote/publish dry run jobs
  .yamato/_packages.yml
  .yamato/_preview_publish.yml
  .yamato/ruamel/jobs/packages/package_publish_dry.py
  .yamato/ruamel/jobs/packages/yml_package.py
  .yamato/ruamel/jobs/preview_publish/pb_promote.py
  .yamato/ruamel/jobs/preview_publish/pb_promote_dry.py
  .yamato/ruamel/jobs/preview_publish/yml_pb.py
  .yamato/ruamel/jobs/shared/namer.py
Labels: yamato

#1330 [10.x.x] Optimize Shader Stripper
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
Labels: universal

#1539 [10.x.x] Bugfix 1268147: ArgumentOutOfRangeException errors are thrown after removing Render feature
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
Labels: universal

#1518 [Yamato] remove unnecessary files
  .yamato/ruamel/jobs/projects/commands/osx_perf.py
  .yamato/ruamel/jobs/projects/commands/win_perf.py
Labels: yamato

#1517 Store common variables to constants [skip ci]
  .yamato/ruamel/jobs/abv/abv_smoke_test.py
  .yamato/ruamel/jobs/editor/editor.py
  .yamato/ruamel/jobs/packages/package_test.py
  .yamato/ruamel/jobs/packages/package_test_dependencies.py
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/commands/iphone.py
  .yamato/ruamel/jobs/projects/commands/linux.py
  .yamato/ruamel/jobs/projects/commands/linux_split.py
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/ruamel/jobs/projects/commands/osx_metal_split.py
  .yamato/ruamel/jobs/projects/commands/osx_openglcore.py
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/ruamel/jobs/shared/constants.py
  .yamato/ruamel/jobs/templates/template_test.py
  .yamato/ruamel/jobs/templates/template_test_dependencies.py
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, yamato

#1501 [8.x.x backport] Backporting PR: https://github.com/Unity-Technologies/Graphics/pull/1431
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-basic-unlit-structure.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-color.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-normals.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-texture.md
Labels: universal

#1541 [10.x.x] Fixing an issue with ShaderPathID and logic errors in GetShaderGUID() and GetShaderPath() in ShaderUtils.cs
  com.unity.render-pipelines.universal/Runtime/ShaderUtils.cs
Labels: universal

#1544 [9.x.x Backport] Fixing an issue with ShaderPathID and logic errors in GetShaderGUID() and GetShaderPath() in ShaderUtils.cs
  com.unity.render-pipelines.universal/Runtime/ShaderUtils.cs
Labels: universal

#1542 [8.x.x Backport] Fixing an issue with ShaderPathID and logic errors in GetShaderGUID() and GetShaderPath() in ShaderUtils.cs
  com.unity.render-pipelines.universal/Runtime/ShaderUtils.cs
Labels: universal

#1545 [7.x.x Backport] Fixing an issue with ShaderPathID and logic errors in GetShaderGUID() and GetShaderPath() in ShaderUtils.cs
  com.unity.render-pipelines.universal/Runtime/ShaderUtils.cs
Labels: universal

#1548 [10.x.x] Add exit 0 to mklink command on Android automated builds
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
Labels: needs-backport-8.x, needs-backport-9.x, yamato

#1299 [9.x.x][Shader Graph] Fix Node Creation Request callback
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#1315 [9.x.x][Shader Graph] Fix Window Layout bugs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/MasterPreviewView.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphSubWindow.cs
  com.unity.shadergraph/Editor/Resources/Styles/InspectorView.uss
  com.unity.shadergraph/Editor/Resources/Styles/MasterPreviewView.uss
Labels: Shader Graph

#1300 [8.x.x][Shader Graph] Fix Node Creation Request callback
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#1301 [7.x.x][Shader Graph] Fix Node Creation Request callback
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#1552 [8.x.x] Add exit 0 to mklink command on Android automated builds
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
Labels: yamato

#1553 [9.x.x] Add exit 0 to mklink command on Android automated builds
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
Labels: yamato

#1557 use unique package artifact paths
  .yamato/_packages.yml
  .yamato/_preview_publish.yml
  .yamato/ruamel/jobs/packages/package_pack.py
  .yamato/ruamel/jobs/packages/package_publish.py
  .yamato/ruamel/jobs/packages/package_test.py
  .yamato/ruamel/jobs/packages/package_test_dependencies.py
  .yamato/ruamel/jobs/preview_publish/pb_promote.py
  .yamato/ruamel/jobs/shared/constants.py
  .yamato/ruamel/jobs/shared/yml_job.py
Labels: yamato

#1561 add missing commands to core package test
  .yamato/_abv.yml
  .yamato/_packages.yml
  .yamato/ruamel/jobs/abv/abv_all_project_ci.py
  .yamato/ruamel/jobs/packages/package_test.py
Labels: yamato

#1454 Sg/fix subgraphimport determinism
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/SerializableGuid.cs
  com.unity.shadergraph/Editor/Data/Graphs/ShaderInput.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphAsset.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
  com.unity.shadergraph/Editor/Serialization/JsonObject.cs
Labels: Shader Graph

#895 Universal/stencil override
  TestProjects/UniversalGraphicsTest/Assets/Scenes/029_Particles/Shaders/CustomParticleData.shader
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/DeferredRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalSpriteLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalSpriteUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/DeferredRendererData.cs
  com.unity.render-pipelines.universal/Runtime/Passes/GBufferPass.cs
  com.unity.render-pipelines.universal/Runtime/StencilUsage.cs
  com.unity.render-pipelines.universal/Runtime/StencilUsage.cs.meta
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Billboard.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainDetailLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitAdd.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrass.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrassBillboard.shader
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
  com.unity.render-pipelines.universal/Shaders/Utils/TileDeferred.shader
  com.unity.shadergraph/Editor/Generation/Descriptors/SubShaderDescriptor.cs
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
Labels: Shader Graph, ready-to-merge, testing, universal

#1494 [10.x.x] Fix for MSAA resolve performance on iOS/Metal
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, ready-to-merge, universal

#1280 [10.x.x] Fixed issue that causes color grading to not be correctly applied
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: needs-backport-7.x, needs-backport-8.x, universal

#1554 Fix for Light2D to separate light cookie
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: 2d, universal

#1424 [Automation][URP] URP nightly update testing
  .yamato/_abv.yml
  .yamato/all-urpupdate.yml
  .yamato/all-urpupdate_boatattack.yml
  .yamato/all-urpupdate_top_asset_store.yml
  .yamato/config/_abv.metafile
  .yamato/config/update_assetstore.metafile
  .yamato/config/update_boatattack.metafile
  .yamato/config/update_template.metafile
  .yamato/ruamel/build.py
  .yamato/ruamel/jobs/projects/commands/_cmd_mapper.py
  .yamato/ruamel/jobs/projects/commands/internal.py
  .yamato/ruamel/jobs/projects/project_not_standalone.py
  .yamato/ruamel/jobs/projects/project_standalone.py
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/ruamel/jobs/shared/constants.py
  .yamato/ruamel/metafile_parser.py
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_boatattack-win-dx11.yml
  .yamato/urpupdate_boatattack-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
Labels: needs-backport-8.x, yamato

#1590 Fixed DOTS light layers
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesFunctions.hlsl
Labels: HDRP

#1591 [10.x.x] Updating reference images for 125_CameraStackingVolumes.png on DX12
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/125_CameraStackingVolumes.png
Labels: universal

#1586 Uncomment adding backslashes to HYBRID_V1_CUSTOM_ADDITIONAL_MATERIAL_VARS generation
  com.unity.shadergraph/Editor/Generation/Processors/PropertyCollector.cs
Labels: Shader Graph, needs-backport-9.x

#1592 [8.x.x][Packages] Remove nightly publish
  .yamato/_projectcontext.yml
  .yamato/ruamel/jobs/packages/project_publish_all.py
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx, yamato

#1593 [7.x.x][Packages] Remove nightly publish
  .yamato/_projectcontext.yml
  .yamato/ruamel/jobs/packages/project_publish_all.py
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx, yamato

#1596 Backport Uncomment adding backslashes to HYBRID_V1_CUSTOM_ADDITIONAL_MATERIAL_VARS generation
  com.unity.shadergraph/Editor/Generation/Processors/PropertyCollector.cs
Labels: Shader Graph

#1589 Updated freeform light docs to warn about self intersection
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformFalloffIntersection0.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformFalloffIntersection1.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformOutlineIntersection0.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformOutlineIntersection1.png
  com.unity.render-pipelines.universal/Documentation~/LightTypes.md
Labels: 2d, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#1295 URP clear coat shader graph integration.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/PBRForwardPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalSpriteLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalSpriteUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalFields.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalFields.cs.meta
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Collections/DefineCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/DependencyCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/FieldCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/IncludeCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/KeywordCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/PassCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/PragmaCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/RenderStateCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/StructCollection.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/BlockFields.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/Fields.cs
Labels: Shader Graph, universal

#1602 [9.x.x] Backport of Freeform Docs Update
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformFalloffIntersection0.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformFalloffIntersection1.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformOutlineIntersection0.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformOutlineIntersection1.png
  com.unity.render-pipelines.universal/Documentation~/LightTypes.md
Labels: 2d, universal

#1603 [8.x.x] Backport of Freeform Docs Update
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformFalloffIntersection0.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformFalloffIntersection1.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformOutlineIntersection0.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformOutlineIntersection1.png
  com.unity.render-pipelines.universal/Documentation~/LightTypes.md
Labels: 2d, universal

#1604 [7.x.x] Backport of Freeform Docs Update
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformFalloffIntersection0.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformFalloffIntersection1.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformOutlineIntersection0.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2D_FreeformOutlineIntersection1.png
  com.unity.render-pipelines.universal/Documentation~/LightTypes.md
Labels: 2d, universal

#1600 [7.x.x] Backport PRs 1001, 973, 957
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
Labels: universal

#1565 [ShaderGraph] Fix for 1268483
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleVirtualTextureNode.cs
Labels: Shader Graph, needs-backport-9.x

#1617 reenable hdrp and urp hybrid playmodes in abv
  .yamato/all-hdrp.yml
  .yamato/all-universal.yml
  .yamato/config/hdrp.metafile
  .yamato/config/universal.metafile
Labels: yamato

#1573 [ShaderGraph] Fix null exception when subgraph conversion overwrites itself
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#1622 Auto bump the templates dependencies section (HD/Universal)
  .yamato/_preview_publish.yml
  .yamato/ruamel/jobs/preview_publish/pb_auto_version.py
  Tools/standalone/templates_auto_bumper.py
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
Labels: yamato

#1623 Fix HDRP. Move clear coat BlockFields from shared "core" to Universal
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalBlockFields.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/BlockFields.cs
Labels: Shader Graph, ready-to-merge, universal

#1598 [9.x.x] Backport PRs 1001, 973, 957
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
Labels: ready-to-merge, universal

#1599 [8.x.x] Backport PRs 1001, 973, 957
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
Labels: ready-to-merge, universal

#1625 Documentation updates for Master Stack, Graph Inspector, and Upgrade Guide
  com.unity.shadergraph/Documentation~/Block-Node.md
  com.unity.shadergraph/Documentation~/Built-In-Blocks.md
  com.unity.shadergraph/Documentation~/Graph-Settings-Menu.md
  com.unity.shadergraph/Documentation~/Graph-Target.md
  com.unity.shadergraph/Documentation~/Internal-Inspector.md
  com.unity.shadergraph/Documentation~/Master-Stack.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/Upgrade-Guide-10-0-x.md
Labels: Docs, Shader Graph, needs-backport-9.x

#914 [10.x][Shader Graph][Skip CI][Docs] Add VT Docs
  com.unity.shadergraph/Documentation~/Data-Types.md
  com.unity.shadergraph/Documentation~/Input-Nodes.md
  com.unity.shadergraph/Documentation~/Property-Types.md
  com.unity.shadergraph/Documentation~/Sample-Virtual-Texture-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/images/SampleVirtualTextureNodeThumb.png
Labels: Docs, Shader Graph, needs-backport-9.x

#1633 Documentation updates for Master Stack, Graph Inspector, and Upgrade Guide (9.0)
  com.unity.shadergraph/Documentation~/Block-Node.md
  com.unity.shadergraph/Documentation~/Built-In-Blocks.md
  com.unity.shadergraph/Documentation~/Data-Types.md
  com.unity.shadergraph/Documentation~/Graph-Settings-Menu.md
  com.unity.shadergraph/Documentation~/Graph-Target.md
  com.unity.shadergraph/Documentation~/Input-Nodes.md
  com.unity.shadergraph/Documentation~/Internal-Inspector.md
  com.unity.shadergraph/Documentation~/Master-Stack.md
  com.unity.shadergraph/Documentation~/Property-Types.md
  com.unity.shadergraph/Documentation~/Sample-Virtual-Texture-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/Upgrade-Guide-10-0-x.md
  com.unity.shadergraph/Documentation~/Upgrade-Guide-9-0-x.md
  com.unity.shadergraph/Documentation~/images/SampleVirtualTextureNodeThumb.png
Labels: Docs, Shader Graph

#1608 Add adaptive performance option to skip transparency pass
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#1642 Prevent templates autobumper from failing if dependencies don't change [skip ci]
  .yamato/_preview_publish.yml
  .yamato/ruamel/jobs/preview_publish/pb_auto_version.py
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, yamato

#1641 [10.x.x] Fixed warning about invalid temporary texture when binding color as 0
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: backported-7.x, backported-8.x, backported-9.x, universal

#1582 Added precomputed velocity test
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/AlembicFabricSG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/AlembicFabricSG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/AlembicHairSG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/AlembicHairSG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/AlembicStackLitSG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/AlembicStackLitSG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/AxF.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/AxF.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/EyeSG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/EyeSG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Lit.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Lit.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/LitSG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/LitSG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/LitTessellation.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/LitTessellation.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/LitTimeline.playable
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/LitTimeline.playable.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/MotionBlurProfile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/MotionBlurProfile.asset.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/New Animation.anim
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/New Animation.anim.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_EyeSG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_EyeSG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_FabricSG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_FabricSG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_HairSG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_HairSG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_LitSG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_LitSG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_StackLitSG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_StackLitSG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_UnlitSG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Shader Graphs_UnlitSG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/SuzanneAlembic.abc
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/SuzanneAlembic.abc.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Unlit.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/Unlit.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/UnlitBuiltin.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/UnlitBuiltin.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/UnlitSG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic/UnlitSG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4014_PrecomputedVelocityAlembic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4014_PrecomputedVelocityAlembic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4014_PrecomputedVelocityAlembic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4014_PrecomputedVelocityAlembic.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4014_PrecomputedVelocityAlembic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4014_PrecomputedVelocityAlembic.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4014_PrecomputedVelocityAlembic.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4014_PrecomputedVelocityAlembic.png.meta
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, testing

#1577 [9.x.x] Backports
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/125_CameraStackingVolumes.png.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/MaterialPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/DefaultScene/UniversalProjectSettings.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: testing, universal

#1458 [8.x.x] Backports
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/125_CameraStackingVolumes.png.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/MaterialPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/DefaultScene/UniversalProjectSettings.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#1626 [9.x.x][Shadergraph] Add missing ValidationConfig.json.meta
  com.unity.shadergraph/ValidationConfig.json.meta
Labels: Shader Graph

#1578 [7.x.x] Backports
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/125_CameraStackingVolumes.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/125_CameraStackingVolumes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/125_CameraStackingVolumes.png.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/MaterialPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/DefaultScene/UniversalProjectSettings.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: testing, universal

#1654 [Hybrid][URP] Update UniversalHybridTest to newer Hybrid package version (9.x.x/release)
  TestProjects/UniversalHybridTest/Assets/SampleScenes/TestSkinnedMeshes/ComputeSubScene.unity
  TestProjects/UniversalHybridTest/Assets/SampleScenes/TestSkinnedMeshes/LBSSubScene.unity
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/packages-lock.json
Labels: testing, universal

#1655 [Hybrid][URP] Update UniversalHybridTest to newer Hybrid package version (master)
  TestProjects/UniversalHybridTest/Assets/SampleScenes/TestSkinnedMeshes/ComputeSubScene.unity
  TestProjects/UniversalHybridTest/Assets/SampleScenes/TestSkinnedMeshes/LBSSubScene.unity
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/packages-lock.json
Labels: testing, universal

#1488 [Backport] [ShaderGraph] [VT] Fixes to VT and package compatibility with DOTS
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Graphs/SerializableVirtualTexture.cs
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleVirtualTextureNode.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphAsset.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/SampleVirtualTextureNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
Labels: Shader Graph

#1640 [8.x.x][backport] #432 stencil serialization issue
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/RenderStateDataEditor.cs
Labels: universal

#1638 [7.x.x][backport] #432 stencil serialization issue
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/RenderStateDataEditor.cs
Labels: universal

#1660 Temporarily make Nightly use fast-trunk instead of trunk [skip ci]
  .yamato/_abv.yml
  .yamato/config/_abv.metafile
Labels: yamato

#1650 [Fix] Case 1224915 : Integrated Post-Processing Blur flickers
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/PostProcessing/Bloom.shader
Labels: universal

#1614 Cache graphics format support for all kinds of usages
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#1580 Hdrp/docs/shader additions
  com.unity.render-pipelines.high-definition/Documentation~/Autodesk-Interactive-Shader-Masked.md
  com.unity.render-pipelines.high-definition/Documentation~/Autodesk-Interactive-Shader-Transparent.md
  com.unity.render-pipelines.high-definition/Documentation~/Autodesk-Interactive-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/AxF-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Layered-Lit-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Lit-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Lit-Tessellation-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Fabric.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Hair.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Lit.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Unlit.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Ambient-Occlusion.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Contact-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Diffusion-Profile.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Exposure.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Fog.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Gradient-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-HDRI-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Indirect-Lighting-Controller.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Micro-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Procedural-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Refraction.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Visual-Environment.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/Terrain-Lit-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Unlit-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/Volume-Override-Enable-Override.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/Volume-Override-Enable-Properties.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/ao-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/base-color.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/color-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/emissive-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/emissive.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/mask-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/mask-threshold.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/metallic-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/metallic.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/normal-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/opacity.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/roughness-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/roughness.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/use-ao-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/use-color-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/use-emissive-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/use-metallic-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/use-normal-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/use-opacity-map(mask).md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/use-opacity-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/use-roughness-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/uv-offset.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/autodesk-interactive/uv-scale.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/general/double-sided-global-illumination.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/general/emission-global-illumination.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/general/emission.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/general/enable-gpu-instancing.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/general/motion-vector-for-vertex-animation.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1601 Added information about HDRP not upgrading particle shaders
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-To-HDRP.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1611 Changed cog to gear to adhere to style guide rules
  com.unity.render-pipelines.high-definition/Documentation~/Customizing-HDRP-materials-with-Shader-Graph.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Decal.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Lit.md
  com.unity.render-pipelines.high-definition/Documentation~/More-Options.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Recursive-Rendering.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/Terrain-Lit-Shader.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1631 Added build settings setup to ray tracing getting started
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1663 removed com.unity.purchasing dependency from hybrids
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
Labels: HDRP, testing, universal

#1349 Combine XR occlusion meshes into one when using single-pass
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/DeferredRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/XROcclusionMeshPass.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRPass.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
  com.unity.render-pipelines.universal/Shaders/XR/XROcclusionMesh.shader
Labels: Shader Graph, XR, ready-to-merge, testing, universal

#1637 Updating git ignore to exclude merge generated orig files
  .gitignore
Labels: ready-to-merge

#1475 Fixing gaussian dof/bokeh dof/ssao/fxaa/motion blur to work with dynamic resolution
  TestProjects/UniversalGraphicsTest/Assets/Scenes/133_DepthOfField_DynamicResolution.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/133_DepthOfField_DynamicResolution.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/133_DepthOfField_DynamicResolution.unity.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/133_DepthOfField_DynamicResolution/SetDynamicResolution.cs
  TestProjects/UniversalGraphicsTest/Assets/Scenes/133_DepthOfField_DynamicResolution/SetDynamicResolution.cs.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/PostProcessUtils.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/ShaderLibrary/SSAO.hlsl
  com.unity.render-pipelines.universal/Shaders/PostProcessing/BokehDepthOfField.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/CameraMotionBlur.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/FinalPost.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/GaussianDepthOfField.shader
Labels: ready-to-merge, universal

#1447 2D Renderer Code Refactor
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DMenus.cs
  com.unity.render-pipelines.universal/Editor/2D/SortingLayerDropDown.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DAuthoring.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DAuthoring.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/Light2DCullResult.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DCullResult.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/Light2DManager.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DManager.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/Light2DPoint.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DShape.cs
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/Light2DLookupTexture.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DDataAuthoring.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DDataAuthoring.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/CompositeShadowCaster2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/CompositeShadowCaster2D.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCaster2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCaster2D.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCasterGroup2DManager.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs.meta
  com.unity.render-pipelines.universal/Tests/Runtime/Light2DTests.cs
Labels: 2d, ready-to-merge, universal

#1664 [9.x.x][backport] removed com.unity.purchasing dependency from hybrids
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
Labels: HDRP, testing, universal

#1098 Fix an issue where world space UI was not emitted for reflection cameras in HDRP [Depends on C++]
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1527 Fixed the update condition of cookie atlas and added doc for render texture cookies update.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture2DAtlas.cs
Labels: HDRP

#1519 Updated doc for the newly added debug mode for cluster display.
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
Labels: HDRP

#1529 Fixed an issue where only one of the two lookdev views would update when changing the default lookdev volume profile.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LookDev.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1570 GFXGI-237: Force update for static skies when camera type is set to S…
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1667 Fixed issue introduced by PR #1527
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture2DAtlas.cs
Labels: HDRP

#1562 Added propagating nans doc
  com.unity.render-pipelines.high-definition/Documentation~/Images/Post-processingPropagatingNaNsExample1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Post-processingPropagatingNaNsExample2.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Post-processingPropagatingNaNsExample3.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Post-processingPropagatingNaNsExample4.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Post-processingPropagatingNaNsRenderDoc.png
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Propagating-NaNs.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1558 Fixed a bug related to light cluster invalidation
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP, dxr

#1669 Revert "[Yamato] Temporarily make nightly use fast-trunk (#1660)" [skip ci]
  .yamato/_abv.yml
  .yamato/config/_abv.metafile
Labels: yamato

#1636 [VT] [Bugfix] [UI] Removed redundant offset to override list items.
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/VirtualTexturingSettingsUI.cs
Labels: HDRP

#1528 [10.x.x] Bugfix 263514: Additional lights per-pixel variants are stripped if any URP Asset has per-vertex
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#1649 [10.x.x][bugfix] camera prefab property not getting bold and highlighted fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: needs-backport-7.x, needs-backport-8.x, universal

#1340 [VFX/SG] Workflow improvement with SG
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/ReferenceSampleColor.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/ReferenceSampleColor.shadergraph
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/ReferenceSampleColor.shadergraph.meta
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/ReferenceSampleDepth.shadergraph
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/SampleColorUnlit.shadergraph
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/SampleDepthUnlit.shadergraph
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/SampleScene.vfx
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/AssetCallbacks/CreateVFXShaderGraph.cs
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Generation/ShaderGraphVfxAsset.cs
  com.unity.shadergraph/Editor/Generation/Targets/VFXTarget.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Unity.ShaderGraph.Editor.asmdef
  com.unity.shadergraph/Tests/Editor/UnitTests/TargetTests.cs
  com.unity.shadergraph/Tests/Editor/Unity.ShaderGraph.Editor.Tests.asmdef
Labels: Shader Graph, testing, vfx

#1681 Update D3D12 test ref pics for 130_ClearCoat/UniversalGraphicsTest.
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/130_ClearCoat.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/130_ClearCoat.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/130_ClearCoat.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/130_ClearCoat.png.meta
Labels: ready-to-merge, testing, universal

#1534 [9.x.x] Property Display Name fixes
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardProvider.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/PropertyNodeView.cs
Labels: Shader Graph

#1657 9.x.x Backport adaptive performance transparency scaler
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Unity.RenderPipelines.Universal.Runtime.asmdef
Labels: universal

#1658 8.x.x Backport adaptive performance transparency scaler
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Unity.RenderPipelines.Universal.Runtime.asmdef
Labels: universal

#1659 7.x.x Backport adaptive performance transparency scaler
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Unity.RenderPipelines.Universal.Runtime.asmdef
Labels: universal

#1405 [VFX] Fix incorrect AlphaTreshold listing
  com.unity.shadergraph/Editor/Generation/ShaderGraphVfxAsset.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphParticleOutput.cs
Labels: Shader Graph, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, vfx

#1696 Bugfix for HDRenderPipelineAsset getting set to null when running uni…
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDCubemapInspector.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1701 [10.x.x] Update GLES3 and iOS reference images for test 035
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/047_Lighting_DirectionalCascades.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/144_SSAO_RenderToBackBuffer.png
Labels: testing, universal

#1662 Prevent Auto version job from running twice
  .yamato/_preview_publish.yml
  .yamato/ruamel/jobs/preview_publish/pb_auto_version.py
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, yamato

#1708 Pack & Test Templates
  .yamato/_templates.yml
  .yamato/ruamel/jobs/templates/template_test.py
  .yamato/ruamel/jobs/templates/template_test_dependencies.py
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, yamato

#1695 [Yamato] Update mac image
  .yamato/config/__shared.metafile
  .yamato/docs/readme.md
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/universal-osx-openglcore.yml
  .yamato/vfx_urp-osx-openglcore.yml
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, yamato

#1698 Implement Custom Post Process for Render Graph and minox fixes
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1802_Depth_Pre_Post_Lit.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1803_Depth_Pre_Post_LitTess.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1804_Depth_Pre_Post_SG.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4052_TAA.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4053_TAA-FP16Alpha.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4060_CustomPostProcess.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8103_PrePostPass.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9303_MotionVectorsDisabled.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9800_Compositor.unity
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraphUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingRecursiveRenderer.cs
Labels: HDRP, testing
