Repository Unity-Technologies/Graphics, pull requests merged in 2020-06, with the labels that each got.

#687 Fix exposure debug with XR single-pass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugExposure.shader
Labels: HDRP, XR

#685 [Draft] Fix upgrade of Unlit and PBR cross pipeline SG to HD SG [Skip CI]
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDMetadata.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.shadergraph/Editor/Data/Legacy/PBRMasterNode1.cs
  com.unity.shadergraph/Editor/Data/Legacy/UnlitMasterNode1.cs
Labels: HDRP, Shader Graph

#680 [10.0.0] Remove player connection argument from Android URP test runs [skip ci]
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
Labels: universal, yamato

#683 Added missing XR ifdef in UniversalGraphicsTests
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/UniversalGraphicsTests.cs
Labels: XR, testing, universal

#673 Fix spelling error in Adaptive performance code
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#655 DOC-1978 Replaced the links to the old ScriptableRenderPipeline repo.
  com.unity.render-pipelines.universal/Documentation~/faq.md
  com.unity.shadergraph/README.md
  com.unity.template-hd/Packages/com.unity.template.hd/Documentation~/hd.md
  com.unity.template-hd/README.md
Labels: Shader Graph, needs-backport-7.x, needs-backport-8.x, universal

#694 [10.x.x] Disable scene 119 for Android Vulkan URP tests [skip ci]
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: needs-backport-8.x, needs-backport-9.x, testing, universal

#696 [8.x.x] Disable scene 119 for Android Vulkan URP tests [skip ci]
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#695 [9.x.x] Disable scene 119 for Android Vulkan URP tests [skip ci]
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#607 Render Graph Unit Tests
  com.unity.render-pipelines.core/Runtime/Common/DynamicArray.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Tests/Editor/RenderGraphTests.cs
  com.unity.render-pipelines.core/Tests/Editor/RenderGraphTests.cs.meta
Labels: SRP

#702 Increase max limit in UX of lights
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
Labels: HDRP

#700 Add clearCoat option in Lit target to be able to disable it.
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/LitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/LitSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDFields.cs
Labels: HDRP

#705 Fix null reference in volume debug menu
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/VolumeDebug.cs
Labels: HDRP

#704 Update reference image for "502_RecursiveRenderingDisabled"
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/502_RecursiveRenderingDisabled.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/502_RecursiveRenderingDisabled.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RecursiveRenderingData/M_LitRecursiveTransparentSG.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RecursiveRenderingData/M_RecursiveTransparent.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RecursiveRenderingData/SG_LitRecursiveRendering.shadergraph
Labels: HDRP, dxr, testing

#698 Fix transparent movec scene view
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#692 [9.x.x] Disable playmode stereo tests
  .yamato/upm-ci-universal_stereo.yml
Labels: yamato

#703 Add protection in migration when rendering pass was set to background
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.Migration.cs
Labels: HDRP

#599 Custom Middle grey for auto exposure
  com.unity.render-pipelines.core/Runtime/Utilities/ColorUtils.cs
  com.unity.render-pipelines.core/ShaderLibrary/PhysicalCamera.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ExposureEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugExposure.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Exposure.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/Exposure.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ExposureCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/HistogramExposure.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/HistogramExposureCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#691 Fix RenderQueue generation for HDRP code
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/LightingSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.Migration.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
Labels: HDRP

#718 [Draft] Fix test 8015_Blendstate_b [Skip CI]
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8105_BlendStates/FabricGraph/Shader Graphs_FabricGraphZWriteGreaterEqual.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8105_BlendStates/FabricGraph/Shader Graphs_FabricGraphZWriteOn.mat
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8105_BlendStates_b.png
Labels: HDRP, testing

#711 Hybrid Disable Package Update
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
Labels: HDRP, backported-9.x, testing, universal

#712 [9.x.x] Hybrid Disable Package Update
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
Labels: HDRP, testing, universal

#227 Custom Pass API part 2
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/9702_LitUV.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/9702_LitUV.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/Copy.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/CubePyramid.prefab
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/CubePyramid.prefab.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/OverrideCamera.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/OverrideCamera.cs.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9702_CustomPass_API.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9702_CustomPass_API.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9702_CustomPass_API.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9702_CustomPass_API.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9702_CustomPass_API.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9702_CustomPass_API.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9702_CustomPass_API.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9702_CustomPass_API.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/9702_CustomPass_API.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/9702_CustomPass_API.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/9702_CustomPass_API.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/9702_CustomPass_API.png.meta
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassRenderersUtils.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassRenderersUtils.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
Labels: HDRP

#569 Handling 3dsMax's Simplified Physical Material import.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
Labels: HDRP, universal

#729 Fix issue with fixed exposure post custom middle-grey PR
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP

#714 [10.x.x] Update Android job generating file [skip ci]
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
Labels: yamato

#699 Fix some NaNs issues on consoles
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightCookieManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/PlanarReflectionProbeCache.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#717 Path tracer: added support for transparency on the Unlit shader.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5007_PathTracing_Materials_SG_Unlit.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/5007_PathTracing_Materials_SG_Unlit.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
Labels: HDRP

#715 Fixed a vulkan and metal warning in the SSGI compute shader.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#536 [Skip CI] Virtual Texturing cache settings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedHDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedVirtualTexturingSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedVirtualTexturingSettings.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/VirtualTexturingSettingsUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/VirtualTexturingSettingsUI.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/VirtualTexturingSettingsSRP.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/VirtualTexturingSettingsSRP.cs.meta
Labels: HDRP, Shader Graph

#732 Fix path traced DoF focusing issue
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoF.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoF.png.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP, testing

#738 Run git add . --renormalize on master to fix mistmach end of line issue
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalStructFields.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalStructs.cs
  com.unity.shadergraph/Documentation~/Shader-Graph-Preferences.md
  com.unity.shadergraph/Editor/Data/Interfaces/IInspectable.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Extensions/FieldExtensions.cs
  com.unity.shadergraph/Editor/Extensions/IConditionalExtensions.cs
  com.unity.shadergraph/Editor/Extensions/StencilExtensions.cs
  com.unity.shadergraph/Editor/Generation/Descriptors/StencilDescriptor.cs
  com.unity.shadergraph/Editor/Generation/Enumerations/ShaderModel.cs
Labels: HDRP, Shader Graph, universal

#614 Bump test packages versions for RuntimeTests
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
Labels: HDRP, testing

#628 Hdrp/docs/volumetric lighting format fix
  com.unity.render-pipelines.high-definition/Documentation~/Diffusion-Profile.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/VolumetricLighting1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/VolumetricLighting2.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Diffusion-Profile.md
  com.unity.render-pipelines.high-definition/Documentation~/Subsurface-Scattering.md
  com.unity.render-pipelines.high-definition/Documentation~/Volumetric-Lighting.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#629 Adds mention of FidelityFX CAS
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#641 Updated XR mirrorview logic
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, XR, needs-backport-8.x, needs-backport-9.x

#682 Adds clarification on how the Penumbra Tint property works
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#706 Orthographic disclaimer
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#710 Hdrp/pt pass no bsdf data
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
Labels: HDRP

#747 Update VFX after linear gradient changes + add missing meta
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/05_MotionVectors.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/09_AttributeMaps.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/11_SpaceBis.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/13_Decals.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/14_DecalsFlipBook.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/21_DepthModules.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/24_MotionVector.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/24_MotionVector_Local.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/AngularVelocity.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/PositionDepthOperator/Position(Depth) - Camera.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/PositionDepthOperator/Position(Depth) - Mode.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene.unity
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/LightingData.asset
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleSceneSettings.lighting
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/Unlit/AllUVs.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/Unlit/UVColorLerp.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/Unlit/VertexColor.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/SubgraphContext/SimpleGraph.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/SubgraphEventTransmission/VFXContainer.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/SubgraphEventTransmission/VFXSubgraph_Cat.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/SubgraphEventTransmission/VFXSubgraph_Cow.vfx
  TestProjects/VisualEffectGraph/Assets/AllTests/VFXTests/GraphicsTests/SubgraphEventTransmission/VFXSubgraph_DogNoSpawn.vfx
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/002_Gradient.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/003_EventAttribute.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/005_PlanarPrimitives.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/06_LineOutput.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/07_UnityLogo.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/08_Shadows.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/15_CubeAndMesh.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/16_CullingMode.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/17_GPUEvent_Simple.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/17_SoftParticles.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/23_ParameterBinders.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/AngularVelocity.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/GradientMapped.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/Noise.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/ParticleRibbonLit.png.meta
  TestProjects/VisualEffectGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/ParticleStripUnlit.png.meta
  TestProjects/VisualEffectGraph/Assets/Tests/TransparencyOverdraw/UnityLogoAfterPostProcess.vfx
  TestProjects/VisualEffectGraph/Assets/Tests/TransparencyOverdraw/UnityLogoDefault.vfx
  TestProjects/VisualEffectGraph/Assets/Tests/TransparencyOverdraw/UnityLogoLowRes.vfx
  TestProjects/VisualEffectGraph/Assets/Tests/TransparencyOverdraw/UnityLogoPreRefraction.vfx
  TestProjects/VisualEffectGraph/ProjectSettings/EditorSettings.asset
  TestProjects/VisualEffectGraph/ProjectSettings/GraphicsSettings.asset
  com.unity.testing.visualeffectgraph/Scenes/007_MeshSampling.vfx
  com.unity.testing.visualeffectgraph/Scenes/009_MultiCamera.vfx
  com.unity.visualeffectgraph/Editor/Templates/Simple Particle System.vfx
Labels: testing, vfx

#713 Pre warm RT Handle system so that reallocations are reduced.
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#725 Various fixes for Graphics tests with Render Graph
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphPass.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Tests/Editor/RenderGraphTests.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, testing, yamato

#597 Various fix and improvements for ray traced effects
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/301_GlobalIlluminationPerfFull.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/302_GlobalIlluminationPerfHalf.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/304_GlobalIlluminationDenoised1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/305_GlobalIlluminationDenoisedHalf1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/306_GlobalIlluminationDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/307_GlobalIlluminationFog.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/FabricRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairRayTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLitRayTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StandardLit/StandardLit.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/StandardLit/StandardLit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StandardLit/StandardLit.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/StandardLit/StandardLit.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/StandardLit/StandardLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingGBuffer.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingIntersectonGBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingFragInputs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingReflectionFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingGBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingVisibility.hlsl
Labels: HDRP, dxr

#723 Procedural metering mask that follows target
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ExposureEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/SerializedHDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugExposure.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Exposure.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/Exposure.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ExposureCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/HistogramExposure.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#724 Added presets quality settings for RTAO and RTGI.
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/AmbientOcclusionData/LargeAmbientOcclusionDenoised.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/AmbientOcclusionData/LargeAmbientOcclusionNoisy.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/AmbientOcclusionData/LocalAmbeintOcclusionDenoised.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/AmbientOcclusionData/LocalAmbientOcclusionNoisy.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised1.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised1Half.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised2.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationFog.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationPerfFull.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationPerfHalf.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/AmbientOcclusionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
Labels: HDRP, dxr, testing

#749 [10.x.x] Fix variable name that changed in recent PR in master.
  com.unity.render-pipelines.universal/Shaders/PostProcessing/BokehDepthOfField.shader
Labels: universal

#648 Added an override for the shadow culling that allows better directional shadow maps in ray tracing effects (RTR, RTGI, RTSSS and RR).
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/708_ShadowExtendedCulling.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/708_ShadowExtendedCulling.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/708_ShadowExtendedCulling.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/708_ShadowExtendedCulling.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/ShadowExtendedCullingVolume.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/ShadowExtendedCullingVolume.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RayTracingSettingsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RayTracingSettingsEditor.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingSettings.cs
Labels: HDRP, dxr, testing

#753 Update preview naming in raytrace component
  com.unity.render-pipelines.high-definition/Documentation~/Volume-Components.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/AmbientOcclusionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/Fog.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubSurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/LightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RecursiveRendering.cs
Labels: HDRP

#754 Introduce LightLoop output structure
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.3-to-2020.1.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Deferred.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/Deferred.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/DeferredTile.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/SimpleLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingLightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingIndirect.hlsl
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXLitPixelOutput.hlsl
Labels: HDRP

#733 Fix rendering when XrMaxViews is different than 2
  TestProjects/HDRP_DXR_Tests/LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs
Labels: HDRP

#517 Improve transition between LOD for lit and layeredLit tessellation
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.3-to-2020.1.md
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitDataDisplacement.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitDataDisplacement.hlsl
Labels: HDRP, needs-backport-8.x, needs-backport-9.x

#767 [7.x.x] Bump package version to 7.5.0
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Documentation.cs
  com.unity.render-pipelines.core/ShaderLibrary/Version.hlsl
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Documentation.cs
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Util/Documentation.cs
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#769 Fix ray tracing with XR single-pass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRayTracingSubSurface.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingGBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingIndirect.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingVisibility.hlsl
Labels: HDRP, XR, dxr

#766 Reviewed new additions to upgrade guides
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.3-to-2020.1.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
Labels: Docs, HDRP, backported-8.x, backported-9.x

#764 [10.x.x] Bugfix: OpenGL compiler issues when using deferred
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Shaders/Utils/Deferred.hlsl
Labels: universal

#759 Probe Volumes: Update SampleBakedGI() API
  com.unity.render-pipelines.core/ShaderLibrary/EntityLighting.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinGIUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
Labels: HDRP, SRP

#337 Initial implementation for the new planar reflection filtering
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2501_LightLayers.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2203_PlanarProbes.png
  com.unity.render-pipelines.core/ShaderLibrary/GeometricTools.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/ImageBasedLighting.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/PlanarReflectionFiltering.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/PlanarReflectionFiltering.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/PlanarReflectionProbeCache.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/IBLFilterCharlie.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/IBLFilterGGX.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/IBLFilterBSDF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/SimpleLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderUtilities.cs
Labels: HDRP

#780 [Skip CI] [Shader Graph] Fix Keyboard Navigation in Create node menu
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
Labels: Shader Graph, high-priority

#666 Fix SRP virtualtexturing api 9.x.x backport
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/LowResolutionRequester.cs
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/package.json
  com.unity.testing.hdrp/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, Shader Graph, testing

#772 Fast memory support
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandle.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#762 Built-in Standard Terrain material upgrade path for HDRP
  com.unity.render-pipelines.high-definition/Editor/Material/TerrainLit/StandardsTerrainToHDTerrainLitUpgrader.cs
  com.unity.render-pipelines.high-definition/Editor/Material/TerrainLit/StandardsTerrainToHDTerrainLitUpgrader.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Upgraders/UpgradeStandardShaderMaterials.cs
Labels: HDRP

#728 Add render graph specific pipeline to HDRP tests.
  .yamato/all-hdrp.yml
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/ruamel/config/__shared.metafile
  .yamato/ruamel/config/hdrp.metafile
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2402_Area_Rect_Shadow.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2501_LightLayers.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2601_SSAO_HalfRes.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2602_SSAO_FullRes.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2701_TransparentSSR.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3002_DebugLightLayers.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4011_MotionBlur_PerObject.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4013_TransparentMotionVector.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4021_LensDistortion.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4022_PaniniProjection.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4051_SMAA.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4052_TAA.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4053_TAA-FP16Alpha.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4060_CustomPostProcess.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4080_DepthOfField.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4081_DepthOfField-FP16Alpha.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5009_HDRI_Sky_Flow.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8103_PrePostPass.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8106_UnlitShadowMatte.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9401_MSAAForwardBoth.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9401_MSAAForwardOnly.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9402_AlphaToMask-Graph.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9402_AlphaToMask-HDRP.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9500_LightScripting.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9601_SkinnedMeshBatching-Off.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9602_SkinnedMeshBatching-On.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9603_MeshRendererBatching-Off.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9604_MeshRendererBatching-On.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9700_CustomPass_FullScreen.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9701_CustomPass_DrawRenderers.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9800_Compositor.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers.unity
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.testing.hdrp/TestRunner/HDRP_GraphicTestRunner.cs
  com.unity.testing.hdrp/TestRunner/HDRP_TestSettings.cs
Labels: HDRP, testing, yamato

#774 Added CPU and GPU timings for ray tracing effects.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP, dxr

#760 Workaround for GetKernelThreadGroupSizes returning wrong data
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/LutBuilder3D.compute
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#438 Fix issue causing asset dependencies to be ignored
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph, needs-backport-9.x

#782 Fixed the distanced based denoising being exposed for area lights (1251558).
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
Labels: HDRP, dxr

#791 Fix an issue with Fast memory code trying to access deleted resources when rendergraph is enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#790 Update Reflection-Probe
  com.unity.render-pipelines.high-definition/Documentation~/Reflection-Probe.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#773 HDRP sub targets refactor
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyePass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/LitSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DistortionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/LightingSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitDistortionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDFields.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/TargetData/LightingData.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/TargetData/SystemData.cs
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Generation/Contexts/TargetActiveBlockContext.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
Labels: HDRP

#761 Sanitize transparent motion vectors setting
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#784 Upgrade hybrid package version in UniversalHybridTest
  .yamato/upm-ci-universal_hybrid.yml
  TestProjects/UniversalHybridTest/Assets/Tests/Editor/GraphicsBuildconfig_Mac.buildconfiguration
  TestProjects/UniversalHybridTest/Assets/Tests/Editor/GraphicsBuildconfig_Win.buildconfiguration
  TestProjects/UniversalHybridTest/Assets/Tests/Editor/SetupGraphicsTestCases.cs
  TestProjects/UniversalHybridTest/Assets/Tests/Editor/TestEditor.asmdef
  TestProjects/UniversalHybridTest/Assets/Tests/Runtime/GraphicsTests.cs
  TestProjects/UniversalHybridTest/Packages/manifest.json
Labels: testing, universal, yamato

#793 Upgrade hybrid package version in HDRP_HybridTests
  .yamato/upm-ci-hdrp_hybrid.yml
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestHDRPLitProperties.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestLayerParams.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestMatrixPrevious/MoveBallsSystem.cs
  TestProjects/HDRP_HybridTests/Assets/Tests/Editor/SetupGraphicsTestCases.cs
  TestProjects/HDRP_HybridTests/Packages/manifest.json
Labels: HDRP, testing, yamato

#775 [10.x.x] Merge Hdrp/staging [Skip CI]
  TestProjects/HDRP_DXR_Tests/LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5010_CloudLayer.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2501_LightLayers.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None.meta
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandle.cs
  com.unity.render-pipelines.core/ShaderLibrary/EntityLighting.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/GeometricTools.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/ImageBasedLighting.hlsl
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.3-to-2020.1.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/TerrainLit/StandardsTerrainToHDTerrainLitUpgrader.cs
  com.unity.render-pipelines.high-definition/Editor/Material/TerrainLit/StandardsTerrainToHDTerrainLitUpgrader.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Upgraders/UpgradeStandardShaderMaterials.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/PlanarReflectionFiltering.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/PlanarReflectionFiltering.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/PlanarReflectionProbeCache.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinGIUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/IBLFilterCharlie.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/IBLFilterGGX.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/IBLFilterBSDF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitDataDisplacement.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitDataDisplacement.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/SimpleLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/LutBuilder3D.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderUtilities.cs
Labels: HDRP, testing

#763 Increased path tracing roughness range.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5001_PathTracing.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5003_PathTracing_transparency.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5004_PathTracing_arealight.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoF.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5007_PathTracing_Materials_SG_Lit.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
Labels: HDRP, dxr

#798 Upgrade guide - custom passes
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
Labels: Docs, HDRP

#799 Force post process parent setting to be before child settings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#690 Add support for mobile ASTC-compatible DXT5nm normal maps
  com.unity.render-pipelines.core/ShaderLibrary/Packing.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Sampling/SampleUVMappingInternal.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: SRP

#801 Fix exposure white flash when enabling SSGI or SSR
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP

#768 [8.x.x backport] 8.x.x/universal/backport/main tex attributes
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
Labels: universal

#787 [10.x.x] Disabling test 126_RendererFeatureActive
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#803 Various fixes related to SSGI and RTGI
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/301_GlobalIlluminationPerfFull.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/302_GlobalIlluminationPerfHalf.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/303_GlobalIlluminationQuality.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/304_GlobalIlluminationDenoised1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/305_GlobalIlluminationDenoisedHalf1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/306_GlobalIlluminationDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/307_GlobalIlluminationFog.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/803_SubSurfaceScatteringGlobalIllumination.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/803_SubSurfaceScatteringGlobalIllumination.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/803_SubSurfaceScatteringGlobalIllumination.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/803_SubSurfaceScatteringGlobalIllumination.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised1.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised1Half.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationPerfFull.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationPerfHalf.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationQuality.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/HDRenderPipelineAsset_SSSGI.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/HDRenderPipelineAsset_SSSGI.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_GrayLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_GrayLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_OrangeLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_OrangeLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_TurquoiseLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_TurquoiseLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/New Lighting Settings.lighting
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/New Lighting Settings.lighting.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/SubSurfaceGlobalIlluminationVolume.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/SubSurfaceGlobalIlluminationVolume.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/SubSurface/RayTracingSubSurface.compute
Labels: HDRP, dxr, testing

#804 [10.x.x] Merge Hdrp/staging [Skip CI]
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/301_GlobalIlluminationPerfFull.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/302_GlobalIlluminationPerfHalf.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/303_GlobalIlluminationQuality.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/304_GlobalIlluminationDenoised1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/305_GlobalIlluminationDenoisedHalf1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/306_GlobalIlluminationDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/307_GlobalIlluminationFog.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5001_PathTracing.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5003_PathTracing_transparency.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5004_PathTracing_arealight.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoF.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5007_PathTracing_Materials_SG_Lit.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/803_SubSurfaceScatteringGlobalIllumination.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/803_SubSurfaceScatteringGlobalIllumination.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/803_SubSurfaceScatteringGlobalIllumination.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/803_SubSurfaceScatteringGlobalIllumination.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised1.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised1Half.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationPerfFull.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationPerfHalf.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationQuality.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/HDRenderPipelineAsset_SSSGI.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/HDRenderPipelineAsset_SSSGI.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_GrayLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_GrayLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_OrangeLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_OrangeLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_TurquoiseLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/M_TurquoiseLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/New Lighting Settings.lighting
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/New Lighting Settings.lighting.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/SubSurfaceGlobalIlluminationVolume.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/SubSurfaceScatteringData/SubSurfaceGlobalIlluminationVolume.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/SubSurface/RayTracingSubSurface.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, testing

#771 Pr 107417 dennisd gtf
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph/Packages/manifest.json
  TestProjects/VisualEffectGraph_LWRP/Packages/manifest.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx

#656 Enable DX12, Vulkan and Metal standalone tests [Skip CI]
  .yamato/all-hdrp.yml
  .yamato/config/hdrp.metafile
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/001-HDTemplate.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/001-HDTemplate.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/002-HDMaterials.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/002-HDMaterials.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/001-HDTemplate.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/001-HDTemplate.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/002-HDMaterials.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/002-HDMaterials.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/003-VirtualTexturing.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/003-VirtualTexturing.png.meta
  TestProjects/HDRP_RuntimeTests/ProjectSettings/ProjectSettings.asset
Labels: yamato

#788 Fix transparent/opaque motion vector inconsistencies by allowing camera-only transparent motion vectors
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/MotionVectorVertexShaderCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
Labels: HDRP

#805 [skip ci] Made VT settings classes internal rather than private/public
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedVirtualTexturingSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/VirtualTexturingSettingsUI.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/VirtualTexturingSettingsSRP.cs
Labels: HDRP

#808 [Tests] Graphics tests for LBS and Compute nodes (HDRP) [skip CI]
  TestProjects/HDRP_HybridTests/Assets/HDRPSettings/HybridHDRPSamplesBuildSettings.buildconfiguration
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/TestSkinnedMeshes.png
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/TestSkinnedMeshes.png.meta
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/TestSkinnedMeshes.png
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/TestSkinnedMeshes.png.meta
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/TestSkinnedMeshes.png
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/TestSkinnedMeshes.png.meta
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/TestSkinnedMeshes.png
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/TestSkinnedMeshes.png
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/TestSkinnedMeshes.png
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/TestSkinnedMeshes.png.meta
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/TestSkinnedMeshes.png
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/TestSkinnedMeshes.png.meta
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/TestSkinnedMeshes.png
  TestProjects/HDRP_HybridTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/TestSkinnedMeshes.png.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes.unity.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/ComputeSubScene.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/ComputeSubScene.unity.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/LBSSubScene.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/LBSSubScene.unity.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/LitComputeSkinningGraph.shadergraph
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/LitComputeSkinningGraph.shadergraph.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/LitComputeSkinningMaterial.mat
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/LitComputeSkinningMaterial.mat.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/LitLBSGraph.shadergraph
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/LitLBSGraph.shadergraph.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/LitLBSMaterial.mat
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/LitLBSMaterial.mat.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/Terraformer_A.fbx
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestSkinnedMeshes/Terraformer_A.fbx.meta
  TestProjects/HDRP_HybridTests/Assets/Tests/Editor/GraphicsBuildconfig_Mac.buildconfiguration
  TestProjects/HDRP_HybridTests/Assets/Tests/Editor/GraphicsBuildconfig_Win.buildconfiguration
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/ProjectSettings/EditorBuildSettings.asset
  TestProjects/HDRP_HybridTests/ProjectSettings/ProjectSettings.asset
Labels: HDRP, testing

#802 Removed Burst dependency.
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/package.json
Labels: universal

#386 Moved matrices to 3x4
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestMatrixPrevious/MoveBallsSystem.cs
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/packages-lock.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/packages-lock.json
  com.unity.render-pipelines.core/Runtime/AssemblyInfo.cs
  com.unity.render-pipelines.core/Runtime/Unity.RenderPipelines.Core.Runtime.asmdef
  com.unity.render-pipelines.core/ShaderLibrary/UnityDOTSInstancing.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/UnityInstancing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/UniversalDOTSInstancing.hlsl
Labels: HDRP, SRP, universal

#834 [7.x.x Backport] Disabling test 126_RendererFeatureActive
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: testing, universal

#833 [8.x.x Backport] Disabling test 126_RendererFeatureActive
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: testing, universal

#822 [10.x.x] [ShaderGraph] Fixes for Virtual Texture Properties, Procedural VT, and Shader Preview
  com.unity.render-pipelines.core/ShaderLibrary/TextureStack.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/SerializableVirtualTexture.cs
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/ProceduralVirtualTextureNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/ProceduralVirtualTextureNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleVirtualTextureNode.cs
  com.unity.shadergraph/Editor/Drawing/Controls/IdentifierControl.cs
  com.unity.shadergraph/Editor/Drawing/Controls/IdentifierControl.cs.meta
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/SampleVirtualTextureNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Drawing/Views/IdentifierField.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/NodeTypes.cs
  com.unity.shadergraph/Editor/Generation/Targets/PreviewTarget.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: SRP, Shader Graph

#785 Upgrade hybrid package version in UniversalHybridTest (master) [skip ci]
  .yamato/all-universal_hybrid.yml
  .yamato/config/universal_hybrid.metafile
  TestProjects/UniversalHybridTest/Assets/Tests/Editor/GraphicsBuildconfig_Mac.buildconfiguration
  TestProjects/UniversalHybridTest/Assets/Tests/Editor/GraphicsBuildconfig_Win.buildconfiguration
  TestProjects/UniversalHybridTest/Assets/Tests/Editor/SetupGraphicsTestCases.cs
  TestProjects/UniversalHybridTest/Assets/Tests/Editor/TestEditor.asmdef
  TestProjects/UniversalHybridTest/Assets/Tests/Runtime/GraphicsTests.cs
Labels: testing, universal, yamato

#794 Upgrade hybrid package version in HDRP_HybridTests(master)
  .yamato/all-hdrp_hybrid.yml
  .yamato/config/hdrp_hybrid.metafile
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestHDRPLitProperties.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestLayerParams.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestMatrixPrevious/MoveBallsSystem.cs
  TestProjects/HDRP_HybridTests/Assets/Tests/Editor/SetupGraphicsTestCases.cs
Labels: HDRP, testing, yamato

#840 [10.x.x][URP] Disable test 035_Shader_TerrainShaders [skip ci]
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, testing, universal

#843 [9.x.x][URP] Disable test 035_Shader_TerrainShaders [skip ci]
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: testing, universal

#844 [8.x.x][URP] Disable test 035_Shader_TerrainShaders [skip ci]
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: testing, universal

#848 [7.x.x][URP] Disable test 035_Shader_TerrainShaders [skip ci]
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: testing, universal

#854 [10.x.x] Turn off nightly promote and turn on nightly publish [skip ci]
  .yamato/_preview_publish.yml
  .yamato/ruamel/jobs/preview_publish/pb_promote_all_preview.py
  .yamato/ruamel/jobs/preview_publish/pb_publish_all_preview.py
Labels: needs-backport-9.x, yamato

#855 [9.x.x] Turn off nightly promote and turn on nightly publish [skip ci]
  .yamato/_preview_publish.yml
  .yamato/ruamel/jobs/preview_publish/pb_promote_all_preview.py
  .yamato/ruamel/jobs/preview_publish/pb_publish_all_preview.py
Labels: yamato

#406 [10.x.x] Fixing NewRendererFeature template, FrameCleanup() and creating Deprecated.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/NewRendererFeature.cs.txt
  com.unity.render-pipelines.universal/Runtime/Deprecated.cs
  com.unity.render-pipelines.universal/Runtime/Deprecated.cs.meta
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#856 Adding missing references image for HDRP 4038
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4038_Bloom.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4038_Bloom.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4038_Bloom.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4038_Bloom.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4038_Bloom.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4038_Bloom.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4038_Bloom.png
Labels: HDRP, testing

#853 Updated HDR information on the feature comparison page
  com.unity.render-pipelines.high-definition/Documentation~/Feature-Comparison.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#779 [9.x.x] [ShaderGraph] Fixes for Virtual Texture Properties, Procedural VT, and Shader Preview
  com.unity.render-pipelines.core/ShaderLibrary/TextureStack.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/SerializableVirtualTexture.cs
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/ProceduralVirtualTextureNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/ProceduralVirtualTextureNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleVirtualTextureNode.cs
  com.unity.shadergraph/Editor/Drawing/Controls/IdentifierControl.cs
  com.unity.shadergraph/Editor/Drawing/Controls/IdentifierControl.cs.meta
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/SampleVirtualTextureNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Drawing/Views/IdentifierField.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/NodeTypes.cs
  com.unity.shadergraph/Editor/Generation/Targets/PreviewTarget.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: SRP, Shader Graph

#859 Fix fogbugzz 1254962 - Decal Material: "Metal And AO properties"
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceInputsUIBlock.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#861 [skip ci] Add texture import preset for "ActualImages"
  TestProjects/HDRP_DXR_Tests/ProjectSettings/PresetManager.asset
  TestProjects/HDRP_HybridTests/ProjectSettings/PresetManager.asset
  TestProjects/HDRP_RuntimeTests/ProjectSettings/PresetManager.asset
  TestProjects/HDRP_Tests/ProjectSettings/PresetManager.asset
  com.unity.testing.hdrp/Presets.meta
  com.unity.testing.hdrp/Presets/Test Images Preset.preset
  com.unity.testing.hdrp/Presets/Test Images Preset.preset.meta
Labels: HDRP, testing

#860 Fix issue with the blue line of prefab modifications for Volume mode
  com.unity.render-pipelines.core/Editor/Volume/VolumeEditor.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP

#825 Fixing the intensity being applied to RTAO too early leading to unexpected results (1254626).
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/204_LocalAmbientOcclusionDenoised.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRayTracingResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingAmbientOcclusion.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingAmbientOcclusion.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingAmbientOcclusion.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRayTracingResources.asset
Labels: HDRP, dxr, testing

#786 [skip ci] [9.x.x] virtualtexturing settings backport
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedHDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedVirtualTexturingSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedVirtualTexturingSettings.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/VirtualTexturingSettingsUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/VirtualTexturingSettingsUI.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/VirtualTexturingSettingsSRP.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/VirtualTexturingSettingsSRP.cs.meta
Labels: HDRP

#688 Add color clear pass while rendering XR occlusion mesh to avoid leaks
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraphUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRPass.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/XROcclusionMesh.shader
Labels: HDRP, XR

#865 Recompute FOV when generating PixelCoord To WorldSpace View Direction Matrix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#852 Hdrp/fix/shader stack normals
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/CreateEyeShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyePass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/LitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/LightingSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDBlockFields.cs
Labels: HDRP

#869 [10.x.x] Merge Hdrp/staging [Skip CI]
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/204_LocalAmbientOcclusionDenoised.png
  TestProjects/HDRP_DXR_Tests/ProjectSettings/PresetManager.asset
  TestProjects/HDRP_HybridTests/ProjectSettings/PresetManager.asset
  TestProjects/HDRP_RuntimeTests/ProjectSettings/PresetManager.asset
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4038_Bloom.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4038_Bloom.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4038_Bloom.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4038_Bloom.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4038_Bloom.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4038_Bloom.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4038_Bloom.png
  TestProjects/HDRP_Tests/ProjectSettings/PresetManager.asset
  com.unity.render-pipelines.core/Editor/Volume/VolumeEditor.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/CreateEyeShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyePass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/LitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/LightingSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDBlockFields.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraphUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRayTracingResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingAmbientOcclusion.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingAmbientOcclusion.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingAmbientOcclusion.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRayTracingResources.asset
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/XROcclusionMesh.shader
  com.unity.testing.hdrp/Presets.meta
  com.unity.testing.hdrp/Presets/Test Images Preset.preset
  com.unity.testing.hdrp/Presets/Test Images Preset.preset.meta
Labels: HDRP, SRP, testing

#675 [8.x.x] backport #673 Fix spelling error in Adaptive performance code
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#658 [9.x.x] backport #375 Add adaptive performance as optional dependency
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Editor/Unity.RenderPipelines.Universal.Editor.asmdef
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Unity.RenderPipelines.Universal.Runtime.asmdef
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#514 [7.x.x] backport #375 Add adaptive performance as optional dependency
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Editor/Unity.RenderPipelines.Universal.Editor.asmdef
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Unity.RenderPipelines.Universal.Runtime.asmdef
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#583 [10.x.x] Axf: add normal gradients and all mapping modes (uv, planar, triplanar)
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1451_AxF_SVBRDF.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1451_AxF_SVBRDF.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1451_AxF_SVBRDF.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/AxF-Shader.md
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/AxfSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/ShaderPass/AxFDepthPass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/ShaderPass/AxFDistortionPass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/ShaderPass/AxFDistortionPass.hlsl.meta
Labels: HDRP, needs-backport-8.x, testing

#871 [skip ci] hybrid and stereo projects under corresponding project CI
  .yamato/all-hdrp.yml
  .yamato/all-shadergraph.yml
  .yamato/all-universal.yml
  .yamato/config/hdrp.metafile
  .yamato/config/shadergraph.metafile
  .yamato/config/universal.metafile
Labels: yamato

#838 Fixed blend distance editing (1248931)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDProbeUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.Drawers.cs
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#587 [10.x.x] Axf fix shininess exp to roughness, ssr transparent and alpha test
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1451_AxF_SVBRDF.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
Labels: HDRP, needs-backport-8.x

#876 Reduce Wait Frames time for HDRP_HybridTests(master)
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestBuiltinProperties.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestLayerParams.unity
Labels: HDRP, testing

#877 Reduce Wait Frames time for HDRP_HybridTests
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestBuiltinProperties.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestLayerParams.unity
Labels: HDRP, testing

#878 [10.x.x] Disabling test scene 127_DynamicScaling_DOF [Skip CI]
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#751 [9.x.x] Misc doc and FBX backport [Need C++ PR]
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Diffusion-Profile.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/VolumetricLighting1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/VolumetricLighting2.png
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Diffusion-Profile.md
  com.unity.render-pipelines.high-definition/Documentation~/Subsurface-Scattering.md
  com.unity.render-pipelines.high-definition/Documentation~/Volumetric-Lighting.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
Labels: HDRP, universal

#883 Built-in Standard Default Terrain material upgrade path for HDRP (part 2)
  com.unity.render-pipelines.high-definition/Editor/Upgraders/UpgradeStandardShaderMaterials.cs
Labels: HDRP, needs-backport-8.x

#841 Fixed a serialization issue, preventing quality level parameters to undo/redo and update scene view on change.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/ScalableSettingLevelParameterEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalPostProcessingQualitySettings.cs
Labels: HDRP, needs-backport-8.x, needs-backport-9.x

#886 Updated asmdefs according to the new doc
  TestProjects/HDRP_PerformanceTests/Assets/PerformanceTests/Editor/Unity.GraphicTests.Performance.HDRP.Editor.asmdef
  TestProjects/HDRP_PerformanceTests/Assets/PerformanceTests/Runtime/Unity.GraphicTests.Performance.HDRP.Runtime.asmdef
  TestProjects/HDRP_PerformanceTests/ProjectSettings/EditorSettings.asset
  TestProjects/HDRP_PerformanceTests/ProjectSettings/VersionControlSettings.asset
  com.unity.testing.graphics-performance/package.json
Labels: HDRP, testing

#892 [10.x.x] Merge Hdrp/staging [Skip CI]
  TestProjects/HDRP_PerformanceTests/Assets/PerformanceTests/Editor/Unity.GraphicTests.Performance.HDRP.Editor.asmdef
  TestProjects/HDRP_PerformanceTests/Assets/PerformanceTests/Runtime/Unity.GraphicTests.Performance.HDRP.Runtime.asmdef
  TestProjects/HDRP_PerformanceTests/ProjectSettings/EditorSettings.asset
  TestProjects/HDRP_PerformanceTests/ProjectSettings/VersionControlSettings.asset
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1451_AxF_SVBRDF.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1451_AxF_SVBRDF.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1451_AxF_SVBRDF.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/AxF-Shader.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDProbeUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/AxfSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/ScalableSettingLevelParameterEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Upgraders/UpgradeStandardShaderMaterials.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/ShaderPass/AxFDepthPass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/ShaderPass/AxFDistortionPass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/ShaderPass/AxFDistortionPass.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalPostProcessingQualitySettings.cs
  com.unity.testing.graphics-performance/package.json
Labels: HDRP, testing

#734 Enable HDRP VFX playmode tests for XR
  .yamato/all-vfx_hdrp.yml
  .yamato/config/vfx_hdrp.metafile
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/21_DepthModules.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/HDRPFogVolumetric.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/PositionDepthOperator.unity
  com.unity.testing.visualeffectgraph/Scenes/004_Bounds.shader
  com.unity.testing.visualeffectgraph/Scenes/008_AssetBundle.unity
  com.unity.testing.visualeffectgraph/Tests/Runtime/Unity.Testing.VisualEffectGraph.Tests.asmdef
  com.unity.testing.visualeffectgraph/Tests/Runtime/VFXGraphicsTestSettings.cs
  com.unity.testing.visualeffectgraph/Tests/Runtime/VFXGraphicsTests.cs
Labels: HDRP, XR, testing, vfx, yamato

#894 [10.x.x] HDRP - Update Shader Graph Unlit to use new shared template [Skip CI]
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitPass.template.meta
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/ShaderPass.template.hlsl.meta
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/ShaderPassDefine.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/ShaderPassDefine.template.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.shader
Labels: HDRP, needs-backport-9.x

#884 Editing volumes via script doc
  com.unity.render-pipelines.high-definition/Documentation~/Volumes-API.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#872 Adding purge of unused resources in render graph.
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, SRP

#858 First round of auto-exposure docs updates
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Exposure4.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Exposure5.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Exposure6.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Exposure.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
Labels: HDRP

#896 Fix depth offset and transparent motion vector for unlit transparent
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForwardUnlit.hlsl
Labels: HDRP

#902 [7.x.x Backport] Fix nullref in material inspector
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
Labels: HDRP

#654 Fix GLES shader compilation bug
  com.unity.render-pipelines.core/ShaderLibrary/GraniteShaderLibBase.h
  com.unity.render-pipelines.core/ShaderLibrary/TextureStack.hlsl
Labels: Shader Graph, needs-backport-9.x

#846 Fixed an exception occuring when a camera doesn't have an HDAdditionalCameraData (1254383).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
Labels: HDRP, dxr

#909 [8.x.x Backport] Fix nullref in material inspector
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
Labels: HDRP

#908 Fix Generates Include command issue with Physically Based Sky
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs.meta
Labels: HDRP

#891 Fix ray tracing with XR single-pass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRayTracingSubSurface.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingGBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingIndirect.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingVisibility.hlsl
Labels: HDRP, XR, dxr

#890 [10.x.x] Fixed XR test mode in URP unit tests
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/UniversalGraphicsTests.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: XR, testing, universal

#835 [10.x.x] URP fix XR runtime MSAA changes
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, universal

#906 Hdrp/clean shader stacks fields
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/LightingSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitDistortionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.cs
Labels: HDRP

#911 Pbr sky fixes metal
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5004_Pbr_Sky_High_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5005_Pbr_Sky_Med_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5006_Pbr_Sky_Low_Altitude.png
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/AtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/InScatteredRadiancePrecomputation.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs.hlsl
Labels: HDRP

#913 [10.x.x] Merge Hdrp/staging
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5004_Pbr_Sky_High_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5005_Pbr_Sky_Med_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5006_Pbr_Sky_Low_Altitude.png
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Exposure4.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Exposure5.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Exposure6.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Exposure.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/LightingSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitDistortionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/AtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForwardUnlit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRayTracingSubSurface.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingGBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingIndirect.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingVisibility.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/InScatteredRadiancePrecomputation.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs.meta
Labels: HDRP, SRP

#916 [10.x.x] Filter out failing iOS tests [skip ci]
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: needs-backport-9.x, testing, universal

#897 [skip ci] allow nightly to not have extra dependencies
  .yamato/ruamel/jobs/abv/all_project_ci_nightly.py
Labels: needs-backport-9.x

#898 [backport] 9.x.x/backports/yamato/hybrids under all
  .yamato/all-hdrp.yml
  .yamato/all-shadergraph.yml
  .yamato/all-universal.yml
  .yamato/config/hdrp.metafile
  .yamato/config/shadergraph.metafile
  .yamato/config/universal.metafile
Labels: yamato

#917 Cleaun shader config for shadow
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
Labels: HDRP

#920 TAA Warning fixes
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntiAliasing.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntialiasing.hlsl
Labels: HDRP
