Repository Unity-Technologies/Graphics, pull requests merged in 2020-11, with the labels that each got.

#2480 VFX 10.2 hot fixes
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXQuadStripOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXStaticMeshOutput.cs
Labels: needs-backport-10.x, vfx

#2340 [7.x.x] fixed a memory leak in scriptable renderer data
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
Labels: ready-to-merge, universal

#2342 [11.x.x] MSAA samples count fallback descriptor fixup
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#2490 Reduce HDRP documentation size to fit in Katana constrain
  com.unity.render-pipelines.high-definition/Documentation~/Getting-started-with-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Compositor-HDRPTemplateWithLogo.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/CustomPass_TIPS_Effect.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/DistanceBaseRoughness-Feature.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/GettingStarted5.gif
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPFeatures-CustomPass.gif
  com.unity.render-pipelines.high-definition/Documentation~/Images/Index1Main.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Exposure4.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Exposure5.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Exposure6.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Exposure7.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Path-traced-DoF.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Path-traced-SSS.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/TAA_Alpha.gif
  com.unity.render-pipelines.high-definition/Documentation~/Images/TAA_AlphaCopy.gif
  com.unity.render-pipelines.high-definition/Documentation~/Images/path_tracing_recording.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/shutter_profiles.png
Labels: HDRP

#2478 Backporting a part of #2075 to fix Render Objects
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/RenderObjectsPass.cs
Labels: universal

#2494 VFX Reduce doc size
  com.unity.visualeffectgraph/Documentation~/Images/Block-SetPosition(Circle)Main.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-SetPosition(Cone)Main.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-SetPosition(Sphere)Main.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-SetPosition(Torus)Main.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-TileWarpPositionsMain.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-VelocityFromDirection&Speed(ChangeSpeed)Example.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-VelocityFromDirection&Speed(NewDirection)Example.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-VelocityFromDirection&Speed(RandomDirection)Example.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-VelocityFromDirection&Speed(Spherical)Example.gif
  com.unity.visualeffectgraph/Documentation~/Images/Block-VelocityFromDirection&Speed(Tangent)Example.gif
  com.unity.visualeffectgraph/Documentation~/Images/BlockSubgraph.psd
  com.unity.visualeffectgraph/Documentation~/Images/BlockUI.psd
  com.unity.visualeffectgraph/Documentation~/Images/OperatorSubgraph.psd
  com.unity.visualeffectgraph/Documentation~/Images/SystemSubgraph.psd
Labels: Docs, vfx

#2405 [11.x.x ]Fixed XR camera FOV can be changed through inspector UI
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: XR, needs-backport-10.x, ready-to-merge, universal

#2488 Clamp distortion UV properly so we don't sample outside permitted area
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/Distortion/ApplyDistortion.shader
Labels: HDRP

#2325 Fix POM node not working with subgraphs
  com.unity.render-pipelines.core/ShaderLibrary/PerPixelDisplacement.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/UV/ParallaxOcclusionMappingNode.cs
Labels: HDRP

#2498 [HDRP][Docs] Update documentation for alpha output
  com.unity.render-pipelines.high-definition/Documentation~/Alpha-Output.md
Labels: HDRP

#2489 Hd/ui best practice
  com.unity.render-pipelines.high-definition/Documentation~/UI-Best-Practices.md
Labels: Docs, HDRP, needs-backport-10.x

#2503 [HDRP] Small fixes: Fix Is FrontFace node in SG + Remove experimental from Eye
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2212_ReflectionProbes_Skies/Materials/2211_Planar_AbovePbrSky.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2212_ReflectionProbes_Skies/Materials/2211_Planar_BelowPbrSky.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2212_ReflectionProbes_Skies/Materials/2211_Planar_GradientSky.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2212_ReflectionProbes_Skies/Materials/2211_Planar_HDRI_Sky.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2212_ReflectionProbes_Skies/Materials/2211_Planar_PbrHighAlt.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2212_ReflectionProbes_Skies/Materials/2211_Planar_PbrSky.mat
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/CreateEyeShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDStructFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/LightingSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflections.compute
Labels: HDRP, testing

#2496 Add yamato formatting job (SRP2Core)
  .repoconfig
  .yamato/_formatting.yml
  .yamato/config/_formatting.metafile
  .yamato/ruamel/build.py
  .yamato/ruamel/jobs/formatting/formatting.py
  .yamato/ruamel/jobs/formatting/yml_formatting.py
  .yamato/ruamel/jobs/shared/namer.py
  .yamato/ruamel/jobs/shared/yml_job.py
Labels: yamato

#1990 [2d] FallOff Texture to Resources.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Data.meta
  com.unity.render-pipelines.universal/Runtime/2D/Data/Textures.meta
  com.unity.render-pipelines.universal/Runtime/2D/Data/Textures/FalloffLookupTexture.png
  com.unity.render-pipelines.universal/Runtime/2D/Data/Textures/FalloffLookupTexture.png.meta
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/Light2DLookupTexture.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/Resources.meta
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
Labels: universal

#2230 Mesh Baking
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DAuthoring.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DShape.cs
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
  com.unity.render-pipelines.universal/Tests/Runtime/Light2DTests.cs
Labels: 2d, universal

#2506 [HDRP] Rename subgraph name to remove space + Fix default shader error message
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Subgraph/ThreadMapDetail.shadersubgraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Subgraph/ThreadMapDetail.shadersubgraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Subgraph/UVCombine.shadersubgraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Subgraph/UVCombine.shadersubgraph.meta
Labels: HDRP

#2505 [10.x.x Backport] MSAA samples count fallback descriptor fixup
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#2501 [10.x.x] Fixed postFX vertex shader backward compatibility
  com.unity.render-pipelines.universal/Shaders/Utils/Fullscreen.hlsl
Labels: XR, universal

#2500 [10.x.x] Fixed multipass skybox regression
  com.unity.render-pipelines.universal/Runtime/Passes/DrawSkyboxPass.cs
Labels: XR, universal

#2502 [10.x.x ]Fixed XR camera FOV can be changed through UI
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: XR, universal

#2507 [VFX] Remove Exact Fixed Time option
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSpawnerTest.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Inspector/VFXAssetEditor.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: needs-backport-10.x, vfx

#2333 [ShaderGraph] [bugfix 1283902] Pull textures into Export Package even if not sampled by shader
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/CubemapInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/SerializableCubemap.cs
  com.unity.shadergraph/Editor/Data/Graphs/SerializableTexture.cs
  com.unity.shadergraph/Editor/Data/Graphs/SerializableTextureArray.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DArrayInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture3DInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/CubemapAssetNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/Texture2DArrayAssetNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/Texture2DAssetNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/Texture3DAssetNode.cs
Labels: Shader Graph, needs-backport-10.x

#2509 [HDRP] Fix custom pass render fom function in VR + custom pass GPU markers with render graph
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.cs
Labels: HDRP

#2433 [ShaderGraph] [bugfix] Fix for loading a ShaderGraph containing HDRP specific stuff w/o HDRP package
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/ColorBricks.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/Gate.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/LitHDRP1_10_1.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/LitHDRP2_10_1.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/LitHDRP3_10_1.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/LitHDRP4_10_1.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/PatternSubGraph.shadersubgraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/PortalBlurr.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/Shader_IslandWater.ShaderGraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/SuperSimple.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/TechnoRocks.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/TestImport.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/UVSkewTest.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/UnlitAllProperties.shadergraph
  TestProjects/ShaderGraph/PreviousGraphVersions/10.x.x/butterflywings.ShaderSubGraph
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Graphs/MaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PropertyNode.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/AbstractMaterialNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Serialization/JsonData.cs
  com.unity.shadergraph/Editor/Serialization/MultiJsonInternal.cs
  com.unity.shadergraph/Tests/Editor/IntegrationTests/SerializationTests.cs
  com.unity.shadergraph/Tests/Editor/TestSlot.cs
Labels: Shader Graph, backported-10.x, testing, universal

#2310 9.x.x/universal/fix gles2
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
  com.unity.render-pipelines.universal/Shaders/Utils/TileDeferred.shader
  com.unity.render-pipelines.universal/Shaders/Utils/TileDepthInfo.shader
Labels: ready-to-merge

#2459 Updated the Requirements page, added the 10.2 upgrade guide.
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-10-2-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: universal

#2454 [7.x.x] Backport of #2284
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#2520 2d/shapecache
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DAuthoring.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DShape.cs
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
  com.unity.render-pipelines.universal/Tests/Runtime/Light2DTests.cs
Labels: universal

#2495 2d/unlit shadergraph fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalSpriteUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: 2d, universal

#2514 [Universal|Bugfix] Camera inspector requests current URP asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
Labels: needs-backport-10.x, needs-backport-7.x, universal

#2523 Fixed exceptions when unchecking "Big Tile Prepass" on the frame settings with render-graph.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
Labels: HDRP

#2446 Backported case 1268911
  com.unity.render-pipelines.core/ShaderLibrary/EntityLighting.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/Lighting.hlsl
Labels: SRP, universal

#2518 [HDRP] Fix issues with GenerateMaxZ when opaque object or decal frame settings is disabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDReflectionDenoiser.cs
Labels: HDRP

#2525 Fix button Bake with Reflection Probe in custom mode
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbeSystem.cs
Labels: HDRP

#2528 HDRP - add Default Frame settings under “Light Loop Debug” tab
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP

#2516 [10.x.x][VFX] backport Remove Exact Fixed Time option (#2507)
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSpawnerTest.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Inspector/VFXAssetEditor.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: testing, vfx

#1707 [2d] Smooth Falloff for 2D Shape Lights.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Clipper.cs
  com.unity.render-pipelines.universal/Runtime/2D/Clipper.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/Light2DAuthoring.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DShape.cs
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Shape-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Shape.shader
Labels: 2d, universal

#2487 Improve Inpsector on 2D Renderer Data
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/Resources.meta
Labels: 2d, universal

#2510 [11.x.x] Fix issue causing materials to upgrade multiple times
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/MaterialPostprocessor.cs
Labels: universal

#2512 [10.x.x] Fix issue causing materials to upgrade multiple times
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/MaterialPostprocessor.cs
Labels: universal

#2534 [Backport 10.x.x] #2514
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
Labels: universal

#2437 [Yamato] Fix cmd line args for graphics API
  .yamato/config/__shared.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/smoke_test-win-dx11.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/SetupProject.cs
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/SetupProject.cs.meta
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx, yamato

#2533 Fixed exceptions related to the debug display settings when changing the default frame settings.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#2535 Added documentation for LODs not being supported by ray tracing.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
Labels: HDRP, dxr

#2532 Resave eye material in runtime test
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AllMaterials/Eye.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AllMaterials/Eye.shadergraph
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AllMaterials/Eye_Transparent.mat
Labels: HDRP, testing

#2497 [10.x.x backport] Backported DOC PR #2010.
  com.unity.render-pipelines.universal/Documentation~/Images/AssetShots/Beauty/SceneWithPost.png
  com.unity.render-pipelines.universal/Documentation~/Images/AssetShots/Beauty/SceneWithoutPost.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/camera-post-proc-check.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/post-proc-as-volume-override.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-add-override.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-box-collider.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-box-new-profile.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-mode-prop.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-profile-created.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-scene-add-override.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-scene-new-profile.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-scene-post-proc-from-scratch.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-override-property-list.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-priority.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-volume-types.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-with-post-proc.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/VolumeOverrides.md
  com.unity.render-pipelines.universal/Documentation~/Volumes.md
  com.unity.render-pipelines.universal/Documentation~/integration-with-post-processing.md
  com.unity.render-pipelines.universal/Documentation~/upgrading-your-shaders.md
Labels: universal

#2541 Added parallax mapping to What's New.
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-10/parallax-height.png
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new-10.md
Labels: universal

#2473 Added the What's new 10.2 page, added known issues. Added the link to…
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/index.md
  com.unity.render-pipelines.universal/Documentation~/known-issues.md
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new.md
Labels: universal

#2540 [Yamato] Fix performance UTR flags
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/docs/readme.md
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
Labels: yamato

#2522 Change how camera motion vector clamp works in Motion Blur
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Post-processingMotionBlur1.png
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Motion-Blur.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/MotionBlurEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/MotionBlur.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/MotionBlur.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/MotionBlurCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/MotionBlurMotionVecPrep.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesXR.cs.hlsl
Labels: HDRP

#2544 [VFX] Fix orient error feedback failing in subblocks
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Orientation/Orient.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/VFXBlock.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/VFXSubgraphBlock.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXBlockSubgraphContext.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: needs-backport-10.x, vfx

#2524 2d/shadowcaster2d shape improvement
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/ShadowCaster2DEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/ShadowCaster2DShapeTool.cs
  com.unity.render-pipelines.universal/Editor/2D/ShapeEditor/EditablePath/ControlPoint.cs
  com.unity.render-pipelines.universal/Editor/2D/ShapeEditor/EditablePath/EditablePath.cs
  com.unity.render-pipelines.universal/Editor/2D/ShapeEditor/EditablePath/EditablePathController.cs
  com.unity.render-pipelines.universal/Editor/2D/ShapeEditor/EditablePath/IEditablePath.cs
  com.unity.render-pipelines.universal/Editor/2D/ShapeEditor/EditorTool/ScriptablePath.cs
Labels: 2d, universal

#2537 [11.x.x] Run URP upgrader on default mats
  com.unity.render-pipelines.universal/Runtime/Materials/Lit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/ParticlesUnlit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/SimpleLit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/TerrainLit.mat
Labels: universal

#2538 [10.x.x] Run URP upgrader on default mats
  com.unity.render-pipelines.universal/Runtime/Materials/Lit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/ParticlesUnlit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/SimpleLit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/TerrainLit.mat
Labels: universal

#2545 Remove material pass evaluation for probe volumes + fix probe volume debug views when rendergraph
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/ProbeVolumeControllerEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugViewTiles.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/DebugDisplayProbeVolume.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeShaderVariables.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinGIUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP

#2554 [11.x.x] Fixing a warning with m_TileDepthInfoMaterial and m_TileDeferredMaterial
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#2508 hdr toggle issues in scene view
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: needs-backport-10.x, universal

#2521 [URP][10.x.x] backport hdr toggle sceneview
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#2484 [ShaderGraph] Fix softlock dropping an unknown property type into graph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/SearchWindowProvider.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
Labels: Shader Graph, backported-10.x

#2549 [ShaderGraph] Address warning 0649 in UniversalGraphicsTests
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/CubemapInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/SerializableCubemap.cs
  com.unity.shadergraph/Editor/Data/Graphs/SerializableTexture.cs
  com.unity.shadergraph/Editor/Data/Graphs/SerializableTextureArray.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DArrayInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture3DInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/CubemapAssetNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/Texture2DArrayAssetNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/Texture2DAssetNode.cs
Labels: Shader Graph, needs-backport-10.x

#1808 2d/point light orientation fix
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point.shader
Labels: 2d, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#2567 Disable subblocks space conversion
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Models/Blocks/VFXSubgraphBlock.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXStaticMeshOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXContext.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/VFXSubgraphOperator.cs
Labels: needs-backport-10.x, vfx

#1721 Fix for lighting on empty background
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Shaders/2D/Include/LightingUtility.hlsl
Labels: 2d, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#2559 Fixed custom pass null reference exception in draw renderers custom pass
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/DrawRenderersCustomPassDrawer.cs
Labels: HDRP

#2560 Fixed fullscreen pass help box height
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/FullScreenCustomPassDrawer.cs
Labels: HDRP

#2565 Reverting PR #2007
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: universal

#2536 10.x.x/universal/backport 2513
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/PostProcessing/Bloom.shader
Labels: universal

#2240 SetInt and GetInt -> SetFloat and GetFloat [21.1]
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ParticleGUI.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: HDRP, universal

#2571 Make it possible to have several build jobs for standalones
  .yamato/config/universal.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/ruamel/jobs/shared/namer.py
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/smoke_test-win-dx11.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: needs-backport-10.x, needs-backport-7.x, needs-backport-8.x, yamato

#2573 [HDRP] Fixed picking for materials with depth offset
  com.unity.render-pipelines.core/ShaderLibrary/SpaceTransforms.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDepthOnly.hlsl
Labels: HDRP, SRP, needs-backport-10.x

#2574 [HDRP] Fix issue with previous frame exposure texture being not null, but containing garbage
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#2575 Consolidated ray tracing documentation to make blue book links point to reference documentaiton
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-ScreenSpaceGlobalIllumination1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-ScreenSpaceReflection1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/OverrideAmbientOcclusion1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracedGlobalIllumination3.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Ambient-Occlusion.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Contact-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Ambient-Occlusion.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Contact-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Global-Illumination.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Reflections.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Subsurface-Scattering.md
Labels: Docs, HDRP

#2108 [Shader Graph] Fix for visual issue where node input/output areas were not hidden on initialization
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
Labels: Shader Graph

#2563 Update pinned editor to 7bed3e - 2021.1.0a6.1137
  .yamato/_latest_editor_versions_trunk.metafile
Labels: yamato

#2579 Remove a couple of warning on probe volume code (leftover code)
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
Labels: HDRP

#2580 [HDRP] Fix crash on Mac and Vulkan with Volumetric with overflow
  TestProjects/HDRP_RuntimeTests/Assets/TestCaseFilters.asset
  TestProjects/HDRP_RuntimeTests/Assets/TestCaseFilters.asset.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumeVoxelization.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.compute
Labels: HDRP, testing

#2576 Bugfix for LitProperties compilation error in hybrid
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitProperties.hlsl
Labels: HDRP

#2570 [HDRP] Fix issue when changing FoV with the physical camera fold-out closed
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
Labels: HDRP, needs-backport-8.x

#2578 [HDRP] Physical DoF: fix tiling artifacts, switch to blue noise sampling, add anamorphism support
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGather.compute
Labels: HDRP

#2298 Material upgrade cut out issue
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
Labels: needs-backport-10.x, needs-backport-7.x, needs-backport-8.x, universal

#2513 [Universal|Bugfix] Bloom is over bright when used in Gammaspace
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/PostProcessing/Bloom.shader
Labels: backported-10.x, needs-backport-7.x, universal

#2581 [7.x.x] backport of #2298 material upgrade alpha cutout
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
Labels: universal

#2010 [10.x.x] added information on how to enable post-processing
  com.unity.render-pipelines.universal/Documentation~/Images/AssetShots/Beauty/SceneWithPost.png
  com.unity.render-pipelines.universal/Documentation~/Images/AssetShots/Beauty/SceneWithoutPost.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/camera-post-proc-check.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/post-proc-as-volume-override.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-add-override.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-box-collider.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-box-new-profile.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-mode-prop.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-profile-created.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-scene-add-override.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-scene-new-profile.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-scene-post-proc-from-scratch.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-override-property-list.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-priority.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-volume-types.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-with-post-proc.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/VolumeOverrides.md
  com.unity.render-pipelines.universal/Documentation~/Volumes.md
  com.unity.render-pipelines.universal/Documentation~/integration-with-post-processing.md
  com.unity.render-pipelines.universal/Documentation~/upgrading-your-shaders.md
Labels: backported-10.x, universal

#2583 [Backport] Bloom is over bright when used in Gammaspace (#2513)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/PostProcessing/Bloom.shader
Labels: universal

#2584 Enable Mixed cached shadow maps in 2021.1
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2317_Mixed_Cached_ShadowMap_Point.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2317_Mixed_Cached_ShadowMap_Point.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2318_Mixed_Cached_ShadowMap_Spot.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2318_Mixed_Cached_ShadowMap_Spot.unity.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2317_Mixed_Cached_ShadowMap_Point.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2317_Mixed_Cached_ShadowMap_Point.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2318_Mixed_Cached_ShadowMap_Spot.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2317_Mixed_Cached_ShadowMap_Point.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2317_Mixed_Cached_ShadowMap_Point.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2318_Mixed_Cached_ShadowMap_Spot.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2317_Mixed_Cached_ShadowMap_Point.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2317_Mixed_Cached_ShadowMap_Point.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2318_Mixed_Cached_ShadowMap_Spot.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2317_Mixed_Cached_ShadowMap_Point.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2317_Mixed_Cached_ShadowMap_Point.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2318_Mixed_Cached_ShadowMap_Spot.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2317_Mixed_Cached_ShadowMap_Point.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2317_Mixed_Cached_ShadowMap_Point.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2318_Mixed_Cached_ShadowMap_Spot.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-11.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
Labels: HDRP, testing

#2562 [8.x.x] Update com.unity.testframework.graphics to 7.6.0-preview
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx

#2558 [7.x.x] Update com.unity.testframework.graphics to 7.6.0-preview
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx

#2585 Update gtf to 7.6.0-preview
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, vfx

#2586 [10.x.x] Update gtf to 7.6.0-preview
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, vfx

#2139 [11.0] [SG] Rename Shader Graph fiiles/folders to comply with trunk requirements
  com.unity.shadergraph/Editor/Data/Nodes/MeshDeformation.meta
  com.unity.shadergraph/Editor/Data/Nodes/MeshDeformation/ComputeDeformNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/MeshDeformation/ComputeDeformNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/MeshDeformation/LinearBlendSkinningNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/MeshDeformation/LinearBlendSkinningNode.cs.meta
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
  com.unity.shadergraph/Editor/Resources/Icons/sg_graph_icon.png
  com.unity.shadergraph/Editor/Resources/Icons/sg_graph_icon.png.meta
  com.unity.shadergraph/Editor/Resources/Icons/sg_graph_icon_gray_dark.png
  com.unity.shadergraph/Editor/Resources/Icons/sg_graph_icon_gray_dark.png.meta
  com.unity.shadergraph/Editor/Resources/Icons/sg_graph_icon_gray_light.png
  com.unity.shadergraph/Editor/Resources/Icons/sg_graph_icon_gray_light.png.meta
  com.unity.shadergraph/Editor/Resources/Icons/sg_subgraph_icon.png
  com.unity.shadergraph/Editor/Resources/Icons/sg_subgraph_icon.png.meta
  com.unity.shadergraph/Editor/Resources/Icons/sg_subgraph_icon_gray_dark.png
  com.unity.shadergraph/Editor/Resources/Icons/sg_subgraph_icon_gray_dark.png.meta
  com.unity.shadergraph/Editor/Resources/Icons/sg_subgraph_icon_gray_light.png
  com.unity.shadergraph/Editor/Resources/Icons/sg_subgraph_icon_gray_light.png.meta
Labels: Shader Graph

#2572 [Performance][URP] Add iOS tests
  .yamato/_editor_priming.yml
  .yamato/all-urp_performance_boatattack.yml
  .yamato/config/__shared.metafile
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/commands/iphone.py
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/smoke_test-win-dx11.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_boatattack-win-dx11.yml
  .yamato/urpupdate_boatattack-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
Labels: yamato

#2439 [Deferred] GBuffer Normals format check
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
Labels: universal

#2415 [8.x.x Backport] MSAA fix for Metal MacOS/Editor
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#2417 [7.x.x Backport] MSAA fix for Metal MacOS/Editor
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#2531 [10.x.x] backport of material alpha cutout issue
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
Labels: universal

#2590 [Performance][URP] Specify Boat Attack revision when cloning
  .yamato/all-urp_performance_boatattack.yml
  .yamato/ruamel/jobs/projects/_project_base.py
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/commands/iphone.py
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/ruamel/jobs/projects/project_all.py
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
Labels: yamato

#2599 Camera Sorting Layer Texture
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
Labels: universal

#2594 Fix PS4 build
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGather.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingSampling.hlsl
Labels: HDRP

#2555 [UniversalGraphicsTest] New MSAA Graphics test
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/146_MSAA_RenderToBackbuffer.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer.unity.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer/BlueUnlit.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer/BlueUnlit.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer/GreenUnlit.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer/GreenUnlit.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer/RedUnlit.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/146_MSAA_RenderToBackbuffer/RedUnlit.mat.meta
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: testing, universal

#2604 [Yamato] temporarily remove OSX from ABV
  .yamato/_abv.yml
  .yamato/all-hdrp.yml
  .yamato/all-shadergraph.yml
  .yamato/all-universal.yml
  .yamato/all-universal_hybrid.yml
  .yamato/config/_abv.metafile
  .yamato/config/hdrp.metafile
  .yamato/config/shadergraph.metafile
  .yamato/config/universal.metafile
  .yamato/config/universal_hybrid.metafile
Labels: yamato

#2608 [HDRP] Fix wrong RT format in HDRP Test 1900 SG alpha test
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1900_AlphaTest_SG/1900_AlphaTestSG.renderTexture
Labels: HDRP, needs-backport-10.x, testing

#2483 [11.x] Avoid the system 'AppendLine' during generation and serialization
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Processors/ShaderStringBuilder.cs
  com.unity.shadergraph/Editor/Serialization/MultiJsonInternal.cs
Labels: Shader Graph, backported-10.x

#2593 [2d] Serialization Fix.
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Shape-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Shape.shader
Labels: 2d, universal

#2597 Added a warning when trying to bake with static lighting being in an invalid state.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP, needs-backport-10.x, needs-backport-7.x, needs-backport-8.x

#2620 [Backport 7.x.x] Fix issue with previous frame exposure texture being not null, but containing garbage
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP

#2622 [Backport 7.x.x] Fixed error Maximum allowed thread group count is 65535 when resolution is very high
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ClearLightLists.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#2630 2d/shadow rt refactor
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs
Labels: 2d, universal

#2634 Merge 8.x.x/hd/staging
  com.unity.render-pipelines.core/Editor/LookDev/LookDevRenderer.cs
  com.unity.render-pipelines.core/Editor/LookDev/Stage.cs
  com.unity.render-pipelines.core/Runtime/LookDev/IDataProvider.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LookDev.cs
Labels: HDRP, SRP

#2635 Merge 7.x.x/hd/staging
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeManager.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeProfile.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightExplorerExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ClearLightLists.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderPipelinePreferences.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/XRSystemTests.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/XRSystemTests.cs.meta
Labels: HDRP, SRP

#2632 2d/material fix
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
Labels: 2d, universal

#2610 Universal/fix test 145
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/145_SoftParticlesStackWithPP.unity
Labels: testing, universal

#2596 [11.x.x] File rename
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-11-0-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
  com.unity.render-pipelines.universal/Runtime/Deprecated.cs
  com.unity.render-pipelines.universal/Shaders/AutodeskInteractive.meta
  com.unity.render-pipelines.universal/Shaders/AutodeskInteractive/AutodeskInteractive.shadergraph
  com.unity.render-pipelines.universal/Shaders/AutodeskInteractive/AutodeskInteractive.shadergraph.meta
  com.unity.render-pipelines.universal/Shaders/AutodeskInteractive/AutodeskInteractiveMasked.shadergraph
  com.unity.render-pipelines.universal/Shaders/AutodeskInteractive/AutodeskInteractiveMasked.shadergraph.meta
  com.unity.render-pipelines.universal/Shaders/AutodeskInteractive/AutodeskInteractiveTransparent.shadergraph
  com.unity.render-pipelines.universal/Shaders/AutodeskInteractive/AutodeskInteractiveTransparent.shadergraph.meta
  com.unity.template-universal/Assets/ExampleAssets/Prefabs/ConstructionLightLow.prefab
  com.unity.template-universal/Assets/ExampleAssets/Prefabs/ConstructionLightLow.prefab.meta
  com.unity.template-universal/Assets/ExampleAssets/Prefabs/PaintSupplies.prefab
  com.unity.template-universal/Assets/ExampleAssets/Prefabs/PaintSupplies.prefab.meta
  com.unity.template-universal/Assets/ExampleAssets/Prefabs/WorkshopSet.prefab
  com.unity.template-universal/Assets/ExampleAssets/Prefabs/WorkshopSet.prefab.meta
Labels: universal

#2639 Fix standalone build jobs names
  .yamato/all-urp_performance_boatattack.yml
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/ruamel/jobs/projects/_project_base.py
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/smoke_test-win-dx11.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#2633 [11.x.x] Fixing an issue with MSAA not working with Vulkan in Editor Play-Mode
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#2637 New reference image for test with cpu gradient sampling
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/002_Gradient.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/003_EventAttribute.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/07_UnityLogo.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/15_CubeAndMesh.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/16_CullingMode.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/17_GPUEvent_Simple.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/21_DepthModules.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/23_ParameterBinders.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/002_Gradient.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003_EventAttribute.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/07_UnityLogo.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/15_CubeAndMesh.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/16_CullingMode.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/17_GPUEvent_Simple.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/21_DepthModules.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/23_ParameterBinders.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/002_Gradient.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/003_EventAttribute.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/002_Gradient.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003_EventAttribute.png
Labels: testing, vfx

#2638 10.x.x New reference image for test with cpu gradient sampling
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/002_Gradient.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/003_EventAttribute.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/07_UnityLogo.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/15_CubeAndMesh.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/16_CullingMode.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/17_GPUEvent_Simple.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/21_DepthModules.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/23_ParameterBinders.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/002_Gradient.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003_EventAttribute.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/07_UnityLogo.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/15_CubeAndMesh.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/16_CullingMode.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/17_GPUEvent_Simple.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/21_DepthModules.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/23_ParameterBinders.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/002_Gradient.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/003_EventAttribute.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/002_Gradient.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003_EventAttribute.png
Labels: testing, vfx

#2552 [ShaderGraph]Re-enabled Scene Depth node and Ambient nodes in InputNodes scene
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/Scenes/InputNodes.unity
Labels: Shader Graph, testing

#2646 [8.x.x] Fix VFX Graph breaking other undo callbacks
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
Labels: vfx

#1704 [VFX] Fix incorrect AlphaTreshold listing (8.x.x)
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Internal/ShaderGraphVfxAsset.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphParticleOutput.cs
Labels: Shader Graph, vfx

#2491 Removed unused blit input
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
Labels: universal

#2623 [Backport 8.x.x] Fixed error Maximum allowed thread group count is 65535 when resolution is very high
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ClearLightLists.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#2621 [Backport 8.x.x] Fix issue with previous frame exposure texture being not null, but containing garbage
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP

#2649 Update VR doc for HDRP 8.x.x
  com.unity.render-pipelines.high-definition/Documentation~/VR-Overview.md
Labels: HDRP, XR

#2588 [11.x.x] Fixed Quest Vsync issue on Unity 21.1
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: XR, universal

#2652 Merge 8.x.x/hd/staging
  com.unity.render-pipelines.core/Editor/FilterWindow.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentListEditor.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeManager.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeProfile.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Feature-Comparison.md
  com.unity.render-pipelines.high-definition/Documentation~/Layered-Lit-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightExplorerExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCache2D.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ClearLightLists.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/PunctualLightCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/VolumeProjection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/BloomPrefilter.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/BloomUpsample.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldGather.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LookDev.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderPipelinePreferences.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/XRSystemTests.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/XRSystemTests.cs.meta
Labels: HDRP, SRP

#2654 Update bokken image for Linux tests
  .yamato/config/__shared.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/universal-linux-openglcore.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
Labels: needs-backport-10.x, needs-backport-7.x, needs-backport-8.x, yamato

#2660 Fix line ending comparison issue
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/KeywordTests.cs
Labels: Shader Graph, testing

#2551 [8.x.x Backport] Fix CapturePass to be able to capture post processing effects in Unity Recorder
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#2659 Update the ScrollView API usage to avoid deprecated interfaces
  com.unity.shadergraph/Editor/Drawing/Views/GraphSubWindow.cs
Labels: Shader Graph

#2645 [Backport] [Fix] case 1290628 : Memory leak when selecting/deselecting forward renderer asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
Labels: universal

#2668 Update revision to 2021.1.0a7.1331_fdd63b12dbc0
  .yamato/_latest_editor_versions_trunk.metafile
Labels: yamato

#2665 [8.x.x] backport of #1898 null ref in cam prefab
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: universal

#2662 [8.x.x Backport] Prevent assetPostprocessors from running if the current render pipeline does not match.
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/AutodeskInteractiveMaterialImport.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/AutodeskInteractiveMaterialImport.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
Labels: HDRP, universal

#2456 [ShaderGraph] [URP] [Backport 10.3] Additive blending should fade with alpha
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
Labels: Shader Graph, universal

#2466 [Backport 10.3] [ShaderGraph] [bugfix 1283902] Pull textures into Export Package even if not sampled by shader
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/CubemapInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/SerializableCubemap.cs
  com.unity.shadergraph/Editor/Data/Graphs/SerializableTexture.cs
  com.unity.shadergraph/Editor/Data/Graphs/SerializableTextureArray.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DArrayInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture3DInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/CubemapAssetNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/Texture2DArrayAssetNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/Texture2DAssetNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/Texture3DAssetNode.cs
Labels: Shader Graph

#2677 bump min version to a7 after C++ change on scrollview-visibility
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/Editor/Drawing/Views/GraphSubWindow.cs
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#2672 Performance/separate builds
  .yamato/config/__shared.metafile
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/commands/iphone.py
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/ruamel/jobs/shared/constants.py
  .yamato/ruamel/jobs/shared/yml_job.py
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
Labels: yamato

#2678 [Backport 8.x.x] Fix issues with Texture2DAtlas cache system
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture2DAtlas.cs
Labels: HDRP

#2676 Replace C#8 syntax by C#7
  com.unity.render-pipelines.universal/Runtime/2D/Light2DManager.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/LayerUtility.cs
Labels: universal

#2619 Post-processing docs move
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/post-processing-effect-list.md
Labels: Docs, HDRP, needs-backport-10.x, needs-backport-7.x, needs-backport-8.x

#2624 Added link to lighting window page
  com.unity.render-pipelines.high-definition/Documentation~/Environment-Lighting.md
Labels: Docs, HDRP

#2626 Added arnold standard surface and 3ds physical material shader
  com.unity.render-pipelines.high-definition/Documentation~/3ds-physical-shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/arnold-standard-surface-example-maya.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/arnold-standard-surface-example-unity.png
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/arnold-standard-surface-shader.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/anisotropy-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/anisotropy.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/base-color-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/base-color-weight.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/base-color.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/bump-map-strength.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/bump-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/coat-color.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/coat-ior.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/coat-normal.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/coat-roughness.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/coat-thickness.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/coat-weight.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/emission-color-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/emission-color.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/emission-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/emission-weight.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/emission.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/metalness-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/metalness.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/normal-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/opacity-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/opacity.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/reflections-color-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/reflections-color.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/reflections-ior-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/reflections-ior.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/reflections-roughness-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/reflections-roughness.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/reflections-weight.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/specular-anisotropy.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/specular-color-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/specular-color.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/specular-ior-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/specular-ior.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/specular-rotation-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/specular-rotation.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/specular-roughness-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/specular-roughness.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/specular-weight.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/transparency-map.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/transparency-weight.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/arnold/transparency.md
Labels: Docs, HDRP, needs-backport-10.x

#2661 Updated steps for enabling recursive rendering
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Recursive-Rendering.md
Labels: Docs, HDRP, needs-backport-10.x

#2251 Move volume debug functions to internal [21.1]
  com.unity.render-pipelines.high-definition/Runtime/Debug/VolumeDebug.cs
Labels: HDRP

#2673 [8.x backport] Backported the changes from 10.x branch: URP Concepts, Post-processing, Volumes. Other fixes.
  com.unity.render-pipelines.universal/Documentation~/Images/AssetShots/Beauty/SceneWithPost.png
  com.unity.render-pipelines.universal/Documentation~/Images/AssetShots/Beauty/SceneWithoutPost.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/camera-post-proc-check.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/post-proc-as-volume-override.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-add-override.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-box-collider.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-box-new-profile.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-mode-prop.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-profile-created.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-scene-add-override.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-scene-new-profile.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-new-scene-post-proc-from-scratch.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-override-property-list.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-priority.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-volume-types.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/volume-with-post-proc.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/find-renderer.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/inspector-no-rend-features.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-added-new-renderer-feature.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-forward-renderer-stencil-on.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-forward-renderer.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-renderer-feature-in-project-window.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-renderer-feature-render-objects.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-select-renderer-feature.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-select-renderer.png
  com.unity.render-pipelines.universal/Documentation~/InstallingAndConfiguringURP.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/VolumeOverrides.md
  com.unity.render-pipelines.universal/Documentation~/Volumes.md
  com.unity.render-pipelines.universal/Documentation~/forward-renderer.md
  com.unity.render-pipelines.universal/Documentation~/integration-with-post-processing.md
  com.unity.render-pipelines.universal/Documentation~/rendering-in-universalrp.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.render-pipelines.universal/Documentation~/shader-structure.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-8-3-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
  com.unity.render-pipelines.universal/Documentation~/upgrading-your-shaders.md
  com.unity.render-pipelines.universal/Documentation~/urp-concepts.md
  com.unity.render-pipelines.universal/Documentation~/urp-forward-renderer.md
  com.unity.render-pipelines.universal/Documentation~/urp-lighting-mode.md
  com.unity.render-pipelines.universal/Documentation~/urp-renderer-feature-how-to-add.md
  com.unity.render-pipelines.universal/Documentation~/urp-renderer-feature.md
  com.unity.render-pipelines.universal/Documentation~/urp-shader-examples.md
  com.unity.render-pipelines.universal/Documentation~/urp-shaders/urp-shaderlab-pass-tags.md
  com.unity.render-pipelines.universal/Documentation~/writing-custom-shaders.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-basic-unlit-structure.md
Labels: universal

#2595 [HDRP] Fix runtime debug UI showing wrong entry
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP, needs-backport-10.x

#2600 Fixed multi-editing with new light intensity slider
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/LightUnit/LightUnitSlider.cs
Labels: HDRP, needs-backport-10.x

#2601 Fixed useless editor repaint when using lod bias
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-10.x

#2603 Fix issue with density volume gizmo editing
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/DensityVolumeEditor.cs
Labels: HDRP

#2679 Merge 8.x.x/hd/staging
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/HDShadowLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture2DAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesFunctions.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs.orig
Labels: HDRP
