Repository Unity-Technologies/Graphics, pull requests merged in 2020-07, with the labels that each got.

#1063 [skip ci] remove hybrids from abv and nightly
  .yamato/all-hdrp.yml
  .yamato/all-universal.yml
  .yamato/config/hdrp.metafile
  .yamato/config/universal.metafile
Labels: yamato

#1065 Bump min version to 2020.2a17 for compatibility with scriptable importer change [SkipCI]
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#1053 Correct fallback for ray tracing and light layers (1258837)
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferredLightLayers.asset
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferredLightLayers.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Common/Materials/M_MirrorLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Common/Materials/M_MirrorLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Common/Materials/m_DiffuseGrayLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Common/Materials/m_DiffuseGrayLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Common/Materials/m_DiffuseRedLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Common/Materials/m_DiffuseRedLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/106_ReflectionsLightLayers.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/106_ReflectionsLightLayers.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/106_ReflectionsLightLayers.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/106_ReflectionsLightLayers.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/ReflectionLightLayerVolume.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/ReflectionLightLayerVolume.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
Labels: HDRP, dxr, testing

#1061 Add missing tooltips in physical camera and improve the UI for aperture
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/DepthOfFieldEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
Labels: HDRP

#1050 Fixed reseed on play overdraw vfx
  TestProjects/HDRP_PerformanceTests/Assets/Common/Materials/UnlitCanvasMat.mat
  TestProjects/HDRP_PerformanceTests/Assets/Resources/StaticAnalysis/Lit_ShaderGraph.mat
  TestProjects/HDRP_PerformanceTests/Assets/Scenes/0000_LitCube/0000_Cube.mat
  TestProjects/HDRP_PerformanceTests/Assets/Scenes/0002_TransparentOverdraw.unity
  TestProjects/HDRP_PerformanceTests/Assets/Scenes/0002_TransparentOverdraw/0002.vfx
  TestProjects/HDRP_PerformanceTests/Assets/Scenes/0003_TesselationShadow/Tesselation.mat
  TestProjects/HDRP_PerformanceTests/Assets/Scenes/0003_TesselationShadow/Tesselation_Floor.mat
  TestProjects/HDRP_PerformanceTests/ProjectSettings/HDRPProjectSettings.asset
Labels: HDRP, testing

#1068 Update reference images for 012, 035, 057, 117, 118 tests on iOS and re-enable them
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/012_PBS_EnvironmentBRDF_Spheres.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/035_Shader_TerrainShaders.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/057_SpeedTree_V7.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/057_SpeedTree_V7.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/117_SkyboxReflectionTestProjection.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/117_SkyboxReflectionTestProjection.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/118_SkyboxReflectionTestOrthographic.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/118_SkyboxReflectionTestOrthographic.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#1067 Add defines guards around shadows hlsl files
  com.unity.render-pipelines.core/ShaderLibrary/Shadow/ShadowSamplingTent.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowSampling.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowMoments.hlsl
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1051 Fix issue throwing exceptions when trying to do implicit conversions on null rthandles
  com.unity.render-pipelines.core/Runtime/Textures/RTHandle.cs
Labels: HDRP, SRP

#1074 [Yamato][Packages] Reorganise publishing pipelines [skip ci]
  .yamato/_packages.yml
  .yamato/_preview_publish.yml
  .yamato/ruamel/build.py
  .yamato/ruamel/jobs/packages/publish_all.py
  .yamato/ruamel/jobs/preview_publish/pb_promote.py
  .yamato/ruamel/jobs/preview_publish/pb_publish.py
  .yamato/ruamel/jobs/preview_publish/pb_publish_all_preview.py
Labels: needs-backport-9.x, yamato

#1076 [9.x.x][Yamato][Packages] Reorganise publishing pipelines [skip ci]
  .yamato/_packages.yml
  .yamato/_preview_publish.yml
  .yamato/ruamel/build.py
  .yamato/ruamel/jobs/packages/publish_all.py
  .yamato/ruamel/jobs/preview_publish/pb_promote.py
  .yamato/ruamel/jobs/preview_publish/pb_publish.py
  .yamato/ruamel/jobs/preview_publish/pb_publish_all_preview.py
Labels: yamato

#1071 Force scene view redraw upon change of override exposure
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDAdditionalSceneViewSettings.cs
Labels: HDRP

#1070 Fixed an error when clearing the SSGI history texture at creation time (1259930).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.cs
Labels: HDRP, dxr

#1080 Change parametrization of procedural metering mask
  com.unity.render-pipelines.high-definition/Documentation~/Override-Exposure.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Exposure.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP

#1006 Fixed Look Dev with Light Theme
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#1039 Allow ShaderGraph generation to generate multiple render state [Skip CI]
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
Labels: HDRP, Shader Graph

#1091 [Backport 7.x.x] Add defines guards around shadows hlsl files
  com.unity.render-pipelines.core/ShaderLibrary/Shadow/ShadowSamplingTent.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowSampling.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowMoments.hlsl
Labels: HDRP, SRP

#1092 [Backport 8.x.x] Add defines guards around shadows hlsl files
  com.unity.render-pipelines.core/ShaderLibrary/Shadow/ShadowSamplingTent.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowSampling.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowMoments.hlsl
Labels: HDRP, SRP

#1093 [Backport 7.x.x] Fix issue with light layers > 7 in the deferred path
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
Labels: HDRP

#1094 [Backport 8.x.x] Fix issue with light layers > 7 in the deferred path
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
Labels: HDRP

#701 Add setting to skip smallest bloom pyramid levels
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/100_BloomHDR.png.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Bloom.png
  com.unity.render-pipelines.universal/Documentation~/post-processing-bloom.md
  com.unity.render-pipelines.universal/Editor/Overrides/BloomEditor.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/Bloom.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: testing, universal

#1102 [Backport 8.x.x] Fix decal being duplicated in prefab isolation mode.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP

#1103 [Backport 7.x.x] Fix decal being duplicated in prefab isolation mode.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP

#943 [7.x.x backport]case 1250602
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#942 [8.x.x backport] case 1250602
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#946 [9.x.x backport] case 1250602
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#1072 Fix custom pass after post process buffer
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/DrawRenderersCustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassVolume.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1048 Fix glitch in Project settings window when selecting diffusion profiles
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineEditor.cs
Labels: HDRP

#1054 Fix issue with light layers > 7 in the deferred path
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1062 Fix emissive mesh layer mask behaviour
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1122 Fix openGLES 2 compil issue with Directional Lightmap sampling
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/EntityLighting.hlsl
Labels: SRP, needs-backport-7.x, needs-backport-8.x

#1112 Fixed an error when switch area light shape to disk while an emissive…
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/SerializedHDLight.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDEditorUtils.cs
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#1128 Universal/split project 19.3 mergefix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#1115 Fixed the transparent SSR dependency not being properly disabled according to the asset dependencies (1260271).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, needs-backport-9.x

#1043 Fix SSAO with double sided material and normal mode to none
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAO.compute
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1064 Use the wide mode to force the UI drawing on a single line (1251235)
  com.unity.render-pipelines.core/Editor/QuaternionPropertyDrawer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-8.x

#1100 Fixed the valid TRS test failing due to variable not being initialized to the identity matrix in RTShadows (1220600).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP

#1125 Implemented shadergraph upgrade system using system data
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/ShaderGraphVersion.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/ShaderGraphVersion.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/TargetData/SystemData.cs
Labels: HDRP

#1116 Have the PBR Sky not render black when below horizon
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1129 Find the appropriate default frame settings per editor (case 1247631)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDProbeEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#1038 Porting most of post processing to Render graph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4011_MotionBlur_PerObject.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4022_PaniniProjection.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4051_SMAA.unity
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResources.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, testing

#1055 Fix an issue with the quality mode and perf mode on RTR and RTGI and getting rid of unwanted nans (1256923)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/ReflectionDenoiser.compute
Labels: HDRP, dxr

#1069 Fix unitialized ray tracing resources when project uses non-default HDRP asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#1073 Workaround for an issue with local keyword and shadergraph preview material.
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit_Basemap.shader
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
Labels: HDRP, Shader Graph, needs-backport-7.x, needs-backport-8.x

#1075 Fix for area light baked data not updating when changing the gizmo
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1078 Fixed an issue with quality setting foldouts not opening when clicking on them (1253088).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
Labels: HDRP, dxr

#1083 Fix rendertarget cookie spaceshipdemo
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture2DAtlas.cs
Labels: HDRP, SRP, needs-backport-9.x

#1133 Fix XR multipass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, XR, needs-backport-9.x

#1140 [10.x.x] Fix documentation in Decal Layer + AxFGUI inherit from ShaderGUI
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Projector.md
  com.unity.render-pipelines.high-definition/Documentation~/Decal.md
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/HDShaderGUI.cs
Labels: HDRP

#1120 Modified 709_CameraExtendedCulling scene for better stability
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/709_CameraExtendedCulling.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/709_CameraExtendedCulling.unity
  com.unity.testing.hdrp/Scripts/AddAngles.cs
  com.unity.testing.hdrp/Scripts/AddAngles.cs.meta
Labels: HDRP, dxr, testing

#1052 split build.py and share platforms across all jobs [skip ci]
  .yamato/_packages.yml
  .yamato/_preview_publish.yml
  .yamato/_templates.yml
  .yamato/config/__shared.metafile
  .yamato/config/_editor.metafile
  .yamato/config/_packages.metafile
  .yamato/config/_preview_publish.metafile
  .yamato/config/_templates.metafile
  .yamato/config/hdrp.metafile
  .yamato/config/hdrp_dxr.metafile
  .yamato/config/universal.metafile
  .yamato/docs/readme.md
  .yamato/ruamel/build.py
  .yamato/ruamel/jobs/abv/abv_all_project_ci.py
  .yamato/ruamel/jobs/abv/abv_all_project_ci_nightly.py
  .yamato/ruamel/jobs/abv/abv_all_smoke_tests.py
  .yamato/ruamel/jobs/abv/abv_smoke_test.py
  .yamato/ruamel/jobs/abv/abv_trunk_verification.py
  .yamato/ruamel/jobs/abv/yml_abv.py
  .yamato/ruamel/jobs/editor/yml_editor.py
  .yamato/ruamel/jobs/packages/package_publish.py
  .yamato/ruamel/jobs/packages/package_publish_all.py
  .yamato/ruamel/jobs/packages/package_test.py
  .yamato/ruamel/jobs/packages/package_test_all.py
  .yamato/ruamel/jobs/packages/package_test_dependencies.py
  .yamato/ruamel/jobs/packages/yml_package.py
  .yamato/ruamel/jobs/preview_publish/yml_pb.py
  .yamato/ruamel/jobs/projects/_project_base.py
  .yamato/ruamel/jobs/projects/commands/_cmd_mapper.py
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/commands/linux.py
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/ruamel/jobs/projects/project_not_standalone.py
  .yamato/ruamel/jobs/projects/project_standalone.py
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/ruamel/jobs/projects/yml_project.py
  .yamato/ruamel/jobs/shared/namer.py
  .yamato/ruamel/jobs/templates/template_test.py
  .yamato/ruamel/jobs/templates/template_test_dependencies.py
  .yamato/ruamel/jobs/templates/test_all.py
  .yamato/ruamel/jobs/templates/yml_template.py
  .yamato/ruamel/metafile_parser.py
Labels: yamato

#577 [7.x.x] backport #575 camera stack prefix number
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: universal

#550 DOC-1818 Writing URP shaders
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-basic-hardcoded-color.jpg
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-color-field-with-scene.jpg
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-normals-uncompressed.jpg
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-normals.jpg
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-texture-property-in-inspector.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-texture-with-scene.jpg
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-material-prop-base-color.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-material-ui-shader-path.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-template-sample-object.jpg
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/shaders-in-universalrp.md
  com.unity.render-pipelines.universal/Documentation~/upgrading-your-shaders.md
  com.unity.render-pipelines.universal/Documentation~/writing-custom-shaders-urp.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-basic-prerequisites.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-basic-unlit-structure.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-color.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-normals.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-texture.md
Labels: needs-backport-7.x, needs-backport-8.x, universal

#515 [8.x.x Backport] Fixes for issue with Default shader and material not available when Models are imported at project startup.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/ShaderUtils.cs
  com.unity.render-pipelines.universal/Tests/Editor/EditorTests.cs
Labels: universal

#516 [7.x.x Backport] Fixes for issue with Default shader and material not available when Models are imported at project startup.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/ShaderUtils.cs
  com.unity.render-pipelines.universal/Tests/Editor/EditorTests.cs
Labels: universal

#1150 [10.x.x] Fix Wrong Meta file that have conflict merge pattern in them (<<<<HEAD) [Skip CI]
  com.unity.shadergraph/Editor/Data/Nodes/BlockNode.cs.meta
  com.unity.template-hd/Assets/HDRPDefaultResources/Sky and Fog Settings Profile.asset.meta
  com.unity.template-hd/Assets/VFXDefaultResources.asset.meta
Labels: Shader Graph

#1152 Updated doc.
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
Labels: HDRP

#642 [8.x.x] Merge 8.x.x/hd/staging [Skip CI]
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentListEditor.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/Textures/BufferedRTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandles.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeProfile.cs
  com.unity.render-pipelines.core/ShaderLibrary/Shadow/ShadowSamplingTent.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Creating-a-Custom-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.3-to-2020.1.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/ContactShadowsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/HDShaderGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitMasterNode.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/DefaultSettingsVolumeProfile.asset
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/AtmosphericScattering/FogEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/HDLightingWindowEnvironmentSection.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowSampling.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowMoments.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LookDev.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingSubSurface.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/SphericalQuad.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderingContext.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUpdateContext.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/VisualEnvironment.cs
Labels: HDRP, SRP

#1157 Address decal layer documentation feedback
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Projector.md
  com.unity.render-pipelines.high-definition/Documentation~/Decal.md
  com.unity.render-pipelines.high-definition/Documentation~/Default-Settings-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
Labels: HDRP

#1165 [skip ci] fix whitespace in android commands
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/universal-android-vulkan.yml
  .yamato/universal_hybrid-android-vulkan.yml
Labels: yamato

#1170 Hdrp/docs/upgrading to 2020.2
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
Labels: Docs, HDRP

#1110 HDRP - Shutter speed can now be changed by dragging the mouse over the UI label
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
Labels: HDRP

#1066 Multiple doc fixes: DOC-2066, DOC-1881, case-1254679
  com.unity.render-pipelines.universal/Documentation~/InstallURPIntoAProject.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/camera-component-reference.md
  com.unity.render-pipelines.universal/Documentation~/camera-types-and-render-type.md
  com.unity.render-pipelines.universal/Documentation~/creating-a-new-project-with-universalrp.md
  com.unity.render-pipelines.universal/Documentation~/creating-a-new-project-with-urp.md
  com.unity.render-pipelines.universal/Documentation~/light-component.md
  com.unity.render-pipelines.universal/Documentation~/lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-unlit-shader.md
  com.unity.render-pipelines.universal/Documentation~/rendering-to-the-same-render-target.md
  com.unity.render-pipelines.universal/Documentation~/shader-stripping.md
  com.unity.render-pipelines.universal/Documentation~/shaders-in-universalrp.md
  com.unity.render-pipelines.universal/Documentation~/shading-model.md
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-builtin-feature-comparison.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-2-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-lwrp-to-urp.md
  com.unity.render-pipelines.universal/Documentation~/upgrading-your-shaders.md
  com.unity.render-pipelines.universal/Editor/RenderStateDataEditor.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#842 [8.x.x Backport] Fix exposure white flash when enabling SSR
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP

#837 [8.x.x Backport] Fix transparent/opaque motion vector inconsistencies by allowing camera-only transparent motion vectors
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/MotionVectorVertexShaderCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
Labels: HDRP

#847 [8.x.x Backport] Fix depth pyramid issues with dynamic resolution
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP

#1105 [Backport 8.x.x] Fixed a serialization issue, preventing quality level parameters to undo/redo and update scene view on change.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/ScalableSettingLevelParameterEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalPostProcessingQualitySettings.cs
Labels: HDRP

#1107 [Backport 8.x.x] Fixed decal duplication when editing a prefab in context
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP

#1079 [8.x.x][Shader Graph] Fix StackLit Normal Slot
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitMasterNode.cs
Labels: HDRP, Shader Graph, backported-7.x

#1182 Update PropertyRM.uss
  com.unity.visualeffectgraph/Editor Default Resources/uss/PropertyRM.uss
Labels: vfx

#1184 Update PropertyRM.uss 9.x.x
  com.unity.visualeffectgraph/Editor Default Resources/uss/PropertyRM.uss
Labels: vfx

#1177 [8.x.x backport] doc multiple backports
  com.unity.render-pipelines.universal/Documentation~/EffectList.md
  com.unity.render-pipelines.universal/Documentation~/Images/customizing-urp/deactivate-script-component.png
  com.unity.render-pipelines.universal/Documentation~/Images/customizing-urp/log-message-in-console.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-basic-hardcoded-color.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-color-field-with-scene.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-normals-uncompressed.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-normals.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-texture-property-in-inspector.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/unlit-shader-tutorial-texture-with-scene.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-material-prop-base-color.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-material-ui-shader-path.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-template-sample-object.png
  com.unity.render-pipelines.universal/Documentation~/InstallURPIntoAProject.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/camera-component-reference.md
  com.unity.render-pipelines.universal/Documentation~/camera-types-and-render-type.md
  com.unity.render-pipelines.universal/Documentation~/creating-a-new-project-with-universalrp.md
  com.unity.render-pipelines.universal/Documentation~/creating-a-new-project-with-urp.md
  com.unity.render-pipelines.universal/Documentation~/customizing-urp.md
  com.unity.render-pipelines.universal/Documentation~/faq.md
  com.unity.render-pipelines.universal/Documentation~/light-component.md
  com.unity.render-pipelines.universal/Documentation~/lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-unlit-shader.md
  com.unity.render-pipelines.universal/Documentation~/rendering-to-the-same-render-target.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.render-pipelines.universal/Documentation~/shader-stripping.md
  com.unity.render-pipelines.universal/Documentation~/shader-structure.md
  com.unity.render-pipelines.universal/Documentation~/shaders-in-universalrp.md
  com.unity.render-pipelines.universal/Documentation~/shading-model.md
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-builtin-feature-comparison.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-2-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-8-2-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-lwrp-to-urp.md
  com.unity.render-pipelines.universal/Documentation~/upgrading-your-shaders.md
  com.unity.render-pipelines.universal/Documentation~/urp-shader-examples.md
  com.unity.render-pipelines.universal/Documentation~/using-begincamerarendering.md
  com.unity.render-pipelines.universal/Documentation~/writing-custom-shaders-urp.md
  com.unity.render-pipelines.universal/Documentation~/writing-custom-shaders.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-basic-prerequisites.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-basic-unlit-structure.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-color.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-normals.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-unlit-texture.md
  com.unity.render-pipelines.universal/Editor/ForwardRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/RenderStateDataEditor.cs
  com.unity.shadergraph/README.md
  com.unity.template-hd/Packages/com.unity.template.hd/Documentation~/hd.md
  com.unity.template-hd/README.md
Labels: universal

#1154 Added what's new page and relevant images
  com.unity.render-pipelines.high-definition/Documentation~/Images/CustomPass_API.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPFeatures-CloudLayer.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPFeatures-IESProfiles.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/LightDebugView.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Path-traced-SSS.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Path-traced-fog.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/PlanarReflectionFiltering.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/aov_example.png
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new.md
Labels: Docs, HDRP

#1185 Fix Material Creation RenderQueue setup + Fix AXF GUI
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/StandardsToHDLitMaterialUpgrader.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/HDShaderGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/BaseUnlitGUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialExtension.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderQueue.cs
Labels: HDRP

#1181 Refactor keyword system in ShaderGraph
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/LightingSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/PassDescriptorExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/PassDescriptorExtension.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#1086 [Shader Graph] Remove Dangling Namespaces
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Interfaces/IInspectable.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IPropertyDrawer.cs
  com.unity.shadergraph/Editor/Data/Util/GraphUtil.cs
  com.unity.shadergraph/Editor/Data/Util/KeywordDependentCollection.cs
  com.unity.shadergraph/Editor/Data/Util/ShaderGraphRequirementsPerKeyword.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/AbstractMaterialNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/BoolPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ColorPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/CubemapPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/CustomFunctionNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/DropdownPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/EnumPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/FloatPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GradientPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GraphDataPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/IntegerPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/MatrixPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/SampleVirtualTextureNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/SubGraphOutputNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/TextPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/Texture2DArrayPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/Texture2DPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/Texture3DPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ToggleDataPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/Vector2PropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/Vector3PropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/Vector4PropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/Editor/Drawing/Views/PropertyNodeView.cs
  com.unity.shadergraph/Editor/Drawing/Views/ReorderableTextListView.cs
  com.unity.shadergraph/Editor/Extensions/IConditionalExtensions.cs
  com.unity.shadergraph/Editor/Generation/Processors/ActiveFields.cs
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Generation/Processors/ShaderSpliceUtil.cs
  com.unity.shadergraph/Tests/Editor/IntegrationTests/NamespaceTests.cs
  com.unity.shadergraph/Tests/Editor/IntegrationTests/NamespaceTests.cs.meta
Labels: Shader Graph

#1178 [8.x.x] Backport of CopyColorPass execute after skybox
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#1034 Made conversion from render graph handles to actual resource implicit.
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResources.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraphUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequestData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
Labels: HDRP, SRP

#1179 Fix material flags unpack and normals.
  com.unity.render-pipelines.universal/ShaderLibrary/UnityGBuffer.hlsl
Labels: universal

#1188 Remove Metal editmode tests
  .yamato/all-hdrp.yml
  .yamato/config/__shared.metafile
  .yamato/config/hdrp.metafile
  .yamato/hdrp-osx-metal.yml
  .yamato/shadergraph-osx-metal.yml
  .yamato/universal-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
Labels: yamato

#1195 Edited CHANGELOG.md
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: universal

#1194 Added volume debug panel entry and reviewed other content
  com.unity.render-pipelines.high-definition/Documentation~/Images/VolumeDebugMode.png
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
Labels: Docs, HDRP

#1200 Disabled color grading/tonemapping tests on iOS and Android
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#1198 Shadow-Fix backport to 7.x.x
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/ShadowCaster2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowUtility.cs
  com.unity.render-pipelines.universal/Shaders/2D/ShadowGroup2D.shader
Labels: 2d, universal

#1196 Shadow-Fix backport to 8.x.x
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/ShadowCaster2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowUtility.cs
  com.unity.render-pipelines.universal/Shaders/2D/ShadowGroup2D.shader
Labels: 2d, universal

#1202 [VFX] Fix compilation with SpaceShip
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXOutputUpdate.cs
Labels: vfx

#1203 Fix double sided unlit mode in the UI
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceOptionPropertyBlock.cs
Labels: HDRP

#1204 Fix the default value of the foldout in the graph inspector
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GraphDataPropertyDrawer.cs
Labels: Shader Graph, needs-backport-9.x

#1205 [8.x.x] Merge 8.x.x/hd/staging
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/IndirectLightingController.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Meshes/Cloth.obj
Labels: HDRP

#1191 reference the DownsampleVTFeedback compute shader to avoid shader stripping
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
Labels: HDRP

#1210 [8.x.x] search windows context entries bugfix
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/EdgeConnectorListener.cs
Labels: Shader Graph

#1222 [Yamato] Add .github and Tools folders to ignored folders for abv
  .yamato/_abv.yml
  .yamato/ruamel/jobs/abv/abv_all_project_ci.py
Labels: yamato

#1221 [9.x.x][backport] PR workflow changes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/draft.yml
  .yamato/_abv.yml
  .yamato/ruamel/jobs/abv/abv_all_project_ci.py
Labels: yamato

#1223 [8.x.x][backport] PR workflow changes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/draft.yml
  .yamato/_abv.yml
  .yamato/ruamel/jobs/abv/abv_all_project_ci.py
Labels: yamato

#1225 [7.x.x][backport] PR workflow changes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/draft.yml
  .yamato/_abv.yml
  .yamato/ruamel/jobs/abv/abv_all_project_ci.py
Labels: yamato

#1227 Use full paths for CAS includes
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ContrastAdaptiveSharpen.compute
Labels: HDRP, needs-backport-8.x

#1180 Hdrp/fix rt odd negative scale
  com.unity.render-pipelines.core/ShaderLibrary/SpaceTransforms.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingFragInputs.hlsl
Labels: HDRP, SRP, dxr

#1208 [8.x.x][Shader Graph] Fix Custom Function node object selector
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
  com.unity.shadergraph/Editor/Drawing/Views/HlslFunctionView.cs
Labels: Shader Graph

#1228 Hdrp/fix hierarchicalbox gizmo symetry and homothety mode ensuring face faces outside
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Gizmo/HierarchicalBox.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.Handles.cs
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#1160 Fix XR single-pass macros in tessellation shaders
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VertMesh.hlsl
Labels: HDRP, XR, needs-backport-7.x, needs-backport-8.x

#1231 [8.x.x] Merge 8.x.x/hd/staging [Skip CI]
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Gizmo/HierarchicalBox.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.Handles.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ContrastAdaptiveSharpen.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ffx_a.h.meta
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ffx_a.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ffx_a.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ffx_cas.h.meta
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ffx_cas.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ffx_cas.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ffx_lpm.h.meta
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ffx_lpm.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ffx_lpm.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VertMesh.hlsl
Labels: HDRP, SRP

#1169 Requirements page (10.0 and 8.2), upgrade guide 8.2
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-8-2-0.md
Labels: backported-8.x, universal

#1190 [skip ci] [backport] packages path fix
  .yamato/_packages.yml
  .yamato/_templates.yml
  .yamato/ruamel/jobs/packages/package_pack.py
  .yamato/ruamel/jobs/shared/constants.py
  .yamato/ruamel/jobs/shared/yml_job.py
Labels: yamato

#1189 [skip ci] [backport] packages path fix (#1045)
  .yamato/_packages.yml
  .yamato/_templates.yml
  .yamato/ruamel/jobs/packages/package_pack.py
  .yamato/ruamel/jobs/shared/constants.py
  .yamato/ruamel/jobs/shared/yml_job.py
Labels: yamato

#1001 [skip ci] Fixing camera overlay stacking adding to respect unity general reference restrictions
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#1192 Remove automatic setup of global texture from Render Graph
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/OpaqueAtmosphericScattering.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP, SRP

#1236 Micro shadows directional light disclaimer
  com.unity.render-pipelines.high-definition/Documentation~/Override-Micro-Shadows.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1235 Hdrp/atlas cube modif
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedGlobalLightLoopSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightCookieManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/GlobalLightLoopSettings.cs
Labels: HDRP, SRP

#1117 Re-eanbling gfx test 35-TerrainShaders
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: testing, universal

#1224 Hdrp/pt sss diff mix
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5007_PathTracing_Materials_SG_Lit.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
Labels: HDRP, SRP, dxr

#1247 Added disclaimer to volumes
  com.unity.render-pipelines.high-definition/Documentation~/Volumes.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1237 Change Cloud Layer API
  com.unity.render-pipelines.high-definition/Documentation~/Override-Cloud-Layer.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Shader/DefaultCloudLayerShader.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/DefaultCloudLayer.asset
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudLayer/CloudLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudLayer/CloudLayer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderer.cs
Labels: HDRP

#1216 ShaderGraph UI fixes
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/LitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/TargetData/SystemData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/AdvancedOptionsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/ShaderGraphUIBlock.cs
Labels: HDRP

#1214 Move shadergraph properties
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/AdvancedOptionsPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/ShaderGraphVersion.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/TargetData/BuiltinData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/TargetData/SystemData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.Migration.cs
Labels: HDRP

#1153 Fix custom pass reorder
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassVolumeEditor.cs
Labels: HDRP, needs-backport-9.x

#977 [Shader Graph] Fix Custom Function node object selector
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
  com.unity.shadergraph/Editor/Drawing/Views/HlslFunctionView.cs
Labels: Shader Graph, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1209 [7.x.x][Shader Graph] Fix Custom Function node object selector
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
  com.unity.shadergraph/Editor/Drawing/Views/HlslFunctionView.cs
Labels: Shader Graph

#1207 [9.x.x][Shader Graph] Fix Custom Function node object selector
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
  com.unity.shadergraph/Editor/Drawing/Views/HlslFunctionView.cs
Labels: Shader Graph

#1077 [7.x.x][Shader Graph] Fix StackLit Normal Slot
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitMasterNode.cs
Labels: HDRP, Shader Graph

#1233 Make sure we don't end up with null normals from normal mapping, when scale is 0.
  com.unity.render-pipelines.core/ShaderLibrary/Packing.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP

#1226 Contact shadows improvements
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Contact-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/ContactShadowsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#1193 TAA and Physically based DoF
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Depth-of-Field.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/DepthOfFieldEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedPostProcessingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/DepthOfField.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFCircleOfConfusion.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGather.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntiAliasing.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCameraFrameHistoryType.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalPostProcessingQualitySettings.cs
Labels: HDRP

#1255 Remove rider from all tests project
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_PerformanceTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
Labels: HDRP, Shader Graph, testing, universal, vfx

#1199 [10.x.x] Fixed issue that caused the pipeline to not create _CameraColorTexture in some situations
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#1217 [9.x.x Backport] Fixing NewRendererFeature template, FrameCleanup() and creating Deprecated.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/NewRendererFeature.cs.txt
  com.unity.render-pipelines.universal/Runtime/Deprecated.cs
  com.unity.render-pipelines.universal/Runtime/Deprecated.cs.meta
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#1262 [9.x.x][Shader Graph] Fix tempID console error
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
Labels: Shader Graph, high-priority

#1114 DOC-2044 Added HDR rendering, HDR output to the table
  com.unity.render-pipelines.universal/Documentation~/universalrp-builtin-feature-comparison.md
Labels: backported-8.x, needs-backport-9.x, universal

#1260 [Backport 8.x.x] Add setting to skip smallest bloom pyramid levels
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/100_BloomHDR.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/100_BloomHDR.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/100_BloomHDR.png.meta
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Bloom.png
  com.unity.render-pipelines.universal/Documentation~/post-processing-bloom.md
  com.unity.render-pipelines.universal/Editor/Overrides/BloomEditor.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/Bloom.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: testing, universal

#1263 DOC-1805 SSAO documentation
  com.unity.render-pipelines.core/Editor/Drawing.meta
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/scene-ssao-off.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/scene-ssao-on.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/scene-ssao-only-ao.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/ssao-depth-normals.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/ssao-depth-q-high.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/ssao-depth-q-low.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/ssao-depth-q-medium.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/ssao-direct-light-02.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/ssao-direct-light-09.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/ssao-inspector-no-rend-features.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/ssao-renderer-feature-created.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/ssao-select-renderer-feature.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/ssao/ssao-select-renderer.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/post-processing-ssao.md
Labels: SRP, universal

#1020 Fixed for XR support for Deferred renderer.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/DeferredRenderer.cs
  com.unity.render-pipelines.universal/Runtime/DeferredRendererData.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DeferredPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/GBufferPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/TileDepthRangePass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/ShaderLibrary/UnityGBuffer.hlsl
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
  com.unity.render-pipelines.universal/Shaders/Utils/TileDeferred.shader
Labels: universal

#938 Fix for lighting bug
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point.shader
Labels: 2d, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#903 Discard transparent fragments in SpriteLit
  com.unity.render-pipelines.universal/Shaders/2D/Include/CombinedShapeLightShared.hlsl
Labels: needs-backport-7.x, needs-backport-8.x, universal

#1256 DoF: avoid calling GetDimensions for LoDs in the shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGather.compute
Labels: HDRP

#973 Fixing RenderObject to reflect name changes done in CustomForwardRenderer asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#1250 Fix profiling marker mismatches by removing named CommandBuffers.
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Common/CommandBufferPool.cs
  com.unity.render-pipelines.core/Runtime/Debugging/ProfilingScope.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/DeferredRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ForwardLights.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CapturePass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyColorPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthNormalOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawObjectsPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/GBufferPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/RenderObjectsPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/SceneViewDepthCopy.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScreenSpaceShadowResolvePass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/TransparentSettingsPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/XROcclusionMeshPass.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: needs-backport-9.x, universal

#1158 Update Vulkan reference images for tests 9601 and 9602
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9601_SkinnedMeshBatching-Off.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9602_SkinnedMeshBatching-On.png
Labels: HDRP, XR, testing

#1211 [9.x.x Backport] Fix the default value of the foldout in the graph inspector
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GraphDataPropertyDrawer.cs
Labels: Shader Graph

#1281 Fixes to allow 2020.1 to compile with URP 10.x.x
  com.unity.render-pipelines.universal/Editor/2D/ShapeEditor/EditorTool/PathComponentEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/ShapeEditor/EditorTool/PathEditorTool.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: universal

#1245 Add clear coat support to Lit particles.
  TestProjects/UniversalGraphicsTest/Assets/Scenes/037_Particles/Materials/1. Lit - Shadow - Clear Coat.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/037_Particles/Materials/1. Lit - Shadow - Clear Coat.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/037_Particles_Standard.unity
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/LitGUI.cs
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLitInput.hlsl
Labels: testing, universal

#1258 [10.x.x] Enable 036 URP test scene on Android
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/036_Lighting_Scene_DirectionalBakedDirectional.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/036_Lighting_Scene_DirectionalBakedDirectional.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/036_Lighting_Scene_DirectionalBakedDirectional.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/036_Lighting_Scene_DirectionalBakedDirectional.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#1265 [VFX] Fix crash on NDA platform : 100_Fog
  com.unity.visualeffectgraph/Shaders/ParticleLinesSW/PassForward.template
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, vfx

#1111 Fullscreendebug mode to display the requested VirtualTexturing tiles [Skip CI]
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugVTBlit.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugVTBlit.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
Labels: HDRP

#1005 [VFX/ShaderGraph] Workflow improvement : Emission, UX & VFXTarget
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Exposure.asset
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Exposure.asset.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Exposure.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Exposure.unity.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Exposure.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Exposure.vfx.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Lit_Ref.mat
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Lit_Ref.mat.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Lit_Ref.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Lit_Ref.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Lit_VFX.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Lit_VFX.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Unlit_Ref.mat
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Unlit_Ref.mat.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Unlit_Ref.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Unlit_Ref.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Unlit_VFX.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/101_Unlit_VFX.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/101_Exposure.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/101_Exposure.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/101_Exposure.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/101_Exposure.png.meta
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Targets/VFXTarget.cs
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphParticleOutput.cs
  com.unity.visualeffectgraph/Shaders/ParticleMeshes/PassForward.template
  com.unity.visualeffectgraph/Shaders/ParticlePlanarPrimitives/PassForward.template
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/VFXCommon.hlsl
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Universal/VFXCommon.hlsl
Labels: Shader Graph, vfx

#1082 Added documentation for material GUI
  com.unity.render-pipelines.high-definition/Editor/Material/MaterialHeaderScope.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/HDShaderGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LightingShaderGraphGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/MaterialUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitGUI.cs
Labels: HDRP

#1232 Various small fixes for render graph.
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphDefaultResources.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphPass.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourcePool.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Tests/Editor/RenderGraphTests.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, SRP

#1259 Added missing volumes API toc entry
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1277 Changing ACES to ACES conversion methods to use float
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/ACES.hlsl
Labels: SRP

#1278 Only building the RTAS if there is an effect that will require it (1262217).
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferredGIRefl.asset
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferredGIRefl.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/100_NoRayTracingEffects.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/100_NoRayTracingEffects.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/100_NoRayTracingEffects.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/100_NoRayTracingEffects.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/NoRayTracingVolume.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/NoRayTracingVolume/NoRayTracingVolume.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/NoRayTracingVolume/NoRayTracingVolume.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Shared/M_Mirror.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Shared/M_Mirror.mat.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: dxr, testing

#1284 Fixed rendering breaking when disabling tonemapping in the frame settings.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1282 Fixed a null ref in the volume component list when there is no volume components in the project
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/FilterWindow.cs
Labels: SRP, needs-backport-8.x

#1286 Make sure serialization of exposure modes is consistent between HDRP versions
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/Outdoors/Sky and Fog Settings Profile.asset
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/OutdoorsDXR/Sky and Fog Settings Profile.asset
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Exposure.cs
Labels: HDRP
