Repository Unity-Technologies/Graphics, pull requests merged in 2020-09, with the labels that each got.

#1687 Extending lit shader detail pragma with turned off version
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/131_ParallaxMapping.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/132_DetailMapping.png
  com.unity.render-pipelines.universal/Shaders/Lit.shader
Labels: testing, universal

#1723 Update HDRP - OSX playmode reference images [skip ci]
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1207_Lit_Displacement.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1214_Lit_LowResTransparent.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1701_Decals.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1702_MeshDecals.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1704_Decals-Settings.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1706_DecalsSG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1707-Decals-FadeFactorAndDistance.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1708_DecalsSG_on_SG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1711_DecalMasks_3RT.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1711_DecalMasks_4RT.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2001_Light_DynamicDirectional.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2205_LightLoopCullWOblique.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/3003_LightingMode.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4075_PhysicalCamera-gateFit.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4076_PhysicalCamera-lensShift.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8101_Opaque.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8204_CustomSpecOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9500_LightScripting.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9801_ShurikenLightModule.png
Labels: HDRP, testing

#1713 [VFX] 7.5 backports
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/26_NonUnifomScale.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/26_NonUnifomScale.unity.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/26_NormalMappedCube.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/26_NormalMappedCube.vfx.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/26_NormalMappedQuad.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/26_NormalMappedQuad.vfx.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/CircularMask.png
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/CircularMask.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/LightingData.asset
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/SubgraphContext/SimpleGraph.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/26_NonUnifomScale.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/26_NonUnifomScale.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/26_NonUnifomScale.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/26_NonUnifomScale.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/26_NonUnifomScale.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/26_NonUnifomScale.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/26_NonUnifomScale.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/26_NonUnifomScale.png.meta
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/101_ShadergraphSampleScene/LightingData.asset
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/GettingStarted.md
  com.unity.visualeffectgraph/Documentation~/System-Requirements.md
  com.unity.visualeffectgraph/Documentation~/TableOfContents.md
  com.unity.visualeffectgraph/Editor/FilterPopup/VFXFilterWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Orientation/Orient.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/VFXSubgraphBlock.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXStaticMeshOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/VFXSubgraphOperator.cs
  com.unity.visualeffectgraph/Editor/VFXAssetEditorUtility.cs
  com.unity.visualeffectgraph/Shaders/ParticleMeshes/Pass.template
  com.unity.visualeffectgraph/Shaders/ParticlePlanarPrimitives/PassGS.template
  com.unity.visualeffectgraph/Shaders/ParticlePlanarPrimitives/PassVS.template
  com.unity.visualeffectgraph/Shaders/VFXCommon.hlsl
Labels: testing, vfx

#1710 [8.x.x][universal] backport camera prefab property fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: universal

#1678 Hdrp/fix/terrain layer parametrization
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/TerrainLit/TerrainLitGUI.cs
Labels: HDRP, needs-backport-8.x, needs-backport-9.x, testing

#1724 Implemented path tracing with render graph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5001_PathTracing.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5002_PathTracing_GI.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5003_PathTracing_transparency.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5004_PathTracing_arealight.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5005_PathTracing_Fog.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoF.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5007_PathTracing_Materials_SG_Lit.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5007_PathTracing_Materials_SG_Unlit.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5008_PathTracing_NormalMapping.unity
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/BlueNoise.cs
Labels: HDRP, testing

#1730 Fix shader warning / compiler work-around
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGather.compute
Labels: HDRP

#1673 [ShaderGraph] [bugfix] case 1263608 : Respect slot renames and ordering
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
Labels: Shader Graph

#1692 [ShaderGraph] [bugfix] Making Vector slot labels an optional override
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/Vector1MaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector2MaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector3MaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector4MaterialSlot.cs
Labels: Shader Graph

#1702 [ShaderGraph] [bugfix 1264932] "Properly" handle null textures in preview
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/PreviewProperty.cs
Labels: Shader Graph, needs-backport-9.x

#1705 [VFX] Fix incorrect AlphaTreshold listing (7.x.x)
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Internal/ShaderGraphVfxAsset.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphParticleOutput.cs
Labels: Shader Graph, vfx

#1712 [7.x.x][backport]backport camera prefab property fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: universal

#1736 [7.x.x Backport] Discard transparent fragments in SpriteLit
  com.unity.render-pipelines.universal/Shaders/2D/Include/CombinedShapeLightShared.hlsl
Labels: universal

#1735 [8.x.x Backport] Discard transparent fragments in SpriteLit
  com.unity.render-pipelines.universal/Shaders/2D/Include/CombinedShapeLightShared.hlsl
Labels: universal

#1732 [10.x.x] Update URP test 035 and 130 reference images for Android Vulkan
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/130_ClearCoat.png
Labels: testing, universal

#1739 [7.x.x Backport] Copy Color pass executes after skybox
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#1737 [8.x.x Backport] Cache graphics format support for all kinds of usages
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
Labels: universal

#1738 [7.x.x Backport] Cache graphics format support for all kinds of usages
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
Labels: universal

#1690 Add/change perf markers to use URPProfileId enum.
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyColorPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthNormalOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawObjectsPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/RenderObjectsPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScreenSpaceShadowResolvePass.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#1726 [9.x.x] Backports of Auto-bumper, Mac image update, Templates tests activation
  .yamato/_preview_publish.yml
  .yamato/_templates.yml
  .yamato/config/__shared.metafile
  .yamato/docs/readme.md
  .yamato/ruamel/jobs/preview_publish/pb_auto_version.py
  .yamato/ruamel/jobs/templates/template_test.py
  .yamato/ruamel/jobs/templates/template_test_dependencies.py
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/universal-osx-openglcore.yml
  .yamato/vfx_urp-osx-openglcore.yml
  Tools/standalone/templates_auto_bumper.py
Labels: yamato

#1727 [8.x.x] Backports of Mac image update, Templates tests activation
  .yamato/_templates.yml
  .yamato/config/__shared.metafile
  .yamato/docs/readme.md
  .yamato/ruamel/jobs/templates/template_test.py
  .yamato/ruamel/jobs/templates/template_test_dependencies.py
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/universal-osx-openglcore.yml
  .yamato/vfx_urp-osx-openglcore.yml
Labels: yamato

#1728 [7.x.x] Backports of Mac image update, Templates tests activation
  .yamato/_templates.yml
  .yamato/config/__shared.metafile
  .yamato/docs/readme.md
  .yamato/ruamel/jobs/templates/template_test.py
  .yamato/ruamel/jobs/templates/template_test_dependencies.py
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/universal-osx-openglcore.yml
  .yamato/vfx_urp-osx-openglcore.yml
Labels: yamato

#1741 [8.x.x Backport] 2D: Fix for lighting bug
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point.shader
Labels: universal

#1742 [7.x.x Backport] 2D: Fix for lighting bug
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point.shader
Labels: universal

#1744 [7.x.x Backport] Fix for MSAA resolve performance on iOS/Metal
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#1749 [7.x.x backport] Backporting PRs: "655", "1066". Also updated Requirements and upgrade instructions.
  com.unity.render-pipelines.universal/Documentation~/InstallURPIntoAProject.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/camera-component-reference.md
  com.unity.render-pipelines.universal/Documentation~/camera-types-and-render-type.md
  com.unity.render-pipelines.universal/Documentation~/creating-a-new-project-with-universalrp.md
  com.unity.render-pipelines.universal/Documentation~/creating-a-new-project-with-urp.md
  com.unity.render-pipelines.universal/Documentation~/faq.md
  com.unity.render-pipelines.universal/Documentation~/light-component.md
  com.unity.render-pipelines.universal/Documentation~/lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-unlit-shader.md
  com.unity.render-pipelines.universal/Documentation~/rendering-to-the-same-render-target.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.render-pipelines.universal/Documentation~/shader-stripping.md
  com.unity.render-pipelines.universal/Documentation~/shaders-in-universalrp.md
  com.unity.render-pipelines.universal/Documentation~/shading-model.md
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-builtin-feature-comparison.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-2-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-5-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-lwrp-to-urp.md
  com.unity.render-pipelines.universal/Documentation~/upgrading-your-shaders.md
  com.unity.render-pipelines.universal/Editor/RenderStateDataEditor.cs
Labels: Shader Graph, universal

#1754 [7.x.x Backport] Renamed PlatformRequiresExplicitAutoResolve to PlatformRequiresExplicitMsaaResolve
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#1520 Make AOV API available at runtime
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Compositor-User-Options.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionLayerUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedRenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVBuffers.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequestData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
Labels: HDRP

#1469 Add shadow dynamic rescale mention in the shadow docs.
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
Labels: HDRP

#1532 Hdrp/update decal atlas when texture changes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
Labels: HDRP, needs-backport-8.x, needs-backport-9.x

#1537 Fix Screen position out of view frustum issues when planar reflection probe is at same camera location
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeCapturePositionSettings.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1682 Add macro helper to compute LaneSwizzle offset
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
Labels: HDRP, SRP

#1676 Remove Decal Property mask generation
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/ClearPropertyMaskBuffer.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/ClearPropertyMaskBuffer.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DBufferManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/ShaderVariablesDecal.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDecal.hlsl
Labels: HDRP

#1750 [8.x.x Backport] Fix for MSAA resolve performance on iOS/Metal
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#1697 Supporting SSGI in the render graph mode.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.RenderGraph.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP

#1693 [10.x.x] Bugfix 1269119 - Android launch times on GLES3 increased 4x
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Shaders/BakedLit.shader
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
Labels: universal

#1766 Update Layered-Lit-Shader
  com.unity.render-pipelines.high-definition/Documentation~/Layered-Lit-Shader.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1762 [7.x.x] Fixing issues with URP and ShaderGraph test projects
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Assets/Scenes/126_SampleDepth/SphereIntersector.shadergraph
Labels: Shader Graph, testing, universal

#1717 [ShaderGraph] [BugFix 1271618] fix SampleVirtualTextureNode output slots (when toggling AutoStream)
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleVirtualTextureNode.cs
Labels: Shader Graph

#1715 [9.x.x] [ShaderGraph] [backport] Fix for 1268483 (#1565)
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleVirtualTextureNode.cs
Labels: Shader Graph

#1716 Fix for 1264930 (not passing correct object type to callback)
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
Labels: Shader Graph

#1747 [8.x.x Backport] Fixed division by zero in visibility function
  com.unity.render-pipelines.core/ShaderLibrary/BSDF.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: SRP, universal

#1753 [9.x.x Backport] Fix for MSAA resolve performance on iOS/Metal
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#1760 Fix for cookie being allocated on cone spot lights
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
Labels: HDRP

#1769 Fix for assertion on undoing a mod of diffuse profile list with volume profile deleted
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentListEditor.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#1767 Fix custom pass reordering and removing
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassVolumeEditor.cs
Labels: HDRP

#1774 [Yamato] Do a split build in the OSX Metal jobs
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/shadergraph-osx-metal.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-osx-metal.yml
Labels: yamato

#1763 Implemented VT with Render Graph
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugVTBlit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/VTBufferManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassVolume.cs
Labels: HDRP

#1777 [8.x.x backport] Fix issues with history sampling and hw dynamic res
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-7.x

#1706 [ShaderGraph] [bugfix 1271598] Check for null when attempting to get vt property
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleVirtualTextureNode.cs
Labels: Shader Graph

#1780 disable osx metal standalone
  .yamato/all-hdrp.yml
  .yamato/all-universal.yml
  .yamato/config/hdrp.metafile
  .yamato/config/universal.metafile
Labels: yamato

#1772 Changed the way the ray tracing property is displayed on the material(QOL 1265297).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
Labels: HDRP, dxr

#1776 Fix issues with history sampling and hw dynamic res
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntialiasing.hlsl
Labels: HDRP, SRP, needs-backport-9.x

#1770 Fix shader properties.
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
Labels: universal

#1775 Fixed two issues with sky static lighting.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1785 [Yamato] Rerun always when custom revision is used
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/ruamel/jobs/projects/_project_base.py
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-osx-metal.yml
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-openglcore.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal-osx-openglcore.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_boatattack-win-dx11.yml
  .yamato/urpupdate_boatattack-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vfx_urp-osx-openglcore.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#1618 Fixed Assertion failure 1222676
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: needs-backport-7.x, needs-backport-8.x, universal

#1791 [Yamato] Revert mac workaround
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/shadergraph-osx-metal.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-osx-metal.yml
Labels: yamato

#1757 Fixed an error message trigerred when a mesh has more than 32 sub-meshes (case 1274508).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, dxr

#1771 Fixed RTGI getting noisy for grazying angle geometry (case 1266462).
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_Indirect.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/202_LargeAmbientOcclusionDenoised.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/204_LocalAmbientOcclusionDenoised.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/304_GlobalIlluminationDenoised1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/305_GlobalIlluminationDenoisedHalf1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/306_GlobalIlluminationDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/307_GlobalIlluminationFog.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/803_SubSurfaceScatteringGlobalIllumination.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/AmbientOcclusionData/LargeAmbientOcclusionDenoised.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/AmbientOcclusionData/LocalAmbeintOcclusionDenoised.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationDenoised1.asset
  com.unity.render-pipelines.core/ShaderLibrary/Sampling/Sampling.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Global-Illumination.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DiffuseDenoiser.compute
Labels: HDRP, SRP, dxr, testing

#1787 Exposing lens attenuation to default settings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Default-Settings-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedHDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
Labels: HDRP

#1665 [10.x.x] Revert back PostFX varyings and attributes naming
  com.unity.render-pipelines.universal/Shaders/PostProcessing/Bloom.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/BokehDepthOfField.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/CameraMotionBlur.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/Common.hlsl
  com.unity.render-pipelines.universal/Shaders/PostProcessing/FinalPost.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/GaussianDepthOfField.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/LutBuilderHdr.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/LutBuilderLdr.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/PaniniProjection.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/StopNaN.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/SubpixelMorphologicalAntialiasingBridge.hlsl
  com.unity.render-pipelines.universal/Shaders/PostProcessing/UberPost.shader
  com.unity.render-pipelines.universal/Shaders/Utils/Blit.shader
  com.unity.render-pipelines.universal/Shaders/Utils/Fullscreen.hlsl
  com.unity.render-pipelines.universal/Shaders/Utils/Sampling.shader
Labels: universal

#1672 Expose ShaderPreprocessor variant count to perf tests.
  com.unity.render-pipelines.universal/Editor/AssemblyInfo.cs
  com.unity.render-pipelines.universal/Editor/AssemblyInfo.cs.meta
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
Labels: universal

#1666 Fixed an issue with TAA history management on pssl.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntiAliasing.shader
Labels: HDRP

#1792 - Fixed an exception related to ray tracing effects and the camera preview.
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, dxr

#1718 [ShaderGraph] [bugfix 1274288] ProceduralVT node should update SampleVT output slot counts
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/ProceduralVirtualTextureNode.cs
Labels: Shader Graph

#1745 Fixed the global illumination volume override having an unwanted advanced mode (case 1270459).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
Labels: HDRP, dxr

#1751 Fixed screen space shadow option displayed on directional shadows while they shouldn't (case 1270537).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, dxr

#1511 [Hdrp][Compositor] Clear layers to black when deleting all sub-layers
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
Labels: HDRP

#1522 [HDRP][Compositor] Fix handling of undo and redo actions in the graphics compositor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositorWindow.cs
Labels: HDRP

#1530 [Hdrp][Compositor] Fixed issue with composition graphs that include virtual textures and non-2D textures
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionProfile.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/ShaderProperty.cs
Labels: HDRP

#1549 [Hdrp][Compositor] Fix issues when selecting a new composition graph or setting it to None
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionUtils.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositorWindow.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/SerializedCompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
Labels: HDRP

#1653 [HDRP][Compositor] Update the compositor output when not in play mode
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositorWindow.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
Labels: HDRP

#1679 Moved runtime code for emissive mesh (case 1268379)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x

#1322 [Backport 8.x.x] Fixed an issue where look dev lighting would go black when a new scene is loaded.
  com.unity.render-pipelines.core/Editor/LookDev/LookDevRenderer.cs
  com.unity.render-pipelines.core/Editor/LookDev/Stage.cs
  com.unity.render-pipelines.core/Runtime/LookDev/IDataProvider.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LookDev.cs
Labels: HDRP, SRP

#1538 Make sure diffusion profile is correct upon its editor reset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileSettingsEditor.cs
Labels: HDRP, needs-backport-8.x, needs-backport-9.x

#1569 Expose bilateral blur aggressiveness for spatial SSAO blur when temporal accumulation
  com.unity.render-pipelines.high-definition/Documentation~/Images/OverrideAmbientOcclusion1.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Ambient-Occlusion.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/AmbientOcclusionEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAOCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAOSpatialDenoise.compute
Labels: HDRP

#1689 Reduction of VGPR usage of area light code
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
Labels: HDRP

#1699 Fix for potentially corrupted refraction result on xbox
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/VolumeProjection.hlsl
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1711 Change contact shadow group size (saves 1.1ms on PS4)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.compute
Labels: HDRP

#1700 Make sure stencil for distortion actually tests before pixel shader (saves 0.2ms on PS4) and tiny motion blur optimization
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/MotionBlurMotionVecPrep.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/Distortion/ApplyDistortion.shader
Labels: HDRP

#1725 Disable Coarse stencil generation when it is not beneficial (saves 0.4ms)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ResolveStencilBuffer.compute
Labels: HDRP

#1796 Merge 7.x.x/hd/staging
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentListEditor.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Layered-Lit-Shader.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/VolumeProjection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeCapturePositionSettings.cs
Labels: HDRP, SRP

#1793 [URP] Add performance testing asmdef to runtime assemblyinfo
  com.unity.render-pipelines.universal/Editor/AssemblyInfo.cs
  com.unity.render-pipelines.universal/Runtime/AssemblyInfo.cs
Labels: universal

#1764 Remove Decal Property mask generation V2
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/ClearPropertyMaskBuffer.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/ClearPropertyMaskBuffer.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DBufferManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/ShaderVariablesDecal.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitDecalData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDecal.hlsl
Labels: HDRP

#1677 [backport 9.x.x] Fix custom depth buffer error
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#1571 Allow to switch to 11-11-10 format for cubemap probes
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2201_ReflectionProbes_Priority.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1210_Lit_BentNormal.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2201_ReflectionProbes_Priority.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2201_ReflectionProbes_Priority.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2201_ReflectionProbes_Priority.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDBakedReflectionSystem.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedGlobalLightLoopSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCacheCubemap.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/GlobalLightLoopSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbeSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ReflectionProbeCache.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/IBLFilterGGX.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderUtilities.cs
Labels: HDRP

#1788 [10.x.x] Fixed issue that caused unity_CameraToWorld matrix to have a z flip.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#1801 HDRP - Fix null subasset error when triggering MaterialPostProcessor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
Labels: HDRP

#1597 Add Depth Offset tests for Shadergraph Material types
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Eye_DepthOffset_SG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Eye_DepthOffset_SG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Eye_DepthOffset_SG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Eye_DepthOffset_SG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Fabric_DepthOffset_SG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Fabric_DepthOffset_SG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Fabric_DepthOffset_SG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Fabric_DepthOffset_SG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Hair_DepthOffset_SG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Hair_DepthOffset_SG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Hair_DepthOffset_SG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Hair_DepthOffset_SG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Lit_DepthOffset.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Lit_DepthOffset.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Lit_DepthOffset_POM_SG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Lit_DepthOffset_POM_SG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Lit_DepthOffset_POM_SG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Lit_DepthOffset_POM_SG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Lit_DepthOffset_SG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Lit_DepthOffset_SG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Lit_DepthOffset_SG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Lit_DepthOffset_SG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/StackLit_DepthOffset_SG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/StackLit_DepthOffset_SG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/StackLit_DepthOffset_SG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/StackLit_DepthOffset_SG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Unlit_DepthOffset.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Unlit_DepthOffset.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Unlit_DepthOffset_SG.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Unlit_DepthOffset_SG.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Unlit_DepthOffset_SG.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1910_DepthOffset/Unlit_DepthOffset_SG.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1910_DepthOffset.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1910_DepthOffset.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1910_DepthOffset.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1910_DepthOffset.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1910_DepthOffset.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1910_DepthOffset.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1910_DepthOffset.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1910_DepthOffset.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1910_DepthOffset.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1910_DepthOffset.png.meta
  TestProjects/HDRP_Tests/Packages/packages-lock.json
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, testing

#1468 Updated documentation of reflection probes
  com.unity.render-pipelines.high-definition/Documentation~/Images/ReflectionProbe_Influence.svg
  com.unity.render-pipelines.high-definition/Documentation~/Images/ReflectionProbe_InfluenceBlend.svg
  com.unity.render-pipelines.high-definition/Documentation~/Images/ReflectionProbe_InfluenceBlendNormal.svg
  com.unity.render-pipelines.high-definition/Documentation~/Images/ReflectionProbe_InfluenceBlendOverlap.svg
  com.unity.render-pipelines.high-definition/Documentation~/Reflection-Probe-Usage.md
  com.unity.render-pipelines.high-definition/Documentation~/Reflection-Probes-Intro.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
Labels: HDRP, SRP

#1684 Make sure light loop is scalarized by defining correctly SCALARIZE_LIGHT_LOOP
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/HDShadowLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeAccumulate.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesFunctions.hlsl
Labels: HDRP, needs-backport-8.x, needs-backport-9.x

#1807 [7.x.x] Fix built-in shaders when using XR single-pass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRPass.cs
Labels: HDRP, XR

#1810 Fix warning in PropertyRM.uss
  com.unity.visualeffectgraph/Editor Default Resources/uss/PropertyRM.uss
Labels: vfx

#1813 Fix issue with stencil in rendergraph
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
Labels: HDRP

#1643 Changing ParticlesUnlit shader to use fog color instead of black
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlitForwardPass.hlsl
Labels: SRP, needs-backport-9.x, ready-to-merge, universal

#1627 [Universal] [10.x.x] [bugfix] camera properties not refreshing
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: universal

#1694 [10.x.x] Shaders: Fixing Array defines with precisions and removing prefer_hlslcc and d3d11_9x
  com.unity.render-pipelines.core/ShaderLibrary/API/GLES3.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/API/Metal.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/API/Switch.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/API/Vulkan.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Shape-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Shape.shader
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Billboard.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainDetailLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitAdd.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBasemapGen.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrass.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrassBillboard.shader
  com.unity.render-pipelines.universal/Shaders/Utils/Blit.shader
  com.unity.render-pipelines.universal/Shaders/Utils/CopyDepth.shader
  com.unity.render-pipelines.universal/Shaders/Utils/Sampling.shader
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceAmbientOcclusion.shader
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceShadows.shader
  com.unity.render-pipelines.universal/Shaders/XR/XRMirrorView.shader
Labels: SRP, universal

#1820 Make post process uneditable in frame settings for probes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
Labels: HDRP

#1786 [10.x.x] Bugfixes: Detail, Parallax, Clear Coat, Particle Inspector, and more.
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
  com.unity.render-pipelines.core/ShaderLibrary/API/GLCore.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/LitGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Shaders/BakedLit.shader
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/LitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
Labels: SRP, testing, universal

#1821 Better tooltip for exposure weight on emission fields.
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
Labels: HDRP

#1815 Rename Visualize Cascades to Show Cascades to avoid clipping
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-Shadows1.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Shadows.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/HDShadowSettingsEditor.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1729 Universal/1227274
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/DeferredRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: needs-backport-7.x, needs-backport-8.x, universal

#1816 Fixed RTGI in performance mode when light layers are enabled on the asset.
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferredLightLayers.asset
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferredLightLayers.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/301_GlobalIlluminationPerfFullLightLayers.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/301_GlobalIlluminationPerfFullLightLayers.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/301_GlobalIlluminationPerfFullLightLayers.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/301_GlobalIlluminationPerfFullLightLayers.unity.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
Labels: HDRP, dxr, testing

#1829 Fix case where no URP asset is assigned to the Graphics Settings
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditorUtility.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
Labels: 2d, universal

#1828 Fix GC when using XR single-pass automated tests
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: XR, universal

#1827 Add info on sprite not supported
  com.unity.render-pipelines.high-definition/Documentation~/Feature-Comparison.md
Labels: HDRP

#1803 Test packages against their minimum compatible editor version
  .yamato/_editor_priming.yml
  .yamato/_projectcontext.yml
  .yamato/ruamel/jobs/editor/editor_priming_min_editor.py
  .yamato/ruamel/jobs/editor/util/get_minimum_editor_version.py
  .yamato/ruamel/jobs/editor/yml_editor.py
  .yamato/ruamel/jobs/packages/project_test_all.py
  .yamato/ruamel/jobs/packages/project_test_min_editor.py
  .yamato/ruamel/jobs/packages/yml_project.py
  .yamato/ruamel/jobs/shared/namer.py
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, yamato

#1814 Fix for SSS materials appearing black in Matcap mode
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
Labels: HDRP, needs-backport-8.x

#1151 [Packages] Bump graphics test framework version in manifests
  .gitignore
  LocalTestProjects/HDRP_DebugCrossFade_Tests/Packages/manifest.json
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx

#1843 First pass for missing docs from sync
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPFeatures-SSGI.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/NewLightUX.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Documentation~/System-Requirements.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
Labels: Docs, HDRP

#1845 Fixed a collision in the interaction of RTR and RTGI.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsAndGlobalIlluminationCollision.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsAndGlobalIlluminationCollision.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/803_SubSurfaceScatteringGlobalIllumination.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/105_ReflectionsAndGlobalIlluminationCollision.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/105_ReflectionsAndGlobalIlluminationCollision.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/ReflectionsAndGlobalIlluminationCollision.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/ReflectionsAndGlobalIlluminationCollision.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinGIUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs.hlsl
Labels: HDRP, dxr, testing

#1714 SSGI Improvements
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_Indirect.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/BilateralUpsample.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
Labels: HDRP, dxr, testing

#1858 Seans/performance/urp/update build commands
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/urp_performance_boatattack-win-vulkan.yml
Labels: yamato

#1781 Fix tests using back buffer capture being horizontally stretched on iOS
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/123_CameraStackingClear.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/123_CameraStackingClear.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/124_CameraStackingClearRT.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/124_CameraStackingClearRT.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest/ProjectSettings/ProjectSettings.asset
Labels: testing, universal

#1865 [7.x.x] Bump package version to 7.5.2
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#1868 Explicit input for the post-processing trackball UI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Post-processingLiftGammaGain1.png
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/TrackballUIDrawer.cs
Labels: HDRP

#1872 Updated the implementation details for pb sky
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1874 Rename antialiasing in UI to postprocess antialiasing
  com.unity.render-pipelines.high-definition/Documentation~/Compositor-User-Options.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionLayerUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
Labels: HDRP

#1720 [ShaderGraph] [bugfix 1269634] Fix to add proper shader #include dependencies.
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph, needs-backport-9.x

#1860 Temporarily disable standalone smoke tests
  .yamato/_abv.yml
  .yamato/config/_abv.metafile
Labels: yamato

#1864 Fx 4060 custom test + Fix issue in decal layers + update DXR SSS screenshots
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/803_SubSurfaceScatteringGlobalIllumination.png
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4060_CustomPostProcess.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4060_CustomPostProcess.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4060_CustomPostProcess.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4060_CustomPostProcess.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4060_CustomPostProcess.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4060_CustomPostProcess.png
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
Labels: HDRP, testing

#1812 [10.x.x] Fixing material leaks in URP's renderers, features and passes
  TestProjects/UniversalGraphicsTest/Assets/Scenes/105_MRT/Test105Renderer.cs
  TestProjects/UniversalGraphicsTest/Assets/Scenes/107_DepthPrepass/Test107Renderer.cs
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/CameraCallbackTests.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/DeferredRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: testing, universal

#1010 [skip ci] Reduce the G-buffer footprint of the anisotropic GGX
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Aniso.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Aniso.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Aniso_MaskMap.png
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Aniso_MaskMap.png.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Aniso_anisotropylevel.png
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Aniso_anisotropylevel.png.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Aniso_basecolor.png
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Aniso_basecolor.png.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Aniso_tangent.png
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Aniso_tangent.png.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1222_Lit_Aniso_Textures/1222_Profile.asset.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1213_Lit_Anisotropy.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1222_Lit_Aniso_Textures.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1222_Lit_Aniso_Textures.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1213_Lit_Anisotropy.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1222_Lit_Aniso_Textures.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1222_Lit_Aniso_Textures.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1213_Lit_Anisotropy.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1222_Lit_Aniso_Textures.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1222_Lit_Aniso_Textures.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1213_Lit_Anisotropy.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1222_Lit_Aniso_Textures.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1222_Lit_Aniso_Textures.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1213_Lit_Anisotropy.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1222_Lit_Aniso_Textures.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1222_Lit_Aniso_Textures.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
Labels: HDRP

#1878 Remove the preview in SSGI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
Labels: HDRP, dxr

#1836 [URP] Fix 'Uninitialized' camera background type does not match between Build and Game view
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#1472 Update detail map documentation
  com.unity.render-pipelines.high-definition/Documentation~/Images/DetailMap-blue.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/DetailMap-red.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/DetailMap-smoothness.png
  com.unity.render-pipelines.high-definition/Documentation~/Mask-Map-and-Detail-Map.md
Labels: HDRP

#1550 Remove warning in HDRP_Tests
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1101_Unlit.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1102_Unlit_Distortion.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1103_Unlit_Distortion_DepthTest.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1105_UnlitSG.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1602_TerrainLit_Normal.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2208_PlanarReflectionCullingStencil.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4011_MotionBlur_PerObject.unity
  com.unity.testing.hdrp/ScenePrefabs/HDRP_Test_Camera.prefab
Labels: HDRP, testing

#1609 Update HDWizard.Window.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1632 Add 64 bits optionnal check for DXR wizard (for DXR player)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
Labels: HDRP, dxr

#1652 [HDRP][Fix] Case 1158661: Hardware mode for dynamic resolution breaks editor and game views
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Common/DynamicResolutionHandler.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/RTUpscale.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#1886 Fixed compilation Non-invocable member 'HDWizard.ToolbarRadio.radioLength' cannot be used like a method [skip ci]
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
Labels: HDRP

#1563 9.x.x/backport pbr sky cbuffer fix mac
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/AtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/InScatteredRadiancePrecomputation.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs.hlsl
Labels: HDRP, backported-9.x

#1804 remove everything
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Creating-a-Custom-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Environment-Lighting.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-CloudLayer.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Cloud-Layer.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Material/DefaultCloudLayerGUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Material/DefaultCloudLayerGUI.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Sky/CloudLayer.meta
  com.unity.render-pipelines.high-definition/Editor/Sky/CloudLayer/CloudLayerEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/CloudLayer/CloudLayerEditor.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Sky/HDLightingWindowEnvironmentSection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Material/DefaultCloudLayerMaterial.mat
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Material/DefaultCloudLayerMaterial.mat.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Shader/DefaultCloudLayerShader.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Shader/DefaultCloudLayerShader.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/DefaultCloudLayer.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/DefaultCloudLayer.asset.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/LayeredCloudTexture.png
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/LayeredCloudTexture.png.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudLayer.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudLayer/CloudLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudLayer/CloudLayer.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudLayer/CloudLayer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudLayer/CloudLayer.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/GradientSky/GradientSky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/GradientSky/GradientSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUpdateContext.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/StaticLightingSky.cs
Labels: HDRP, testing

#1893 [10.x.x] AxF UI improvements
  com.unity.render-pipelines.high-definition/Documentation~/AxF-Shader.md
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/AxfSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
Labels: HDRP

#1837 Add template tests to Nightly
  .yamato/_abv.yml
  .yamato/ruamel/jobs/abv/abv_all_project_ci.py
  .yamato/ruamel/jobs/abv/abv_all_project_ci_nightly.py
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, yamato

#1856 [8.x.x Backport] Optimize Shader Stripper & Bugfix 263514
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
Labels: universal

#1892 Make probevolume internals visible to hybrid renderer in order support probevolume hybrid conversion
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
Labels: HDRP

#1896 Fixed typo in TextureCache2D.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCache2D.cs
Labels: HDRP, needs-backport-8.x

#1871 [9xx] Backport minimum compatible version test [skip ci]
  .yamato/_editor.yml
  .yamato/_projectcontext.yml
  .yamato/ruamel/jobs/editor/editor_priming_min_editor.py
  .yamato/ruamel/jobs/editor/util/get_minimum_editor_version.py
  .yamato/ruamel/jobs/editor/yml_editor.py
  .yamato/ruamel/jobs/packages/project_test_all.py
  .yamato/ruamel/jobs/packages/project_test_min_editor.py
  .yamato/ruamel/jobs/packages/yml_project.py
  .yamato/ruamel/jobs/shared/namer.py
Labels: yamato

#1826 Prevent assetPostprocessors from running if the current render pipeli…
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/AutodeskInteractiveMaterialImport.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/AutodeskInteractiveMaterialImport.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#1473 [10.x.x] Fix incorrect intermediate resolution when rendering to RT
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/119_CameraToRTWithViewportRect.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/119_CameraToRTWithViewportRect.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/119_CameraToRTWithViewportRect.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/119_CameraToRTWithViewportRect/MapRenderTexture.renderTexture
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/009_MultiCamera.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/009_MultiCamera.png
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, testing, universal

#1900 Add disclaimer about object motion vectors not working in the scene view
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1661 Fix virtualtexturing lowquality bias clamping
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/BiasLowQualityGraph.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/BiasLowQualityGraph.mat.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/BiasLowQualityGraph.shadergraph
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/BiasLowQualityGraph.shadergraph.meta
  com.unity.render-pipelines.core/ShaderLibrary/VirtualTexturing.hlsl
Labels: HDRP, SRP, testing

#1731 Skip depth buffer copy for DBuffer on consoles (saves 0.3ms)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#1759 Fix for mip map debug mode not resetting fullscreen mode
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP

#1833 Update Density Mask Texture import doc
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Density-Volume.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/DensityVolumeTextureTool.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/DensityVolumeTextureTool.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/DensityVolume.cs
Labels: HDRP

#1834 Allow for profiling stats to be displayed as an average over one second
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#1850 Added message in tile debug mode with MSAA
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugViewTiles.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
Labels: HDRP

#1883 Added debug immediate mode for Render Graph
  com.unity.render-pipelines.core/Runtime/Common/DynamicArray.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, SRP
