Repository Unity-Technologies/Graphics, pull requests merged in 2020-10, with the labels that each got.

#2067 Re-enable all DX12 test
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
Labels: HDRP, testing

#2069 Fix alpha not having TAA applied to it.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntiAliasing.shader
Labels: HDRP

#1930 Fix issues with bloom sampling outside
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/BloomPrefilter.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/BloomUpsample.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldGather.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
Labels: HDRP, needs-backport-8.x

#1869 Expose diffusion profile in ShaderGraph
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfileMaterialPropertyDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfileMaterialPropertyDrawer.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfilePropertyDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfilePropertyDrawer.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfileShaderProperty.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfileShaderProperty.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Nodes/DiffusionProfileNode.cs
  com.unity.shadergraph/Editor/Data/Graphs/BooleanShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/ColorShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/CubemapShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/GradientShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Matrix2ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Matrix3ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Matrix4ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/SamplerStateShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DArrayShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture3DShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector1ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector2ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector3ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector4ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardInputInfo.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardInputInfo.cs.meta
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardProvider.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/IShaderPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/IShaderPropertyDrawer.cs.meta
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
Labels: HDRP, Shader Graph

#2076 Fix rendergraph on consoles when motion vectors are enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
Labels: HDRP

#2082 Fix Material.hlsl include order
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
Labels: HDRP

#2045 [10.x.x] Updated new renderer feature template
  com.unity.render-pipelines.universal/Editor/RendererFeatures/NewRendererFeature.cs.txt
Labels: universal

#1861 [10.x.x] Fixed issues that caused the pipeline to bind the wrong texture [v2]
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/Renderer2DTests.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Deprecated.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#2080 Standalone Win URP - Increase timeout value for build (1200 to 2000s)
  .yamato/config/universal.metafile
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
Labels: universal, yamato

#2078 Update reference images for UniversalGfxTestStereo [skip ci]
  TestProjects/UniversalGfxTestStereo/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/Mock HMD Loader/015_xr_Camera_FXAA.png
  TestProjects/UniversalGfxTestStereo/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/Mock HMD Loader/016_xr_Camera_SMAA.png
Labels: testing, universal

#1876 Fix VFX Graph breaking other undo callbacks
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, vfx

#1955 [10.x.x] Fixed XR depth share in URP forward
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Shaders/Utils/CopyDepth.shader
  com.unity.render-pipelines.universal/Shaders/Utils/CopyDepthPass.hlsl
Labels: XR, universal

#1761 [10.x.x] Fixed PostFX MotionBlur effect not working in XR
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Shaders/PostProcessing/CameraMotionBlur.shader
Labels: XR, ready-to-merge, universal

#1962 Universal/fix gles max visible lights
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest/ProjectSettings/ProjectSettings.asset
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: testing, universal

#1953 fix case 1244430 removing camera comp from prefab
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1971 Fixed the Ray-Tracing related Debug Display not working in render graph mode.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManagerRT.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingRecursiveRenderer.cs
Labels: HDRP, dxr

#1983 Fix nan in the pbr sky
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.shader
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#1985 [HDRP][LookDev] Ensure stylesheet are loaded before applying them on Domain Reload
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#1987 Fix accumulation on DX11
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Accumulation.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/Shaders/Accumulation.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/SubFrameManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP

#2050 Updated Feature with content from Whats-new-10-0
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Compositor-HDRPTemplateWithLogo_Feature.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Exposure_Histogram.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Path-traced-DoF-Feature.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Path-traced-SSS-Feature.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Path-traced-fog-Feature.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/PlanarReflectionFiltering-Feature.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/path_tracing_recording-Feature.png
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
Labels: Docs, HDRP

#2070 [HDRP][Compositor] Fix issue with screen space UI not drawing
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
Labels: HDRP

#1991 Better management of max ray length for ray tracing effects (case 1279849).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Ambient-Occlusion.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Global-Illumination.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Reflections.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Settings.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/AmbientOcclusionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RayTracingSettingsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerDirectional.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.raytrace
Labels: HDRP, dxr

#2068 Fixed error Maximum allowed thread group count is 65535 when resolution is very high.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ClearLightLists.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP, needs-backport-7.x, needs-backport-8.x

#2071 Added context options "Move to Top", "Move to Bottom", "Expand All" and "Collapse All" for volume components.
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentListEditor.cs
Labels: HDRP, SRP

#2072 Fixed LOD mesh stripping and LOD Group UI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Feature-Comparison.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessBuild.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#2027 Added support for box and pyramid point lights in path tracing
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingLight.hlsl
Labels: HDRP, SRP

#1972 [HDRP][Compositor] Fix outlines in transitions between post-processed and plain regions
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionLayerUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/SerializedCompositionLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/AdditionalCompositorData.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/UberPost.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#1899 Graphics performance test documentation review
  com.unity.testing.graphics-performance/Documentation~/Grafana-database-scheme.md
  com.unity.testing.graphics-performance/Documentation~/Images/AssetLabels.png
  com.unity.testing.graphics-performance/Documentation~/Images/EditorShaderStaticAnalysisAsset.png
  com.unity.testing.graphics-performance/Documentation~/Images/EditorShaderStaticAnalysisAsset_Aset Definitions.png
  com.unity.testing.graphics-performance/Documentation~/Images/EditorShaderStaticAnalysisAsset_Filters.png
  com.unity.testing.graphics-performance/Documentation~/Images/Filename_Aggregate.png
  com.unity.testing.graphics-performance/Documentation~/Images/Test Description Asset.png
  com.unity.testing.graphics-performance/Documentation~/Index.md
  com.unity.testing.graphics-performance/Documentation~/Installation.md
  com.unity.testing.graphics-performance/Documentation~/Performance-Test-Description.md
  com.unity.testing.graphics-performance/Documentation~/TableofContents.md
  com.unity.testing.graphics-performance/Documentation~/Using-Grafana-to-view-a-performance-test-report.md
  com.unity.testing.graphics-performance/Documentation~/Using-Yamato-to-automate-your-tests.md
  com.unity.testing.graphics-performance/Documentation~/Writing-your-first-performance-test.md
  com.unity.testing.graphics-performance/Documentation~/com.unity.testing.graphics-performance.md
  com.unity.testing.graphics-performance/Documentation~/static-shader-analysis.md
  com.unity.testing.graphics-performance/Documentation~/test-description-asset.md
Labels: Docs, testing

#1385 Backport of #1326
  com.unity.render-pipelines.core/ShaderLibrary/GraniteShaderLibBase.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/GraniteShaderLibBase.hlsl.meta
  com.unity.render-pipelines.core/ShaderLibrary/VirtualTexturing.hlsl
Labels: HDRP, backported-9.x

#2035 Reduce bloom flickering
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Bloom.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/BloomEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedPostProcessingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Bloom.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/BloomBlur.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/BloomPrefilter.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/BloomUpsample.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalPostProcessingQualitySettings.cs
Labels: HDRP

#2042 Add support of input system v2
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Debugging/DebugWindow.cs
  com.unity.render-pipelines.core/Runtime/Camera/FreeCamera.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugManager.Actions.cs
  com.unity.render-pipelines.core/Runtime/Debugging/MousePositionDebug.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new.md
  com.unity.render-pipelines.universal/Runtime/Unity.RenderPipelines.Universal.Runtime.asmdef
  com.unity.template-hd/Assets/Scripts/LookWithMouse.cs
  com.unity.template-hd/Assets/Scripts/PlayerMovement.cs
  com.unity.template-hd/Assets/Scripts/SimpleCameraController.cs
  com.unity.template-universal/Assets/Scripts/SimpleCameraController.cs
  com.unity.visualeffectgraph/Runtime/Utilities/EventBinding/Implementation/VFXMouseEventBinder.cs
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/Implementation/VFXInputAxisBinder.cs
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/Implementation/VFXInputButtonBinder.cs
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/Implementation/VFXInputKeyBinder.cs
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/Implementation/VFXInputMouseBinder.cs
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/Implementation/VFXInputTouchBinder.cs
  com.unity.visualeffectgraph/Unity.VisualEffectGraph.Runtime.asmdef
Labels: HDRP, SRP, universal, vfx

#2079 Meshes with decal material not added to RT acceleration structure anymore
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, SRP

#1986 Decal cross fade support
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Decal.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceOptionsUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Material.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesFunctions.hlsl
Labels: HDRP

#1912 [HDRP][Compositor] Fix camera stacking for AOVs in the graphics compositor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositorWindow.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/AdditionalCompositorData.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/BlitColorAndDepth.shader
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/BlitColorAndDepth.shader.meta
Labels: HDRP

#1934 Add decal angle fading + clean tech debt in decal C#
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1712_DecalAngleFading.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1712_DecalAngleFading.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1712_DecalAngleFading.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1712_DecalAngleFading/ReceiveDecalTransparent.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1712_DecalAngleFading/ReceiveDecalTransparent.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1712_DecalAngleFading.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1712_DecalAngleFading.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1712_DecalAngleFading.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1712_DecalAngleFading.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1712_DecalAngleFading.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1712_DecalAngleFading.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1712_DecalAngleFading.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1712_DecalAngleFading.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1712_DecalAngleFading.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1712_DecalAngleFading.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Projector.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitDecalData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDecal.hlsl
Labels: HDRP, testing

#2087 Merge Hdrp/staging
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1712_DecalAngleFading.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1712_DecalAngleFading.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1712_DecalAngleFading.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1712_DecalAngleFading/ReceiveDecalTransparent.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1712_DecalAngleFading/ReceiveDecalTransparent.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1712_DecalAngleFading.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1712_DecalAngleFading.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1712_DecalAngleFading.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1712_DecalAngleFading.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1712_DecalAngleFading.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1712_DecalAngleFading.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1712_DecalAngleFading.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1712_DecalAngleFading.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1712_DecalAngleFading.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1712_DecalAngleFading.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Projector.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitDecalData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDecal.hlsl
Labels: HDRP, testing

#2030 Expose PointCacheAsset textures
  com.unity.visualeffectgraph/Editor/Utilities/pCache/Importer/PointCacheImporter.cs
Labels: vfx

#2090 Universal/fixing changelog
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: universal

#2093 Updated Fontainebleau compatibility and added relevant links
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Sample-Projects.md
Labels: Docs, HDRP, needs-backport-7.x, needs-backport-8.x, needs-backport-9.x

#2091 Fixed links and images
  com.unity.testing.graphics-performance/Documentation~/Index.md
  com.unity.testing.graphics-performance/Documentation~/Installation.md
  com.unity.testing.graphics-performance/Documentation~/Performance-Test-Description.md
  com.unity.testing.graphics-performance/Documentation~/TableOfContents.md
  com.unity.testing.graphics-performance/Documentation~/TableofContents.md
  com.unity.testing.graphics-performance/Documentation~/Using-Grafana-to-view-a-performance-test-report.md
  com.unity.testing.graphics-performance/Documentation~/Using-Yamato-to-automate-your-tests.md
  com.unity.testing.graphics-performance/Documentation~/Writing-your-first-performance-test.md
  com.unity.testing.graphics-performance/Documentation~/static-shader-analysis.md
Labels: Docs, testing

#2095 Fix clear coat chagelog issues.
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: universal

#2097 Fix compil issue after merge of rename Vector1 PR with LightmappingShaderProperties.cs
  com.unity.shadergraph/Editor/Data/Graphs/LightmappingShaderProperties.cs
Labels: Shader Graph

#410 Implementing Camera Relative Ray Tracing
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsAndGlobalIlluminationCollision.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsDenoised.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/801_SubSurfaceScatteringDeferred.unity
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerArea.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingLight.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseShadowDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Common/AtmosphericScatteringRayTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/DebugLightCluster.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingGBuffer.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DiffuseDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DiffuseShadowDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/ReflectionDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingSubSurface.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingAmbientOcclusion.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingFragInputs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingLightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingReflectionFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingRenderer.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RayTracingContactShadow.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingMIS.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDecal.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingIndirect.hlsl
Labels: HDRP, dxr, testing

#2036 Exlucding inpudata.shadowMask if ShadowMask is not used
  TestProjects/UniversalGraphicsTest/Assets/Scenes/023_Lighting_Mixed_Indirect.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/049_Lighting_Mixed_Subtractive.unity
  com.unity.render-pipelines.universal/ShaderLibrary/Lighting.hlsl
Labels: testing, universal

#1746 [Universal] bugfix material post processor fixes
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/MaterialPostprocessor.cs
Labels: universal

#2040 Shadergraph/fix/vfx properties
  com.unity.shadergraph/Editor/Generation/ShaderGraphVfxAsset.cs
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: HDRP, Shader Graph, testing, vfx

#2100 Added tooltip to micro shadows
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/MicroShadowing.cs
Labels: HDRP

#2102 Created section "URP concepts", moved some topics there, added forward renderer description.
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/find-renderer.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-added-new-renderer-feature.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-forward-renderer-stencil-on.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-forward-renderer.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-renderer-feature-in-project-window.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-renderer-feature-render-objects.png
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-select-renderer-feature.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/forward-renderer.md
  com.unity.render-pipelines.universal/Documentation~/rendering-in-universalrp.md
  com.unity.render-pipelines.universal/Documentation~/urp-concepts.md
  com.unity.render-pipelines.universal/Documentation~/urp-forward-renderer.md
  com.unity.render-pipelines.universal/Documentation~/urp-renderer-feature-how-to-add.md
  com.unity.render-pipelines.universal/Documentation~/urp-renderer-feature.md
Labels: needs-backport-8.x, universal

#2107 Disable quad overdraw on ps4
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassFullScreenDebug.hlsl
Labels: HDRP

#1932 Fix property references to not use copied guid refs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
Labels: Shader Graph, needs-backport-9.x

#1982 [ShaderGraph] Custom Function Node fixes up Function Name to be a valid HLSL identifier
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Implementation/NodeUtils.cs
  com.unity.shadergraph/Editor/Data/Util/GraphUtil.cs
  com.unity.shadergraph/Editor/Drawing/Views/HlslFunctionView.cs
  com.unity.shadergraph/Editor/Drawing/Views/ReorderableSlotListView.cs
  com.unity.shadergraph/Tests/Editor/UnitTests/UtilityTests.cs
  com.unity.shadergraph/Tests/Editor/UnitTests/UtilityTests.cs.meta
Labels: Shader Graph

#2004 [ShaderGraph] [bugfix 1280106] AddSlot should not reorder slots
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Util/ListUtilities.cs
  com.unity.shadergraph/Editor/Util/ListUtilities.cs.meta
  com.unity.shadergraph/Tests/Editor/UnitTests/ListUtilityTests.cs
  com.unity.shadergraph/Tests/Editor/UnitTests/ListUtilityTests.cs.meta
Labels: Shader Graph

#1905 [ShaderGraph] [bugfix 1257028] Get rid of target bitmask shadow state
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Graph-Settings-Menu.md
  com.unity.shadergraph/Documentation~/images/GraphSettings_Menu.png
  com.unity.shadergraph/Documentation~/images/Inspector02.png
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Graphs/GraphValidation.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GraphDataPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/ReorderableTextListView.cs
  com.unity.shadergraph/Editor/Generation/Contexts/TargetPropertyGUIContext.cs
  com.unity.shadergraph/Editor/Serialization/MultiJsonInternal.cs
  com.unity.shadergraph/Tests/Editor/UnitTests/TargetTests.cs
Labels: Shader Graph

#2022 Enable the DXR Vertex Format test for RG
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/6000_VertexFormats.unity
Labels: HDRP, dxr, testing

#2089 Changed default property value to be True for HDR
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
Labels: universal

#2105 Add option to enable pure specular planar reflection (optimization)
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_SmoothPlanarReflection.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_SmoothPlanarReflection.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_SmoothPlanarReflection.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_SmoothPlanarReflection/Global Volume Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_SmoothPlanarReflection/Global Volume Profile.asset.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_SmoothPlanarReflection/M_MetallicRough.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2220_SmoothPlanarReflection/M_MetallicRough.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2220_SmoothPlanarReflection.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2220_SmoothPlanarReflection.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2220_SmoothPlanarReflection.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2220_SmoothPlanarReflection.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2220_SmoothPlanarReflection.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Documentation~/Planar-Reflection-Probe.md
  com.unity.render-pipelines.high-definition/Documentation~/Reflection-Probe.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/PlanarReflectionProbeEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/ProbeSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/SerializedProbeSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/Fabric.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/IBLFilterGGX.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/IBLFilterBSDF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/SimpleLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/Distortion/ApplyDistortion.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def.asset
Labels: HDRP, testing

#2059 Implementing scalabity settings for planar resolutions
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Documentation~/Planar-Reflection-Probe.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDBakedReflectionSystem.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/ProbeSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/SerializedProbeSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedRenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedScalableSetting.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedScalableSettingValue.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/GlobalLightLoopSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/PlanarReflectionProbe.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
Labels: HDRP

#2088 candidate fix on volume bug
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/LayerUtility.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: universal

#2106 DOC-1737 Edited the Clear Coat docs.
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/shader-complex-lit.md
  com.unity.render-pipelines.universal/Documentation~/shaders-in-universalrp.md
Labels: universal

#2077 Add project logs to artifacts
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/ruamel/jobs/projects/_project_base.py
  .yamato/ruamel/jobs/projects/project_not_standalone.py
  .yamato/ruamel/jobs/projects/project_standalone.py
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/ruamel/jobs/shared/yml_job.py
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-osx-metal.yml
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-openglcore.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal-osx-openglcore.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_boatattack-win-dx11.yml
  .yamato/urpupdate_boatattack-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vfx_urp-osx-openglcore.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#2111 Update Feature-Comparison.md
  com.unity.render-pipelines.high-definition/Documentation~/Feature-Comparison.md
Labels: Docs, HDRP, needs-backport-8.x

#2066 [ShaderGraph] [bugfixes] Fix many serialization bugs in ShaderGraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/DependencyTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/DependencyTests.cs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/SaveLoadTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/SaveLoadTests.cs.meta
  TestProjects/ShaderGraph/DependencyGraphs/A.shadersubgraph
  TestProjects/ShaderGraph/DependencyGraphs/A.shadersubgraph.meta
  TestProjects/ShaderGraph/DependencyGraphs/B.shadersubgraph
  TestProjects/ShaderGraph/DependencyGraphs/B.shadersubgraph.meta
  TestProjects/ShaderGraph/DependencyGraphs/C.shadersubgraph
  TestProjects/ShaderGraph/DependencyGraphs/C.shadersubgraph.meta
  TestProjects/ShaderGraph/DependencyGraphs/D.shadersubgraph
  TestProjects/ShaderGraph/DependencyGraphs/D.shadersubgraph.meta
  TestProjects/ShaderGraph/DependencyGraphs/E.shadersubgraph
  TestProjects/ShaderGraph/DependencyGraphs/E.shadersubgraph.meta
  TestProjects/ShaderGraph/DependencyGraphs/F.shadersubgraph
  TestProjects/ShaderGraph/DependencyGraphs/F.shadersubgraph.meta
  TestProjects/ShaderGraph/SaveLoadGraphs/SimpleWithCFN.shadergraph
  TestProjects/ShaderGraph/SaveLoadGraphs/SimpleWithCFN.shadergraph.meta
  TestProjects/ShaderGraph/SaveLoadGraphs/SimpleWithSubGraph.shadergraph
  TestProjects/ShaderGraph/SaveLoadGraphs/SimpleWithSubGraph.shadergraph.meta
  TestProjects/ShaderGraph/SaveLoadGraphs/SubGraph.shadersubgraph
  TestProjects/ShaderGraph/SaveLoadGraphs/SubGraph.shadersubgraph.meta
  TestProjects/ShaderGraph/SaveLoadGraphs/WithVT.shadergraph
  TestProjects/ShaderGraph/SaveLoadGraphs/WithVT.shadergraph.meta
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/MinimalGraphData.cs
  com.unity.shadergraph/Editor/Data/Implementation/GraphObject.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphAsset.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphAssetPostProcessor.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
  com.unity.shadergraph/Editor/Util/FileUtilities.cs
Labels: Shader Graph

#2116 [10.x.x] Temporary disable test 131 on iOS
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#1851 Fix for cross-pipeline work
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Attributes/NeverAllowedByTargetAttribute.cs
  com.unity.shadergraph/Editor/Data/Attributes/NeverAllowedByTargetAttribute.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/LegacyUnknownTypeNode.cs
  com.unity.shadergraph/Editor/Generation/Target.cs
  com.unity.shadergraph/Editor/Generation/Targets/VFXTarget.cs
  com.unity.shadergraph/Editor/Serialization/MultiJsonInternal.cs
Labels: HDRP, Shader Graph, universal

#1413 Fixing color input to gamma correct
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/Scenes/InputNodes.unity
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Basic/ColorNode.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Basic/ColorNode.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Basic/ColorNodeHDR.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/ParallaxMapping.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/ParallaxOcclusionMapping.shadergraph
  com.unity.shadergraph/Documentation~/Color-Node.md
  com.unity.shadergraph/Documentation~/Property-Types.md
  com.unity.shadergraph/Documentation~/Shader-Graph-Preferences.md
  com.unity.shadergraph/Documentation~/Upgrade-Guide-10-0-x.md
  com.unity.shadergraph/Documentation~/images/DeprecatedColorNode.png
  com.unity.shadergraph/Documentation~/images/DeprecatedColorProperty.png
  com.unity.shadergraph/Documentation~/images/DeprecatedWarning.png
  com.unity.shadergraph/Editor/Data/Graphs/AbstractShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/ColorShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Legacy/GraphData0.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/ColorNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/PositionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PropertyNode.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardProvider.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/AbstractMaterialNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/SearchWindowProvider.cs
  com.unity.shadergraph/Editor/Drawing/Views/HelpBoxRow.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/Editor/Serialization/JsonObject.cs
  com.unity.shadergraph/Editor/Serialization/MultiJsonInternal.cs
  com.unity.shadergraph/Editor/ShaderGraphPreferences.cs
Labels: Shader Graph, testing

#2117 Fix compilation issue when both input system are enabled
  com.unity.render-pipelines.core/Runtime/Debugging/DebugManager.Actions.cs
Labels: SRP

#2118 [HDRP][Compositor] Fix errors when resizing the compositor's output
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
Labels: HDRP

#1884 Remove BLEND keywords and replace with constant branch
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2208_And_2209_Reflection_Stencil/StencilShowShader.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2208_And_2209_Reflection_Stencil/StencilWriteShader.shader
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.1-to-2020.2.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/BaseUnlitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Outputs/VFXAbstractParticleHDRPLitOutput.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Material.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialBlendModeEnum.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialBlendModeEnum.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialBlendModeEnum.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialBlendModeEnum.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialExtension.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXDefines.hlsl
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXLit.hlsl
Labels: HDRP

#2099 HDRP: Fix backface selection issue on some shader, backface should be ignore.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
Labels: HDRP

#1559 Mixed cached shadow maps (Cached static + dynamic rendered every frame)
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/SerializedHDLight.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDDynamicShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowBlit.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowBlit.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
Labels: HDRP

#2114 Shadowmask: Added a section that refers to the Unity Manual.
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/urp-lighting-mode.md
Labels: universal

#2083 [HDRP][Compositor] Fix issues with bloom, alpha and HDR layers in the compositor
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9800_Compositor.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9800_Compositor/Shader Graphs/TestCompositionGraph.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9800_Compositor/Shader Graphs/TestCompositionGraph.shadergraph
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4053_TAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9800_Compositor.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9800_Compositor.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Material.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/BloomPrefilter.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntiAliasing.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/UberPost.compute
Labels: HDRP

#1842 Fix compile issue on vulkan when a min16float4 is generated and shouldn't
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs.hlsl
Labels: HDRP

#2121 Set correct default texture for contactShadowsTexture
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
Labels: HDRP

#2124 Disable shader debug symbols
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DiffuseShadowDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.shader
Labels: HDRP

#2129 Universal/update changelog
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: universal

#2127 Fix wrong error thrown on DXR wizard fixup
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
Labels: HDRP

#2122 Improve Light Unit Slider UX
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/LightUnit/LightUnitSlider.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/LightUnit/LightUnitSliderSettings.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ExposureEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/BlueSky.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/BlueSky@2x.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/Fluorescent.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/Fluorescent.png.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/Fluorescent@2x.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/Fluorescent@2x.png.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/Shade.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/Shade.png.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/Shade@2x.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/Shade@2x.png.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_BlueSky.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_BlueSky@2x.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_Fluorescent.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_Fluorescent.png.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_Fluorescent@2x.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_Fluorescent@2x.png.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_Shade.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_Shade.png.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_Shade@2x.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_Shade@2x.png.meta
Labels: HDRP

#2119 [ShaderGraph] [bugfix 1283425] Handle invalid SubGraph assets during recursion check
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Util/GraphUtil.cs
Labels: Shader Graph

#2130 [VFX] Remove no more used code that made a call to a packman internal
  com.unity.visualeffectgraph/Editor/PackageInfo.cs
Labels: vfx

#2140 Fix compilation issues on PS4 in ShadowBlit
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ShadowBlit.shader
Labels: HDRP

#2128 [10.x.x] Add --timeout flag to iOS URP jobs
  .yamato/config/universal.metafile
  .yamato/ruamel/jobs/projects/commands/iphone.py
  .yamato/universal-iphone-metal.yml
Labels: universal, yamato

#2143 Fix full screen debug with double sided materials
  com.unity.render-pipelines.core/ShaderLibrary/API/D3D11.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/API/Vulkan.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassFullScreenDebug.hlsl
Labels: HDRP, SRP

#2141 Fix screen corruption on Xbox when in rendergraph mode
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResources.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP

#1784 Universal/1252255n1252263
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: needs-backport-7.x, needs-backport-8.x, ready-to-merge, universal

#2098 Fix CapturePass to be able to capture post processing effects in Unity Recorder
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: needs-backport-8.x, universal

#2152 Update changelog date to current one for 10.1
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.shadergraph/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: HDRP, SRP, Shader Graph, universal, vfx

#2154 Force update trunk revision
  .yamato/_packages.yml
  .yamato/_projectcontext.yml
  .yamato/_templates.yml
  .yamato/config/_latest_editor_versions_trunk.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/ruamel/jobs/shared/constants.py
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-osx-metal.yml
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/smoke_test-win-dx11.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-openglcore.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal-osx-openglcore.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_boatattack-win-dx11.yml
  .yamato/urpupdate_boatattack-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vfx_urp-osx-openglcore.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#2155 Icon Replacement for Exposure Light Unit UX (Moonless Scene)
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/MoonlessNight.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/MoonlessNight@2x.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_MoonlessNight.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Texture/LightUnitIcons/d_MoonlessNight@2x.png
Labels: HDRP

#2156 Remove clear resources at release from rendergraph debug menu
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP

#2158 Fix for CAS setting transient resources as readwrite
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
Labels: HDRP

#2151 [HDRP][Compositor] Documentation and bug fixes
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9800_Compositor.unity
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Compositor-User-Guide.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionLayerUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
Labels: HDRP

#2142 Fix SSGI when enabled in rendergraph
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.RenderGraph.cs
Labels: HDRP

#2136 Custom pass scene visibility
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassVolume.cs
Labels: HDRP

#2160 Fix compile issue with RT Shadow denoising when using rendergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs
Labels: HDRP

#2162 Fix override of several properties not working correctly in the debug menu at runtime
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP

#2134 [ShaderGraph]Fix for required PositionNode upgrade
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/PositionNode.cs
Labels: Shader Graph, needs-backport-9.x

#2112 Make editor pinning optional [skip ci]
  .yamato/_editor_priming.yml
  .yamato/_packages.yml
  .yamato/_templates.yml
  .yamato/config/__shared.metafile
  .yamato/config/_abv.metafile
  .yamato/docs/readme.md
  .yamato/ruamel/build.py
  .yamato/ruamel/jobs/abv/abv_all_project_ci.py
  .yamato/ruamel/jobs/abv/abv_all_project_ci_nightly.py
  .yamato/ruamel/jobs/abv/abv_trunk_verification.py
  .yamato/ruamel/jobs/abv/yml_abv.py
  .yamato/ruamel/jobs/editor/editor_pinning_merge_all.py
  .yamato/ruamel/jobs/editor/editor_pinning_merge_revisions.py
  .yamato/ruamel/jobs/editor/editor_priming.py
  .yamato/ruamel/jobs/editor/yml_editor.py
  .yamato/ruamel/jobs/packages/package_publish_all.py
  .yamato/ruamel/jobs/packages/package_test.py
  .yamato/ruamel/jobs/packages/package_test_all.py
  .yamato/ruamel/jobs/packages/package_test_dependencies.py
  .yamato/ruamel/jobs/packages/project_publish_all.py
  .yamato/ruamel/jobs/packages/project_test.py
  .yamato/ruamel/jobs/packages/project_test_all.py
  .yamato/ruamel/jobs/projects/_project_base.py
  .yamato/ruamel/jobs/projects/project_all.py
  .yamato/ruamel/jobs/projects/project_not_standalone.py
  .yamato/ruamel/jobs/projects/project_standalone.py
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/ruamel/jobs/projects/yml_project.py
  .yamato/ruamel/jobs/shared/constants.py
  .yamato/ruamel/jobs/shared/namer.py
  .yamato/ruamel/jobs/templates/template_test.py
  .yamato/ruamel/jobs/templates/template_test_dependencies.py
  .yamato/ruamel/jobs/templates/test_all.py
  .yamato/ruamel/metafile_parser.py
Labels: yamato

#2164 Fix issue with SC_PrimitiveID not handlded correctly for overdraw (fail to compil with XR)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDStructFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDStructs.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/FragInputs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassFullScreenDebug.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VaryingMesh.hlsl
Labels: HDRP

#2167 Update trunk revision to the fixed win installer batch
  .yamato/_packages.yml
  .yamato/_projectcontext.yml
  .yamato/_templates.yml
  .yamato/config/_latest_editor_versions_trunk.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-osx-metal.yml
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/smoke_test-win-dx11.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-openglcore.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal-osx-openglcore.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_boatattack-win-dx11.yml
  .yamato/urpupdate_boatattack-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vfx_urp-osx-openglcore.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#2172 Fix rendergraph failing after several minutes (due to hash returning 0 as valid index bit)
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResources.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP

#2173 Fixed an issue causing non-dev builds to display black
  com.unity.render-pipelines.core/Runtime/Debugging/ProfilingScope.cs
Labels: HDRP, SRP

#1439 Case-1247287, Case-1245964, Case-1245965
  com.unity.render-pipelines.universal/Documentation~/InstallingAndConfiguringURP.md
  com.unity.render-pipelines.universal/Documentation~/VolumeOverrides.md
  com.unity.render-pipelines.universal/Documentation~/Volumes.md
  com.unity.render-pipelines.universal/Documentation~/integration-with-post-processing.md
Labels: needs-backport-7.x, needs-backport-8.x, needs-backport-9.x, universal

#2144 Fixed DOC-2357, Edited Adaptive Performance description, other minor edition.
  com.unity.render-pipelines.universal/Documentation~/Volumes.md
  com.unity.render-pipelines.universal/Documentation~/shader-complex-lit.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
Labels: needs-backport-8.x, universal

#2149 Edited the Feature Comparison table.
  com.unity.render-pipelines.universal/Documentation~/universalrp-builtin-feature-comparison.md
Labels: universal

#2169 Added info about ray-traced reflections not supporting decals
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Global-Illumination.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Reflections.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
Labels: Docs, HDRP

#2170 Fix Lit SG surface options display to consider material modes (fogbugz #1257050)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/LitSurfaceOptionPropertyBlock.cs
Labels: HDRP, needs-backport-9.x

#2174 Fix volumetric fog nan
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLightingFiltering.compute
Labels: needs-backport-8.x

#2179 Color Picker Debug Mode makes the whole screen go gray
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugColorPicker.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#2181 Added Render Graph what's new.
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10-0.md
Labels: HDRP

#2163 Fix tiny flickering at the very edge of screen when TAA is on
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntiAliasing.shader
Labels: HDRP

#2159 Missed renaming of existing inline Vector1 for rename Vector1 to Float
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/Vector1Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/SlotValue.cs
  com.unity.shadergraph/Editor/Drawing/Views/ReorderableSlotListView.cs
Labels: Shader Graph

#1941 Various fixes found while investigating (case 1278465).
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_Indirect.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_MaterialQuality_Indirect.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/106_ReflectionsMultiBounceRough.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/106_ReflectionsMultiBounceRough.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/106_ReflectionsMultiBounceRough.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/106_ReflectionsMultiBounceRough.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/106_ReflectionsMultiBounceRough.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/106_ReflectionsMultiBounceRough.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/106_ReflectionsMultiBounceRough.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/106_ReflectionsMultiBounceRough/M_Opaque_Metallic.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/106_ReflectionsMultiBounceRough/M_Opaque_Metallic.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/106_ReflectionsMultiBounceRough/ReflectionsMultiBounceRough.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/106_ReflectionsMultiBounceRough/ReflectionsMultiBounceRough.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.core/ShaderLibrary/CommonMaterial.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/FabricRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairRayTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLitRayTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDReflectionDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/ReflectionDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingIndirect.hlsl
Labels: HDRP, SRP, dxr, testing

#2182 [ShaderGraph] [bugfix 1283782] Fix for previews when selecting "None" as your texture property texture
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/PreviewProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DInputMaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/Texture2DAssetNode.cs
Labels: Shader Graph

#2177 [SG] Avoid Sanitize for World to Absolute World
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/PositionNode.cs
Labels: Shader Graph, needs-backport-9.x

#2189 [10.x.x] Increase Android Yamato URP job timeout to 45 minutes
  .yamato/config/universal.metafile
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
Labels: universal, yamato

#1629 [Fix] case 1259717: Multiple cameras causes GC each frame
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/MultipleViewGCTest.cs
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/MultipleViewGCTest.cs.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: HDRP, universal

#2192 Fix unlit SG not showing after postprocess
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceOptionPropertyBlock.cs
Labels: HDRP

#2150 Added missing camera fix in camera overlay stack
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#2148 Fixed missing camera in camera stack
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#2197 Added information about new ux improvements
  com.unity.render-pipelines.high-definition/Documentation~/Images/LightCheatSheet.png
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Physical-Light-Units.md
Labels: Docs, HDRP

#2198 Fix render queue migration to 10.x
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderQueue.cs
Labels: HDRP

#2199 Fix fullscreen debug pass with XR DX12
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3004_QuadOverdraw.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3004_QuadOverdraw/Sceneobjects.prefab
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3005_VertexDensity.unity
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDStructFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDStructs.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDecal.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDepthOnly.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDistortion.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForwardUnlit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassFullScreenDebug.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassGBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassLightTransport.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassMotionVectors.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VaryingMesh.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VertMesh.hlsl
Labels: HDRP, testing

#2202 Fix the exception where we can't use json in AfterDeserialize.
  com.unity.shadergraph/Editor/Generation/ShaderGraphVfxAsset.cs
Labels: Shader Graph, vfx

#2201 Fix a useless repaint & fix in editor
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISkyRenderer.cs
Labels: HDRP

#2203 Migrate DecalNormalPatch fix to RenderGraph version to avoid Metal validation error
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#2195 Added a toggle to enable/disable Render Graph in the HDRP default settings
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedHDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
Labels: HDRP

#2204 Display warning when trying to access HDRP default settings whit no SRP asset set
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, SRP

#2206 Deactivate other forms of FSAA when path tracing is on.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP, SRP

#2153 Add missing passes to ComplexLit
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
Labels: universal

#1940 Fixed indirect albedo in URP shadergraph
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Billboard.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
Labels: universal

#2208 Adding missing marker for ray tracing profiling (RaytracingDeferredLighting).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP, dxr

#2210 Fix null reference in the Undo callback of the graphics compositor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositorWindow.cs
Labels: HDRP

#2216 Removed stray log in FreeCamera.
  com.unity.render-pipelines.core/Runtime/Camera/FreeCamera.cs
Labels: HDRP, SRP

#2217 Restore correct cullmode for SceneSelectionPass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
Labels: HDRP

#1768 Fix for non-static objects not being present at times in OnEnable probes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDAdditionalReflectionData.Legacy.cs
Labels: HDRP

#2219 Added the support of eye shader for ray tracing.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/101_ReflectionsPerfFullRes.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/102_ReflectionsPerfHalfRes.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/103_ReflectionsQuality.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/900_Materials_AlphaTest_SG.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/EyeSG.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/EyeSG.shadergraph.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/M_EyeSG.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/M_EyeSG.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/MaterialCollection.prefab
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/EyeRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/EyeRaytracing.hlsl.meta
Labels: HDRP, dxr, testing

#2221 Fix issue found in 10.1 version
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/AdvancedOptionsPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
Labels: HDRP

#2223 Fix shadows culling with XR
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, XR, needs-backport-7.x, needs-backport-8.x

#1997 [10.x.x] Added LightMode documentation.
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/urp-shaders/urp-shaderlab-pass-tags.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-basic-unlit-structure.md
Labels: universal

#2207 Removing the asset database save call
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
Labels: universal

#2194 Fixed the formatting of the table for the Shadows section.
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
Labels: universal

#2196 Added the upgrade instruction and the requirements for URP 10.1.
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-10-1-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: universal

#2232 Changes to XR feature comparison, from Matt Fuad.
  com.unity.render-pipelines.universal/Documentation~/universalrp-builtin-feature-comparison.md
Labels: universal

#2241 Remove XRSystemTests
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Tests/Editor/XRSystemTests.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/XRSystemTests.cs.meta
Labels: HDRP, XR, needs-backport-7.x, needs-backport-8.x

#2247 Remove XR system test + Fix cinemachine in template + Add dxr test
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/6001_Alembic.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/6001_Alembic.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/6001_Alembic.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/6001_Alembic.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/6001_Alembic.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/6001_Alembic.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/6001_Alembic.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/6001_Alembic/DynamicProceduralMesh.cs
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/6001_Alembic/DynamicProceduralMesh.cs.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDAdditionalReflectionData.Legacy.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/MotionVectorVertexShaderCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDecal.hlsl
  com.unity.render-pipelines.high-definition/Tests/Editor/XRSystemTests.cs
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
Labels: HDRP, testing

#2237 HDRP public API doc
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDIESImporter.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfileMaterialPropertyDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/ShaderGraphVersion.cs
  com.unity.render-pipelines.high-definition/Runtime/ComponentUtility.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugOverlay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/IndirectLightingController.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LookDev.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderUtilities.cs
Labels: HDRP

#2248 Fix HDRP API doc
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDIESImporter.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfileMaterialPropertyDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/ShaderGraphVersion.cs
  com.unity.render-pipelines.high-definition/Runtime/ComponentUtility.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugOverlay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/IndirectLightingController.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LookDev.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/ShaderVariablesPhysicallyBasedSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderUtilities.cs
Labels: HDRP

#2236 Adding conditionals for baked shadow calculation and shadowmask if ba…
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Shadows.hlsl
Labels: ready-to-merge, universal

#2250 Change min version to 2020.2b8
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx
