Repository Unity-Technologies/Graphics, pull requests merged in 2021-05, with the labels that each got.

#4249 Allow for auto fit a probe volume around scene contents or current selection.
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/SerializedProbeVolume.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP

#4405 Hd/update smoke tests
  TestProjects/SRP_SmokeTest/Assets/HDRPDefaultResources.meta
  TestProjects/SRP_SmokeTest/Assets/HDRPDefaultResources/HDRenderPipelineGlobalSettings.asset
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.Migration.cs
Labels: HDRP, SRP, testing

#4411 [Universal] converter UI work
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConvertersEditor.cs
  com.unity.render-pipelines.universal/Editor/Converter/converter_editor.uxml
  com.unity.render-pipelines.universal/Editor/Converter/converter_widget.uxml
  com.unity.render-pipelines.universal/Editor/Converter/converter_widget_item.uxml
Labels: universal

#4407 [VFX] Use New Overlay for VFXEventTest & VisualEffectEditor
  com.unity.visualeffectgraph/Editor/Inspector/AdvancedVisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VFXSlotContainerEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Utilities/EventTester/VFXEventTesterWindow.cs
Labels: vfx

#4409 [HDRP] 2021.1 backport of Fixed emission material properties not being animable
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
Labels: HDRP

#4410 [HDRP] Backport Fixed emission material properties not being animable
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
Labels: HDRP

#4277 Merged the changes from PR #3384.
  com.unity.render-pipelines.universal/Documentation~/2DLightProperties.md
  com.unity.render-pipelines.universal/Documentation~/2DRendererData_overview.md
  com.unity.render-pipelines.universal/Documentation~/2d-index.md
  com.unity.render-pipelines.universal/Documentation~/HDREmulationScale.md
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2d-lights-gameobject-menu.png
  com.unity.render-pipelines.universal/Documentation~/Lights-2D-intro.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
Labels: universal

#4292 Correct sub shader order in Unlit Shader Graph
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalUnlitSubTarget.cs
Labels: universal

#4319 Fixed half-precision issue in ACES filter
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/ACES.hlsl
Labels: SRP, needs-backport-10.x, needs-backport-2021.1

#4414 [2021.2][ShaderGraph] URP Target - Use unnormalized view direction for interpolation
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
Labels: universal

#4281 Per-cell loading of assets for APV
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
Labels: HDRP, SRP

#4240 Refactor templates pipelines
  .yamato/_templates.yml
  .yamato/config/_templates.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
Labels: sdet

#3938 Fix return values from GetStereoProjectionMatrix() and SetStereoViewMatrix()
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, needs-backport-10.x, needs-backport-2021.1, ready-to-merge, universal

#4417 Added a fix for _TimeParameters not being defined in built-in
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/Shim/InputsShim.hlsl
Labels: Shader Graph

#4303 Added a zero initialize to the packed structure for shader graph. The…
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
Labels: Shader Graph

#4368 [2021.2] [ShaderGraph] Fix for upgrading enum shader keywords resulting in them being not exposed
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/ShaderKeyword.cs
Labels: Shader Graph, backported-2021.1

#4369 [2021.1] [ShaderGraph] Fix for upgrading enum shader keywords resulting in them being not exposed
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/ShaderKeyword.cs
Labels: Shader Graph

#4431 [yamato] Update green revisions job
  .yamato/_green_job_revisions_trunk.metafile
  .yamato/script/editor_scripts/store_green_revisions.py
Labels: sdet

#4422 Fixed deferred renderer issue where soft shadow keyword was always di…
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
Labels: universal

#4347 [Backport]fix for save on application close
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
Labels: Shader Graph

#4384 Backport mesh decal fixes for Hybrid Renderer to crazyhunter
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProperties.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Implementation/NodeUtils.cs
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Generation/Processors/PropertyCollector.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: HDRP, Shader Graph

#4412 Probe Volume view bias and scale with min probe distance.
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeProfile.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumesOptions.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.compute
Labels: HDRP, SRP

#4429 Fix APV seams between cells.
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
Labels: HDRP, SRP

#4365 [VFX] Test for exact fixed time step (& restore option)
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/015_FixedTime.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/015_FixedTime.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/015_FixedTime.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/015_FixedTime.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/015_FixedTime.png.meta
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorBuildSettings.asset
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/015_FixedTime.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/015_FixedTime.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/015_FixedTime.png.meta
  TestProjects/VisualEffectGraph_URP/ProjectSettings/EditorBuildSettings.asset
  com.unity.testing.visualeffectgraph/Runtime/ForceVisualEffectPaused.cs
  com.unity.testing.visualeffectgraph/Runtime/ForceVisualEffectPaused.cs.meta
  com.unity.testing.visualeffectgraph/Scenes/015_CommonGraph.vfx
  com.unity.testing.visualeffectgraph/Scenes/015_CommonGraph.vfx.meta
  com.unity.testing.visualeffectgraph/Scenes/015_ExactFixedTime.vfx
  com.unity.testing.visualeffectgraph/Scenes/015_ExactFixedTime.vfx.meta
  com.unity.testing.visualeffectgraph/Scenes/015_FixedTime.shadergraph
  com.unity.testing.visualeffectgraph/Scenes/015_FixedTime.shadergraph.meta
  com.unity.testing.visualeffectgraph/Scenes/015_FixedTime.unity
  com.unity.testing.visualeffectgraph/Scenes/015_FixedTime.unity.meta
  com.unity.testing.visualeffectgraph/Scenes/015_FixedTime.vfx
  com.unity.testing.visualeffectgraph/Scenes/015_FixedTime.vfx.meta
  com.unity.testing.visualeffectgraph/Scenes/015_Prewarm.vfx
  com.unity.testing.visualeffectgraph/Scenes/015_Prewarm.vfx.meta
  com.unity.testing.visualeffectgraph/Tests/Runtime/VFXGraphicsTestSettings.cs
  com.unity.testing.visualeffectgraph/Tests/Runtime/VFXGraphicsTests.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/Images/VisualEffectAssetInspector.png
  com.unity.visualeffectgraph/Documentation~/VisualEffectGraphAsset.md
  com.unity.visualeffectgraph/Editor/Data/VFXData.cs
  com.unity.visualeffectgraph/Editor/Inspector/VFXAssetEditor.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: testing, vfx

#4425 Updated the Requirements page, added the upgrade guide (just install the new package, no breaking changes).
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-7-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: universal

#4273 Fixed shadowcaster2d bug with perspective camera
  com.unity.render-pipelines.universal/Shaders/2D/Include/LightingUtility.hlsl
Labels: 2d, universal

#4432 [2021.2] SSAO: Fixing an issue with AfterOpaque option
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceAmbientOcclusion.shader
Labels: universal

#4233 Apply fixup for normals that are provided in OS or WS (instead of TS), when rendering double-sided, according to face + mirror vs. flip.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Nature/SpeedTree8.shadergraph
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8_PBRLit.shadergraph
  com.unity.shadergraph/ShaderGraphLibrary/Nature/SpeedTree8InterpolatedNormals.shadersubgraph
  com.unity.shadergraph/ShaderGraphLibrary/Nature/SpeedTree8InterpolatedNormals.shadersubgraph.meta
Labels: HDRP, Shader Graph, needs-backport-10.x, needs-backport-2021.1

#4435 Fixed a namespace to be inside UnityEditor to avoid a test failure
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/AssetPostProcessors/MaterialPostprocessor.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/AssetPostProcessors/ShaderGraphMaterialsUpdater.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGUI/BaseShaderGUI.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/BuiltInMetadata.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInLitSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderUtils.cs
Labels: Shader Graph

#4404 Fix for problem in backport
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/SpriteNormalPass.hlsl
Labels: 2d, universal

#4212 [7.x.x] Fix an issue when using the opaque texture with XR multipass
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/CopyColorPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: XR, universal

#4132 Fix for multi cameras using cloud layers shadows
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-CloudLayer.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Cloud-Layer.md
  com.unity.render-pipelines.high-definition/Editor/Sky/CloudSystem/CloudLayer/CloudLayerEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsShadows.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayerRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP

#4441 Updating vulkan decal reference images
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/230_Decal_Projector.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/231_Decal_Mesh.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/245_Normal_Reconstruction.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/245_Normal_Reconstruction.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/245_Normal_Reconstruction.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/230_Decal.png
Labels: testing, universal

#4344 Add skeleton for new shadow setting
  com.unity.render-pipelines.high-definition/Editor/Material/BaseShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/PlanarPrimitive/PassForward.template
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Deferred.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/Deferred.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/DeferredTile.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadows.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit_Basemap.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.shader
Labels: HDRP

#4440 Find APV index dimension across scenes instead of having per-asset one [BIS]
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
Labels: HDRP, SRP

#4439 Added fix for issue with shadows casting on different layers
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: universal

#4460 Fixed UAV write in decal pixel shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP, needs-backport-2021.1, needs-backport-7.x

#4461 Missing Meta file
  com.unity.render-pipelines.core/Editor/PostProcess.meta
Labels: SRP, ready-to-merge

#4263 [XPipeline]URP Light Inspector Unification
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/light-inspector.png
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
  com.unity.render-pipelines.universal/Runtime/Documentation.cs
  com.unity.render-pipelines.universal/Runtime/Documentation.cs.meta
Labels: universal

#4354 [XPipeline][URP]Unify camera inspector with HDRP
  com.unity.render-pipelines.core/Editor/Camera/CameraUI.Drawers.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Drawers.cs.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Environment.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Environment.Drawers.cs.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Environment.Skin.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Environment.Skin.cs.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Output.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Output.Drawers.cs.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Output.Skin.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Output.Skin.cs.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.PhysicalCamera.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.PhysicalCamera.Drawers.cs.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Rendering.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Rendering.Drawers.cs.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Rendering.Skin.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Rendering.Skin.cs.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineSerializedCamera.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
Labels: SRP, universal

#4444 Hide subdivision seams in APV
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumesOptions.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.compute
Labels: HDRP, SRP

#4416 Fix warning on Probe Volume baking if different, but equivalent, profiles are set during baking
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
Labels: HDRP, SRP

#4348 Remove dependency on UnlitPass
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteCustomLitSubTarget.cs
Labels: 2d, universal

#4427 Misc small APV fixes
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickIndex.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickPool.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeProfile.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeAsset.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePositioning.cs
Labels: HDRP, SRP

#4464 Fix issue with index calculations across scenes after master merge
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
Labels: HDRP, SRP

#4450 Augmenting probe volumes debug views
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.shader
Labels: HDRP, SRP

#4482 Fix the very high shadow filtering setting keywords
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
Labels: HDRP

#4484 Added missing xboxseries tags for shadergraph
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubShader.cs
  com.unity.render-pipelines.high-definition/Editor/ShaderGraph/HDSubShaderUtilities.cs
Labels: HDRP

#4242 [2021.2] Control Volume Framework updates
  TestProjects/UniversalGraphicsTest_PostPro/Assets/CommonAssets/Materials/Lit.mat
  TestProjects/UniversalGraphicsTest_PostPro/Assets/CommonAssets/Materials/Lit.mat.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/CommonAssets/Prefabs.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/CommonAssets/Prefabs/ENV.prefab
  TestProjects/UniversalGraphicsTest_PostPro/Assets/CommonAssets/Prefabs/ENV.prefab.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/CommonAssets/UniversalRPAsset.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/CommonAssets/UniversalRPAssetBackBuffer.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/CommonAssets/UniversalRPAssetRenderScaleLow.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/105_MRT/Test105RenderPipelineAsset.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes.unity
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes.unity.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes/BoxVolumeProfile.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes/BoxVolumeProfile.asset.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes/GlobalVolumeProfile.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes/GlobalVolumeProfile.asset.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes/NewLightingSettings.lighting
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes/NewLightingSettings.lighting.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes/ReflectionProbe-0.exr
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/160_MultiCameraVolumes/ReflectionProbe-0.exr.meta
  com.unity.render-pipelines.core/Runtime/Volume/VolumeManager.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Environment.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Environment.Skin.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineSerializedCamera.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: SRP, testing, universal

#4485 [HDRP] Add missing very high quality shadow component
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.cs
Labels: HDRP

#2775 Improve performance of OnDemand reflection probes [NEED C++]
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/IBLFilterGGX.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#4359 Global Camera constants are now pushed when doing a custom render callback.
  com.unity.render-pipelines.core/Runtime/Common/ConstantBuffer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#3997 Urp/depth priming
  TestProjects/UniversalGraphicsTest_Foundation/Assets/CommonAssets/ForwardRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/029_Particles/Shaders/CustomParticleData.shader
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/ForwardRendererData.asset
  com.unity.render-pipelines.universal/Runtime/Passes/DepthNormalOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawObjectsPass.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
Labels: testing, universal

#4199 First pass on URP Global Settings with Light Layer Names
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineGlobalSettingsCreator.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/global-settings.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/urp-global-settings.md
  com.unity.render-pipelines.universal/Editor/GlobalSettings.meta
  com.unity.render-pipelines.universal/Editor/GlobalSettings/SerializedUniversalRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/SerializedUniversalRenderPipelineGlobalSettings.cs.meta
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsCreator.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsCreator.cs.meta
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsEditor.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsEditor.cs.meta
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.cs.meta
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.cs.meta
Labels: SRP, universal

#4480 2d/shadow stencil clear fix
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs
Labels: universal

#4466 Fix reflections intensity multiplier being ignored with URP and HRV2 (Graphics part)
  com.unity.render-pipelines.universal/ShaderLibrary/GlobalIllumination.hlsl
Labels: backported-10.x, universal

#4426 [20.3/partner] Fix reflections intensity multiplier being ignored with URP and HRV2 (Graphics part)
  com.unity.render-pipelines.universal/ShaderLibrary/Lighting.hlsl
Labels: universal

#4473 Fixed a few public api issues.
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInTarget.cs
Labels: Shader Graph

#4468 [10.x.x] Fix reflections intensity multiplier being ignored with URP and HRV2 (Graphics part)
  com.unity.render-pipelines.universal/ShaderLibrary/Lighting.hlsl
Labels: universal

#4317 Fix direction transforms in camera relative worldspace systems
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Transforms/Position/TransformAbsoluteWorldtoObject.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Transforms/Position/TransformAbsoluteWorldtoView.shadergraph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
Labels: Shader Graph

#4454 Fixed half-precision issue in ACES filter
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/ACES.hlsl
Labels: SRP

#4456 Fixed half-precision issue in ACES filter
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/ACES.hlsl
Labels: SRP

#4459 [2021.2][ShaderGraph] Use 3-component transform for view to object direction
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
Labels: Shader Graph

#4472 Adding support for mip bias for regular upsamplers.
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Common/DynamicResolutionHandler.cs
  com.unity.render-pipelines.core/Runtime/Common/GlobalDynamicResolutionSettings.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedDynamicResolutionSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, SRP

#4489 Fix for lighting issue
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Labels: 2d, needs-backport-2021.1, universal

#4255 fixed SMAA not working for GL
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/102_SMAA.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/102_SMAA.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/102_SMAA.png
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Textures/SMAA/SearchTex.tga.meta
Labels: needs-backport-10.x, needs-backport-7.x, testing, universal

#4492 Added fix for failing Shadow Test
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs
Labels: 2d, universal

#4465 Made the ui bind to properties earlier in the setup
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConvertersEditor.cs
  com.unity.render-pipelines.universal/Editor/Converter/converter_editor.uxml
  com.unity.render-pipelines.universal/Editor/Converter/converter_widget.uxml
  com.unity.render-pipelines.universal/Editor/Converter/converter_widget_item.uxml
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
Labels: universal

#4493 [VFX] Fix overlay compilation
  com.unity.visualeffectgraph/Editor/Inspector/VFXSlotContainerEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Utilities/EventTester/VFXEventTesterWindow.cs
Labels: vfx

#4481 Hd/update srplensflaredata asset inspector
  com.unity.render-pipelines.core/Editor/Lighting/LensFlareEditorSRP.cs
  com.unity.render-pipelines.core/Editor/Lighting/LensFlareElementEditorSRP.cs
  com.unity.render-pipelines.core/Editor/PostProcessing.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareComponentSRPEditor.cs
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareComponentSRPEditor.cs.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareDataSRPEditor.cs
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareDataSRPEditor.cs.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareEditor.cs
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareEditor.cs.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareEditorUtils.cs
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareEditorUtils.cs.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/CircleFlareThumbnail.png
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/CircleFlareThumbnail.png.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/CircleFlareThumbnail@2x.png
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/CircleFlareThumbnail@2x.png.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/Flare128.png
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/Flare128.png.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/PolygonFlareThumbnail.png
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/PolygonFlareThumbnail.png.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/PolygonFlareThumbnail@2x.png
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/PolygonFlareThumbnail@2x.png.meta
  com.unity.render-pipelines.core/Editor/Resources/CircleFlareThumbnail.png
  com.unity.render-pipelines.core/Editor/Resources/PolygonFlareThumbnail.png
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareComponentSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareDataSRP.cs
Labels: HDRP, SRP

#4389 Hd/split settings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDProjectSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDUserSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDUserSettings.cs.meta
Labels: HDRP

#4497 Use cache version of linux-standalone (HDRP) in the ABV/nightly
  .yamato/all-hdrp.yml
  .yamato/config/hdrp.metafile
Labels: sdet

#4494 [VFX] Restore Overlay
  com.unity.visualeffectgraph/Editor/Inspector/VFXSlotContainerEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Utilities/EventTester/VFXEventTesterWindow.cs
Labels: vfx

#4495 [Yamato] move URP (split) standalone jobs to 2080s [skip ci]
  .yamato/config/universal_foundation.metafile
  .yamato/config/universal_lighting.metafile
  .yamato/config/universal_postpro.metafile
  .yamato/config/universal_terrain.metafile
  .yamato/urp_foundation-win-dx11.yml
  .yamato/urp_foundation-win-dx12.yml
  .yamato/urp_foundation-win-vulkan.yml
  .yamato/urp_lighting-win-dx11.yml
  .yamato/urp_lighting-win-dx12.yml
  .yamato/urp_lighting-win-vulkan.yml
  .yamato/urp_postpro-win-dx11.yml
  .yamato/urp_postpro-win-dx12.yml
  .yamato/urp_postpro-win-vulkan.yml
  .yamato/urp_terrain-win-dx11.yml
  .yamato/urp_terrain-win-dx12.yml
  .yamato/urp_terrain-win-vulkan.yml
Labels: sdet

#4496 Strip DEBUG_DISPLAY shaders from URP test projects.
  TestProjects/UniversalGfxTestStereo/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalGraphicsTest_2D/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalGraphicsTest_Foundation/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalGraphicsTest_Lighting/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalGraphicsTest_PostPro/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalGraphicsTest_Terrain/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalHybridTest/ProjectSettings/ProjectSettings.asset
  TestProjects/VisualEffectGraph_URP/ProjectSettings/ProjectSettings.asset
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
Labels: testing, universal, vfx

#4287 [10.x.x] Fixed fogbugz case 1331108
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, ready-to-merge, universal

#4234 [10.x.x] Backport PR3821 to 10.x
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, ready-to-merge, universal

#4477 7.x.x/hd/fix motionblur alpha
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/MotionBlur.compute
Labels: HDRP, needs-backport-7.x

#4510 Fix NullReferenceException on mobile.
  com.unity.render-pipelines.core/Runtime/Debugging/DebugManager.Actions.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUpdater.cs
Labels: SRP

#4487 Added version to DLSS link
  com.unity.render-pipelines.high-definition/Documentation~/deep-learning-super-sampling-in-hdrp.md
Labels: Docs, HDRP

#4478 8.x.x/hd/fix motionblur alpha
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/MotionBlur.compute
Labels: HDRP, SRP

#4446 Display on Probe Volume Inspector if lighting data needs to be rebaked.
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
Labels: HDRP, SRP

#4421 [Backport 10.x.x] Fix issue with history buffer allocation for AOVs when the request does not come in first frame.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP

#4486 Updated Template Project
  com.unity.template-universal/Assets/ExampleAssets/Materials/ConstructionLight_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/DryWallPainted_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/DryWall_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Ground_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Hammer_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/HardHat_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Jigsaw_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/LightBulb_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Liquid_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Metal_Blue_Simple_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Metal_Simple_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/OBS_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/PaintBrush_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/PaintLabel_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Black_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Gray_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Ridges_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Rough_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Transparent.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_White_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Yellow_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Strap_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Stud_Mat.mat
  com.unity.template-universal/Assets/Settings/UniversalRP-HighQuality.asset
  com.unity.template-universal/Assets/Settings/UniversalRP-LowQuality.asset
  com.unity.template-universal/Assets/Settings/UniversalRP-MediumQuality.asset
  com.unity.template-universal/Assets/Settings/UniversalRenderer.asset
  com.unity.template-universal/Assets/Settings/UniversalRenderer.asset.meta
  com.unity.template-universal/ProjectSettings/QualitySettings.asset
  com.unity.template-universal/ProjectSettings/URPProjectSettings.asset
Labels: universal

#4505 Faster auto-fit of index for APV
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneBounds.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneBounds.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedHDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
Labels: HDRP, SRP

#4511 hd/wizard revert show on startup to project settings
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDProjectSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDUserSettings.cs
Labels: HDRP

#4514 Add modules.terrain to the HDRP dependencies
  com.unity.render-pipelines.high-definition/package.json
Labels: HDRP

#4300 Forward to Universal RendererData upgrader fix
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ForwardToUniversalRendererPostprocessor.cs
Labels: universal

#4475 Preparation for New Hair Material Type (Marschner)
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairPropertyBlocks.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairPropertyBlocks.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/ShaderPassDefine.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDBlockFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairPathTracing.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/PreIntegratedAzimuthalScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/PreIntegratedAzimuthalScattering.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/PreIntegratedAzimuthalScattering.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/PreIntegratedAzimuthalScattering.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/PreIntegratedAzimuthalScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/PreIntegratedAzimuthalScattering.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/PreIntegratedAzimuthalScattering.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/PreIntegratedAzimuthalScattering.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/BRDF/BRDF_Marschner.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/BRDF/BRDF_Marschner.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/LTCAreaLight.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/LTCAreaLight.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD_Marschner.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD_Marschner.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
Labels: HDRP

#4517 Bump gfx test framework to 7.8.11-preview for all test projects
  LocalTestProjects/HDRP_DebugCrossFade_Tests/Packages/manifest.json
  TestProjects/BuiltInGraphicsTest_Foundation/Packages/manifest.json
  TestProjects/BuiltInGraphicsTest_Lighting/Packages/manifest.json
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/PostProcessing_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_2D/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Foundation/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Lighting/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_PostPro/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Terrain/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.urp-upgrade/package.json
  com.unity.testing.urp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, needs-backport-2021.1, testing, universal, vfx

#4516 2d/fixes for composite shadow casting
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs
  com.unity.render-pipelines.universal/Shaders/2D/Shadow2D-Projected.shader
  com.unity.render-pipelines.universal/Shaders/2D/Shadow2D-Shadow-Sprite.shader
  com.unity.render-pipelines.universal/Shaders/2D/Shadow2D-Unshadow-Geometry.shader
  com.unity.render-pipelines.universal/Shaders/2D/Shadow2D-Unshadow-Geometry.shader.meta
  com.unity.render-pipelines.universal/Shaders/2D/Shadow2D-Unshadow-Sprite.shader
Labels: 2d, universal

#4518 [2021.1] Misc SDET backports
  .yamato/all-hdrp.yml
  .yamato/config/hdrp.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
  LocalTestProjects/HDRP_DebugCrossFade_Tests/Packages/manifest.json
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_2D/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Foundation/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Lighting/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_PostPro/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Terrain/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, sdet, testing, universal, vfx

#4502 [HDRP] Fix issue with velocity rejection when using physically-based DoF.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntiAliasing.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4462 Various fixes for Lens Flare
  com.unity.render-pipelines.core/Documentation~/Common/srp-lens-flare-asset.md
  com.unity.render-pipelines.core/Documentation~/Common/srp-lens-flare-component.md
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareComponentSRPEditor.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareComponentSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareDataSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/Shaders/LensFlareCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, SRP, universal

#4519 [VFX] Updated URP Lit Output Documentation
  com.unity.visualeffectgraph/Documentation~/Context-OutputLitSettings.md
Labels: Docs, vfx

#4474 [ShaderGraph] [2021.2] BranchOnInputConnection uses "Not Connected" in Preview
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/Logic/BranchOnInputConnection.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
Labels: Shader Graph

#4500 URP Forward+
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalDecalSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/ForwardLights.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/Tiling.meta
  com.unity.render-pipelines.universal/Runtime/Tiling/LightExtractionJob.cs
  com.unity.render-pipelines.universal/Runtime/Tiling/LightExtractionJob.cs.meta
  com.unity.render-pipelines.universal/Runtime/Tiling/MinMaxZJob.cs
  com.unity.render-pipelines.universal/Runtime/Tiling/MinMaxZJob.cs.meta
  com.unity.render-pipelines.universal/Runtime/Tiling/RadixSortJob.cs
  com.unity.render-pipelines.universal/Runtime/Tiling/RadixSortJob.cs.meta
  com.unity.render-pipelines.universal/Runtime/Tiling/ReorderJob.cs
  com.unity.render-pipelines.universal/Runtime/Tiling/ReorderJob.cs.meta
  com.unity.render-pipelines.universal/Runtime/Tiling/SliceCombineJob.cs
  com.unity.render-pipelines.universal/Runtime/Tiling/SliceCombineJob.cs.meta
  com.unity.render-pipelines.universal/Runtime/Tiling/SliceCullingJob.cs
  com.unity.render-pipelines.universal/Runtime/Tiling/SliceCullingJob.cs.meta
  com.unity.render-pipelines.universal/Runtime/Tiling/TileSize.cs
  com.unity.render-pipelines.universal/Runtime/Tiling/TileSize.cs.meta
  com.unity.render-pipelines.universal/Runtime/Tiling/ZBinningJob.cs
  com.unity.render-pipelines.universal/Runtime/Tiling/ZBinningJob.cs.meta
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Clustering.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Clustering.hlsl.meta
  com.unity.render-pipelines.universal/ShaderLibrary/Core.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Lighting.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/RealtimeLights.hlsl
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Billboard.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainDetailLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitAdd.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrass.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrassBillboard.shader
  com.unity.render-pipelines.universal/package.json
Labels: universal

#4445 [Universal] RenderPass Input Attachments for Deferred Renderer and exposing the RenderPass option
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/PBRGBufferPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/NativeRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DeferredPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthNormalOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/GBufferPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/UnityGBuffer.hlsl
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/LitGBufferPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Billboard.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLitGbufferPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLitGBufferPass.hlsl
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLitGBufferPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainDetailLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainDetailLitPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitAdd.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
Labels: universal

#4349 Fix Unifed Shader Precision Model in SRP shaders by supporting half precision on desktop
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
Labels: SRP, needs-backport-10.x, needs-backport-2021.1

#4286 [HDRP] Timeline animation of physical camera / focus distance mode
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Post-processingDepthOfField1.png
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Depth-of-Field.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/DepthOfFieldEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.PhysicalCamera.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.PhysicalCamera.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/SerializedHDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/DepthOfField.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Exposure.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/CopyToTests.cs
Labels: HDRP

#4483 [HDRP][Path Tracing] Stacklit material support
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/FabricPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLitPathTracing.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMaterial.hlsl
Labels: HDRP, SRP, dxr

#4521 Remove the need of saving the scenes when baking probe volumes
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneBounds.cs
Labels: HDRP, SRP

#4520 Make the probe reference volume transform irrelevant
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
Labels: HDRP, SRP

#4515 APV toggle in global settings
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/OverridableFrameSettingsArea.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedHDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
Labels: HDRP, SRP

#4524 [HDRP] [DXR] [XR] Disable 107/108/309/310 hybrid test as they don't work with XR
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/107_ReflectionsHybridFullRes.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/108_ReflectionsHybridHalfRes.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/309_GlobalIlluminationHybridFullRes.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/310_GlobalIlluminationHybridHalfRes.unity
Labels: HDRP, testing

#4376 [XPipeline][HDRP]Light Editor unification
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
Labels: HDRP, SRP, ready-to-merge

#4499 [URP]Fix possible recursion loop from invalid camera stack data
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineSerializedCamera.cs
Labels: universal

#4530 Remove exec bit from reference images
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/146_Unlit_Custom_Shadows.png
Labels: sdet, testing, universal

#4525 [HDRP][Path Tracing] AxF material support
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_PathTracer_Default.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5005_PathTracing_Fog.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoF.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFPathTracing.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFPathTracingCarPaint.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFPathTracingCarPaint.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFPathTracingSVBRDF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFPathTracingSVBRDF.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/FabricPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
Labels: HDRP, SRP, dxr, testing

#4529 [2021.2][ShaderGraph] Update the BuiltIn shader GUI
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGUI/BaseShaderGUI.cs
Labels: Shader Graph

#4536 Remove NUnit
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Rendering.Drawers.cs
Labels: universal

#4232 [7.x.x] Fixed fogbugz case 1311948
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: XR, ready-to-merge, universal

#4302 Hide redundant checkboxes in Emissive Materials tab.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightExplorerExtension.cs
Labels: HDRP

#4539 [Universal][converter] internalize and init search
  com.unity.render-pipelines.universal/Editor/Converter/BuiltInToURPConverterContainer.cs
  com.unity.render-pipelines.universal/Editor/Converter/BuiltInToURPConverterContainer.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/ConverterItemDescriptor.cs
  com.unity.render-pipelines.universal/Editor/Converter/ConverterItemInfo.cs
  com.unity.render-pipelines.universal/Editor/Converter/FailedItem.cs
  com.unity.render-pipelines.universal/Editor/Converter/FailedItem.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/InitializeConverterContext.cs
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConverterContainer.cs
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConvertersEditor.cs
  com.unity.render-pipelines.universal/Editor/Converter/RunItemContext.cs
  com.unity.render-pipelines.universal/Editor/Converter/SuccessfulItem.cs
  com.unity.render-pipelines.universal/Editor/Converter/SuccessfulItem.cs.meta
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
Labels: universal

#4423 Fix shaderGraph shaders to run with SSAO in deferred
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/ShaderPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthNormalOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Shaders/BakedLit.shader
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrass.shader
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
Labels: universal

#4541 Added z-fighting definition to glossary.
  com.unity.render-pipelines.high-definition/Documentation~/Camera-Relative-Rendering.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Creating.md
  com.unity.render-pipelines.high-definition/Documentation~/Glossary.md
Labels: HDRP

#4548 Bump min version
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#4549 Re-enable 146_MSAA_RenderToBackbuffer on Linux Vulkan
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#4526 [HDRP] Add Graphics Compositor Runtime Test
  TestProjects/HDRP_RuntimeTests/Assets/Compositor.meta
  TestProjects/HDRP_RuntimeTests/Assets/Compositor/TestCompositionGraph.asset
  TestProjects/HDRP_RuntimeTests/Assets/Compositor/TestCompositionGraph.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Compositor/TestCompositionGraph.shadergraph
  TestProjects/HDRP_RuntimeTests/Assets/Compositor/TestCompositionGraph.shadergraph.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/006-Compositor.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/006-Compositor.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/006-Compositor.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/006-Compositor.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/006-Compositor.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/006-Compositor.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/006-Compositor.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/006-Compositor.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/006-Compositor.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/006-Compositor.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor.unity.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/HDRP_Test_Def_FP16_PPAlpha.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/HDRP_Test_Def_FP16_PPAlpha.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/TestCompositionGraph.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/TestCompositionGraph.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/VolumeSettingsL1.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/VolumeSettingsL1.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/VolumeSettingsL2.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/VolumeSettingsL2.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/VolumeSettingsL3.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/VolumeSettingsL3.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/greenScreenCheckmark.jpg
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/greenScreenCheckmark.jpg.meta
  TestProjects/HDRP_RuntimeTests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, testing

#4508 Material dependency
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ShaderGraphMaterialsUpdater.cs
  com.unity.render-pipelines.high-definition/Editor/Material/AxF/AxFGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalShaderGraphGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/LayeredLit/LayeredLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/LitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/TerrainLit/TerrainLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/AxfMainSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/HDShaderGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LightingShaderGraphGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/ShaderGraphUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/BaseUnlitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/UnlitShaderGraphGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/UnlitGUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.shader
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ShaderGraphMaterialsUpdater.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShaderGraphLitGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShaderGraphUnlitGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/BakedLitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/LitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/ParticlesLitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/ParticlesSimpleLitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/ParticlesUnlitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/SimpleLitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/UnlitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/SimpleLitGUI.cs
Labels: HDRP

#4540 Small UI changes to cached shadow settings on light
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
Labels: HDRP

#4537 [VFX/URP] Fix light cookie integration
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/VFXGraph/Shaders/VFXPasses.template
Labels: universal, vfx

#4543 normalize the object space normal that gets passed to shadergraph
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.shadergraph/CHANGELOG.md
Labels: HDRP

#4545 [VFX] Fix compilation issues with PSSL
  com.unity.visualeffectgraph/Shaders/SDFBaker/GenSdfRayMap.compute
  com.unity.visualeffectgraph/Shaders/SDFBaker/SdfUtils.hlsl
Labels: vfx

#4547 Regenerate yml files
  .yamato/all-shadergraph_builtin_foundation.yml
  .yamato/all-shadergraph_builtin_lighting.yml
  .yamato/all-urp-upgrade.yml
  .yamato/config/universal_lighting.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
  .yamato/shadergraph_builtin_foundation-linux-openglcore.yml
  .yamato/shadergraph_builtin_foundation-linux-vulkan.yml
  .yamato/shadergraph_builtin_foundation-osx-metal.yml
  .yamato/shadergraph_builtin_foundation-osx-openglcore.yml
  .yamato/shadergraph_builtin_foundation-win-dx11.yml
  .yamato/shadergraph_builtin_foundation-win-vulkan.yml
  .yamato/shadergraph_builtin_lighting-linux-openglcore.yml
  .yamato/shadergraph_builtin_lighting-linux-vulkan.yml
  .yamato/shadergraph_builtin_lighting-osx-metal.yml
  .yamato/shadergraph_builtin_lighting-osx-openglcore.yml
  .yamato/shadergraph_builtin_lighting-win-dx11.yml
  .yamato/shadergraph_builtin_lighting-win-vulkan.yml
  .yamato/urp-upgrade-win-dx11.yml
Labels: sdet

#4554 Doc fixes
  com.unity.render-pipelines.high-definition/Documentation~/Decal.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/RenderPipelineDebug1.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Cloud-Layer.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Visual-Environment.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP

#4531 Fix editmode tests for XR
  com.unity.testing.xr/Tests/Editor/InjectMockHMDTest.cs
Labels: XR

#4538 Add API validation exception to avoid PETS-548
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/ValidationExceptions.json.meta
Labels: universal

#4522 Edited and restructured the Decal docs.
  com.unity.render-pipelines.universal/Documentation~/Images/decal/decal-projector-component-inspector.png
  com.unity.render-pipelines.universal/Documentation~/Images/decal/decal-projector-crop.png
  com.unity.render-pipelines.universal/Documentation~/Images/decal/decal-projector-pivotuv.png
  com.unity.render-pipelines.universal/Documentation~/Images/decal/decal-projector-scale.png
  com.unity.render-pipelines.universal/Documentation~/Images/decal/decal-rf-inspector.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/decal-projector.md
  com.unity.render-pipelines.universal/Documentation~/decal-shader.md
  com.unity.render-pipelines.universal/Documentation~/renderer-feature-decal.md
Labels: universal

#4507 Small fixes for renderer post processing disabling
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DDataEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DMenus.cs
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
Labels: universal

#4542 [2021.2][ShaderGraph] Remove unused pass definitions from built-in target (in progress)
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/DepthNormalsOnlyPass.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/DepthNormalsOnlyPass.hlsl.meta
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/PBR2DPass.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/PBR2DPass.hlsl.meta
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/ShaderPass.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInLitSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInTarget.cs
Labels: Shader Graph

#4532 Fixed bug where CopyDepthPass was always enqueued when deferred rende…
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#4556 [HDRP] Update DXR reference screenshots to fix Yamato
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/305_GlobalIlluminationDenoisedHalf1.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/307_GlobalIlluminationFog.unity
Labels: HDRP, testing

#4379 [VFX] reimport on SRP changed + remove built-in support and notify
  com.unity.visualeffectgraph/Editor/Compiler/VFXGraphCompiledData.cs
  com.unity.visualeffectgraph/Editor/Core/VFXLibrary.cs
  com.unity.visualeffectgraph/Editor/Data/VFXDataMesh.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Inspector/VFXManagerEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXAbstractRenderedOutput.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphParticleOutput.cs
  com.unity.visualeffectgraph/Editor/Utils/VFXDebugWindow.cs
  com.unity.visualeffectgraph/Editor/VFXAssetEditorUtility.cs
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleBasicCube.template
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleBasicCube.template.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleCube.template
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleCube.template.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleDecal.template
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleDecal.template.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleLinesHW.template
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleLinesHW.template.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleLinesSW.template
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleLinesSW.template.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleMeshes.template
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticleMeshes.template.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticlePlanarPrimitive.template
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticlePlanarPrimitive.template.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticlePoints.template
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/Templates/VFXParticlePoints.template.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/VFXCommon.hlsl
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/VFXCommon.hlsl.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/VFXDefines.hlsl
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/VFXDefines.hlsl.meta
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/VFXPasses.template
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Legacy/VFXPasses.template.meta
Labels: vfx

#4546 Update bokken image for perf tests on iphone to macos 10.15
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/config/vv_perf_builtin.metafile
  .yamato/config/vv_perf_urp.metafile
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_lostcrypt-iphone-metal.yml
  .yamato/vikingvillage_builtin-iphone-metal.yml
  .yamato/vikingvillage_urp-iphone-metal.yml
Labels: sdet

#4555 [URP][GL] SMAA fix
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/102_SMAA.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/102_SMAA.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/102_SMAA.png
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Textures/SMAA/SearchTex.tga.meta
Labels: testing, universal

#4570 Fix public api changes
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/HDShaderGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
Labels: HDRP, universal

#4550 7.x.x/universal/opengl/smaafix
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/102_SMAA.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/102_SMAA.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/102_SMAA.png
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Textures/SMAA/SearchTex.tga.meta
Labels: testing, universal

#4575 Documentation update on mipbias feature and probe pre exposure
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP

#4571 Add HDRP editmode XR tests to the nightly
  .yamato/all-hdrp.yml
  .yamato/config/__shared.metafile
  .yamato/config/hdrp.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_lostcrypt-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vikingvillage_builtin-osx-metal.yml
  .yamato/vikingvillage_urp-osx-metal.yml
Labels: sdet

#4576 [VFX] minor fixes
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/LightingData.asset
  TestProjects/VisualEffectGraph_HDRP/Assets/HDRP/HDRenderPipelineAsset.asset
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/016_DirectLink.png.meta
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/VFXManager.asset
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/103_Lit.vfx
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/103_Renderer2D.asset
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/ReferenceSampleColor.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/ReferenceSampleDepth.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/ReferenceSampleGI.mat
  TestProjects/VisualEffectGraph_URP/Assets/UniversalRenderPipelineGlobalSettings.asset
  TestProjects/VisualEffectGraph_URP/Assets/UniversalRenderPipelineGlobalSettings.asset.meta
  TestProjects/VisualEffectGraph_URP/ProjectSettings/GraphicsSettings.asset
  TestProjects/VisualEffectGraph_URP/ProjectSettings/VFXManager.asset
  com.unity.render-pipelines.universal/Editor/VFXGraph/VFXURPBinder.cs
  com.unity.testing.visualeffectgraph/Scenes/007_SimpleMaterial.mat
  com.unity.testing.visualeffectgraph/Scenes/009_MultiCamera.mat
  com.unity.testing.visualeffectgraph/Scenes/009_OutputEvent.mat
  com.unity.testing.visualeffectgraph/Scenes/016_DirectLink.vfx
  com.unity.testing.visualeffectgraph/Scenes/016_DirectLinkMixed.vfx
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/Images/banner-exclude-from-taa.png
  com.unity.visualeffectgraph/Documentation~/Images/banner-mesh-sampling-11-improvements.png
  com.unity.visualeffectgraph/Documentation~/Images/banner-texture2darray-flipbooks.png
  com.unity.visualeffectgraph/Documentation~/Images/skinned-mesh-sampling-example.gif
  com.unity.visualeffectgraph/Documentation~/TableOfContents.md
  com.unity.visualeffectgraph/Documentation~/whats-new-11.md
  com.unity.visualeffectgraph/Editor/Data/VFXDataParticle.cs
  com.unity.visualeffectgraph/Editor/GraphView/BoundsRecorder/VFXBoundsRecorder.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXComponentBoard.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXAbstractParticleOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicInitialize.cs
  com.unity.visualeffectgraph/Shaders/VFXCommon.hlsl
  com.unity.visualeffectgraph/Shaders/VFXParticleHeader.template
  com.unity.visualeffectgraph/Shaders/VFXUpdate.template
Labels: testing, universal, vfx

#4563 Remove ads package from DXR test project
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
Labels: HDRP, dxr, testing

#3988 [HDRP] Plugin and versionable subtarget material system
  com.unity.render-pipelines.core/Runtime/Common/SerializedDictionary.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssemblyInfo.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/AssetVersion.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PluginMaterialVersions.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PluginMaterialVersions.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDMetadata.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/IPluginSubTargetMaterialUtils.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/IPluginSubTargetMaterialUtils.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/LightingSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/ShaderGraphVersion.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/TargetData/SystemData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDShaderUtils.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/HDProjectSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/HDProjectSettings.cs.meta
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/VFXHDRPBinder.cs
  com.unity.render-pipelines.high-definition/Runtime/AssemblyInfo.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Migration/MigrationDescription.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDProjectSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDProjectSettingsProxy.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDProjectSettingsProxy.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDUserSettings.cs
  com.unity.shadergraph/Editor/AssemblyInfo.cs
Labels: HDRP, SRP, Shader Graph

#4581 Update ref image linux player
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/206_Motion_Vectors.png
Labels: testing, universal

#4579 Fix raytracing shader compilation error on console
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/107_ReflectionsHybridFullRes.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/108_ReflectionsHybridHalfRes.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/309_GlobalIlluminationHybridFullRes.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/310_GlobalIlluminationHybridHalfRes.unity
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingGBuffer.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayMarching.compute
Labels: HDRP

#4582 Fixed missing API documentation for LTC area light code.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/LTCAreaLight/LTCTableGenerator.cs
  com.unity.render-pipelines.high-definition/Editor/Material/LTCAreaLight/LTCTableGeneratorEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/LTCAreaLight/NelderMead.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFLTCAreaLight/LtcData.GGX2.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/BRDF/BRDF_Interface.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/Generated/LtcData.BRDF_Charlie.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/Generated/LtcData.BRDF_CookTorrance.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/Generated/LtcData.BRDF_Disney.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/Generated/LtcData.BRDF_FabricLambert.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/Generated/LtcData.BRDF_GGX.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/Generated/LtcData.BRDF_KajiyaKayDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/Generated/LtcData.BRDF_KajiyaKaySpecular.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/Generated/LtcData.BRDF_OrenNayar.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/Generated/LtcData.BRDF_Ward.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/LTCAreaLight.cs
Labels: HDRP

#4577 Add mesh decal bias docs
  com.unity.render-pipelines.high-definition/Runtime/Material/DecalMeshBiasTypeEnum.cs
Labels: HDRP

#4551 [HDRP][Path Tracing] Updated What's new 12 file
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Path-traced-materials-Feature.png
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: Docs, HDRP, SRP, dxr

#4569 [HDRP] Add missing API docs for new dof / physical camera methods
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/DepthOfField.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
Labels: HDRP

#4568 Update icons for both theme (light/dark)
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Lighting/IESObject.cs.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/IESProfile.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/IESProfile.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/IESProfile2.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/IESProfile2.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/LightAnchor_Icon.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/LightAnchor_Icon.png.meta
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/Flare128.png
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareResource/Flare128.png.meta
Labels: SRP
