Repository Unity-Technologies/Graphics, pull requests merged in 2021-02, with the labels that each got.

#3297 [2021.2] URP: Updating reference images for Linux Vulkan playmode tests
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/132_DetailMapping.png
Labels: testing, universal

#3298 [2021.1 Backport] URP: Updating reference images for Linux Vulkan playmode tests
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/132_DetailMapping.png
Labels: testing, universal

#3310 Added missing character to the layered lit document
  com.unity.render-pipelines.high-definition/Documentation~/Layered-Lit-Shader.md
Labels: Docs, HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x

#3308 Fix needs of exposure for debug display "SSR Transparent"
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x, ready-to-merge

#3315 [HDRP] Fix GUI exception in material UI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/MaterialUIBlockList.cs
Labels: HDRP, needs-backport-2021.1

#3322 [HDRP] Update decal angle fade tooltip
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.Skin.cs
Labels: HDRP

#3317 Mention in TAA doc that a certain use case will lead to problems.
  com.unity.render-pipelines.high-definition/Documentation~/Anti-Aliasing.md
Labels: HDRP

#3335 Hide shadow resolution value
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.cs
Labels: HDRP, needs-backport-2021.1

#3058 [ShaderGraph] [master] Fix for GLES2 ParallaxMapping node
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/UV/ParallaxMappingNode.cs
Labels: Shader Graph

#3312 Bump version to 7.5.4 in ValidationExceptions.json
  com.unity.render-pipelines.universal/ValidationExceptions.json
Labels: universal

#3306 fix issue with shaderPass defines occurring in post graph instead of …
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
Labels: universal

#3318 [10.x.x Backport] Updated lighting settings #3164
  TestProjects/UniversalGraphicsTest/Assets/Scenes/009_AdditionalLightsShadows.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/009_AdditionalLightsShadowsSettings.lighting
  TestProjects/UniversalGraphicsTest/Assets/Scenes/009_AdditionalLightsShadowsSettings.lighting.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSortedSettings.lighting
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSortedSettings.lighting.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/108_MoveCamera.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/111_CameraStackMSAA.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/120_RenderUICustomRendererNoPP.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/121_RenderUICustomRendererNoAA.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/122_RenderUICustomRendererFXAA.unity
Labels: universal

#3300 [VFX] Fix incorrect tier settings in HDRP project
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/GraphicsSettings.asset
Labels: backported-2021.1, needs-backport-2021.1, testing, vfx

#3321 [VFX] Fix incorrect tier settings in HDRP project (to 2021.1)
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/GraphicsSettings.asset
Labels: testing, vfx

#3338 [Yamato] Remove outdated green revisions
  .yamato/_green_job_revisions_trunk.metafile
Labels: yamato

#3337 [8xx] Disable weekly pipeline
  .yamato/_abv.yml
  .yamato/config/__shared.metafile
  .yamato/hdrp-osx-metal.yml
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/shadergraph-osx-metal.yml
  .yamato/universal-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-osx-metal.yml
Labels: yamato

#3286 Change default chunk size used to allocate space in the probe volume SH pool
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
Labels: HDRP, SRP

#3314 Bump timer of 2nd runtime test to make it work on all platforms.
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 1.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 2.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 3.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 4.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedMeshDecal.mat
Labels: HDRP, testing

#3341 Fix light frustum planes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowUtils.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3277 Edited the Point Light shadows description, added the entry about them to What's new.
  com.unity.render-pipelines.universal/Documentation~/Images/lighting/urp-inspector-point-light.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-11/whats-new-point-light-shadows.png
  com.unity.render-pipelines.universal/Documentation~/Shadows-in-URP.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/light-component.md
  com.unity.render-pipelines.universal/Documentation~/urp-shadows.md
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new.md
Labels: universal

#2955 Project skybox without perspective for ortho cameras
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP

#3344 Update test projects to use graphics test framework v7.8.2-preview
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx

#3346 [2021.1] Update test projects to use gfx test framework v7.8.2
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  Tools/.pre-commit-config.yaml
  Tools/readme.md
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx

#3347 [10xx] Update test projects to use gfx test framework v7.8.2
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  Tools/.pre-commit-config.yaml
  Tools/readme.md
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx

#3039 Fix a flickering issue related to moving shadow receivers (case 1302392) and a refactoring to avoid computing the same value for every effect.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerDirectional.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerPunctual.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManagerRT.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MotionVectors/CameraMotionVectors.shader
Labels: HDRP, dxr, needs-backport-2021.1

#3351 Fix non temporal SSAO issues with the rendergraph pass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.RenderGraph.cs
Labels: HDRP

#3231 Only base camera in a camera stack can use deferred.
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: ready-to-merge, universal

#3340 Reset ambient probe upon switching to very different skies
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUpdateContext.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3361 [Yamato] remove force-push from update script
  .yamato/_editor_pinning.yml
  .yamato/script/gfx_sdet_tools_revision.txt
Labels: yamato

#3354 Fix white flash on camera cuts with volumetric
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3323 Fix issues with light layers issues when editing multiple lights
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x

#3329 Hdrp/fix probe blend distance UI
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.Drawers.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3325 [XPipeline]Top level menu common sections and priorities
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
Labels: SRP, ready-to-merge

#3364 [11.x.x backport] Backported pr-3009-doc-2492-how-to-render-objects
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/character-depth-test-greater.gif
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/character-goes-behind-object.gif
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/character-in-hierarchy.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/character-views-side-top-persp.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/character.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-add-rend-obj.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-change-layer-override-material.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-character-only-behind.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-cube-wall.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-depth-greater-see-through.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-depth-greater.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-in-urp-asset-clear-character.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-new-layer-character.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-render-objects-character.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-render-objects-no-write-depth.png
  com.unity.render-pipelines.universal/Documentation~/Images/how-to-render-objects/rendobj-select-urp-renderer.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/renderer-features/how-to-custom-effect-render-objects.md
  com.unity.render-pipelines.universal/Documentation~/urp-renderer-feature.md
Labels: universal

#3365 [Yamato] Update project and playmode XR fixes
  .yamato/config/universal.metafile
  .yamato/config/update_assetstore.metafile
  .yamato/config/update_boatattack.metafile
  .yamato/config/update_template.metafile
  .yamato/script/editor_scripts/update_revisions.py
  .yamato/script/gfx_sdet_tools_revision.txt
  .yamato/universal-osx-metal.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_boatattack-win-dx11.yml
  .yamato/urpupdate_boatattack-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
Labels: yamato

#3366 [10.x.x] Disable obsolete warning in urp gfx project
  TestProjects/HDRP_PerformanceTests/Assets/csc.rsp
  TestProjects/HDRP_Tests/Assets/csc.rsp
  TestProjects/ShaderGraph/Assets/csc.rsp
  TestProjects/ShaderGraphUniversalStereo/Assets/csc.rsp
  TestProjects/UniversalGfxTestStereo/Assets/csc.rsp
  TestProjects/UniversalGraphicsTest/Assets/csc.rsp
Labels: testing, universal

#3370 Fixed debug panel reseting when going through enum items
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3376 [Yamato] Change lostcrypt scene
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/urp_performance_lostcrypt-android-opengles3.yml
  .yamato/urp_performance_lostcrypt-android-vulkan.yml
  .yamato/urp_performance_lostcrypt-iphone-metal.yml
  .yamato/urp_performance_lostcrypt-linux-vulkan.yml
  .yamato/urp_performance_lostcrypt-osx-metal.yml
  .yamato/urp_performance_lostcrypt-win-dx11.yml
  .yamato/urp_performance_lostcrypt-win-dx12.yml
  .yamato/urp_performance_lostcrypt-win-vulkan.yml
Labels: yamato

#2731 Fix Cases (1281920 / 1308957)
  com.unity.render-pipelines.universal/Editor/2D/ShapeEditor/EditorTool/ScriptablePathInspector.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
Labels: universal

#3336 [2021.1] URP disabled test 56
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/056_2D_Lights-Shadows.png
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#3372 Upgraded URP asset
  TestProjects/VisualEffectGraph_URP/Assets/URP.asset
Labels: testing, vfx

#3331 [HDRP]Fixed parameters order on inspectors for Volume Components without custom editor
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
Labels: HDRP, SRP, ready-to-merge

#3350 Fix keywords with fbx importer
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3382 Fix HDRP & VFX Performance tests
  .yamato/config/hdrp_perf.metafile
  .yamato/config/vfx_hdrp.metafile
  .yamato/config/vfx_urp.metafile
  .yamato/hdrp_performancetests-win-dx11.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-dx12.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-iphone-metal.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vfx_urp-osx-openglcore.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#3084 [ShaderGraph] [master] [bugfix 1296591] Fixed tests for input nodes
  TestProjects/ShaderGraph/Assets/CommonAssets/Scripts/SetCameraSize.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Scripts/SetCameraSize.cs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Shaders.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Shaders/CloseToZero.shadersubgraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Shaders/CloseToZero.shadersubgraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Shaders/ProjectionToScreenPos.hlsl
  TestProjects/ShaderGraph/Assets/CommonAssets/Shaders/ProjectionToScreenPos.hlsl.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/Scenes/InputNodes.unity
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Matrix/TransformationMatrixIP.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Matrix/TransformationMatrixIV.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Matrix/TransformationMatrixIVP.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Matrix/TransformationMatrixP.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Matrix/TransformationMatrixVP.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Scene/CameraHeight.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Scene/CameraHeight.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Scene/CameraWidth.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Scene/CameraWidth.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Scene/ScreenHeight.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Scene/ScreenHeight.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Scene/ScreenWidth.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Scene/ScreenWidth.shadergraph
  com.unity.shadergraph/CHANGELOG.md
Labels: Shader Graph, testing

#3384 Updates to 2D graphic feature docs for URP 11
  com.unity.render-pipelines.universal/Documentation~/2DLightProperties.md
  com.unity.render-pipelines.universal/Documentation~/2DRendererData_overview.md
  com.unity.render-pipelines.universal/Documentation~/2d-index.md
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2d-lights-gameobject-menu.png
  com.unity.render-pipelines.universal/Documentation~/Lights-2D-intro.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
Labels: universal

#3392 [10.x.x] Disable warn as error 414
  TestProjects/HDRP_PerformanceTests/Assets/csc.rsp
  TestProjects/HDRP_Tests/Assets/csc.rsp
  TestProjects/ShaderGraph/Assets/csc.rsp
  TestProjects/ShaderGraphUniversalStereo/Assets/csc.rsp
  TestProjects/UniversalGfxTestStereo/Assets/csc.rsp
  TestProjects/UniversalGraphicsTest/Assets/csc.rsp
  TestProjects/VisualEffectGraph_HDRP/Assets/csc.rsp
  TestProjects/VisualEffectGraph_URP/Assets/csc.rsp
Labels: HDRP, Shader Graph, testing, universal, vfx

#3290 [2021.2] [ShaderGraph] [bugfix 1301915] Node Include files are now tracked explicitly BY GUID
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/FileMoveTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/FileMoveTests.cs.meta
  TestProjects/ShaderGraph/MoveTest/Shader Graphs_ShaderGraph.mat
  TestProjects/ShaderGraph/MoveTest/Shader Graphs_ShaderGraph.mat.meta
  TestProjects/ShaderGraph/MoveTest/ShaderGraph.shadergraph
  TestProjects/ShaderGraph/MoveTest/ShaderGraph.shadergraph.meta
  TestProjects/ShaderGraph/MoveTest/SubFolder.meta
  TestProjects/ShaderGraph/MoveTest/SubFolder/Subgraph2.shadersubgraph
  TestProjects/ShaderGraph/MoveTest/SubFolder/Subgraph2.shadersubgraph.meta
  TestProjects/ShaderGraph/MoveTest/SubFolder/includeFile2.hlsl
  TestProjects/ShaderGraph/MoveTest/SubFolder/includeFile2.hlsl.meta
  TestProjects/ShaderGraph/MoveTest/Subgraph.shadersubgraph
  TestProjects/ShaderGraph/MoveTest/Subgraph.shadersubgraph.meta
  TestProjects/ShaderGraph/MoveTest/includeFile.hlsl
  TestProjects/ShaderGraph/MoveTest/includeFile.hlsl.meta
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubTarget.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/UV/ParallaxMappingNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/UV/ParallaxOcclusionMappingNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphAsset.cs
  com.unity.shadergraph/Editor/Data/Util/FunctionRegistry.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Generation/Collections/DefineCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/IncludeCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/KeywordCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/PragmaCollection.cs
  com.unity.shadergraph/Editor/Generation/Collections/RenderStateCollection.cs
  com.unity.shadergraph/Editor/Generation/Descriptors/IncludeDescriptor.cs
  com.unity.shadergraph/Editor/Generation/Enumerations/IncludeLocation.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphAssetPostProcessor.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
  com.unity.shadergraph/Editor/Interface/IShaderString.cs
Labels: HDRP, Shader Graph, needs-backport-2021.1

#3352 Fixed lightmaps not working properly with shader graphs in ray traced reflections (case 1305335).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
Labels: HDRP, dxr, needs-backport-10.x, needs-backport-2021.1

#3044 [ShaderGraph] [master] [bugfix 1296788] Bugfix for view direction node in tangent space being not using the c…
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/VertexAnimation.template.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Templates/BuildSurfaceDescriptionInputs.template.hlsl
  com.unity.shadergraph/Editor/Generation/Templates/BuildVertexDescriptionInputs.template.hlsl
Labels: HDRP, Shader Graph, backported-10.x

#3198 [ShaderGraph] [2021.1/staging] [bugfix 1308156] Backport bugfix for view direction node in tangent space being not using the calculation
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/VertexAnimation.template.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Templates/BuildSurfaceDescriptionInputs.template.hlsl
  com.unity.shadergraph/Editor/Generation/Templates/BuildVertexDescriptionInputs.template.hlsl
Labels: HDRP, Shader Graph

#3313 Merge Hd/bugfix
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 1.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 2.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 3.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 4.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedMeshDecal.mat
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Anti-Aliasing.md
  com.unity.render-pipelines.high-definition/Documentation~/Layered-Lit-Shader.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/MaterialUIBlockList.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, testing

#3345 Fix up inconsistencies in shader frequencies usage.
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
Labels: HDRP

#3348 Fixed the display name of a Volume Parameter when is defined the attribute InspectorName
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.core/Tests/Editor/Volumes/VolumeComponentTests.cs
Labels: HDRP, SRP, URP, needs-backport-10.x, needs-backport-2021.1

#3363 [10.x.x Backport] Bug: 1237756 - Adding a clamp to LinearToLogC & LinearToLogC_Precise
  com.unity.render-pipelines.core/ShaderLibrary/Color.hlsl
Labels: SRP, universal

#3074 Fix additional data editors with non editable objects
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ModelPostProcessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ModelPostProcessor.cs.meta
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ModelPostProcessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ModelPostProcessor.cs.meta
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#3362 Added the default quality settings to the HDRP asset for RTAO, RTR and RTGI (case 1304370).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
Labels: HDRP, needs-backport-2021.1

#3402 URP - Fix truncation issues
  com.unity.render-pipelines.universal/Shaders/2D/Include/LightingUtility.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Labels: universal

#3401 Updated the installation instruction.
  com.unity.render-pipelines.universal/Documentation~/InstallURPIntoAProject.md
Labels: universal

#3226 Cleanup of Render Graph code (WIP2)
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugLightVolumes.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#3293 Cleanup of Render Graph code (WIP3)
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingDeferredLightLoop.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingDeferredLightLoop.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingDeferredLightLoop.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingReflection.cs.meta
Labels: HDRP

#3403 [2021.1] URP - Fix truncation issues
  com.unity.render-pipelines.universal/Shaders/2D/Include/LightingUtility.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Labels: universal

#3311 [XPipeline]Move Decal Gizmo color Register on Preferences/Colors
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderPipelinePreferences.cs
Labels: HDRP, SRP, ready-to-merge

#3355 Hdrp/fix tesselation wireframe
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/PickingSpaceTransforms.hlsl
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#3343 The RTAO's history is now discarded if the occlusion caster was moving (case 1303418).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManagerRT.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingAmbientOcclusion.raytrace
Labels: HDRP, dxr, needs-backport-2021.1

#3258 [XPipeline]Reorder Windows > Rendering and Windows > Analysis
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Documentation~/Look-Dev-Environment-Library.md
  com.unity.render-pipelines.core/Documentation~/Look-Dev.md
  com.unity.render-pipelines.core/Editor/Debugging/DebugWindow.cs
  com.unity.render-pipelines.core/Editor/LookDev/LookDev.cs
  com.unity.render-pipelines.core/Editor/RenderGraph/RenderGraphViewer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Compositor-User-Guide.md
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Config-Package.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Propagating-NaNs.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Debug.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Wizard.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-To-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2019.2-to-2019.3.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositorWindow.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.UIElement.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/PointCacheBakeTool.md
  com.unity.visualeffectgraph/Documentation~/VisualEffectGraphAsset.md
  com.unity.visualeffectgraph/Documentation~/VisualEffectGraphWindow.md
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/Utilities/pCache/BakeTool/PointCacheBakeTool.cs
  com.unity.visualeffectgraph/Editor/Utils/VFXDebugWindow.cs
Labels: HDRP, SRP, URP, universal, vfx

#3274 [XPipeline]Reorder Assets > Create > Shader*
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/CreateDecalShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/CreateEyeShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/CreateFabricShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/CreateHairShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/CreateHDLitShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/CreateStackLitShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/CreateHDUnlitShaderGraph.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/AssetCallbacks/CreateLitShaderGraph.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/AssetCallbacks/CreateSpriteLitShaderGraph.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/AssetCallbacks/CreateSpriteUnlitShaderGraph.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/AssetCallbacks/CreateUnlitShaderGraph.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Create-Shader-Graph.md
  com.unity.shadergraph/Documentation~/First-Shader-Graph.md
  com.unity.shadergraph/Editor/AssetCallbacks/CreateShaderGraph.cs
  com.unity.shadergraph/Editor/AssetCallbacks/CreateShaderSubGraph.cs
  com.unity.shadergraph/Editor/AssetCallbacks/CreateVFXShaderGraph.cs
Labels: HDRP, SRP, Shader Graph, URP, universal

#3294 [XPipeline]Reorder Assets > Create > Rendering
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Documentation~/Look-Dev-Environment-Library.md
  com.unity.render-pipelines.core/Editor/LookDev/EnvironmentLibrary.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Post-Process.md
  com.unity.render-pipelines.high-definition/Documentation~/Diffusion-Profile.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDAssetFactory.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/InstallURPIntoAProject.md
  com.unity.render-pipelines.universal/Documentation~/Setup.md
  com.unity.render-pipelines.universal/Documentation~/configuring-universalrp-for-use.md
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DMenus.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/NewRendererFeatureDropdownItem.cs
  com.unity.render-pipelines.universal/Runtime/Data/PostProcessData.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Data/XRSystemData.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/VisualEffectGraphAsset.md
  com.unity.visualeffectgraph/Editor/VFXAssetEditorUtility.cs
Labels: HDRP, SRP, URP, universal, vfx

#3409 Workaround for material reload bug.
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
Labels: ready-to-merge, universal

#3334 [10.x.x] URP disabled test 56
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/056_2D_Lights_Shader_Graph.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/056_2D_Lights-Shadows.png
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#3411 [VFX] Fix Mouse Event Binder in player
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/ProjectSettings.asset
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Runtime/Utilities/EventBinding/Implementation/VFXMouseEventBinder.cs
  com.unity.visualeffectgraph/Runtime/Utilities/EventBinding/VFXEventBinderBase.cs
Labels: needs-backport-10.x, needs-backport-2021.1, testing, vfx

#3416 [VFX] Fix Mouse Event Binder in player (to 10.x.x)
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/ProjectSettings.asset
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Runtime/Utilities/EventBinding/Implementation/VFXMouseEventBinder.cs
  com.unity.visualeffectgraph/Runtime/Utilities/EventBinding/VFXEventBinderBase.cs
Labels: testing, vfx

#3415 [VFX] Fix Mouse Event Binder in player (to 2021.1)
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/ProjectSettings.asset
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Runtime/Utilities/EventBinding/Implementation/VFXMouseEventBinder.cs
  com.unity.visualeffectgraph/Runtime/Utilities/EventBinding/VFXEventBinderBase.cs
Labels: testing, vfx

#3421 Fix DecodeSH_L2 truncation warning
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
Labels: HDRP, SRP

#3373 Hd/fix input registering domain reload
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Debugging/DebugManager.Actions.cs
  com.unity.render-pipelines.core/Runtime/Inputs/InputRegistering.cs
Labels: SRP, needs-backport-10.x, needs-backport-2021.1

#3307 Fix for Bug 1300753 ShadowCaster2D casting Shadows to incorrect Layers
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/LayerUtility.cs
Labels: 2d, needs-backport-10.x, needs-backport-2021.1, universal

#2817 Fix for bug 1295244
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
Labels: universal

#3432 Add Unity version to what's new 11
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-11.md
Labels: Docs, HDRP, needs-backport-2021.1

#3435 Added what's new version 12
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: Docs, HDRP

#3420 [2021.2] Fixing fallback shader name for ParticlesLit.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
Labels: universal

#3378 [Backport][2021.1] Fixes for blackboard property scrolling and graph sub window resizing
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/PropertyTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/SubWindowTests.cs
  TestProjects/ShaderGraph/Assets/Testing/DependencyGraphs.meta
  TestProjects/ShaderGraph/Assets/Testing/SaveLoadGraphs.meta
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/ShaderInput.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IGraphDataAction.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IGraphDataAction.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Input/PropertyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/KeywordNode.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardProvider.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboard.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboard.cs.meta
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboardSection.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboardSection.cs.meta
  com.unity.shadergraph/Editor/Drawing/Controllers.meta
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs.meta
  com.unity.shadergraph/Editor/Drawing/Controllers/SGController.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/SGController.cs.meta
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/FloatPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Interfaces.meta
  com.unity.shadergraph/Editor/Drawing/Interfaces/IResizable.cs
  com.unity.shadergraph/Editor/Drawing/Interfaces/IResizable.cs.meta
  com.unity.shadergraph/Editor/Drawing/Interfaces/ISGControlledElement.cs
  com.unity.shadergraph/Editor/Drawing/Interfaces/ISGControlledElement.cs.meta
  com.unity.shadergraph/Editor/Drawing/Manipulators/ElementResizer.cs
  com.unity.shadergraph/Editor/Drawing/Manipulators/ElementResizer.cs.meta
  com.unity.shadergraph/Editor/Drawing/ViewModels.meta
  com.unity.shadergraph/Editor/Drawing/ViewModels/BlackboardViewModel.cs
  com.unity.shadergraph/Editor/Drawing/ViewModels/BlackboardViewModel.cs.meta
  com.unity.shadergraph/Editor/Drawing/ViewModels/SGViewModel.cs
  com.unity.shadergraph/Editor/Drawing/ViewModels/SGViewModel.cs.meta
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphSubWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Drawing/Views/PropertyNodeView.cs
  com.unity.shadergraph/Editor/Drawing/Views/ResizableElement.cs
  com.unity.shadergraph/Editor/Drawing/Views/ResizableElement.cs.meta
  com.unity.shadergraph/Editor/Drawing/Views/StickyNote.cs
  com.unity.shadergraph/Editor/Resources/Resizable.uss
  com.unity.shadergraph/Editor/Resources/Styles/Blackboard.uss
  com.unity.shadergraph/Editor/Resources/Styles/InspectorView.uss
  com.unity.shadergraph/Editor/Resources/UXML/GraphInspector.uxml
  com.unity.shadergraph/Editor/Resources/UXML/GraphView/Blackboard.uxml
  com.unity.shadergraph/Editor/Resources/UXML/GraphView/BlackboardSection.uxml
Labels: Shader Graph, testing

#3423 Reset ambient probe upon switching to very different skies bis
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUpdateContext.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3414 [VFX] Add CameraBuffer type for camera buffers
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXComponentTest.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/31_CameraBuffer.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/31_CameraBuffer.unity.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/31_CameraBuffer.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/31_CameraBuffer.vfx.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/31_CameraBufferSettings.lighting
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/31_CameraBufferSettings.lighting.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/31_CameraBuffer.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/31_CameraBuffer.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/31_CameraBuffer.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/31_CameraBuffer.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/31_CameraBuffer.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/31_CameraBuffer.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/31_CameraBuffer.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/31_CameraBuffer.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/31_CameraBuffer.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/31_CameraBuffer.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/31_CameraBuffer.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/31_CameraBuffer.png.meta
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXDefines.hlsl
  com.unity.visualeffectgraph/Documentation~/Operator-LoadCameraBuffer.md
  com.unity.visualeffectgraph/Documentation~/Operator-SampleCameraBuffer.md
  com.unity.visualeffectgraph/Documentation~/TableOfContents.md
  com.unity.visualeffectgraph/Documentation~/Type-CameraBuffer.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXGraphCompiledData.cs
  com.unity.visualeffectgraph/Editor/Compiler/VFXShaderWriter.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionAbstract.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionAbstractValues.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionLoadCameraBuffer.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionLoadCameraBuffer.cs.meta
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionSampleCameraBuffer.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionSampleCameraBuffer.cs.meta
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionTextureValues.cs
  com.unity.visualeffectgraph/Editor/GraphView/Blackboard/VFXBlackboard.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/Controllers/VFXContextController.cs
  com.unity.visualeffectgraph/Editor/Inspector/VFXSlotContainerEditor.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Collision/CollisionDepth.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Position/PositionDepth.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/LoadCameraBuffer.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/LoadCameraBuffer.cs.meta
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/PositionDepth.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/SampleCameraBuffer.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/Implementations/SampleCameraBuffer.cs.meta
  com.unity.visualeffectgraph/Editor/Models/Parameters/VFXInlineOperator.cs
  com.unity.visualeffectgraph/Editor/Models/Slots/Implementations/VFXSlotCameraBuffer.cs
  com.unity.visualeffectgraph/Editor/Models/Slots/Implementations/VFXSlotCameraBuffer.cs.meta
  com.unity.visualeffectgraph/Editor/Models/Slots/VFXSlot.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/Types/VFXTypes.cs
Labels: HDRP, testing, vfx

#3446 [VFX] Fix formatting of Add CameraBuffer type for camera buffers
  com.unity.visualeffectgraph/Documentation~/Operator-LoadCameraBuffer.md
  com.unity.visualeffectgraph/Documentation~/Operator-SampleCameraBuffer.md
  com.unity.visualeffectgraph/Documentation~/Type-CameraBuffer.md
  com.unity.visualeffectgraph/Editor/Models/Slots/Implementations/VFXSlotCameraBuffer.cs
Labels: vfx

#3445 [Yamato] Bump linux editor revision
  .yamato/_latest_editor_versions_trunk.metafile
Labels: yamato

#3144 Shadow Changelog Fix
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: 2d, backported-7.x, universal

#3450 [2021.2] Updating reference image for 005_LitBakedEmission on DX11 playmode
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/005_LitBakedEmission.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/005_LitBakedEmission.png
Labels: testing, universal

#3449 Remove timeline package from Hybrid test projects.
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
Labels: HDRP, testing, universal

#3454 Upgrading Eye SG view direction node
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Shadergraphs/SG_Eye.shadergraph
Labels: HDRP

#3406 Update GTF
  LocalTestProjects/HDRP_DebugCrossFade_Tests/Packages/manifest.json
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx

#3267 Allow material upgrader to run in batch mode (#3176)
  com.unity.render-pipelines.core/Editor/MaterialUpgrader.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: SRP, universal

#3455 [VFX] Fix test issue from #3414
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXComponentTest.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/31_CameraBuffer.png
  com.unity.visualeffectgraph/Editor/Models/Slots/VFXSlot.cs
Labels: testing, vfx

#3410 [ShaderGraph][2021.2]Make sure we are clearing console message appropriately
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph

#3291 Vertex ID, Instance ID, and Stereo Eye Index ShaderGraph nodes for URP and HDRP
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDStructFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Templates/ShaderPass.template
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/InstanceIDNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/InstanceIDNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/VertexIDNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/VertexIDNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/EyeIndexNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/EyeIndexNode.cs.meta
Labels: HDRP, Shader Graph, URP, universal

#1933 Universal/rename standard renderer
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/CameraCallbackTests.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-12-0-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ForwardToUniversalRendererPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ForwardToUniversalRendererPostprocessor.cs.meta
  com.unity.render-pipelines.universal/Editor/Deprecated.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/ScreenSpaceAmbientOcclusionEditor.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs.meta
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRendererData.asset
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRendererData.asset.meta
  com.unity.render-pipelines.universal/Runtime/Deprecated.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/GBufferPass.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs.meta
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs.meta
  com.unity.render-pipelines.universal/Tests/Editor/EditorTests.cs
Labels: ready-to-merge, testing, universal

#3456 Fix Hybrid tests failing due to sky change again (bad master merge)
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3460 Fix nullref in layered lit editor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/LayeredLit/LayeredLitGUI.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3266 Allow material upgrader to run in batch mode (#3176)
  com.unity.render-pipelines.core/Editor/MaterialUpgrader.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: SRP, universal

#3089 Improved shadow fade
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/134_Lighting_Mixed_ShadowMask_Distance.png
  TestProjects/UniversalGraphicsTest/Assets/Scenes/134_Lighting_Mixed_ShadowMask_Distance.unity
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Lighting/Icons/DownSnatch.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/DownSnatch.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/DownSnatchFocused.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/DownSnatchFocused.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/HorizontalGradient.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/HorizontalGradient.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/UpSnatch.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/UpSnatch.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/UpSnatchFocused.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/UpSnatchFocused.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Shadow/ShadowCascadeGUI.cs
  com.unity.render-pipelines.core/Editor/Lighting/Shadow/ShadowCascadeGUI.cs.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/HDShadowSettingsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/ShadowCascadeGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/ShadowCascadeGUI.cs.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/Deprecated.cs
  com.unity.render-pipelines.universal/Editor/EditorUtils.cs
  com.unity.render-pipelines.universal/Editor/Shadow/ShadowCascadeSplitGUI.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/ShadowUtils.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Shadows.hlsl
Labels: HDRP, SRP, universal

#3319 Removing unused temporary depth buffers for Depth of Field and Panini Projection
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: universal

#3458 Allow material upgrader to run in batch mode
  com.unity.render-pipelines.core/Editor/MaterialUpgrader.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: SRP, universal

#3320 Lowering the bokeh depth of field post processing number of full precision floats
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/PostProcessing/BokehDepthOfField.shader
Labels: universal

#3466 Fix DepthOfField CoC debug view
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1, testing, universal, yamato

#3461 Rename cloud layer labels
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Cloud-Layer.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Visual-Environment.md
  com.unity.render-pipelines.high-definition/Editor/Sky/CloudSystem/CloudLayer/CloudLayerEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/VisualEnvironmentEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.cs
Labels: HDRP, needs-backport-2021.1

#3464 [2021.2] URP: Disabling 119-122 on Android GLES and Vulkan because of issue 1313236
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#3469 Remove the timeline package from the DXR tests
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
Labels: HDRP, dxr, testing

#3278 Cleanup of AO code.
  com.unity.render-pipelines.core/Runtime/Textures/RTHandle.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.RenderGraph.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAOSpatialDenoise.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAOTemporalDenoise.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.AmbientOcclusion.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingAmbientOcclusion.cs.meta
Labels: HDRP, SRP

#3393 Cleanup of Render Graph code (WIP4)
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.ScreenSpaceGlobalIllumination.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManagerRT.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingSubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingSubsurfaceScattering.cs.meta
Labels: HDRP

#3473 [2021.1][SG] Fix ShaderGraph EditMode test failures on Linux_Vulkan
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
Labels: Shader Graph

#3405 [ShaderGraph][2021.2] Update rectangle node to better handle detail at a distance
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Rectangle-Node.md
  com.unity.shadergraph/Documentation~/images/RectangleNodeThumb.png
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Shape/RectangleNode.cs
Labels: Shader Graph, testing

#3210 [10.x.x] Fixed terrain and speed tree shaders missing XR macros
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: XR, ready-to-merge, universal

#3477 Bump min editor release number to require the new CameraBuffer VFX type
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#3433 Add postprocessing package publish pipelines
  .yamato/_tmp_postprocessing.yml
  .yamato/config/_packages.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
  com.unity.postprocessing/Tests/Editor/Unity.Postprocessing.Editor.Tests.asmdef
  com.unity.postprocessing/Tests/Runtime/Unity.Postprocessing.Runtime.Tests.asmdef
  com.unity.postprocessing/package.json
Labels: yamato

#3480 Add missing .meta in core package
  com.unity.render-pipelines.core/Editor/Lighting/Shadow.meta
Labels: SRP

#3457 Fixed an issue with first frame of ao causing some kind of ghosting e…
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3459 Update UniversalHybridTest and HDRP_Hybrid to Entities 0.17
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestBuiltinProperties/SubsceneSHAb.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestBuiltinProperties/SubsceneSHAg.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestBuiltinProperties/SubsceneSHAr.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestBuiltinProperties/SubsceneSHBb.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestBuiltinProperties/SubsceneSHBg.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestBuiltinProperties/SubsceneSHBr.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestBuiltinProperties/SubsceneSHC.unity
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
Labels: HDRP, testing, universal

#3474 [ShaderGraph][12] Add the line number to the message shown by a node badge
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#3478 [2021.2] Redoing fixes for URP Split Test Projects
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/005_LitBakedEmission.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/005_LitBakedEmission.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/005_LitBakedEmission.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/144_SSAO_RenderToBackBuffer.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/144_SSAO_RenderToBackBuffer.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/144_SSAO_RenderToBackBuffer.png
Labels: testing, universal

#3426 Bug fix 1312222: Fixed a selection bug with block nodes after changin…
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#3488 Hdrp/fix warning deprecated color node
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Eye.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Shadergraphs/SG_Eye.shadergraph
Labels: HDRP

#3486 Colored Shadows update
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Shadows.md
Labels: HDRP

#3481 Update documentation for Additional Properties
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Post-Process.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/MoreOptions1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/MoreOptions2.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/MoreOptions3.png
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Layers.md
  com.unity.render-pipelines.high-definition/Documentation~/Lighting-Mode-Shadowmask.md
  com.unity.render-pipelines.high-definition/Documentation~/More-Options.md
  com.unity.render-pipelines.high-definition/Documentation~/Planar-Reflection-Probe.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Bloom.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Depth-of-Field.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Motion-Blur.md
  com.unity.render-pipelines.high-definition/Documentation~/Reflection-Probe.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-To-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: HDRP

#3470 [HDRP] Fix mipmap generation internal format after format change
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3424 Custom Pass error message fix
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/DrawRenderersCustomPassDrawer.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3422 Change Wizard so that it gives correct information even if an API is forced
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3491 Missing API docs on APV code.
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeProfile.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/SphericalHarmonics.cs
Labels: HDRP, SRP

#3391 Removal of most old TextureFormat/RenderTextureFormat
  com.unity.render-pipelines.core/Editor/CoreEditorStyles.cs
  com.unity.render-pipelines.core/Editor/LookDev/Environment.cs
  com.unity.render-pipelines.core/Runtime/Textures/TextureXR.cs
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.core/Runtime/Utilities/TextureCurve.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/CubeLutImporter.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionLayerUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Core/TextureCombiner/TextureCombiner.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/LightUnit/LightUnitSlider.cs
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileSettingsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ColorCurvesEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ShadowsMidtonesHighlightsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/TonemappingEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/TrackballUIDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/RayTracing/SolidAngleKernelGenerator.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/HDRISky/HDRISkyEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/EncodeBC6H.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCache.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCacheCubemap.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ReflectionProbeCache.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/GGXConvolution/IBLFilterGGX.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LTCAreaLight/LTCAreaLight.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/SphericalCapPivot/SPTDistribution.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/BlueNoise.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderingContext.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDTextureUtilities.cs
Labels: HDRP, SRP

#3482 [2021.2] Cleaning TestFilters files in the Split Projects.
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#3394 Bugfix 1304162: When importing a shader graph make sure to log any er…
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Util/MessageManager.cs
Labels: Shader Graph

#3490 [Shader Graph][12] Make sure to emit float values for properties as decimal
  com.unity.shadergraph/Editor/Data/Graphs/ColorShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector1ShaderProperty.cs
Labels: Shader Graph

#3493 Merge Hd/bugfix
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1550_3dsMax.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1550_3dsMax.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1550_3dsMax.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1550_3dsMax.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1451_AxF_SVBRDF.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1550_3dsMax.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2106_GI_EmissionSG.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/LayeredLit/LayeredLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/PickingSpaceTransforms.hlsl
  com.unity.render-pipelines.high-definition/Tests/Editor/Volumes.meta
Labels: HDRP, testing

#3465 Vulkan Standalone Player MSAA to Backbuffer Fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#3395 [HDRP][PathTracing] Fixed dimensionality of a couple vectors (from 3 to 2).
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingVolume.hlsl
Labels: HDRP, SRP, dxr, needs-backport-10.x, needs-backport-2021.1

#3068 [7.x.x]Added fix for enquing render passes at runtime
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#3471 Fix multiple any hit occuring on transparent objects (case 1294927).
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/701_DirectionalColorShadow_UniqueAnyHit.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/701_DirectionalColorShadow_UniqueAnyHit.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/701_DirectionalColorShadow_UniqueAnyHit.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/701_DirectionalColorShadow_UniqueAnyHit.unity.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.raytrace
Labels: HDRP, dxr, needs-backport-2021.1, testing

#3330 Improving the screen space global illumination.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.template-hd/Assets/HDRPSampleScene/Settings/HDRPMediumQuality.asset
Labels: HDRP

#3333 Fix uninitialized variable for shadow cascades
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/ShadowUtils.cs
Labels: needs-backport-2021.1, universal

#3418 10.x.x/2d/pixel perfect fixes
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/PixelPerfectBackgroundPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/PixelPerfectBackgroundPass.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/PixelPerfectCamera.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
Labels: 2d, universal

#3506 Backporting #3164
  TestProjects/UniversalGraphicsTest/Assets/Scenes/009_AdditionalLightsShadows.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/009_AdditionalLightsShadowsSettings.lighting
  TestProjects/UniversalGraphicsTest/Assets/Scenes/009_AdditionalLightsShadowsSettings.lighting.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSortedSettings.lighting
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSortedSettings.lighting.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/108_MoveCamera.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/111_CameraStackMSAA.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/120_RenderUICustomRendererNoPP.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/121_RenderUICustomRendererNoAA.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/122_RenderUICustomRendererFXAA.unity
Labels: testing, universal

#3512 Disable server cache for hybrid jobs
  .yamato/all-hdrp_hybrid.yml
  .yamato/all-universal_hybrid.yml
  .yamato/config/hdrp_hybrid.metafile
  .yamato/config/universal_hybrid.metafile
Labels: yamato

#3514 [10x.x] Disable server cache for hybrid jobs
  .yamato/_tmp_postprocessing.yml
  .yamato/all-hdrp_hybrid.yml
  .yamato/all-universal_hybrid.yml
  .yamato/config/hdrp_hybrid.metafile
  .yamato/config/universal_hybrid.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
Labels: yamato

#3513 [2021.1] Disable server cache for hybrid jobs
  .yamato/_tmp_postprocessing.yml
  .yamato/all-hdrp_hybrid.yml
  .yamato/all-universal_hybrid.yml
  .yamato/config/hdrp_hybrid.metafile
  .yamato/config/universal_hybrid.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
Labels: yamato

#3497 Bump test-framework.build to 0.0.1-preview.13
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_PerformanceTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_2D/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Foundation/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Lighting/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_PostPro/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Terrain/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
Labels: HDRP, SRP, Shader Graph, needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x, testing, universal

#3516 [2021.2] Re-enabling tests 119-122
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#3518 [Yamato] Use revision variables in update jobs
  .yamato/_abv.yml
  .yamato/all-universal.yml
  .yamato/all-urpupdate.yml
  .yamato/all-urpupdate_boatattack.yml
  .yamato/all-urpupdate_top_asset_store.yml
  .yamato/config/_abv.metafile
  .yamato/config/universal.metafile
  .yamato/config/update_assetstore.metafile
  .yamato/config/update_boatattack.metafile
  .yamato/config/update_template.metafile
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_boatattack-win-dx11.yml
  .yamato/urpupdate_boatattack-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
Labels: yamato

#3517 Replace Universal project by split projects in trunk-verification
  .yamato/_abv.yml
  .yamato/config/_abv.metafile
Labels: needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x, yamato

#3507 Shadergraph Fix Backport
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalSpriteUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: 2d, universal

#3404 Cleanup of Render Graph code (WIP5)
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#3511 Fix references for DoubleSided GI test
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2109_GI_DoubleSided.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2109_GI_DoubleSided.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2109_GI_DoubleSided.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2109_GI_DoubleSided.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2109_GI_DoubleSided.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2109_GI_DoubleSided.png
Labels: HDRP, testing

#3463 [2021.1] [Backport] Fix property reference names to not use GUIDs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/PropertyTests.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfileShaderProperty.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/BooleanShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/ColorShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/CubemapShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/GradientShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Graphs/Matrix2ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Matrix3ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Matrix4ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/SamplerStateShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/ShaderInput.cs
  com.unity.shadergraph/Editor/Data/Graphs/ShaderKeyword.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DArrayShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture3DShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector1ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector2ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector3ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector4ShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Implementation/NodeUtils.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardProvider.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawerUtils.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/TextPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Drawing/Views/PropertyNodeView.cs
  com.unity.shadergraph/Editor/Generation/Enumerations/KeywordDefinition.cs
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Resources/Styles/PropertyRow.uss
  com.unity.shadergraph/Editor/Serialization/JsonObject.cs
  com.unity.shadergraph/Editor/Serialization/MultiJsonInternal.cs
Labels: HDRP, Shader Graph, testing
