Repository Unity-Technologies/Graphics, pull requests merged in 2021-10, with the labels that each got.

#5859 Add missing DisallowMultipleComponent attribute in AdditionalData components
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDAdditionalReflectionData.cs
Labels: HDRP, needs-backport-2021.2

#5832 Fixes for Hair Reference and Multiple Scattering Approximation
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1401_HairGraph/HairTest_Marschner_Opaque_DualScattering.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1401_HairGraph/Shadergraph/MarschnerDualScattering/SG_Hair_Marschner_DS.shadergraph
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1401_HairGraph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1401_HairGraph.png
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairPropertyBlocks.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/ShaderPassDefine.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDBlockFields.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairReference.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/MultipleScattering/HairMultipleScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/MultipleScattering/HairMultipleScatteringPreIntegration.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/PreIntegratedAzimuthalScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Reference.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Reference/HairReference.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Reference/HairReference.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Reference/HairReferenceCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Reference/HairReferenceCommon.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/PreintegratedAzimuthalScattering.exr
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/PreintegratedAzimuthalScattering.exr.meta
  com.unity.render-pipelines.high-definition/Tests/Editor/FurnaceTests.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/FurnaceTests.cs.meta
  com.unity.render-pipelines.high-definition/Tests/Editor/Utilities/FurnaceTests.compute
  com.unity.render-pipelines.high-definition/Tests/Editor/Utilities/FurnaceTests.compute.meta
Labels: SRP, HDRP, needs-backport-2021.2

#5858 Update PR Labeler with new Yamato URLs
  .github/pr-commenter.yml
Labels: needs-backport-7.x, needs-backport-10.x, sdet, needs-backport-2021.2

#5864 Fixing 16 bit issues with Universal RP and lens flare occlusion
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/Shaders/LensFlareCommon.hlsl
  com.unity.render-pipelines.universal/Shaders/PostProcessing/LensFlareDataDriven.shader
Labels: SRP, universal, needs-backport-2021.2

#5800 [HDRP][Path Tracing] Slight robustness improvement for sample rescaling
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/Fog.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingLight.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingSampling.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingVolume.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
Labels: SRP, HDRP, dxr, needs-backport-2021.2

#5829 Fixed how errors were displayed when variant limits were reached. Fix…
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboard.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
  com.unity.shadergraph/Editor/Drawing/Views/HelpBoxRow.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph

#5874 [ShaderGraph][2021.2][Backport] Handle duplicate names on input and output slots for subgraphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphAsset.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph

#5852 [ShaderGraph][2022.1] Detect duplicate subgraph input/output slots
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphAsset.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph, needs-backport-2021.2

#5869 Urp perf/xrquest fix tests
  .yamato/config/__shared.metafile
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/urp_performance_boatattack-xrquest-opengles3.yml
  .yamato/urp_performance_boatattack-xrquest-vulkan.yml
Labels: sdet

#5868 Hair Documentation Pass
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1401_HairGraph.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/hair-kajiya.PNG
  com.unity.render-pipelines.high-definition/Documentation~/Images/hair-marschner.PNG
  com.unity.render-pipelines.high-definition/Documentation~/Images/hair-multiple-scattering.png
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Documentation~/master-stack-hair.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-graph-blocks/cuticle-angle.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-graph-blocks/smoothness-radial.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-graph-blocks/strand-count-probe.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-graph-blocks/strand-shadow-bias.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/advanced-options/allow-radial-smoothness.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/advanced-options/scattering-mode.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/surface-options/material-type-hair.md
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairPropertyBlocks.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.cs
Labels: HDRP, needs-backport-2021.2

#5836 [HDRP] Remove Fake GTAO bounce on the occlusion when used for direct lighting
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/203_LocalAmbientOcclusionNoisy.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2601_SSAO_HalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2602_SSAO_FullRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2601_SSAO_HalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2602_SSAO_FullRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2601_SSAO_HalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2602_SSAO_FullRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2601_SSAO_HalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2602_SSAO_FullRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2601_SSAO_HalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2602_SSAO_FullRes.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialEvaluation.hlsl
Labels: HDRP, testing, needs-backport-2021.1, needs-backport-2021.2

#5872 [Backport] Lens Flare Fixes
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/Shaders/LensFlareCommon.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/LensFlareDataDriven.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/LensFlareMergeOcclusionDataDriven.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/LensFlareMergeOcclusionDataDriven.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Shaders/PostProcessing/LensFlareDataDriven.shader
Labels: SRP, HDRP, universal

#5305 [URP] Move depth copy pass after the transparents pass
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
Labels: universal

#5881 [HDRP] fix shader warning in Ambient Occlusoin
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialEvaluation.hlsl
Labels: HDRP, backported-2021.2

#5887 Revert to non-C#8 switch case syntax
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.Builtins.cs
Labels: SRP

#5578 Vfx/fix/1359426 shift context on new block
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXContextUI.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXPaste.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
Labels: vfx, needs-backport-2021.2

#5822 Added package samples documentation to URP
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/package-sample-urp-package-samples.md
  com.unity.render-pipelines.universal/Documentation~/package-samples.md
Labels: Docs, universal, needs-backport-2021.2

#5860 Fixed reference images for particles in universal foundation tests
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/Vulkan/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/Vulkan/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/029_Particles_Deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/029_Particles.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/029_Particles_Deferred.png
Labels: testing, universal

#5871 Updated the universal renderer asset documentation
  com.unity.render-pipelines.universal/Documentation~/Images/urp-assets/urp-universal-renderer.png
  com.unity.render-pipelines.universal/Documentation~/urp-universal-renderer.md
Labels: Docs, universal, needs-backport-2021.2

#5889 Fixed initial decal position
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-2021.2

#5892 Fix range compression factor clamping
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5886 Fix issue with refresh on APV baking window when APV is disabled
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5884 Fixed the clouds not taking properly into account the fog when in distant mode and with a close far plane (case 1367993).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
Labels: HDRP, needs-backport-2021.2

#5879 Change warning about APV being off in the HDRP asset to an info box
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
Labels: HDRP, needs-backport-2021.2

#5877 Fixed tooltip not showing on labels in ShaderGraphs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SubTargetPropertyBlock.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5878 Add override checkbox for probe volumes subdiv level overrides
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Skin.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/SerializedProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneData.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5861 corrected links to HDAdditionalLightData and HDLightTypeAndShape
  com.unity.render-pipelines.high-definition/Documentation~/creating-and-editing-lights-at-runtime.md
Labels: HDRP, needs-backport-2021.2

#5722 Minimal enclosing sphere backport to 2021.2
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/SerializedUniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/UniversalRenderPipelineAssetUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/UniversalRenderPipelineAssetUI.Skin.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: universal

#5790 [Universal] Fixed changing camera position in beginCameraRendering won't work for XR
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, universal, needs-backport-2021.2

#5802 [Backport 1315645][2021.1] Fixed 2D lighting in perspective camera mode
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Labels: universal, 2d

#5903 Fix runtime test MSAA8x to MSAA2x on cloud test 4
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/HDRP_Test_Def_Clouds.asset
Labels: HDRP, testing, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5890 Remove accidental duplicate lightcookie field from URP light preset editor
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.PresetInspector.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Skin.cs
Labels: universal

#5778 [URP][case 1348209] fix for gray thumbnails
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#5793 [VFX] Fix usage on texture internally in SG
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_ShaderGraphGenerationFTP/Shaders/SG_Sorting.shadergraph
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_ShaderGraphGenerationFTP/VFX/VFX - SortingTest.vfx
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXSubTarget.cs
Labels: testing, vfx, needs-backport-2021.2

#5904 Depth Texture clearing fix for Overlay Camera
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/145_SoftParticlesStackWithPP.unity
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/145_SoftParticlesStackWithPP_deferred.unity
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: testing, universal

#5831 Sg ortho scene depth
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/SceneDepthNode.cs
Labels: Shader Graph, needs-backport-2021.2

#5927 [HDRP] Fix compile shader issue with redefinition of transform Macro
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/PickingSpaceTransforms.hlsl
Labels: HDRP

#5923 Package Signature on CI
  .yamato/postprocessing_publish.yml
Labels: postprocessing v2, sdet

#5833 Fix preview background color being overwritten
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraphUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/NativeRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: HDRP, universal

#5909 backport fix for thumbnails rendering issue
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#5930 Add templates pipeline to the nightly
  .yamato/_abv.yml
  .yamato/config/abv.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
Labels: sdet

#5034 Urp/fix to add tooltip of ss-shadows
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-cast-shadow-totransparent.png
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-cast-shadow-using-cascades.png
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-cast-shadow-using-screenspace.png
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-framedebugger.png
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-result.png
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-shadow-texture.png
  com.unity.render-pipelines.universal/Documentation~/renderer-feature-screen-space-shadows.md
  com.unity.render-pipelines.universal/Editor/RendererFeatures/ScreenSpaceShadowsEditor.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/ScreenSpaceShadowsEditor.cs.meta
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceShadows.shader
Labels: universal, ready-to-merge

#5527 ShadowCaster now using varyings normalWS for shader graph
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
Labels: universal, needs-backport-2021.2

#5544 [2022.1] Add Shadow and Additional light variant stripping
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/ForwardLights.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.testing.urp/Scripts/Runtime/CustomRenderPipeline/CustomRenderer.cs
Labels: universal

#5928 Updated link to the Enlighten documentation
  com.unity.render-pipelines.universal/Documentation~/lighting.md
Labels: Docs, universal, needs-backport-2021.2

#5854 Fixed typo in API name
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#5520 [ShaderGraph] [2022.1] Improving old node update UX
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/AbstractMaterialGraphAsset.cs
  com.unity.shadergraph/Editor/Data/Graphs/AbstractMaterialGraphAsset.cs.meta
  com.unity.shadergraph/Editor/Data/Graphs/AbstractShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/ShaderInput.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/AbstractMaterialNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/SearchWindowProvider.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/HelpBoxRow.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/Editor/Resources/Styles/HelpBoxRow.uss
Labels: Shader Graph

#5855 [HDRP][Path Tracing] Added selection of light types for Unlit shadow mattes.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingLight.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
Labels: SRP, HDRP, dxr, needs-backport-2021.2

#5908 [Dots Deformations] Fix issue in linear blend skinning vertex shader deformations
  com.unity.shadergraph/Editor/Data/Nodes/MeshDeformation/LinearBlendSkinningNode.cs
Labels: Shader Graph

#5958 Add safety net pipeline
  .yamato/_abv.yml
  .yamato/config/abv.metafile
Labels: sdet, needs-backport-2021.2

#5876 Restore support for legacy _Color in sprite shaders
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Unlit-Default.shader
Labels: universal, 2d, needs-backport-2021.1, needs-backport-2021.2

#5974 Add ppv2 pipeline to nightly
  .yamato/_abv.yml
  .yamato/config/abv.metafile
Labels: sdet

#5943 Universal Staging
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-cast-shadow-totransparent.png
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-cast-shadow-using-cascades.png
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-cast-shadow-using-screenspace.png
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-framedebugger.png
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-result.png
  com.unity.render-pipelines.universal/Documentation~/Images/ssshadows/ssshadows-shadow-texture.png
  com.unity.render-pipelines.universal/Documentation~/lighting.md
  com.unity.render-pipelines.universal/Documentation~/renderer-feature-screen-space-shadows.md
  com.unity.render-pipelines.universal/Editor/RendererFeatures/ScreenSpaceShadowsEditor.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/ScreenSpaceShadowsEditor.cs.meta
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/SerializedUniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/UniversalRenderPipelineAssetUI.Drawers.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/ForwardLights.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceShadows.shader
  com.unity.shadergraph/Editor/Generation/TargetResources/FieldDependencies.cs
  com.unity.testing.urp/Scripts/Runtime/CustomRenderPipeline/CustomRenderer.cs
Labels: SRP, Shader Graph, testing, universal, vfx

#5980 [HDRP] Fix APV issue on Vulkan, PS4 - Change order of fields in the cbuffer.
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs.hlsl
Labels: SRP

#5821 Updating docs for merged PRs
  com.unity.render-pipelines.high-definition/Documentation~/Accumulation.md
Labels: HDRP, needs-backport-2021.2

#5902 [Fogbugz # 1365687] Fixing depth pyramid with multicamera on hardware drs.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingReflection.cs
Labels: HDRP, needs-backport-2021.2

#5986 Update lightmapping reference in nightly
  .yamato/_abv.yml
  .yamato/config/abv.metafile
Labels: sdet

#5894 emitting UI geometry for offscreen cameras too (case 1344969 fix)
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: SRP, HDRP, Shader Graph, testing, universal, vfx, sdet

#5968 [Shader Graph][10.x.x][2020.3] Make sure to emit float values for properties as decimal
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/ColorShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Vector1ShaderProperty.cs
Labels: Shader Graph

#6001 Fixed a regression in the transparent SSR color pyramid usage.
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
Labels: HDRP, needs-backport-2021.1, needs-backport-2021.2

#6022 [2021.2] Fix reference images for Terrain test 071
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/071_Terrain_Holes.png
Labels: testing, universal

#5920 [Universal] [21.2] Fixed changing camera position in beginCameraRendering won't work for XR
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, universal

#6024 Add -cacheServerWaitForUploadCompletion argument
  .yamato/_cache_config.metafile
Labels: needs-backport-7.x, needs-backport-10.x, sdet, needs-backport-2021.2

#6021 Set Linux screen resolution for URP split projects
  .yamato/config/__shared.metafile
  .yamato/config/universal_2d.metafile
  .yamato/config/universal_foundation.metafile
  .yamato/config/universal_lighting.metafile
  .yamato/config/universal_postpro.metafile
  .yamato/config/universal_terrain.metafile
  .yamato/urp_2d-linux-vulkan.yml
  .yamato/urp_foundation-linux-vulkan.yml
  .yamato/urp_lighting-linux-vulkan.yml
  .yamato/urp_postpro-linux-vulkan.yml
  .yamato/urp_terrain-linux-vulkan.yml
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/111_CameraStackMSAA_RenderPass.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/111_CameraStackMSAA_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/206_Motion_Vectors.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/230_Decal_Projector.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/146_MSAA_RenderToBackbuffer.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/230_Decal.png
Labels: testing, universal, sdet

#5982 Add API to completely disable Runtime Debug UI (#5339)
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Debugging/DebugManager.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUpdater.cs
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
Labels: SRP, HDRP

#5789 Fix issue 1354395 where the right eye was shifted in stereo mode
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessLayer.cs
Labels: postprocessing v2

#6038 Hdrp/backport 10.x.x
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1715_DecalEmissive.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1715_DecalEmissive.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1715_DecalEmissive.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1715_DecalEmissive/AltoStratusMap.png
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1715_DecalEmissive/AltoStratusMap.png.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1715_DecalEmissive/DecalEmissive.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1715_DecalEmissive/DecalEmissive.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1225_Lit_SpeedTree8SG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1715_DecalEmissive.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1715_DecalEmissive.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1225_Lit_SpeedTree8SG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1601_TerrainLit.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1603_TerrainLit_BaseMap.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1715_DecalEmissive.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1715_DecalEmissive.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1225_Lit_SpeedTree8SG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1715_DecalEmissive.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1715_DecalEmissive.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1225_Lit_SpeedTree8SG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1715_DecalEmissive.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1715_DecalEmissive.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1225_Lit_SpeedTree8SG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1715_DecalEmissive.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1715_DecalEmissive.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphDefaultResources.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Feature-Comparison.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/SerializedHDReflectionProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/HDShadow.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAOCopyHistory.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDecal.hlsl
Labels: SRP, HDRP, testing

#5715 Vfx/fix/1289612 filter texture by dimension
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Views/Properties/CustomObjectPicker.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/Properties/CustomObjectPicker.cs.meta
  com.unity.visualeffectgraph/Editor/GraphView/Views/Properties/ObjectPropertyRM.cs
  com.unity.visualeffectgraph/Editor/Models/Slots/Implementations/VFXSlotTexture2D.cs
  com.unity.visualeffectgraph/Editor/Models/Slots/Implementations/VFXSlotTexture3D.cs
  com.unity.visualeffectgraph/Editor/Models/Slots/Implementations/VFXSlotTextureCube.cs
  com.unity.visualeffectgraph/Editor/UIResources/uss/ObjectPropertyRM.uss
  com.unity.visualeffectgraph/Editor/UIResources/uss/ObjectPropertyRM.uss.meta
Labels: vfx

#6042 SRP bump to 12.1.1
  .yamato/_copycat.yml
  Tools/CreateLocalPackages.cmd
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.testing.graphics-performance/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, universal, vfx, sdet

#6005 APV: update some tooltips and add a clamp on dilation validity threshold
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingProcessSettingsDrawer.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeProfile.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumesOptions.cs
Labels: SRP, HDRP, needs-backport-2021.2

#6023 [2021.1] Make Android tests use windows images to build android player
  .yamato/config/__shared.metafile
  .yamato/shadergraph-android-opengles3.yml
  .yamato/shadergraph-android-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/urp_2d-android-opengles3.yml
  .yamato/urp_2d-android-vulkan.yml
  .yamato/urp_foundation-android-opengles3.yml
  .yamato/urp_foundation-android-vulkan.yml
  .yamato/urp_lighting-android-opengles3.yml
  .yamato/urp_lighting-android-vulkan.yml
  .yamato/urp_postpro-android-opengles3.yml
  .yamato/urp_postpro-android-vulkan.yml
  .yamato/urp_terrain-android-opengles3.yml
  .yamato/urp_terrain-android-vulkan.yml
Labels: sdet

#6051 Fix emissive color when switching from ldr to HDR
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialExtension.cs
Labels: HDRP

#6060 Update to HDRP Asset analytics
  com.unity.render-pipelines.high-definition/Editor/HDAnalytics.cs
Labels: HDRP, needs-backport-2021.2

#5950 Fix iridescence tooltip
  com.unity.render-pipelines.high-definition/Documentation~/Material-Type.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-graph-blocks/iridescence-thickness.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
Labels: HDRP, Docs, needs-backport-2021.2

#5560 Universal/backport 5461
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceShadows.cs
Labels: universal, backported-2021.2

#5953 [HDRP][Path Tracing] Added proper support for interleaved tiling
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
Labels: SRP, HDRP, dxr, needs-backport-2021.2

#6067 [HDRP][Path Tracing] Camera ray misses now return a null value with Minimum Depth > 1
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
Labels: SRP, HDRP, dxr, needs-backport-2021.2

#6066 [HDRP][Path Tracing] Improved robustness of the stacklit material
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5007_PathTracing_Materials_StackLit.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5007_PathTracing_Materials_StackLit.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5007_PathTracing_Materials_StackLit.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5007_PathTracing_Materials_StackLit.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5007_PathTracing_Materials_StackLit.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5007_PathTracing_Materials_StackLit/5007_PathTracing_Materials_StackLit.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5007_PathTracing_Materials_StackLit/5007_PathTracing_Materials_StackLit.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5007_PathTracing_Materials_StackLit/M_3DSMaxPhysicalMaterial.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5007_PathTracing_Materials_StackLit/M_3DSMaxPhysicalMaterial.mat.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/PhysicalMaterial3DsMax/PhysicalMaterial3DsMax.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMaterial.hlsl
Labels: SRP, HDRP, dxr, needs-backport-2021.2

#6018 [Backport][2021.2] Add Shadow and Additional light variant stripping
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/ForwardLights.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.testing.urp/Scripts/Runtime/CustomRenderPipeline/CustomRenderer.cs
Labels: universal

#6098 [HDRP] Fix new pathtracer stacklit test failing for XR + Update 3DS max test with new reference image
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5007_PathTracing_Materials_StackLit.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1550_3dsMax.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1550_3dsMax.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1550_3dsMax.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1550_3dsMax.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1550_3dsMax.png
Labels: HDRP, testing, backported-2021.2

#6087 [ShaderGraph] [2022.1] [Ruby] Fix for shader warnings
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Templates/BuildVertexDescriptionInputs.template.hlsl
Labels: Shader Graph, backported-10.x, backported-2021.2
