Repository Unity-Technologies/Graphics, pull requests merged in 2021-09, with the labels that each got.

#5339 Add API to completely disable Runtime Debug UI
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Documentation~/whats-new-12.md
  com.unity.render-pipelines.core/Runtime/Debugging/DebugManager.Actions.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugManager.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUpdater.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
Labels: SRP, HDRP

#5393 Fixed a serialization bug wrt PVT property flags when using subgraphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
Labels: Shader Graph

#5413 [10.x.x] Fixed a serialization bug wrt PVT property flags when using subgraphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
Labels: Shader Graph

#5405 Fix black scene view problems with bloom. (#2935)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/PostProcessing/Bloom.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/UberPost.shader
Labels: universal

#5488 Bump to version 13.0.0 (2022.1)
  Tools/CreateLocalPackages.cmd
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/Version.hlsl
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.graphics-performance/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, universal, vfx, sdet

#5498 updated macos reference images for VT tests
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing-NoMV-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing-NoMV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing.png
Labels: HDRP, testing, needs-backport-2021.2

#5489 [HDRP] Fix camera not loosing focus when pressing [esc]
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.template-hd/Assets/SampleSceneAssets/Scripts/LookWithMouse.cs
Labels: HDRP, needs-backport-2021.2

#5485 [HDRP] Improve path traced subsurface scattering for transmissive surfaces
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5479 Remove old Probe Volume fields in global buffer
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
Labels: HDRP

#5497 [HDRP] Fix Camera's Post Anti-Aliasing field's contextual menu 1357283
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Rendering.Drawers.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5469 Merge shape offset parameters
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
Labels: HDRP, needs-backport-2021.2

#5495 [VFX] Update Test Case Filter (to 2021.1)
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset
Labels: testing, vfx

#5496 [VFX] Update Test Case Filter (to 10.x.x)
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/ProjectSettings.asset
  TestProjects/VisualEffectGraph_URP/ProjectSettings/ProjectSettings.asset
Labels: testing, vfx

#5493 [VFX] Update Test Case Filter
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset
Labels: testing, vfx, needs-backport-2021.2

#5462 Bugfix 1357740: Black pixels in Fabric material
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/CottonWool.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Subgraph/ThreadMapDetail.shadersubgraph
Labels: HDRP, needs-backport-2021.2

#5445 [HDRP][DXR] Removed work-around on vertex color in ray tracing, after changes to the engine
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingIntersection.hlsl
Labels: SRP, HDRP, dxr, needs-backport-2021.2

#5423 Fix APV error on first time it is enabled and improve debug probe perf by 2x
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Mesh/Sphere.fbx
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Mesh/Sphere.fbx.meta
Labels: SRP, HDRP, needs-backport-2021.2

#5361 Removed DLSS keyword from settings' search (case 1358409)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/HDGlobalSettingsWindow.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/QualitySettingsPanel.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/RenderPipelineSettingsUtilities.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/RenderPipelineSettingsUtilities.cs.meta
Labels: HDRP, needs-backport-2021.2

#5403 Clarified lists and removed unnecessary bold
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
Labels: HDRP, needs-backport-2021.2

#5501 [VFX] Update Test Case Filter (to 2021.2)
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset
Labels: testing, vfx

#5374 UNI-9114-HDRP-URP
  com.unity.render-pipelines.high-definition/Documentation~/Feature-Comparison.md
  com.unity.render-pipelines.universal/Documentation~/lighting.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-builtin-feature-comparison.md
Labels: HDRP, universal, needs-backport-2021.2

#5130 Handle bindMS in rendergraph fallback textures
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5347 Removed self-references from VFXTransformBinder
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/Implementation/VFXTransformBinder.cs
Labels: vfx, needs-backport-2021.2

#5473 DOC-3319/GSG-543 - Backport of work from previous PR (#3620)
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/View-Direction-Node.md
  com.unity.shadergraph/Documentation~/View-Vector-Node.md
Labels: Shader Graph, Docs, ready-to-merge

#5238 [HDRP] Light anchor fixes
  com.unity.render-pipelines.core/Editor/Lighting/LightAnchorEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightAnchorEditorTool.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightAnchorHandles.cs
  com.unity.render-pipelines.core/Runtime/Lights/LightAnchor.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-2021.2

#5368 Write alpha channel to RT for Unlit particle shader too.
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlit.shader
Labels: universal, needs-backport-2021.2

#5506 Fix a simple shader warning in TAA
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntiAliasing.shader
Labels: HDRP, needs-backport-2021.2

#5510 [GitHub Actions] Update pr-commenter to reference trunk
  .github/pr-commenter.yml
Labels: sdet

#5468 [HDRP] Adding information about SSGI and Emissive incompatibility in documentation and override
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
Labels: HDRP, needs-backport-2021.2

#5433 Updating DLSS documentation
  com.unity.render-pipelines.high-definition/Documentation~/deep-learning-super-sampling-in-hdrp.md
Labels: HDRP, needs-backport-2021.2

#5513 Add some missing metas for reference images
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5015_VolumetricCloudsProbeAndSky.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5015_VolumetricClouds_ProbeGradient.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5015_VolumetricCloudsProbeAndSky.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5015_VolumetricClouds_ProbeGradient.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5015_VolumetricCloudsProbeAndSky.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5015_VolumetricClouds_ProbeGradient.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5015_VolumetricCloudsProbeAndSky.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5015_VolumetricClouds_ProbeGradient.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5015_VolumetricCloudsProbeAndSky.png.meta
Labels: HDRP, testing, needs-backport-2021.2

#5517 Fixed Visual Environment components to use static ambient.
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/107_ReflectionsHybridFullRes/Global Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/108_ReflectionsHybridHalfRes/Global Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/901_Materials_HDRP_Variants/901_Materials_HDRP_Variants.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/902_Materials_SG_Variants/902_Materials_SG_Variants.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/905_Materials_SG_TransparentRTR/TransparentRTR.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/AmbientOcclusionData/LargeAmbientOcclusionDenoised.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/AmbientOcclusionData/LargeAmbientOcclusionNoisy.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/AmbientOcclusionData/LocalAmbeintOcclusionDenoised.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/AmbientOcclusionData/LocalAmbientOcclusionNoisy.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/LightClusterData/Global Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/RayTracedReflectionsPerfFull.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/RayTracedReflectionsPerfHalf.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/RayTracedReflectionsQuality.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/ReflectionsAndGlobalIlluminationCollision.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RaytracingQualityKeyword/Indirect/RayTracedReflectionsQuality_Indirect.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RaytracingQualityKeyword/RecursiveRendering/RayTracedReflectionsQuality_Untouched.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Reflection_LastBounce_Fallback/Reflection_LastBounce_Fallback_Both.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Reflection_LastBounce_Fallback/Reflection_LastBounce_Fallback_None.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Reflection_LastBounce_Fallback/Reflection_LastBounce_Fallback_Probe.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Reflection_LastBounce_Fallback/Reflection_LastBounce_Fallback_Sky.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Reflection_RayMiss_Fallback/Reflection_RayMiss_FallbackBoth.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Reflection_RayMiss_Fallback/Reflection_RayMiss_FallbackNone.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Reflection_RayMiss_Fallback/Reflection_RayMiss_FallbackProbe.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/Reflection_RayMiss_Fallback/Reflection_RayMiss_FallbackSky.asset
Labels: HDRP, testing, needs-backport-2021.2

#5511 New APV workflow backend to remove need for ProbeReferenceVolume component from user side
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeSubdivisionContext.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeAsset.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeBakingProcessSettings.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeBakingProcessSettings.cs.meta
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePerSceneData.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePerSceneData.cs.meta
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneData.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneData.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedHDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
Labels: SRP, HDRP

#5502 Do not open a VFX Graph editor when an asset is assigned in the inspector
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
Labels: vfx, needs-backport-2021.2

#5329 [Fogbugz 1352407] Fixing TAAU and DLSS resolutions on custom post process
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Textures/RTHandle.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5526 [VFX][Test] Add HDRP Decal scene to the tests list
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorBuildSettings.asset
Labels: testing, vfx

#5312 Update algorithm for specular occlusion
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1210_Lit_BentNormal.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1210_Lit_BentNormal.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1210_Lit_BentNormal.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1210_Lit_BentNormal.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1210_Lit_BentNormal.png
  com.unity.render-pipelines.core/ShaderLibrary/CommonLighting.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/TargetData/LightingData.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
Labels: SRP, HDRP, testing, needs-backport-2021.2

#5530 Change something in the TAAU docs
  com.unity.render-pipelines.high-definition/Documentation~/Dynamic-Resolution.md
Labels: HDRP, needs-backport-2021.2

#5402 XPipeline - Sharing styles across Light Inspectors
  com.unity.render-pipelines.core/Editor/CoreEditorStyles.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightUI.Skin.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightUI.Skin.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.PresetInspector.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Skin.cs
Labels: SRP, HDRP, universal, needs-backport-2021.2

#5060 Shader Stripping Improvements
  TestProjects/UniversalGraphicsTest_2D/Assets/UniversalRenderPipelineGlobalSettings.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/UniversalRenderPipelineGlobalSettings.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/UniversalRenderPipelineGlobalSettings.asset
  TestProjects/UniversalGraphicsTest_Lighting/ProjectSettings/EditorBuildSettings.asset
  TestProjects/UniversalGraphicsTest_Terrain/Assets/UniversalRenderPipelineGlobalSettings.asset.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/urp-global-settings.md
  com.unity.render-pipelines.universal/Editor/GlobalSettings/SerializedUniversalRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.Skin.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrass.shader
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceShadows.shader
Labels: universal

#5146 Fixed a case where camere dimension can be zero. [case 1321168] (#4684)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#5454 [VFX] Fix soft particles (to 10.x.x)
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Shaders/Common/VFXCommonCompute.hlsl
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Universal/VFXCommon.hlsl
  com.unity.visualeffectgraph/Shaders/VFXCommonOutput.hlsl
Labels: HDRP, universal, vfx

#5534 Fixed edge bleeding when rendering volumetric clouds.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
Labels: HDRP, needs-backport-2021.2

#5453 [VFX] Fix soft particles (to 2021.1)
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Shaders/Common/VFXCommonCompute.hlsl
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Universal/VFXCommon.hlsl
  com.unity.visualeffectgraph/Shaders/VFXCommonOutput.hlsl
Labels: HDRP, universal, vfx

#5539 [VFX] Filters out Depth Test (to 10.x.x)
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset
Labels: testing, vfx

#5538 [VFX] Filters out Depth Test (to 21.1)
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset
Labels: testing, vfx

#4892 Universal/swapbuffer afterpostprocess
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/Runtime/Renderer2DTests.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/RenderTargetBufferSystem.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal, needs-backport-2021.2

#5524 [VFX] Update test filter (remove deprecated)
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset
  TestProjects/VisualEffectGraph_URP/Assets/TestCaseFilters.asset
Labels: testing, vfx

#5547 SRP Workflows - Menu Manager
  com.unity.render-pipelines.core/Editor/MenuManager.cs
  com.unity.render-pipelines.core/Editor/MenuManager.cs.meta
Labels: SRP

#5531 [1322805] Backport Fix sorting mode/axis during unlit pass
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
Labels: universal, 2d

#5548 [SRP] Remove edit mode test of global settings
  com.unity.render-pipelines.high-definition/Tests/Editor/HDGlobalSettingsTests.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/HDGlobalSettingsTests.cs.meta
  com.unity.render-pipelines.universal/Tests/Editor/UniversalGlobalSettingsTests.cs
  com.unity.render-pipelines.universal/Tests/Editor/UniversalGlobalSettingsTests.cs.meta
Labels: HDRP, universal

#5549 Update sprite sub targets api
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteCustomLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteUnlitSubTarget.cs
Labels: universal, 2d

#5555 SRP Workflows - New Additional Data Interface to be able to identify additional data's in Core Package
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Common/IAdditionalData.cs
  com.unity.render-pipelines.core/Runtime/Common/IAdditionalData.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDAdditionalReflectionData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalLightData.cs
Labels: SRP, HDRP, universal, needs-backport-2021.2

#5504 Vfx/fix/1340654 multiline tooltip output properties
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Blackboard/VFXBlackboardPropertyView.cs
Labels: vfx, needs-backport-2021.2

#5561 SRP Workflows - Fix invalid cast exception
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
Labels: HDRP

#5325 Updated minDistance epsilon URP decal
  com.unity.render-pipelines.universal/Runtime/Decal/Entities/DecalUpdateCachedSystem.cs
Labels: universal, needs-backport-2021.2

#5507 Define ENABLE_HYBRID_RENDERER_V2 by default for Hybrid Renderer 0.14.0 and newer
  com.unity.shadergraph/Editor/Utilities/Unity.ShaderGraph.Utilities.asmdef
Labels: SRP, Shader Graph

#5568 Enable HDRP DXR test 108 for XR
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/108_Emissive_Perf_Exposure_0.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/108_Emissive_Perf_Exposure_12.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/108_Emissive_Perf_Exposure_15.unity
Labels: HDRP, testing, XR, dxr

#5542 [VFX][Fix] Prevent vector truncation warning/error
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/VFXDecal.template
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: needs-backport-2021.2

#5543 [VFX][Fix] Prevent vector truncation error (to 2021.2)
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/VFXDecal.template
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: HDRP, vfx

#5431 XPipeline- Fix contextual menu Remove Component for lights and cameras
  com.unity.render-pipelines.core/Editor/ContextualMenuDispatcher.cs
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.core/Editor/Debugging/DebugState.cs
  com.unity.render-pipelines.core/Editor/Debugging/DebugWindow.cs
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.ContextualMenu.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDProbeEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDReflectionProbeEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.Handlers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.ContextualMenu.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.ContextualMenu.cs.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalAdditionalCameraDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalAdditionalLightDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
Labels: SRP, HDRP, universal, needs-backport-2021.2

#5552 Updated template due to URP RendererData changes
  com.unity.template-universal/Assets/ExampleAssets/Materials/DryWallPainted_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/DryWall_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Liquid_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Metal_Blue_Simple_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/OBS_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Paint1G_WAnim_Material.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Black_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Gray_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Transparent.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Yellow_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Stud_Mat.mat
  com.unity.template-universal/Assets/Settings/UniversalRP-HighQuality.asset
  com.unity.template-universal/Assets/Settings/UniversalRP-LowQuality.asset
  com.unity.template-universal/Assets/Settings/UniversalRP-MediumQuality.asset
  com.unity.template-universal/Assets/Settings/UniversalRenderer.asset
  com.unity.template-universal/Packages/manifest.json
  com.unity.template-universal/ProjectSettings/GraphicsSettings.asset
  com.unity.template-universal/ProjectSettings/QualitySettings.asset
  com.unity.template-universal/ProjectSettings/ShaderGraphSettings.asset
Labels: universal, Template, needs-backport-2021.2

#5536 Improved the performance of the volumetric clouds in non-local mode when large occluders are on screen.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsAccumulation.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsFullResolution.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsLowResolution.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-2021.2

#5417 [HDRP][DXR] Fix for punctual and directional ray traced shadow broken temporal denoiser
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs
Labels: HDRP, dxr, needs-backport-2021.2

#5581 [Yamato] Update mac metal test-results path
  .yamato/config/__shared.metafile
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/postprocessing-osx-metal.yml
  .yamato/script/gfx_sdet_tools_revision.txt
  .yamato/script/log_scripts/log_parser.py
  .yamato/shadergraph-osx-metal.yml
  .yamato/shadergraph_builtin_foundation-osx-metal.yml
  .yamato/shadergraph_builtin_lighting-osx-metal.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/urp_2d-osx-metal.yml
  .yamato/urp_foundation-osx-metal.yml
  .yamato/urp_lighting-osx-metal.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_lostcrypt-osx-metal.yml
  .yamato/urp_postpro-osx-metal.yml
  .yamato/urp_terrain-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vikingvillage_builtin-osx-metal.yml
  .yamato/vikingvillage_urp-osx-metal.yml
Labels: sdet

#5438 Flip Y offset and rotations of flare element for openGL.
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/Vulkan/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/Vulkan/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/200_Lens_Flare_Sanity.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/200_Lens_Flare_Sanity.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/200_Lens_Flare_Sanity.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/200_Lens_Flare_Sanity.unity
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/200_Lens_Flare_Sanity.unity.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/200_Lens_Flare_Sanity/Lens Flare Data Sanity (SRP).asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/200_Lens_Flare_Sanity/Lens Flare Data Sanity (SRP).asset.meta
  TestProjects/UniversalGraphicsTest_PostPro/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: SRP, testing, universal, needs-backport-2021.2

#5540 Update the VFX Control attach component name (in case of rename)
  com.unity.visualeffectgraph/Editor/GraphView/VFXComponentBoard.cs
Labels: vfx, needs-backport-2021.2

#5584 Update the VFX Control attach component name (in case of rename)
  com.unity.visualeffectgraph/Editor/GraphView/VFXComponentBoard.cs
Labels: vfx

#5582 [VFX] Fix compilation error when using cubemap arrays
  com.unity.visualeffectgraph/Shaders/VFXCommon.hlsl
Labels: vfx, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5570 [VFX] 10.7 staging backports
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/LightingData.asset
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/ReflectionProbe-0.exr
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/ReflectionProbe-0.exr.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset.meta
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/ComponentAPI.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXShaderWriter.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionTransform.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Attribute/AttributeFromCurve.cs
  com.unity.visualeffectgraph/Shaders/ParticlePoints/Pass.template
  com.unity.visualeffectgraph/Shaders/VFXCommon.hlsl
  com.unity.visualeffectgraph/Shaders/VFXParticleCommon.template
Labels: testing, vfx

#5599 GSG-546 & GSG-547 Updates (branch renamed from PR #5494)
  com.unity.shadergraph/Documentation~/index.md
  com.unity.shadergraph/README.md
Labels: needs-backport-7.x, Shader Graph, Docs, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5598 [VFX][10.x.x] mobile fixes
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Shaders/ParticleHexahedron/Pass.template
  com.unity.visualeffectgraph/Shaders/ParticlePlanarPrimitives/PassGS.template
  com.unity.visualeffectgraph/Shaders/ParticlePlanarPrimitives/PassVS.template
  com.unity.visualeffectgraph/Shaders/VFXCommon.hlsl
Labels: vfx

#5372 [10.x.x][VFX] Importer and compilation various fixes
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/Controller/VFXViewControllerUndo.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/VFXOperator.cs
  com.unity.visualeffectgraph/Editor/Models/Parameters/VFXDynamicBuiltInParameter.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: vfx

#5371 [VFX] Importer and compilation various fixes
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/Controller/VFXViewControllerUndo.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/VFXOperator.cs
  com.unity.visualeffectgraph/Editor/Models/Parameters/VFXDynamicBuiltInParameter.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: vfx, needs-backport-2021.1, needs-backport-2021.2

#5575 [ShaderGraph][2020.3] Throttling animated preview framerate
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Drawing/PreviewRate.cs
  com.unity.shadergraph/Editor/Drawing/PreviewRate.cs.meta
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#3285 Updated 145 soft particles to deterministic version
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/145_SoftParticlesStackWithPP.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/145_SoftParticlesStackWithPP.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/145_SoftParticlesStackWithPP.unity
Labels: testing, universal

#5545 2021.2/universal/swapbuffer afterpostprocess
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/Runtime/Renderer2DTests.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/RenderTargetBufferSystem.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: testing, universal

#5559 Universal/doc 3545 backport 5322
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/BakedLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/Lit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesExtra.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesSimpleLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesUnlit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/SimpleLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/Unlit.png
  com.unity.render-pipelines.universal/Documentation~/baked-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-unlit-shader.md
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/unlit-shader.md
Labels: universal, backported-2021.1

#5546 Fixed regression in the ambient probe intensity for volumetric clouds.
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricCloudsShadowsBake.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5015_VolumetricCloudsProbeAndSky.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5015_VolumetricClouds_ProbeGradient.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricCloudsShadowsBake.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5015_VolumetricCloudsProbeAndSky.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5015_VolumetricClouds_ProbeGradient.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricCloudsShadowsBake.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5015_VolumetricCloudsProbeAndSky.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5015_VolumetricClouds_ProbeGradient.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricCloudsShadowsBake.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5015_VolumetricCloudsProbeAndSky.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5015_VolumetricClouds_ProbeGradient.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricCloudsShadowsBake.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5015_VolumetricCloudsProbeAndSky.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5015_VolumetricClouds_ProbeGradient.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/BilateralUpsample.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsShadows.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/VolumetricClouds/CloudLutRainAO.png
Labels: HDRP, needs-backport-2021.2

#5475 [VFX] Fix compilation error when shaderGraph is modified
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property.vfx.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property_A.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property_A.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property_B.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property_B.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXCodeGenerator.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: testing, vfx, needs-backport-2021.2

#5416 [VFX] Fix new SG integration & Sample Texture/Buffer
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/Shaders/SG_ReadTexture.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/Shaders/SG_ReadTexture.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/VFX/VFX - ReadTexture.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/VFX/VFX - ReadTexture.vfx.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/35_ShaderGraphGenerationFTP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/35_ShaderGraphGenerationFTP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/35_ShaderGraphGenerationFTP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/35_ShaderGraphGenerationFTP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/35_ShaderGraphGenerationFTP.png
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/VFXHDRPSubTarget.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXCodeGenerator.cs
  com.unity.visualeffectgraph/Editor/Compiler/VFXShaderWriter.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionAbstract.cs
Labels: HDRP, testing, vfx, needs-backport-2021.2

#5557 Vfx/fix/1363362 unexpected files submitted
  .gitignore
  com.unity.template-hd/Assets/SampleSceneAssets/TutorialInfo/Icons/HDIcon.png
  com.unity.template-hd/Assets/SampleSceneAssets/TutorialInfo/Icons/Help_Icon.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-0_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-1_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-2_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-3_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-4_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-5_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-8_comp_dir.png
  com.unity.template-hd/InitCodeMarker
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-dark.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-dark.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-dark@2x.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-dark@2x.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-light.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-light.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-light@2x.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-light@2x.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-dark.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-dark.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-dark@2x.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-dark@2x.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-light.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-light.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-light@2x.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-light@2x.png.meta
Labels: vfx, needs-backport-2021.2

#5589 Specify global settings in APV asset warning
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
Labels: HDRP, needs-backport-2021.2

#5609 [2021.2] Backport of PR #5599 - GSG-546 & GSG-547 Updates to README/Index.md
  com.unity.shadergraph/Documentation~/index.md
  com.unity.shadergraph/README.md
Labels: Shader Graph, Docs, backported-2021.1

#5612 [10.x.x] GSG-546 - Updates to README (Backport of commit from #5610)
  com.unity.shadergraph/README.md
Labels: Shader Graph, Docs

#5610 [2021.1] GSG-546 & GSG-547 - Updates to README/Index.md
  com.unity.shadergraph/Documentation~/index.md
  com.unity.shadergraph/README.md
Labels: needs-backport-7.x, Shader Graph, Docs, backported-10.x

#5613 [7.x.x] Backport of #5612 (GSG-546 - Updates to README)
  com.unity.shadergraph/README.md
Labels: Shader Graph, Docs

#5564 Prevent error when saving a scene with no profile being set anywhere
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneData.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5558 [HDRP] APV Baking and Settings window
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.Dilate.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingProcessSettingsDrawer.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingProcessSettingsDrawer.cs.meta
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs.meta
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeBakingProcessSettings.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
Labels: SRP, HDRP

#5529 New UI for subdivision controller on probe volume
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeSubdivisionContext.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Skin.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/SerializedProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeProfile.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneData.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5562 VFX now properly receive APV
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Hexahedron/PassGBuffer.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Mesh/PassForward.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Mesh/PassGBuffer.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/PlanarPrimitive/PassForward.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/PlanarPrimitive/PassGBuffer.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Sphere/PassGBuffer.template
Labels: HDRP, needs-backport-2021.2

#5595 Add warning in probe volumes for when no subdivision information is retrievable from a profile
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5474 Surface ReflectionTypeLoadExceptions in HDUtils.GetRenderPipelineMaterialList()
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP, needs-backport-2021.2

#5615 Merge Hd/bugfix
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5007_PathTracing_Materials_SG_Lit.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5009_PathTracing_FabricMaterial.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2314_Shadow_CustonAngle.png
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Rendering.Drawers.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDepthOnly.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
Labels: SRP, HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5573 [APV] Handle the case in which the minimum brick size required from probe volume is bigger than the actual probe volume
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneData.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5622 Force allocate texture if no fallback is available (#5130)
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#5623 Force allocate texture if no fallback is available (#5130)
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#5514 Do not recompile the VFX when property min/max value change
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Controls/VFXSliderField.cs
  com.unity.visualeffectgraph/Editor/Models/Parameters/VFXParameter.cs
Labels: vfx, needs-backport-2021.2

#5518 Vfx/fix/1327623 vfx recompiles for no change
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Models/VFXModel.cs
Labels: vfx, needs-backport-2021.2

#5492 Fixed partly qualified UITK controls types in com.unity.shadergraph IdentifierField
  com.unity.shadergraph/Editor/Drawing/Views/IdentifierField.cs
Labels: Shader Graph

#5592 [2021.2 Backport] Fix for Volume Updates
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#5593 [2021.1 Backport] Control Volume Framework updates + Fix for Volume Updates
  com.unity.render-pipelines.core/Runtime/Volume/VolumeManager.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: SRP, universal

#5594 [2020.3 Backport] Control Volume Framework updates + Fix for Volume Updates
  com.unity.render-pipelines.core/Runtime/Volume/VolumeManager.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: SRP, universal

#5638 [HDRP][DXR] Fix wrong keyword for HDTemporalFilter
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs
Labels: HDRP, needs-backport-2021.2

#5587 Vfx/fix/1291991 colorpicker keeps updating 2
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Controls/VFXColorField.cs
Labels: vfx, needs-backport-2021.2

#5314 Removed experimental tile deferred code.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/DeferredShaderData.cs
  com.unity.render-pipelines.universal/Runtime/DeferredShaderData.cs.meta
  com.unity.render-pipelines.universal/Runtime/DeferredTiler.cs
  com.unity.render-pipelines.universal/Runtime/DeferredTiler.cs.meta
  com.unity.render-pipelines.universal/Runtime/Passes/TileDepthRangePass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/TileDepthRangePass.cs.meta
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
  com.unity.render-pipelines.universal/Shaders/Utils/Deferred.hlsl
Labels: universal

#5614 [ShaderGraph][2022.1] Fix direction transform from view to world space
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
Labels: Shader Graph, testing

#5631 10.7 release: Updated the requirements page and the upgrade guide.
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-10-7-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: universal

#5639 Fixed double camera overlay
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
Labels: HDRP, needs-backport-2021.2

#5525 [URP][UI-UX] Removed the cookie foldout and moved into emission
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.PresetInspector.cs
Labels: universal

#5611 Prevent errors when loading incompatible assets in APV
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeAsset.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePerSceneData.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5641 [HDRP] APV fix profile asset not deleted when deleting a baking set
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
Labels: SRP, needs-backport-2021.2

#5459 [HDRP][Docs] Add high quality antialiasing example using the accumulation api
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Accumulation.md
Labels: HDRP, needs-backport-2021.2

#5632 Fix APV debug using profile and not baked data + small probe volume init
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5644 [ShaderGraph][2021.2][Backport] Fix for 1365186 - correct direction transform from view to world space
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
Labels: Shader Graph

#5627 Update the templates pipelines
  .yamato/_templates.yml
  .yamato/config/_templates.metafile
  .yamato/config/abv.metafile
  .yamato/lightmapper-osx-metal.yml
  .yamato/script/gfx_sdet_tools_revision.txt
  com.unity.template-hd/Packages/com.unity.template.hd/ValidationExceptions.json
  com.unity.template-hd/Packages/com.unity.template.hd/ValidationExceptions.json.meta
  com.unity.template-universal/Packages/com.unity.template.universal/ValidationExceptions.json
  com.unity.template-universal/Packages/com.unity.template.universal/ValidationExceptions.json.meta
  com.unity.template-universal/Packages/manifest.json
Labels: backported-2021.1, sdet, needs-backport-2021.2

#5628 [2021.2] Update the templates pipelines
  .yamato/_abv.yml
  .yamato/_templates.yml
  .yamato/config/_templates.metafile
  .yamato/config/abv.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
  com.unity.template-hd/Packages/com.unity.template.hd/ValidationExceptions.json
  com.unity.template-hd/Packages/com.unity.template.hd/ValidationExceptions.json.meta
  com.unity.template-universal/Packages/com.unity.template.universal/ValidationExceptions.json
  com.unity.template-universal/Packages/com.unity.template.universal/ValidationExceptions.json.meta
Labels: sdet

#5653 Fix draft reminder
  .github/workflows/draft.yml
Labels: needs-backport-7.x, needs-backport-10.x, needs-backport-2021.1, sdet, needs-backport-2021.2

#5633 [HDRP] Probably fix the refresh bug after adding a new baking set in the APV window
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5642 Disable shadow filtering : very high quality and clean distortion code
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitBuiltinData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLitData.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5651 Add json serialize as dependency of core package
  com.unity.render-pipelines.core/package.json
Labels: SRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-2021.2

#5645 [ShaderGraph][2020.3][Backport] Fix 1365187 - correct direction transform from view to world space
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
Labels: Shader Graph

#5630 Added multi-edit support to urp asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
Labels: needs-backport-7.x, universal, needs-backport-10.x, needs-backport-2021.2

#5621 Fixed the volumetric clouds cloud map not being centered over the world origin (case 1364465).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
Labels: HDRP, needs-backport-2021.2

#5606 [VFX] Fix compilation error when shaderGraph is modified (to 21.2)
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property.vfx.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property_A.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property_A.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property_B.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Modify_SG_Property_B.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXCodeGenerator.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: testing, vfx

#5605 [VFX] Fix new SG integration & Sample Texture/Buffer (to 21.2)
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/Shaders/SG_ReadTexture.shadergraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/Shaders/SG_ReadTexture.shadergraph.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/VFX/VFX - ReadTexture.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/35_ShaderGraphGenerationFTP/VFX/VFX - ReadTexture.vfx.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/35_ShaderGraphGenerationFTP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/35_ShaderGraphGenerationFTP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/35_ShaderGraphGenerationFTP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/35_ShaderGraphGenerationFTP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/35_ShaderGraphGenerationFTP.png
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/VFXHDRPSubTarget.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXCodeGenerator.cs
  com.unity.visualeffectgraph/Editor/Compiler/VFXShaderWriter.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionAbstract.cs
Labels: HDRP, testing, vfx

#5590 Vfx/fix/2021.2/1291991 colorpicker keeps updating 2
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Controls/VFXColorField.cs
Labels: vfx

#5602 [10.x.x] Reverting Swizzle Node documentation to pre 12.x stream
  com.unity.shadergraph/Documentation~/Swizzle-Node.md
Labels: Shader Graph, Docs

#5603 [2021.1] Reverting Swizzle Node documentation to pre 12.x stream
  com.unity.shadergraph/Documentation~/Swizzle-Node.md
Labels: Shader Graph, Docs

#5670 [10.x.x Backport] Fixing 119_CameraToRTWithViewportRect scene for consoles
  TestProjects/UniversalGraphicsTest/Assets/Scenes/119_CameraToRTWithViewportRect.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/119_CameraToRTWithViewportRect/MapRenderTexture.renderTexture
Labels: testing, universal

#5635 [10.x] Define ENABLE_HYBRID_RENDERER_V2 by default for Hybrid Renderer 0.14.0 and newer [V2]
  com.unity.render-pipelines.core/Runtime/Unity.RenderPipelines.Core.Runtime.asmdef
  com.unity.render-pipelines.high-definition/Editor/Unity.RenderPipelines.HighDefinition.Editor.asmdef
  com.unity.shadergraph/Editor/Unity.ShaderGraph.Editor.asmdef
Labels: SRP, HDRP, Shader Graph, needs-backport-2021.1, needs-backport-2021.2

#5659 [ShaderGraph] [2022.1] [Ruby] Delay preview rendering until async pre-compilation is complete
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
Labels: Shader Graph, needs-backport-2021.2

#5672 [ShaderGraph][2022.1] Fix 1356725 - incorrect appearance of warning message in Node Settings
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/SampleVirtualTextureNodePropertyDrawer.cs
Labels: Shader Graph

#5400 [2021.1 Backport] Fix for normal depth rendering (Cases 1259874 and 1199213)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: universal, 2d

#5523 Fix how EventSystem component gets added to scene by DebugUpdater
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Debugging/DebugManager.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUpdater.cs
Labels: SRP, needs-backport-2021.2

#5597 Vfx/fix/1315493 disable paste if not allowed
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXPaste.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
Labels: vfx, needs-backport-2021.2

#4585 [Fix] Ensuring SRP asset in Quality overrides Graphics' one
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/AutodeskInteractiveMaterialImport.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightExplorerExtension.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
  com.unity.render-pipelines.high-definition/Samples~/ProceduralSky/Runtime/ProceduralSky/ProceduralSkyRenderer.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/UniversalAnalytics.cs
Labels: HDRP, universal, needs-backport-2021.2

#5636 Fixed the emissive being overriden by ray traced sub-surface scattering (case 1364456).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Subsurface-Scattering.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRayTracingSubSurface.hlsl
Labels: HDRP, dxr

#5666 [Backport 7.x.x] UniversalRenderPipelineAsset is not able to be used for multi-edit.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
Labels: universal

#5432 [URP] Lit Shader Detail Fixes
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/LitDetailGUI.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
Labels: universal

#5680 [Yamato] Temporarily disable cache instability detection
  .yamato/script/log_scripts/patterns/unity_log.py
Labels: sdet

#5681 [Yamato][2021.2] Backport temporarily disable cache instability detection
  .yamato/script/log_scripts/patterns/unity_log.py
Labels: sdet

#5563 [2021.2] Shader Stripping Improvements
  TestProjects/UniversalGraphicsTest_2D/Assets/UniversalRenderPipelineGlobalSettings.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/UniversalRenderPipelineGlobalSettings.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/UniversalRenderPipelineGlobalSettings.asset
  TestProjects/UniversalGraphicsTest_Lighting/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/urp-global-settings.md
  com.unity.render-pipelines.universal/Editor/GlobalSettings/SerializedUniversalRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.Skin.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrass.shader
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceShadows.shader
Labels: testing, universal

#5664 [Backport 2021.2] Added multiedit to UniversalRenderPipelineAsset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
Labels: universal

#5625 [VFX][Fix] Update test and reference images for HDRP Decals
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/37_DecalsHDRP/37_DecalsHDRP.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/37_DecalsHDRP.png
Labels: testing, vfx

#5626 [VFX][Fix][2021.2] Update test and reference images for HDRP Decals
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/37_DecalsHDRP/37_DecalsHDRP.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/37_DecalsHDRP.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/37_DecalsHDRP.png
Labels: testing, vfx

#5643 [Fogbugz # 1355839] Making Flare occlusion radius consistent for directional lights regardless of far plane
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareComponentSRP.cs
Labels: SRP, needs-backport-2021.2

#5656 [HDRP] APV Fix importing out-of-process asset creation error
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5661 [APV] Make sure occluders added for the virtual offset are properly cleaned up
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.VirtualOffset.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5654 [Fogbugz # 1363291] Fix lens flare position for celestials
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
Labels: SRP, needs-backport-2021.2
