Repository Unity-Technologies/Graphics, pull requests merged in 2021-11, with the labels that each got.

#6177 Update XRQuest jobs with new Android job setup
  .yamato/config/__shared.metafile
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/urp_performance_boatattack-xrquest-opengles3.yml
  .yamato/urp_performance_boatattack-xrquest-vulkan.yml
Labels: sdet

#6028 add test for case 1364204
  TestProjects/Lightmapping/Assets/Tests/Editor/Tests_Unit_Editmode/Editmode_BakeRestart_Tests.cs
Labels: testing

#6181 Disable nightlies
  .yamato/_abv.yml
  .yamato/_projectcontext.yml
  .yamato/config/abv.metafile
Labels: sdet

#6137 Adding FadeDitherNode
  com.unity.shadergraph/Documentation~/Fade-Transition-Node.md
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Filter/FadeTransitionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Filter/FadeTransitionNode.cs.meta
Labels: Shader Graph

#5758 [VFX] Fix Simulate (& Safety Net)
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorBuildSettings.asset
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/ProjectSettings/EditorBuildSettings.asset
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_A.cs
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_A.cs.meta
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_B.cs
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_B.cs.meta
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.unity
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.unity.meta
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.vfx
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.vfx.meta
Labels: testing, vfx

#6170 [Backport][1363763] Fix for pixel perfect cam post processing
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: universal, 2d

#6189 Bump to 12.1.2
  .yamato/_copycat.yml
  Tools/CreateLocalPackages.cmd
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.testing.graphics-performance/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, universal, vfx, sdet

#6088 Add 2d menu item for creating URP Pixel Perfect Camera
  com.unity.render-pipelines.universal/Editor/2D/GameObjectCreation.cs
  com.unity.render-pipelines.universal/Editor/2D/GameObjectCreation.cs.meta
Labels: universal, 2d

#5922 Fix auto exposure flickering on the right eye
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessLayer.cs
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessRenderContext.cs
Labels: postprocessing v2

#6187 Adding support for transforms for BRG
  com.unity.render-pipelines.core/Runtime/BatchRenderer/AABB.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/BRGTransformUpdater.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/BRGTransformUpdater.cs.meta
  com.unity.render-pipelines.core/Runtime/BatchRenderer/BoundsToAABB.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Lightmaps.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/RenderBRG.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Resources.meta
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Resources/BRGTransformUpdateCS.compute
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Resources/BRGTransformUpdateCS.compute.meta
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Resources/BRGTransformUpdaterDefs.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Resources/BRGTransformUpdaterDefs.cs.hlsl
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Resources/BRGTransformUpdaterDefs.cs.hlsl.meta
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Resources/BRGTransformUpdaterDefs.cs.meta
  com.unity.render-pipelines.core/Runtime/BatchRenderer/ToggleBRG.cs
Labels: SRP

#6136 [Fogbugz # 1372245] Hdrp/drs fixing pyramid blur
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
Labels: HDRP, needs-backport-2021.2

#6152 Change default behaviour of newly added Light2D's TargetSortingLayer to Everything
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/SortingLayerDropDown.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DManager.cs
Labels: universal, 2d

#6195 Update DefaultHDMirrorMaterial.mat
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Material/DefaultHDMirrorMaterial.mat
Labels: HDRP

#6121 Fix mixed cached area light shadows
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDDynamicShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
Labels: HDRP

#6157 Improved Area Light Support for Hair
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1401_HairGraph_Area_Light.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1401_HairGraph_Area_Light.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1401_HairGraph_Area_Light.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1401_HairGraph_Area_Light.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1401_HairGraph_Area_Light.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1401_HairGraph_Area_Light.png
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/Hair.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/MultipleScattering/HairMultipleScattering.hlsl
Labels: HDRP, testing, needs-backport-2021.2

#6191 Update HDR in-code docs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Tonemapping.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP

#6197 [HDRP][Path Tracing] Exposed 3 methods related to path tracing and accumulation.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/SubFrameManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: SRP, HDRP, dxr

#6185 [HDRP] Fix infitnite material import loop materials
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
Labels: HDRP, needs-backport-2021.2

#6162 fixed typo: users -> uses
  com.unity.render-pipelines.high-definition/Documentation~/Override-Diffusion-Profile.md
Labels: HDRP, needs-backport-2021.2

#6183 Don't call Blur shadows if there is nothing to blur (saves memory)
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
Labels: HDRP, needs-backport-2021.2

#6070 Common FSR Utilities in SRP Core & Integration into HDRP
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/PostProcessing/Shaders/FSRCommon.hlsl
  com.unity.render-pipelines.core/Runtime/PostProcessing/Shaders/FSRCommon.hlsl.meta
  com.unity.render-pipelines.core/Runtime/Utilities/FSRUtils.cs
  com.unity.render-pipelines.core/Runtime/Utilities/FSRUtils.cs.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/EdgeAdaptiveSpatialUpsampling.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/RobustContrastAdaptiveSharpen.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: SRP, HDRP

#6146 2021.2/vfx/vfx systemborder dpi fix
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Utils/VFXSystemBorder.cs
Labels: vfx

#6202 Fixed an exception happening when the user doesn't set one of the renderers of a given LOD (case 1372965).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, dxr

#6144 [HDRP][DXR] Path traced objects that are excluded from the visibility mask should not cast shadows
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5013_PathTracing_ShadowFlags.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5013_PathTracing_ShadowFlags.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5013_PathTracing_ShadowFlags.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5013_PathTracing_ShadowFlags.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5013_PathTracing_ShadowFlags.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5013_PathTracing_ShadowFlags/PathTracer Profile 1.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5013_PathTracing_ShadowFlags/PathTracer Profile 1.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.HDRTASManager.cs
Labels: HDRP

#6118 simplify unity-config invocations
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/config/vv_perf_builtin.metafile
  .yamato/config/vv_perf_urp.metafile
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-linux-vulkan.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/urp_performance_boatattack-win-dx12.yml
  .yamato/urp_performance_boatattack-win-vulkan.yml
  .yamato/urp_performance_boatattack-xrquest-opengles3.yml
  .yamato/urp_performance_boatattack-xrquest-vulkan.yml
  .yamato/urp_performance_lostcrypt-android-opengles3.yml
  .yamato/urp_performance_lostcrypt-android-vulkan.yml
  .yamato/urp_performance_lostcrypt-iphone-metal.yml
  .yamato/urp_performance_lostcrypt-linux-vulkan.yml
  .yamato/urp_performance_lostcrypt-osx-metal.yml
  .yamato/urp_performance_lostcrypt-win-dx11.yml
  .yamato/urp_performance_lostcrypt-win-dx12.yml
  .yamato/urp_performance_lostcrypt-win-vulkan.yml
  .yamato/vikingvillage_builtin-android-opengles3.yml
  .yamato/vikingvillage_builtin-android-vulkan.yml
  .yamato/vikingvillage_builtin-iphone-metal.yml
  .yamato/vikingvillage_builtin-linux-vulkan.yml
  .yamato/vikingvillage_builtin-osx-metal.yml
  .yamato/vikingvillage_builtin-win-dx11.yml
  .yamato/vikingvillage_builtin-win-dx12.yml
  .yamato/vikingvillage_builtin-win-vulkan.yml
  .yamato/vikingvillage_urp-android-opengles3.yml
  .yamato/vikingvillage_urp-android-vulkan.yml
  .yamato/vikingvillage_urp-iphone-metal.yml
  .yamato/vikingvillage_urp-linux-vulkan.yml
  .yamato/vikingvillage_urp-osx-metal.yml
  .yamato/vikingvillage_urp-win-dx11.yml
  .yamato/vikingvillage_urp-win-dx12.yml
  .yamato/vikingvillage_urp-win-vulkan.yml
Labels: sdet

#6160 Fixed upgrade warnings in SpeedTree8 subgraphs.
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/ShaderGraphLibrary/Nature/SpeedTree8Billboard.shadersubgraph
  com.unity.shadergraph/ShaderGraphLibrary/Nature/SpeedTree8ColorAlpha.shadersubgraph
  com.unity.shadergraph/ShaderGraphLibrary/Nature/SpeedTree8InterpolatedNormals.shadersubgraph
Labels: Shader Graph

#6198 RenderBRG - first implementation of deferred materials.
  com.unity.render-pipelines.core/Runtime/BatchRenderer/RenderBRG.cs
  com.unity.render-pipelines.core/Runtime/Common/BlockAllocator.cs
  com.unity.render-pipelines.core/Runtime/Common/BlockAllocator.cs.meta
  com.unity.render-pipelines.core/Runtime/GeometryPool.meta
  com.unity.render-pipelines.core/Runtime/GeometryPool/GeometryPool.cs
  com.unity.render-pipelines.core/Runtime/GeometryPool/GeometryPool.cs.meta
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources.meta
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPool.hlsl
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPool.hlsl.meta
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPoolDefs.cs
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPoolDefs.cs.hlsl
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPoolDefs.cs.hlsl.meta
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPoolDefs.cs.meta
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPoolKernels.compute
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPoolKernels.compute.meta
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/VisibilityBufferCommon.hlsl
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/VisibilityBufferCommon.hlsl.meta
  com.unity.render-pipelines.core/Tests/Editor/BlockAllocatorTests.cs
  com.unity.render-pipelines.core/Tests/Editor/BlockAllocatorTests.cs.meta
  com.unity.render-pipelines.core/Tests/Editor/GeometryPoolTests.cs
  com.unity.render-pipelines.core/Tests/Editor/GeometryPoolTests.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/DefaultLookDevProfile.asset
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/Visibility.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/Visibility.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/Visibility.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/Visibility.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Visibility.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Visibility.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassVisibility.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassVisibility.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
Labels: SRP, HDRP

#5951 Dynamic Ambient improvement and doc update
  com.unity.render-pipelines.high-definition/Documentation~/Environment-Lighting.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderingContext.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2

#6211 [HDRP] Sensor SDK integration
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/BaseShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/LitShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/PackageInfo.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/SensorIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/SensorIntersection.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassSensorLidar.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassSensorLidar.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Unity.RenderPipelines.HighDefinition.Runtime.asmdef
Labels: SRP, HDRP, dxr

#6068 Fix local fog volumes z axis calculation
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/002-HDMaterials.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/002-HDMaterials.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/002-HDMaterials.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/002-HDMaterials.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/002-HDMaterials.png
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5002_Fog_DensityVolumes.unity
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/LocalVolumetricFog.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumeVoxelization.compute
Labels: HDRP, testing, needs-backport-2021.2

#6092 fixed passive voice
  com.unity.render-pipelines.high-definition/Documentation~/Decal.md
Labels: HDRP, needs-backport-2021.2

#6104 [HDRP] AxF RTR: fix performance mode distillation that was broken
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFRayTracing.hlsl
Labels: HDRP, needs-backport-2021.2

#6164 Re-enable reverted RPGlobalSettings tests
  com.unity.render-pipelines.high-definition/Tests/Editor/HDGlobalSettingsTests.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/HDGlobalSettingsTests.cs.meta
  com.unity.render-pipelines.universal/Tests/Editor/UniversalGlobalSettingsTests.cs
  com.unity.render-pipelines.universal/Tests/Editor/UniversalGlobalSettingsTests.cs.meta
Labels: HDRP, universal

#6182 Display diffusion profile overrides in volume debug menu
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.Builtins.cs
  com.unity.render-pipelines.core/Editor/Debugging/DebugWindow.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUI.Fields.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Resources/DebugUICanvas.prefab
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerObject.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerObject.cs.meta
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerObjectList.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerObjectList.cs.meta
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerRow.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Widgets/DebugUIObject.prefab
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Widgets/DebugUIObject.prefab.meta
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Widgets/DebugUIObjectList.prefab
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Widgets/DebugUIObjectList.prefab.meta
  com.unity.render-pipelines.high-definition/Editor/Lighting/DiffusionProfileOverrideEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: SRP, HDRP

#6200 updated Override Fog page
  com.unity.render-pipelines.high-definition/Documentation~/Images/fog-overrides.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Fog.md
Labels: HDRP, needs-backport-2021.2

#6204 [HDRP] Fix missing pragma
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugLightVolumes.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugVTBlit.shader
Labels: HDRP

#6205 [HDRP] Fix custom pass motion vector texture access
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
Labels: HDRP, needs-backport-2021.2

#6214 [HDRP][Path Tracing] Sensor SDK integration quick fix
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassSensorLidar.hlsl
Labels: SRP, HDRP, dxr

#6210 Fix typo in MipBias tooltip in HDRenderPipelineUI.Skin
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
Labels: HDRP, needs-backport-2021.2

#6168 Replace gizmos FindObjectsOfType with static list
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
Labels: SRP, HDRP, needs-backport-2021.2

#6150 [HDRP] Fix APV tooltip for Geometry Distance Offset
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Skin.cs
Labels: SRP, HDRP, needs-backport-2021.2

#5882 [SRP] Fix issue when changing volume profiles at runtime with a script
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Volume/VolumeEditor.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeProfile.cs
Labels: SRP, needs-backport-10.x, needs-backport-2021.2

#6194 Fixed the point distribution for the diffuse denoiser sometimes not being properly intialized.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, dxr, needs-backport-2021.2

#6193 Fixed the bad blending between the sun and the clouds (case 1373282).
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricClouds.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsAccumulation.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsCombine.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsUtilities.hlsl
Labels: HDRP, needs-backport-2021.2

#6029 Removed overrideShadowmaskMessage as it is not used in the editor UI …
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#6199 Various ray tracing fixes
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/112_Reflection_AlternativeSGNodes.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/112_Reflection_AlternativeSGNodes.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/CheckerBoardSG.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/CheckerBoardSG.shadergraph.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/ElipseSG.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/ElipseSG.shadergraph.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/Global Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/Global Volume Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/M_Mirror.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/M_Mirror.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/PolygonSG.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/PolygonSG.shadergraph.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/RectangleSG.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/RectangleSG.shadergraph.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/RoundedPolygonSG.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/RoundedPolygonSG.shadergraph.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/RoundedRectangleSG.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/112_Reflection_AlternativeSGNodes/RoundedRectangleSG.shadergraph.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/CheckerboardNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Shape/EllipseNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Shape/PolygonNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Shape/RectangleNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Shape/RoundedPolygonNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Shape/RoundedRectangleNode.cs
Labels: HDRP, Shader Graph, testing, dxr, needs-backport-2021.2

#6215 [HDRP][Path Tracing] Minor fix for SSS when combined with fog
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
Labels: SRP, HDRP, dxr, needs-backport-2021.2

#6218 Added the Screen Space Shadows Renderer Feature doc to the table of contents
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
Labels: Docs, universal

#6145 Fix NaN on Intel GPU when using PBR Sky and rendering sun disk
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2

#6115 Fix Luminance/EV conversion when changing LightMeterCalibrationConstant
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightUtils.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2

#6122 [2021.2] Added a new document about Scene Templates
  com.unity.render-pipelines.universal/Documentation~/Images/scene-templates.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/scene-templates.md
Labels: Docs, universal

#6163 [RP Workflows][2021.2] Backport URP debug lighting fixes
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/Debug/Debugging3D.hlsl
Labels: universal

#5996 [HDRP] Physically based depth of field optimizations
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4083_DepthOfField-FP16AlphaPB.png
  com.unity.render-pipelines.core/ShaderLibrary/Random.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-13.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFCombine.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFCombine.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGather.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGatherUtils.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGatherUtils.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
Labels: HDRP

#6226 Disable cache server for URP jobs
  .yamato/config/shadergraph_stereo.metafile
  .yamato/config/universal_2d.metafile
  .yamato/config/universal_foundation.metafile
  .yamato/config/universal_lighting.metafile
  .yamato/config/universal_postpro.metafile
  .yamato/config/universal_stereo.metafile
  .yamato/config/universal_terrain.metafile
  .yamato/shadergraph_stereo-win.yml
  .yamato/universal_stereo-win.yml
  .yamato/urp_2d-android-opengles3.yml
  .yamato/urp_2d-android-vulkan.yml
  .yamato/urp_2d-iphone-metal.yml
  .yamato/urp_2d-linux-openglcore.yml
  .yamato/urp_2d-linux-vulkan.yml
  .yamato/urp_2d-osx-metal.yml
  .yamato/urp_2d-osx-openglcore.yml
  .yamato/urp_2d-win-dx11.yml
  .yamato/urp_2d-win-dx12.yml
  .yamato/urp_2d-win-vulkan.yml
  .yamato/urp_foundation-android-opengles3.yml
  .yamato/urp_foundation-android-vulkan.yml
  .yamato/urp_foundation-iphone-metal.yml
  .yamato/urp_foundation-linux-openglcore.yml
  .yamato/urp_foundation-linux-vulkan.yml
  .yamato/urp_foundation-osx-metal.yml
  .yamato/urp_foundation-osx-openglcore.yml
  .yamato/urp_foundation-win-dx11.yml
  .yamato/urp_foundation-win-dx12.yml
  .yamato/urp_foundation-win-vulkan.yml
  .yamato/urp_lighting-android-opengles3.yml
  .yamato/urp_lighting-android-vulkan.yml
  .yamato/urp_lighting-iphone-metal.yml
  .yamato/urp_lighting-linux-openglcore.yml
  .yamato/urp_lighting-linux-vulkan.yml
  .yamato/urp_lighting-osx-metal.yml
  .yamato/urp_lighting-osx-openglcore.yml
  .yamato/urp_lighting-win-dx11.yml
  .yamato/urp_lighting-win-dx12.yml
  .yamato/urp_lighting-win-vulkan.yml
  .yamato/urp_postpro-android-opengles3.yml
  .yamato/urp_postpro-android-vulkan.yml
  .yamato/urp_postpro-iphone-metal.yml
  .yamato/urp_postpro-linux-openglcore.yml
  .yamato/urp_postpro-linux-vulkan.yml
  .yamato/urp_postpro-osx-metal.yml
  .yamato/urp_postpro-osx-openglcore.yml
  .yamato/urp_postpro-win-dx11.yml
  .yamato/urp_postpro-win-dx12.yml
  .yamato/urp_postpro-win-vulkan.yml
  .yamato/urp_terrain-android-opengles3.yml
  .yamato/urp_terrain-android-vulkan.yml
  .yamato/urp_terrain-iphone-metal.yml
  .yamato/urp_terrain-linux-openglcore.yml
  .yamato/urp_terrain-linux-vulkan.yml
  .yamato/urp_terrain-osx-metal.yml
  .yamato/urp_terrain-osx-openglcore.yml
  .yamato/urp_terrain-win-dx11.yml
  .yamato/urp_terrain-win-dx12.yml
  .yamato/urp_terrain-win-vulkan.yml
Labels: sdet

#6220 Fixing crash when creating area light.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.Types.cs
Labels: HDRP, needs-backport-2021.2

#6207 [HDRP] Merge FSR RCAS Logic into FinalPass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FinalPass.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/RobustContrastAdaptiveSharpen.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/RobustContrastAdaptiveSharpen.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
Labels: HDRP

#6091 Fix order of render targets in shaderpass forward
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForward.hlsl
Labels: HDRP, needs-backport-2021.2

#6230 Fix build failing due to duplicate 2d menu name
  com.unity.render-pipelines.universal/Editor/2D/GameObjectCreation.cs
Labels: universal, 2d

#6241 Temporarily remove HDLightUtils_IESProfileAPI()
  com.unity.render-pipelines.high-definition/Tests/Editor/HDAdditionalLightDataTests.cs
Labels: HDRP

#6059 Added a help box to inform users of the potential dependency to directional lights when baking.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Sky/HDLightingWindowEnvironmentSection.cs
Labels: HDRP, needs-backport-2021.2

#6228 Exposed the volumetric clouds transmittance for volumetric clouds (case 1373283).
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsAccumulation.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsFullResolution.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsLowResolution.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP

#6040 [ShaderGraph] [2022.1] [Ruby] Fix screen position behaviors
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/NodeTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/NodeTests/PixelPosition.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/NodeTests/PixelPosition.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/NodeTests/PixelPositionVertex.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/NodeTests/PixelPositionVertex.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/NodeTests/ScreenPositionDefault.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/NodeTests/ScreenPositionDefault.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/NodeTests/ScreenPositionVertex.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/NodeTests/ScreenPositionVertex.shadergraph.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/ArtisticNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/ArtisticNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/ArtisticNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/ArtisticNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/ArtisticNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/ArtisticNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/ArtisticNodes.png
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Artistic/Filter/DitherCentered.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Artistic/Filter/DitherRaw.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Artistic/Filter/DitherTiled.shadergraph
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/Pixel.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/Tessellation.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/Vertex.template.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/TargetResources/FieldDependencies.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.shadergraph/Editor/Generation/Templates/BuildSurfaceDescriptionInputs.template.hlsl
  com.unity.shadergraph/Editor/Generation/Templates/BuildVertexDescriptionInputs.template.hlsl
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphParticleOutput.cs
Labels: Shader Graph, testing, universal

#6222 Fix immutable assets issue
  com.unity.render-pipelines.universal/Runtime/Materials/Decal.mat
Labels: universal

#6258 Fixing ps4 light list build
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild.compute
Labels: HDRP

#6212 Remove redundant probe volume inits
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
Labels: SRP, HDRP

#6261 Delete stale UI folder meta file
  com.unity.render-pipelines.high-definition/Runtime/Material/UI.meta
Labels: HDRP

#6259 Fix hightligher for volumetric clouds
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/QualitySettingsPanel.cs
Labels: HDRP, needs-backport-2021.2

#6255 Reviewed doc updates from #5771
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: HDRP, needs-backport-2021.2

#6250 Add coverage for path/ray-tracing double sided override
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5014_PathTracing_DoubleSidedOverride.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5014_PathTracing_DoubleSidedOverride.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/M_Ground.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/M_Ground.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/M_OpaqueAlphaClip_DS_NormalsMirror.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/M_OpaqueAlphaClip_DS_NormalsMirror.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/M_OpaqueAlphaClip_DS_NormalsNone.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/M_OpaqueAlphaClip_DS_NormalsNone.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/M_OpaqueAlphaClip_SS.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/M_OpaqueAlphaClip_SS.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/Volume Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/sphere32_bimat.fbx
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5014_PathTracing_DoubleSidedOverride/sphere32_bimat.fbx.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, testing, dxr, needs-backport-2021.2

#6257 [VFX/SG] Apply migration from UnityEditor.UIElements to UnityEngine.UIElements
  com.unity.shadergraph/Editor/Drawing/Controls/DielectricSpecularControl.cs
  com.unity.shadergraph/Editor/Drawing/Controls/VectorControl.cs
  com.unity.shadergraph/Editor/Drawing/Views/FloatField.cs
  com.unity.shadergraph/Editor/Drawing/Views/Slots/MultiFloatSlotControlView.cs
  com.unity.visualeffectgraph/Editor/Controls/VFXMatrix4x4Field.cs
  com.unity.visualeffectgraph/Editor/Controls/VFXVector2Field.cs
  com.unity.visualeffectgraph/Editor/Controls/VFXVector3Field.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/Properties/ColorPropertyRM.cs
Labels: Shader Graph, vfx

#6263 Fix some burst warnings for player creation on latest trunk
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDGpuLightsBuilder.Jobs.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDProcessedVisibleLightsBuilder.Jobs.cs
Labels: HDRP, needs-backport-2021.2

#6264 [ShaderGraph] [2022.1] [Ruby] Fixing UIElements errors spewed because of a bad setting in the UXML file
  com.unity.shadergraph/Editor/Resources/UXML/GraphInspector.uxml
Labels: Shader Graph

#6247 Ignore GlobalSettings tests for non-SRP test projects
  com.unity.render-pipelines.high-definition/Tests/Editor/HDGlobalSettingsTests.cs
  com.unity.render-pipelines.universal/Tests/Editor/UniversalGlobalSettingsTests.cs
Labels: HDRP, universal

#5509 Moving WS view direction from vertex to fragment to lower varying size
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/PBRForwardPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/PBRGBufferPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/UnlitPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalDecalSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalStructs.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/FieldDependencies.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/StructFields.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/BuiltInStructs.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInLitSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/PreviewTarget.cs
  com.unity.shadergraph/Editor/Generation/Templates/BuildSurfaceDescriptionInputs.template.hlsl
  com.unity.shadergraph/Editor/Generation/Templates/PassMesh.template
  com.unity.shadergraph/ShaderGraphLibrary/PreviewVaryings.hlsl
Labels: Shader Graph, universal

#6253 Focus distance in path traced depth of field now takes into account the focus mode setting
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoFVolume.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoFVolume.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5015_PathTracing_DoFCamera.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5015_PathTracing_DoFCamera.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume/M_Background.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume/M_Background.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume/M_Ground.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume/M_Ground.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume/M_Transparent.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume/M_Transparent.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume/PathTracer Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume/PathTracer Volume Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume/Sky and Fog Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5006_PathTracing_DoFVolume/Sky and Fog Volume Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5015_PathTracing_DoFCamera.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5015_PathTracing_DoFCamera.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5015_PathTracing_DoFCamera.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5015_PathTracing_DoFCamera/PathTracer Volume Profile 1.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/5015_PathTracing_DoFCamera/PathTracer Volume Profile 1.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: HDRP, testing, needs-backport-2021.2

#6239 [2022.1][URP] Decal fixes
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/Android/Vulkan/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/230_Decal.png.meta
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/230_Decal.png.meta
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/230_Decal/CircleNormal.jpg.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Decal/DBuffer/DBufferRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Shaders/Decal.shadergraph
Labels: testing, universal

#6143 fix indentation for mask property
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/LitGUI.cs
Labels: universal

#6167 2d/fix for global light batching bug
  TestProjects/UniversalGraphicsTest_2D/Assets/CommonAssets/UniversalRPAsset.asset
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/Android/Vulkan/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/Android/Vulkan/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/014_Layer_Batching_GlobalLightWithShadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/014_Layer_Batching_GlobalLightWithShadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/014_Layer_Batching/Layer Batching Renderer Data.asset
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/014_Layer_Batching/Layer Batching Renderer Data.asset.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/014_Layer_Batching_GlobalLightWithShadows.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/014_Layer_Batching_GlobalLightWithShadows.unity.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/Unity.Testing.SRP.Universal.2D.Runtime.asmdef
  TestProjects/UniversalGraphicsTest_2D/Assets/Unity.Testing.SRP.Universal.2D.Runtime.asmdef.meta
  TestProjects/UniversalGraphicsTest_2D/ProjectSettings/EditorBuildSettings.asset
  TestProjects/UniversalGraphicsTest_2D/UserSettings/EditorUserSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/LayerUtility.cs
Labels: testing, universal, needs-backport-10.x, needs-backport-2021.2

#6180 [URP] make the Vulkan RenderTexture MSAA support fallback work in the same way as the swapchain backend implementation
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: needs-backport-7.x, universal, needs-backport-10.x, needs-backport-2021.2

#6251 Fix MSAA resolve of stencil buffer
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ResolveStencilBuffer.compute
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2

#6219 [URP][2D] Fix performance regression where 2D alpha discard was broken
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/2D/Include/CombinedShapeLightShared.hlsl
Labels: universal, 2d, needs-backport-2021.2

#6235 Added the Show Additional Properties description to the URP Asset.
  com.unity.render-pipelines.universal/Documentation~/Images/settings-general/show-all-additional-properties.png
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
Labels: universal

#6236 Backported #6235: Added the Show Additional Properties description to the URP Asset.
  com.unity.render-pipelines.universal/Documentation~/Images/settings-general/show-all-additional-properties.png
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
Labels: universal

#6245 Enables per node includes on the DecalPass.template
  com.unity.render-pipelines.universal/Editor/Decal/DecalPass.template
Labels: universal, needs-backport-2021.2

#6246 [Master] Fixing "RenderingCommandBuffer: invalid pass index" errors with SSAO (Case 1374215)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Utils/ScreenSpaceAmbientOcclusion.shader
Labels: universal, needs-backport-2021.2

#6006 [Android] Update reference images to follow new android device firmware
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/Android/Vulkan/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/Android/Vulkan/None/035_Shader_TerrainShaders_RT.png
Labels: testing, universal

#6192 [URP][PostProcessing] Make LensFlare dimensions respect RenderScale setting
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: universal

#6223 Fix soft shadow sampling offsets on mobile.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
Labels: universal, backported-2021.2

#6140 Fix issue with reflection probe normalization via APV
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
Labels: SRP, HDRP, needs-backport-2021.2

#6243 Add universal and hdrp to smoke project testables
  TestProjects/SRP_SmokeTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/SampleScene.png
  TestProjects/SRP_SmokeTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/SampleScene.png
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/SRP_SmokeTest/ProjectSettings/GraphicsSettings.asset
Labels: SRP, testing, needs-backport-2021.2

#6238 [VFX][Fix 1355602] Extra nodes in Ribbon template
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Templates/SimpleRibbon.vfx
Labels: vfx, needs-backport-2021.2

#6244 [2021.2][VFX][Fix 1355602] Extra nodes in Ribbon template
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Templates/SimpleRibbon.vfx
Labels: vfx

#6252 [HDRP] Try to fix Yamato
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGatherUtils.hlsl
  com.unity.render-pipelines.high-definition/package.json
Labels: HDRP, testing

#6270 Update safety net trigger to avoid running it on .md changes
  .yamato/_abv.yml
  .yamato/config/abv.metafile
Labels: sdet

#6017 fix for freeze during render settings converter
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConvertersEditor.cs
Labels: universal

#6224 [Backport][2021.2][URP][2D] Fix performance regression where 2D alpha discard was broken
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/2D/Include/CombinedShapeLightShared.hlsl
Labels: universal, 2d

#6071 DOTS 1.0 minimal picking support (Graphics part)
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/BRGGameObjects/BRGGameObjects.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/BRGGameObjects/Lit.mat
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/BRGGameObjects/Lit.mat.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/BRGGameObjects/LitTessellation.mat
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/BRGGameObjects/LitTessellation.mat.meta
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/BRGGameObjects/RenderBRG.cs
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/BRGGameObjects/Unlit.mat
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/BRGGameObjects/Unlit.mat.meta
  TestProjects/HDRP_HybridTests/Packages/packages-lock.json
  TestProjects/HDRP_HybridTests/ProjectSettings/SceneTemplateSettings.json
  TestProjects/HDRP_HybridTests/ProjectSettings/VFXManager.asset
  TestProjects/UniversalHybridTest/Assets/SampleScenes/BRGGameObjects/RenderBRG.cs
  TestProjects/UniversalHybridTest/Packages/packages-lock.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/BRGPicking.shader
  com.unity.render-pipelines.high-definition/Editor/Material/BRGPicking.shader.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/BRGPicking.shader
  com.unity.render-pipelines.universal/Shaders/BRGPicking.shader.meta
Labels: HDRP, testing, universal

#6019 Enable FrameTimingManager tests in standalone builds
  com.unity.render-pipelines.core/Tests/Runtime/RuntimeProfilerTests.cs
Labels: SRP, testing

#6293 [Fix] Lens Flare visible when being behind a camera with Panini Projection on (case 1370214)
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-2021.2

#6234 Added the Volume Update Mode MVP description.
  com.unity.render-pipelines.universal/Documentation~/camera-component-reference.md
  com.unity.render-pipelines.universal/Documentation~/urp-universal-renderer.md
Labels: universal

#6309 Backported #6234: Added the Volume Update Mode MVP description.
  com.unity.render-pipelines.universal/Documentation~/camera-component-reference.md
  com.unity.render-pipelines.universal/Documentation~/urp-universal-renderer.md
Labels: universal

#5346 Adapt URP to use RTHandles - P1
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/107_DepthPrepass/Test107Renderer.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/Runtime/Renderer2DTests.cs
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/107_DepthPrepass/Test107Renderer.cs
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/206_Motion_Vectors/CaptureMotionVectorsPass.cs
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/206_Motion_Vectors/CaptureMotionVectorsRendererFeature.cs
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/107_DepthPrepass/Test107Renderer.cs
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceTexture.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandles.cs
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-2022-1.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
  com.unity.render-pipelines.universal/Runtime/2D/Light2DBlendStyle.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/UpscalePass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DData.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Decal/DBuffer/DBufferRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Decal/ScreenSpace/DecalGBufferRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/Deprecated.cs
  com.unity.render-pipelines.universal/Runtime/NativeRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CapturePass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyColorPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DeferredPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthNormalOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/GBufferPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MotionVectorRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/PostProcessPasses.cs
  com.unity.render-pipelines.universal/Runtime/RenderTargetBufferSystem.cs
  com.unity.render-pipelines.universal/Runtime/RenderTargetHandle.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceShadows.cs
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRendererFeature.cs
  com.unity.render-pipelines.universal/Runtime/ShadowUtils.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.testing.urp/Scripts/Runtime/CustomRenderPipeline/CustomRenderer.cs
Labels: SRP, testing, universal

#6299 Bump SRP packages to 13.1.2
  .yamato/_copycat.yml
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.testing.graphics-performance/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, universal, vfx, sdet

#6319 [2021.2] [Backport] Update 035 test reference image on Android due to new Android firmware
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/Android/Vulkan/None/035_Shader_TerrainShaders.png
Labels: testing, universal

#6090 URP quality improvements
  com.unity.render-pipelines.core/Editor/FilterWindow.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeEditor.cs
  com.unity.render-pipelines.core/Runtime/Documentation.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/ScriptableRendererFeatureProvider.cs
  com.unity.render-pipelines.universal/Editor/ScriptableRendererFeatureProvider.cs.meta
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Documentation.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/RenderObjects.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceShadows.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
Labels: universal

#6274 [Master] Making intermediate render textures scale with the RenderScale setting when a camera renders to a texture
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#6336 [URP][RenderPass] Adding additional ConfigureTarget to include depth and passing "fake" depth for editor in CopyDepth
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
Labels: universal

#6260 Make USE_DRAW_PROCEDURAL variation only for vertex programs in UberPost shader
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/PostProcessing/Bloom.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/BokehDepthOfField.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/CameraMotionBlur.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/FinalPost.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/GaussianDepthOfField.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/PaniniProjection.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/StopNaN.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/SubpixelMorphologicalAntialiasing.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/UberPost.shader
Labels: universal

#6249 Fixed SetPerCameraShaderVariables function not working as expected
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#6306 [RPW] Full deprecation of Density Volume
  com.unity.render-pipelines.high-definition/Runtime/Deprecated.cs
Labels: HDRP

#6342 Disable unstable test
  TestProjects/Lightmapping/Assets/Tests/Editor/Tests_Unit_Editmode/Editmode_BakeRestart_Tests.cs
Labels: testing

#6347 Disable RuntimeProfilerTests in batchmode due to unreliability
  com.unity.render-pipelines.core/Tests/Runtime/RuntimeProfilerTests.cs
Labels: SRP

#6350 [Fogbugz # 1382783] Fixing lights camera relative rendering for some XR devices
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDGpuLightsBuilder.Jobs.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDGpuLightsBuilder.LightLoop.cs
Labels: HDRP, needs-backport-2021.2

#6337 [Yamato] Add Apple silicon coverage for HDRP and Lightmapping
  .yamato/_editor_priming.yml
  .yamato/all-hdrp.yml
  .yamato/all-lightmapping.yml
  .yamato/config/__shared.metafile
  .yamato/config/_editor.metafile
  .yamato/config/hdrp.metafile
  .yamato/config/lightmapping.metafile
  .yamato/hdrp-osx_apple_silicon-metal.yml
  .yamato/lightmapping-osx-metal.yml
  .yamato/lightmapping-osx_apple_silicon-metal.yml
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/001-HDTemplate.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/002-HDMaterials.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/003-VirtualTexturing-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/003-VirtualTexturing-NoMV-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/003-VirtualTexturing-NoMV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/005-DistortCloudsParallax.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/006-Compositor.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/007-BasicAPV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/008-EnlightenRealtimeGI.png
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/Lightmapping/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/GraphicTestScene01-tiling-16-tiles.png
  TestProjects/Lightmapping/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/GraphicTestScene01-tiling-256-tiles.png
  TestProjects/Lightmapping/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/GraphicTestScene01-tiling-4-tiles.png
  TestProjects/Lightmapping/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/GraphicTestScene01-tiling-64-tiles.png
  TestProjects/Lightmapping/Packages/manifest.json
Labels: HDRP, testing, sdet

#6352 Fix DoF on scarlett
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFCombine.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGatherUtils.hlsl
Labels: HDRP, needs-backport-2021.2

#5945 Fixed references to probes not cleared when unloading a scene
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
Labels: HDRP, needs-backport-2021.2

#6020 Material API what's new
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-13.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
Labels: HDRP

#6103 [HDRP] Stacklit RTR: Fix issues with RTR reflections from stacklit materials
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/ShaderPassDefine.template.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLitRayTracing.hlsl
Labels: HDRP, needs-backport-2021.2

#6106 [HDRP] Lit coat ssr-rtr: Fix various issues with using SSR lighting with IBL fallback (case 1380351)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
Labels: HDRP, needs-backport-2021.2

#6107 [HDRP] StackLit coat ssr-rtr light hierarchy and IBL fallback fixes.
  com.unity.render-pipelines.core/ShaderLibrary/CommonMaterial.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
Labels: SRP, HDRP, needs-backport-2021.2

#6108 [HDRP] AxF ssr-rtr: Implement refined light reflection hierarchy and ibl evaluation.
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
Labels: HDRP, needs-backport-2021.2

#6362 [HDRP][Path Tracing] Fixed PS5 build compilation warnings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
Labels: SRP, HDRP, dxr, needs-backport-2021.2

#6208 Add missing material property wrappers for HDRP
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.core/Editor/Material/MaterialEditorExtension.cs
  com.unity.render-pipelines.core/Editor/Material/MaterialHeaderScope.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/AxfSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayersUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/TessellationOptionsUIBlock.cs
Labels: SRP, HDRP

#6364 [HDRP] Update reference screenshots
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/101_ReflectionsPerfFullRes.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/102_ReflectionsPerfHalfRes.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/001-HDTemplate.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/002-HDMaterials.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/003-VirtualTexturing-Forward.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/003-VirtualTexturing-NoMV-Forward.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/003-VirtualTexturing-NoMV.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/003-VirtualTexturing.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/004-CloudsFlaresDecals.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/005-DistortCloudsParallax.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/006-Compositor.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/007-BasicAPV.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer_AppleSilicon/Metal/None/008-EnlightenRealtimeGI.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1302_StackLitSG_PixarLM.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1302_StackLitSG_PixarLM.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1302_StackLitSG_PixarLM.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1302_StackLitSG_PixarLM.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1302_StackLitSG_PixarLM.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2551_SSR.png
Labels: HDRP, testing

#6356 Fix Package tests
  com.unity.render-pipelines.universal/ValidationExceptions.json
Labels: universal

#6367 Bump gtf to 7.8.17-exp.1 for Lightmapping
  TestProjects/Lightmapping/Packages/manifest.json
Labels: testing

#6348 Changes for using Embedded IR Tokens
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/Extensions.cs
Labels: Shader Graph

#6268 [URP][Tests] Update 111_CameraStackMSAA_RenderPass stack camera
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/111_CameraStackMSAA_RenderPass.unity
Labels: testing, universal

#6366 [2021.2] Bump graphics to 12.1.3
  .yamato/_copycat.yml
  Tools/CreateLocalPackages.cmd
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.testing.graphics-performance/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, universal, vfx, sdet

#6300 [2022.1] Fix shadow rendering correctly to work with shader stripping in WebGl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
Labels: universal

#6343 [2021.2] Fix shadow rendering correctly to work with shader stripping in WebGl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
Labels: universal

#6317 [RPW] Deprecate Additional Foldouts
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/Deprecated.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
Labels: universal

#6365 Disable RadeonProDenoiser test
  TestProjects/Lightmapping/Assets/Tests/Editor/Tests_Unit_Editmode/Editmode_BakeRestart_Tests.cs
Labels: testing

#5401 [VFX/URP] Fix decal with overlay & scale
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.asset
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.asset.meta
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.unity
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.unity.meta
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.vfx
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.vfx.meta
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/ForceRenderScale.cs
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/ForceRenderScale.cs.meta
  TestProjects/VisualEffectGraph_URP/Assets/URP.asset
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/VFXDecal.template
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
  com.unity.visualeffectgraph/Shaders/ParticleDecals/Pass.template
Labels: HDRP, testing, universal, vfx, needs-backport-2021.2

#6384 [HDRP] Update transparent depth pass documentation
  com.unity.render-pipelines.high-definition/Documentation~/Surface-Type.md
Labels: HDRP

#5967 HDR Cubemap Encoding support
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/ReflectionProbesPreview.shader
  com.unity.render-pipelines.high-definition/Runtime/Core/CoreResources/BlitCubeTextureFace.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ReflectionProbeCache.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/IntegrateHDRISky.shader
Labels: SRP, HDRP

#6153 [not ready] HDRP Scene Template: Bumped up IET framework version to 2.1 and better default layout for 1080p monitors
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Settings/TutorialLayout.wlt
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Settings/Tutorials.asset
Labels: HDRP, needs-backport-2021.2

#6203 Bug fixes for reflection probes normalization
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDProbeEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDProbeUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
Labels: SRP, HDRP, needs-backport-2021.2

#6256 Reenable HDLightUtils test
  com.unity.render-pipelines.high-definition/Tests/Editor/HDAdditionalLightDataTests.cs
Labels: HDRP

#6271 [HDRP] Fix custom pass utils in XR
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.shader
Labels: HDRP, needs-backport-2021.2

#6277 - Fixed the ray tracing acceleration structure build marker not being included in the ray tracing stats (case 1379383).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP, dxr, needs-backport-2021.2

#6302 [HDRP][Path Tracing] Cosmetic fix in sensor-related files
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/SensorIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassSensorLidar.hlsl
Labels: SRP, HDRP, dxr, needs-backport-2021.2

#6388 [SG][10.x.x][2020.3] Backport of Swizzle node upgrade
  com.unity.shadergraph/Documentation~/Swizzle-Node.md
  com.unity.shadergraph/Editor/Data/Nodes/Channel/SwizzleNode.cs
  com.unity.shadergraph/Editor/Drawing/Controls/TextControl.cs
  com.unity.shadergraph/Editor/Drawing/Controls/TextControl.cs.meta
  com.unity.shadergraph/Editor/Resources/Styles/Controls/TextControlView.uss
  com.unity.shadergraph/Editor/Resources/Styles/Controls/TextControlView.uss.meta
Labels: Shader Graph

#6129 RP Workflows - Adding the capability to revert a single override of a Volume Component
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Volume/Drawers/ColorParameterDrawer.cs
  com.unity.render-pipelines.core/Editor/Volume/Drawers/FloatParameterDrawer.cs
  com.unity.render-pipelines.core/Editor/Volume/Drawers/IntParameterDrawer.cs
  com.unity.render-pipelines.core/Editor/Volume/Drawers/TextureParameterDrawer.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeComponent.EditorOnly.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeComponent.EditorOnly.cs.meta
  com.unity.render-pipelines.core/Runtime/Volume/VolumeComponent.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeManager.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/HDShadowSettingsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/SkySettingsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.cs
Labels: SRP, HDRP

#6377 fixed typo "whne" -> "when"
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/ScalableSettingValue.cs
Labels: HDRP

#6376 [HDRP] Material scripting doc
  com.unity.render-pipelines.high-definition/Documentation~/Images/shader-variants.png
  com.unity.render-pipelines.high-definition/Documentation~/Material-API.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
Labels: HDRP, Docs

#6321 Fixed missing information in the tooltip of affects smooth surfaces of the ray traced reflections denoiser (case 1376918).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
Labels: HDRP, dxr, needs-backport-2021.2

#5948 [Fogbugz # 1365368] Fixing debug views for drs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/ClearDebugBuffer.compute
  com.unity.render-pipelines.high-definition/Runtime/Debug/ClearDebugBuffer.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugViewTiles.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/NVIDIADebugView.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/DLSSPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
Labels: HDRP, needs-backport-2021.2

#6389 Fixed shader graph errors when disabling the bias on texture samplers.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingMacros.hlsl
Labels: HDRP, dxr, needs-backport-2021.2

#6380 [HDRP] Fix rasterized accumulation motion blur when DoF is enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2
