Repository Unity-Technologies/Graphics, pull requests merged in 2021-04, with the labels that each got.

#4064 [HDRP] Fix PS4 shader compilation issue
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3937 Platform/ios/astc default texture format
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/008_AdditionalLights.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/012_PBS_EnvironmentBRDF_Spheres.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/012_PBS_EnvironmentBRDF_Spheres_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/026_Shader_PBRscene.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/026_Shader_PBRscene_AccurateGBuffer.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/130_ClearCoat.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/130_ClearCoat_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/131_ParallaxMapping.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/132_DetailMapping.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/031_Shader_GlossyEnvironmentSky.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/032_Shader_GlossyEnvironmentColor.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/033_Shader_HighlightsEnvironmentGradientSH.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/034_Shader_HighlightsEnvironmentGradientBaked.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/049_Lighting_Mixed_Subtractive.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/049_Lighting_Mixed_Subtractive_deferred.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/142_SSAO_DepthNormal_Projection.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/143_SSAO_DepthNormals_Orthographic.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/144_SSAO_RenderToBackBuffer.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/035_Shader_TerrainShaders_deferred.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/038_Shader_TerrainBlend.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/038_Shader_TerrainBlend_deferred.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/058_SpeedTree_V8.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/113_FogTerrain.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/000_MultiOutput.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/001_Animator.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/002_Gradient.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/003_EventAttribute.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/005_PlanarPrimitives.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/007_MeshSampling.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/009_MultiCamera.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/100_Fog.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/101_SampleReflectionProbe.png
Labels: testing, universal, vfx

#4050 [Fogbugz 1325700] Fixing volumetric screen zmask & depth pyramid for hw drs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4049 Fixed an unhelpful error message when custom function nodes don't have a valid file
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
Labels: Shader Graph

#4003 [2020.3][ShaderGraph] Enable asynchronous compilation for RenderPreview
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
Labels: Shader Graph

#4006 [2021.1][ShaderGraph] Enable asynchronous compilation for RenderPreview
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
Labels: Shader Graph

#4069 Various SRP and HDRP backport
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceTexture.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandle.cs
  com.unity.render-pipelines.core/ShaderLibrary/ACES.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/BSDF.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Color.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/CommonLighting.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/CommonMaterial.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/EntityLighting.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/ImageBasedLighting.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Packing.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Sampling/Fibonacci.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Sampling/Hammersley.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Sampling/Sampling.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/SpaceTransforms.hlsl
  com.unity.render-pipelines.high-definition/Documentation~/AOVs.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Handles.cs
Labels: HDRP, SRP

#4070 Fix typo in decal UI
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceInputsUIBlock.cs
Labels: HDRP

#4065 [HDRP] Merge Hd/bugfix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FinalPass.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/SceneObjectIDMap.cs
Labels: HDRP

#4072 [10.x.x Backport] backport 4065
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FinalPass.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/SceneObjectIDMap.cs
Labels: HDRP

#4073 [21.1 Backport] backport 4065
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FinalPass.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/SceneObjectIDMap.cs
Labels: HDRP

#4074 Added new template identifier for built-in
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Templates/ShaderPass.template
Labels: Shader Graph

#4067 Fixed the 'disconnect all' option on stack block items being grayed out. Fixes fogbugz 1313201
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/ContextView.cs
Labels: Shader Graph

#3994 [12.x][2021.2][SG] Implemented adding, deleting and save/load of blackboard categories
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/ShaderGraphUIBlock.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalSpriteLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalSpriteUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalUnlitSubTarget.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/CategoryData.cs
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboard.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboardCategory.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboardCategory.cs.meta
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardCategoryController.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardCategoryController.cs.meta
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardSectionController.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/SGController.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/ShaderInputViewController.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/MaterialEditor.meta
  com.unity.shadergraph/Editor/Drawing/MaterialEditor/ShaderGraphPropertyDrawers.cs
  com.unity.shadergraph/Editor/Drawing/MaterialEditor/ShaderGraphPropertyDrawers.cs.meta
  com.unity.shadergraph/Editor/Drawing/ViewModels/BlackboardCategoryViewModel.cs
  com.unity.shadergraph/Editor/Drawing/ViewModels/BlackboardCategoryViewModel.cs.meta
  com.unity.shadergraph/Editor/Drawing/ViewModels/BlackboardViewModel.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphSubWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphMetadata.cs
  com.unity.shadergraph/Editor/Resources/Styles/Blackboard.uss
  com.unity.shadergraph/Editor/Resources/Styles/PropertySheet.uss
  com.unity.shadergraph/Editor/Resources/UXML/GraphView/BlackboardRow.uxml
  com.unity.shadergraph/Editor/ShaderGUI/PBRMasterGUI.cs
  com.unity.shadergraph/Editor/Util/AssertHelpers.cs
Labels: HDRP, Shader Graph, universal

#4034 Allow copy depth pass when in game view with gizmos
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#3857 [7.x.x] Fix incorrect intermediate resolution when rendering to RT (backport of #1473)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: needs-backport-7.x, universal

#3917 [2021.1] Update URP CODEOWNERS
  .github/CODEOWNERS
Labels: sdet

#4083 HD/Decals: allows negative UV
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DisplacableRectHandles.cs
Labels: HDRP

#4086 Added an info box for micro shadow editor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/MicroShadowingEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/MicroShadowingEditor.cs.meta
Labels: HDRP

#3953 [Backport][10.x.x] Fix Profiler errors with XR multi-pass
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/DrawSkyboxPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, universal

#4063 Case 1293775
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#4084 [Backport] Fix light frustum planes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowUtils.cs
Labels: HDRP

#4044 Fixed how the 'unsaved changes' prompt is handled
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
Labels: Shader Graph

#3989 [Android] Fixed reference images for UniversalGraphicsTest_2D 059
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/059_2D_PixelPerfect_PostProcessing.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/Android/Vulkan/None/059_2D_PixelPerfect_PostProcessing.png
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#3617 [Universal] fix case 1306432 material upgrade issue
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
  com.unity.render-pipelines.universal/Editor/UpgradeCommon.cs
Labels: universal

#4060 [ShaderGraph] [2021.2] Fix for default graph precision being interpreted incorrectly
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph

#4092 Fixed duplicate symbols in variants where real is defined as half. Th…
  com.unity.render-pipelines.core/ShaderLibrary/BSDF.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Color.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/CommonMaterial.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/EntityLighting.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInTarget.cs
Labels: SRP, Shader Graph

#4062 [Universal] Remove work-around that was caused by inaccurate values returned by QualitySettings.maxQueuedFrames on some platforms
  com.unity.render-pipelines.universal/Runtime/DeferredShaderData.cs
Labels: universal

#4025 [2021.2] Adding _SURFACE_TYPE_TRANSPARENT keyword to URP and URP ShaderGraph shaders
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/MaterialPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/BakedLitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/LitShader.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/Shaders/UnlitShader.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Lighting.hlsl
  com.unity.render-pipelines.universal/Shaders/BakedLit.shader
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
Labels: universal

#3598 [VFX] Add support material queue offset
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/017_MaterialQueueOffset.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/017_MaterialQueueOffset.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/28_CameraProject.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/28_CameraProject.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/017_MaterialQueueOffset.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/017_MaterialQueueOffset.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/017_MaterialQueueOffset.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/017_MaterialQueueOffset.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/017_MaterialQueueOffset.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/017_MaterialQueueOffset.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/017_MaterialQueueOffset.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/017_MaterialQueueOffset.png.meta
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorBuildSettings.asset
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/017_MaterialQueueOffset.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/017_MaterialQueueOffset.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/017_MaterialQueueOffset.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/017_MaterialQueueOffset.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/017_MaterialQueueOffset.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/017_MaterialQueueOffset.png.meta
  TestProjects/VisualEffectGraph_URP/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/VFXHDRPSubOutput.cs
  com.unity.testing.visualeffectgraph/Scenes/017_MaterialQueueOffset.unity
  com.unity.testing.visualeffectgraph/Scenes/017_MaterialQueueOffset.unity.meta
  com.unity.testing.visualeffectgraph/Scenes/017_MaterialQueueOffset.vfx
  com.unity.testing.visualeffectgraph/Scenes/017_MaterialQueueOffset.vfx.meta
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/Context-OutputSharedSettings.md
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXAbstractParticleOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXAbstractRenderedOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXSRPSubOutput.cs
  com.unity.visualeffectgraph/Editor/Templates/EmptyParticleSystem.vfx
  com.unity.visualeffectgraph/Editor/Templates/SimpleHeadsAndSparks.vfx
  com.unity.visualeffectgraph/Editor/Templates/SimpleHeadsAndTrails.vfx
  com.unity.visualeffectgraph/Editor/Templates/SimpleParticleSystem.vfx
  com.unity.visualeffectgraph/Editor/Templates/SimpleRibbon.vfx
  com.unity.visualeffectgraph/Editor/Templates/SimpleSwarmParticleSystem.vfx
Labels: HDRP, testing, vfx

#4108 [7.x.x] Update .gitignore
  .gitignore
Labels: sdet

#4123 [Yamato] Remove hybrid jobs from CI
  .yamato/all-hdrp.yml
  .yamato/all-universal_split.yml
  .yamato/config/hdrp.metafile
  .yamato/config/universal__split.metafile
Labels: sdet

#3128 [URP 2D] MSAA store actions
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: 2d, universal

#3831 [Universal] Make sure upgrading to Universal RP 2021 does not change Spot Light shadow resolutions
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/105_TransparentReceiveShadows.unity
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalLightData.cs
Labels: needs-backport-2021.1, universal

#3832 [Universal] [2021.1 Backport] Make sure upgrading to Universal RP 2021 does not change Spot Light shadow resolutions
  TestProjects/UniversalGraphicsTest/Assets/Scenes/105_TransparentReceiveShadows.unity
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/105_TransparentReceiveShadows.unity
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalLightData.cs
Labels: backported-2021.1, universal

#4128 [2021.2] Updating a few SSAO reference images
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/201_DepthNormalsForward.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/201_DepthNormalsForward.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/202_SSAO_Depth.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/201_DepthNormalsForward.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/200_DepthDeferred.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/200_DepthForward.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/201_DepthNormalsDeferred.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/201_DepthNormalsForward.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/203_SSAO_DepthNormal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/204_SSAO_Deferred.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/205_SSAO_BackBuffer.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/204_SSAO_Deferred.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/204_SSAO_Deferred.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/200_DepthDeferred.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/200_DepthForward.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/201_DepthNormalsDeferred.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/201_DepthNormalsForward.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/203_SSAO_DepthNormal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/204_SSAO_Deferred.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/205_SSAO_BackBuffer.png
Labels: testing, universal

#4041 [Backport][2020.3 / 10.x.x] Fix for Opaque Texture + MSAA being rendered black on old Apple GPUs
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: universal

#4122 Fix for intermediate buffer logic in Subsurface Scattering
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
Labels: HDRP

#4126 updated icons
  com.unity.render-pipelines.core/Editor/CoreEditorStyles.cs
  com.unity.render-pipelines.core/Editor/EditorWindowWithHelpButton.cs
Labels: SRP, ready-to-merge

#4100 SDET Cleaning
  .yamato/postprocessing_publish.yml
  LocalTestProjects/HDRP_DebugCrossFade_Tests/Packages/manifest.json
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/PostProcessing_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_2D/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Foundation/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Lighting/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_PostPro/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Terrain/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, sdet, testing, universal, vfx

#4106 [2021.1] SDET misc backports
  .yamato/_abv.yml
  .yamato/all-hdrp.yml
  .yamato/all-shadergraph.yml
  .yamato/all-smoke_test.yml
  .yamato/all-universal_split.yml
  .yamato/all-urp_2d.yml
  .yamato/all-urp_foundation.yml
  .yamato/all-urp_lighting.yml
  .yamato/all-urp_postpro.yml
  .yamato/all-urp_terrain.yml
  .yamato/all-vfx_hdrp.yml
  .yamato/all-vfx_urp.yml
  .yamato/config/_abv.metafile
  .yamato/config/hdrp.metafile
  .yamato/config/shadergraph.metafile
  .yamato/config/smoke_test.metafile
  .yamato/config/universal_2d.metafile
  .yamato/config/universal__split.metafile
  .yamato/config/universal_foundation.metafile
  .yamato/config/universal_lighting.metafile
  .yamato/config/universal_postpro.metafile
  .yamato/config/universal_terrain.metafile
  .yamato/config/vfx_hdrp.metafile
  .yamato/config/vfx_urp.metafile
  LocalTestProjects/HDRP_DebugCrossFade_Tests/Packages/manifest.json
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_PerformanceTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Assets/csc.rsp
  TestProjects/SRP_SmokeTest/Assets/csc.rsp.meta
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_2D/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Foundation/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Lighting/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_PostPro/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Terrain/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  com.unity.template-universal/Packages/manifest.json
Labels: HDRP, SRP, Shader Graph, sdet, testing, universal

#4107 [10.x.x] SDET backports
  .yamato/_abv.yml
  .yamato/all-hdrp.yml
  .yamato/all-shadergraph.yml
  .yamato/all-smoke_test.yml
  .yamato/all-universal.yml
  .yamato/all-vfx_hdrp.yml
  .yamato/all-vfx_urp.yml
  .yamato/config/_abv.metafile
  .yamato/config/hdrp.metafile
  .yamato/config/shadergraph.metafile
  .yamato/config/smoke_test.metafile
  .yamato/config/universal.metafile
  .yamato/config/vfx_hdrp.metafile
  .yamato/config/vfx_urp.metafile
  LocalTestProjects/HDRP_DebugCrossFade_Tests/Packages/manifest.json
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_PerformanceTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Assets/csc.rsp
  TestProjects/SRP_SmokeTest/Assets/csc.rsp.meta
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, sdet, testing, universal, vfx

#4143 [URP] Reenable test 24 and 25
  TestProjects/UniversalGraphicsTest_Foundation/Assets/CommonAssets/Meshes/Adam/Crowd_LOD0.fbx
  TestProjects/UniversalGraphicsTest_Foundation/Assets/CommonAssets/Meshes/Adam/Crowd_LOD0.fbx.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/024_Shader_PBRvalidation_Specular.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/024_Shader_PBRvalidation_Specular.png.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/025_Shader_PBRvalidation_Metallic.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/025_Shader_PBRvalidation_Metallic.png.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#4144 [XPipeline]Fix Graphics Compositor opening
  com.unity.render-pipelines.core/Editor/EditorWindowWithHelpButton.cs
Labels: SRP

#4138 [HDRP] Fix cloud shader warning
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
Labels: HDRP

#4129 Added help URL for volumetric clouds override.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
Labels: HDRP

#4110 Re eneabling de exposure. It was originally disabled for vulkan since…
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
Labels: HDRP

#4139 [HDRP][Path Tracing] Increase path tracing max samples from 4k to 16k
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: HDRP, SRP, dxr, needs-backport-10.x, needs-backport-2021.1

#4101 Update refraction documentation
  com.unity.render-pipelines.core/ShaderLibrary/Refraction.hlsl
  com.unity.render-pipelines.high-definition/Documentation~/Refraction-in-HDRP.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/RefractionUIBlock.cs
Labels: HDRP, SRP

#4118 [HDRP] Fix issue with the color space of AOVs
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9800_Compositor.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForwardUnlit.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4078 Hd/update shadow layer editor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/SerializedHDLight.cs
Labels: HDRP

#4152 Fix formatting issues
  TestProjects/BuiltInGraphicsTest_Lighting/Assets/Shaders/LitTransparentAdditive.shader
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/LightingMetaPass.hlsl
Labels: Shader Graph, testing

#4087 [HDRP] Use a separate set of history buffers for every AOV request
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequestData.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4059 [2021.2][ShaderGraph] Fix PBRMasterGUI not to require _EmissionColor property
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/ShaderGUI/PBRMasterGUI.cs
Labels: Shader Graph, universal

#4154 [HDRP] AOV History buffers (followup)
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequest.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequestData.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4085 Fixed camera preview with multi selection
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.Handlers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4102 [VFX] staging to master
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXGUITests.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSpawnerTest.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/System-Requirements.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXCodeGenerator.cs
  com.unity.visualeffectgraph/Editor/Debug/VFXUIDebug.cs
  com.unity.visualeffectgraph/Editor/FilterPopup/VFXFilterWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXComponentBoard.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Inspector/VFXParameterEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VFXSlotContainerEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Orientation/Orient.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicSpawner.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicUpdate.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXStaticMeshOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXSRPSubOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/VFXOperator.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/Utilities/PropertyBinding/VFXPropertyBinderEditor.cs
  com.unity.visualeffectgraph/Runtime/Utilities/PropertyBinding/VFXPropertyBinder.cs
  com.unity.visualeffectgraph/Shaders/VFXCommon.hlsl
Labels: testing, vfx

#4160 [2021.2] Adding tests 145_SoftParticles & 146_MSAA back to the Post Processing project
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/145_SoftParticlesStackWithPP.unity
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/145_SoftParticlesStackWithPP.unity.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/146_MSAA_RenderToBackbuffer.unity
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/146_MSAA_RenderToBackbuffer.unity.meta
  TestProjects/UniversalGraphicsTest_PostPro/ProjectSettings/EditorBuildSettings.asset
Labels: testing, universal

#4153 Re-enabled Timeline test
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset
Labels: testing, vfx

#4166 2D Renderer Icon Fix
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/Light2DAuthoring.cs
Labels: needs-backport-2021.1, universal

#4162 [2021.2] SSAO: Adding missing checks for Transparents
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
Labels: universal

#4169 Fixed a warning about implicit truncation of vector type
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/Shim/HLSLSupportShim.hlsl
Labels: Shader Graph

#4170 [2021.1] [Shader Graph] [BugFix 1328377] Fixed a bug when clicking property in subgraph blackboard will throw errors
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
Labels: Shader Graph

#4174 URP: Fix issue 1324359 - Make scene view selection work properly again.
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, universal

#4171 Fixed another edge case where stencil materials are accessed before they are completely loaded.
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
Labels: universal

#4172 [2021.2][ShaderGraph] Make sure to sanitize names against Shader Graph reserved keywords
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Implementation/NodeUtils.cs
Labels: Shader Graph

#4147 Remove Opaque and Depth Textures from Overlay Camera properties
  com.unity.render-pipelines.universal/Documentation~/camera-types-and-render-type.md
Labels: needs-backport-10.x, needs-backport-2021.1, universal

#4088 [X pipeline]Update public documentation
  TestProjects/HDRP_Tests/Assets/FindMissingDocs/Editor/DocChecker.cs
  com.unity.render-pipelines.core/Editor/AdditionalPropertiesPreferences.cs
  com.unity.render-pipelines.core/Editor/Camera/ISerializedCamera.cs
  com.unity.render-pipelines.core/Editor/CoreEditorStyles.cs
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.core/Editor/CoreRenderPipelinePreferences.cs
  com.unity.render-pipelines.core/Editor/Gizmo/GizmoUtility.cs
  com.unity.render-pipelines.core/Editor/Material/MaterialHeaderScope.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeManager.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/MaterialUIBlock.cs
Labels: HDRP, SRP, ready-to-merge, testing

#4155 Fix compilation errors with XR automated tests on some platforms
  com.unity.testing.xr/Runtime/ConfigureMockHMD.cs
Labels: ready-to-merge

#4181 Delete temporary.meta
  TestProjects/HDRP_RuntimeTests/Assets/Temporary.meta
Labels: HDRP, testing

#4081 Fix for NaN that can happen on area lights at a certain angle.
  com.unity.render-pipelines.core/ShaderLibrary/AreaLighting.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#4105 Sample distortion mip chain with different safe guard to avoid NaNs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/Distortion/ApplyDistortion.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4124 [HDRP] Fix camera controller in template with old input system
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.template-hd/Assets/SampleSceneAssets/Scripts/SimpleCameraController.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4165 [Fogbugz 1328904] Fixing strange lanczos filter artifacts caused by too low epsilon
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/RTUpscale.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4184 [12.x][Shader Graph][Bugfix 1329021] Fix for Booleans or Enum keywords can't be created multiply on blackboard
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
Labels: Shader Graph

#3821 Fixed the fogbugz case 1318629
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, needs-backport-10.x, needs-backport-2021.1, ready-to-merge, universal

#4115 Fixed fogbugz case 1325911
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, needs-backport-10.x, needs-backport-2021.1, ready-to-merge, universal

#4188 Update changed meta files and pipeline assets.
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineResources.asset
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/Blit.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/BlitColorAndDepth.shader.meta
  com.unity.render-pipelines.universal/Shaders/Utils/CoreBlit.shader.meta
  com.unity.render-pipelines.universal/Shaders/Utils/CoreBlitColorAndDepth.shader.meta
Labels: HDRP, SRP, universal

#4183 Platform/graphics/fix urp test failures 1
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/026_Shader_PBRscene.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/132_DetailMapping.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/026_Shader_PBRscene.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/132_DetailMapping.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/008_AdditionalLights.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/026_Shader_PBRscene.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/008_AdditionalLights.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/026_Shader_PBRscene.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/038_Shader_TerrainBlend.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/038_Shader_TerrainBlend.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/035_Shader_TerrainShaders.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#4200 Update apt lists for Ubuntu jobs
  .yamato/_editor_pinning.yml
  .yamato/_editor_priming.yml
  .yamato/config/__shared.metafile
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/config/vv_perf_builtin.metafile
  .yamato/config/vv_perf_urp.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/postprocessing-linux-vulkan.yml
  .yamato/script/gfx_sdet_tools_revision.txt
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/urp_2d-linux-openglcore.yml
  .yamato/urp_2d-linux-vulkan.yml
  .yamato/urp_foundation-linux-openglcore.yml
  .yamato/urp_foundation-linux-vulkan.yml
  .yamato/urp_lighting-linux-openglcore.yml
  .yamato/urp_lighting-linux-vulkan.yml
  .yamato/urp_performance_boatattack-linux-vulkan.yml
  .yamato/urp_performance_lostcrypt-linux-vulkan.yml
  .yamato/urp_postpro-linux-openglcore.yml
  .yamato/urp_postpro-linux-vulkan.yml
  .yamato/urp_terrain-linux-openglcore.yml
  .yamato/urp_terrain-linux-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vikingvillage_builtin-linux-vulkan.yml
  .yamato/vikingvillage_urp-linux-vulkan.yml
Labels: sdet

#4201 [2021.1] Update ubuntu commands
  .yamato/_editor_pinning.yml
  .yamato/_editor_priming.yml
  .yamato/config/__shared.metafile
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/script/gfx_sdet_tools_revision.txt
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/urp_2d-linux-openglcore.yml
  .yamato/urp_2d-linux-vulkan.yml
  .yamato/urp_foundation-linux-openglcore.yml
  .yamato/urp_foundation-linux-vulkan.yml
  .yamato/urp_lighting-linux-openglcore.yml
  .yamato/urp_lighting-linux-vulkan.yml
  .yamato/urp_performance_boatattack-linux-vulkan.yml
  .yamato/urp_performance_lostcrypt-linux-vulkan.yml
  .yamato/urp_postpro-linux-openglcore.yml
  .yamato/urp_postpro-linux-vulkan.yml
  .yamato/urp_terrain-linux-openglcore.yml
  .yamato/urp_terrain-linux-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
Labels: sdet

#4203 [10.x.x] Update commands for ubuntu jobs
  .yamato/_editor_pinning.yml
  .yamato/_editor_priming.yml
  .yamato/config/__shared.metafile
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/script/gfx_sdet_tools_revision.txt
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/universal-linux-openglcore.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/urp_performance_lostcrypt-linux-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
Labels: sdet

#4198 Backport For Fix (Case 1318495) Tests no longer run after upgrade
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
  com.unity.render-pipelines.universal/Tests/Runtime/Light2DTests.cs
Labels: universal

#4209 Docs/generating shader includes
  com.unity.render-pipelines.core/Documentation~/TableOfContents.md
  com.unity.render-pipelines.core/Documentation~/generating-shader-includes.md
  com.unity.render-pipelines.high-definition/Documentation~/Menu-Items.md
Labels: Docs, HDRP, SRP

#4210 [HDRP] Film grain should not affect the alpha channel
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FinalPass.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4175 Fix compression asserts and L2 in Probe volume
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/DecodeSH.hlsl
Labels: HDRP, SRP

#4119 Fix for graph settings inspector switching
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
Labels: Shader Graph

#4186 [ShaderGraph] Fix for ObjectField focus and Node Selection "delete" ambiguity
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
Labels: Shader Graph

#4208 [VFX] 10.x.x backports
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXGUITests.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/LightingData.asset
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/ReflectionProbe-0.exr
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/ReflectionProbe-0.exr.meta
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/101_ShadergraphSampleScene/LightingData.asset
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/Block-SetAttributeFromMap.md
  com.unity.visualeffectgraph/Documentation~/Images/pcache-mesh-inspector.png
  com.unity.visualeffectgraph/Documentation~/Images/pcache-texture-inspector.png
  com.unity.visualeffectgraph/Documentation~/Images/point-cache-relax.gif
  com.unity.visualeffectgraph/Documentation~/Images/sdf-size-precision.gif
  com.unity.visualeffectgraph/Documentation~/Operator-PointCache.md
  com.unity.visualeffectgraph/Documentation~/OutputEventHandlers.md
  com.unity.visualeffectgraph/Documentation~/PointCacheBakeTool.md
  com.unity.visualeffectgraph/Documentation~/PointCaches.md
  com.unity.visualeffectgraph/Documentation~/TableOfContents.md
  com.unity.visualeffectgraph/Documentation~/point-cache-asset.md
  com.unity.visualeffectgraph/Documentation~/point-cache-bake-tool.md
  com.unity.visualeffectgraph/Documentation~/point-cache-in-vfx-graph.md
  com.unity.visualeffectgraph/Documentation~/representing-complex-shapes.md
  com.unity.visualeffectgraph/Documentation~/sample-content.md
  com.unity.visualeffectgraph/Documentation~/whats-new-10.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXCodeGenerator.cs
  com.unity.visualeffectgraph/Editor/FilterPopup/VFXFilterWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXComponentBoard.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXSRPSubOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/VFXOperator.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: testing, vfx

#4134 [HDRP] Add support for alpha channel in FXAA
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4054_FXAA-FP16Alpha.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4054_FXAA-FP16Alpha.unity.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FXAA.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FXAA.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FinalPass.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4217 Merge Hd/bugfix
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4054_FXAA-FP16Alpha.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4054_FXAA-FP16Alpha.unity.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FXAA.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FXAA.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FinalPass.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/RTUpscale.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/Distortion/ApplyDistortion.shader
  com.unity.template-hd/Assets/SampleSceneAssets/Scripts/SimpleCameraController.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1, testing

#4219 Update template images for nightly Lighting Editor tests.
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/151_Lighting_EnlightenLights.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/152_Lighting_EnlightenEnvironment.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/153_Lighting_EnlightenTerrain.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/151_Lighting_EnlightenLights.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/153_Lighting_EnlightenTerrain.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/151_Lighting_EnlightenLights.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/153_Lighting_EnlightenTerrain.png
Labels: testing, universal

#3966 [XPipeline]Consolidation for Material's Priority in URP and HDRP
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Renderer-And-Material-Priority.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/AdvancedOptionsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderQueue.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
Labels: HDRP, ready-to-merge, universal

#4218 [10.x.x Backport] Merge Hd/bugfix #4217
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4054_FXAA-FP16Alpha.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4054_FXAA-FP16Alpha.unity.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4054_FXAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4054_FXAA-FP16Alpha.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FXAA.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FXAA.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FinalPass.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/RTUpscale.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/Distortion/ApplyDistortion.shader
  com.unity.template-hd/Assets/SampleSceneAssets/Scripts/SimpleCameraController.cs
Labels: HDRP, testing

#4004 Fix issue in SimpleNoise node for big inputs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Noise/SimpleNoiseNode.cs
Labels: Shader Graph

#4221 [Performance] Update Viking Village revisions
  .yamato/all-vikingvillage_builtin.yml
  .yamato/all-vikingvillage_urp.yml
  .yamato/config/vv_perf_builtin.metafile
  .yamato/config/vv_perf_urp.metafile
  .yamato/vikingvillage_builtin-android-opengles3.yml
  .yamato/vikingvillage_builtin-android-vulkan.yml
  .yamato/vikingvillage_builtin-iphone-metal.yml
  .yamato/vikingvillage_builtin-linux-vulkan.yml
  .yamato/vikingvillage_builtin-osx-metal.yml
  .yamato/vikingvillage_builtin-win-dx11.yml
  .yamato/vikingvillage_builtin-win-dx12.yml
  .yamato/vikingvillage_builtin-win-vulkan.yml
  .yamato/vikingvillage_urp-android-opengles3.yml
  .yamato/vikingvillage_urp-android-vulkan.yml
  .yamato/vikingvillage_urp-iphone-metal.yml
  .yamato/vikingvillage_urp-linux-vulkan.yml
  .yamato/vikingvillage_urp-osx-metal.yml
  .yamato/vikingvillage_urp-win-dx11.yml
  .yamato/vikingvillage_urp-win-dx12.yml
  .yamato/vikingvillage_urp-win-vulkan.yml
Labels: sdet

#4022 Disable ACES tonemapping for HDR rendering on Adreno
  com.unity.render-pipelines.universal/Documentation~/post-processing-tonemapping.md
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
Labels: universal

#4051 [ShaderGraph] Custom Interpolator Thresholds
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/CustomInterpolatorTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/CustomInterpolatorTests.cs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/CustomInterpolatorThreshold.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/CustomInterpolatorThreshold.shadergraph.meta
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/ContextView.cs
  com.unity.shadergraph/Editor/ShaderGraphProjectSettings.cs
  com.unity.shadergraph/Editor/ShaderGraphProjectSettings.cs.meta
Labels: Shader Graph

#4222 Update ShaderGraph test project to use UniversalRenderer + material upgrader.
  TestProjects/ShaderGraph/Assets/ForwardRenderer.asset
  TestProjects/ShaderGraph/Assets/TestbedAssets/SRP/LWNoBatching.asset
  TestProjects/ShaderGraph/Assets/TestbedAssets/SRP/LightweightAsset.asset
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SampleCubemapCubeMapAsset.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SampleTexture2DArrayInline.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SampleTexture2DBinding.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SampleTexture2DInline.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SampleTexture3DBinding.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SampleTexture3DInline.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SamplerStateLinearClampedTexture2D.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SamplerStateLinearMirrorOnceTexture2D.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SamplerStateLinearRepeatTexture2D.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SamplerStatePointTexture2D.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/SamplerStateTrilinearirrorexture2D.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Texture/TexelSize.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Instanced/LitInstanced.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Instanced/SimpleLitInstanced.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Instanced/UnlitInstanced.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_/15.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_/16.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_/17.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_/18.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_/19.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_/20.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_/21.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_/22.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_/23.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_/24.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_X/15.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_X/16.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_X/17.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_X/18.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_X/19.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_X/20.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_X/21.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_X/22.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_X/23.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_X/24.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_XY/0.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_XY/1.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_XY/2.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_XY/3.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_XY/4.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_XY/5.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_XY/6.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_XY/7.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_XY/8.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_XY/9.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_Y/0.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_Y/1.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_Y/2.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_Y/3.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_Y/4.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_Y/5.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_Y/6.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_Y/7.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_Y/8.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/UV/Flipbook/Flipbook_Y/9.mat
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Utility/CustomFunctionString.mat
  TestProjects/ShaderGraph/ProjectSettings/URPProjectSettings.asset
Labels: Shader Graph, testing

#4230 Platform/graphics/fix urp test failures 2
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/005_LitBakedEmission.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/005_LitBakedEmission.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#4194 Did a quick pass on the built-in target to cleanup things and add some comments
  com.unity.render-pipelines.core/ShaderLibrary/ImageBasedLighting.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/LegacySurfaceVertex.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/LegacySurfaceVertex.hlsl.meta
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInLitSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInUnlitSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/Shim/HLSLSupportShim.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/Shim/InputsShim.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/Shim/Shims.hlsl
Labels: SRP, Shader Graph

#3849 [10.x][2020.3][SG] Update the SG package reference to Searcher to 4.3.2
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
Labels: Shader Graph

#4151 [1327978] Global Settings ignore the path set via Fix All in HDRP wizard
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/DefaultSettingsPanel.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
Labels: HDRP

#4225 Fake vendor latest graphics code and test it in the Katana ABV
  .yamato/_copycat.yml
Labels: needs-backport-2021.1, sdet

#4116 Narrow asset search to .asset files when upgrading ForwardRendererData into UniversalRendererData.
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ForwardToUniversalRendererPostprocessor.cs
Labels: universal

#4043 Add control of the subdivision of the APV structure
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Skin.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/SerializedProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickIndex.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeProfile.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePositioning.cs
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.core/Runtime/Utilities/MeshGizmo.cs
  com.unity.render-pipelines.core/Runtime/Utilities/MeshGizmo.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Lighting/ProbeVolumeMenuItems.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/ProbeVolumeMenuItems.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricMenuItem.cs
Labels: HDRP, SRP

#4189 Moved all APV related files to Experimental namespace
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Skin.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/SerializedProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickIndex.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickPool.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeProfile.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeAsset.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePositioning.cs
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightExplorerExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricMenuItem.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
Labels: HDRP, SRP

#4236 Backported the Reconstruct world space positions example (PR #2849). Plus other changes: upgrade instructions, requirements, what's new.
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-asset-depth-texture.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-shader-tutorial-create-place-gameobj.png
  com.unity.render-pipelines.universal/Documentation~/Images/shader-examples/urp-shader-tutorial-reconstruct-world-positions-from-depth.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-10-5-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new.md
  com.unity.render-pipelines.universal/Documentation~/writing-custom-shaders-urp.md
  com.unity.render-pipelines.universal/Documentation~/writing-shaders-urp-reconstruct-world-position.md
Labels: universal

#4238 Fixed compilation error due to bad auto merge.
  com.unity.render-pipelines.high-definition/Editor/Lighting/ProbeVolumeMenuItems.cs
Labels: HDRP, SRP

#4202 [XPipeline][URP]Light Inspector Drawer Skeleton
  com.unity.render-pipelines.universal/Editor/Lighting.meta
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Drawers.cs.meta
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Skin.cs.meta
Labels: universal

#4237 Update Vulkan's playmode reference image for URP Lighting - 005_LitBakedEmission
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/005_LitBakedEmission.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/005_LitBakedEmission.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/005_LitBakedEmission.png
Labels: testing, universal

#4178 Modify old Probe volume info box + add check on transform with multiple ref volume
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
Labels: HDRP, SRP

#4245 Added a link to the injection point diagram so you can click it to enlarge
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Injection-Points.md
Labels: Docs, HDRP, needs-backport-10.x, needs-backport-2021.1

#4227 Disable TAA sharpening on alpha
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4053_TAA-FP16Alpha.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntialiasing.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4252 Probe Volume: Wrap editor-only variable dataNeedsDilation in UNITY_ED…
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
Labels: HDRP

#4066 Updated requirements compatibility for HDRP and VFX Graph
  com.unity.render-pipelines.high-definition/Documentation~/System-Requirements.md
  com.unity.visualeffectgraph/Documentation~/System-Requirements.md
Labels: Docs, HDRP, needs-backport-2021.1, vfx

#4125 Changed default HDRP post process shader name to match C# volume name
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4247 Fixed the baking problem on master
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
Labels: SRP

#4130 Fixed Clear GBuffer frame setting.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4133 Fix Panini Projection for floating point color buffers (Case 1325845)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/PaniniProjection.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4141 Disabling alpha clipping for transparent materials in HDRP Material Samples
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/BlueGlass.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/GlassThin.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/OrangeSphereGlass.mat
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Materials/SoapBubble.mat
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4243 Revert replace of standalone image
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/005_LitBakedEmission.png
Labels: testing, universal

#4187 [XPipeline]Cleaning Light Inspector Code and using SerializedLight
  com.unity.render-pipelines.core/Editor/Lighting/ISerializedLight.cs
  com.unity.render-pipelines.core/Editor/Lighting/ISerializedLight.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Lighting/SerializedHDLight.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineSerializedLight.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineSerializedLight.cs.meta
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
Labels: HDRP, SRP, ready-to-merge, universal

#4191 Optimize asset loading for Probe Volume (close to 90% cost reduction)
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickIndex.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickPool.cs
Labels: HDRP, SRP

#4207 [HDRP] Adding missing camera toolips
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Rendering.Skin.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4220 Proper area light NaN fix
  com.unity.render-pipelines.core/ShaderLibrary/AreaLighting.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3840 RThandleSystem no longer fixes MSAA sample count
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Documentation~/TableOfContents.md
  com.unity.render-pipelines.core/Documentation~/rthandle-system-using.md
  com.unity.render-pipelines.core/Documentation~/whats-new-12.md
  com.unity.render-pipelines.core/Documentation~/whats-new.md
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceTexture.cs
  com.unity.render-pipelines.core/Runtime/Textures/BufferedRTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandles.cs
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/DrawRenderersCustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedFrameSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedRenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/VTBufferManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/FrameSettingsTest.cs
Labels: HDRP, SRP

#4121 Fix issue with OnDemand shadows assert getting incorrectly triggered
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowAtlas.cs
Labels: HDRP, needs-backport-2021.1

#4140 ]Fixed CustomPassUtils scaling issues when used with RTHandles allocated from a RenderTexture.
  com.unity.render-pipelines.core/Runtime/Textures/RTHandle.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#4224 Move APV Normal Bias on the volume systems + have probe volume CB and eliminate constants from index buffer.
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickIndex.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeProfile.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumesOptions.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumesOptions.cs.meta
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs.hlsl.meta
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
Labels: HDRP, SRP

#4253 Default black texture XR should be opaque (alpha = 1)
  com.unity.render-pipelines.core/Runtime/Textures/TextureXR.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#4258 Fix APV init issues with 0-sized index buffer
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
Labels: HDRP, SRP

#4244 Sg builtin/unlit alpha
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/CommonAssets/Materials/BI-Unlit.mat
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/CommonAssets/Materials/BI-Unlit.mat.meta
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/CommonAssets/Materials/BI-UnlitAlphaClip.mat
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/CommonAssets/Materials/BI-UnlitAlphaClip.mat.meta
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/CommonAssets/Shaders/Unlit.shadergraph
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/CommonAssets/Shaders/Unlit.shadergraph.meta
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/055_Lighting_BasicUnlit.png
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/055_Lighting_BasicUnlit.png
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/055_Lighting_BasicUnlit.png
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/055_Lighting_BasicUnlit.png
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/Scenes/055_Lighting_BasicUnlit.unity
  TestProjects/BuiltInGraphicsTest_Foundation/Assets/Scenes/055_Lighting_BasicUnlit.unity.meta
  TestProjects/BuiltInGraphicsTest_Foundation/ProjectSettings/EditorBuildSettings.asset
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInUnlitSubTarget.cs
Labels: Shader Graph, testing

#4082 [HDRP][Ray Tracing] Meshes added to the accel struct now default to dbl-sided when they mix single and dbl-sided materials
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, SRP, dxr, needs-backport-10.x, needs-backport-2021.1

#4091 [HDRP][Ray Tracing] Only meshes with HDRP materials are added to the acceleration structure
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, SRP, dxr, needs-backport-10.x, needs-backport-2021.1

#4195 Add support for upgrading clips in a Timeline
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Clip_Timeline_Standalone_WithMaterialProperties_OnlyUsedByUpgradable.anim
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Clip_Timeline_Standalone_WithMaterialProperties_OnlyUsedByUpgradable.anim.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_Standalone_WithMaterialProperties_OnlyUsedByUpgradable.playable
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_Standalone_WithMaterialProperties_OnlyUsedByUpgradable.playable.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_WithMaterialProperties_OnlyUsedByNotUpgradable.playable
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_WithMaterialProperties_OnlyUsedByNotUpgradable.playable.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_WithMaterialProperties_OnlyUsedByUpgradable.playable
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_WithMaterialProperties_OnlyUsedByUpgradable.playable.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_WithMaterialProperties_PotentiallyUpgradable.playable
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_WithMaterialProperties_PotentiallyUpgradable.playable.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_WithMaterialProperties_UsedByUpgradableAndNotUpgradable.playable
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_WithMaterialProperties_UsedByUpgradableAndNotUpgradable.playable.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_WithoutMaterialProperties.playable
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Clips/Timeline_WithoutMaterialProperties.playable.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_Standalone_WithMaterialProperties_Upgradable.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_Standalone_WithMaterialProperties_Upgradable.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_NoMaterials.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_NoMaterials.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_NoRenderer.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_NoRenderer.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_NotUpgradable.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_NotUpgradable.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_NotUpgradable_AlsoUsedByUpgradable.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_NotUpgradable_AlsoUsedByUpgradable.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_Upgradable.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_Upgradable.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_Upgradable_AlsoUsedByNotUpgradable.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithMaterialProperties_Upgradable_AlsoUsedByNotUpgradable.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithoutMaterialProperties.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Prefab_Timeline_WithoutMaterialProperties.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Variant_Timeline_WithMaterialProperties_NotUpgradable.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Variant_Timeline_WithMaterialProperties_NotUpgradable.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Variant_Timeline_WithMaterialProperties_Upgradable.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Variant_Timeline_WithMaterialProperties_Upgradable.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Variant_Timeline_WithoutMaterialProperties.prefab
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Prefabs/Timeline/Variant_Timeline_WithoutMaterialProperties.prefab.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Scenes/Scene_Timeline_WithMaterialProperties_Upgradable.unity
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Scenes/Scene_Timeline_WithMaterialProperties_Upgradable.unity.meta
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Scenes/Scene_Timeline_WithoutMaterialProperties.unity
  TestProjects/UniversalUpgradeTest/Assets/Editor Default Resources/Scenes/Scene_Timeline_WithoutMaterialProperties.unity.meta
  TestProjects/UniversalUpgradeTest/Assets/Test/Editor/AnimationClipUpgrader_IntegrationTests.cs
  TestProjects/UniversalUpgradeTest/Assets/Test/Editor/TestResources.cs
  TestProjects/UniversalUpgradeTest/Assets/Test/Editor/TestResources.cs.meta
  TestProjects/UniversalUpgradeTest/Packages/manifest.json
  TestProjects/UniversalUpgradeTest/Packages/packages-lock.json
  TestProjects/UniversalUpgradeTest/ProjectSettings/TimelineSettings.asset
  com.unity.render-pipelines.universal/Editor/AnimationClipUpgrader.cs
Labels: testing, universal

#4193 Backport #4192
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4053_TAA-FP16Alpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9800_Compositor.png
  com.unity.render-pipelines.core/ShaderLibrary/Refraction.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Refraction-in-HDRP.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/MicroShadowingEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Shadow/MicroShadowingEditor.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/RefractionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.Handlers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequest.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVRequestData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForwardUnlit.hlsl
Labels: HDRP, SRP, needs-backport-10.x, testing

#4267 Sg builtin remove inverse projection and view-projection shader library functions
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/Input.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/Shim/InputsShim.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/UnityInput.hlsl
Labels: Shader Graph, sdet, testing

#4259 Update revisions for update test jobs
  .yamato/all-urpupdate.yml
  .yamato/all-urpupdate_top_asset_store.yml
  .yamato/config/update_assetstore.metafile
  .yamato/config/update_template.metafile
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
Labels: sdet

#4265 Merge Hd/bugfix
  com.unity.render-pipelines.core/Runtime/Textures/RTHandle.cs
  com.unity.render-pipelines.core/ShaderLibrary/AreaLighting.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Rendering.Skin.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/PaniniProjection.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4261 [10.x.x] Fix constant buffer being stomped on by shadows during async tasks
  com.unity.render-pipelines.core/Runtime/Common/ConstantBuffer.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDDynamicShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
Labels: HDRP, SRP, needs-backport-2021.1

#4268 [10.x.x HDRP] Fix issue with raytracing resources not properly initialize
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-2021.1

#4226 Update documentation for Cascade Settings to be clear that it only
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
Labels: universal

#4206 [2021.1] Backport fixed memory leak
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCaster2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCasterGroup2DManager.cs
Labels: universal

#4282 Update changelog for built-in target
  com.unity.shadergraph/CHANGELOG.md
Labels: Shader Graph

#4264 Adding the selection and picking passes
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/DepthOnlyPass.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInLitSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInUnlitSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Templates/ShaderPass.template
Labels: Shader Graph

#4204 Change made to fix normal map issue
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
Labels: 2d, needs-backport-2021.1, universal

#4163 Tests/xr/automation perf job
  .yamato/_editor_priming.yml
  .yamato/_latest_editor_versions_trunk.metafile
  .yamato/all-urp_performance_boatattack.yml
  .yamato/config/__shared.metafile
  .yamato/config/_editor.metafile
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/urp_performance_boatattack-xrquest-opengles3.yml
  .yamato/urp_performance_boatattack-xrquest-vulkan.yml
Labels: sdet

#4214 Fixed a bug where a node could be both vertex and fragment exclusive …
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Implementation/NodeUtils.cs
  com.unity.shadergraph/Editor/Data/Nodes/ShaderStage.cs
Labels: Shader Graph

#4280 [HDRP] Fix shader warning when using Lanczos filter
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FinalPass.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1
