Repository Unity-Technologies/Graphics, pull requests merged in 2021-08, with the labels that each got.

#5266 Fixed blurry icons for zoom and warning in the gizmo overlay
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Inspector/VFXSlotContainerEditor.cs
Labels: vfx

#5221 added store actions API docs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
Labels: universal

#5139 Quality audit - Specify the way that Volume Gizmos are being rendered
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/AdditionalPropertiesPreferences.cs
  com.unity.render-pipelines.core/Editor/CoreRenderPipelinePreferences.cs
  com.unity.render-pipelines.core/Editor/ICoreRenderPipelinePreferencesProvider.cs
  com.unity.render-pipelines.core/Editor/ICoreRenderPipelinePreferencesProvider.cs.meta
  com.unity.render-pipelines.core/Editor/Volume/VolumeAdditionalGizmo.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeAdditionalGizmo.cs.meta
  com.unity.render-pipelines.core/Editor/Volume/VolumeGizmoDrawer.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeGizmoDrawer.cs.meta
  com.unity.render-pipelines.core/Editor/Volume/VolumesPreferences.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumesPreferences.cs.meta
  com.unity.render-pipelines.core/Runtime/Utilities/CoreRenderPipelinePreferences.cs
  com.unity.render-pipelines.core/Runtime/Volume/IVolume.cs
  com.unity.render-pipelines.core/Runtime/Volume/IVolume.cs.meta
  com.unity.render-pipelines.core/Runtime/Volume/Volume.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassVolumeGizmoDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassVolumeGizmoDrawer.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassVolume.cs
Labels: HDRP, SRP, needs-backport-2021.1

#5124 Vfx/doc/image fix
  com.unity.visualeffectgraph/Documentation~/whats-new-12.md
Labels: vfx

#5272 Fix issue with 0-sized dispatch with extremely low resolutions
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricLighting.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5240 Allow to switch Dynamic Resolution Upscale filter via script
  com.unity.render-pipelines.core/Runtime/Common/DynamicResolutionHandler.cs
  com.unity.render-pipelines.core/Runtime/Common/GlobalDynamicResolutionSettings.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
Labels: HDRP, SRP

#5230 [21.1 Backport][URP] Fix hole shadowing
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/071_Terrain_Holes.unity
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/071_Terrain_Holes/ModifyShadowSettings.cs
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/071_Terrain_Holes/ModifyShadowSettings.cs.meta
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/071_Terrain_HolesSettings.lighting
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/071_Terrain_HolesSettings.lighting.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: universal

#5279 Update test script for new DRS API
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4090_DRS-Hardware/SetCameraDrsFilter.cs
Labels: HDRP, testing

#5255 Merge Hd/bugfix
  com.unity.render-pipelines.core/Editor/Volume/Drawers/IntParameterDrawer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Projector.md
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Shader.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingIntersection.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5213 Do not create intermediate textures in scaled renderer for XR
  com.unity.render-pipelines.universal/Runtime/ForwardRenderer.cs
Labels: universal

#5275 Fix error when changing layer of Post Process Volume
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessManager.cs
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessVolume.cs
Labels: postprocessing v2

#5104 [VFX] Crash with subgraph
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXControllerTests.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXConvertSubgraph.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: testing, vfx

#5274 Fixed an issue with volumetric clouds on vulkan (case 1354802)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsAccumulation.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsFullResolution.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsLowResolution.cs
Labels: HDRP

#5285 Update Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5271 Don't interpolate ScalableSettingLevelParameter value
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalPostProcessingQualitySettings.cs
Labels: HDRP

#5276 Fix for lens model being taken into account if changed at runtime
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#5284 Fixed an issue where bloom filtering was wrong when using multiple cameras
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP

#5282 [HDRP] Fix custom pass delete operation
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassVolumeEditor.cs
Labels: HDRP

#5200 Small fix for shader analysis
  com.unity.shaderanalysis/Editor/Internal/PackagesUtilities.cs
  com.unity.shaderanalysis/Editor/Internal/SymbolicLinkUtilities.cs
Labels: HDRP

#5117 Using new array extensions api for decal projectors
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Decal/Entities/DecalChunk.cs
  com.unity.render-pipelines.universal/Runtime/Decal/Entities/DecalCreateDrawCallSystem.cs
  com.unity.render-pipelines.universal/Runtime/Decal/Entities/DecalEntityManager.cs
  com.unity.render-pipelines.universal/Runtime/Decal/Entities/DecalUpdateCachedSystem.cs
  com.unity.render-pipelines.universal/Runtime/Decal/Entities/DecalUpdateCullingGroupSystem.cs
Labels: universal

#5283 Fix for FXAA when rendertarget has alpha channel
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Runtime/Effects/FastApproximateAntialiasing.cs
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessLayer.cs
Labels: postprocessing v2

#5270 [HDRP] Fix viewport size when TAA is executed after dynamic res upscale
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP

#5278 Changing the clouds near plane and fade distance to accomodate users.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
Labels: HDRP

#5207 Fix artifacts in billboard LODs due to LOD smoothing/crossfade behavior
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
Labels: needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x, universal

#5290 Fix some HLSL warnings in Probe volume code
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
Labels: HDRP, SRP

#5256 Remove redundant upscale filters
  TestProjects/HDRP_PerformanceTests/Assets/Resources/HDRP Asset/Deferred.asset
  TestProjects/HDRP_PerformanceTests/Assets/Resources/HDRP Asset/Forward.asset
  TestProjects/HDRP_RuntimeTests/Assets/Common/HDRPAsset.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/HDRP_Test_Def_Clouds.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/005-DistortCloudsParallax/HDRP_DistortClouds.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor/HDRP_Test_Def_FP16_PPAlpha.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4090_DRS-Hardware/SetCameraDrsFilter.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4090_DRS-Hardware/drsAllFiltersScene.prefab
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4090_DRS-Hardware.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4091_DRS-Software.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8208_CustomPassNodes.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4090_DRS-Hardware.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4091_DRS-Software.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8208_CustomPassNodes.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4090_DRS-Hardware.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4091_DRS-Software.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4090_DRS-Hardware.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4091_DRS-Software.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8208_CustomPassNodes.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4090_DRS-Hardware.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4091_DRS-Software.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8208_CustomPassNodes.png.meta
  TestProjects/SRP_SmokeTest/Assets/PipelineAssets/New HDRenderPipelineAsset.asset
  com.unity.render-pipelines.core/Runtime/Common/DynamicResolutionHandler.cs
  com.unity.render-pipelines.core/Runtime/Common/GlobalDynamicResolutionSettings.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/FinalPass.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/RTUpscale.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/UpsampleScene.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/UpsampleScene.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_Drs_Hardware.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_Drs_Software.asset
Labels: HDRP, SRP, testing

#5287 [HDRP] Fix incorrect light list indexing when TAA is enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5289 Fix for bad light list access and MSAA mismatch
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/005-DistortCloudsParallax.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/005-DistortCloudsParallax/SkyandFogSettingsProfile.asset
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoopDef.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ShaderVariablesLightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, testing

#5298 Pin OSX OpenGLCore image
  .yamato/config/__shared.metafile
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/shadergraph_builtin_foundation-osx-openglcore.yml
  .yamato/shadergraph_builtin_lighting-osx-openglcore.yml
  .yamato/urp_2d-osx-openglcore.yml
  .yamato/urp_foundation-osx-openglcore.yml
  .yamato/urp_lighting-osx-openglcore.yml
  .yamato/urp_postpro-osx-openglcore.yml
  .yamato/urp_terrain-osx-openglcore.yml
  .yamato/vfx_urp-osx-openglcore.yml
Labels: sdet

#5300 [10.x.x] Pin OSX OpenGLCore image
  .yamato/config/__shared.metafile
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/universal-osx-openglcore.yml
  .yamato/vfx_urp-osx-openglcore.yml
Labels: sdet

#5299 [2021.1] Pin OSX OpenGLCore image
  .yamato/config/__shared.metafile
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/urp_2d-osx-openglcore.yml
  .yamato/urp_foundation-osx-openglcore.yml
  .yamato/urp_lighting-osx-openglcore.yml
  .yamato/urp_postpro-osx-openglcore.yml
  .yamato/urp_terrain-osx-openglcore.yml
  .yamato/vfx_urp-osx-openglcore.yml
Labels: sdet

#5295 Temporarily reverting recent change to always allocate L2
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
Labels: HDRP, SRP

#5056 Fixed _SHADOWS_SOFT variant to use multi_compile_fragment in gbuffer pass, forward speedtree shaders and forward WavingGrass shader
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/VFXGraph/Shaders/VFXPasses.template
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Billboard.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainDetailLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitAdd.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrass.shader
Labels: needs-backport-2021.1, universal

#5265 Partial fix for failing test
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowCasterGroup2DManager.cs
Labels: universal

#5291 Reduced the number shader variants for the volumetric clouds.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsAccumulation.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsFullResolution.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsLowResolution.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsShadows.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#4931 [HDRP] Add velocity delta input to master node
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/master-stack-eye.md
  com.unity.render-pipelines.high-definition/Documentation~/master-stack-fabric.md
  com.unity.render-pipelines.high-definition/Documentation~/master-stack-hair.md
  com.unity.render-pipelines.high-definition/Documentation~/master-stack-lit.md
  com.unity.render-pipelines.high-definition/Documentation~/master-stack-stacklit.md
  com.unity.render-pipelines.high-definition/Documentation~/master-stack-unlit.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/surface-options/velocity.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDBlockFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/TargetData/SystemData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/Vertex.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/MotionVectorVertexShaderCommon.hlsl
Labels: HDRP

#5304 Fix incorrect additional velocity for alembic
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/MotionVectorVertexShaderCommon.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5156 Fixed LUT initialization in Wireframe mode
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x

#5306 Merge Hd/bugfix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/MotionVectorVertexShaderCommon.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5178 Fixed incorrect shadow fade to baked shadows in deferred rendering mode.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
Labels: universal

#5302 Fixing the UI offset for additional properties
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
Labels: universal

#5206 Added custom render texture template in core
  com.unity.render-pipelines.core/Editor/CustomRenderTexture.meta
  com.unity.render-pipelines.core/Editor/CustomRenderTexture/CustomRenderTextureMenuItem.cs
  com.unity.render-pipelines.core/Editor/CustomRenderTexture/CustomRenderTextureMenuItem.cs.meta
  com.unity.render-pipelines.core/Editor/CustomRenderTexture/CustomRenderTextureShader.template
  com.unity.render-pipelines.core/Editor/CustomRenderTexture/CustomRenderTextureShader.template.meta
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: SRP

#5315 [Hdrp] Backport misc PRs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9701_CustomPass_DrawRenderers/Renderers_Test.shader
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2403_Area_TexturedRectLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2403_Area_TexturedRectLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2403_Area_TexturedRectLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9800_Compositor.png
  com.unity.render-pipelines.core/Editor/ShaderGenerator/ShaderTypeGeneration.cs
  com.unity.render-pipelines.core/Runtime/ShaderGenerator/ShaderGeneratorAttributes.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassRenderersShader.template
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassRenderersUtils.shader
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/TextureStackNode.cs
Labels: SRP, HDRP, Shader Graph, testing

#5310 Hdrp/velocity input docs
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/surface-options/velocity.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: HDRP

#5293 [10.x.x Backport][URP] Only interpolate SpeedTree verts when SpeedTree LOD fade mode is enabled
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
Labels: universal

#5308 Legacy compatible draworder
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/DrawObjectsPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/RenderObjectsPass.cs
Labels: universal

#5321 [HDRP] [LightExplorer] Fix missing refreshwhen editing property with a running paused editor.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightExplorerExtension.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5292 [2021.1 Backport][URP] Fix LOD fade behavior for SpeedTree8.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
Labels: universal

#5280 [10.x.x Backport][URP] Fix hole shadowing (#5162)…
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest/Assets/Scenes/071_Terrain_Holes.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/071_Terrain_Holes/ModifyShadowSettings.cs
  TestProjects/UniversalGraphicsTest/Assets/Scenes/071_Terrain_Holes/ModifyShadowSettings.cs.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/071_Terrain_HolesSettings.lighting
  TestProjects/UniversalGraphicsTest/Assets/Scenes/071_Terrain_HolesSettings.lighting.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: universal

#5327 Hdrp template warning fix
  com.unity.template-hd/Assets/SampleSceneAssets/Meshes/Structure/Prefab/FR_Platform_01.prefab
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
Labels: HDRP

#5296 Fixed Camera rendering when capture action and post procesing present
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/Vulkan/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/Vulkan/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/170_CameraCaptureAction.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/170_CameraCaptureAction.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/170_CameraCaptureAction.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/170_CameraCaptureAction.unity
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/170_CameraCaptureAction.unity.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/170_CameraCaptureAction/AddCaptureAction.cs
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/170_CameraCaptureAction/AddCaptureAction.cs.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/170_CameraCaptureAction/Material.mat
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/170_CameraCaptureAction/Material.mat.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.testing.urp/Scripts/Runtime/UniversalGraphicsTestSettings.cs
  com.unity.testing.urp/Scripts/Runtime/UniversalGraphicsTests.cs
Labels: universal

#5168 [2021.2+] Support undo of Global Settings assignation - case 1342987
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/HDGlobalSettingsTests.cs
  com.unity.render-pipelines.high-definition/Tests/Editor/HDGlobalSettingsTests.cs.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/Tests/Editor/UniversalGlobalSettingsTests.cs
  com.unity.render-pipelines.universal/Tests/Editor/UniversalGlobalSettingsTests.cs.meta
Labels: HDRP, universal

#5332 Defaulting the converters to be off by default
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConvertersEditor.cs
Labels: universal

#5337 Made the requirements.md page more relevant for URP 12, added the information about "SRP to core".
  com.unity.render-pipelines.universal/Documentation~/requirements.md
Labels: universal

#5335 fix for the additional props vertical layout issue
  com.unity.render-pipelines.core/Editor/CoreEditorDrawers.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
Labels: SRP, universal

#5333 [ShaderGraph] Reimplement redirect nodes using GTF
  com.unity.shadergraph/Editor/GraphUI/DataModel/RedirectNodeModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/RedirectNodeModel.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/ShaderGraphModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/ShaderGraphProcessor.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/ShaderGraphProcessor.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/ShaderGraphStencil.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/RedirectNodeCommands.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/RedirectNodeCommands.cs.meta
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphCommandOverrides.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphCommandOverrides.cs.meta
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphState.cs
  com.unity.shadergraph/Editor/GraphUI/Factory/ShaderGraphViewFactoryExtensions.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/RedirectNode.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/RedirectNode.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/RedirectableEdge.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/RedirectableEdge.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/RedirectNode.uss
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/RedirectNode.uss.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Views/ShaderGraphView.cs
  com.unity.shadergraph/Editor/GraphUI/Utilities/NodeModelExtensions.cs
  com.unity.shadergraph/Editor/GraphUI/Utilities/NodeModelExtensions.cs.meta
Labels: Shader Graph

#5008 [2021.2][ShaderGraph] Update the lerp node doc to address 1346593
  com.unity.shadergraph/Documentation~/Lerp-Node.md
Labels: Shader Graph

#5330 Added synonyms to nodes for better searchability
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Nodes/HDSceneColorNode.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Blend/BlendNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Mask/ChannelMaskNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Normal/NormalReconstructZNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Channel/CombineNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Channel/SwizzleNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/ConstantNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/Vector1Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/Vector2Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/Vector3Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Basic/Vector4Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/BitangentVectorNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/UVNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/ViewDirectionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/ViewVectorNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/SceneColorNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/SceneDepthNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Advanced/ModuloNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Advanced/NegateNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Advanced/ReciprocalNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Advanced/ReciprocalSquareRootNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Basic/AddNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Basic/DivideNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Basic/MultiplyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Basic/SquareRootNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Basic/SubtractNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Interpolation/LerpNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Range/ClampNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Range/OneMinusNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Range/SaturateNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Trigonometry/ArccosineNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Trigonometry/ArcsineNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Trigonometry/Arctangent2Node.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Trigonometry/ArctangentNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Trigonometry/DegreesToRadiansNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Trigonometry/HyperbolicCosineNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Trigonometry/HyperbolicSineNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Trigonometry/HyperbolicTangentNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Trigonometry/RadiansToDegreesNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/DotProductNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave/SawtoothWaveNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Math/Wave/TriangleWaveNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Noise/GradientNoiseNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Noise/SimpleNoiseNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Noise/VoronoiNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/Logic/BranchNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/Logic/ComparisonNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/Logic/IsFrontFaceNode.cs
Labels: HDRP, Shader Graph

#5316 [Universal] [fix] delete entry issue on Renderer List
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
Labels: universal

#5336 Fixed the volumetric clouds offset value bing clamped (case 1357318).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP

#5348 Make some volumetric clouds properties additional to reduce the number default parameters (case 1357926).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
Labels: HDRP

#5349 Fixed the fallback sun for volumetric clouds having a non null intensity (case 1353955).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
Labels: HDRP

#4942 Fixed undo in gradient picker (blackboard and graph)
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Blackboard/VFXBlackboard.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
Labels: vfx

#5326 Create VFX Editor window's UI on the correct callback
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
Labels: vfx

#5323 Hd/fix framesettings ordering
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/OverridableFrameSettingsArea.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP

#5201 [2021.2+] Explicit Preset support in SRP for Lights, Cameras, and Reflection Probes (case 1335979)
  com.unity.render-pipelines.core/Editor/Camera/CameraUI.Skin.cs
  com.unity.render-pipelines.core/Editor/ExpandedState.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Reflection-Probes-Intro.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.PresetInspector.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.PresetInspector.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDProbeEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDProbeUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.PhysicalCamera.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.PresetInspector.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.PresetInspector.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Rendering.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDEditorUtils.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/light-component.md
  com.unity.render-pipelines.universal/Documentation~/universal-additional-camera-data.md
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.PresetInspector.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.PresetInspector.cs.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Rendering.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.PresetInspector.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.PresetInspector.cs.meta
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineLightEditor.cs
Labels: HDRP, universal

#5344 Sprite targets weren't rendering correctly in game view. This is seem…
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteCustomLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteUnlitSubTarget.cs
  com.unity.shadergraph/CHANGELOG.md
Labels: Shader Graph, universal

#5355 Fixed name of Triangle-Wave-Node documentation file.
  com.unity.shadergraph/Documentation~/Triangle-Wave-Node.md
Labels: needs-backport-7.x, Shader Graph, needs-backport-10.x, needs-backport-2021.1

#5341 Offer a way to the user to control the ghosting reduction for the volumetric clouds (case 1357702).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsAccumulation.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
Labels: HDRP

#5322 Doc 3004
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/BakedLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/Lit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesExtra.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesSimpleLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesUnlit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/SimpleLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/Unlit.png
  com.unity.render-pipelines.universal/Documentation~/baked-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-unlit-shader.md
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
Labels: Docs, universal, needs-backport-10.x, needs-backport-2021.1

#5208 Fix for bug with normal depth rendering
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: universal, 2d, needs-backport-2021.1

#5345 Fixed the earth curvature not being properly taken into account when evaluating the sun attenuation (case 1357927).
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricClouds.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
Labels: HDRP

#5359 Add ValidationConfig.json.meta
  com.unity.render-pipelines.high-definition-config/ValidationConfig.json
  com.unity.render-pipelines.high-definition/ValidationConfig.json
Labels: HDRP

#5354 Added a parameter to control the vertical shape offset of the volumetric clouds (case 1358528)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
Labels: HDRP

#5309 [Yamato] Add extended log parsing to OSX jobs
  .yamato/config/__shared.metafile
  .yamato/script/log_scripts/log_parser.py
  .yamato/script/log_scripts/utils/execution_log_patterns.py
  .yamato/script/log_scripts/utils/utr_log_patterns.py
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/shadergraph_builtin_foundation-osx-openglcore.yml
  .yamato/shadergraph_builtin_lighting-osx-openglcore.yml
  .yamato/urp_2d-osx-openglcore.yml
  .yamato/urp_foundation-osx-openglcore.yml
  .yamato/urp_lighting-osx-openglcore.yml
  .yamato/urp_postpro-osx-openglcore.yml
  .yamato/urp_terrain-osx-openglcore.yml
  .yamato/vfx_urp-osx-openglcore.yml
Labels: sdet

#5375 Fixed Bug That Prevented Sclera Iris Blend node from being added
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/Node/ScleraIrisBlend.cs
Labels: HDRP

#5377 Update formatting config
  .editorconfig
  .repoconfig
  .yamato/_formatting.yml
  com.unity.render-pipelines.universal/Editor/Converter/ReadonlyMaterialConverter.cs
Labels: universal, sdet

#5379 Update formatting config
  .editorconfig
  .repoconfig
  .yamato/_formatting.yml
Labels: sdet

#2146 Adding missing HDR tags in Unlit and ParticlesUnlit shaders
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlit.shader
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
Labels: universal

#5387 [2021.1] Fixed name of Triangle-Wave-Node documentation file. (#5355)
  com.unity.shadergraph/Documentation~/Triangle-Wave-Node.md
Labels: Shader Graph, Docs

#5391 Exclude templates from formatting checks
  .repoconfig
Labels: sdet

#5394 Moved Eye Index & other nodes to correct location in ToC
  com.unity.shadergraph/Documentation~/TableOfContents.md
Labels: Shader Graph, Docs, ready-to-merge

#5386 [10.x.x] Fixed name of Triangle-Wave-Node documentation file. (#5355)
  com.unity.shadergraph/Documentation~/Triangle-Wave-Node.md
Labels: Shader Graph, Docs

#5396 Created new Input > Lighting section in ToC
  com.unity.shadergraph/Documentation~/TableOfContents.md
Labels: needs-backport-7.x, Shader Graph, Docs, needs-backport-10.x, needs-backport-2021.1

#5363 Reduced the volumetric clouds pattern repetition frequency (case 1358717)
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricCloudsShadowsBake.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricCloudsShadowsBake.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricCloudsShadowsBake.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricCloudsShadowsBake.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5014_VolumetricCloudsBanding.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricCloudsShadowsBake.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5014_VolumetricCloudsBanding.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
Labels: HDRP

#5039 Fix depthDescriptor.bindMS condition
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#5364 Bugfix 1357311: Fixed old ray tracing material conversion
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5385 Temporary fix for test 2501 failure
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2501_LightLayers.unity
Labels: HDRP, testing

#5328 Universal/doc 3444 urp shaderui screenshots
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/BakedLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/Lit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesExtra.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesSimpleLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesUnlit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/SimpleLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/Unlit.png
  com.unity.render-pipelines.universal/Documentation~/particles-unlit-shader.md
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
Labels: Docs, universal

#5058 7.x.x/fix for memory leak
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Light2DBlendStyle.cs
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/ShadowCaster2D.cs
Labels: universal

#5383 Added an option to render screen space global illumination in half resolution to achieve real-time compatible performance in high resolutions (case 1353727).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingSubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DiffuseDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingLightLoop.hlsl
Labels: HDRP

#5398 [10.x.x] Backport sg doc fix 1350650 - Created new Input > Lighting section in ToC #5396
  com.unity.shadergraph/Documentation~/TableOfContents.md
Labels: Shader Graph, Docs

#5399 [2021.1] Backport sg doc fix 1350650 - Created new Input > Lighting section in ToC #5396
  com.unity.shadergraph/Documentation~/TableOfContents.md
Labels: Shader Graph, Docs

#5408 Moved Instance ID and Vertex ID to correct TOC location
  com.unity.shadergraph/Documentation~/TableOfContents.md
Labels: Shader Graph, Docs

#5406 Add release notes converter to srp2core pipelines
  .yamato/_copycat.yml
Labels: sdet

#5407 Add release notes converter to CI
  .yamato/_copycat.yml
Labels: sdet

#5358 [7.x.x] Fixed name of Triangle-Wave-Node documentation file. (#5355)
  com.unity.shadergraph/Documentation~/Triangle-Wave-Node.md
Labels: Shader Graph, Docs

#5397 [7.x.x] Backport sg doc fix 1350650 - Created new Input > Lighting section in ToC #5396
  com.unity.shadergraph/Documentation~/TableOfContents.md
Labels: Shader Graph, Docs

#5245 fixed TerrainLit being lighter on mobile
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/GlobalIllumination.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: universal, needs-backport-10.x, needs-backport-2021.1

#5373 [Fogbugz # 1358794] Fixing lens flare DLSS and TAUU scaling
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/Shaders/LensFlareCommon.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/LensFlareDataDriven.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: SRP, HDRP

#5392 Doc 3004 (#5322)
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/BakedLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/Lit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesExtra.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesSimpleLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/ParticlesUnlit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/SimpleLit.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Shaders/Unlit.png
  com.unity.render-pipelines.universal/Documentation~/baked-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-unlit-shader.md
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
Labels: universal

#5311 2021.1/universal/deferred soft shadow variant fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Billboard.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainDetailLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitAdd.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrass.shader
Labels: universal

#5388 Misc fixes for APV
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.VirtualOffset.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
Labels: SRP, HDRP

#5424 Make some debug mip bias functions internal, they shouldnt be public.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP

#5370 [Fogbugz 1358506] Fixing shader graph codegen of preview shader hybrid v2, using hybrid…
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Processors/PropertyCollector.cs
Labels: HDRP, Shader Graph, needs-backport-10.x, needs-backport-2021.1

#5273 Update DRS docs and TAAU
  com.unity.render-pipelines.high-definition/Documentation~/Dynamic-Resolution.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/DynamicRes_SidebySide_AB.png
Labels: HDRP

#5418 Fix undo on Probe Volume fitting operation
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#5365 Bugfix 1358480: Fixed missing tooltip for "Tessellation Mode"
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/TessellationOptionsUIBlock.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5319 [HDRP] Fix HD template (particularly visible in path tracing)
  com.unity.template-hd/Assets/SampleSceneAssets/Meshes/Props/Lights/Prefab/CeilingLamp_Lamp_01.prefab
Labels: SRP, HDRP

#5338 Update TableOfContents.md
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/MatCap.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Propagating-NaNs.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Debug.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10.md
Labels: HDRP

#5343 Whats New 12 doc review
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: HDRP

#5381 updated limitations section
  com.unity.visualeffectgraph/Documentation~/Operator-SampleBuffer.md
Labels: vfx

#5429 Update the dynamic resolution note on Upgrade guide.
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
Labels: HDRP

#4777 In radius subgraph
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Samples~/VFXGraphAdditions/Subgraphs/Operators/Is Inside (Sphere).vfxoperator
  com.unity.visualeffectgraph/Samples~/VFXGraphAdditions/Subgraphs/Operators/Is Inside (Sphere).vfxoperator.meta
  com.unity.visualeffectgraph/Samples~/VFXGraphAdditions/Subgraphs/Operators/Is Inside.vfxoperator
  com.unity.visualeffectgraph/Samples~/VFXGraphAdditions/Subgraphs/Operators/Is Inside.vfxoperator.meta
Labels: vfx

#5420 Fix issues that prevented that forced us to allocate always for L2 even if APV uses L1
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
Labels: SRP, HDRP

#4865 [HDRP][VT] Allow VT to use the new inline anisotropic sampler
  com.unity.render-pipelines.core/ShaderLibrary/TextureStack.hlsl
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
Labels: SRP, HDRP, Shader Graph

#5209 [HDRP] Add a built-in custom pass to draw object IDs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9902_AOV_buffers2.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9902_AOV_buffers2/CustomPassMaterial.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9902_AOV_buffers2/CustomPassMaterial.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9902_AOV_buffers2/ObjectIDScript.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Creating.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Custom_Pass_ObjectID.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/DrawRenderersCustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/ObjectIDCustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/ObjectIDCustomPassDrawer.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/ObjectIDCustomPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/ObjectIDCustomPass.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/SolidColor.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/SolidColor.shadergraph.meta
Labels: HDRP, testing

#5262 Ps5/raytracing
  TestProjects/HDRP_DXR_Tests/ProjectSettings/ProjectSettings.asset
  com.unity.render-pipelines.high-definition/Editor/Lighting/AmbientOcclusionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/PathTracing/PathTracingEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RecursiveRenderingEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/HDProjectSettings.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingRecursiveRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Common/RayBinning.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/CountTracedRays.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/DebugLightCluster.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/DebugLightCluster.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DiffuseShadowDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/ReflectionDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/SimpleDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayMarching.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingAmbientOcclusion.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingLightCluster.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingReflectionFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadowFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/SubSurface/RayTracingSubSurface.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/ValidationConfig.json
  com.unity.shadergraph/Editor/Generation/Enumerations/Platform.cs
Labels: HDRP, Shader Graph, testing

#5425 [VFX] Unexpected public API
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Utility/VFXHDRPSettingsUtility.cs
Labels: HDRP

#5427 Merge Hd/bugfix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightExplorerExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/TessellationOptionsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/OverridableFrameSettingsArea.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: SRP, HDRP, testing

#5460 [10.x.x Backport][HDRP] Backport various PRs
  com.unity.render-pipelines.core/Editor/Volume/Drawers/IntParameterDrawer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Projector.md
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Shader.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightExplorerExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/Node/ScleraIrisBlend.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/MotionVectorVertexShaderCommon.hlsl
Labels: SRP, HDRP

#5352 Added instructions for enabling Runtime Debug Shaders in order to use…
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
Labels: HDRP, ready-to-merge

#5444 Adding a null check as safeguard
  com.unity.render-pipelines.universal/Editor/Converter/ReadonlyMaterialConverter.cs
Labels: universal

#5430 Make shadow cascade debug colors match editor UI colors.
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2315_Shadow_Cascades.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2315_Shadow_Cascades.png
  com.unity.render-pipelines.core/Editor/Lighting/Shadow/ShadowCascadeGUI.cs
  com.unity.render-pipelines.core/ShaderLibrary/Debug.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Debug/Debugging3D.hlsl
Labels: SRP, HDRP, universal

#5463 Fixed a null ref exception when no opaque objects are rendered.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5470 Allow negative wind speed parameter
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Sky/VisualEnvironmentEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/VisualEnvironment.cs
Labels: HDRP

#5099 VFX Multi-selection and automatic attach on selection
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXPickerTests.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXPickerTests.cs.meta
  com.unity.template-hd/Assets/SampleSceneAssets/TutorialInfo/Icons/HDIcon.png
  com.unity.template-hd/Assets/SampleSceneAssets/TutorialInfo/Icons/Help_Icon.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-0_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-1_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-2_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-3_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-4_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-5_comp_dir.png
  com.unity.template-hd/Assets/Scenes/SampleScene/Lightmap-8_comp_dir.png
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/Images/Block-CollideWithCylinderMain.png
  com.unity.visualeffectgraph/Editor/GraphView/VFXComponentBoard.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXAttachPanel.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXAttachPanel.cs.meta
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXPicker.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXPicker.cs.meta
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Inspector/AdvancedVisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-dark.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-dark.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-dark@2x.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-dark@2x.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-light.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-light.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-light@2x.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Locked-light@2x.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-dark.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-dark.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-dark@2x.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-dark@2x.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-light.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-light.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-light@2x.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/Unlocked-light@2x.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/uss/VFXAttachPanel.uss
  com.unity.visualeffectgraph/Editor/UIResources/uss/VFXAttachPanel.uss.meta
  com.unity.visualeffectgraph/Editor/UIResources/uss/VFXComponentBoard.uss
  com.unity.visualeffectgraph/Editor/UIResources/uss/VFXView-dark.uss
  com.unity.visualeffectgraph/Editor/UIResources/uss/VFXView-light.uss
  com.unity.visualeffectgraph/Editor/UIResources/uss/VFXView.uss
  com.unity.visualeffectgraph/Editor/UIResources/uxml/VFXAttachPanel.uxml
  com.unity.visualeffectgraph/Editor/UIResources/uxml/VFXAttachPanel.uxml.meta
  com.unity.visualeffectgraph/Editor/UIResources/uxml/VFXComponentBoard.uxml
  com.unity.visualeffectgraph/Editor/Utilities/EventTester/VFXEventTesterWindow.cs
Labels: vfx

#5410 UniversalRendererData GUID fix
  TestProjects/UniversalGraphicsTest_2D/Assets/CommonAssets/ForwardRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/CommonAssets/DeferredRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/CommonAssets/DeferredRenderer_AccurateGBuffer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/CommonAssets/DeferredRenderer_RenderPass.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/CommonAssets/ForwardRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/CommonAssets/ForwardRenderer_RenderPass.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/CommonAssets/UniversalRPAssetBackBuffer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/052_LWCallbacks/CallbackTestRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/126_RendererFeatureActive/Test_126_Renderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/126_RendererFeatureActive/Test_126_Renderer_RenderPass.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/200_Assets/Renderers/DepthNormalsRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/200_Assets/Renderers/DepthRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/200_Assets/Renderers/SSAO_DeferredRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/200_Assets/Renderers/SSAO_DeferredRenderer_RenderPass.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/200_Assets/Renderers/SSAO_DepthNormalRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/200_Assets/Renderers/SSAO_DepthRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/206_Motion_Vectors/MotionVectorRenderer.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/DBufferDeferred.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/DBufferForward.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/ScreenSpaceDeferred.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/ScreenSpaceForward.asset
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/245_Normal_Reconstruction/DrawNormalsRenderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/CommonAssets/DeferredRenderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/CommonAssets/ForwardRenderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/CommonAssets/UniversalRPAsset.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/CommonAssets/UniversalRPAssetBackBuffer.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/CommonAssets/DeferredRenderer.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/CommonAssets/ForwardRenderer.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/UniversalRenderPipelineGlobalSettings.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/UniversalRenderPipelineGlobalSettings.asset.meta
  TestProjects/UniversalGraphicsTest_Terrain/Assets/UniversalRenderPipelineGlobalSettings.asset
  TestProjects/UniversalGraphicsTest_Terrain/Assets/UniversalRenderPipelineGlobalSettings.asset.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ForwardToUniversalRendererPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/RendererDataPatcher.cs
  com.unity.render-pipelines.universal/Editor/RendererDataPatcher.cs.meta
  com.unity.render-pipelines.universal/Runtime/Data/ForwardRendererData.asset
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRendererData.asset
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs.meta
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs.meta
Labels: universal

#5356 Use SafeNormalize for normals sampled from XYZ (non-DXT5nm/ASTCnm) no…
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/ShaderVariablesFunctions.hlsl
Labels: universal

#5389 X pipeline - When editing a light preset, the light type was disabled
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/SerializedHDLight.cs
Labels: SRP, HDRP, universal

#5466 Fix slope scale depth bias when depth offset is ON
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDepthOnly.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5439 [HDRP] Fix spot shadow sampling when using custom spot angle
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5472 Fix darkening in SSR fade
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5360 Backport of Opt-out of builtin auto baking of ambient/reflection probe. (#4324)
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP

#5411 [2021.1] Fixed a serialization bug wrt PVT property flags when using subgraphs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
Labels: Shader Graph

#5149 [VFX] Mobile fixes
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/VFX/ConfigPlanarPrimitive.template.hlsl
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Shaders/ParticleHexahedron/Pass.template
  com.unity.visualeffectgraph/Shaders/ParticlePlanarPrimitives/PassGS.template
  com.unity.visualeffectgraph/Shaders/ParticlePlanarPrimitives/PassVS.template
  com.unity.visualeffectgraph/Shaders/VFXCommon.hlsl
Labels: HDRP, universal, vfx

#5441 [ShaderGraph] [2022.1] Fix for exception thrown when changing packages with embedded subgraphs
  com.unity.shadergraph/Editor/Drawing/SearchWindowProvider.cs
Labels: Shader Graph
