Repository Unity-Technologies/Graphics, pull requests merged in 2021-03, with the labels that each got.

#3551 Fixed Shadergraph Unlit Custom Shadows
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/Android/Vulkan/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/Android/Vulkan/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/146_Unlit_Custom_Shadows.png
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/146_Unlit_Custom_Shadows.png.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows.unity
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows.unity.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows/CustomLighting.hlsl
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows/CustomLighting.hlsl.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows/UnlitCustomShadows.mat
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows/UnlitCustomShadows.mat.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows/Unlit_Shadows_MainLight.shadergraph
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_Unlit_Custom_Shadows/Unlit_Shadows_MainLight.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Lighting/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalStructFields.cs
Labels: Shader Graph, testing, universal

#3590 Fixed SafeNormalize to correctly work with half
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: SRP, universal

#3681 Hd/alpha to mask frame setting fix 1315452
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/OverridableFrameSettingsArea.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3508 Cleanup of render graph post processing code
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP

#3683 Hd/rough distortion fix 1317952
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3390 [XPipeline]Reorder GameObject > Volumes, Light & VFX
  com.unity.render-pipelines.core/Editor/Volume/VolumeMenuItems.cs
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Density-Volume.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Visual-Environment.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-To-HDRP.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/ReflectionMenuItem.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricMenuItem.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalMenuItems.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DMenus.cs
  com.unity.visualeffectgraph/Editor/VFXAssetEditorUtility.cs
Labels: HDRP, SRP, ready-to-merge, universal, vfx

#3542 [Xpipeline]Improvements on Volume Additional Properties
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/AmbientOcclusionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/BloomEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/DepthOfFieldEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ExposureEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/MotionBlurEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/AtmosphericScattering/FogEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/HDRISky/HDRISkyEditor.cs
  com.unity.render-pipelines.universal/Runtime/Data/ForwardRendererData.asset
Labels: HDRP, SRP, ready-to-merge, universal

#3586 Change volume gizmo alpha value to .125
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Utilities/CoreRenderPipelinePreferences.cs
Labels: SRP, ready-to-merge

#3668 Fixed an issue in the planar reflection probe convolution.
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2220_SmoothPlanarReflection.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/PlanarReflectionFiltering.compute
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3602 Fix Emissive Color Override Debug Display (Case 1313123)
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2011_ForwardEmissiveForDeferred/UnlitSGEmissive.shadergraph
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/PassDescriptorExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
Labels: HDRP, testing

#3624 Volumetric Fog and Volumetric Cloud bug fixes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP

#3636 Moved the content of the HDRP render graph debug panel to the Rendering debug pane
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#3688 Fix keyword backport
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
Labels: HDRP, needs-backport-2021.1

#3689 [HDRP] Fix issue with physically-based DoF and transparent materials with depth writes on
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3594 [HDRP][PathTracing] Changed maximum intensity parameter from clamped to positive value
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: HDRP, SRP, dxr, needs-backport-2021.1

#3103 Fixed fogbugz case 1303572
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: needs-backport-10.x, needs-backport-2021.1, universal

#3696 Added custom material inspector documentation
  com.unity.render-pipelines.core/Documentation~/TableOfContents.md
  com.unity.render-pipelines.core/Documentation~/custom-material-inspector.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/custom-material-inspector-decal-example.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/custom-material-inspector-lit-example.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/custom-material-inspector-node-settings-example.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/custom-material-inspector-ui-block-example.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/custom-material-inspector-ui-block-foldout-example.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/custom-material-inspector-ui-blocks.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/custom-material-inspector-unlit-example.png
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/hdrp-custom-material-inspector.md
Labels: Docs, HDRP, SRP, needs-backport-2021.1

#3658 Add testing.xr to formatting checks
  .repoconfig
  com.unity.testing.xr/Tests/Editor/InjectMockHMDTest.cs
  com.unity.testing.xr/XR/Loaders/MockHMDLoader.asset
  com.unity.testing.xr/XR/Loaders/MockHMDLoader.asset.meta
  com.unity.testing.xr/XR/Settings/MockHMDBuildSettings.asset
  com.unity.testing.xr/XR/Settings/MockHMDBuildSettings.asset.meta
Labels: yamato

#3703 [HDRP] Fix case sensitives raytracing include
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingIntersection.hlsl
Labels: HDRP

#3695 Hd/fix access current hdrp asset for default frame settings 1317968
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3700 Making the FrameSettingsAttribute field more robust. Using it in othe…
  com.unity.render-pipelines.high-definition/Runtime/Core/Debugging/FrameSettingsFieldAttribute.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettingsHistory.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3243 Hdrp/fix 1299233 ies resize
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightCookieManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/PowerOfTwoTextureAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture2DAtlas.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3693 Fix SSGI frame setting not greyed out while SSGI is disabled in HDRP Asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3682 quick regression fix
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Generation/Processors/CustomInterpolatorUtils.cs
Labels: Shader Graph

#3664 Fix for shader variant max exceeded error
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Implementation/GraphObject.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
Labels: Shader Graph, backported-10.x

#3687 [HDRP] Merge Hd/bugfix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/OverridableFrameSettingsArea.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3609 Missing lighting quality settings for SSGI (case 1312067).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
Labels: HDRP

#3706 [Backport 10.x.x][HDRP] various backport PR
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2220_SmoothPlanarReflection.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2203_PlanarProbes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2220_SmoothPlanarReflection.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/OverridableFrameSettingsArea.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Debugging/FrameSettingsFieldAttribute.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightCookieManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/PlanarReflectionFiltering.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettingsHistory.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/PowerOfTwoTextureAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture2DAtlas.cs
Labels: HDRP, testing

#3209 [2021.1] Fixed terrain and speed tree shaders missing XR macros
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: XR, ready-to-merge, universal

#3715 Label sdet folders
  .github/labeler.yml
Labels: sdet

#3572 [XPipeline]Camera editor unification on HDRP
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
Labels: HDRP, ready-to-merge

#3720 [PPv2] Fixes for Mobile & WebGL platforms
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Runtime/Effects/AmbientOcclusion.cs
  com.unity.postprocessing/PostProcessing/Shaders/Builtins/FinalPass.shader
Labels: postprocessing v2

#3097 [2021.1 Backport] Backport various HDRP PR to 2020.1
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/FogFallbackRT.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/FogFallbackRT.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/Volume_02.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/Volume_03.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/Volume_03.asset.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/Volume_Base.asset
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5001_Fog_FogFallback.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5001_Fog_FogFallback.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5001_Fog_FogFallback.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5001_Fog_FogFallback.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5001_Fog_FogFallback.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, testing

#3678 UniversalGraphicsTest2D menu items and missing files
  TestProjects/UniversalGraphicsTest_2D/Assets/CommonAssets/Scripts.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/CommonAssets/Scripts/AssemblyReference.asmref
  TestProjects/UniversalGraphicsTest_2D/Assets/CommonAssets/Scripts/AssemblyReference.asmref.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/CommonAssets/Scripts/Editor.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/CommonAssets/Scripts/Editor/AdditionalMenuItems.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/CommonAssets/Scripts/Editor/AdditionalMenuItems.cs.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/056_2D_Lights-Shadows.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/056_2D_Lights-Shadows.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/056_2D_Lights.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/056_2D_Lights.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/056_2D_Lights_Shader_Graph.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/056_2D_Lights_Shader_Graph.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/069_2D_Forward_Shader_Compatibility_Forward.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/069_2D_Forward_Shader_Compatibility_Forward.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/070_2D_Forward_Shader_Compatibility_2D.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/070_2D_Forward_Shader_Compatibility_2D.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/069_2D_Forward_Shader_Compatibility_Forward.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/069_2D_Forward_Shader_Compatibility_Forward.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/060_2D_Renderer_Feature.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/060_2D_Renderer_Feature.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/060_2D_Renderer_Feature.png.meta
Labels: testing, universal

#3581 [2021.2] Fixing various warnings/errors in URP's Particles Shaders
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/046_Camera_OpaqueTexture/CameraOpaque.shader
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/130_UnityMatrixIVP/WorldReconstruction.shader
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Lighting.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Particles.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/ParticlesInstancing.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/ShaderVariablesFunctions.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/Shadows.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/SurfaceInput.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/UnityGBuffer.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/UnityInput.hlsl
  com.unity.render-pipelines.universal/Shaders/LitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/LitGBufferPass.hlsl
  com.unity.render-pipelines.universal/Shaders/LitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7BillboardPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesDepthNormalsPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesInput.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLitGbufferPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLitGBufferPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/SimpleLitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/SimpleLitGBufferPass.hlsl
  com.unity.render-pipelines.universal/Shaders/SimpleLitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: universal

#3651 [Fix] case 1313954: Add TestRunnerBake tag to 006 scene in _Lighting project
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/006_LitShaderLightProbes.unity
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/006_LitShaderLightProbes.unity.meta
Labels: testing, universal

#3707 Avoid unnecessary RenderGraphBuilder.ReadTexture in the "Set Final Target" pass.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3735 [HDRP] Merge Hd/bugfix #3222
  com.unity.render-pipelines.core/Editor/LookDev/LookDev.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/hair-shader.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessBuild.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfileShaderProperty.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/UpsampleTransparent.shader
Labels: HDRP, SRP

#3589 [XPipeline]UniversalRenderPipelineSerializedCamera class
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/Camera.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraEditor.cs.meta
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineSerializedCamera.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineSerializedCamera.cs.meta
Labels: ready-to-merge, universal

#3686 [VFX]Rollback Top level menus
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/PointCacheBakeTool.md
  com.unity.visualeffectgraph/Documentation~/VisualEffectGraphAsset.md
  com.unity.visualeffectgraph/Documentation~/VisualEffectGraphWindow.md
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/Utilities/pCache/BakeTool/PointCacheBakeTool.cs
  com.unity.visualeffectgraph/Editor/Utils/VFXDebugWindow.cs
  com.unity.visualeffectgraph/Editor/VFXAssetEditorUtility.cs
Labels: ready-to-merge, vfx

#3738 Added missing define guard for graphics device type
  com.unity.postprocessing/PostProcessing/Runtime/Utils/RuntimeUtilities.cs
Labels: needs-backport-10.x, postprocessing v2

#3740 [Yamato] Use binaries for priming jobs
  .yamato/_abv.yml
  .yamato/_editor_priming.yml
  .yamato/script/gfx_sdet_tools_revision.txt
Labels: sdet

#3726 Add gfx-qa-foundation to URP codeowners
  .github/CODEOWNERS
Labels: sdet

#3620 Shadergraph/documentation/sg-doc-2627
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/View-Direction-Node.md
  com.unity.shadergraph/Documentation~/View-Vector-Node.md
Labels: Shader Graph

#3719 Cleanup of Render Graph PostProcess code 2
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#3746 [Backport 2021.1][HDRP] Misc HDRP PR backport
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 1.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 2.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 3.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal 4.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedDecal.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/002-HDMaterials/AnimatedMeshDecal.mat
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1705_Decals-stress-test.png
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.core/Tests/Editor/Volumes/VolumeComponentTests.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Anti-Aliasing.md
  com.unity.render-pipelines.high-definition/Documentation~/Layered-Lit-Shader.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDBakedReflectionSystem.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/Volume/InfluenceVolumeUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/MaterialUIBlockList.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/DensityVolume.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/DensityVolumeManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingReflection.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/CameraCache.cs
Labels: HDRP, SRP, testing

#3553 URP Profiling scope improvements.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ForwardLights.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#2864 FinalPostProcessing, AfterRendering -> AfterRenderingPostProcessing
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/PostProcessPasses.cs
Labels: needs-backport-2021.1, universal

#3750 [Backport 2021.1][HDRP] Backport Merge Hd/bugfix #3493
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1550_3dsMax.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1550_3dsMax.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1550_3dsMax.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1550_3dsMax.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1451_AxF_SVBRDF.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1550_3dsMax.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2106_GI_EmissionSG.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/LayeredLit/LayeredLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/Decal.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MipGenerator.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/PickingSpaceTransforms.hlsl
  com.unity.render-pipelines.high-definition/Tests/Editor/Volumes.meta
Labels: HDRP, testing

#3736 Avoid dynamic allocation in GBufferPass.Configure().
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/Passes/GBufferPass.cs
Labels: universal

#3737 forgot null check on preview parsing- causing issues with block node …
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
Labels: Shader Graph

#3751 [Backport 2021.1][HDRP] Merge Hd/bugfix #3599
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/506_RecursiveRenderingTransparentLayer.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/506_RecursiveRenderingTransparentLayer.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/506_RecursiveRenderingTransparentLayer.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/506_RecursiveRenderingTransparentLayer.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RecursiveRenderingData/M_TransparentPrepass.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RecursiveRenderingData/M_TransparentPrepass.mat.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDAdditionalReflectionData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingVolume.hlsl
Labels: HDRP, testing

#3748 [ShaderGraph][Testing] Updating ref images
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InstancedRendering.png
Labels: Shader Graph, testing

#3716 [URP] fixed regression regarding hdr toggle
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: needs-backport-10.x, needs-backport-2021.1, universal

#3697 [10.x.x] [universal] [fix] hdr toggle for sceneview
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#3718 [URP] fixed regression regarding hdr toggle
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#3742 [PVV2] Remove 2018.4 support in Yamato
  .yamato/_tmp_postprocessing.yml
Labels: sdet, yamato

#3721 Updated distortion block docs
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-graph-blocks/distortion-blur.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-graph-blocks/distortion.md
Labels: Docs, HDRP, needs-backport-2021.1

#3699 Fixed HDRP material being constantly dirty
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/BaseUnlitGUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3498 [VFX] Fix 1298466 - Infinite compilation loop
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Outputs/VFXLitCubeOutput.cs
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Outputs/VFXLitSphereOutput.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/Controller/VFXViewControllerExpressions.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/VFXBlock.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicCubeOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXContext.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/VFXOperator.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/Models/VFXModel.cs
  com.unity.visualeffectgraph/Shaders/VFXCommon.hlsl
Labels: backported-10.x, backported-2021.1, vfx

#3755 Fix some memory leaks
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickPool.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#3710 [10.x.x] Fixed fogbugz case 1317312
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, universal

#3711 [2021.1] Fixed fogbugz case 1318458
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, universal

#3762 [HDRP] Fix case sensivite file for Linux: Fix Raytracing -> RayTracing
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingGBuffer.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingRenderer.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3724 Removed shader variants from lighting
  TestProjects/UniversalGraphicsTest_Lighting/Assets/CommonAssets/ForwardRenderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/CommonAssets/UniversalRPAsset.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/CommonAssets/UniversalRPAssetBackBuffer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/CommonAssets/UniversalRPAssetRenderScaleLow.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/052_LWCallbacks/CallbackTestRenderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/056_2D_Lights.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/056_2D_Lights/New2DRendererData.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/056_2D_Lights/New2DRendererData.asset.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/069_2D_Forward_Shader_Compatibility.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/069_2D_Forward_Shader_Compatibility/2D_Renderer_Shader_Compatibility.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/069_2D_Forward_Shader_Compatibility/2D_Renderer_Shader_Compatibility.asset.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/120_PostProcessingRenderUICustomRenderer.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/120_PostProcessingRenderUICustomRenderer/120_PostProcessingRenderUICustomRenderer_Renderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/120_PostProcessingRenderUICustomRenderer/120_PostProcessingRenderUICustomRenderer_Renderer.asset.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/126_RendererFeatureActive/Test_126_Renderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/140_SSAO.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/140_SSAO/Renderers.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/140_SSAO/Renderers/SSAO_DeferredRenderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/140_SSAO/Renderers/SSAO_DeferredRenderer.asset.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/140_SSAO/Renderers/SSAO_DepthNormalRenderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/140_SSAO/Renderers/SSAO_DepthNormalRenderer.asset.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/140_SSAO/Renderers/SSAO_DepthRenderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/140_SSAO/Renderers/SSAO_DepthRenderer.asset.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/Runtime/Renderer2DTests.cs
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/Runtime/Renderer2DTests.cs.meta
  TestProjects/UniversalGraphicsTest_Lighting/Packages/manifest.json
Labels: needs-backport-2021.1, testing, universal

#3739 [Fix] case 1314613: Remove GC from Motion Blur
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Overrides/MotionBlur.cs
Labels: universal

#3754 [Backport][2021.1 / 11.x.x] Fix for Opaque Texture + MSAA being rendered black on old Apple GPUs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#3712 Probe volume entities 0.18 compile fix
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
Labels: HDRP

#3773 [HDRP] Fix wizard checking frame settings not in HDRP Default Settings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#3775 [HDRP] Update default composition graph to latest ShaderGraph version
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/ShaderGraphs/DefaultCompositionGraph.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/Compositor/ShaderGraphs/DefaultCompositionGraph.shadergraph.meta
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3779 Fixed a typo
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new.md
Labels: universal

#3770 Removed unused renderers and scenes and asset associated with them.
  TestProjects/UniversalGraphicsTest_Lighting/Assets/CommonAssets/UniversalRPAsset.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/052_LWCallbacks.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/052_LWCallbacks/CallbackTestRenderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/052_LWCallbacks/CallbackTestRenderer.asset.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/107_DepthPrepass.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/107_DepthPrepass/Test107Renderer.cs
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/107_DepthPrepass/Test107Renderer.cs.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/107_DepthPrepass/Test107RendererData.cs
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/107_DepthPrepass/Test107RendererData.cs.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/107_DepthPrepass/Test107RendererDataAsset.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/107_DepthPrepass/Test107RendererDataAsset.asset.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/126_RendererFeatureActive.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/126_RendererFeatureActive/Test_126_Renderer.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/126_RendererFeatureActive/Test_126_Renderer.asset.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/Runtime/CustomRenderPipeline.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/Runtime/CustomRenderPipeline/CustomRenderGraph.asset
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/Runtime/CustomRenderPipeline/CustomRenderGraph.asset.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/Runtime/CustomRenderPipeline/CustomRenderGraphData.cs
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/Runtime/CustomRenderPipeline/CustomRenderGraphData.cs.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/Runtime/CustomRenderPipeline/CustomRenderer.cs
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Test/Runtime/CustomRenderPipeline/CustomRenderer.cs.meta
Labels: needs-backport-10.x, needs-backport-2021.1, testing, universal

#3780 [HDPR] Update what's new in 11 for 2021.1/staging
  com.unity.render-pipelines.high-definition/Documentation~/Images/AxFRaytracing.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/DecalWidget-1.gif
  com.unity.render-pipelines.high-definition/Documentation~/Images/DecalWidget-2.gif
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.2-to-2021.1.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-10.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-11.md
Labels: HDRP

#3782 Update URP CODEOWNERS
  .github/CODEOWNERS
Labels: sdet

#3701 Cleanup of Render Graph code (WIP8)
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingSubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, SRP

#3615 Fix gizmo rendering when in wireframe mode [NEED C++]
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP

#3764 Cleanup additional light data
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/031_Shader_GlossyEnvironmentSky.unity
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/031_Shader_GlossyEnvironmentSkySettings.lighting
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/031_Shader_GlossyEnvironmentSkySettings.lighting.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/032_Shader_GlossyEnvironmentColor.unity
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/032_Shader_GlossyEnvironmentColorSettings.lighting
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/032_Shader_GlossyEnvironmentColorSettings.lighting.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/033_Shader_HighlightsEnvironmentGradientSH.unity
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/033_Shader_HighlightsEnvironmentGradientSHSettings.lighting
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/033_Shader_HighlightsEnvironmentGradientSHSettings.lighting.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/034_Shader_HighlightsEnvironmentGradientBaked.unity
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/034_Shader_HighlightsEnvironmentGradientBakedSettings.lighting
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/034_Shader_HighlightsEnvironmentGradientBakedSettings.lighting.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/145_ManyAdditionalLightShadowTypes.unity
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/145_ManyAdditionalLightShadowTypesSettings.lighting
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/145_ManyAdditionalLightShadowTypesSettings.lighting.meta
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_AdditionalLightShadowCustomResolution.unity
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_AdditionalLightShadowCustomResolutionSettings.lighting
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/146_AdditionalLightShadowCustomResolutionSettings.lighting.meta
Labels: needs-backport-10.x, needs-backport-2021.1, testing, universal

#3728 [XPipeline]Making old menu constants obsolete
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/ReflectionMenuItem.cs
  com.unity.render-pipelines.universal/Editor/EditorUtils.cs
Labels: HDRP, SRP, ready-to-merge, universal

#3767 [Backport #3758] URP D3D11 Feature Level 10 shaders (case 1278390)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Shaders/BakedLit.shader
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
Labels: universal

#3583 [XPipeline]Remove dot color parameter from MaterialHeaderScope and Layered Materials Improvements.
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/CoreEditorStyles.cs
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.core/Editor/Material/MaterialHeaderScope.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DetailInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayerListUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayersUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP, SRP, ready-to-merge

#3629 Do not serialize UI properties on VolumeParameters
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Volume/VolumeParameter.cs
Labels: SRP, ready-to-merge

#3743 [HDRP] Override Fixed Exposure Volume in Particle Shader Graph Samples Scene
  com.unity.render-pipelines.high-definition/Samples~/ParticleSystemShaderSamples/VolumeOverrides.asset
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3714 Enable XR Standalone tests for DX11 and DX12 in URP Lighting and URP PostPro
  .yamato/all-urp_lighting.yml
  .yamato/all-urp_postpro.yml
  .yamato/config/universal_lighting.metafile
  .yamato/config/universal_postpro.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
  .yamato/urp_lighting-android-vulkan.yml
  .yamato/urp_lighting-linux-vulkan.yml
  .yamato/urp_lighting-osx-metal.yml
  .yamato/urp_lighting-win-dx11.yml
  .yamato/urp_lighting-win-dx12.yml
  .yamato/urp_lighting-win-vulkan.yml
  .yamato/urp_postpro-osx-metal.yml
  .yamato/urp_postpro-win-dx11.yml
  .yamato/urp_postpro-win-dx12.yml
  .yamato/urp_postpro-win-vulkan.yml
Labels: ready-to-merge, yamato

#3793 Fix update pinned revision job
  .yamato/_latest_editor_versions_trunk.metafile
  Pipfile
  Pipfile.lock
Labels: sdet

#3795 Update pinned revisions
  .yamato/_latest_editor_versions_2021.1.metafile
Labels: yamato

#3745 [HDRP][Path Tracing] Make sure that objects not present in path traced layers do not cast shadows
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, SRP, dxr, needs-backport-10.x, needs-backport-2021.1

#3766 [Backport #3758] URP D3D11 Feature Level 10 shaders (case 1278390)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Shaders/BakedLit.shader
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
Labels: universal

#3792 Backport fixes for perspective lighting and normal maps
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/2D/Include/LightingUtility.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Include/NormalsRenderingShared.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Labels: universal

#3756 [Backport] Fixed HDRP material being constantly dirty (#3699)
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/BaseUnlitGUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
Labels: HDRP

#3757 Fixed HDRP material being constantly dirty (#3699)
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/BaseUnlitGUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
Labels: HDRP

#3763 Backport SSS material leaks
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#3806 [HDRP] Make Decal shader compatible with SRP batcher
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProperties.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3803 Early out of probe placement if there are no authoring volumes.
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
Labels: SRP

#3539 Move resolver resize logic to HDRP
  TestProjects/UniversalGraphicsTest/Assets/Scenes/056_2D_Lights_Shader_Graph/UnlitSpriteGraph.shadergraph
  TestProjects/UniversalGraphicsTest/Assets/Scenes/056_2D_Lights_Shader_Graph/UnlitSpriteGraph.shadergraph.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/VTBufferManager.cs
Labels: HDRP, testing, universal

#3774 Fix shadows in 10.x.x when rendergraph is used
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#3295 Fix shaders incompatible with our DXC MSL and Vulkan backends
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlit.shader
  com.unity.render-pipelines.universal/Shaders/XR/XRMirrorView.hlsl
Labels: HDRP, universal

#3801 [2020.3] [10.x.x] [ShaderGraph] [BugFix 1319066] Fix for master node preview after deleting blocks
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Generation/Contexts/TargetFieldContext.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph

#3788 [10.x][2020.3] Fix bug with inspector view not allowing user to properly interact with graph settings
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Interfaces/IInspectable.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GraphDataPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/Editor/Drawing/Views/PropertyNodeView.cs
Labels: Shader Graph

#3813 CI changes
  TestProjects/UniversalHybridTest/Packages/manifest.json
Labels: testing, universal

#3814 [Yamato] Fix editor jobs
  .yamato/_editor_pinning.yml
  .yamato/_green_job_revisions_trunk.metafile
  .yamato/_latest_editor_versions_trunk.metafile
  .yamato/config/__shared.metafile
  .yamato/config/_editor.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
Labels: sdet

#3691 Added support for screen space shadows (directional and point, no area) for shadow matte unlit shader graph.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/712_DirectionalShadow_Matte.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/712_DirectionalShadow_Matte.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/713_PointShadow_Matte.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/713_PointShadow_Matte.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/712_DirectionalShadow_Matte.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/712_DirectionalShadow_Matte.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/712_DirectionalShadow_Matte.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/712_DirectionalShadow_Matte/M_RefractiveTransparent.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/712_DirectionalShadow_Matte/M_RefractiveTransparent.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/713_PointShadow_Matte.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/713_PointShadow_Matte.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/Shader Graphs_SG_ShadowMatte.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/Shader Graphs_SG_ShadowMatte.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/ShaderGraphs/SG_ShadowMatte.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/ShaderGraphs/SG_ShadowMatte.shadergraph.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/HDShadowLoop.hlsl
Labels: HDRP, dxr, testing

#3667 Added support for volumetric clouds in planar reflections.
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5011_VolumetricCloudsShadows.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5011_VolumetricCloudsShadows/Global Volume Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5011_VolumetricCloudsShadows/M_Diffuse.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5011_VolumetricCloudsShadows/M_Diffuse.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5011_VolumetricCloudsShadows/M_ReflectiveRough.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5011_VolumetricCloudsShadows/M_ReflectiveRough.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Packages/packages-lock.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP

#3804 Cache base types of Volume Manager to improve perf/memory
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentProvider.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeManager.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeStack.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/VolumeDebug.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#2985 ClearFlag.Depth does not clear stencil anymore
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Common/CommonStructs.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-12-0-x.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: HDRP, SRP, universal

#3776 2021.1 Universal/fix aces filter
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/Color.hlsl
Labels: SRP

#3785 [2021.1][VFX] Fix VFX graph shader code generation error with empty textures …
  com.unity.shadergraph/Editor/Data/Graphs/AbstractShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/CubemapShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DArrayShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture2DShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/Texture3DShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Generation/Processors/PropertyCollector.cs
  com.unity.shadergraph/Editor/Generation/ShaderGraphVfxAsset.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphParticleOutput.cs
  com.unity.visualeffectgraph/Shaders/RenderPipeline/Universal/VFXCommon.hlsl
Labels: Shader Graph, vfx

#3823 [2021.1] Label sdet folders (#3715)
  .github/labeler.yml
Labels: sdet

#3824 [10.x.x] Label sdet folders (#3715)
  .github/labeler.yml
Labels: sdet

#3786 Light2D Upgrading & Bug Fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
Labels: 2d, needs-backport-2021.1, universal

#3819 [Yamato][10.x.x] Fix editor jobs
  .yamato/_abv.yml
  .yamato/_editor_pinning.yml
  .yamato/_editor_priming.yml
  .yamato/_latest_editor_versions_2020.3.metafile
  .yamato/config/__shared.metafile
  .yamato/config/_editor.metafile
  .yamato/script/editor_scripts/update_revisions.py
  .yamato/script/gfx_sdet_tools_revision.txt
  Pipfile.lock
Labels: yamato

#3811 Backport of Fix case 1310652 & 1312229
  TestProjects/UniversalGraphicsTest_2D/Assets/CommonAssets/UniversalRPAsset.asset
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/Android/Vulkan/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/Android/Vulkan/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/071_2D_Sort_Mode.png
  TestProjects/UniversalGraphicsTest_2D/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/071_2D_Sort_Mode.png.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/011_UnlitSprites.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/059_2D_PixelPerfect_PostProcessing.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/069_2D_Forward_Shader_Compatibility_Forward.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/071_2D_Sort_Mode.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/071_2D_Sort_Mode.unity
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/071_2D_Sort_Mode.unity.meta
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/071_2D_Sort_Mode/CustomSortMode2DRenderer.asset
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/071_2D_Sort_Mode/CustomSortMode2DRenderer.asset.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/PixelPerfectBackgroundPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
Labels: testing, universal

#3798 [Performance] Run Viking Village perf tests for URP and Built-in
  .yamato/_abv.yml
  .yamato/all-vikingvillage_builtin.yml
  .yamato/all-vikingvillage_urp.yml
  .yamato/config/_abv.metafile
  .yamato/config/vv_perf_builtin.metafile
  .yamato/config/vv_perf_urp.metafile
  .yamato/vikingvillage_builtin-android-opengles3.yml
  .yamato/vikingvillage_builtin-android-vulkan.yml
  .yamato/vikingvillage_builtin-iphone-metal.yml
  .yamato/vikingvillage_builtin-linux-vulkan.yml
  .yamato/vikingvillage_builtin-osx-metal.yml
  .yamato/vikingvillage_builtin-win-dx11.yml
  .yamato/vikingvillage_builtin-win-dx12.yml
  .yamato/vikingvillage_builtin-win-vulkan.yml
  .yamato/vikingvillage_urp-android-opengles3.yml
  .yamato/vikingvillage_urp-android-vulkan.yml
  .yamato/vikingvillage_urp-iphone-metal.yml
  .yamato/vikingvillage_urp-linux-vulkan.yml
  .yamato/vikingvillage_urp-osx-metal.yml
  .yamato/vikingvillage_urp-win-dx11.yml
  .yamato/vikingvillage_urp-win-dx12.yml
  .yamato/vikingvillage_urp-win-vulkan.yml
Labels: sdet

#3836 [HDRP] Fix missing param in custom pass doc
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3833 Remove GPU model entry from non-gpu job defs
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/urp_performance_boatattack-win-dx12.yml
  .yamato/urp_performance_boatattack-win-vulkan.yml
  .yamato/urp_performance_lostcrypt-win-dx11.yml
  .yamato/urp_performance_lostcrypt-win-dx12.yml
  .yamato/urp_performance_lostcrypt-win-vulkan.yml
Labels: needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x, sdet

#3834 [2021.1] Remove model entries from non GPU jobs
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/urp_performance_boatattack-win-dx12.yml
  .yamato/urp_performance_boatattack-win-vulkan.yml
  .yamato/urp_performance_lostcrypt-win-dx11.yml
  .yamato/urp_performance_lostcrypt-win-dx12.yml
  .yamato/urp_performance_lostcrypt-win-vulkan.yml
Labels: sdet

#3835 [10.x.x] Remove model entries from non GPU jobs
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/urp_performance_boatattack-win-dx12.yml
  .yamato/urp_performance_boatattack-win-vulkan.yml
  .yamato/urp_performance_lostcrypt-win-dx11.yml
  .yamato/urp_performance_lostcrypt-win-dx12.yml
  .yamato/urp_performance_lostcrypt-win-vulkan.yml
Labels: sdet

#3505 Hd/deferred debug visualization
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/MaterialDebug.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/MaterialDebug.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
Labels: HDRP

#3816 Backport Light2D Upgrading & Bug Fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
Labels: universal

#3818 Improve probe volume profile UI
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeProfile.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#3810 Backport Fix for Bug 1300753 ShadowCaster2D casting Shadows to incorrect Layers
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  TestProjects/UniversalGraphicsTest_2D/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/LayerUtility.cs
Labels: 2d, testing, universal

#3822 [7.x.x] Misc SDET backports
  .github/labeler.yml
  .yamato/_projectcontext.yml
  .yamato/ruamel/jobs/packages/project_test_all.py
Labels: sdet

#3807 [2021.1] [ShaderGraph] [BugFix 1319066] Fix for master node preview after deleting blocks
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Generation/Contexts/TargetFieldContext.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph

#3790 [2021.2] [ShaderGraph] [BugFix 1319066] Fix for master node preview after deleting blocks
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Generation/Contexts/TargetFieldContext.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph, backported-10.x, backported-2021.1

#3727 APV Debug fixes
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/InstancedProbeShader.shader
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/InstancedProbeShader.shader.meta
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/DecodeSH.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/DecodeSH.hlsl.meta
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.core/Runtime/RenderPipeline.meta
  com.unity.render-pipelines.core/Runtime/RenderPipeline/IOverrideCoreEditorResources.cs
  com.unity.render-pipelines.core/Runtime/RenderPipeline/IOverrideCoreEditorResources.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Lighting/ProbeVolume.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/HDRenderPipelineEditorResources.asset
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Shaders/ProbeVolumeGizmo.shader
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/Shaders/ProbeVolumeGizmo.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolumes.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineEditorResources.cs
Labels: HDRP, SRP

#3799 Add gfx test for HDRP Enlighten realtime GI rectangular area light
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2405_EnlightenDynamicAreaLights.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2405_EnlightenDynamicAreaLights.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2405_EnlightenDynamicAreaLights.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2405_EnlightenDynamicAreaLights/.gitignore
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2405_EnlightenDynamicAreaLights/2405-RtGI.lighting
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2405_EnlightenDynamicAreaLights/2405-RtGI.lighting.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2405_EnlightenDynamicAreaLights/2405-cornellbox.prefab
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2405_EnlightenDynamicAreaLights/2405-cornellbox.prefab.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2405_EnlightenDynamicAreaLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2405_EnlightenDynamicAreaLights.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2405_EnlightenDynamicAreaLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2405_EnlightenDynamicAreaLights.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2405_EnlightenDynamicAreaLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2405_EnlightenDynamicAreaLights.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2405_EnlightenDynamicAreaLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2405_EnlightenDynamicAreaLights.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2405_EnlightenDynamicAreaLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2405_EnlightenDynamicAreaLights.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/2405_EnlightenDynamicAreaLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/2405_EnlightenDynamicAreaLights.png.meta
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, testing

#3043 Added a new control slider on RTR and RTGI to force the LOD Bias on both effects.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/107_ReflectionLodBias.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/107_ReflectionLodBias.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/107_ReflectionLodBias.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/107_ReflectionLodBias.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/905_Materials_SG_TransparentRTR/TransparentRTR.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/ReflectionLodBias.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/ReflectionLodBias.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingMacros.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs.hlsl
Labels: HDRP, dxr, testing

#3847 Fix issue with APV normal bias not being correct until profile GUI is shown
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
Labels: HDRP, SRP

#3856 [HDRP] Fix custom pass prerefraction color buffer sampling
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP

#3843 Updated the what's new to include the new top-level menu location for the graphics compositor
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: Docs, HDRP

#3845 Fix small issue with the APV profile refactor
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeProfile.cs
Labels: HDRP, SRP

#3844 Fix missing doc
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudSettings.cs
Labels: HDRP

#3853 [2021.2] [ShaderGraph] [BugFix 1317809] Fixing a bug with property deduplication
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Processors/PropertyCollector.cs
Labels: Shader Graph, backported-10.x, backported-2021.1

#3848 Nintendo Switch specific fixes for half-float precision are now applied for all platforms
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/Color.hlsl
Labels: HDRP, SRP, universal

#3864 Reduced the maximal number of bounces for both RTGI and RTR (case 1318876).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
Labels: HDRP, dxr, needs-backport-10.x, needs-backport-2021.1

#3708 [2021.2] Fixed fogbugz case 1312513
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: XR, ready-to-merge, universal

#3733 [2021.1] Fixed fogbugz case 1312513
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: XR, backported-2021.1, ready-to-merge, universal

#3357 [2021.2] Fixed error with multisampled sampler in XR
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
Labels: XR, needs-backport-2021.1, universal

#3730 Cleanup shader UI - 2
  com.unity.render-pipelines.core/Editor/Material/MaterialEditorExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Material/TerrainLit/TerrainLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DecalSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/MaterialUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/RefractionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/BaseUnlitGUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
Labels: HDRP, SRP

#3868 [10.x.x] bump version to 10.5.0
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Documentation.cs
  com.unity.render-pipelines.core/ShaderLibrary/Version.hlsl
  com.unity.render-pipelines.core/ValidationExceptions.json
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#3640 [XPipeline][URP]Camera Editor - Move all GUIContents to a dedicated class
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Skin.cs.meta
Labels: ready-to-merge, universal

#3875 Fix constant reloading of probe volume asset on any editor operation
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP

#3867 Fix scene being fully grey on playstation when histogram exposure is used but not curve remapping
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3870 Fix an assert in a shadow test
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2311_ShadowMaps.unity
Labels: HDRP, testing

#3878 [HDRP] Backport fix custom pass prerefraction 2021.1
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP

#3881 [HDRP] Fixed indent level on material Global Illumination field
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/EmissionUIBlock.cs
Labels: HDRP

#3860 Added missing documentation for volumetric clouds.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCameraFrameHistoryType.cs
Labels: HDRP

#3866 [HDRP] Disc light realtime gi UI error
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
Labels: HDRP

#3877 [HDRP] Backport fix custom pass prerefraction 2021.1
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP

#3784 [XPipeline]Camera UI - Unify Headers - Environment
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Environment.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Environment.Drawers.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.EnvironmentSkin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.EnvironmentSkin.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Skin.cs
Labels: HDRP, ready-to-merge

#3768 Improved volumetric clouds presets
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5011_VolumetricClouds.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5011_VolumetricClouds/LocalVolume0.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5011_VolumetricCloudsShadows.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5011_VolumetricCloudsShadows/Global Volume Profile.asset
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricCloudsShadows.png
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricClouds/WorleyEvaluator.compute
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/VolumetricClouds/CloudLutRainAO.png
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/VolumetricClouds/WorleyNoise32RGB.png
Labels: HDRP
