Repository Unity-Technologies/Graphics, pull requests merged in 2021-07, with the labels that each got.

#5002 [HDRP][Samples] Remove EventSystem from ParticleShaderGraphsSampleScene.unity
  com.unity.render-pipelines.high-definition/Samples~/ParticleSystemShaderSamples/Scenes/ParticleShaderGraphsSampleScene.unity
Labels: HDRP

#5021 [HDRP][Samples][Backport 10.x.x] Remove EventSystem from ParticleShaderGraphsSampleScene.unity
  com.unity.render-pipelines.high-definition/Samples~/ParticleSystemShaderSamples/Scenes/ParticleShaderGraphsSampleScene.unity
Labels: HDRP

#5022 [HDRP][Samples][Backport 2021.1] Remove EventSystem from ParticleShaderGraphsSampleScene.unity
  com.unity.render-pipelines.high-definition/Samples~/ParticleSystemShaderSamples/Scenes/ParticleShaderGraphsSampleScene.unity
Labels: HDRP

#4594 [Fix] Ensuring Rendering Layers names are properly displayed
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDEditorUtils.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/HDGlobalSettingsWindow.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/OverridableFrameSettingsArea.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.Types.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Drawers.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalLightData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.cs
  com.unity.visualeffectgraph/Editor/Inspector/VisualEffectEditor.cs
Labels: HDRP, universal, vfx

#5010 Fixed an l-value error when using CameraNode with sample reflected cube map
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Scene/CameraNode.cs
Labels: Shader Graph

#5015 [HDRP] Fix rounding issue when accessing the color buffer in the DoF shader
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4082_DepthOfField-PB.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4083_DepthOfField-FP16AlphaPB.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGather.compute
Labels: HDRP, testing

#4573 [URP] Render Pass path store actions optimization
  com.unity.render-pipelines.universal/Runtime/NativeRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#4657 Remove forced clear on mobile
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#4991 Global Settings can now be unassigned in the Graphics tab (case 1343570)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/HDGlobalSettingsWindow.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/HDGlobalSettingsWindow.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.Skin.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.cs
Labels: HDRP, universal

#4973 Various Volumetric Clouds improvements
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricCloudsShadows.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5012_VolumetricCloudsRelativeClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP

#5028 update thumbnails to include SRP logo
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/Indoors/IndoorsSceneTemplate.scenetemplate
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/IndoorsDXR/IndoorsDXRSceneTemplate.scenetemplate
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/Outdoors/OutdoorsSceneTemplate.scenetemplate
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/OutdoorsDXR/OutdoorsDXRSceneTemplate.scenetemplate
Labels: HDRP

#5036 Bump min version to 0b3 for all packages
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#5033 Lens Flare various fixes
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareComponentSRPEditor.cs
  com.unity.render-pipelines.core/Editor/PostProcessing/LensFlareDataSRPEditor.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareDataSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/Shaders/LensFlareCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: HDRP, SRP, universal

#4974 Added a better support for LODs in the ray tracing acceleration structure.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/103_ReflectionsLOD.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/103_ReflectionsLOD.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/103_ReflectionsLOD.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/103_ReflectionsLOD.unity.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, dxr, testing

#4977 Fix diffusion profile info box in VFX graph (and potentially other tools)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/DiffusionProfile/DiffusionProfileMaterialUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfilePropertyDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfileShaderProperty.cs
Labels: HDRP

#4990 Fixed an issue where "Render Shadows" appeared twice on Base Cameras
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Rendering.Drawers.cs
Labels: universal

#4851 [VFX] UI usability fixes
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Blackboard/VFXBlackboard.cs
  com.unity.visualeffectgraph/Editor/GraphView/Blackboard/VFXBlackboardField.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/Controllers/VFXParameterController.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/Properties/PropertyRM.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Models/Parameters/VFXParameter.cs
Labels: vfx

#5035 [Automation] New GitHub Action to suggest Yamato jobs
  .github/pr-commenter.yml
  .github/workflows/draft.yml
  .github/workflows/pr-commenter.yml
Labels: sdet

#4733 [VFX] Fix soft particles
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Shaders/Common/VFXCommonCompute.hlsl
  com.unity.visualeffectgraph/Shaders/VFXCommonOutput.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-7.x, universal, vfx

#5044 [GitHub actions] Fix pr commenter part 1
  .github/pr-commenter.yml
  .github/workflows/pr-commenter.yml
Labels: sdet

#5026 Add formatting job variants (QoL)
  .yamato/_formatting.yml
Labels: needs-backport-2021.1, sdet

#5064 [Automation] Edit text in pr commenter
  .github/pr-commenter.yml
Labels: sdet

#5054 Fix GBuffer depth debug mode
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5030 Update test project ide packages.
  TestProjects/UniversalGraphicsTest_Foundation/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Lighting/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_PostPro/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Terrain/Packages/manifest.json
Labels: testing, universal

#4948 HDRP - Fix indentation of quality levels on HDRP Asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
Labels: HDRP

#5072 Clean old files
  custom-interpolators-1.png
  custom-interpolators-4.png
  issue_template.md
Labels: needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x

#5069 Replace dx12 editmode xr tests by dx11 in the Nightly
  .yamato/all-hdrp.yml
  .yamato/config/hdrp.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
Labels: sdet

#5074 Remove space from file name to fix formatting error
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares.meta
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Presets.meta
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Presets/Polycount.asset
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Presets/Polycount.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Presets/Smartphone_Smudged.asset
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Presets/Smartphone_Smudged.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Textures.meta
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Textures/Shimmer.png
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Textures/Shimmer.png.meta
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Textures/Shimmer2.png
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Textures/Shimmer2.png.meta
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Textures/Spike2.png
  com.unity.template-hd/Assets/SampleSceneAssets/LensFlares/Textures/Spike2.png.meta
Labels: HDRP

#4806 Fixed some Shader Graph shaders fail to compile for Android XR
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
Labels: Shader Graph, XR, universal

#4849 Set depth storeAction to Store when XR requires the depth to share with XR providers
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#5031 [ShaderGraph] [2021.1] Only ShaderGraph keywords count towards variant limit
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Util/KeywordUtil.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph

#5032 [ShaderGraph] [2020.3] Only ShaderGraph keywords count towards variant limit
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Util/KeywordUtil.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
Labels: Shader Graph

#5017 [ShaderGraph] [2021.2] Only ShaderGraph keywords count towards variant limit
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Util/KeywordUtil.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
Labels: Shader Graph, backported-10.x, backported-2021.1

#5075 Created the first draft of the What's new in URP 12 page. This is mostly a copy of the blog post with some small editions.
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/enlighten-realtime-gi.gif
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/reflection-probe-blending-artistic-demo.gif
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/urp-decals-art-demo.gif
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/urp-deferred-rendering-path-art-demo.gif
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/urp-lens-flare-art-demo.png
  com.unity.render-pipelines.universal/Documentation~/camera-stacking.md
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new.md
Labels: universal

#4998 [2021.2] Quality Audit: Material, Camera and Lighting Tooltips
  com.unity.render-pipelines.core/Editor/Camera/CameraUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Output.Skin.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Rendering.Skin.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ParticleGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/LitDetailGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/LitGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/SimpleLitGUI.cs
Labels: SRP, universal

#5000 [2021.2] Quality Audit: Volume Component Tooltips + small Renderer Feature tweaks
  com.unity.render-pipelines.core/Editor/Volume/VolumeEditor.cs
  com.unity.render-pipelines.core/Runtime/Volume/Volume.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/LiftGammaGainEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ShadowsMidtonesHighlightsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Bloom.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/ChromaticAberration.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/FilmGrain.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/LensDistortion.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/LiftGammaGain.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/ShadowsMidtonesHighlights.cs
  com.unity.render-pipelines.universal/Editor/Overrides/LiftGammaGainEditor.cs
  com.unity.render-pipelines.universal/Editor/Overrides/ShadowsMidtonesHighlightsEditor.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/ScreenSpaceAmbientOcclusionEditor.cs
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/Bloom.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ChromaticAberration.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ColorLookup.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/FilmGrain.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/LensDistortion.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/LiftGammaGain.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ShadowsMidtonesHighlights.cs
Labels: HDRP, SRP, universal

#4857 Quality Audit - Indentation of projection related properties
  com.unity.render-pipelines.core/Editor/Camera/CameraUI.Drawers.cs
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.core/Editor/SerializedPropertyExtension.cs
  com.unity.render-pipelines.core/Editor/SerializedPropertyExtension.cs.meta
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDEditorUtils.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Drawers.cs
Labels: HDRP, SRP, universal

#4800 Quality audit - Fixing additional data help urls
  com.unity.render-pipelines.core/Runtime/Documentation.cs
  com.unity.render-pipelines.core/Runtime/Volume/Volume.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeProfile.cs
  com.unity.render-pipelines.high-definition/Runtime/Documentation.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Documentation.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalLightData.cs
Labels: HDRP, SRP, universal

#5083 Pin formatting job image to specific version
  .yamato/_formatting.yml
  .yamato/config/_formatting.metafile
Labels: needs-backport-2021.1, sdet

#4901 Custom Pass docs update
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Creating.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Injection-Points.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Scripting.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Troubleshooting.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-buffers-pyramids.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRP-frame-graph-diagram.png
Labels: HDRP

#5092 [2021.2][ShaderGraph] Fix wrapping and scrolling due to VFX graph target warning
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GraphDataPropertyDrawer.cs
  com.unity.shadergraph/Editor/Resources/UXML/GraphInspector.uxml
Labels: Shader Graph

#5079 [Shadergraph] Don't dirty all the nodes 25 times when selecting a blackboard keyword
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/KeywordNode.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/ShaderInputViewController.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
Labels: Shader Graph

#4915 Fixed Volume Gizmo size when rescaling parent GameObject
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Volume/Volume.cs
Labels: SRP

#5005 Update HDRP custom shader doc
  com.unity.render-pipelines.high-definition/Documentation~/hdrp-custom-material-inspector.md
Labels: HDRP

#4976 Fix Vertex Color Mode documentation
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/surface-inputs/layered-surface-inputs.md
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
Labels: HDRP

#4682 Update copycat pipelines
  .yamato/_copycat.yml
Labels: needs-backport-2021.1, sdet

#5098 [2021.1] SDET backports (formatting & copycat)
  .yamato/_copycat.yml
  .yamato/_formatting.yml
  .yamato/config/_formatting.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
Labels: sdet

#5084 Reformat HDRP_Tests
  .repoconfig
  TestProjects/HDRP_Tests/Assets/FindMissingDocs/Editor/DocChecker.cs
  TestProjects/HDRP_Tests/Assets/FindMissingDocs/Editor/ProcessOutputStreamReader.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1218_Lit_DiffusionProfiles/README.md
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1219_Lit_Light_on_Tesselation/ReflectionProbeToTexture.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1219_Lit_Light_on_Tesselation/TexCubeToTex2D.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2004_AnimatedCookie/CookieUpdater.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2006_Spot_Angle_Distance/BuildSphereSection.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2006_Spot_Angle_Distance/SpotAngleDistance.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2208_And_2209_Reflection_Stencil/StencilShowShader.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2208_And_2209_Reflection_Stencil/StencilWriteShader.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2212_ReflectionProbes_Skies/BakeProbes.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3003_LightingMode/AOVLightingMode.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4010_Motion/Motion.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4013_TransparentAndOpaqueMotionVector/TriggerMotionVecView.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4060_CustomPostProcess/BluePP.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4060_CustomPostProcess/BluePP.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4060_CustomPostProcess/GreenPP.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4060_CustomPostProcess/GreenPP.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4060_CustomPostProcess/RedPP.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4060_CustomPostProcess/RedPP.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4090_DRS-Hardware/SetCameraDrsFilter.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/MultiCam.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9500_LightScripting/LightScriptCreator.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9700_CustomPass_FullScreen/BeforeOpaqueDepthAndNormal.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9700_CustomPass_FullScreen/Outline/Outline.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9700_CustomPass_FullScreen/Outline/Outline.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9700_CustomPass_FullScreen/WriteNormals.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9701_CustomPass_DrawRenderers/Renderers_Test.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/Blur.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/Copy.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/OverrideCamera.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/RenderersTemplate.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9801_ShurikenLightModule/SimulateAndPauseSystem.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9901_AOV_buffers/AovOutput.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9902_AOV_buffers2/AOVOutputBuffer.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9902_AOV_buffers2/AOVOutputCustomPass.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9910_GlobalMipBias/CameraMipBias.cs
  TestProjects/HDRP_Tests/RunAllTests_OSX.sh
Labels: HDRP, sdet, testing

#4986 Fix wobble-like (or tearing-like) SSAO issues when temporal reprojection is enabled.
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8107_UnlitShadowMatteAmbientOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8108_UnlitShadowMatteAmbientOcclusionMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8107_UnlitShadowMatteAmbientOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8108_UnlitShadowMatteAmbientOcclusionMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8107_UnlitShadowMatteAmbientOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8108_UnlitShadowMatteAmbientOcclusionMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8107_UnlitShadowMatteAmbientOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8108_UnlitShadowMatteAmbientOcclusionMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8107_UnlitShadowMatteAmbientOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8108_UnlitShadowMatteAmbientOcclusionMSAA.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAOTemporalDenoise.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, testing

#4934 [HDRP][SRP] Restore old version of the RendererList structs/api for compatibility
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRendererList.cs
  com.unity.render-pipelines.core/Runtime/RendererList.meta
  com.unity.render-pipelines.core/Runtime/RendererList/RendererList.cs
  com.unity.render-pipelines.core/Runtime/RendererList/RendererList.cs.meta
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraphUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, SRP

#4868 Fix VT Feedback buffer
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9701_CustomPass_DrawRenderers/Renderers_Test.shader
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9702_CustomPass_API/RenderersTemplate.shader
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassRenderersShader.template
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassRenderersUtils.shader
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/TextureStackNode.cs
Labels: HDRP, Shader Graph, needs-backport-10.x, needs-backport-2021.1, testing

#5089 [HDRP] Fix white flash with SSR when resetting camera history
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5096 [HDRP] Adding a 004 standalone test with flares, decals, volumetric cloud reflections and MSAA
  TestProjects/HDRP_RuntimeTests/Assets/Common/Decal.meta
  TestProjects/HDRP_RuntimeTests/Assets/Common/Decal/ComplexMat_BC_A.png
  TestProjects/HDRP_RuntimeTests/Assets/Common/Decal/ComplexMat_BC_A.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/Common/Decal/ComplexMat_M_AO_D_S.png
  TestProjects/HDRP_RuntimeTests/Assets/Common/Decal/ComplexMat_M_AO_D_S.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/Common/Decal/ComplexMat_N.png
  TestProjects/HDRP_RuntimeTests/Assets/Common/Decal/ComplexMat_N.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares.meta
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares/Lens Flare Presets.meta
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares/Lens Flare Presets/Simple.asset
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares/Lens Flare Presets/Simple.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares/Lens Flare Presets/Sun Flare w Ring.asset
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares/Lens Flare Presets/Sun Flare w Ring.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares/Textures.meta
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares/Textures/Ring.png
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares/Textures/Ring.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares/Textures/Shimmer2.png
  TestProjects/HDRP_RuntimeTests/Assets/Common/LensFlares/Textures/Shimmer2.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/HDRPDefaultResources/HDRenderPipelineGlobalSettings.asset
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/004-CloudsFlaresDecals.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/004-CloudsFlaresDecals.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/004-CloudsFlaresDecals.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/004-CloudsFlaresDecals.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/004-CloudsFlaresDecals.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals.unity.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/Clouds Profile.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/Clouds Profile.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/DecalDepthBias.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/DecalDepthBias.mat.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/DecalViewBias.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/DecalViewBias.mat.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/HDRP_Test_Def_Clouds.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/HDRP_Test_Def_Clouds.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/PhysSkySettings.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/PhysSkySettings.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/Shader Graphs_ShadowMatte.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/Shader Graphs_ShadowMatte.mat.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/ShadowMatte.shadergraph
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/ShadowMatte.shadergraph.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/SkyandFogSettingsProfile.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/004-CloudsFlaresDecals/SkyandFogSettingsProfile.asset.meta
  TestProjects/HDRP_RuntimeTests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
Labels: HDRP, testing

#5109 Reformat testing.hdrp
  .repoconfig
  com.unity.testing.hdrp/Scripts/AddAngles.cs
  com.unity.testing.hdrp/Scripts/ArrayPlacer.cs
  com.unity.testing.hdrp/Scripts/DebugViewController.cs
  com.unity.testing.hdrp/Scripts/Editor/DebugViewController_Editor.cs
  com.unity.testing.hdrp/Scripts/Editor/GraphicTestTools.cs
  com.unity.testing.hdrp/Scripts/Editor/MaterialParameterVariationDrawer.cs
  com.unity.testing.hdrp/Scripts/Editor/MultiMaterialPlacerEditor.cs
  com.unity.testing.hdrp/Scripts/Editor/ReplaceObjects.cs
  com.unity.testing.hdrp/Scripts/Editor/ResetShaderGraphMaterialProperties.cs
  com.unity.testing.hdrp/Scripts/GridMesh.cs
  com.unity.testing.hdrp/Scripts/LookAtCamera.cs
  com.unity.testing.hdrp/Scripts/PackageInfo.cs
  com.unity.testing.hdrp/Scripts/RenderPipelineSwitcher.cs
  com.unity.testing.hdrp/Scripts/SceneTester.cs
  com.unity.testing.hdrp/Scripts/SetToCameraNearPlane.cs
  com.unity.testing.hdrp/Scripts/ShaderGraphTestSceneController.cs
  com.unity.testing.hdrp/Scripts/SinMove.cs
  com.unity.testing.hdrp/Scripts/TestFilterGenerator.cs
  com.unity.testing.hdrp/Scripts/VirtualTexturingTestSceneController.cs
  com.unity.testing.hdrp/Scripts/WriteShaderToRenderTexture.cs
  com.unity.testing.hdrp/Shaders/DistordFromTex.shader
  com.unity.testing.hdrp/Shaders/DistordTest.shader
  com.unity.testing.hdrp/TestRunner/Editor/HDRP_TestSettings_Editor.cs
  com.unity.testing.hdrp/TestRunner/Editor/SetupProject.cs
  com.unity.testing.hdrp/TestRunner/HDRP_GraphicTestRunner.cs
  com.unity.testing.hdrp/TestRunner/HDRP_ShaderGraph_TestSettings.cs
  com.unity.testing.hdrp/TestRunner/HDRP_TestSettings.cs
  com.unity.testing.hdrp/TestRunner/TextMeshPixelSize.cs
Labels: HDRP, sdet

#5038 Added support for ray binning for ray tracing in XR (case 1346374).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Common/RayBinning.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingGBuffer.raytrace
Labels: HDRP, dxr

#5061 Added a property on the HDRP asset to allow users to avoid ray tracing effects running at too low percentages (case 1342588).
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferred_DRS-RT-Threshold.asset
  TestProjects/HDRP_DXR_Tests/Assets/Common/HDRenderPipelineAssetDeferred_DRS-RT-Threshold.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1001_HalfResolutionThreshold_RTGI.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1001_HalfResolutionThreshold_RTGI.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1001_HalfResolutionThreshold_RTR.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1001_HalfResolutionThreshold_RTR.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI/1001_HalfResolutionThreshold_RTGI.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI/1001_HalfResolutionThreshold_RTGI.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI/Plane_HalfResolutionThreshold_RTGI.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI/Plane_HalfResolutionThreshold_RTGI.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI/RT_HalfResolutionThreshold _RTGI.renderTexture
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI/RT_HalfResolutionThreshold _RTGI.renderTexture.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI/m_Capsule RTGI.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI/m_Capsule RTGI.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI/m_Ground RTGI.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTGI/m_Ground RTGI.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR/1001_HalfResolutionThreshold_RTR.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR/1001_HalfResolutionThreshold_RTR.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR/Plane_HalfResolutionThreshold_RTR.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR/Plane_HalfResolutionThreshold_RTR.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR/RT_HalfResolutionThreshold_RTR.renderTexture
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR/RT_HalfResolutionThreshold_RTR.renderTexture.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR/m_Capsule RTR.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR/m_Capsule RTR.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR/m_Reflective .9 RTR.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1001_HalfResolutionThreshold_RTR/m_Reflective .9 RTR.mat.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.core/Runtime/Common/GlobalDynamicResolutionSettings.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedDynamicResolutionSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingReflection.cs
Labels: HDRP, SRP, dxr

#5085 Fixed the RTAO debug view being broken.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2005_Debug_ScreenSpaceAmbientOcclusion.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.AmbientOcclusion.cs
Labels: HDRP, dxr, needs-backport-10.x, needs-backport-2021.1, testing

#5049 Expose camera motion vector custom pass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Injection-Points.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassContext.cs
Labels: HDRP

#5029 HDRP custom passes improvements
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassListSearchWindow.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassVolumeEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CustomClear.cs
Labels: HDRP

#4886 Various improvements to SSGI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-ScreenSpaceGlobalIllumination1.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/RayMarchingFallbackHierarchy.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/RayMarchingFallbackHierarchy.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/RayMarchingFallbackHierarchy.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/RayMarchingFallbackHierarchy.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceGlobalIllumination.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRayTracingResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingSubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DiffuseDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
Labels: HDRP

#5110 [ShaderGraph] [2021.2] Fixing isNan node and re-enabling IsNaN test
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Utility/Logic/IsNaNV4.shadergraph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Utility/Logic/IsNanNode.cs
Labels: Shader Graph, testing

#5080 [Fobguz # 1348357] VFX Particle templates missing stencil flags
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Mesh/PassForward.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/PlanarPrimitive/PassForward.template
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5003 Quality Audit - Camera Inspector tooltips pass
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Output.Skin.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/Overrides/ColorLookupEditor.cs
  com.unity.render-pipelines.universal/Editor/Overrides/TonemappingEditor.cs
  com.unity.render-pipelines.universal/Editor/RenderStateDataEditor.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/RenderObjectsPassFeatureEditor.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/ScreenSpaceAmbientOcclusionEditor.cs
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/RenderObjects.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceShadows.cs
Labels: SRP, universal

#4970 More render graph cleanup
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPIpeline.ScreenSpaceShadowsArea.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPIpeline.ScreenSpaceShadowsArea.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPipeline.ScreenSpaceShadows.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPipeline.ScreenSpaceShadows.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPipeline.ScreenSpaceShadowsDirectional.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPipeline.ScreenSpaceShadowsDirectional.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPipeline.ScreenSpaceShadowsPunctual.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPipeline.ScreenSpaceShadowsPunctual.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManager.RenderGraph.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerArea.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerDirectional.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerDirectional.RenderGraph.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerDirectional.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerPunctual.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerPunctual.RenderGraph.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadowManagerPunctual.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricLighting.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, SRP

#5009 [Fogbugz 1343706] Preventing pyramid color input of ssgi to not contain QNaNs.
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/309_GlobalIlluminationHybridFullRes.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/310_GlobalIlluminationHybridHalfRes.unity
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP

#5073 [Fogbugz # 1346871] Fixing nvidia install button and preventing user from spamming it
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
Labels: HDRP

#5113 Cleaned up what's new
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: HDRP

#5102 More features, improvements, and a known issue.
  com.unity.render-pipelines.universal/Documentation~/Images/known-issues/urp-10-renaming-renderer.png
  com.unity.render-pipelines.universal/Documentation~/Images/known-issues/urp-12-package-samples.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/allow-material-override.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/clustered-lighting.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/light-cookie-sample-1.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/render-pipeline-converter-ui.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/rendering-debugger.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/urp-asset-depth-priming-mode.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/urp-decal.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/urp-decals-art-demo.gif
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/urp-deferred-rendering-path-art-demo.gif
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/urp-global-settings.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/volume-update-modes.png
  com.unity.render-pipelines.universal/Documentation~/known-issues.md
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new.md
Labels: universal

#4981 [HDRP] Add tooltip for Physically Based property on Depth Of Field override.
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/DepthOfField.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5001 [HDRP][Path Tracing] Backport of sky+recorder fix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: HDRP, SRP, dxr, needs-backport-10.x

#5091 Fixed the fog node's density being 1 when fog was disabled in URP. Fi…
  com.unity.render-pipelines.universal/ShaderLibrary/ShaderGraphFunctions.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/ShaderGraphFunctions.hlsl
Labels: Shader Graph, universal

#4771 Quality audit - Fix indentation of emission map
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
Labels: universal

#5057 HDRP - HDRP Wizzard can be opened despite there is no Render Pipeline in use
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
Labels: HDRP, needs-backport-2021.1

#5103 Improve node search result sorting
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/FilterPopup/VFXBlockProvider.cs
  com.unity.visualeffectgraph/Editor/FilterPopup/VFXFilterWindow.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Orientation/Orient.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Position/PositionSequential.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Update/AngularEulerIntegration.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Update/EulerIntegration.cs
Labels: vfx

#4950 Color field keeps updating when using eye dropper and Esc key is pressed
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Controls/VFXColorField.cs
Labels: vfx

#4698 RenderPass minor fixes/improvements
  com.unity.render-pipelines.universal/Runtime/Debug/DebugHandler.cs
  com.unity.render-pipelines.universal/Runtime/NativeRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/GBufferPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#4965 [HDRP] Add globalmipbias scales support to grad sampling
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/TextureStack.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/VirtualTexturing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariables.hlsl
Labels: HDRP, SRP

#5043 Light Anchor: default behavior and remove error messages
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Lighting/LightAnchorEditor.cs
  com.unity.render-pipelines.core/Runtime/Lights/LightAnchor.cs
Labels: SRP

#4967 [HDRP] Decal surface gradients: Fix some math issues in the handling of surface gradient resolves
  com.unity.render-pipelines.core/ShaderLibrary/NormalSurfaceGradient.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/ShaderGraph/DecalPass.template
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalNormalBuffer.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalUtilities.hlsl
Labels: HDRP, SRP

#4966 [HDRP] SurfaceGradient: Triplanar library function fix: match the convention used in Lit
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/NormalSurfaceGradient.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Sampling/SampleUVMappingNormalInternal.hlsl
Labels: HDRP, SRP

#5062 [HDRP] Fix distortion when resizing the graphics compositor window in builds
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9800_Compositor.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9800_Compositor.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, testing

#5090 [HDRP] Add mode for custom pass volume to execute on one camera only
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Volume-Workflow.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassVolumeEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassVolume.cs
Labels: HDRP

#4927 Fixed the fogbugz case 1343417
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
Labels: XR, universal

#4928 Fixed the fogbugz case 1343418
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
Labels: XR, universal

#5101 Hd/ux quality audit some small fixes
  com.unity.render-pipelines.core/Editor/Lighting/Shadow/ShadowCascadeGUI.cs
  com.unity.render-pipelines.core/Editor/Volume/Icons.meta
  com.unity.render-pipelines.core/Editor/Volume/Icons/Volume.png
  com.unity.render-pipelines.core/Editor/Volume/Icons/Volume.png.meta
  com.unity.render-pipelines.core/Editor/Volume/Icons/VolumeProfileAsset.png
  com.unity.render-pipelines.core/Editor/Volume/Icons/VolumeProfileAsset.png.meta
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeEditor.cs
  com.unity.render-pipelines.core/Runtime/Volume/VolumeComponent.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/CameraSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayerListUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/FilmGrainEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/PaniniProjection.cs
  com.unity.render-pipelines.universal/Editor/Overrides/FilmGrainEditor.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/FilmGrain.cs
Labels: HDRP, SRP, universal

#5100 Merge Hd/bugfix
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8107_UnlitShadowMatteAmbientOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8108_UnlitShadowMatteAmbientOcclusionMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8107_UnlitShadowMatteAmbientOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8108_UnlitShadowMatteAmbientOcclusionMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8107_UnlitShadowMatteAmbientOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8108_UnlitShadowMatteAmbientOcclusionMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8107_UnlitShadowMatteAmbientOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8108_UnlitShadowMatteAmbientOcclusionMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8107_UnlitShadowMatteAmbientOcclusion.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8108_UnlitShadowMatteAmbientOcclusionMSAA.png
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Volume/Volume.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/surface-inputs/layered-surface-inputs.md
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Mesh/PassForward.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/PlanarPrimitive/PassForward.template
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/GTAOTemporalDenoise.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#5107 Fix case 1346650 where OnGUI draws were overwritten
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: 2d, universal

#5122 [VFX] Revert "Color field keeps updating when using eye dropper and Esc key is pressed"
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Controls/VFXColorField.cs
Labels: vfx

#4971 [VFX] Fix Sanitize behavior
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXDataTests.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests_GetSpawnCount.vfx_
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests_GetSpawnCount.vfx_.meta
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/HDRPProjectSettings.asset
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: testing, vfx

#5127 Merge master
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXDataTests.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests_GetSpawnCount.vfx_
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests_GetSpawnCount.vfx_.meta
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/HDRPProjectSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Controls/VFXColorField.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: testing, universal, vfx

#5063 Fix object disappearing from lookdev
  com.unity.render-pipelines.core/Editor/LookDev/LookDev.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#5121 [URP] Enabled copyDepth optimization for XR
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/200_Assets/Scripts/OutputTextureFeature.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: testing, universal

#5050 [HDRP] Improve DoF when MSAA is enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldCoC.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFCircleOfConfusion.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#5088 [HDRP] Fix render object after taa jittering
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5134 Fix GC alloc in hd/bugfix branch
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP

#4167 Normalize reflection probe content with Probe Volume data
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, SRP

#5004 Fixed SubGraph node stage limitation checks to be per slot instead of per node
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/ShaderStageCapabilityTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/ShaderStageCapabilityTests.cs.meta
  TestProjects/ShaderGraph/Assets/Testing/ShaderStageCapabilityGraphs.meta
  TestProjects/ShaderGraph/Assets/Testing/ShaderStageCapabilityGraphs/ShaderStageCapability_Graph.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/ShaderStageCapabilityGraphs/ShaderStageCapability_Graph.shadergraph.meta
  TestProjects/ShaderGraph/Assets/Testing/ShaderStageCapabilityGraphs/ShaderStageCapability_SubGraph.shadersubgraph
  TestProjects/ShaderGraph/Assets/Testing/ShaderStageCapabilityGraphs/ShaderStageCapability_SubGraph.shadersubgraph.meta
  TestProjects/ShaderGraph/Assets/Testing/ShaderStageCapabilityGraphs/SubShaderInvalidCapabilities_Graph.shadergraph
  TestProjects/ShaderGraph/Assets/Testing/ShaderStageCapabilityGraphs/SubShaderInvalidCapabilities_Graph.shadergraph.meta
  TestProjects/ShaderGraph/Assets/Testing/ShaderStageCapabilityGraphs/SubShaderInvalidCapabilities_SubGraph.shadersubgraph
  TestProjects/ShaderGraph/Assets/Testing/ShaderStageCapabilityGraphs/SubShaderInvalidCapabilities_SubGraph.shadersubgraph.meta
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Graphs/MaterialSlot.cs
  com.unity.shadergraph/Editor/Data/Implementation/NodeUtils.cs
  com.unity.shadergraph/Editor/Data/Interfaces/Graph/INode.cs
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphAsset.cs
  com.unity.shadergraph/Editor/Data/SubGraph/SubGraphOutputNode.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
Labels: Shader Graph, testing

#4978 Fix range for HDRP Asset settings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedScalableSetting.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/GlobalPostProcessSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalLightingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalPostProcessingQualitySettings.cs
Labels: HDRP

#4727 Fix refraction tile artifacts near reflection probe edges
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4628 [URP] Avoid rendering skybox in a different render pass when copy depth is required
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/200_Assets/Scripts/OutputTextureFeature.cs
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/200_DepthDeferred.unity
  TestProjects/UniversalGraphicsTest_Lighting/Assets/Scenes/200_DepthForward.unity
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/200_DepthDeferred.unity
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/200_DepthForward.unity
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#5140 Update the upgrade guide for URP 12 and fixed the wrong reference.
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-12-0-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-2021-2.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: universal

#5119 [ShaderGraph][21.2] Properly cast values of Float properties in Integer mode
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/Vector1ShaderProperty.cs
Labels: Shader Graph

#4509 Remove depthshadowauto
  com.unity.render-pipelines.universal/Runtime/Decal/DBuffer/DBufferRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/NativeRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/ShadowUtils.cs
Labels: universal

#5147 MVP docs for reflection probe blending.
  com.unity.render-pipelines.universal/Documentation~/Images/lighting/reflection-probe-blending-setting.png
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/lighting/reflection-probes.md
Labels: universal

#5144 Replaced animated GIFs with static images.
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/enlighten-realtime-gi.gif
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/enlighten-realtime-gi.png
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/urp-deferred-rendering-path-art-demo.gif
  com.unity.render-pipelines.universal/Documentation~/Images/whats-new/urp-12/urp-deferred-rendering-path.png
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new.md
Labels: universal

#5151 Added a link to reflection probes.
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new.md
Labels: universal

#5143 Fixed a shader graph exception when trying to set a texture to the ma…
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/PropertyNodeView.cs
Labels: Shader Graph

#4826 Fixed an epsilon in the Hue node that was larger than it should be, g…
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Adjustment/HueNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Utility/ColorspaceConversion.cs
Labels: Shader Graph

#4921 Optimizing and Burstifying CPU of Decal Projection updates
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Utilities/ArrayExtensions.cs
  com.unity.render-pipelines.core/Runtime/Utilities/ArrayExtensions.cs.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.Jobs.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.Jobs.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/Unity.RenderPipelines.HighDefinition.Runtime.asmdef
  com.unity.render-pipelines.high-definition/package.json
Labels: HDRP

#5112 Moved the Spotlight range validation logic into HDAdditionalLightData.OnValidate
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Handles.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP

#5148 Only show HDRP camera preview if HDRP is the active pipeline [case 1350767]
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraEditor.Handlers.cs
Labels: HDRP

#5157 Fix shadow mate playstation compil issue
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/ShaderPass.template.hlsl
Labels: HDRP

#5159 Hd/fix light sync outside of hdrp
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5006 Global wind parameter
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-HDRISky1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-VisualEnvironment1.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Cloud-Layer.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-HDRI-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Visual-Environment.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Editor/Sky/CloudSystem/CloudLayer/CloudLayerEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/HDRISky/HDRISkyEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/VisualEnvironmentEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.Migration.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayerCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudLayer/CloudLayerRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/CloudSystem/CloudRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.Migration.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/VisualEnvironment.cs
Labels: HDRP, SRP

#5118 Update HDRP frame diagram + TAA bit in the custom post process doc
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Post-Process.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRP-frame-graph-diagram.png
Labels: HDRP

#5077 Fix issue with legacy stereo matrices with XR multipass
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, ready-to-merge, universal

#5111 [ShaderGraph] [2021.2] Fix error behavior
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/DebugNodes.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/DebugNodes/ErrorNode.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/DebugNodes/ErrorNode.cs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/ImportErrorTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/ImportErrorTests.cs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_multipleErrors.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_multipleErrors.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_multipleWarning.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_multipleWarning.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_subSyntaxError.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_subSyntaxError.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_subUnconnectedError.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_subUnconnectedError.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_subValidationError.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_subValidationError.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_subWarning.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_subWarning.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_syntaxError.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_syntaxError.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_unconnectedErrors.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_unconnectedErrors.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_unconnectedSubError.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_unconnectedSubError.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_validationError.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_validationError.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_validationWarning.shadergraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sg_validationWarning.shadergraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_multipleValidation.shadersubgraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_multipleValidation.shadersubgraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_multpleWarning.shadersubgraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_multpleWarning.shadersubgraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_syntaxError.shadersubgraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_syntaxError.shadersubgraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_unconnectedErrors.shadersubgraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_unconnectedErrors.shadersubgraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_validationError.shadersubgraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_validationError.shadersubgraph.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_validationWarning.shadersubgraph
  TestProjects/ShaderGraph/Assets/CommonAssets/Graphs/ErrorTestGraphs/sub_validationWarning.shadersubgraph.meta
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/AbstractMaterialNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderSubGraphImporter.cs
  com.unity.shadergraph/Editor/Util/MessageManager.cs
Labels: Shader Graph, testing

#3578 Improved a bit the area cookie behavior for higher smoothness values to reduce artifacts.
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2403_Area_TexturedRectLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2403_Area_TexturedRectLights.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2403_Area_TexturedRectLights.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/Eye.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5128 [Fix][SDF Baker] SdfUtils.hlsl include needs to be absolute
  com.unity.visualeffectgraph/Shaders/SDFBaker/GenSdfRayMap.compute
  com.unity.visualeffectgraph/Shaders/SDFBaker/RayMapVoxelize.shader
Labels: vfx

#5114 Reformat remaining URP projects
  .repoconfig
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/105_MRT/OutputColorsToMRTsRenderPass.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/105_MRT/Test105Renderer.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/105_MRT/Test105RendererData.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/106_MRT_CameraClearFlag/Test106Renderer.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/106_MRT_CameraClearFlag/Test106RendererData.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Scenes/107_DepthPrepass/Test107RendererData.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/Editor/CopyImageToReferenceFolders.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/Editor/MultipleViewGCTest.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/Editor/UniversalProjectEditorTests.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/Runtime/ArrayDrawer.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/Runtime/CameraCallbackTests.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/Runtime/CustomRenderPipeline/CustomRenderGraphData.cs
  TestProjects/UniversalGraphicsTest_2D/Assets/Test/Runtime/UniversalGraphicsTests.cs
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/105_MRT/OutputColorsToMRTsRenderPass.cs
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/105_MRT/Test105Renderer.cs
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/105_MRT/Test105RendererData.cs
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/106_MRT_CameraClearFlag/Test106Renderer.cs
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/106_MRT_CameraClearFlag/Test106RendererData.cs
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/107_DepthPrepass/Test107RendererData.cs
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/105_MRT/OutputColorsToMRTsRenderPass.cs
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/105_MRT/Test105Renderer.cs
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/105_MRT/Test105RendererData.cs
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/106_MRT_CameraClearFlag/Test106Renderer.cs
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/106_MRT_CameraClearFlag/Test106RendererData.cs
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/129_EnvironmentShaderVariable/AmbientSky.shader
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/200_Assets/Shaders/OutputSSAOTexture.shader
Labels: ready-to-merge, sdet, testing, universal

#5019 Hd/bugfix-1339945: Fix fabric IBL performance & quality
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1351_Fabric_Area_Light.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1352_Fabric_Env_Convolution.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8105_BlendStates_b.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1351_Fabric_Area_Light.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1352_Fabric_Env_Convolution.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8105_BlendStates_b.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1351_Fabric_Area_Light.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1352_Fabric_Env_Convolution.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8105_BlendStates_b.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1351_Fabric_Area_Light.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1352_Fabric_Env_Convolution.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8105_BlendStates_b.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1351_Fabric_Area_Light.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1352_Fabric_Env_Convolution.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8105_BlendStates_b.png
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/CommonLighting.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/ImageBasedLighting.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Sampling/Sampling.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/CharlieConvolve.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/FabricReference.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/IBLFilterCharlie.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/PreIntegratedFGD.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/PreIntegratedFGD/preIntegratedFGD_CharlieFabricLambert.shader
Labels: HDRP, SRP, testing

#5059 Added an option to disable runtime debug window hotkey.
  com.unity.render-pipelines.core/Runtime/Debugging/DebugManager.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUpdater.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
Labels: HDRP, SRP, needs-backport-2021.1

#5115 [2021.2+] Fix URP Smoke Test to do SRP assignation in both Quality and Graphics Settings
  com.unity.render-pipelines.universal/Tests/Runtime/RuntimeTests.cs
Labels: universal

#5170 [Yamato] Add trunk weekly
  .yamato/_abv.yml
  .yamato/config/abv.metafile
Labels: sdet

#5172 Fix GC alloc in GetDirectionalLightData()
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP

#5173 [GitHub Actions] Add more Shader Graph jobs to PR commenter
  .github/pr-commenter.yml
Labels: sdet

#5175 HDRP udpate frame diagram image
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRP-frame-graph-diagram.png
Labels: HDRP

#5052 [ Backport 2021.1] Improve DoF when MSAA is enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldCoC.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFCircleOfConfusion.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#5076 Fix camera rotation uncontrollable with low framerate
  com.unity.render-pipelines.core/Runtime/Camera/FreeCamera.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.template-hd/Assets/SampleSceneAssets/Scripts/LookWithMouse.cs
  com.unity.template-hd/Assets/SampleSceneAssets/Scripts/SimpleCameraController.cs
  com.unity.template-universal/Assets/Scripts/SimpleCameraController.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#5163 [ShaderGraph][21.2] Fix wrong searcher appearing when edge of stack is hovered
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph

#5176 [FogBugz # 1343363] Fixing render target warning on pipeline settings modification.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3305 Sg/graph performance improvements
  com.unity.shadergraph/Editor/Data/Graphs/GradientShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Adjustment/InvertColorsNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Channel/FlipNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/SampleVirtualTextureNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/NodeClassCache.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/CustomFunctionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Data/Util/KeywordUtil.cs
  com.unity.shadergraph/Editor/Drawing/SearchWindowProvider.cs
  com.unity.shadergraph/Editor/Generation/Processors/ActiveFields.cs
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Generation/Processors/ShaderSpliceUtil.cs
  com.unity.shadergraph/Editor/Generation/Processors/ShaderStringBuilder.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporterEditor.cs
Labels: Shader Graph

#5011 Sg/predisplacement
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement/ShaderGraph_Displacement_Position.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement/ShaderGraph_Displacement_Position.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement/ShaderGraph_Displacement_Position.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement/ShaderGraph_Displacement_Position.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement/ShaderGraph_Predisplacement_Position.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement/ShaderGraph_Predisplacement_Position.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement/ShaderGraph_Predisplacement_Position.shadergraph
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8208_Displacement/ShaderGraph_Predisplacement_Position.shadergraph.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8208_Displacement.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/8208_Displacement.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8208_Displacement.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/8208_Displacement.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8208_Displacement.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/8208_Displacement.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8208_Displacement.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8208_Displacement.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8208_Displacement.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/8208_Displacement.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXDataTests.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDStructFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDStructs.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/Pixel.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/ShaderPass.template
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/Tessellation.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Templates/Vertex.template.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/FragInputs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/TessellationShare.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VertMesh.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/ShaderGraphRequirements.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IMayRequirePositionPredisplacement.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IMayRequirePositionPredisplacement.cs.meta
  com.unity.shadergraph/Editor/Data/Interfaces/NeededCoordinateSpace.cs
  com.unity.shadergraph/Editor/Data/Interfaces/PositionSource.cs
  com.unity.shadergraph/Editor/Data/Interfaces/PositionSource.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/BlockNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/CodeFunctionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/PositionNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/PositionNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/PositionNodePropertyDrawer.cs.meta
  com.unity.shadergraph/Editor/Generation/Processors/GenerationUtils.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/FieldDependencies.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/StructFields.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/Structs.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Templates/SharedCode.template.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/PreviewTarget.cs
  com.unity.shadergraph/Editor/Generation/Templates/BuildSurfaceDescriptionInputs.template.hlsl
  com.unity.shadergraph/Editor/Generation/Templates/BuildVertexDescriptionInputs.template.hlsl
  com.unity.shadergraph/Editor/Generation/Templates/PassMesh.template
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/ShaderGraphLibrary/PreviewVaryings.hlsl
  com.unity.visualeffectgraph/Editor/ShaderGraph/VFXShaderGraphParticleOutput.cs
Labels: HDRP, Shader Graph, testing

#5183 [HDRP] Give TextMesh pro access to Editor assembly
  com.unity.render-pipelines.high-definition/Editor/AssemblyInfo.cs
Labels: HDRP

#5177 [HDRP] Fix screen-space shadows with XR single-pass and camera relative
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadows.shader
Labels: HDRP, XR, needs-backport-10.x, needs-backport-2021.1

#5160 Fixed ghosting issues if the exposure changed too much (RTGI).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/HDRenderPipeline.ScreenSpaceGlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingSubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
Labels: HDRP, dxr

#5136 Fix doc and rotation curves
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Documentation~/Common/lens-flare-data-driven-asset.md
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareDataSRP.cs
  com.unity.render-pipelines.high-definition/Documentation~/lens-flare-data-driven-asset.md
  com.unity.render-pipelines.universal/Documentation~/lens-flare-data-driven-asset.md
Labels: HDRP, SRP, universal

#5020 Fix unlit shader function name ambiguity
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
  com.unity.render-pipelines.universal/Shaders/UnlitForwardPass.hlsl
Labels: universal

#5179 Minor TerrainLit UI fix
  com.unity.render-pipelines.high-definition/Editor/Material/TerrainLit/TerrainLitGUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
Labels: HDRP

#5164 [ShaderGraph][2021.2] Throttling animated preview framerate
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Drawing/PreviewRate.cs
  com.unity.shadergraph/Editor/Drawing/PreviewRate.cs.meta
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
Labels: Shader Graph, needs-backport-10.x, needs-backport-2021.1

#5162 Fix texcoords in terrain shadowpass when _ALPHATEST_ON is set
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/Android/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/071_Terrain_Holes.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/071_Terrain_Holes.unity
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/071_Terrain_Holes/ModifyShadowSettings.cs
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/071_Terrain_Holes/ModifyShadowSettings.cs.meta
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/071_Terrain_HolesSettings.lighting
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Scenes/071_Terrain_HolesSettings.lighting.meta
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: needs-backport-10.x, needs-backport-2021.1, universal

#5120 [Backport][2021.1][SG] Fixing Shader Graph Sub-window horizontal scrollbars not being usable
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawerUtils.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/PropertySheet.cs
  com.unity.shadergraph/Editor/Resources/Resizable.uss
  com.unity.shadergraph/Editor/Resources/Styles/Blackboard.uss
  com.unity.shadergraph/Editor/Resources/Styles/InspectorView.uss
  com.unity.shadergraph/Editor/Resources/Styles/PropertySheet.uss
Labels: Shader Graph

#5123 [Backport 2021.1][1335592] Update docs for 2D Render Data (#4544)
  com.unity.render-pipelines.universal/Documentation~/2DRendererData_overview.md
  com.unity.render-pipelines.universal/Documentation~/Images/2D/2dRendererData_properties.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/Default_Custom_Material.png
  com.unity.render-pipelines.universal/Documentation~/Images/2D/Default_Material_Type.png
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DDataEditor.cs
Labels: 2d, universal

#5181 [Backport 2021.1][1342335] Fix for shadows2d
  com.unity.render-pipelines.universal/Shaders/2D/Include/LightingUtility.hlsl
Labels: 2d, universal

#5186 Fix yaml generator on mac
  .yamato/_abv.yml
  .yamato/script/generate_ymls.py
Labels: needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x, sdet

#5193 Fixed failures on platforms that do not support ray tracing due to an engine behavior change.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP

#5158 Fix cubemap static preview + remove custom inspector (#2041)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDCubemapInspector.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDCubemapInspector.cs.meta
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDReflectionProbeEditor.Preview.cs
Labels: HDRP, ready-to-merge

#5167 Fixed infinite propagation of nans for RTGI, SSGI and RTSSS(case 1349738).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
Labels: HDRP, dxr

#5199 Epsilon was too high, causing decal projectors to snap
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.Jobs.cs
Labels: HDRP

#5131 Fixed a null ref exception when adding a new environment to the library.
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.EnvironmentLibrarySidePanel.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1
