Repository Unity-Technologies/Graphics, pull requests merged in 2021-01, with the labels that each got.

#2998 Disable Universal on Win_DX12_playmode_XR
  .yamato/all-universal.yml
  .yamato/config/universal.metafile
Labels: yamato

#2970 Fix Clearcoat on Stacklit breaks when URP is imported into the project
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDBlockFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalBlockFields.cs
  com.unity.shadergraph/Editor/Generation/TargetResources/BlockFields.cs
Labels: HDRP, Shader Graph, needs-backport-10.x, needs-backport-2021.1, universal

#2999 Fix timing issues with accumulation motion blur
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/SubFrameManager.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3002 Add performance and update pipelines back to nightly
  .yamato/_abv.yml
  .yamato/config/_abv.metafile
  .yamato/ruamel/jobs/abv/abv_all_project_ci_nightly.py
  .yamato/ruamel/jobs/abv/yml_abv.py
Labels: yamato

#2868 [ShaderGraph] Fix for blackboard property scrolling not moving the containing scroll view
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/PropertyTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/SubWindowTests.cs
  TestProjects/ShaderGraph/Assets/Testing/DependencyGraphs.meta
  TestProjects/ShaderGraph/Assets/Testing/SaveLoadGraphs.meta
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/ShaderInput.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IGraphDataAction.cs
  com.unity.shadergraph/Editor/Data/Interfaces/IGraphDataAction.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/Input/PropertyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/KeywordNode.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardProvider.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboard.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboard.cs.meta
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboardSection.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboardSection.cs.meta
  com.unity.shadergraph/Editor/Drawing/Controllers.meta
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs.meta
  com.unity.shadergraph/Editor/Drawing/Controllers/SGController.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/SGController.cs.meta
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/FloatPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Interfaces/IResizable.cs
  com.unity.shadergraph/Editor/Drawing/Interfaces/ISGControlledElement.cs
  com.unity.shadergraph/Editor/Drawing/Interfaces/ISGControlledElement.cs.meta
  com.unity.shadergraph/Editor/Drawing/Manipulators/ElementResizer.cs
  com.unity.shadergraph/Editor/Drawing/ViewModels.meta
  com.unity.shadergraph/Editor/Drawing/ViewModels/BlackboardViewModel.cs
  com.unity.shadergraph/Editor/Drawing/ViewModels/BlackboardViewModel.cs.meta
  com.unity.shadergraph/Editor/Drawing/ViewModels/SGViewModel.cs
  com.unity.shadergraph/Editor/Drawing/ViewModels/SGViewModel.cs.meta
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphSubWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Drawing/Views/PropertyNodeView.cs
  com.unity.shadergraph/Editor/Drawing/Views/ResizableElement.cs
  com.unity.shadergraph/Editor/Resources/Styles/Blackboard.uss
  com.unity.shadergraph/Editor/Resources/UXML/GraphInspector.uxml
  com.unity.shadergraph/Editor/Resources/UXML/GraphView/Blackboard.uxml
  com.unity.shadergraph/Editor/Resources/UXML/GraphView/BlackboardSection.uxml
Labels: Shader Graph, needs-backport-10.x, testing

#3015 Added area light support disclaimer
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Fabric.md
  com.unity.render-pipelines.high-definition/Documentation~/Master-Node-Hair.md
  com.unity.render-pipelines.high-definition/Documentation~/cotton-wool-shader.md
  com.unity.render-pipelines.high-definition/Documentation~/hair-shader.md
  com.unity.render-pipelines.high-definition/Documentation~/silk-shader.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/area-light-material-support-disclaimer.md
Labels: Docs, HDRP, needs-backport-10.x, needs-backport-2021.1

#2812 Convert XR automated tests to use MockHMD
  TestProjects/UniversalGraphicsTest/Assets/Scenes/005_LitBakedEmission.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/013_CameraMulti_Splitscreen.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/035_Shader_TerrainShaders.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/038_Shader_TerrainBlend.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/069_2D_Forward_Shader_Compatibility_Forward.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/072_LensDistortion.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/076_Dithering.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/091_TonemappingNeutralLDR.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/100_BloomHDR.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/101_FXAA.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/102_SMAA.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/130_ClearCoat.unity
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/SetupGraphicsTestCases.cs
  TestProjects/UniversalGraphicsTest/Assets/Test/Editor/Unity.Testing.SRP.Universal.Editor.asmdef
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/Renderer2DTests.cs
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/Unity.Testing.SRP.Universal.Runtime.asmdef
  TestProjects/UniversalGraphicsTest/Assets/Test/Runtime/UniversalGraphicsTests.cs
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  com.unity.render-pipelines.core/Runtime/XR/XRGraphicsAutomatedTests.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/XR/XRPass.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: SRP, XR, ready-to-merge, testing, universal, yamato

#2989 Update 5001_Fog_FogFallBack scene to correct bad behavior
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/FogFallbackRT.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/FogFallbackRT.renderTexture.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/Volume_02.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/Volume_03.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/Volume_03.asset.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/Volume_Base.asset
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5001_Fog_FogFallback.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5001_Fog_FogFallback.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5001_Fog_FogFallback.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5001_Fog_FogFallback.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5001_Fog_FogFallback.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, testing

#2863 [11.x.x] Fix for Opaque Texture + MSAA being rendered black on old Apple GPUs
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: needs-backport-2021.1, universal

#3026 [Performance] Bump boat attack revision
  .yamato/all-urp_performance_boatattack.yml
  .yamato/ruamel/jobs/projects/_project_base.py
  .yamato/ruamel/jobs/projects/project_pr.py
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-linux-vulkan.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/urp_performance_boatattack-win-dx12.yml
  .yamato/urp_performance_boatattack-win-vulkan.yml
Labels: yamato

#3030 Deduplicate probe positions of neighboring bricks.
  com.unity.render-pipelines.high-definition/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
Labels: HDRP

#3033 Fixed Render Graph immediate mode.
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
Labels: SRP, needs-backport-10.x, needs-backport-2021.1

#2982 Fixed an issue with material using distortion from ShaderGraph init after Material creation (case 1294026)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/BaseUnlitGUI.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3019 Fix issue with shadow mask and area lights
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3035 [HDRP] Fix issue with capture callback (now includes post processing results)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#2840 [HDRP][Path Tracing] Improved volumetric scattering sampling
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingVolume.hlsl
Labels: HDRP, SRP, dxr, needs-backport-10.x, needs-backport-2021.1

#2988 [HDRP] Enable GetSamplePosition on metal
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild-clustered.compute
Labels: HDRP, needs-backport-2021.1

#2995 Added missing docs to 7.x
  com.unity.render-pipelines.high-definition/Documentation~/Autodesk-Interactive-Shader-Masked.md
  com.unity.render-pipelines.high-definition/Documentation~/Autodesk-Interactive-Shader-Transparent.md
  com.unity.render-pipelines.high-definition/Documentation~/Autodesk-Interactive-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Shader-Graph-Nodes.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
Labels: Docs, HDRP

#2994 Improved reflector property tooltip
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Skin.cs
Labels: Docs, HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x

#2993 HDRP docs bugfixes
  com.unity.render-pipelines.high-definition/Documentation~/Camera-Relative-Rendering.md
  com.unity.render-pipelines.high-definition/Documentation~/Feature-Comparison.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/PlanarReflectionProbe1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/PlanarReflectionProbes1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/ReflectionProbe1.png
  com.unity.render-pipelines.high-definition/Documentation~/Mask-Map-and-Detail-Map.md
  com.unity.render-pipelines.high-definition/Documentation~/MatCap.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Ambient-Occlusion.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Cloud-Layer.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Contact-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Diffusion-Profile.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Exposure.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Fog.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Gradient-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-HDRI-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Indirect-Lighting-Controller.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Micro-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Procedural-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Refraction.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Visual-Environment.md
  com.unity.render-pipelines.high-definition/Documentation~/Planar-Reflection-Probe.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Bloom.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Channel-Mixer.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Chromatic-Aberration.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Color-Adjustments.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Color-Curves.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Depth-of-Field.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Film-Grain.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Lens-Distortion.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Lift-Gamma-Gain.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Motion-Blur.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Panini-Projection.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Shadows-Midtones-Highlights.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Split-Toning.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Tonemapping.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Vignette.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-White-Balance.md
  com.unity.render-pipelines.high-definition/Documentation~/Reflection-Probe.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/volume-override-api.md
Labels: Docs, HDRP, needs-backport-10.x, needs-backport-2021.1

#3018 [HDRP] Fix decal draw order for ShaderGraph decal materials
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#2986 [SRP] Uniformise all ShaderGraph/SubShaderGraph and FBX extension to be lower case
  com.unity.render-pipelines.high-definition/Documentation~/Images/TerrainPaintHoles.png
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Arnold/ArnoldStandardSurface.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/Material/Arnold/ArnoldStandardSurface.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/PhysicalMaterial3DsMax/PhysicalMaterial3DsMax.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/Material/PhysicalMaterial3DsMax/PhysicalMaterial3DsMax.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineEditorResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractive.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractive.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractiveMasked.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractiveMasked.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractiveTransparent.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractiveTransparent.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/CottonWool.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/CottonWool.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Silk.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Silk.shadergraph.meta
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Shadergraphs/SG_Decal_WaterPuddle.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Shadergraphs/SG_Decal_WaterPuddle.shadergraph.meta
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.shadergraph/Documentation~/images/Active-Inactive-Blocks.png
  com.unity.shadergraph/Samples~/ProceduralPatterns/Bacteria.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Bacteria.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Brick.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Brick.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Dots.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Dots.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Grid.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Grid.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Herringbone.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Herringbone.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Hex Lattice.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Hex Lattice.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Houndstooth.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Houndstooth.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Smooth Wave.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Smooth Wave.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Spiral.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Spiral.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Stripes.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Stripes.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Truchet.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Truchet.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Whirl.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Whirl.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Zig Zag.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Zig Zag.shadersubgraph.meta
  com.unity.template-universal/Assets/ExampleAssets/Shaders/Paint1G_WAnim_Shader.shadergraph
  com.unity.template-universal/Assets/ExampleAssets/Shaders/Paint1G_WAnim_Shader.shadergraph.meta
Labels: HDRP, Shader Graph, needs-backport-10.x, needs-backport-2021.1, universal

#3041 [ShaderGraph] [bugfix 1304501] Fix for ShaderGraph hang, and slightly better handling of exceptions
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/TabbedView/TabbedView.cs
Labels: Shader Graph

#3037 Motion blur half precision optimization
  com.unity.render-pipelines.universal/Shaders/PostProcessing/CameraMotionBlur.shader
Labels: universal

#2956 Fixed various Look Dev issues after exiting Playmode
  com.unity.render-pipelines.core/Editor/LookDev/CameraController.cs
  com.unity.render-pipelines.core/Editor/LookDev/ComparisonGizmoController.cs
  com.unity.render-pipelines.core/Editor/LookDev/Compositor.cs
  com.unity.render-pipelines.core/Editor/LookDev/DisplayWindow.cs
  com.unity.render-pipelines.core/Editor/LookDev/LookDev.cs
  com.unity.render-pipelines.core/Editor/LookDev/Stage.cs
Labels: SRP, needs-backport-10.x, needs-backport-2021.1

#3048 bump version to 7.5.3
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#3024 Fixup Universal XR tests
  .yamato/all-universal.yml
  .yamato/config/universal.metafile
  .yamato/universal-osx-metal.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
Labels: XR, ready-to-merge, universal, yamato

#3045 Updated 2D Renderer Data Asset
  TestProjects/UniversalGraphicsTest/Assets/Scenes/056_2D_Lights/New 2D Renderer Data.asset
Labels: needs-backport-10.x, needs-backport-2021.1, testing, universal

#2346 Fix GLES3 cubemap array support
  com.unity.render-pipelines.core/ShaderLibrary/API/GLES3.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: SRP, universal

#3049 Update changelog to have 2020.1 and 2020.2 version
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/Version.hlsl
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.shadergraph/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: HDRP, SRP, Shader Graph, universal, vfx

#2939 Fix light for-loops when running on WebGL1
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/Lighting.hlsl
Labels: universal

#3025 fix blackboard nullref when duplicating node with blackboard closed
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
Labels: Shader Graph

#2940 [11.x.x] Enable 039, 111 and 131 URP tests on iOS
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/039_Particles_Instanced.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/039_Particles_Instanced.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#2890 Universal/bugfix/runtime render pass fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x, universal

#3060 StackLit: Fix SG surface option property block for energy conserving specular
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSurfaceOptionPropertyBlock.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3063 Fixed missing BeginCameraRendering call for custom render mode of a Camera
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#3066 Implement custom drawer for layer mask parameters
  com.unity.render-pipelines.core/Editor/Volume/Drawers/IntParameterDrawer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#3052 Adding mixed light baking shadowmask test
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/.gitignore
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/2505_Area_Light_ShadowMask_Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/2505_Area_Light_ShadowMask_Profile.asset.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/CasterPlane.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/CasterPlane.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Ground.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Ground.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_B.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_B.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_C.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_C.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_G.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_G.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_M.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_M.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_R.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_R.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_Y.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2505_Area_Light_ShadowMask_Baking/Sphere_Y.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2505_Area_Light_ShadowMask_Baking.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2505_Area_Light_ShadowMask_Baking.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2505_Area_Light_ShadowMask_Baking.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2505_Area_Light_ShadowMask_Baking.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2505_Area_Light_ShadowMask_Baking.png
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, testing

#3064 Bump manifest.json files to gfx-test-framework 7.8.0-preview
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, testing, universal, vfx

#3012 [7.x] misc. SDET backports for week 01/01 - 07/01
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/greetings.yml
  .yamato/_projectcontext.yml
  .yamato/config/__shared.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/ruamel/jobs/packages/project_test.py
  .yamato/ruamel/jobs/packages/project_test_min_editor.py
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-osx-metal.yml
  .yamato/universal-linux-openglcore.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-osx-metal.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-osx-metal.yml
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, yamato

#3010 [2021.1] misc. SDET backports for week 01/01 - 07/01
  .github/CODEOWNERS
  .github/workflows/greetings.yml
  .yamato/_projectcontext.yml
  .yamato/all-universal.yml
  .yamato/config/universal.metafile
  .yamato/ruamel/jobs/packages/project_test.py
  .yamato/ruamel/jobs/packages/project_test_min_editor.py
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest/Packages/manifest.json
  TestProjects/UniversalHybridTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.testing.hdrp/package.json
  com.unity.testing.visualeffectgraph/package.json
Labels: HDRP, SRP, yamato

#3067 Bump SRP package version to 12
  Tools/CreateLocalPackages.cmd
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/Version.hlsl
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/Packages/manifest.json
  com.unity.testing.graphics-performance/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#3065 Updating lighting cascades ref images
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/136_Lighting_Directional2Cascades.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/137_Lighting_Directional3Cascades.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/138_Lighting_Directional4Cascades.png
Labels: testing, universal

#2978 Slight modification of 103_ReflectionQuality test to increase coverage with multibounce RTR
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/103_ReflectionsQuality.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/103_ReflectionsQuality.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/103_ReflectionsQuality.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/SG_Lit_SmoothReflection.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/SG_Lit_SmoothReflection.shadergraph.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/Shader Graphs_SG_Lit_SmoothReflection.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RayTracedReflectionsData/Shader Graphs_SG_Lit_SmoothReflection.mat.meta
Labels: HDRP, dxr, testing

#3020 Changed the clamping approach for RTR and RTGI (in both perf and quality) to improve visual quality.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_MaterialQuality_Indirect.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/104_ReflectionsNoisy.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsAndGlobalIlluminationCollision.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsDenoised.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/301_GlobalIlluminationPerfFull.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/301_GlobalIlluminationPerfFullLightLayers.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/302_GlobalIlluminationPerfHalf.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/303_GlobalIlluminationQuality.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/304_GlobalIlluminationDenoised1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/305_GlobalIlluminationDenoisedHalf1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/306_GlobalIlluminationDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/307_GlobalIlluminationFog.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/7000_QuadChannelTexCoord.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
Labels: HDRP, dxr, needs-backport-10.x, needs-backport-2021.1, testing

#3027 Fixed the condition on temporal accumulation in the reflection denoiser (case 1303504).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/SSGIDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DenoisingUtils.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DenoisingUtils.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/DiffuseDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/ReflectionDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
Labels: HDRP, dxr

#3029 Changed the warning message for ray traced area shadows (case 1303410).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Shadows.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3028 Changed the name from the Depth Buffer Thickness to Depth Tolerance for SSGI (case 1301352).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3023 Disabled specular occlusion for what we consider medium and larger scale rtao > 1.25 with a 25cm falloff interval.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/201_LargeAmbientOcclusion.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/202_LargeAmbientOcclusionDenoised.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/MaterialEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
Labels: HDRP, dxr, testing

#3076 [10.x.x Backport] [SRP] Uniformise all ShaderGraph/SubShaderGraph and FBX extension to be lower case #2986
  com.unity.render-pipelines.high-definition/Documentation~/Images/TerrainPaintHoles.png
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Arnold/ArnoldStandardSurface.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/Material/Arnold/ArnoldStandardSurface.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/PhysicalMaterial3DsMax/PhysicalMaterial3DsMax.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/Material/PhysicalMaterial3DsMax/PhysicalMaterial3DsMax.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineEditorResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPipelineResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractive.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractive.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractiveMasked.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractiveMasked.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractiveTransparent.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractiveTransparent.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/CottonWool.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/CottonWool.shadergraph.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Silk.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Silk.shadergraph.meta
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Shadergraphs/SG_Decal_WaterPuddle.shadergraph
  com.unity.render-pipelines.high-definition/Samples~/MaterialSamples/Shadergraphs/SG_Decal_WaterPuddle.shadergraph.meta
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.shadergraph/Documentation~/images/Active-Inactive-Blocks.png
  com.unity.shadergraph/Samples~/ProceduralPatterns/Bacteria.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Bacteria.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Brick.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Brick.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Dots.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Dots.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Grid.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Grid.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Herringbone.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Herringbone.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Hex Lattice.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Hex Lattice.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Houndstooth.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Houndstooth.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Smooth Wave.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Smooth Wave.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Spiral.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Spiral.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Stripes.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Stripes.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Truchet.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Truchet.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Whirl.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Whirl.shadersubgraph.meta
  com.unity.shadergraph/Samples~/ProceduralPatterns/Zig Zag.shadersubgraph
  com.unity.shadergraph/Samples~/ProceduralPatterns/Zig Zag.shadersubgraph.meta
  com.unity.template-universal/Assets/ExampleAssets/Shaders/Paint1G_WAnim_Shader.shadergraph
  com.unity.template-universal/Assets/ExampleAssets/Shaders/Paint1G_WAnim_Shader.shadergraph.meta
Labels: HDRP, Shader Graph, universal

#2991 10.x.x/shadergraph/fix rounded rectangle
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Shape/RoundedRectangleNode.cs
Labels: Shader Graph

#3062 Filter UniversalGraphicsTests
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
Labels: testing, universal

#3088 re-added scene 132 vulkan linux standalone filter
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#3092 [HDRP] Clean remaining probe volume v1 code
  com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild-clustered.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/DecalMeshBiasTypeEnum.cs.hlsl
Labels: HDRP

#3077 Fix GC allocations from XR occlusion mesh when using multipass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRPass.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/XR/XRPass.cs
Labels: HDRP, XR, needs-backport-10.x, needs-backport-2021.1, universal

#3075 Fix XR depth copy and MSAA
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraphUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: HDRP, XR, needs-backport-10.x, needs-backport-2021.1

#3042 Convert HDRP tests to use MockHMD for XR
  .yamato/config/hdrp.metafile
  .yamato/config/hdrp_dxr.metafile
  .yamato/config/hdrp_hybrid.metafile
  .yamato/config/vfx_hdrp.metafile
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-dx12.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/1000_RaytracingQualityKeyword_MaterialQuality_Indirect.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/306_GlobalIlluminationDenoised2.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/307_GlobalIlluminationFog.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/711_DirectionalShadowFallback.unity
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestMBPCompatibility.unity
  TestProjects/HDRP_HybridTests/Assets/SampleScenes/TestShaderGraphOverrides.unity
  TestProjects/HDRP_HybridTests/Assets/Tests/Editor/SetupGraphicsTestCases.cs
  TestProjects/HDRP_HybridTests/Assets/Tests/Editor/TestEditor.asmdef
  TestProjects/HDRP_HybridTests/Assets/Tests/Runtime/GraphicsTests.cs
  TestProjects/HDRP_HybridTests/Assets/Tests/Runtime/TestRuntime.asmdef
  TestProjects/HDRP_HybridTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1102_Unlit_Distortion.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1103_Unlit_Distortion_DepthTest.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1710_Decals_Normal_Patch.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1802_Depth_Pre_Post_Lit.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1803_Depth_Pre_Post_LitTess.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1804_Depth_Pre_Post_SG.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2004_Light_AnimatedCookie.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2222_ReflectionProbeDistanceBased.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2318_Mixed_Cached_ShadowMap_Spot.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2551_SSR.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4011_MotionBlur_PerObject.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4014_PrecomputedVelocityAlembic.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4060_CustomPostProcess.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5010_CloudLayer.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8107_UnlitShadowMatteAmbientOcclusion.unity
  TestProjects/HDRP_Tests/Packages/manifest.json
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRSystem.cs
  com.unity.testing.hdrp/Scripts/Setup/Assembly-CSharp-Editor.asmdef
  com.unity.testing.hdrp/Scripts/Setup/SetupGraphicsTestCases.cs
  com.unity.testing.hdrp/TestRunner/HDRP_GraphicTestRunner.cs
  com.unity.testing.hdrp/TestRunner/HDRP_TestRunner.asmdef
Labels: HDRP, XR, testing, yamato

#3056 Fix box light attenuation
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2002_Light_DynamicMix.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2010_IES_Cookies.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2002_Light_DynamicMix.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2010_IES_Cookies.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2002_Light_DynamicMix.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2010_IES_Cookies.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2002_Light_DynamicMix.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2010_IES_Cookies.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2002_Light_DynamicMix.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2010_IES_Cookies.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/HDShadowLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/PunctualLightCommon.hlsl
Labels: HDRP, testing

#3034 [Performance] Refactor and allow multiple performance projects
  .yamato/all-urp_performance_boatattack.yml
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/ruamel/jobs/projects/_project_base.py
  .yamato/ruamel/jobs/projects/commands/android.py
  .yamato/ruamel/jobs/projects/commands/internal.py
  .yamato/ruamel/jobs/projects/commands/iphone.py
  .yamato/ruamel/jobs/projects/commands/linux.py
  .yamato/ruamel/jobs/projects/commands/osx_metal.py
  .yamato/ruamel/jobs/projects/commands/osx_openglcore.py
  .yamato/ruamel/jobs/projects/commands/win.py
  .yamato/ruamel/jobs/projects/project_nightly.py
  .yamato/ruamel/jobs/projects/project_not_standalone.py
  .yamato/ruamel/jobs/projects/project_pr.py
  .yamato/ruamel/jobs/projects/project_standalone.py
  .yamato/ruamel/jobs/projects/project_standalone_build.py
  .yamato/ruamel/jobs/projects/yml_project.py
  .yamato/ruamel/jobs/shared/constants.py
  .yamato/ruamel/jobs/shared/utr_utils.py
  .yamato/ruamel/jobs/shared/yml_job.py
  .yamato/shadergraph-android-opengles3.yml
  .yamato/shadergraph-android-vulkan.yml
  .yamato/shadergraph-iphone-metal.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/smoke_test-win-dx11.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-dx12.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-iphone-metal.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#3095 [12.x.x] Forcing render scale to 1.0 for scene cameras
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#3057 Hd/fix 1299116 tesselation cull
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1224_Lit_Tesselation_Culling.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1224_Lit_Tesselation_Culling.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1224_Lit_Tesselation_Culling.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1224_Lit_Tesselation_Culling/TesselationPlaneMaterial.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1224_Lit_Tesselation_Culling/TesselationPlaneMaterial.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1224_Lit_Tesselation_Culling.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1224_Lit_Tesselation_Culling.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1224_Lit_Tesselation_Culling.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1224_Lit_Tesselation_Culling.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1224_Lit_Tesselation_Culling.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1224_Lit_Tesselation_Culling.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1224_Lit_Tesselation_Culling.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1224_Lit_Tesselation_Culling.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1224_Lit_Tesselation_Culling.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1224_Lit_Tesselation_Culling.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/GeometricTools.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitDataMeshModification.hlsl
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1, testing

#3110 Fix compile issues on platforms not supporting XR
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/XRPass.cs
Labels: HDRP

#3013 Remove shader stripping workaround
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
Labels: universal

#3096 filter for failing test on consoles
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#2935 Fix black scene view problems with bloom.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/PostProcessing/Bloom.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/UberPost.shader
Labels: universal

#3032 Change the source value for the ray tracing frame index iterator from m_FrameCount to the camera frame count (case 1301356).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, dxr

#3070 [HDRP] Added a RenderGraph pass that resets the camera size after the dynamic res upscale
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3061 Fix Light Intensity UI Prefab Override Application (1299563)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3079 Fix Undo/Redo Stability for Light Temperature (1304176, 1301076)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/LightUnit/LightUnitSlider.cs
Labels: needs-backport-10.x, needs-backport-2021.1

#3046 Fix labels style
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Sky/PhysicallyBasedSky/PhysicallyBasedSkyEditor.cs
Labels: HDRP

#3099 mobile optimisation: reduce the size of the fragment input struct of …
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/LitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
Labels: universal

#3081 Fixed side effect on styles during compositor rendering.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.Styles.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.cs
Labels: HDRP

#3101 [HDRP][Compositor] Fix size and spacing of compositor info boxes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionLayerUI.Drawers.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3105 [HDRP][Compositor] Fix color picker UI glitch in the Graphics Compositor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.Styles.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3112 Hdrp/docs/fix 1305538
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Shadows.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Recursive-Rendering.md
Labels: Docs, HDRP, needs-backport-10.x, needs-backport-2021.1

#3107 Fix urp udate custom revision jobs
  .yamato/ruamel/jobs/projects/commands/internal.py
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_boatattack-win-dx11.yml
  .yamato/urpupdate_boatattack-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
Labels: needs-backport-10.x, needs-backport-2021.1, yamato

#3113 Add compute shader stripping for probe volume variants
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
Labels: HDRP

#2691 View Space Lighting Tool
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Documentation~/Images/view-lighting-tool-gizmo.png
  com.unity.render-pipelines.core/Documentation~/Images/view-lighting-tool-light-anchor0.png
  com.unity.render-pipelines.core/Documentation~/TableOfContents.md
  com.unity.render-pipelines.core/Documentation~/View-Lighting-Tool.md
  com.unity.render-pipelines.core/Editor/Lighting/Icons/Advanced_Pressed_mini.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/Advanced_Pressed_mini.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/Advanced_UnPressed_mini.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/Advanced_UnPressed_mini.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/DebugProbe.fbx
  com.unity.render-pipelines.core/Editor/Lighting/Icons/DebugProbe.fbx.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/InstancedProbeShader.shader
  com.unity.render-pipelines.core/Editor/Lighting/Icons/InstancedProbeShader.shader.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/LightAnchor_Icon.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/LightAnchor_Icon.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetBounce_Left.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetBounce_Left.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetBounce_Right.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetBounce_Right.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetFill_Left.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetFill_Left.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetFill_Right.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetFill_Right.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetHair.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetHair.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetKick_Left.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetKick_Left.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetKick_Right.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetKick_Right.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetRim_Left.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetRim_Left.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetRim_Right.png
  com.unity.render-pipelines.core/Editor/Lighting/Icons/PresetRim_Right.png.meta
  com.unity.render-pipelines.core/Editor/Lighting/LightAnchorEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightAnchorEditor.cs.meta
  com.unity.render-pipelines.core/Editor/Lighting/LightAnchorEditorTool.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightAnchorEditorTool.cs.meta
  com.unity.render-pipelines.core/Editor/Lighting/LightAnchorHandles.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightAnchorHandles.cs.meta
  com.unity.render-pipelines.core/Runtime/Lights.meta
  com.unity.render-pipelines.core/Runtime/Lights/LightAnchor.cs
  com.unity.render-pipelines.core/Runtime/Lights/LightAnchor.cs.meta
Labels: Docs, HDRP, SRP, universal

#3094 Fix 1299233 ies resize bug
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightCookieManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/PowerOfTwoTextureAtlas.cs
Labels: HDRP

#3016 Fix issue with register spilling in light list shaders
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild-clustered.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/scrbound.compute
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3116 filter for xbone addded
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#3059 Fix undo redo on layered lit editor
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/LayeredLit/LayeredLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayerListUIBlock.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3122 [HDRP] Added Vulkan install in system requirements
  com.unity.render-pipelines.high-definition/Documentation~/System-Requirements.md
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3055 [HDRP] Fix issue with compositor related custom passes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/AlphaInjection.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/ChromaKeying.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3050 Fixed some render texture leaks.
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceComputeBuffer.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourcePool.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceTexture.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture3DAtlas.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#3123 Hd/fix wizard runtime resources
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#3124 platform filter added
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#3108 [HDRP] Fixed lookdev reload bug when viewing a scene object
  com.unity.render-pipelines.core/Editor/LookDev/LookDev.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP

#3129 Replace cds ops image by package/ci (ubuntu)
  .yamato/_editor_priming.yml
  .yamato/_formatting.yml
  .yamato/config/__shared.metafile
Labels: needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x, yamato

#3131 [HDRP] Fix error in Depth Of Field near radius blur calculation
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3134 [HDRP][Template] updated decals position on/near the platform, slightly tuned exposure…
  com.unity.template-hd/Assets/Art/Materials/General/MarbleFlooring_Mat.mat
  com.unity.template-hd/Assets/Scenes/SampleScene.unity
  com.unity.template-hd/Assets/Scenes/SampleScene/ReflectionProbe-2.exr
  com.unity.template-hd/Assets/Settings/Volumes/VolumeRoom3.asset
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3133 Increase XR threshold for DXR test 305
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/305_GlobalIlluminationDenoisedHalf1.unity
Labels: HDRP, XR, testing

#3132 Fix missing release of empty index buffer
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#3136 [HDRP] Fix GC allocs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/AlphaInjection.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/ChromaKeying.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
Labels: HDRP

#3085 [ShaderGraph] [10.3] [bugfix 1293632] Shader graph blackboard property scrolling behavior fix
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/PropertyTests.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/ShaderGraphUITestHelpers.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/ShaderGraphUITestHelpers.cs.meta
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/SubWindowTests.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/ShaderInput.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/PropertyNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/KeywordNode.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardProvider.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboard.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboard.cs.meta
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboardSection.cs
  com.unity.shadergraph/Editor/Drawing/Blackboard/SGBlackboardSection.cs.meta
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/FloatPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphEditorView.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphSubWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialGraphView.cs
  com.unity.shadergraph/Editor/Drawing/Views/PropertyNodeView.cs
  com.unity.shadergraph/Editor/Drawing/Views/StickyNote.cs
  com.unity.shadergraph/Editor/Resources/Styles/Blackboard.uss
  com.unity.shadergraph/Editor/Resources/UXML/GraphInspector.uxml
  com.unity.shadergraph/Editor/Resources/UXML/GraphView/Blackboard.uxml
  com.unity.shadergraph/Editor/Resources/UXML/GraphView/BlackboardSection.uxml
Labels: Shader Graph, testing

#2907 [ShaderGraph] [10.3] [bugfix 1281831] Fix 'Reset Reference' on a Blackboard property throwing a NullReferenceException
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/PropertyTests.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Blackboard/BlackboardFieldView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/PropertyNodeView.cs
Labels: Shader Graph, testing

#3040 Sg/swizzle node UI alignment 2
  com.unity.shadergraph/Documentation~/Swizzle-Node.md
  com.unity.shadergraph/Editor/Data/Nodes/Channel/SwizzleNode.cs
  com.unity.shadergraph/Editor/Drawing/Controls/TextControl.cs
  com.unity.shadergraph/Editor/Resources/Styles/Controls/TextControlView.uss
Labels: Shader Graph

#3082 [ShaderGraph] [10.3] [bugfix 1291760] Shader graph inspector window behavior fixes
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/Inspector/InspectorView.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ShaderInputPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/TabbedView/TabbedView.cs
  com.unity.shadergraph/Editor/Drawing/Interfaces.meta
  com.unity.shadergraph/Editor/Drawing/Interfaces/IResizable.cs
  com.unity.shadergraph/Editor/Drawing/Interfaces/IResizable.cs.meta
  com.unity.shadergraph/Editor/Drawing/Manipulators/ElementResizer.cs
  com.unity.shadergraph/Editor/Drawing/Manipulators/ElementResizer.cs.meta
  com.unity.shadergraph/Editor/Drawing/Views/GraphSubWindow.cs
  com.unity.shadergraph/Editor/Drawing/Views/ResizableElement.cs
  com.unity.shadergraph/Editor/Drawing/Views/ResizableElement.cs.meta
  com.unity.shadergraph/Editor/Drawing/Views/StickyNote.cs
  com.unity.shadergraph/Editor/Resources/Resizable.uss
  com.unity.shadergraph/Editor/Resources/Styles/InspectorView.uss
Labels: Shader Graph

#3138 [Backport] Fix colorspace conversion in SampleGradient
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/OpenGLCore/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InputNodes.png.meta
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/InputNodes.png
  TestProjects/ShaderGraph/Assets/Scenes/InputNodes.unity
  TestProjects/ShaderGraph/Assets/Testing/IntegrationTests/Graphs/Input/Gradient/GradientBlend.shadergraph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Gradient/SampleGradientNode.cs
  com.unity.shadergraph/Editor/Drawing/Controls/GradientControl.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/GradientPropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Views/Slots/GradientSlotControlView.cs
Labels: Shader Graph, testing

#3120 [HDRP] Merge Hd/bugfix
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1224_Lit_Tesselation_Culling.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1224_Lit_Tesselation_Culling.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1224_Lit_Tesselation_Culling.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1224_Lit_Tesselation_Culling/TesselationPlaneMaterial.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1224_Lit_Tesselation_Culling/TesselationPlaneMaterial.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1224_Lit_Tesselation_Culling.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1224_Lit_Tesselation_Culling.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1224_Lit_Tesselation_Culling.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1224_Lit_Tesselation_Culling.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1224_Lit_Tesselation_Culling.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1224_Lit_Tesselation_Culling.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1224_Lit_Tesselation_Culling.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1224_Lit_Tesselation_Culling.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1224_Lit_Tesselation_Culling.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1224_Lit_Tesselation_Culling.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/LookDev/LookDev.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceComputeBuffer.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourcePool.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceTexture.cs
  com.unity.render-pipelines.core/ShaderLibrary/GeometricTools.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/System-Requirements.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionLayerUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.Styles.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/LightUnit/LightUnitSlider.cs
  com.unity.render-pipelines.high-definition/Editor/Material/LayeredLit/LayeredLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LayerListUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Sky/PhysicallyBasedSky/PhysicallyBasedSkyEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitDataMeshModification.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/Texture3DAtlas.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3114 Hide light shadow near plane gizmo when shadows are disabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.Handles.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3008 Added reviewed render graph and rthandle docs
  com.unity.render-pipelines.core/Documentation~/render-graph-benefits.md
  com.unity.render-pipelines.core/Documentation~/render-graph-fundamentals.md
  com.unity.render-pipelines.core/Documentation~/render-graph-system.md
  com.unity.render-pipelines.core/Documentation~/render-graph-writing-a-render-pipeline.md
  com.unity.render-pipelines.core/Documentation~/rthandle-system-fundamentals.md
  com.unity.render-pipelines.core/Documentation~/rthandle-system-using.md
  com.unity.render-pipelines.core/Documentation~/rthandle-system.md
Labels: Docs, SRP, needs-backport-10.x, needs-backport-2021.1

#3111 Hd/fix backplate globalcubemap2
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-HDRI-Sky.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderer.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3135 Noted FPS drop when switching between PBS volumes.
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x

#3127 [HDRP][Path Tracing] Added alpha channel to path traced results
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Alpha-Output.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/Shaders/Accumulation.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
Labels: HDRP, SRP, dxr, needs-backport-10.x, needs-backport-2021.1

#3160 Fix backplate doc
  com.unity.render-pipelines.high-definition/Documentation~/Override-HDRI-Sky.md
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3158 Fix various shader warnings
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/HistogramExposure.compute
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesFunctions.hlsl
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#3162 [HDRP] Fix shader warning in ReflectionDenoiser.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/ReflectionDenoiser.compute
Labels: HDRP

#3146 [URP 2D] Fix: Normal map rendering may corrupt depth on mobile
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: universal

#3164 updated lighting settings
  TestProjects/UniversalGraphicsTest/Assets/Scenes/009_AdditionalLightsShadows.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/009_AdditionalLightsShadowsSettings.lighting
  TestProjects/UniversalGraphicsTest/Assets/Scenes/009_AdditionalLightsShadowsSettings.lighting.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSorted.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSortedSettings.lighting
  TestProjects/UniversalGraphicsTest/Assets/Scenes/010_AdditionalLightsSortedSettings.lighting.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/108_MoveCamera.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/111_CameraStackMSAA.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/120_RenderUICustomRendererNoPP.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/121_RenderUICustomRendererNoAA.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/122_RenderUICustomRendererFXAA.unity
Labels: testing, universal

#2742 [10.x.x] Fixed a case where overlay camera with output texture caused base camera not to render to screen
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: ready-to-merge, universal

#2744 [10.x.x] Fixed an issue where Universal Render Pipeline with disabled antiAlia…
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: ready-to-merge, universal

#2794 [URP 2D] Fix inconsistent normals
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/SpriteNormalPass.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Include/LightingUtility.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Include/NormalsRenderingShared.hlsl
  com.unity.render-pipelines.universal/Shaders/2D/Light2D-Point-Volumetric.shader
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Labels: 2d, ready-to-merge, universal

#3086 [URP 2D] Pixel Perfect Fixes
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/PixelPerfectBackgroundPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/PixelPerfectBackgroundPass.cs.meta
  com.unity.render-pipelines.universal/Runtime/2D/PixelPerfectCamera.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
Labels: 2d, universal

#3171 Remove leftover setting from HDRP Asset
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#2824 Remove mali hack
  com.unity.render-pipelines.core/ShaderLibrary/UnityInstancing.hlsl
  com.unity.render-pipelines.universal/Runtime/XR/XRPass.cs
  com.unity.render-pipelines.universal/ShaderLibrary/UnityInput.hlsl
  com.unity.shadergraph/ShaderGraphLibrary/ShaderVariables.hlsl
Labels: SRP, Shader Graph, XR, universal

#3151 Adds support for the PlayStation 5 platform
  Tools/check-shader-includes-exclusions.txt
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Editor/Utils/EditorUtilities.cs
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessRenderContext.cs
  com.unity.postprocessing/PostProcessing/Shaders/API/PSSL.hlsl
  com.unity.postprocessing/PostProcessing/Shaders/Builtins/ScreenSpaceReflections.hlsl
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Textures/TextureXR.cs
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Building-For-Consoles.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ShaderBase.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/Building-For-Consoles.md
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
  com.unity.template-hd/Packages/com.unity.template.hd/Documentation~/hd.md
  com.unity.template-hd/Packages/com.unity.template.hd/Tests/Editor/InternalTests/ExpectedSettings.cs
  com.unity.template-universal/Packages/com.unity.template.universal/Tests/Editor/InternalTests/ExpectedSettings.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x, universal

#3100 [HDRP][Compositor] Fix issues with compositor's undo
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositorWindow.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionLayer.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositorCameraRegistry.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositorCameraRegistry.cs.meta
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3177 [Backport] Adds support for the PlayStation 5 platform #3151
  Tools/check-shader-includes-exclusions.txt
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Textures/TextureXR.cs
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Building-For-Consoles.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/ShaderBase.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/Building-For-Consoles.md
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.template-hd/Packages/com.unity.template.hd/Documentation~/hd.md
  com.unity.template-hd/Packages/com.unity.template.hd/Tests/Editor/InternalTests/ExpectedSettings.cs
  com.unity.template-universal/Packages/com.unity.template.universal/Tests/Editor/InternalTests/ExpectedSettings.cs
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: HDRP, SRP, Shader Graph, universal, vfx

#3140 Update VFX test projects to use MockHMD when running XR tests
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/23_ParameterBinders.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/HDRPFogVolumetric.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/009_MultiCamera.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/009_MultiCamera_MotionVector.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/009_MultiCamera.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/009_MultiCamera_MotionVector.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/009_MultiCamera.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/009_MultiCamera_MotionVector.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/009_MultiCamera.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/009_MultiCamera_MotionVector.png
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorSettings.asset
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/009_MultiCamera.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/009_MultiCamera.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/009_MultiCamera.png
  TestProjects/VisualEffectGraph_URP/Assets/URP.asset
  TestProjects/VisualEffectGraph_URP/Packages/manifest.json
  TestProjects/VisualEffectGraph_URP/ProjectSettings/EditorSettings.asset
  TestProjects/VisualEffectGraph_URP/ProjectSettings/QualitySettings.asset
  com.unity.testing.visualeffectgraph/Runtime/Unity.Testing.VisualEffectGraph.asmdef
  com.unity.testing.visualeffectgraph/Tests/Editor/SetupGraphicsTestCases.cs
  com.unity.testing.visualeffectgraph/Tests/Editor/SetupGraphicsTestCases.cs.meta
  com.unity.testing.visualeffectgraph/Tests/Editor/Unity.Testing.VisualEffectGraph.EditorTests.asmdef
  com.unity.testing.visualeffectgraph/Tests/Runtime/Setup.meta
  com.unity.testing.visualeffectgraph/Tests/Runtime/Setup/Assembly-CSharp-Editor.asmdef
  com.unity.testing.visualeffectgraph/Tests/Runtime/Setup/Assembly-CSharp-Editor.asmdef.meta
  com.unity.testing.visualeffectgraph/Tests/Runtime/Unity.Testing.VisualEffectGraph.Tests.asmdef
  com.unity.testing.visualeffectgraph/Tests/Runtime/VFXGraphicsTests.cs
Labels: XR, testing, vfx

#3179 [HDRP] Fix issue with multifrequency state and DX12 alembic
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit_Basemap.shader
Labels: HDRP

#3181 Added meta files for TextControl.cs and TextControlView.uss
  com.unity.shadergraph/Editor/Data/Nodes/Channel/SwizzleNode.cs
  com.unity.shadergraph/Editor/Drawing/Controls/TextControl.cs.meta
  com.unity.shadergraph/Editor/Resources/Styles/Controls/TextControlView.uss.meta
Labels: Shader Graph

#2911 Enabled the 2D Renderer to render straight to the back buffer when possible
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
Labels: universal

#3004 sg-docsfix-doc2587-backport10.x
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Create-Shader-Graph.md
  com.unity.shadergraph/Documentation~/First-Shader-Graph.md
  com.unity.shadergraph/Documentation~/Main-Preview.md
  com.unity.shadergraph/Documentation~/Shader-Graph-Window.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/Upgrade-Guide-10-0-x.md
Labels: Shader Graph, backported-10.x

#3125 [2021.1 Backport] Forcing render scale to 1.0 for scene cameras
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#3187 Fix formatting
  com.unity.render-pipelines.high-definition/Editor/Compositor/CompositionManagerEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositorCameraRegistry.cs
Labels: HDRP

#3192 updated ref images
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/039_Particles_Instanced.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/039_Particles_Instanced.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/136_Lighting_Directional2Cascades.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/137_Lighting_Directional3Cascades.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/138_Lighting_Directional4Cascades.png
Labels: testing, universal

#3195 Change Light Unit Slider Value Ranges
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/LightUnit/LightUnitSliderSettings.cs
Labels: HDRP, needs-backport-10.x

#3189 Update keyword frequency for lightmap related fields
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinGIUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit_Basemap.shader
Labels: HDRP

#3193 [Yamato] Extend timeout for urp standalone cache
  .yamato/config/universal.metafile
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  com.unity.shadergraph/CHANGELOG.md
Labels: yamato

#3115 Universal/soft particles ortho
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/Particles.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/ShaderVariablesFunctions.hlsl
Labels: universal

#3191 [HDRP] fix nullref when chaging RP from HDRP to URP
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/DensityVolumeManager.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3169 [HDRP][URP] Added warning message in Projector component inspector UI that the component is not supported
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/ProjectorEditor.cs
  com.unity.render-pipelines.core/Editor/ProjectorEditor.cs.meta
Labels: HDRP, SRP, universal

#1644 Fixes some wonky SpeedTree fade functionality, so that behavior matches built-in renderer functionality
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8.shader
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTreeUtility.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTreeUtility.hlsl.meta
Labels: universal

#3183 [URP] [Docs] Cleanup shadows doc
  com.unity.render-pipelines.universal/Documentation~/Shadows-in-URP.md
Labels: universal

#3206 Fixed a regression introduced when changing the clamping algorithm for RTR and RTGI (case 1307479).
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_MaterialQuality_Indirect.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/105_ReflectionsAndGlobalIlluminationCollision.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/303_GlobalIlluminationQuality.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/303_GlobalIlluminationQualityExposure.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/303_GlobalIlluminationQualityExposure.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/303_GlobalIlluminationQualityExposure.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/303_GlobalIlluminationQualityExposure.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationQualityExposure.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/GlobalIlluminationData/GlobalIlluminationQualityExposure.asset.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.raytrace
Labels: HDRP, dxr, needs-backport-10.x, needs-backport-2021.1, testing

#3211 [2021.1] universal added filters
  TestProjects/UniversalGraphicsTest/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#3212 What's new in 10.3
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new-10.md
  com.unity.render-pipelines.universal/Documentation~/whats-new/urp-whats-new.md
Labels: universal

#3215 [Yamato] Add cache xr jobs
  .yamato/all-hdrp.yml
  .yamato/all-hdrp_dxr.yml
  .yamato/all-hdrp_hybrid.yml
  .yamato/all-universal.yml
  .yamato/all-vfx_hdrp.yml
  .yamato/config/hdrp.metafile
  .yamato/config/hdrp_dxr.metafile
  .yamato/config/hdrp_hybrid.metafile
  .yamato/config/universal.metafile
  .yamato/config/vfx_hdrp.metafile
  .yamato/config/vfx_urp.metafile
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-dx12.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-iphone-metal.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: yamato

#2725 [7.x.x] Fixed a case where overlay camera with output texture caused base camera not to render to screen
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineCameraEditor.cs
Labels: ready-to-merge, universal

#3214 Fix LookDev env library assignment after leaving playmode.
  com.unity.render-pipelines.core/Editor/LookDev/LookDev.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#3163 Dcc/3dsmax2021 physical material
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/AutodeskInteractiveMaterialImport.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Arnold/ArnoldStandardSurface.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/Material/PhysicalMaterial3DsMax/PhysicalMaterial3DsMax.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractive.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractiveMasked.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/AutodeskInteractiveTransparent.shadergraph
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1, universal

#3208 Update Hair Shader Preset Documentation
  com.unity.render-pipelines.high-definition/Documentation~/hair-shader.md
Labels: HDRP

#3149 [VFX/HDRP] Fix Debug View Material
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/HDRP_DebugAlbedo.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/HDRP_DebugAlpha.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/HDRP_DebugMetal.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/HDRP_DebugNormal.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/HDRP_DebugSmoothness.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/HDRP_DebugAlbedo.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/HDRP_DebugAlpha.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/HDRP_DebugMetal.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/HDRP_DebugNormal.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/HDRP_DebugSmoothness.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.testing.visualeffectgraph/Tests/Runtime/VFXGraphicsTests.cs
Labels: HDRP, testing, vfx

#2997 fix broken renderer data inspector
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/RenderStateDataEditor.cs
  com.unity.render-pipelines.universal/Editor/RendererFeatures/RenderObjectsPassFeatureEditor.cs
Labels: needs-backport-2021.1, universal

#3213 [HDRP] Fix locale diffusion profile shader property value in ShaderGraph
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/DiffusionProfileShaderProperty.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3182 [HDRP] Fix error in the RTHandle scale of Depth Of Field when TAA is enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3216 rename occurrences of sample when used as a variable name
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFRayTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Eye/EyeRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/FabricRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairRayTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitRaytracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLitRayTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingLight.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingVolume.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingMIS.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingIndirect.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3218 Reset to current Quality Level at the end of PreProcessBuild in HDRP
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessBuild.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#3188 [VFX] Renable asyncompilation
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorSettings.asset
  TestProjects/VisualEffectGraph_URP/ProjectSettings/EditorSettings.asset
  com.unity.testing.visualeffectgraph/PerformanceTests/Editor/VFXPerformanceEditorTests.cs
  com.unity.testing.visualeffectgraph/PerformanceTests/Runtime/VFXPerformanceRuntimeTests.cs
  com.unity.testing.visualeffectgraph/Tests/Runtime/VFXGraphicsTests.cs
Labels: testing, vfx
