Repository Unity-Technologies/Graphics, pull requests merged in 2021-06, with the labels that each got.

#4715 Fix a bug introduced in https://github.com/Unity-Technologies/Graphics/pull/4479 which broke one of post process tests in UniversalGraphicsTest_2D
  TestProjects/UniversalGraphicsTest_2D/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: 2d, testing, universal

#4684 Fixed a case where camere dimension can be zero
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#4738 Fix lfs files casing for URP Foundation
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/037_Particles/Models/shards.fbx
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/037_Particles/Models/shards.fbx.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Blox.fbx
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Blox.fbx.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Hearse.fbx
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Hearse.fbx.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Robot.fbx
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Robot.fbx.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Wall.fbx
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Wall.fbx.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Cutout.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Cutout.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Maps.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Maps.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Meta.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Meta.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Transparent.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Transparent.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/Unlit_Cutout.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/Unlit_Cutout.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/Unlit_Maps.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/Unlit_Maps.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Maps_Override.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Maps_Override.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Meta_Override.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Meta_Override.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Transparent_Override.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Transparent_Override.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/Unlit_Cutout_Override.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/Unlit_Cutout_Override.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/Unlit_Maps_Override.shadergraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/Unlit_Maps_Override.shadergraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickBase.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickBase.png.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickHeight.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickHeight.png.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickNormalTS.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickNormalTS.png.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickSmoothness.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickSmoothness.png.meta
Labels: testing, universal

#4752 updating graphics tests to make them work with RenderTexture depth stencil changes in trunk
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/4x_PostProcessing/4052_TAA/CaptureRTT.renderTexture
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5001_Fog_FogFallback/FogFallbackRT.renderTexture
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/127_ClearRenderTexture/RTT.renderTexture
Labels: HDRP, testing, universal

#4753 Fix typo in enum of Decal
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4458 [2021.2] Refactor XRSystem.SetupFrame for XR
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/XR/XRSystem.cs
Labels: XR, universal

#4746 Fix thin resize handles on Blackboard and Graph Inspector
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Resources/Resizable.uss
  com.unity.shadergraph/Editor/Resources/Styles/InspectorView.uss
  com.unity.shadergraph/Editor/Resources/Styles/SGBlackboard.uss
Labels: Shader Graph

#4767 Fixed error in merge conflic in changelog
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: universal

#4098 Urp/feature/before transparent blocks
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceShadows.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Shadows.hlsl
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
Labels: ready-to-merge, universal

#4535 Refactoring of deferred shader shader keywords
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/LightCookieManager.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
Labels: universal

#4779 Remove stray RendererList metafile
  com.unity.render-pipelines.core/Runtime/RendererList.meta
Labels: SRP

#4776 Revert "Fix lfs files casing for URP Foundation"
  .gitattributes
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/037_Particles/Models/shards.FBX
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/037_Particles/Models/shards.FBX.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Blox.FBX
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Blox.FBX.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Hearse.FBX
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Hearse.FBX.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Robot.FBX
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Robot.FBX.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Wall.FBX
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/040_UpgradeScene/Models/Environment/Wall.FBX.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Cutout.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Cutout.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Maps.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Maps.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Meta.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Meta.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Transparent.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/PBR_Transparent.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/Unlit_Cutout.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/Unlit_Cutout.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/Unlit_Maps.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs/Graphs/Unlit_Maps.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Maps_Override.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Maps_Override.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Meta_Override.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Meta_Override.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Transparent_Override.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/PBR_Transparent_Override.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/Unlit_Cutout_Override.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/Unlit_Cutout_Override.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/Unlit_Maps_Override.ShaderGraph
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/050_Shader_Graphs_Override/Graph/Unlit_Maps_Override.ShaderGraph.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickBase.PNG
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickBase.PNG.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickHeight.PNG
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickHeight.PNG.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickNormalTS.PNG
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickNormalTS.PNG.meta
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickSmoothness.PNG
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Scenes/230_Decals/Textures/BrickSmoothness.PNG.meta
Labels: testing, universal

#4785 [21.2] Fixed regression issues introduced by PR4458
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: XR, ready-to-merge, universal

#4774 Disable post process 2d graphics test to fix build on Andriod_OpenGLES3
  TestProjects/UniversalGraphicsTest_2D/ProjectSettings/EditorBuildSettings.asset
Labels: 2d, testing, universal

#4768 Fixed issues with debug data not being up to date upon loading/unloading probe volumes
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
Labels: HDRP, SRP

#4783 [Yamato] Include ShaderGraph_BuiltIn in nightly, disable Hybrids
  .yamato/all-hdrp.yml
  .yamato/all-shadergraph.yml
  .yamato/all-urp.yml
  .yamato/config/hdrp.metafile
  .yamato/config/shadergraph.metafile
  .yamato/config/urp.metafile
Labels: sdet

#4772 APV Scene bounds inflation so they match brick sizes.
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneBounds.cs
Labels: HDRP, SRP

#4792 Fixed some broken links. Other minor fixes.
  com.unity.render-pipelines.universal/Documentation~/2DLightProperties.md
  com.unity.render-pipelines.universal/Documentation~/2DRendererData_overview.md
  com.unity.render-pipelines.universal/Documentation~/2d-index.md
  com.unity.render-pipelines.universal/Documentation~/LightTypes.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Channel-Mixer.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Color-Adjustments.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Color-Curves.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Film-Grain.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Lens-Distortion.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Lift-Gamma-Gain.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Panini-Projection.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Shadows-Midtones-Highlights.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Split-Toning.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-White-Balance.md
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/cameras-multiple.md
  com.unity.render-pipelines.universal/Documentation~/faq.md
  com.unity.render-pipelines.universal/Documentation~/lighting.md
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-10-0-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-10-1-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-11-0-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-2021-2.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-3-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-7-4-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-8-0-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-8-1-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-8-2-0.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-9-0-x.md
  com.unity.render-pipelines.universal/Documentation~/urp-global-settings.md
Labels: universal

#4799 Fixed the Priority description.
  com.unity.render-pipelines.universal/Documentation~/baked-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/decal-shader.md
  com.unity.render-pipelines.universal/Documentation~/lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-unlit-shader.md
  com.unity.render-pipelines.universal/Documentation~/shader-complex-lit.md
  com.unity.render-pipelines.universal/Documentation~/unlit-shader.md
Labels: needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x, universal

#4797 TOC improvement.
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
Labels: universal

#4764 [HDRP] Add support of terrain in the subdivison for APV
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeSubdivisionContext.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/VoxelizeScene.shader
Labels: SRP

#4786 New APV validity view and more dilation settings
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.shader
Labels: HDRP, SRP

#4608 Removed y offset on the APV structure as it wasn't useful anymore.
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickIndex.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickPool.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
Labels: HDRP, SRP

#4750 shadergraph/doc/2830
  com.unity.shadergraph/Documentation~/Keywords.md
Labels: Shader Graph

#4749 shadergraph/doc/viewdirectionviewvector2
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/View-Direction-Node.md
  com.unity.shadergraph/Documentation~/View-Vector-Node.md
Labels: Shader Graph

#4747 shadergraph/doc/3096
  com.unity.shadergraph/Documentation~/Property-Types.md
Labels: Shader Graph

#4722 Shadergraph/doc/DOC-3097
  com.unity.shadergraph/Documentation~/Parallax-Occlusion-Mapping-Node.md
  com.unity.shadergraph/Documentation~/Property-Types.md
  com.unity.shadergraph/Documentation~/Split-Texture-Transform-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/node-parallaxocclusionmapping.PNG
  com.unity.shadergraph/Documentation~/node-splittexturetransform.PNG
Labels: Shader Graph

#4689 Built-In-Target-Docs
  com.unity.shadergraph/Documentation~/Graph-Settings-Menu.md
  com.unity.shadergraph/Documentation~/Graph-Target.md
  com.unity.shadergraph/Documentation~/Transformation-Matrix-Node.md
Labels: Shader Graph

#4724 shadergraph/doc/SpeedTree8SubGraphAssets
  com.unity.shadergraph/Documentation~/SpeedTree8-SubGraphAssets.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
Labels: Shader Graph

#4808 [HDRP] Update reference screenshot for vulkan playmode HDRP
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4075_PhysicalCamera-gateFit.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9402_AlphaToMask-Graph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9402_AlphaToMask-HDRP.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4075_PhysicalCamera-gateFit.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9402_AlphaToMask-Graph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9402_AlphaToMask-HDRP.png
Labels: HDRP, testing

#4709 adjustments to ref to precision type/mode and to precision mode doc
  com.unity.shadergraph/Documentation~/Color-Modes.md
  com.unity.shadergraph/Documentation~/Precision-Modes.md
  com.unity.shadergraph/Documentation~/Precision-Types.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/images/Color-Mode-Precision.png
  com.unity.shadergraph/Documentation~/images/precisionmodes1.PNG
  com.unity.shadergraph/Documentation~/images/precisionmodes2.PNG
  com.unity.shadergraph/Documentation~/images/precisionmodes3.PNG
  com.unity.shadergraph/Documentation~/images/precisionmodes4.PNG
Labels: Shader Graph

#4782 [HDRP] Fix console errors when trying to upgrade template to master
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/HDProjectSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipelineResources/HDUserSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDProjectSettingsProxy.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDProjectSettingsReadOnlyBase.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDProjectSettingsReadOnlyBase.cs.meta
Labels: HDRP

#4640 Fixed reflection probes being injected into the ray tracing light cluster even if not baked (case 1329083).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP, dxr, needs-backport-10.x, needs-backport-2021.1

#4663 Ignore hybrid duplicated reflection probes during light baking
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDBakedReflectionSystem.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4725 Fix double sided option moving when toggling it in the material UI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4718 Update docs for cached shadow
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowAtlas.cs
Labels: HDRP

#4716 [HDRP] [Docs] update camera docs and what's new page
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPFeatures-BetterDoF.png
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: HDRP

#4758 Added local volumetric fog in the HDRP features page
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Features.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/LocalVolumetricFog.png
Labels: HDRP

#4815 [Yamato] Remove boat attack update tests from nightly
  .yamato/all-urp.yml
  .yamato/config/urp.metafile
Labels: sdet

#4787 Removed an unused asmdef for the built-in target's shader library whi…
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/Unity.RenderPipelines.BuiltIn.ShaderLibrary.asmdef
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/ShaderLibrary/Unity.RenderPipelines.BuiltIn.ShaderLibrary.asmdef.meta
Labels: Shader Graph

#4719 Volumetric clouds shape offset and aliasing fix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/VolumetricCloudsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
Labels: HDRP

#4506 Resolving FogBugz 1269773, 4, & 5, plus 1284567
  com.unity.shadergraph/Documentation~/index.md
Labels: Shader Graph, needs-backport-10.x, needs-backport-2021.1, needs-backport-7.x

#3241 Sg-doc-2695-21.1-backport
  com.unity.shadergraph/Documentation~/Swizzle-Node.md
Labels: Shader Graph, backported-10.x

#4763 [ShaderGraph] Improved handling of save prompt for shader graph
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialGraphEditWindow.cs
Labels: Shader Graph

#4578 Shadergraph/doc/custominterpolators1
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Custom-Interpolators.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/images/custom-interpolators-1.png
  com.unity.shadergraph/Documentation~/images/custom-interpolators-2.png
  com.unity.shadergraph/Documentation~/images/custom-interpolators-3.gif
  com.unity.shadergraph/Documentation~/images/custom-interpolators-4.png
  custom-interpolators-1.png
  custom-interpolators-4.png
Labels: Shader Graph

#4825 Merge Hd/bugfix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDBakedReflectionSystem.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4736 Fix volumetric fog in planar reflections
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/GenerateMaxZ.compute
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4665 Added two toggles to control occluder rejection and receiver rejection for the ray traced ambient occlusion (case 1330168).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Ambient-Occlusion.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/AmbientOcclusionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/AmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingAmbientOcclusion.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingSubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDTemporalFilter.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingAmbientOcclusion.raytrace
Labels: HDRP, dxr

#4729 [HDRP] Fix incorrect RTHandle scale in DoF CoC history texture when TAA is enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP

#4737 Fix motion blur compute dispatch size
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4770 Hdrp/docs/fix version links
  com.unity.render-pipelines.high-definition/Documentation~/Render-Pipeline-Debug-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/System-Requirements.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Documentation~/deep-learning-super-sampling-in-hdrp.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.visualeffectgraph/Documentation~/System-Requirements.md
Labels: HDRP, universal, vfx

#4762 Hdrp/dlss fixes for particles half res
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Common/DynamicResolutionHandler.cs
  com.unity.render-pipelines.core/Runtime/Common/GlobalDynamicResolutionSettings.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedDynamicResolutionSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/DownsampleDepth.shader
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/ShaderVariablesGlobal.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/UpsampleTransparent.shader
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
Labels: HDRP, SRP

#4759 - Updated the recursive rendering documentation (case 1338639).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Recursive-Rendering.md
Labels: HDRP, dxr, needs-backport-10.x, needs-backport-2021.1

#4812 Fix issue with OnDemand directional shadow map being corrupted when reflection probe are updated same frame
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4802 [HDRP] Fix cropping issue with the graphics compositor when using the camera bridge
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4810 Fixed ambient when APV is disabled
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinGIUtilities.hlsl
Labels: HDRP

#4723 [HDRP][VT] Bugfix multiple resolvers
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/003-VirtualTexturing-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/003-VirtualTexturing-NoMV-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/003-VirtualTexturing-NoMV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing-NoMV-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing-NoMV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003-VirtualTexturing-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003-VirtualTexturing-NoMV-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003-VirtualTexturing-NoMV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/003-VirtualTexturing-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/003-VirtualTexturing-NoMV-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/003-VirtualTexturing-NoMV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/003-VirtualTexturing-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/003-VirtualTexturing-NoMV-Forward.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/003-VirtualTexturing-NoMV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/003-VirtualTexturing.png
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/CameraMipBias.cs
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/CameraMipBias.cs.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasRT0.renderTexture
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasRT0.renderTexture.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasRT1.renderTexture
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasRT1.renderTexture.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasRT2.renderTexture
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasRT2.renderTexture.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasVT0.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasVT0.mat.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasVT1.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasVT1.mat.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasVT2.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasVT2.mat.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasVTGraph.shadergraph
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasVTGraph.shadergraph.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasView0.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasView0.mat.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasView1.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasView1.mat.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasView2.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/GlobalBiasView2.mat.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/Textures/Blu1.png
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/Textures/Blu1.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/Textures/Blu2.png
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/Textures/Blu2.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/Textures/Ender.jpg
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing/Textures/Ender.jpg.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/VTBufferManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, testing

#4751 [1335554][1335557]Fix bugs when upgrading parametric lights to freeform lights
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DUpgrader.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DShape.cs
Labels: 2d, universal

#4635 Add Volumetric Cloud Compatibility with MSAA [Recreated]
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsCombine.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsCombine.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#4668 Shadergraph/doc/blackboardcategories
  com.unity.shadergraph/Documentation~/Blackboard.md
  com.unity.shadergraph/Documentation~/images/blackboardcategories1.png
  com.unity.shadergraph/Documentation~/images/blackboardcategories2.png
  com.unity.shadergraph/Documentation~/images/blackboardcategories3.png
Labels: Shader Graph

#4690 Shadergraph/doc/surfacegradient
  com.unity.shadergraph/Documentation~/Branch-On-Input-Connection-Node.md
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/Gather-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/Sub-Graph-Dropdown-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
Labels: Shader Graph

#4702 Shadergraph/doc/doc2890
  com.unity.shadergraph/Documentation~/Keywords.md
Labels: Shader Graph

#4743 Add import dialog to add a new diffusion profile to the global settings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
Labels: HDRP

#4254 Fixed Selection/Picking passes for URP
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteCustomLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/SelectionPickingPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/SelectionPickingPass.hlsl.meta
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Templates/ShaderPass.template
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Templates/PassMesh.template
Labels: Shader Graph, universal

#4832 [Yamato] Bump revision of URP update tests
  .yamato/all-urpupdate_top_asset_store.yml
  .yamato/config/update_assetstore.metafile
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
Labels: sdet

#4830 Merge Hd/bugfix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Recursive-Rendering.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldTileMax.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/GenerateMaxZ.compute
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4822 Update SSAO ref images for WinEditor + Vulkan now that ST8 has subsurface enabled
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/142_SSAO_DepthNormal_Projection.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/143_SSAO_DepthNormals_Orthographic.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/144_SSAO_RenderToBackBuffer.png
Labels: testing, universal

#4834 [Yamato] Include urp-upgrade in nightly
  .yamato/all-urp-upgrade.yml
  .yamato/all-urp.yml
  .yamato/config/universal_upgrade.metafile
  .yamato/config/urp.metafile
  .yamato/script/gfx_sdet_tools_revision.txt
  .yamato/script/readme.md
  .yamato/urp-upgrade-win-dx11.yml
  .yamato/urp_upgrade.yml
Labels: sdet

#4847 [ShaderGraph]Fix for Artistic Nodes Tests CI failure on Linux_Vulkan
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/ArtisticNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/ArtisticNodes.png
Labels: Shader Graph, testing

#4795 Backport of Fix for 1324588
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
Labels: universal

#4829 [1335563][1335564] Backport fix
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
Labels: 2d, universal

#4789 Backport of 1324741 - Fix for duplicated point light
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Labels: universal

#4816 Decal Handle Swap Shortcut Fix
  com.unity.render-pipelines.high-definition/Editor/Material/Decal/DecalProjectorEditor.cs
  com.unity.render-pipelines.universal/Editor/Decal/DecalProjectorEditor.cs
Labels: HDRP, universal

#4778 Fix SpriteCustomLit shader graphs not supporting debug display.
  com.unity.render-pipelines.universal/Editor/2D/ShaderGraph/Targets/UniversalSpriteCustomLitSubTarget.cs
Labels: universal

#4817 Fixing to correct decal transform change check
  com.unity.render-pipelines.universal/Runtime/Decal/Entities/DecalUpdateCachedSystem.cs
Labels: universal

#4655 [XPipeline]Fix Decal Shader Graph menu
  com.unity.render-pipelines.universal/Editor/Decal/CreateDecalShaderGraph.cs
Labels: universal

#4841 Fixes on APV realtime subdivison
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/VoxelizeScene.shader
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
Labels: SRP

#4854 Removing the word Radii from exposure settings
  com.unity.render-pipelines.high-definition/Documentation~/Override-Exposure.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ExposureEditor.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4742 shadergraph/doc/surfaceoptions
  com.unity.shadergraph/Documentation~/Internal-Inspector.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/images/materialoverride1.PNG
  com.unity.shadergraph/Documentation~/images/materialoverride2.PNG
  com.unity.shadergraph/Documentation~/surface-options.md
Labels: Shader Graph

#4735 Shadergraph/doc/doc 2690
  com.unity.shadergraph/Documentation~/Built-In-Blocks.md
  com.unity.shadergraph/Documentation~/Eye-Index-Node.md
  com.unity.shadergraph/Documentation~/Input-Nodes.md
  com.unity.shadergraph/Documentation~/Instance-ID-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/Vertex-ID-Node.md
  com.unity.shadergraph/Documentation~/images/Blocks-Vertex-Color.png
  com.unity.shadergraph/Documentation~/images/EyeIndexNodeThumb.png
  com.unity.shadergraph/Documentation~/images/InstanceIDNodeThumb.png
  com.unity.shadergraph/Documentation~/images/VertexIDNodeThumb.png
Labels: Shader Graph

#4861 [2021.2] SSAO-Depth: Updating reference images for Vulkan in Win & Linux Playmode (Terrain & Lighting)
  TestProjects/UniversalGraphicsTest_Lighting/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/202_SSAO_Depth.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/202_SSAO_Depth.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/202_SSAO_Depth.png
Labels: testing, universal

#4858 Update SSAO ref images for LinuxEditor + Vulkan now that ST8 has subsurface enabled
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/142_SSAO_DepthNormal_Projection.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/143_SSAO_DepthNormals_Orthographic.png
Labels: testing, universal

#4853 Cleanup some dead code in APV
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickPool.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePositioning.cs
Labels: HDRP, SRP

#4831 changes for preview mode control addition
  com.unity.shadergraph/Documentation~/Graph-Settings-Menu.md
  com.unity.shadergraph/Documentation~/Node.md
  com.unity.shadergraph/Documentation~/Preview-Mode-Control.md
  com.unity.shadergraph/Documentation~/Preview-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/previiewmodecontrol.png
Labels: Shader Graph

#4805 [ShaderGraph] Fixed auto generated reference names for properties to consistently h…
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/PropertyTests.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/ShaderInput.cs
Labels: Shader Graph, testing

#4644 [URP]Camera Inspector - Polish and fixing label DontCare
  com.unity.render-pipelines.core/Editor/CoreEditorStyles.cs
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraEditor.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Environment.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Output.Skin.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Skin.cs
Labels: SRP, universal

#4761 [XPipeline] Lazy init + clean up of CoreEditorStyles
  com.unity.render-pipelines.core/Editor/CoreEditorStyles.cs
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
Labels: SRP

#4843 Fix the order of the Assets > Create > Rendering
  com.unity.render-pipelines.core/Editor/LookDev/EnvironmentLibrary.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineGlobalSettingsCreator.cs
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DMenus.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsCreator.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
Labels: HDRP, SRP, universal

#4876 Updated default materials
  com.unity.render-pipelines.universal/Runtime/Materials/ParticlesUnlit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/SimpleLit.mat
Labels: high-priority, universal

#4824 Add Standalone_XR to HDRP Yamato
  .yamato/all-hdrp.yml
  .yamato/config/hdrp.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/003-VirtualTexturing.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/005-DistortCloudsParallax.unity
Labels: HDRP, XR, sdet, testing

#4836 Use non jittered projection in outline pass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLitTemplate.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/TessellationShare.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/PickingSpaceTransforms.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4856 [HDRP][Path Tracing] Sky settings now properly taken into account when using recorder
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: HDRP, SRP, dxr, needs-backport-10.x, needs-backport-2021.1

#4610 [2021.2][URP][ShaderGraph] Enable automatic render queue control on SG-based material inspector
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/MaterialAssemblyReference.meta
  com.unity.render-pipelines.universal/Editor/ShaderGUI/MaterialAssemblyReference/MaterialAssemblyReference.asmref
  com.unity.render-pipelines.universal/Editor/ShaderGUI/MaterialAssemblyReference/MaterialAssemblyReference.asmref.meta
  com.unity.render-pipelines.universal/Editor/ShaderGUI/MaterialAssemblyReference/RawRenderQueue.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/MaterialAssemblyReference/RawRenderQueue.cs.meta
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShaderGraphLitGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShaderGraphUnlitGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalUnlitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/UniversalProperties.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Drawing/MaterialEditor/ShaderGraphPropertyDrawers.cs
Labels: Shader Graph, universal

#4619 Stripping shader variants per renderer
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
Labels: universal

#4837 Motion vector support for Custom post processing effects
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4833 Fixed aliasing artifacts that are related to numerical imprecisions of the light rays in the volumetric clouds (case 1340731).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
Labels: HDRP

#4889 [SRP] Add Conditional field for shader code generation in Generate include command
  com.unity.render-pipelines.core/Editor/ShaderGenerator/ShaderTypeGeneration.cs
  com.unity.render-pipelines.core/Runtime/ShaderGenerator/ShaderGeneratorAttributes.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassRenderersUtils.shader
Labels: HDRP, SRP

#4793 Minor fix.
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
Labels: universal

#4794 Minor fix.
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
Labels: universal

#4814 [XPipeline]Avoid fetching the help url for foldouts each render
  com.unity.render-pipelines.core/Editor/CoreEditorDrawers.cs
Labels: SRP

#4586 Builtin to urp readonly materials upgrader
  com.unity.render-pipelines.universal/Editor/Converter/ConversionIndexers.cs
  com.unity.render-pipelines.universal/Editor/Converter/ConversionIndexers.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/ConverterItemDescriptor.cs
  com.unity.render-pipelines.universal/Editor/Converter/MaterialReferenceBuilder.cs
  com.unity.render-pipelines.universal/Editor/Converter/MaterialReferenceBuilder.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/ReadonlyMaterialConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/ReadonlyMaterialConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConvertersEditor.cs
  com.unity.render-pipelines.universal/Editor/Converter/converter_widget.uxml
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
  com.unity.render-pipelines.universal/Runtime/Materials/SpatialMappingOcclusion.mat
  com.unity.render-pipelines.universal/Runtime/Materials/SpatialMappingOcclusion.mat.meta
  com.unity.render-pipelines.universal/Runtime/Materials/SpatialMappingWireframe.mat
  com.unity.render-pipelines.universal/Runtime/Materials/SpatialMappingWireframe.mat.meta
  com.unity.render-pipelines.universal/Shaders/SpatialMappingOcclusion.shader
  com.unity.render-pipelines.universal/Shaders/SpatialMappingOcclusion.shader.meta
  com.unity.render-pipelines.universal/Shaders/SpatialMappingWireframe.shader
  com.unity.render-pipelines.universal/Shaders/SpatialMappingWireframe.shader.meta
Labels: universal

#4773 [URP][Converter] anim clip converter
  com.unity.render-pipelines.universal/Editor/Converter/AnimationClipConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/AnimationClipConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConvertersEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
  com.unity.render-pipelines.universal/Editor/UpgradeUtility.cs
  com.unity.testing.urp-upgrade/Tests/Editor/AnimationClipUpgrader_UnitTests.cs
Labels: universal

#4844 APV Dilation on demand + inv square distance weighting option
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.Dilate.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeCellDilation.compute
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoring.cs
Labels: HDRP, SRP

#4872 Clear APV data when finishing baking rather than at start
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeSubdivisionContext.cs
Labels: HDRP, SRP

#4899 Updated the requirements and the upgrade guide for URP 10.6.x.
  com.unity.render-pipelines.universal/Documentation~/TableOfContents.md
  com.unity.render-pipelines.universal/Documentation~/requirements.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-10-6-x.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guides.md
Labels: universal

#4838 Universal/light cookies improvements
  com.unity.render-pipelines.core/Runtime/Textures/Texture2DAtlas.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/LightCookieManager.cs
Labels: SRP, universal

#4894 Fix to a sentence I thought I changed in PR 4668
  com.unity.shadergraph/Documentation~/Blackboard.md
Labels: Shader Graph

#4748 [FogBugz 1339083] Fixing exposure issues with clouds and planar probes
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5013_VolumetricCloudsShadowsNoExposureControl.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/5x_SkyAndFog/5013_VolumetricCloudsShadowsNoExposureControl.unity.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5013_VolumetricCloudsShadowsNoExposureControl.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5013_VolumetricCloudsShadowsNoExposureControl.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5013_VolumetricCloudsShadowsNoExposureControl.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5013_VolumetricCloudsShadowsNoExposureControl.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5013_VolumetricCloudsShadowsNoExposureControl.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#4848 Fix Resolution Issues for Physically Based Depth of Field
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4083_DepthOfField-FP16AlphaPB.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGather.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4906 [HDRP][Path Tracing] Fixes bug introduced by previous sky-while-recording change
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: HDRP, SRP, dxr, needs-backport-10.x, needs-backport-2021.1

#4842 [URP] [upgrader] container support
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConvertersEditor.cs
  com.unity.render-pipelines.universal/Editor/Converter/converter_editor.uxml
Labels: universal

#4896 Fixed division by 0 on Nintendo Switch.
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/Shape/RoundedRectangleNode.cs
Labels: Shader Graph

#4905 Only apply wind deformation to ST8 when a nonzero wind vector is set
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.shadergraph/ShaderGraphLibrary/Nature/SpeedTree8Wind.hlsl
Labels: HDRP, SRP, Shader Graph, needs-backport-10.x, needs-backport-2021.1, universal

#4784 [HDRP] APV - Remove useless bricks subdivison apv
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs.hlsl
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeSubdivide.compute
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneBounds.cs
Labels: SRP

#4839 Fix data mismatch in APV debug view
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickPool.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.shader
Labels: HDRP, SRP

#4866 Fix failure of baking APV when a scene that has been deleted is in build settings
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
Labels: HDRP, SRP

#4879 [HDRP] Realtime subdivision improvements
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbePlacement.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeReferenceVolumeAuthoringEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeSubdivisionContext.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
Labels: SRP

#4913 FIx warning caused by asmdef in core library tests
  com.unity.render-pipelines.core/Tests/Runtime/Unity.RenderPipelines.Core.Runtime.Tests.asmdef
Labels: SRP

#4704 Fix Rendering Debugger runtime UI touch/mouse input in player builds
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUpdater.cs
Labels: SRP

#4775 Fix UX issues in URP Rendering Debugger
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUI.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugDisplaySettingsMaterial.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugDisplaySettingsRendering.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugHandler.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: SRP, universal

#4818 [URP] Scene Templates
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/SceneTemplates.meta
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Basic.scenetemplate
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Basic.scenetemplate.meta
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Basic.unity
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Basic.unity.meta
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Settings/GlobalVolumeProfile.asset
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Settings/GlobalVolumeProfile.asset.meta
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Standard.meta
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Standard.scenetemplate
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Standard.scenetemplate.meta
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Standard.unity
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Standard.unity.meta
Labels: universal

#4917 URP Scene Template Hotfix
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Standard.scenetemplate
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Standard/GlobalVolumeProfile.asset
  com.unity.render-pipelines.universal/Editor/SceneTemplates/Standard/GlobalVolumeProfile.asset.meta
Labels: universal

#4845 [Fogbugz 1341576] Memory leaks when the player is paused, and the user changes pipeline…
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
Labels: HDRP, SRP, needs-backport-10.x, needs-backport-2021.1

#4883 Merge Hd/bugfix
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/710_ShadowAlphaCutoff.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/710_ShadowAlphaCutoff.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/710_ShadowAlphaCutoff.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/M_TransparentCutoff.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/ShadowData/M_TransparentCutoff.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4083_DepthOfField-FP16AlphaPB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4082_DepthOfField-PB.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4083_DepthOfField-FP16AlphaPB.png
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Exposure.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/ExposureEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLitTemplate.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFGather.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingVisibility.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/TessellationShare.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/PickingSpaceTransforms.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4859 [10.x.x] Fix broken renderer data inspector
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/RenderStateDataEditor.cs
Labels: universal

#4907 [10.x.x][HDRP] Backport various PRs
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2008_Debug_SubSurfaceScattering.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2008_Debug_SubSurfaceScattering.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/902_Materials_SG_Variants_Lit.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2008_Debug_SubSurfaceScattering.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2008_Debug_SubSurfaceScattering.unity.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Anti-Aliasing.md
  com.unity.render-pipelines.high-definition/Documentation~/Decal-Projector.md
  com.unity.render-pipelines.high-definition/Documentation~/Diffusion-Profile.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.ContextualMenu.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/ShaderPass.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugViewMaterialGBuffer.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/SubsurfaceScattering/SubsurfaceScatteringManagerRT.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/TemporalAntiAliasing.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXLitPixelOutput.hlsl
Labels: HDRP, SRP, testing

#4803 Fixed SRP Batcher not working on OpenGL
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/UnityInput.hlsl
Labels: universal

#4804 Fixed SRP Batcher not working on OpenGL
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ShaderLibrary/UnityInput.hlsl
Labels: universal

#4936 Backported https://github.com/Unity-Technologies/Graphics/pull/4837/
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP

#4940 [HDRP] Update template + bump version to 12.1.0 for publishing
  com.unity.template-hd/Assets/HDRPDefaultResources/DefaultHDRPAsset.asset
  com.unity.template-hd/Assets/HDRPDefaultResources/HDRenderPipelineGlobalSettings.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Aluminium_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Bamboo_A.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Bamboo_Leaf_A.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Brass_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Bush_01_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Collision_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/ConcreteCyan_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/ConcreteHoles_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/ConcreteMatteGrey_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/ConcretePolished_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/ConcreteRough_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/ConcreteSmooth_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/ConcreteTaupe_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/DecalPuddle_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/DecalWearDark_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/DecalWear_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Decal_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Drain_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/EmissiveBulb_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/EmissiveStripLight_BakedGI_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Fabric_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Fern_01_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/GlassDirt_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Ground_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/MarbleFlooring_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/MetalBlack_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Plant_C.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Rock_A.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Rubber_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/SandblastMetal_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/WallDirt_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/WoodCounter_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/WoodLight_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Particles/ButterFlies.vfx
  com.unity.template-hd/Assets/SampleSceneAssets/Particles/FallingLeaves.vfx
  com.unity.template-hd/Assets/SampleSceneAssets/Particles/FloatingDust.vfx
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/HDRPHighQuality.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/HDRPLowQuality.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/HDRPMediumQuality.asset
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/packages-lock.json
  com.unity.template-hd/ProjectSettings/HDRPProjectSettings.asset
  com.unity.template-hd/ProjectSettings/ProjectVersion.txt
  com.unity.template-hd/ProjectSettings/VFXManager.asset
  com.unity.template-hd/ProjectSettings/boot.config
Labels: HDRP

#4938 Backported https://github.com/Unity-Technologies/Graphics/pull/4837/
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP

#4916 [HDRP] Fixed shadergraph double save
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubTarget.cs
Labels: HDRP

#4877 Updated 10.x to 11.x Upgrade Guide and added to ToC
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2020.2-to-2021.1.md
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4533 Fix sceneview draw modes for baked GI
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/MetaPass.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/MetaPass.hlsl.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Editor/Material/BaseShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDShaderPasses.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/ShaderPass/AxFSharePass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/ShaderPass/LitSharePass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Material.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/TerrainLit/TerrainLitTemplate.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/ShaderPass/UnlitSharePass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassLightTransport.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/LightingMetaPass.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/ShaderLibrary/MetaInput.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/UniversalMetaPass.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/UniversalMetaPass.hlsl.meta
  com.unity.render-pipelines.universal/Shaders/BakedLit.shader
  com.unity.render-pipelines.universal/Shaders/BakedLitMetaPass.hlsl
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/Lit.shader
  com.unity.render-pipelines.universal/Shaders/LitMetaPass.hlsl
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
  com.unity.render-pipelines.universal/Shaders/SimpleLitMetaPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLit.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitBase.shader
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitInput.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitMetaPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Unlit.shader
  com.unity.render-pipelines.universal/Shaders/UnlitMetaPass.hlsl
Labels: HDRP, SRP, needs-backport-2021.1, universal

#4616 Move supportRuntimeDebugDisplay flag to global settings for HDRP & URP
  TestProjects/HDRP_PerformanceTests/Assets/Resources/HDRP Asset/HDRenderPipelineGlobalSettings_Forward.asset
  TestProjects/HDRP_RuntimeTests/Assets/HDRPDefaultResources/HDRenderPipelineGlobalSettings.asset
  TestProjects/SRP_SmokeTest/Assets/HDRPDefaultResources/HDRenderPipelineGlobalSettings.asset
  TestProjects/UniversalGfxTestStereo/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalGraphicsTest_2D/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalGraphicsTest_Foundation/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalGraphicsTest_Lighting/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalGraphicsTest_PostPro/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalGraphicsTest_Terrain/ProjectSettings/ProjectSettings.asset
  TestProjects/UniversalHybridTest/ProjectSettings/ProjectSettings.asset
  TestProjects/VisualEffectGraph_URP/ProjectSettings/ProjectSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Default-Settings-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/HDGlobalSettingsWindow.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/HDGlobalSettingsWindow.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedHDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedRenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.universal/Documentation~/urp-global-settings.md
  com.unity.render-pipelines.universal/Editor/GlobalSettings/SerializedUniversalRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.Skin.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalGlobalSettingsWindow.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.cs
Labels: HDRP, testing, universal, vfx

#4757 Add tooltips to Rendering Debugger (HDRP & URP)
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.Builtins.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUI.Containers.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUI.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettingsHistory.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugDisplaySettingsLighting.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugDisplaySettingsMaterial.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugDisplaySettingsRendering.cs
Labels: HDRP, SRP, universal

#4912 Properly validate displacement mode on lit shader
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/BaseLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/DetailInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
Labels: HDRP

#4871 URP 2D Converters
  com.unity.render-pipelines.universal/Editor/2D/Converter.meta
  com.unity.render-pipelines.universal/Editor/2D/Converter/BuiltInToURP2DConverterContainer.cs
  com.unity.render-pipelines.universal/Editor/2D/Converter/BuiltInToURP2DConverterContainer.cs.meta
  com.unity.render-pipelines.universal/Editor/2D/Converter/BuiltInToURP2DMaterialUpgrader.cs
  com.unity.render-pipelines.universal/Editor/2D/Converter/BuiltInToURP2DMaterialUpgrader.cs.meta
  com.unity.render-pipelines.universal/Editor/2D/Converter/ParametricToFreeformLightUpgrader.cs
  com.unity.render-pipelines.universal/Editor/2D/Converter/ParametricToFreeformLightUpgrader.cs.meta
  com.unity.render-pipelines.universal/Editor/2D/Converter/URP2DConverterUtility.cs
  com.unity.render-pipelines.universal/Editor/2D/Converter/URP2DConverterUtility.cs.meta
  com.unity.render-pipelines.universal/Editor/2D/Converter/UpgradeURP2DAssetsContainer.cs
  com.unity.render-pipelines.universal/Editor/2D/Converter/UpgradeURP2DAssetsContainer.cs.meta
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Editor/2D/Renderer2DUpgrader.cs
Labels: 2d, universal

#4820 Write 0 instead of micro sized motion vectors + fix extremely fast velocities
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Builtin/BuiltinData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MotionVectors/CameraMotionVectors.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4821 [HDRP] Fix material upgrader
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Core/TextureCombiner/TextureCombiner.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4855 [HDRP] Added local volumetric fog samples
  com.unity.render-pipelines.high-definition/Documentation~/Local-Volumetric-Fog.md
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/.sample.json
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_Checker.png
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_Checker.png.meta
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_Checker2.png
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_Checker2.png.meta
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_CheckerPride.png
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_CheckerPride.png.meta
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_GroundSmoke.png
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_GroundSmoke.png.meta
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_GroundSmoke_64.png
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_GroundSmoke_64.png.meta
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_Puffball.png
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_Puffball.png.meta
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_SimplexNoise.png
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_SimplexNoise.png.meta
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_Sphere.png
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_Sphere.png.meta
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_WorleyNoise.png
  com.unity.render-pipelines.high-definition/Samples~/LocalVolumetricFogMasks/3DTexture_WorleyNoise.png.meta
  com.unity.render-pipelines.high-definition/package.json
Labels: HDRP

#4860 [HDRP] Fix custom pass volume not executed in scene view
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassVolume.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.1

#4809 Added support for reflection probes as a fallback for ray traced reflections (case 1338644)
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/109_ReflectionFallbackBoth.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/109_ReflectionFallbackBoth.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/109_ReflectionFallbackNone.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/109_ReflectionFallbackNone.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/109_ReflectionFallbackRefl.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/109_ReflectionFallbackRefl.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/109_ReflectionFallbackSky.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/109_ReflectionFallbackSky.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/306_GlobalIlluminationDenoised2.png
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/Global Volume Profile_Both.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/Global Volume Profile_Both.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/Global Volume Profile_None.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/Global Volume Profile_None.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/Global Volume Profile_Probe.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/Global Volume Profile_Probe.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/Global Volume Profile_Sky.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/Global Volume Profile_Sky.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/ReflectionProbe-0.exr
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/ReflectionProbe-0.exr.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/ReflectionProbe-1.exr
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackBoth/ReflectionProbe-1.exr.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackNone.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackNone.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackRefl.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackRefl.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackSky.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/109_ReflectionFallbackSky.unity.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDAdditionalReflectionData.Legacy.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingIndirectDiffuse.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingFallbackHierarchy.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingFallbackHierarchy.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingFallbackHierarchy.cs.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingFallbackHierarchy.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingDeferred.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Deferred/RaytracingGBuffer.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Denoising/TemporalFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RayTracingLightCluster.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/ShaderVariablesRaytracing.cs.hlsl
Labels: HDRP, dxr, testing

#4813 Quality audit - Adding doc browsing button on camera inspectors
  com.unity.render-pipelines.core/Editor/Camera/CameraUI.Drawers.cs
  com.unity.render-pipelines.core/Editor/CoreEditorStyles.cs
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Environment.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Output.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Rendering.Drawers.cs
  com.unity.render-pipelines.universal/Documentation~/camera-component-reference.md
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Environment.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Output.Drawers.cs
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Rendering.Drawers.cs
Labels: HDRP, SRP, universal

#4924 [Backport 10.x.x][HDRP] Backport various PRs 2
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_Indirect.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/901_Materials_HDRP_Variants.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/901_Materials_HDRP_Variants.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/902_Materials_SG_Variants_Lit.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/902_Materials_SG_Variants_StackLit.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/901_Materials_HDRP_Variants.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/901_Materials_HDRP_Variants/Tesselation.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/901_Materials_HDRP_Variants/Tesselation/LayeredLitTesselation_Standard.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/901_Materials_HDRP_Variants/Tesselation/LayeredLitTesselation_Standard.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/901_Materials_HDRP_Variants/Tesselation/LitTesselation_Standard.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/901_Materials_HDRP_Variants/Tesselation/LitTesselation_Standard.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/901_Materials_HDRP_Variants/Tesselation/LitTesselation_Transparent_None.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/901_Materials_HDRP_Variants/Tesselation/LitTesselation_Transparent_None.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/902_Materials_SG_Variants/Lit/LitTesselation_Standard.shadergraph
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/902_Materials_SG_Variants/Lit/LitTesselation_Standard.shadergraph.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/902_Materials_SG_Variants/Lit/Shader Graphs_LitTesselation_Standard.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/902_Materials_SG_Variants/Lit/Shader Graphs_LitTesselation_Standard.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/902_Materials_SG_Variants_Lit.unity
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Recursive-Rendering.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDBakedReflectionSystem.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Compositor/CompositionManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalProjector.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldTileMax.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/GenerateMaxZ.compute
  com.unity.render-pipelines.high-definition/ValidationExceptions.json
  com.unity.render-pipelines.high-definition/ValidationExceptions.json.meta
Labels: HDRP, testing

#4910 Fixes shader warning introduced in PR #4789
  com.unity.render-pipelines.universal/Shaders/2D/Sprite-Lit-Default.shader
Labels: 2d, universal

#4929 [HDRP] Disable TAA jitter when frame debugger is active
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
Labels: HDRP

#4835 [URP] Fix usage of 'this' during OnAfterDeserialize()
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.cs
Labels: universal

#4873 [URP] [upgrader] PPv2 converter
  com.unity.render-pipelines.universal/Editor/Converter/PPv2.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/BloomConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/BloomConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/ChromaticAberrationConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/ChromaticAberrationConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/ColorGradingConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/ColorGradingConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/DepthOfFieldConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/DepthOfFieldConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/GrainConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/GrainConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/LensDistortionConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/LensDistortionConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/MotionBlurConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/MotionBlurConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/PostProcessEffectSettingsConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/PostProcessEffectSettingsConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/PropertyConversions.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/PropertyConversions.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/VignetteConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/VignetteConverter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/PPv2ConversionIndexers.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/PPv2ConversionIndexers.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/PPv2Converter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/PPv2Converter.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/PPv2ToURPConvertersDefinition.asmdef
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/PPv2ToURPConvertersDefinition.asmdef.meta
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConvertersEditor.cs.meta
Labels: universal

#4898 [Cross-pipeline] HDRP Wizard window appears on opening a new URP project if both pipelines are present.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Window.cs
Labels: HDRP
