Repository Unity-Technologies/Graphics, pull requests merged in 2021-12, with the labels that each got.

#6225 2021.2/universal/backport/fix soft shadow mobile
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
Labels: universal

#6117 Made a GPU buffer with ambient probe SH available to shaders doing lighting.
  com.unity.render-pipelines.core/ShaderLibrary/EntityLighting.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/SphericalHarmonics.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/SphericalHarmonics.hlsl.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/ShaderVariablesAtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricLighting.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLighting.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinGIUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/AmbientProbeConvolution.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderingContext.cs
Labels: SRP, HDRP

#6399 [ANT-284] Add Find Missing Docs job
  .yamato/_abv.yml
  .yamato/_find_missing_docs.yml
  .yamato/config/abv.metafile
Labels: sdet

#6427 [2022.1] ANT Backports
  .yamato/config/__shared.metafile
  .yamato/shadergraph-android-opengles3.yml
  .yamato/shadergraph-android-vulkan.yml
  .yamato/urp_2d-android-opengles3.yml
  .yamato/urp_2d-android-vulkan.yml
  .yamato/urp_foundation-android-opengles3.yml
  .yamato/urp_foundation-android-vulkan.yml
  .yamato/urp_lighting-android-opengles3.yml
  .yamato/urp_lighting-android-vulkan.yml
  .yamato/urp_postpro-android-opengles3.yml
  .yamato/urp_postpro-android-vulkan.yml
  .yamato/urp_terrain-android-opengles3.yml
  .yamato/urp_terrain-android-vulkan.yml
  Tools/.pre-commit-config.yaml
  Tools/readme.md
Labels: sdet

#6428 [2021.2] ANT Backports
  .yamato/config/__shared.metafile
  .yamato/shadergraph-android-opengles3.yml
  .yamato/shadergraph-android-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/urp_2d-android-opengles3.yml
  .yamato/urp_2d-android-vulkan.yml
  .yamato/urp_foundation-android-opengles3.yml
  .yamato/urp_foundation-android-vulkan.yml
  .yamato/urp_lighting-android-opengles3.yml
  .yamato/urp_lighting-android-vulkan.yml
  .yamato/urp_postpro-android-opengles3.yml
  .yamato/urp_postpro-android-vulkan.yml
  .yamato/urp_terrain-android-opengles3.yml
  .yamato/urp_terrain-android-vulkan.yml
  Tools/.pre-commit-config.yaml
  Tools/readme.md
Labels: sdet

#6429 [10.x.x] ANT Backports
  Tools/.pre-commit-config.yaml
  Tools/readme.md
Labels: sdet

#6430 [7.x.x] ANT Backports
  Tools/.pre-commit-config.yaml
  Tools/readme.md
Labels: sdet

#6441 [HDRP] Fix Layer lit shader UI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6437 [2020.3 Backport] Make Android tests use windows images to build android player
  .yamato/config/__shared.metafile
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/shadergraph-android-opengles3.yml
  .yamato/shadergraph-android-vulkan.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_lostcrypt-android-opengles3.yml
  .yamato/urp_performance_lostcrypt-android-vulkan.yml
Labels: sdet

#6438 [VFX] Fix instability with GUITests
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXGUITests.cs
Labels: testing, vfx, needs-backport-2022.1

#6446 fixed link to master stack hair
  com.unity.render-pipelines.high-definition/Documentation~/hair-shader.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6445 Disable unstable test
  TestProjects/Lightmapping/Assets/Tests/Editor/Tests_Unit_Editmode/Editmode_BakeRestart_Tests.cs
Labels: testing

#6448 Decal docs improvement
  com.unity.render-pipelines.high-definition/Documentation~/Decal.md
  com.unity.render-pipelines.high-definition/Documentation~/Default-Settings-Window.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6452 [HDRP][Docs] Fix missing code highlight in dynamic resolution docs
  com.unity.render-pipelines.high-definition/Documentation~/Dynamic-Resolution.md
Labels: HDRP

#6444 [Backport] Vfx/fix/1359426 shift context on new block
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXContextUI.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXPaste.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
Labels: vfx

#6450 BRG mem corruption fix
  com.unity.render-pipelines.core/Runtime/BatchRenderer/BRGTransformUpdater.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/RenderBRG.cs
Labels: SRP

#6435 Probe interpolation for RenderBRG
  com.unity.render-pipelines.core/Runtime/BatchRenderer/BRGTransformUpdater.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/RenderBRG.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Resources/BRGTransformUpdateCS.compute
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Resources/BRGTransformUpdaterDefs.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/Resources/BRGTransformUpdaterDefs.cs.hlsl
Labels: SRP

#6383 [ShaderGraph][2020.3][Backport] Properly cast float properties in integer mode
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/Vector1ShaderProperty.cs
Labels: Shader Graph

#6432 Removing out uint because some shader compilers don't like this
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild.compute
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6454 Fixed a null texture error caused by lens flare pass
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6455 Fixed a nullref when enabling raycount without ray tracing.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6447 Fixed error thrown when layered lit material has an invalid material type
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitAPI.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6419 [RPW]Fix docs from core package
  TestProjects/HDRP_Tests/Assets/FindMissingDocs/Editor/DocChecker.cs
  com.unity.render-pipelines.core/Editor/CoreEditorDrawers.cs
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.Builtins.cs
  com.unity.render-pipelines.core/Editor/ICoreRenderPipelinePreferencesProvider.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightUI.Skin.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightUnit/LightUnitSlider.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightUnit/LightUnitSliderSettings.cs
  com.unity.render-pipelines.core/Editor/Lighting/LightUnit/TemperatureSlider.cs
  com.unity.render-pipelines.core/Editor/Material/MaterialHeaderScopeList.cs
  com.unity.render-pipelines.core/Editor/MaterialUpgrader.cs
  com.unity.render-pipelines.core/Editor/RenderGraph/RenderGraphViewer.cs
  com.unity.render-pipelines.core/Editor/SerializedPropertyExtension.cs
  com.unity.render-pipelines.core/Editor/Settings/RenderPipelineGlobalSettingsProvider.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumesPreferences.cs
  com.unity.render-pipelines.core/Runtime/Common/CoreUnsafeUtils.cs
  com.unity.render-pipelines.core/Runtime/Common/DynamicResolutionHandler.cs
  com.unity.render-pipelines.core/Runtime/Common/SerializedDictionary.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugDisplaySettings.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugDisplaySettingsPanel.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugDisplaySettingsUI.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugDisplaySettingsVolumes.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugFrameTiming.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUI.Fields.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUI.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerMessageBox.cs
  com.unity.render-pipelines.core/Runtime/Debugging/VolumeDebugSettings.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeRefereneVolume.Streaming.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneData.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs
  com.unity.render-pipelines.core/Runtime/Lighting/SphericalHarmonics.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/HDROutputDefines.cs
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareComponentSRP.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphBuilder.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceTexture.cs
  com.unity.render-pipelines.core/Runtime/Textures/BufferedRTHandleSystem.cs
  com.unity.render-pipelines.core/Runtime/Textures/PowerOfTwoTextureAtlas.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandles.cs
  com.unity.render-pipelines.core/Runtime/Textures/Texture2DAtlas.cs
  com.unity.render-pipelines.core/Runtime/Utilities/ArrayExtensions.cs
  com.unity.render-pipelines.core/Runtime/Utilities/Blitter.cs
  com.unity.render-pipelines.core/Runtime/Utilities/FSRUtils.cs
Labels: SRP, HDRP, testing

#5724 Fixed shadowCascadeBlendCullingFactor to be 1.0
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ShadowUtils.cs
Labels: universal

#6184 Making the multipass camera stack warning only come out once since it's flooding the logs.
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#6457 Fixed shader warning
  com.unity.render-pipelines.core/ShaderLibrary/SphericalHarmonics.hlsl
Labels: SRP, HDRP

#6453 [10xx] Fix perf tests on android
  .yamato/config/__shared.metafile
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_lostcrypt-android-opengles3.yml
  .yamato/urp_performance_lostcrypt-android-vulkan.yml
Labels: sdet

#6474 Disable server cache for ppv2 + hdrp perf jobs
  .yamato/config/hdrp_perf.metafile
  .yamato/config/postprocessing.metafile
  .yamato/hdrp_performancetests-linux-vulkan.yml
  .yamato/hdrp_performancetests-win-dx11.yml
  .yamato/postprocessing-linux-vulkan.yml
  .yamato/postprocessing-osx-metal.yml
  .yamato/postprocessing-win-dx11.yml
  .yamato/postprocessing-win-dx12.yml
  .yamato/postprocessing-win-vulkan.yml
Labels: sdet

#6411 IET Updates (version bump, 1080p Layout fix, fixed typo)
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Material/DefaultHDDecalMaterial.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Bush_01_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/DecalPuddle_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/DecalWearDark_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/DecalWear_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Decal_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Fern_01_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/WallDirt_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/Volumes/VolumeRoom3Corridor.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Pages/PBL_01.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Pages/Volumes_01.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/BakedLighting.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/BakedLighting.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/BeforeStart.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/BeforeStart.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Decals.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Decals.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Exposure.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Exposure.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Fog.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Fog.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/HDRPSettings.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/HDRPSettings.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/LearningResources.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/LearningResources.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/LightCookies.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/LightCookies.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/LightLayers.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/LightLayers.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/LightProbes.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/LightProbes.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/LocalVolumetricFog.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/LocalVolumetricFog.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Materials.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Materials.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/PBL.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/PBL.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/ReflectionProbes.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/ReflectionProbes.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Sky.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Sky.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/VFX.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/VFX.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Volumes.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/Volumes.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/WhiteBalance.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Sections/WhiteBalance.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Settings/TutorialLayout.wlt
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Settings/TutorialLayout.wlt.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Settings/Tutorials.asset
  com.unity.template-hd/Assets/Scenes/SampleScene.unity
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6188 Post-Process Volume Curve Blending
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Volume/KeyframeUtility.cs
  com.unity.render-pipelines.core/Runtime/Volume/KeyframeUtility.cs.meta
  com.unity.render-pipelines.core/Runtime/Volume/VolumeParameter.cs
  com.unity.render-pipelines.core/Tests/Editor/Volumes/VolumeComponentTests.cs
Labels: SRP, HDRP, universal

#6315 Renamed Texel Size node to Texture Size and added texel size outputs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Documentation~/Input-Nodes.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/Texel-Size-Node.md
  com.unity.shadergraph/Documentation~/Texture-Size-Node.md
  com.unity.shadergraph/Documentation~/images/TexelSizeNodeThumb.png
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/TexelSizeNode.cs
Labels: Shader Graph

#6478 Distortion Blur from 1 to 0 according to the doc
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDBlockFields.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6471 Fix bug #1342803
  com.unity.render-pipelines.high-definition/Documentation~/Lit-Tessellation-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Tessellation.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6470 Fixed a render graph error when creating a shader graph
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
Labels: SRP, HDRP, needs-backport-2021.2, needs-backport-2022.1

#6465 Removing out uint because some shader compilers don't like this (#6432)
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild.compute
Labels: HDRP

#6464 Removing out uint because some shader compilers don't like this (#6432)
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild.compute
Labels: HDRP

#6463 [ant-348] prime editor after download
  .yamato/config/__shared.metafile
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp_batchrenderergroup-osx-metal.yml
  .yamato/postprocessing-osx-metal.yml
  .yamato/shadergraph-osx-metal.yml
  .yamato/shadergraph_builtin_foundation-osx-metal.yml
  .yamato/shadergraph_builtin_lighting-osx-metal.yml
  .yamato/universal_batchrenderergroup-osx-metal.yml
  .yamato/urp_2d-osx-metal.yml
  .yamato/urp_foundation-osx-metal.yml
  .yamato/urp_lighting-osx-metal.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_lostcrypt-osx-metal.yml
  .yamato/urp_postpro-osx-metal.yml
  .yamato/urp_terrain-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vikingvillage_builtin-osx-metal.yml
  .yamato/vikingvillage_urp-osx-metal.yml
Labels: sdet, needs-backport-2022.1

#6351 [URP] Add missing material property wrappers
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/LitGUI.cs
  com.unity.render-pipelines.universal/Runtime/Materials/Decal.mat
  com.unity.render-pipelines.universal/Runtime/Materials/Lit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/ParticlesUnlit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/SimpleLit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/TerrainLit.mat
Labels: universal, needs-backport-2022.1

#6482 Add missing references to area lights in shadow docs
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6499 Fix missing documentation for the water system.
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSurface.cs
Labels: HDRP

#6485 [2022.1][ant-348] prime editor after download
  .yamato/config/__shared.metafile
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp_batchrenderergroup-osx-metal.yml
  .yamato/postprocessing-osx-metal.yml
  .yamato/shadergraph-osx-metal.yml
  .yamato/shadergraph_builtin_foundation-osx-metal.yml
  .yamato/shadergraph_builtin_lighting-osx-metal.yml
  .yamato/universal_batchrenderergroup-osx-metal.yml
  .yamato/urp_2d-osx-metal.yml
  .yamato/urp_foundation-osx-metal.yml
  .yamato/urp_lighting-osx-metal.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_lostcrypt-osx-metal.yml
  .yamato/urp_postpro-osx-metal.yml
  .yamato/urp_terrain-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vikingvillage_builtin-osx-metal.yml
  .yamato/vikingvillage_urp-osx-metal.yml
Labels: sdet

#6490 Fix HDRP build issues with DOTS_INSTANCING_ON shader variant
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/PickingSpaceTransforms.hlsl
Labels: HDRP, needs-backport-2022.1

#6500 [SG] Fix reference screenshots - MathNodes and ProceduralNode
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/MathNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/MathNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/ProceduralNodes.png
Labels: Shader Graph, testing

#6496 Enable Transparent Depth Pre/Post Pass for HDRP Hair Shader Graph
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Hair.shadergraph
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6217 [URP] Native Render Pass depth resolve support
  com.unity.render-pipelines.universal/Runtime/NativeRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/InvokeOnRenderObjectCallbackPass.cs
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#6355 [Universal][Mobile] Light Banding fixes (halfs to floats)
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/LitForwardPass.hlsl
Labels: SRP, universal

#6359 [URP] Document Mixed Lighting in URP PostPro Tests
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Test/Editor/PostProEditorTests.cs
Labels: testing, universal

#6334 [URP] RTHandles Load/Store actions optimizations fix
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyColorPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#6459 Added the urp-optimization.md file (section overview).
  com.unity.render-pipelines.universal/Documentation~/urp-optimization.md
Labels: universal

#6460 Added urp-optimization.md from master.
  com.unity.render-pipelines.universal/Documentation~/urp-optimization.md
Labels: universal

#6069 backport adaptive performance decals scaler
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Decal/Entities/DecalCreateDrawCallSystem.cs
  com.unity.render-pipelines.universal/Runtime/Decal/Entities/DecalUpdateCullingGroupSystem.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
  com.unity.render-pipelines.universal/Runtime/Unity.RenderPipelines.Universal.Runtime.asmdef
Labels: universal

#6385 Vfx/fix/multiple windows various fixes
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicInitialize.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: vfx, needs-backport-2022.1

#6514 Bump packages to 13.1.4
  .yamato/_copycat.yml
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.testing.graphics-performance/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, universal, vfx, sdet

#6426 Scriptable Renderer: Dismiss depth slice for non-camera passes check
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#6512 [Built-in] Moving WS view direction from vertex to fragment to lower varying size
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/BuildInputData.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/PBRGBufferPass.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Templates/ShaderPass.template
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Templates/SharedCode.template.hlsl
Labels: Shader Graph

#6240 Universal/swapbuffer 2d perf
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: universal, needs-backport-2021.2, needs-backport-2022.1

#6518 Backport PR BatchRendererGroup test project splitMask support (#6416)
  TestProjects/BatchRendererGroup_HDRP/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_HDRP/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/BatchRenderGroupRaw.png.meta
  TestProjects/BatchRendererGroup_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/BatchRenderGroupRaw.png.meta
  TestProjects/BatchRendererGroup_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_HDRP/Assets/SampleScenes/BRGGameObjects/FrustumPlanes.cs
  TestProjects/BatchRendererGroup_HDRP/Assets/SampleScenes/BRGGameObjects/RenderBRG.cs
  TestProjects/BatchRendererGroup_HDRP/Assets/SampleScenes/BatchRenderGroupRaw/BRGSetup.cs
  TestProjects/BatchRendererGroup_URP/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_URP/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_URP/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_URP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/BatchRenderGroupRaw.png
  TestProjects/BatchRendererGroup_URP/Assets/SampleScenes/BRGGameObjects/FrustumPlanes.cs
  TestProjects/BatchRendererGroup_URP/Assets/SampleScenes/BRGGameObjects/RenderBRG.cs
  TestProjects/BatchRendererGroup_URP/Assets/SampleScenes/BatchRenderGroupRaw/BRGSetup.cs
  TestProjects/BatchRendererGroup_URP/Assets/SampleScenes/SimpleExample/SimpleBRGExample.cs
Labels: testing

#6035 Convert SkyManager to use RenderGraph
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsSky.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraphUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/AmbientProbeConvolution.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderer.cs
Labels: HDRP

#6516 Added Upgrade Guid and what's new for HDRP 14
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2022.1-to-2022.2.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-13.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-14.md
Labels: HDRP

#6524 [HDRP] Fix build warnings
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6526 Fixed SpeedTree graph compatibility by removing custom interpolators.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/Nature/SpeedTree8.shadergraph
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6491 Fix fbx material
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6484 Fix physical camera UI
  com.unity.render-pipelines.core/Editor/Camera/CameraUI.Drawers.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-2021.2, needs-backport-2022.1

#6422 Remove volume name and fix formatting
  com.unity.render-pipelines.core/Runtime/Debugging/DebugDisplaySettingsVolumes.cs
Labels: SRP, needs-backport-2022.1

#6493 Fixed spot light shadows near plane
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowUtils.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6304 [HDRP] Changed default numbder of physically based sky bounce from 8 to 3
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/Outdoors/SkyandFogSettingsProfile.asset
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/OutdoorsDXR/SkyandFogSettingsProfile.asset
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6528 [HDRP] Backport various PRs
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/101_ReflectionsPerfFullRes.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/102_ReflectionsPerfHalfRes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1302_StackLitSG_PixarLM.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1302_StackLitSG_PixarLM.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1302_StackLitSG_PixarLM.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1302_StackLitSG_PixarLM.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2551_SSR.png
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/ShaderLibrary/CommonMaterial.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/ShaderPassDefine.template.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/ClearDebugBuffer.compute
  com.unity.render-pipelines.high-definition/Runtime/Debug/ClearDebugBuffer.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugViewTiles.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/NVIDIADebugView.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLitRayTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/DLSSPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Settings/TutorialLayout.wlt
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Settings/Tutorials.asset
Labels: SRP, HDRP, testing

#6475 [VFX/SG] Fix missing ObjectToWorld using Transform
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
  com.unity.shadergraph/Editor/Data/Util/SpaceTransformUtil.cs
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: Shader Graph, vfx, needs-backport-2021.2, needs-backport-2022.1

#6373 [HDRP] Add FSR Sharpness Control
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Common/GlobalDynamicResolutionSettings.cs
  com.unity.render-pipelines.core/Runtime/Utilities/FSRUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Dynamic-Resolution.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/DynamicRes_FSR_Sharpness_Asset.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/DynamicRes_FSR_Sharpness_Camera.png
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Rendering.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.Rendering.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/SerializedHDCamera.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedDynamicResolutionSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: SRP, HDRP

#6535 [HDRP] Backport various Fix Prs
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/702_PunctualShadowFiltering.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/715_PointShadow_Matte_Edge.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/715_PointShadow_Matte_Edge.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/716_SpotShadow_Matte_Edge.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/716_SpotShadow_Matte_Edge.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/715_PointShadow_Matte_Edge.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/715_PointShadow_Matte_Edge.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/715_PointShadow_Matte_Edge.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/715_PointShadow_Matte_Edge/Global Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/715_PointShadow_Matte_Edge/Global Volume Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/716_SpotShadow_Matte_Edge.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/716_SpotShadow_Matte_Edge.unity.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5004_Pbr_Sky_High_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5005_Pbr_Sky_Med_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5006_Pbr_Sky_Low_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5004_Pbr_Sky_High_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5005_Pbr_Sky_Med_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5006_Pbr_Sky_Low_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5004_Pbr_Sky_High_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5005_Pbr_Sky_Med_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5006_Pbr_Sky_Low_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5004_Pbr_Sky_High_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5005_Pbr_Sky_Med_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_Pbr_Sky_Low_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5004_Pbr_Sky_High_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5005_Pbr_Sky_Med_Altitude.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5006_Pbr_Sky_Low_Altitude.png
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/PostProcessing/LensFlareCommonSRP.cs
  com.unity.render-pipelines.core/Runtime/Utilities/CoreUtils.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Default-Settings-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPgs_Custom_PP.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPgs_Diffusion_Profile_Assets.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPgs_Layers_Names.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPgs_Volume_Profiles.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/DepthOfFieldEditor.cs
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/Outdoors/SkyandFogSettingsProfile.asset
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/OutdoorsDXR/SkyandFogSettingsProfile.asset
  com.unity.render-pipelines.high-definition/Editor/Sky/VisualEnvironmentEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Migration/MigrationDescription.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/LocalVolumetricFog.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Decal/DecalSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/DLSSPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/VisualEnvironment.cs
Labels: SRP, HDRP, testing

#6539 [Backport 21.2][SG] Fixed ray-tracing variant of the checkerboard shader graph node
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Procedural/CheckerboardNode.cs
Labels: Shader Graph

#6401 DecalRendererFeature: Convert to using RTHandles
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/Decal/DBuffer/DBufferRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceShadows.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#6476 Universal/fix shader paths
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineEditorResources.cs
Labels: universal

#6275 Revert Automatic Intermediate Texture handling
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/upgrade-guide-2021-2.md
  com.unity.render-pipelines.universal/Documentation~/urp-universal-renderer.md
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/IntermediateTextureMode.cs
  com.unity.render-pipelines.universal/Runtime/IntermediateTextureMode.cs.meta
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
Labels: universal

#6423 Fix Scene View + Render Scale Logic
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#6540 commited updated materials to fix test issue
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/101_Blue.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/101_Metallic.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/101_Red.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/101_Yellow.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/102_RenderDepth_Ref.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.asset
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/DefaultMaterial.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/EmissiveRed.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/ReferenceSampleColor.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/ReferenceSampleDepth.mat
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/ReferenceSampleGI.mat
  TestProjects/VisualEffectGraph_URP/Assets/URP.asset
  TestProjects/VisualEffectGraph_URP/ProjectSettings/URPProjectSettings.asset
  com.unity.testing.visualeffectgraph/Scenes/007_SimpleMaterial.mat
  com.unity.testing.visualeffectgraph/Scenes/009_MultiCamera.mat
  com.unity.testing.visualeffectgraph/Scenes/009_OutputEvent.mat
Labels: testing, vfx

#6229 [URP] Port HDRP Mip Bias Logic to URP
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Core.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/UnityInput.hlsl
Labels: universal

#6156 10.x.x/2d/fix for 1329119
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Render2DLightingPass.cs
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
Labels: universal, 2d

#6272 Update 2DRendererData_overview.md
  com.unity.render-pipelines.universal/Documentation~/2DRendererData_overview.md
Labels: universal, needs-backport-10.x, needs-backport-2021.2

#6531 [22.1] Fix HDRP build issues with DOTS_INSTANCING_ON shader variant
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/PickingSpaceTransforms.hlsl
Labels: HDRP

#6481 Remove options that are not available with low res transparent.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Documentation~/Surface-Type.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6527 Fix gamma error path
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, backported-2021.2, needs-backport-2022.1

#6545 Hdrp/rt ps fixes
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseDenoiser.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6525 [HDRP][Path Tracing] Fixed auto-exposure mistmatch between sky background and rendered objects
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
Labels: SRP, HDRP, dxr, needs-backport-2021.2, needs-backport-2022.1

#6519 Add option to force motion blur off when XR is active
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2022.1-to-2022.2.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedXRSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/GlobalXRSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
Labels: HDRP, XR, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6548 fixed typo 'render' -> 'renders' in API
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6544 fixed typo 'GamaObject' -> 'GameObject'
  com.unity.render-pipelines.high-definition/Documentation~/Motion-Vectors.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6543 [URP] Disabling depth resolve temporarily on OSX because of gfx driver issues
  com.unity.render-pipelines.universal/Runtime/RenderingUtils.cs
Labels: universal, needs-backport-2021.2, needs-backport-2022.1

#6530 [ShaderGraph][CI] Add ShaderGraph BuiltIn Target jobs to "all shadergraph" job
  .yamato/all-shadergraph.yml
  .yamato/config/shadergraph.metafile
Labels: sdet

#6549 Fix missing depth on overlay camera DoF
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1705_Decals-stress-test.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9601_SkinnedMeshBatching-Off.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9602_SkinnedMeshBatching-On.png
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#1028 Shader debug print
  com.unity.render-pipelines.core/Runtime/Debugging/ShaderDebugPrintManager.cs
  com.unity.render-pipelines.core/Runtime/Debugging/ShaderDebugPrintManager.cs.meta
  com.unity.render-pipelines.core/ShaderLibrary/ShaderDebugPrint.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/ShaderDebugPrint.hlsl.meta
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: SRP, universal

#6554 [Backport 21.2] Add option to force motion blur off when XR is active #6550
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedXRSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/GlobalXRSettings.cs
Labels: HDRP

#6551 Another compiler fix for consoles
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild.compute
Labels: HDRP

#6541 [HDRP] Backport various PRs bis
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/112_Reflection_AlternativeSGNodes.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4061_CustomPostProcessMotionVectors.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4061_CustomPostProcessMotionVectors.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/4061_CustomPostProcessMotionVectors.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4061_CustomPostProcessMotionVectors.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4061_CustomPostProcessMotionVectors.png
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Debugging/DebugWindow.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeEditor.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugUpdater.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResources.cs
  com.unity.render-pipelines.core/Runtime/Utilities/CameraCaptureBridge.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Surface-Type.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/AtmosphericScattering/AtmosphericScattering.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDGpuLightsBuilder.Jobs.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDGpuLightsBuilder.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightDefinition.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightEvaluation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ContactShadows.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPipeline.ScreenSpaceShadows.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowAlgorithms.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldCoCReproject.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/SubFrameManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RayTracingContactShadow.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSky.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/PhysicallyBasedSky/PhysicallyBasedSkyRenderer.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.template-hd/Assets/Scenes/SampleScene.unity
Labels: SRP, HDRP, Shader Graph, testing

#6522 Universal, Fix Swap Buffer Issue
  com.unity.render-pipelines.universal/Runtime/RenderTargetBufferSystem.cs
Labels: universal

#6550 [Backport 22.1] Add option to force motion blur off when XR is active
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedXRSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/XR/GlobalXRSettings.cs
Labels: HDRP

#6555 Fix a crash for project using SensorSDK on a standalone build
  com.unity.render-pipelines.high-definition/Editor/Unity.RenderPipelines.HighDefinition.Editor.asmdef
  com.unity.render-pipelines.high-definition/Runtime/Unity.RenderPipelines.HighDefinition.Runtime.asmdef
Labels: HDRP, needs-backport-2022.1

#6517 Write to VT feedback in debug modes
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Material/VTBufferManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6363 New SG integration VFX shaders where not visible in object picker
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Views/Properties/CustomObjectPicker.cs
Labels: vfx

#6489 Fix the water system on metal
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9920_WaterSurface.png
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSystemDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSystemDef.cs.hlsl
Labels: HDRP, testing

#6308 Fixed the missing debug menus to visualize the ray tracing acceleration structure (case 1371410).
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2009_Debug_RTAS_ScreenSpaceReflections_InstanceID.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2009_Debug_RTAS_ScreenSpaceReflections_InstanceID.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2009_Debug_RTAS_ScreenSpaceReflections_PrimitiveID.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2009_Debug_RTAS_ScreenSpaceReflections_PrimitiveID.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2009_Debug_RTAS_Shadows_PrimitiveID.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2009_Debug_RTAS_Shadows_PrimitiveID.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS/RTASDebugReflectionVolume.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS/RTASDebugReflectionVolume.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS/RTASDebugShadowsVolume.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS/RTASDebugShadowsVolume.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS_ScreenSpaceReflections_InstanceID.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS_ScreenSpaceReflections_InstanceID.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS_ScreenSpaceReflections_PrimitiveID.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS_ScreenSpaceReflections_PrimitiveID.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS_Shadows_PrimitiveID.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS_Shadows_PrimitiveID.unity.meta
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RayTracingShaderPreprocessor.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/RayTracingDebug.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/RayTracingDebug.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRayTracingResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RTASDebug.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RTASDebug.raytrace.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingAmbientOcclusion.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RayTracingContactShadow.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Shadows/RaytracingShadow.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPass.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRayTracingDebug.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRayTracingDebug.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingIndirect.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassRaytracingVisibility.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRayTracingResources.asset
  com.unity.shadergraph/Editor/Generation/Descriptors/SubShaderDescriptor.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.testing.hdrp/Scripts/DebugViewController.cs
  com.unity.testing.hdrp/Scripts/Editor/DebugViewController_Editor.cs
Labels: HDRP, dxr

#6559 [Backport 21.2][HDRP] More backport PRs
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1302_StackLitSG_PixarLM.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2551_SSR.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5014_VolumetricCloudsBanding.png
  com.unity.render-pipelines.core/Editor/Camera/CameraUI.Drawers.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphResourceRegistry.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/AOVs.md
  com.unity.render-pipelines.high-definition/Documentation~/Decal.md
  com.unity.render-pipelines.high-definition/Documentation~/Default-Settings-Window.md
  com.unity.render-pipelines.high-definition/Documentation~/Dynamic-Resolution.md
  com.unity.render-pipelines.high-definition/Documentation~/Lit-Tessellation-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Motion-Vectors.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Motion-Blur.md
  com.unity.render-pipelines.high-definition/Documentation~/Shadows-in-HDRP.md
  com.unity.render-pipelines.high-definition/Documentation~/Surface-Type.md
  com.unity.render-pipelines.high-definition/Documentation~/Tessellation.md
  com.unity.render-pipelines.high-definition/Documentation~/hair-shader.md
  com.unity.render-pipelines.high-definition/Editor/Material/LayeredLit/LayeredLitGUI.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDBlockFields.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/LightingDebug.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDShadowUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsCombine.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDDiffuseDenoiser.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingMacros.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Hair.shadergraph
Labels: SRP, HDRP, testing

#6462 [Backport] Fixed NRE when debug mode is active and changing opened VFX asset
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Debug/VFXUIDebug.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXComponentBoard.cs
Labels: vfx

#6563 Disable unstable test
  TestProjects/Lightmapping/Assets/Tests/Editor/Tests_Unit_Editmode/Editmode_PowerSampling_Tests.cs
Labels: testing

#6398 [ant-276] copy files using rsync
  .yamato/config/__shared.metafile
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp_batchrenderergroup-osx-metal.yml
  .yamato/postprocessing-osx-metal.yml
  .yamato/shadergraph-osx-metal.yml
  .yamato/shadergraph_builtin_foundation-osx-metal.yml
  .yamato/shadergraph_builtin_lighting-osx-metal.yml
  .yamato/universal_batchrenderergroup-osx-metal.yml
  .yamato/urp_2d-osx-metal.yml
  .yamato/urp_foundation-osx-metal.yml
  .yamato/urp_lighting-osx-metal.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_lostcrypt-osx-metal.yml
  .yamato/urp_postpro-osx-metal.yml
  .yamato/urp_terrain-osx-metal.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vikingvillage_builtin-osx-metal.yml
  .yamato/vikingvillage_urp-osx-metal.yml
Labels: sdet

#6273 Added ToC link to the HDRP Lit decal page
  com.unity.visualeffectgraph/Documentation~/TableOfContents.md
Labels: vfx

#6305 [RP Workflows] Unification of Shader Variant Log Level
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/RenderPipeline/ISerializedRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.core/Editor/RenderPipeline/ISerializedRenderPipelineGlobalSettings.cs.meta
  com.unity.render-pipelines.core/Editor/RenderPipeline/RenderPipelineGlobalSettingsUI.Drawers.cs
  com.unity.render-pipelines.core/Editor/RenderPipeline/RenderPipelineGlobalSettingsUI.Drawers.cs.meta
  com.unity.render-pipelines.core/Editor/RenderPipeline/RenderPipelineGlobalSettingsUI.Skin.cs
  com.unity.render-pipelines.core/Editor/RenderPipeline/RenderPipelineGlobalSettingsUI.Skin.cs.meta
  com.unity.render-pipelines.core/Runtime/RenderPipeline/IShaderVariantSettings.cs
  com.unity.render-pipelines.core/Runtime/RenderPipeline/IShaderVariantSettings.cs.meta
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Default-Settings-Window.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/HDRenderPipelineGlobalSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/HDRenderPipelineGlobalSettingsUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedHDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.Migration.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.ShaderVariantSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.ShaderVariantSettings.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
  com.unity.render-pipelines.universal/Documentation~/urp-global-settings.md
  com.unity.render-pipelines.universal/Editor/GlobalSettings/SerializedUniversalRenderPipelineGlobalSettings.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalRenderPipelineGlobalSettingsUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/GlobalSettings/UniversalRenderPipelineGlobalSettingsUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/SerializedUniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/UniversalRenderPipelineAssetUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/UniversalRenderPipelineAssetUI.Skin.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Deprecated.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.ShaderVariantSettings.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.ShaderVariantSettings.cs.meta
Labels: SRP, HDRP, universal

#6504 Fix suggested names in Secondary Textures tab of Sprite Editor
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2DDataAuthoring.cs
Labels: universal, 2d, needs-backport-2021.2

#6568 Disable server cache for hdrp, hdrp-perf, ppv2
  .yamato/config/hdrp.metafile
  .yamato/config/hdrp_perf.metafile
  .yamato/config/postprocessing.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_performancetests-win-dx11.yml
  .yamato/postprocessing-linux-vulkan.yml
  .yamato/postprocessing-osx-metal.yml
  .yamato/postprocessing-win-dx11.yml
  .yamato/postprocessing-win-dx12.yml
  .yamato/postprocessing-win-vulkan.yml
Labels: sdet

#6567 Disable cache server for hdrp, hdrp-perf, ppv2
  .yamato/config/hdrp.metafile
  .yamato/config/hdrp_perf.metafile
  .yamato/config/postprocessing.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-osx_apple_silicon-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_performancetests-linux-vulkan.yml
  .yamato/hdrp_performancetests-win-dx11.yml
  .yamato/postprocessing-linux-vulkan.yml
  .yamato/postprocessing-osx-metal.yml
  .yamato/postprocessing-win-dx11.yml
  .yamato/postprocessing-win-dx12.yml
  .yamato/postprocessing-win-vulkan.yml
Labels: sdet

#6573 - Fixed compilation issue related to shader stripping in ray tracing.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RayTracingShaderPreprocessor.cs
Labels: HDRP, dxr

#6560 [Backport 22.1][URP] Add missing material property wrappers
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/LitGUI.cs
  com.unity.render-pipelines.universal/Runtime/Materials/Decal.mat
  com.unity.render-pipelines.universal/Runtime/Materials/Lit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/ParticlesUnlit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/SimpleLit.mat
  com.unity.render-pipelines.universal/Runtime/Materials/TerrainLit.mat
Labels: universal

#6542 [22.1][Built-in] Moving WS view direction from vertex to fragment to lower varying size
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/BuildInputData.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/PBRGBufferPass.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Includes/Varyings.hlsl
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Templates/ShaderPass.template
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Templates/SharedCode.template.hlsl
Labels: Shader Graph

#6582 [RPW] Fix crash when upgrading URP Global Settings when no render has been done
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
Labels: universal

#6570 Fixed a null ref exception when using sky lighting override.
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderer.cs
Labels: HDRP

#6566 added API index page with link to SRP API
  com.unity.render-pipelines.high-definition/Documentation~/api_index.md
Labels: HDRP

#6565 Clarified the menus for enabling screen space reflection
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
Labels: HDRP

#6564 specified that the normals are world space
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/AOV/AOVBuffers.cs
Labels: HDRP

#6537 Added a wait frame for some tests failing because of ambient readback latency
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1204_Lit_Fog.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1301_StackLitSG.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1303_StackLitSG_Testers_b.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1401_HairGraph.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2001_Light_DynamicDirectional.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2208_PlanarReflectionCullingStencil.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2307_Shadow_VeryHigh.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2318_Mixed_Cached_ShadowMap_Spot.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2402_Area_Rect_Shadow.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8101_Opaque.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8109_IsFrontFace.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/8x_ShaderGraph/8201_VertexAnimation.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9401_MSAAForwardBoth.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9401_MSAAForwardOnly.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9603_MeshRendererBatching-Off.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9604_MeshRendererBatching-On.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9920_WaterSurface.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9920_WaterSurface.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2318_Mixed_Cached_ShadowMap_Spot.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2318_Mixed_Cached_ShadowMap_Spot.png
Labels: HDRP, testing

#6591 Fixing missing doc API for RTAS Debug display.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
Labels: HDRP, dxr

#6574 [HDRP] Change MSAA to 8x to 4x in various test as it got out of memory.
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3004_QuadOverdraw.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3005_VertexDensity.unity
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1709_DecalLayer_ForwardMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5009_HDRI_Sky_Flow.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9401_MSAAForwardBoth.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9401_MSAAForwardOnly.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9402_AlphaToMask-Graph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9402_AlphaToMask-HDRP.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9601_SkinnedMeshBatching-Off.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9602_SkinnedMeshBatching-On.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1709_DecalLayer_ForwardMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5009_HDRI_Sky_Flow.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9401_MSAAForwardBoth.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9401_MSAAForwardOnly.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9402_AlphaToMask-Graph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9402_AlphaToMask-HDRP.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9601_SkinnedMeshBatching-Off.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9602_SkinnedMeshBatching-On.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9603_MeshRendererBatching-Off.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9604_MeshRendererBatching-On.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9920_WaterSurface.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1709_DecalLayer_ForwardMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5009_HDRI_Sky_Flow.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9401_MSAAForwardBoth.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9401_MSAAForwardOnly.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9402_AlphaToMask-Graph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9402_AlphaToMask-HDRP.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9603_MeshRendererBatching-Off.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9604_MeshRendererBatching-On.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1709_DecalLayer_ForwardMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5009_HDRI_Sky_Flow.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9401_MSAAForwardBoth.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9401_MSAAForwardOnly.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9402_AlphaToMask-Graph.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9402_AlphaToMask-HDRP.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9603_MeshRendererBatching-Off.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9604_MeshRendererBatching-On.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1709_DecalLayer_ForwardMSAA.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5009_HDRI_Sky_Flow.png
  TestProjects/HDRP_Tests/Packages/packages-lock.json
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  TestProjects/HDRP_Tests/ProjectSettings/VFXManager.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_CustomQualityLevels.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_DLSS_Hardware.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_DLSS_Software.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_Decal_3RT.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_Decal_Surface_Gradient.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_FP16.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_FP16_PPAlpha.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_MSAABoth.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_MSAAForward.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_No_Motion_Vectors.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_No_Motion_Vectors_Forward.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_TAAU_Hardware.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_TAAU_Software.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_FabricConvolutionOn.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_TransparentSSR.asset
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6553 [2020.3][ShaderGraph][URP Target] Fixup additional lights keywords for the URP Shade…
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
Labels: universal

#6590 Render Graph object pools are now cleared with render graph cleanup
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphObjectPool.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6587 Fix APV on OSX
  TestProjects/HDRP_RuntimeTests/Assets/Tests/TestFilters/TestCaseFilters.asset
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeCellDilation.compute
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs.hlsl
Labels: SRP, HDRP, testing

#6409 Use color temperature in the player for Enlighten real-time GI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIlluminationUtils.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6492 [Fogbugz # 1383093] Fixing leaky state of hardware resolution when turned off from camera
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/Common/DynamicResolutionHandler.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: SRP, HDRP, needs-backport-2021.2, needs-backport-2022.1

#6572 Removal of API changes in render pipeline asset.
  com.unity.render-pipelines.core/Runtime/BatchRenderer/RenderBRG.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
Labels: SRP, HDRP

#6267 Expose option for DoF near blend fix
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/DepthOfFieldEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineUI.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/SerializedPostProcessingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/DepthOfField.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DepthOfFieldCoC.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/GlobalPostProcessingQualitySettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP

#6440 [HDRP] Add debug button apv window
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugManager.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#6472 [HDRP][Path Tracing] Environment (sky) importance sampling
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1000_RaytracingQualityKeyword_PathTracer_Default.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5001_PathTracing.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5003_PathTracing_transparency.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5005_PathTracing_Fog.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5006_PathTracing_DoFVolume.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5014_PathTracing_DoubleSidedOverride.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5015_PathTracing_DoFCamera.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/PathTracing/PathTracingEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRayTracingResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingBSDF.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingLight.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingSkySampling.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingSkySampling.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingSkySamplingData.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingSkySamplingData.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRayTracingResources.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
Labels: SRP, HDRP, testing, dxr

#6523 Fixed ambient probe convolution warning
  com.unity.render-pipelines.high-definition/Runtime/Sky/AmbientProbeConvolution.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP

#6608 Fixed misc shader warnings
  com.unity.render-pipelines.core/ShaderLibrary/Packing.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6607 Fixed water shader warnings
  com.unity.render-pipelines.high-definition/Runtime/Water/ShaderPassWaterForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterUtilities.hlsl
Labels: HDRP

#6606 Fix shader warning in UnityInstancing.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/UnityInstancing.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6602 10.x.x/fix rg pool cleanup
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraphObjectPool.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#6483 Fix errors when APV debug is on and we switch to an asset that has APV disabled
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#6520 Add Overlay Render Queue to Custom Pass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderQueue.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.cs
Labels: HDRP

#6556 Add options to Probe Volumes to fit to only scene it belongs to or to all scenes
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
Labels: SRP, HDRP

#6612 [2020.3][ShaderGraph][URP Target] Need to update the changelog for the fix for case 1387281
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: universal

#6589 [2022.2] Docs: API changes
  com.unity.render-pipelines.universal/Editor/Deprecated.cs
  com.unity.render-pipelines.universal/Editor/Lighting/UniversalRenderPipelineLightUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/Overrides/LiftGammaGainEditor.cs
  com.unity.render-pipelines.universal/Editor/Overrides/ShadowsMidtonesHighlightsEditor.cs
  com.unity.render-pipelines.universal/Editor/PostProcessDataEditor.cs
  com.unity.render-pipelines.universal/Editor/ScriptableRendererDataEditor.cs
  com.unity.render-pipelines.universal/Editor/ScriptableRendererFeatureEditor.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ParticleGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/LitDetailGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/LitGUI.cs
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/SimpleLitGUI.cs
  com.unity.render-pipelines.universal/Editor/UniversalAdditionalLightDataEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/UniversalRenderPipelineAssetUI.Skin.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAssetEditor.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
  com.unity.render-pipelines.universal/Editor/UniversalRendererDataEditor.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/Bloom.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ChannelMixer.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ChromaticAberration.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ColorAdjustments.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ColorCurves.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ColorLookup.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/DepthOfField.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/FilmGrain.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/LensDistortion.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/LiftGammaGain.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/MotionBlur.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/PaniniProjection.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ShadowsMidtonesHighlights.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/SplitToning.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/Tonemapping.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/Vignette.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/WhiteBalance.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyColorPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawObjectsPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DisallowMultipleRendererFeature.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
Labels: universal

#6571 Universal/docr 479 new UI changes
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
Labels: universal, needs-backport-2021.2, needs-backport-2022.1

#6618 Fix HDRP tests not compiling
  TestProjects/HDRP_Tests/Assets/Samples/High Definition RP/Procedural Sky/Editor/ProceduralSky/ProceduralSkyEditor.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Water/WaterRenderingEditor.cs
Labels: HDRP, testing

#6592 Documentation and images for custom mip for texture samplers
  com.unity.render-pipelines.high-definition/Documentation~/Images/CustomMipSupportNode.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/CustomMipSupportNodeExample.png
  com.unity.render-pipelines.high-definition/Documentation~/deep-learning-super-sampling-in-hdrp.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6511 Fixed the fade in mode of the clouds not impacting the volumetric clouds shadows (case 1381652).
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6600 Fixed potential asymmetrical resource release in the volumetric clouds (case 1388218).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6613 Fixed the rt screen space shadows not using the correct asset for allocating the history buffers.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPipeline.ScreenSpaceShadows.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6620 Fixed custom pass render queue type index
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
Labels: HDRP

#5698 PPV2 - Fix VR/XR detection when using XR plugins
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Editor/Effects/BloomEditor.cs
  com.unity.postprocessing/PostProcessing/Editor/Effects/LensDistortionEditor.cs
  com.unity.postprocessing/PostProcessing/Editor/Effects/MotionBlurEditor.cs
  com.unity.postprocessing/PostProcessing/Editor/Unity.Postprocessing.Editor.asmdef
  com.unity.postprocessing/PostProcessing/Editor/Utils/EditorUtilities.cs
Labels: XR, postprocessing v2

#3828 Improve Screen Space Reflection with WorldSpace Speed Rejection
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2000_Debug_ScreenSpaceGlobalIllumination.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2003_Debug_RecursiveRendering.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2004_Debug_ContactShadows.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2006_Debug_ScreenSpaceShadows.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2007_Debug_LightCluster.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2008_Debug_SubSurfaceScattering.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS_ScreenSpaceReflections_InstanceID.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS_ScreenSpaceReflections_PrimitiveID.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/2009_Debug_RTAS_Shadows_PrimitiveID.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3004_QuadOverdraw.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3005_VertexDensity.unity
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Override-ScreenSpaceReflection1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/ScreenSpaceReflectionPBR_SpeedRejectionSmooth.gif
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ShaderVariablesScreenSpaceReflection.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: HDRP

#6206 Add probe volume influence weight parameter
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.Dilate.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
Labels: SRP, HDRP
