Repository Unity-Technologies/Graphics, pull requests merged in 2022-04, with the labels that each got.

#7336 [SG2] Fix Inspector-Only UI Hint to use ParameterUIDescriptor
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/ParameterUIDescriptor.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/TestUINodes.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/GraphDataNode.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/Inspector/StaticPortsInspector.cs
Labels: Shader Graph

#7137 [VFX] Fix Simulate (test to 10.x.x)
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/26_NonUnifomScale.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/26_NonUnifomScale/Sky and Fog Settings Profile.asset
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/26_NonUnifomScale.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/26_NonUnifomScale.png
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorBuildSettings.asset
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/ProjectSettings/EditorBuildSettings.asset
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_A.cs
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_A.cs.meta
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_B.cs
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_B.cs.meta
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.unity
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.unity.meta
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.vfx
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.vfx.meta
Labels: vfx

#7330 10.x.x/universal/fix ssao in vr
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/DepthNormalsOnlyPass.hlsl
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/ShaderLibrary/DeclareNormalsTexture.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/SSAO.hlsl
  com.unity.render-pipelines.universal/Shaders/DepthNormalsPass.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree7CommonPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Nature/SpeedTree8Passes.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/TerrainLitPasses.hlsl
  com.unity.render-pipelines.universal/Shaders/Terrain/WavingGrassPasses.hlsl
Labels: universal

#7341 Made HasAlpha() internal to avoid API validation issue
  com.unity.postprocessing/PostProcessing/Runtime/Utils/RuntimeUtilities.cs
Labels: universal

#7345 ANT-605 Reenable part of the nightly (templates)
  .yamato/_abv.yml
  .yamato/_editor_pinning.yml
  .yamato/config/__shared.metafile
  .yamato/config/abv.metafile
Labels: sdet

#7335 NodeDescriptor & Multifunction Nodes
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FunctionDescriptorNodeBuilder.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/IStandardNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/NodeBuilderUtils.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/NodeBuilderUtils.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/NodeDescriptor.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/NodeDescriptor.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/NodeDescriptorNodeBuilder.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/NodeDescriptorNodeBuilder.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/TestUINodes.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/Registry.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphRegistryBuilder.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphStencil.cs
Labels: Shader Graph

#7356 Update old ref
  .yamato/_editor_pinning.yml
Labels: sdet

#7329 [SG2] Implement add/remove blackboard items
  com.unity.graphtools.foundation/Editor/Model/BasicModel/GraphModel.cs
  com.unity.graphtools.foundation/Editor/UI/CommandDispatch/Commands/VariableDeclarationCommands.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/ContextBuilder.cs
  com.unity.shadergraph/Editor/GraphUI/BlackboardViewFactoryExtensions.cs
  com.unity.shadergraph/Editor/GraphUI/BlackboardViewFactoryExtensions.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Blackboard.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Blackboard/GraphDataVariableDeclarationModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Blackboard/GraphDataVariableDeclarationModel.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Blackboard/SGBlackboardGraphModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Blackboard/SGBlackboardGraphModel.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Examples/ShaderGraphExampleTypes.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataNodeModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataPortModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataVariableNodeModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataVariableNodeModel.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/IGraphDataOwner.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/IGraphDataOwner.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/ShaderGraphModel.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphCommandOverrides.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/Preview/PreviewManager.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/Blackboard.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/Blackboard/GraphDataBlackboardVariablePropertyView.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/Blackboard/GraphDataBlackboardVariablePropertyView.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/Blackboard/ShaderGraphSectionModel.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/Blackboard/ShaderGraphSectionModel.cs.meta
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphStencil.cs
Labels: Shader Graph

#7338 fix a bug with how fields get added to node and add a regression test
  com.unity.shadergraph/Editor/GraphDeltaRegistry/GraphDelta/NodeHandler.cs
  com.unity.shadergraph/Tests/GraphDelta/GraphDeltaPlaceholderTest.cs
Labels: Shader Graph

#7357 [SG2] Setting up UI Test Automation
  com.unity.graphtools.foundation/Tests/Editor/TestEventHelper.cs
  com.unity.graphtools.foundation/Tests/Editor/TestEventHelper.cs.meta
  com.unity.shadergraph/Editor/GraphUI.meta
  com.unity.shadergraph/Editor/GraphUI/AssemblyInfo.cs
  com.unity.shadergraph/Editor/GraphUI/AssemblyInfo.cs.meta
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphEditorWindow.cs
  com.unity.shadergraph/Tests/GraphUI/GraphAssetTests.cs
  com.unity.shadergraph/Tests/GraphUI/GraphAssetTests.cs.meta
  com.unity.shadergraph/Tests/GraphUI/GraphNodeTests.cs
  com.unity.shadergraph/Tests/GraphUI/GraphNodeTests.cs.meta
  com.unity.shadergraph/Tests/GraphUI/TestEventHelpers.cs
  com.unity.shadergraph/Tests/GraphUI/TestEventHelpers.cs.meta
  com.unity.shadergraph/Tests/GraphUI/Unity.ShaderGraph.GraphUI.Tests.asmdef
Labels: Shader Graph

#7333 Sg2/texturetype
  com.unity.graphtools.foundation/Editor/UI/ModelView/Inspector/UIElements/ConstantField.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Generation/Interpreter.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/PreviewManager/HeadlessPreviewManager.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/TextureType.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/TextureType.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Examples/ShaderGraphExampleTypes.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderGraphAsset.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderGraphImporterEditor.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphRegistryBuilder.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphStencil.cs
  com.unity.shadergraph/Tests/Generation/GenerationTests.cs
  com.unity.shadergraph/Tests/HeadlessPreview/PreviewTests.cs
Labels: Shader Graph

#7359 Refactor and adding Serialization to IConstants
  com.unity.shadergraph/Editor/GraphUI/DataModel/Blackboard/GraphDataVariableDeclarationModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Constants.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Constants/BaseShaderGraphConstant.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Constants/BaseShaderGraphConstant.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Constants/GradientTypeConstant.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Constants/GradientTypeConstant.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Constants/GraphTypeConstant.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Constants/GraphTypeConstant.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Constants/TextureTypeConstant.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Constants/TextureTypeConstant.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Examples/ShaderGraphExampleTypes.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataNodeModel.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphCommandOverrides.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/Inspector/StaticPortsInspector.cs
Labels: Shader Graph

#7331 Fix missing scripts in template scene
  com.unity.template-hd/Assets/Scenes/SampleScene.unity
Labels: HDRP

#7312 [BACKPORT 7.x] Add Overlay Render Queue to Custom Pass
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderQueue.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
Labels: HDRP

#7313 [BACKPORT 10.x] Add Overlay Render Queue to Custom Pass
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderQueue.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassUtils.cs
Labels: HDRP

#7361 [SG2] Searcher Categories + Synonyms
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/NodeUIDescriptor.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Math/Trigonometry/DegreesToRadiansNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/TestUINodes.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Searcher/ShaderGraphSearcherDatabaseProvider.cs
Labels: Shader Graph

#7362 SG2 SubGraphs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderGraphImporterEditor.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderSubGraphAsset.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderSubGraphAsset.cs.meta
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderSubGraphEditor.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderSubGraphEditor.cs.meta
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphEditorWindow.cs
  com.unity.shadergraph/Editor/GraphUI/Toolbars/MainToolbar/ShaderGraphMainToolbar.cs
  com.unity.shadergraph/Editor/GraphUI/Toolbars/MainToolbar/ShaderGraphSaveAsButton.cs
  com.unity.shadergraph/Editor/GraphUI/Toolbars/MainToolbar/ShaderGraphSaveButton.cs
  com.unity.shadergraph/Editor/GraphUI/Utilities/GraphAssetUtils.cs
  com.unity.shadergraph/Tests/GraphUI/GraphAssetTests.cs
  com.unity.shadergraph/Tests/GraphUI/GraphNodeTests.cs
Labels: Shader Graph

#7364 changing shader subgraphs from ScriptableObject path to AssetImporter path
  com.unity.shadergraph/Editor/GraphUI/Importers/NewShaderGraphImporter.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderGraphImporterEditor.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderSubGraphAsset.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderSubGraphEditor.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderSubGraphImporter.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderSubGraphImporter.cs.meta
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphStencil.cs
  com.unity.shadergraph/Editor/GraphUI/Utilities/GraphAssetUtils.cs
  com.unity.shadergraph/Tests/GraphUI/GraphAssetTests.cs
  com.unity.shadergraph/Tests/GraphUI/GraphNodeTests.cs
Labels: Shader Graph

#7360 [SG2] Fix edge loading regression
  com.unity.shadergraph/Editor/ContextLayeredDataStorage/ElementID.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/ShaderGraphAssetModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/ShaderGraphModel.cs
  com.unity.shadergraph/Tests/ContextLayeredDataStorage/ContextLayeredDataStorageTests.cs
  com.unity.shadergraph/Tests/GraphUI/BaseGraphWindowTest.cs
  com.unity.shadergraph/Tests/GraphUI/BaseGraphWindowTest.cs.meta
  com.unity.shadergraph/Tests/GraphUI/GraphEdgeTests.cs
  com.unity.shadergraph/Tests/GraphUI/GraphEdgeTests.cs.meta
  com.unity.shadergraph/Tests/GraphUI/GraphNodeTests.cs
  com.unity.shadergraph/Tests/GraphUI/Unity.ShaderGraph.GraphUI.Tests.asmdef
Labels: Shader Graph

#7365 added a leading '.' when checking if a file extension matched for our…
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderGraphImporterEditor.cs
Labels: Shader Graph

#7350 Add Node Function Switching to SG UI
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/NodeDescriptorNodeBuilder.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/NodeUIDescriptor.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/TestUINodes.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/NodeUIInfo.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataNodeModel.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ChangeNodeFunctionCommand.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ChangeNodeFunctionCommand.cs.meta
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/NodeUICommands.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphCommandsRegistrar.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/DynamicPartHolder.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/DynamicPartHolder.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/FunctionSelectorPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/FunctionSelectorPart.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/GraphDataNode.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/GradientPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/FunctionSelectorPart.uss
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/FunctionSelectorPart.uss.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/FunctionSelectorPart.uxml
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/FunctionSelectorPart.uxml.meta
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphStencil.cs
  com.unity.shadergraph/Editor/GraphUI/Utilities/GraphElementHelper.cs
Labels: Shader Graph

#7368 Pin non-project images
  .yamato/_editor_pinning.yml
  .yamato/_editor_priming.yml
  .yamato/_projectcontext.yml
  .yamato/_templates.yml
  .yamato/config/__shared.metafile
Labels: sdet

#7370 [21.3] Pin non-project images
  .yamato/_editor_pinning.yml
  .yamato/_editor_priming.yml
  .yamato/_projectcontext.yml
  .yamato/_templates.yml
  .yamato/config/__shared.metafile
Labels: sdet

#7371 [22.1] Pin non-project images
  .yamato/_editor_pinning.yml
  .yamato/_editor_priming.yml
  .yamato/_latest_editor_versions_2022.1.metafile
  .yamato/_projectcontext.yml
  .yamato/_templates.yml
  .yamato/config/__shared.metafile
Labels: sdet

#7369 versioning up ShaderFoundry and Trunk support
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/BlockLibrary/BlockBuilderUtilities.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/BlockLibrary/SamplerStatePropertyBlockBuilder.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/BlockLibrary/SamplerStatePropertyBlockBuilder.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/BlockLibrary/VirtualTexturePropertyBlockBuilder.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/BlockTestRenderer.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/UnitySamplerStatePropertyTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/UnitySamplerStatePropertyTests.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestUnlitSubTarget.cs
  com.unity.sg2/Editor/ShaderFoundry/Linker/Properties/PropertyDeclarations.cs
  com.unity.sg2/Editor/ShaderFoundry/Provider/LegacyTemplateProvider.cs
  com.unity.sg2/Editor/ShaderFoundry/Utilities/AttributeParsing.cs
  com.unity.sg2/Editor/ShaderFoundry/Utilities/SamplerStateAttribute.cs
  com.unity.sg2/Editor/ShaderFoundry/Utilities/SamplerStateAttribute.cs.meta
  com.unity.shadergraph/Tests/ContextLayeredDataStorage.meta
  com.unity.shadergraph/Tests/Generation.meta
  com.unity.shadergraph/Tests/GraphDelta.meta
  com.unity.shadergraph/Tests/GraphUI.meta
  com.unity.shadergraph/Tests/HeadlessPreview.meta
  com.unity.shadergraph/Tests/Registry.meta
Labels: Shader Graph, testing

#7374 [SG2] Node Previews can Collapse/Expand
  com.unity.sg2/Editor/GraphDeltaRegistry/PreviewManager/HeadlessPreviewManager.cs
  com.unity.sg2/Editor/GraphUI/DataModel/GraphDataNodeModel.cs
  com.unity.sg2/Editor/GraphUI/EditorCommon/CommandStateObserver/GraphViewStateObserver.cs
  com.unity.sg2/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphCommandsRegistrar.cs
  com.unity.sg2/Editor/GraphUI/EditorCommon/Preview/PreviewManager.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/Commands/ChangePreviewExpandedCommand.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/GraphDataNode.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/NodePreviewPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/NodePreviewPart.uss
  com.unity.sg2/Editor/GraphUI/GraphElements/Templates/NodePreviewPart.uxml
  com.unity.sg2/Editor/GraphUI/GraphElements/Views/ShaderGraphView.cs
  com.unity.sg2/Editor/GraphUI/ShaderGraphEditorWindow.cs
  com.unity.sg2/Tests/GraphUI/BaseGraphWindowTest.cs
  com.unity.sg2/Tests/GraphUI/GraphNodeTests.cs
  com.unity.sg2/Tests/GraphUI/TestEditorWindow.cs
  com.unity.sg2/Tests/GraphUI/TestEditorWindow.cs.meta
  com.unity.sg2/Tests/GraphUI/TestEventHelpers.cs
  com.unity.sg2/Tests/GraphUI/TestGraphView.cs
  com.unity.sg2/Tests/GraphUI/TestGraphView.cs.meta
  com.unity.shadergraph/Tests/Editor/IntegrationTests.meta
  com.unity.shadergraph/Tests/Editor/TestNode.cs.meta
  com.unity.shadergraph/Tests/Editor/TestSlot.cs.meta
  com.unity.shadergraph/Tests/Editor/UnitTests.meta
Labels: Shader Graph

#7367 Dots distributed runtime group control
  com.unity.render-pipelines.high-definition/Runtime/PackageInfo.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Distributed.Video.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Distributed.cs
Labels: HDRP
