Repository Unity-Technologies/Graphics, pull requests merged in 2022-10, with the labels that each got.

#7672 Add CUSTOM-REVISION var to templates publishing pipelines
  .yamato/_templates.yml
Labels: sdet

#7676 [2022.2] Update CI - Backport #7675
  .yamato/_editor_pinning.yml
  .yamato/_latest_editor_versions_2022.2.metafile
  .yamato/_templates.yml
  .yamato/config/_editor.metafile
Labels: sdet

#7677 [21.3] Update CI token
  .yamato/_editor_pinning.yml
  .yamato/_latest_editor_versions_2021.3.metafile
  .yamato/_templates.yml
  .yamato/config/_editor.metafile
Labels: sdet

#7678 [10.x.x] Update CI
  .yamato/_editor_pinning.yml
  .yamato/_templates.yml
  .yamato/config/_editor.metafile
Labels: sdet

#7688 Universal template/update materials
  com.unity.template-universal/Assets/ExampleAssets/Materials/ConstructionLight_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/DryWallPainted_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/DryWall_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Ground_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Hammer_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/HardHat_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Jigsaw_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/LightBulb_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Liquid_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Metal_Blue_Simple_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Metal_Simple_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/OBS_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Paint1G_WAnim_Material.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/PaintBrush_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/PaintLabel_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Black_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Gray_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Ridges_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Rough_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Transparent.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_White_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Plastic_Yellow_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Strap_Mat.mat
  com.unity.template-universal/Assets/ExampleAssets/Materials/Stud_Mat.mat
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
  com.unity.template-universal/Packages/com.unity.template.universal/package.json
  com.unity.template-universal/ProjectSettings/URPProjectSettings.asset
Labels: needs-backport-2022.2

#7690 [22.2] Reenable templates/ppv2 nightly
  .yamato/_abv.yml
  .yamato/config/abv.metafile
Labels: sdet

#7687 UUM-6959: Disable auto GI mode in URP sample scene
  com.unity.template-universal/Assets/Scenes/SampleSceneLightingSettings.lighting
  com.unity.template-universal/Packages/com.unity.template.universal/CHANGELOG.md
Labels: backported-2022.2, backported-2021.3
