Repository Unity-Technologies/Graphics, pull requests merged in 2022-06, with the labels that each got.

#7486 Pin ubuntu images to v2.0
  .yamato/config/__shared.metafile
  .yamato/config/hdrp.metafile
  .yamato/config/hdrp_batchrenderergroup.metafile
  .yamato/config/lightmapping.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp_batchrenderergroup-linux-vulkan.yml
  .yamato/hdrp_performancetests-linux-vulkan.yml
  .yamato/lightmapping-linux-openglcore.yml
  .yamato/lightmapping-linux-vulkan.yml
  .yamato/postprocessing-linux-vulkan.yml
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph_builtin_foundation-linux-openglcore.yml
  .yamato/shadergraph_builtin_foundation-linux-vulkan.yml
  .yamato/shadergraph_builtin_lighting-linux-openglcore.yml
  .yamato/shadergraph_builtin_lighting-linux-vulkan.yml
  .yamato/universal_batchrenderergroup-linux-openglcore.yml
  .yamato/universal_batchrenderergroup-linux-vulkan.yml
  .yamato/urp_2d-linux-openglcore.yml
  .yamato/urp_2d-linux-vulkan.yml
  .yamato/urp_foundation-linux-openglcore.yml
  .yamato/urp_foundation-linux-vulkan.yml
  .yamato/urp_lighting-linux-openglcore.yml
  .yamato/urp_lighting-linux-vulkan.yml
  .yamato/urp_performance_boatattack-linux-vulkan.yml
  .yamato/urp_performance_lostcrypt-linux-vulkan.yml
  .yamato/urp_postpro-linux-openglcore.yml
  .yamato/urp_postpro-linux-vulkan.yml
  .yamato/urp_terrain-linux-openglcore.yml
  .yamato/urp_terrain-linux-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vikingvillage_builtin-linux-vulkan.yml
  .yamato/vikingvillage_urp-linux-vulkan.yml
Labels: sdet

#7079 [Shader Management] Foundry Additional Template Settings - Graphics Repo
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/BlockLibrary/BlockBuilderUtilities.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/FeatureTests/CustomEditorTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/FeatureTests/CustomEditorTests.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/FeatureTests/DependencyTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/FeatureTests/DependencyTests.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/FeatureTests/FallbackTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/FeatureTests/FallbackTests.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/FeatureTests/IncludeTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/FeatureTests/IncludeTests.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/FeatureTests/UsePassTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/FeatureTests/UsePassTests.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/BlockTestRenderer.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/SimpleBlockShaderBuilder.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestSubTarget.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestTarget.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestUnlitSubTarget.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/LegacyTemplateLinker.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Provider/LegacyTemplateProvider.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/ShaderGenerator.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/ShaderInstance.cs
Labels: Shader Graph

#7475 added info about hardware option for dynamic resolution
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Asset.md
Labels: HDRP

#7477 corrected inner angle description
  com.unity.render-pipelines.high-definition/Documentation~/Light-Component.md
Labels: HDRP

#7504 fixed typo
  com.unity.render-pipelines.high-definition/Documentation~/Customizing-HDRP-materials-with-Shader-Graph.md
Labels: HDRP

#7509 Fix HDRI Sky upper lux value
  com.unity.render-pipelines.high-definition/Editor/Sky/HDRISky/HDRISkyEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.cs
Labels: HDRP

#7437 Ugrade HDRP template global settings
  com.unity.template-hd/Assets/HDRPDefaultResources/DefaultHDRPAsset.asset
  com.unity.template-hd/Assets/HDRPDefaultResources/DefaultLookDevProfile.asset
  com.unity.template-hd/Assets/HDRPDefaultResources/HDRenderPipelineGlobalSettings.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Particles/ButterFlies.vfx
  com.unity.template-hd/Assets/SampleSceneAssets/Particles/FallingLeaves.vfx
  com.unity.template-hd/Assets/SampleSceneAssets/Particles/FloatingDust.vfx
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/HDRPLowQuality.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/HDRPMediumQuality.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/Volumes/VolumeGlobal.asset
  com.unity.template-hd/ProjectSettings/ProjectVersion.txt
  com.unity.template-hd/ProjectSettings/QualitySettings.asset
  com.unity.template-hd/ProjectSettings/VFXManager.asset
Labels: HDRP, needs-backport-2022.2

#7514 Update the postprocessing testing branches
  .yamato/postprocessing_publish.yml
Labels: sdet

#7513 [Backport 10.x.x][HDRP][Docs] Add information about histogram based exposure and path tracing
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
Labels: HDRP

#7512 Fixed Planar Probe not rendering when sky is None.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP

#7518 Updated changelog of SRP package to 10.9.1
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, universal, vfx

#7519 Fix desired lux value on runtime test
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/VolumeSettings.asset
Labels: HDRP, testing

#7520 Fix HDRI exposure on HDRP_test
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/3x_DebugView/3003_LightingMode/LightingMode_settings.asset
Labels: HDRP, testing

#7522 [10.x.x] Revert ubuntu images to v2.0
  .yamato/config/__shared.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/universal-linux-openglcore.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/urp_performance_lostcrypt-linux-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
Labels: sdet
