Repository Unity-Technologies/Graphics, pull requests merged in 2022-12, with the labels that each got.

#7748 Add HDRP link to lookup textures
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Sample-Content.md
Labels: HDRP

#7754 Change D3DHDRBBitDepth to hdrBitDepth
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP

#7756 Misc Updates
  com.unity.sg2/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Procedural/Noise/Noise2DNode.cs
  com.unity.sg2/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Procedural/Noise/Noise3DNode.cs
  com.unity.sg2/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Utility/HDRP/Water/ComputeWaterVertexPositionNode.cs
  com.unity.sg2/Editor/Resources/Styles/ColorMode.uss
  com.unity.sg2/Editor/Resources/Textures/SimplexTexture.tga
  com.unity.sg2/Editor/Resources/Textures/SimplexTexture.tga.meta
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Adjustment/ColorToGrayscale.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Adjustment/ColorToGrayscale.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Adjustment/Levels.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Adjustment/Levels.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Mask/AltitudeMask.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Mask/AltitudeMask.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Mask/CameraDistanceMask.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Mask/CameraDistanceMask.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Mask/TriplanarDirectionMasks.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/Artistic/Mask/TriplanarDirectionMasks.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/Channel/AlphaMerge.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/Channel/AlphaMerge.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/Channel/AlphaSplit.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/Channel/AlphaSplit.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/FaceNormal.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/Input/Geometry/FaceNormal.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/Textures.meta
  com.unity.shadergraph/Editor/Data/Nodes/Textures/SmallNoiseMask.tga
  com.unity.shadergraph/Editor/Data/Nodes/Textures/SmallNoiseMask.tga.meta
  com.unity.shadergraph/Editor/Data/Nodes/UV/FlowMapTime.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/UV/FlowMapTime.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVFlowMap.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVFlowMap.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVInteriorCubemap.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVInteriorCubemap.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVLatLong.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVLatLong.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVSphereMap.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVSphereMap.shadersubgraph.meta
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVTriplanar.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVTriplanar.shadersubgraph.meta
Labels: Shader Graph

#7759 [Backport 10.x.x] Fixed an issue where sky and cloud renderers would not properly react to hdCamera.Reset() + bump version to 10.10.2
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ValidationExceptions.json
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyRenderer.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUpdateContext.cs
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/CHANGELOG.md
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: HDRP

#7749 Adding LIGHTMAP_SHADOW_MIXING to ParticleLit.
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesLit.shader
Labels: universal

#7763 10.x.x/backport/universal/uum 12321
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Overrides/ColorLookup.cs
Labels: universal

#7760 Fixed Layout Warning for HDRP 3D Sample Scene in 2023.1
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Settings/TutorialLayout.wlt
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
Labels: HDRP

#7755 [HDRP] Update diffusion profile reference in HDRP Template
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Bush_01_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Fern_01_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Plant_C.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/DiffusionProfiles/Foliage.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/DiffusionProfiles/Foliage.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/DiffusionProfiles/Skin.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/DiffusionProfiles/Skin.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/Volumes/VolumeGlobal.asset
Labels: HDRP

#7383 Fix for some post effects not scaling correctly when dynamic resolution is enabled on a camera's target texture
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Editor/PostProcessLayerEditor.cs
  com.unity.postprocessing/PostProcessing/Runtime/Effects/MotionBlur.cs
  com.unity.postprocessing/PostProcessing/Runtime/Effects/MultiScaleVO.cs
  com.unity.postprocessing/PostProcessing/Runtime/Effects/SubpixelMorphologicalAntialiasing.cs
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessLayer.cs
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessRenderContext.cs
  com.unity.postprocessing/PostProcessing/Runtime/Utils/RuntimeUtilities.cs
Labels: postprocessing v2

#7656 Post Processing CPU Performance Improvements
  com.unity.postprocessing/PostProcessing/Editor/Effects/ColorGradingEditor.cs
  com.unity.postprocessing/PostProcessing/Editor/Effects/DefaultPostProcessEffectEditor.cs
  com.unity.postprocessing/PostProcessing/Editor/Tools/DefineSetter.cs
  com.unity.postprocessing/PostProcessing/Runtime/Effects/MotionBlur.cs
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessVolume.cs
  com.unity.postprocessing/PostProcessing/Runtime/Utils/RuntimeUtilities.cs
  com.unity.postprocessing/PostProcessing/Runtime/Utils/TextureLerper.cs
Labels: postprocessing v2

#7766 [HDRP] Backport various template PR
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Bush_01_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Fern_01_Mat.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Materials/General/Plant_C.mat
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/DiffusionProfiles/Foliage.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/DiffusionProfiles/Foliage.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/DiffusionProfiles/Skin.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/DiffusionProfiles/Skin.asset.meta
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/QualityLevels/4HDRPRaytracingQuality.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/QualityLevels/5HDRPRaytracingRTGIQuality.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Settings/Volumes/VolumeGlobal.asset
  com.unity.template-hd/Assets/SampleSceneAssets/Tutorials/Settings/TutorialLayout.wlt
  com.unity.template-hd/Assets/Scenes/SampleScene.unity
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/ValidationExceptions.json
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template-hd/ProjectSettings/QualitySettings.asset
Labels: HDRP
