Repository Unity-Technologies/Graphics, pull requests merged in 2022-01, with the labels that each got.

#6656 Update vfx window title when asset is renamed
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: vfx

#6521 Create VFX from "No asset" tab does not open it
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
Labels: vfx, needs-backport-2022.1

#6176 Sg/fix/set pvt per material
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/SerializableVirtualTexture.cs
  com.unity.shadergraph/Editor/Data/Graphs/VirtualTextureShaderProperty.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/ProceduralVirtualTextureNode.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ProceduralVirtualTextureNodePropertyDrawer.cs
  com.unity.shadergraph/Editor/Drawing/Inspector/PropertyDrawers/ProceduralVirtualTextureNodePropertyDrawer.cs.meta
Labels: Shader Graph, needs-backport-10.x, needs-backport-2021.2

#6621 Backported Universal/docr 479 new UI changes
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
Labels: universal, needs-backport-2021.2

#6660 Fixed output add button could become invisible
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Blackboard/VFXBlackboard.cs
Labels: vfx, needs-backport-2021.2, needs-backport-2022.1

#6619 Backported Universal/docr 479 new UI changes
  com.unity.render-pipelines.universal/Documentation~/universalrp-asset.md
Labels: needs-backport-2022.1

#6165 updated vfx graph window toolbar information
  com.unity.visualeffectgraph/Documentation~/Images/auto-attach.png
  com.unity.visualeffectgraph/Documentation~/Images/blackboard.png
  com.unity.visualeffectgraph/Documentation~/Images/compile.png
  com.unity.visualeffectgraph/Documentation~/Images/help.png
  com.unity.visualeffectgraph/Documentation~/Images/save.png
  com.unity.visualeffectgraph/Documentation~/Images/version-control.png
  com.unity.visualeffectgraph/Documentation~/Images/vfx-control.png
  com.unity.visualeffectgraph/Documentation~/Images/vfx-graph-window-details.png
  com.unity.visualeffectgraph/Documentation~/Images/vfx-graph-window.png
  com.unity.visualeffectgraph/Documentation~/Images/vfx-toolbar.png
  com.unity.visualeffectgraph/Documentation~/VisualEffectGraphWindow.md
Labels: vfx

#6378 Crash copy paste subgraph
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Views/Controller/VFXViewController.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXPaste.cs
Labels: vfx, needs-backport-2021.2, needs-backport-2022.1

#6645 [URP] workaround for DX XR clear issues causing tests to fail
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#6675 Reenable warnaserror
  TestProjects/SRP_SmokeTest/Assets/csc.rsp
  TestProjects/SRP_SmokeTest/Assets/csc.rsp.meta
Labels: SRP, testing

#6639 [Backport][2022.1] Copy/paste disabled block ignore state
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXCopy.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXPaste.cs
Labels: vfx

#6682 Bump all packages to 13.1.5
  .yamato/_copycat.yml
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, universal, vfx, sdet

#6584 2022.1/swapbuffer fixes
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#6242 2021.2/universal/swapbuffer fixes
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#6633 Dedicated icons for VFX subgraphs windows
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/UIResources/VFX/d_subgraph-block.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/d_subgraph-block.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/d_subgraph-operator.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/d_subgraph-operator.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/subgraph-block.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/subgraph-block.png.meta
  com.unity.visualeffectgraph/Editor/UIResources/VFX/subgraph-operator.png
  com.unity.visualeffectgraph/Editor/UIResources/VFX/subgraph-operator.png.meta
Labels: vfx, needs-backport-2021.2, needs-backport-2022.1

#6693 [2022.2] Updating reference images for 050 Shader Graphs Deferred & Deferred RenderPass
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/050_Shader_Graphs_deferred_RenderPass.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/Vulkan/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/Android/Vulkan/None/050_Shader_Graphs_deferred_RenderPass.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/050_Shader_Graphs_deferred_RenderPass.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/050_Shader_Graphs_deferred_RenderPass.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/050_Shader_Graphs_deferred_RenderPass.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/050_Shader_Graphs_deferred_RenderPass.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/iPhonePlayer/Metal/None/050_Shader_Graphs_deferred_RenderPass.png
Labels: testing, universal

#6696 [2022.2] Updating reference image for 050 Shader Graphs Deferred RenderPass WinEditor DX11
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/050_Shader_Graphs_deferred_RenderPass.png
Labels: testing, universal

#6636 [RPW][1379810]DebugUI.Foldouts where collapsed because the UI was recreated
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.Builtins.cs
Labels: SRP

#6670 Fixing compilation issues on BuiltinGIUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/BuiltinGIUtilities.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6655 [2021.2] Fixing light render properties not updating properly during timeline updates
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP

#6657 [2022.1] Fixing light render properties not updating properly during timeline updates
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP

#6647 Added shader compatibility information to the SSAO page
  com.unity.render-pipelines.universal/Documentation~/post-processing-ssao.md
Labels: Docs, universal, needs-backport-2021.2, needs-backport-2022.1

#6711 [2022.1] Updated SSAO page to mention it works with all URP shaders and custom…
  com.unity.render-pipelines.universal/Documentation~/post-processing-ssao.md
Labels: Docs, universal

#6662 Some operators where not visible in node searcher
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXDataAnchor.cs
  com.unity.visualeffectgraph/Editor/Models/VFXSlotContainerModel.cs
Labels: vfx, needs-backport-2022.1

#6624 Moved missing skymanager parts to render graph
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP

#6669 [Fogbugz # 380357] Fixing negative overflowing of IES attenuation spline
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Lighting/IESEngine.cs
  com.unity.render-pipelines.core/Editor/Lighting/IESImporter.cs
Labels: SRP, needs-backport-2021.2, needs-backport-2022.1

#6538 [Shadergraph] [2021.2] Backport GatherTexture2D and TexelSize support all shader stages
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/GatherTexture2DNode.cs
  com.unity.shadergraph/Editor/Data/Nodes/Input/Texture/TexelSizeNode.cs
Labels: Shader Graph, needs-backport-2021.2

#6707 [Universal] CopyDepth pass editor ConfigureTarget for DX11-only
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
Labels: universal

#6704 [2022.2] Shaders: Fixing two lerp functions that were causing issues in our CI.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/UnlitPass.hlsl
  com.unity.render-pipelines.universal/ShaderLibrary/ShaderVariablesFunctions.hlsl
Labels: universal

#6713 [URP] Fix minor breaking API changes
  com.unity.render-pipelines.core/Runtime/Documentation.cs
Labels: SRP, universal

#6718 [2022] Reference image updated for Foundation 050 and VFX 103
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/050_Shader_Graphs_deferred_RenderPass.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/050_Shader_Graphs_deferred.png
  TestProjects/UniversalGraphicsTest_Foundation/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/050_Shader_Graphs_deferred_RenderPass.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/103_LitDeferred.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/103_LitDeferredAccurate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/103_LitForward.png
Labels: testing, universal, vfx

#6649 Fix small issue in docs in tonemapping code
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Tonemapping.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6646 Fix issue with Probe Volume icon appearing when it shouldn't in baking window
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
Labels: SRP, HDRP

#6719 NeedMotionVectorForTransparent was checking for wrong flag
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6677 Remove debug probes from depth prepass
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.shader
Labels: HDRP

#6654 Fix for APV index buffer marked as running out of space way earlier than it should
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#6557 16-Bit FSR Cleanup & Fixes
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/PostProcessing/Shaders/FSRCommon.hlsl
  com.unity.render-pipelines.core/Runtime/Utilities/FSRUtils.cs
Labels: SRP

#6461 [gpupipeline] deferred materials - diff between gpu deferred materials and gpudriven BRG branch
  com.unity.render-pipelines.core/Runtime/BatchRenderer/DeferredMaterialBRG.cs
  com.unity.render-pipelines.core/Runtime/BatchRenderer/DeferredMaterialBRG.cs.meta
  com.unity.render-pipelines.core/Runtime/BatchRenderer/RenderBRG.cs
  com.unity.render-pipelines.core/Runtime/GeometryPool/GeometryPool.cs
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPool.hlsl
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPoolDefs.cs
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPoolDefs.cs.hlsl
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/GeometryPoolKernels.compute
  com.unity.render-pipelines.core/Runtime/GeometryPool/Resources/VisibilityBufferCommon.hlsl
  com.unity.render-pipelines.core/Tests/Editor/GeometryPoolTests.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/CreateMaterialDepth.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/CreateMaterialDepth.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VBufferClassification.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VBufferClassification.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/Visibility.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/Visibility.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VisibilityCommon.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VisibilityCommon.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VisibilityDepthPass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VisibilityDepthPass.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VisibilityPass.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VisibilityPass.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VisibilityProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Visibility/VisibilityProperties.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDProfileId.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Visibility.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderQueue.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPass.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassVBufferLighting.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassVBufferLighting.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassVisibility.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VaryingMesh.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VertMesh.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
Labels: SRP, HDRP

#6598 Add Object Space Planar/Triplanar mapping graphics test
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace/Planar_OS.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace/Planar_OS.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace/Planar_WS.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace/Planar_WS.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace/Triplanar_OS.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace/Triplanar_OS.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace/Triplanar_WS.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1227_Lit_Planar_Triplanar_ObjectSpace/Triplanar_WS.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1227_Lit_Planar_Triplanar_ObjectSpace.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1227_Lit_Planar_Triplanar_ObjectSpace.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1227_Lit_Planar_Triplanar_ObjectSpace.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1227_Lit_Planar_Triplanar_ObjectSpace.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1227_Lit_Planar_Triplanar_ObjectSpace.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1227_Lit_Planar_Triplanar_ObjectSpace.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1227_Lit_Planar_Triplanar_ObjectSpace.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1227_Lit_Planar_Triplanar_ObjectSpace.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1227_Lit_Planar_Triplanar_ObjectSpace.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1227_Lit_Planar_Triplanar_ObjectSpace.png.meta
Labels: HDRP, testing

#6721 Always use the GUID to determine which scene to load for an APV
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#6221 [Fogbugz # 1388541] Re enable vulkan DRS tests
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4090_DRS-Hardware.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4091_DRS-Software.png
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
Labels: HDRP, testing

#6169 Add additional APV debug modes
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.VirtualOffset.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePerSceneData.cs
  com.unity.render-pipelines.core/Runtime/Utilities/ResourceReloader.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeDebug.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeOffsetDebug.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/ProbeVolumeOffsetDebug.shader.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
Labels: SRP, HDRP

#6726 [URP] Fix build documentation
  com.unity.render-pipelines.universal/Runtime/Documentation.cs
Labels: universal

#6722 [HDRP][Tooltips] Fixed some tooltips for Local Volumetric Fog
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/LocalVolumetricFogUI.Skin.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6714 Volume docs bugfixes
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/FrameSettings1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPAsset_VolumetricSettings.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/VolumeProfile1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/VolumeProfile2.png
  com.unity.render-pipelines.high-definition/Documentation~/Local-Volumetric-Fog.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Documentation~/Volume-Profile.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6729 [UniversalRP] [2022.2 Trunk Bugfix] Fix mismatch between Editor-side and Runtime-side implementations of UnityEngine.Rendering.Universal.DecalRendererFeature.IsAutomaticDBuffer() (Case 1364134)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
Labels: universal, needs-backport-2021.2, needs-backport-2022.1

#6731 [UniversalRP] [2022.1 Bugfix Backport] Fix mismatch between Editor-side and Runtime-side implementations of UnityEngine.Rendering.Universal.DecalRendererFeature.IsAutomaticDBuffer() (Case 1394637)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
Labels: universal

#6732 [UniversalRP] [2021.2 Bugfix Backport] Fix mismatch between Editor-side and Runtime-side implementations of UnityEngine.Rendering.Universal.DecalRendererFeature.IsAutomaticDBuffer() (Case 1394638)
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
Labels: universal

#6700 fixed link to decal.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/tracing-modes.md
Labels: HDRP

#6699 fixed typo "pratices" -> "practices" in ToC
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
Labels: HDRP

#6692 Path fixes
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6688 [HDRP] Automatic alpha to coverage
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/902_Materials_SG_Variants/Unlit/Shader Graphs_Unlit_AlphaClip.mat
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Alpha-Clipping.md
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2022.1-to-2022.2.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/MaterialPostProcessor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Eye/ShaderGraph/EyeSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Fabric/ShaderGraph/FabricSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Hair/ShaderGraph/HairSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Lit/ShaderGraph/HDLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDSubShaderUtilities.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Legacy/EyeMasterNode1.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Legacy/FabricMasterNode1.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Legacy/HDLitMasterNode1.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Legacy/HDUnlitMasterNode1.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Legacy/HairMasterNode1.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/Legacy/StackLitMasterNode1.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceOptionPropertyBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/SurfaceSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/TargetData/BuiltinData.cs
  com.unity.render-pipelines.high-definition/Editor/Material/StackLit/ShaderGraph/StackLitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/SurfaceOptionUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Unlit/ShaderGraph/HDUnlitSubTarget.Migration.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/BaseUnlitAPI.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/FrameSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassDepthOnly.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassMotionVectors.hlsl
Labels: HDRP, testing

#6689 [VFX] Staging to Master
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXBoundsHelperTest.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXBoundsHelperTest.cs.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXBoundsHelperTest.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXBoundsHelperTest.vfx.meta
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionTransform.cs
  com.unity.visualeffectgraph/Editor/GraphView/Blackboard/VFXBlackboard.cs
  com.unity.visualeffectgraph/Editor/GraphView/BoundsRecorder/VFXBoundsRecorder.cs
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXStickyNote.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXComponentBoard.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXSaveDropdownButton.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXVCSDropdownButton.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXVCSDropdownButton.cs.meta
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Collision/CollisionCone.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Collision/CollisionSDF.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Collision/CollisionSphere.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Kill/KillSphere.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Position/PositionTorus.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicInitialize.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicUpdate.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/VFXOperatorUtility.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/UIResources/uxml/VFXSaveDropDownPanel.uxml
  com.unity.visualeffectgraph/Editor/UIResources/uxml/VFXVCSDropDownPanel.uxml
  com.unity.visualeffectgraph/Editor/UIResources/uxml/VFXVCSDropDownPanel.uxml.meta
  com.unity.visualeffectgraph/Editor/Utils/VFXContextBorder.cs
  com.unity.visualeffectgraph/Shaders/VFXCommon.hlsl
  com.unity.visualeffectgraph/Shaders/VFXFillIndirectArgs.compute
Labels: testing, vfx

#6683 Reviewed new warmup cost section
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6659 [HDRP] Fix issue with dynamic RendererList culling option getting ignored
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-2022.1

#6558 Compile error on OSX using Metal in Unity 2021.2.5f1
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/ShaderPassDecal.hlsl
Labels: universal, needs-backport-2021.2, needs-backport-2022.1

#6580 [VFX/URP] Fix decal with overlay & scale (to 2021.2)
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.asset
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.asset.meta
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.unity
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.unity.meta
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.vfx
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/104_Decal_And_SoftParticle.vfx.meta
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/ForceRenderScale.cs
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/ForceRenderScale.cs.meta
  TestProjects/VisualEffectGraph_URP/Assets/URP.asset
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/VFXDecal.template
  com.unity.render-pipelines.high-definition/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/VFXGraph/Shaders/VFXCommon.hlsl
  com.unity.visualeffectgraph/Shaders/ParticleDecals/Pass.template
Labels: HDRP, testing, universal, vfx

#6733 Fixed an issue where APV cells were not populated properly when probe volume have rotations
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeSubdivisionContext.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP

#6349 Preserve depth buffer when blitting screen space reflections output back to main render buffer
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Runtime/Effects/ScreenSpaceReflections.cs
Labels: postprocessing v2

#6739 [2022.1] Compile error on OSX using Metal in Unity
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/ShaderPassDecal.hlsl
Labels: universal

#6479 Remap alpha channel of baseColorMap
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/GradChecker.png
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/GradChecker.png.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/LayeredLit.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/LayeredLit.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/LayeredLitTesselation.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/LayeredLitTesselation.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/Lit.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/Lit.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/LitTesselation.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/LitTesselation.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/Unlit.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/1x_Materials/1911_RemapAlpha/Unlit.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1911_RemapAlpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/1911_RemapAlpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1911_RemapAlpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1911_RemapAlpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/1911_RemapAlpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1911_RemapAlpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/1911_RemapAlpha.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1911_RemapAlpha.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/1911_RemapAlpha.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/Documentation~/Lit-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/Lit-Tessellation-Shader.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/layers.md
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/LitSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Editor/Material/UIBlocks/UnlitSurfaceInputsUIBlock.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitDataIndividualLayer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitProperties.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitData.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/UnlitProperties.hlsl
Labels: HDRP

#6742 [HDRP] Backport various PRs
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricClouds.png
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.core/Editor/Lighting/IESEngine.cs
  com.unity.render-pipelines.core/Editor/Lighting/IESImporter.cs
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Frame-Settings.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/CustomMipSupportNode.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/CustomMipSupportNodeExample.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/FrameSettings1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDRPAsset_VolumetricSettings.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/VolumeProfile1.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/VolumeProfile2.png
  com.unity.render-pipelines.high-definition/Documentation~/Local-Volumetric-Fog.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Refraction.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Volumetric-Clouds.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Getting-Started.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Recursive-Rendering.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/Volume-Profile.md
  com.unity.render-pipelines.high-definition/Documentation~/deep-learning-super-sampling-in-hdrp.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/tracing-modes.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricLighting/LocalVolumetricFogUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassRenderersShader.template
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPipeline.ScreenSpaceShadows.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLightingFiltering.compute
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Components/Tonemapping.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingRenderer.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassRenderersV2.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/CustomPass/CustomPassRenderersV2.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: SRP, HDRP, testing

#6744 Fix use of a reserved platform word as variable
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingSkySampling.hlsl
Labels: HDRP

#6725 Disabled the "Reflect Sky" feature in the case of transparent screenspace reflections for the water system.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
Labels: HDRP

#6727 Fix for changes in the APV Baking window lists not being serialized
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP

#6705 [RPW]Fix breaking changes on the from the Volume debug panel framework
  com.unity.render-pipelines.core/Runtime/Debugging/DebugDisplaySettingsVolumes.cs
  com.unity.render-pipelines.core/Runtime/Debugging/IVolumeDebugSettings.cs
  com.unity.render-pipelines.core/Runtime/Debugging/VolumeDebugSettings.cs
  com.unity.render-pipelines.core/Runtime/Deprecated.cs
  com.unity.render-pipelines.core/Runtime/Deprecated.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Deprecated.cs
Labels: SRP, HDRP

#6741 [HDRP] Backport various Prs
  .gitignore
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/004-CloudsFlaresDecals.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/1225_Lit_SpeedTree8SG.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/5011_VolumetricClouds.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/5011_VolumetricClouds.png
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/CoreEditorUtils.cs
  com.unity.render-pipelines.core/Editor/Lighting/IESEngine.cs
  com.unity.render-pipelines.core/Editor/Lighting/IESImporter.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Recursive-Rendering.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDRenderPipeline.ScreenSpaceShadows.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricLightingFiltering.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingRenderer.raytrace
Labels: HDRP, testing, sdet

#6678 Fix sky jittering
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUtils.hlsl
Labels: HDRP

#5810 Vfx/docs/whats new 12
  com.unity.visualeffectgraph/Documentation~/Images/banner-HDRP-decal.png
  com.unity.visualeffectgraph/Documentation~/Images/banner-attachment-workflow.png
  com.unity.visualeffectgraph/Documentation~/Images/banner-transform-shape.gif
  com.unity.visualeffectgraph/Documentation~/Images/banner-upgraded-shadergraph.png
  com.unity.visualeffectgraph/Documentation~/Images/banner-urp-fixed-lit-output.png
  com.unity.visualeffectgraph/Documentation~/Images/banner-urp-mobile.png
  com.unity.visualeffectgraph/Documentation~/whats-new-12.md
Labels: Docs, vfx

#6735 [URP] Particles test fix
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
Labels: universal

#6747 Add missing attributes
  com.unity.render-pipelines.universal/Runtime/Data/PostProcessData.cs
  com.unity.render-pipelines.universal/Runtime/Data/XRSystemData.cs
Labels: universal, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6734 use b1.xlarge flavor for hdrp dxr pipelines
  .yamato/config/hdrp_dxr.metafile
  .yamato/hdrp_dxr-win-dx12.yml
Labels: sdet

#6737 [CoreRP] Fix missing documentation
  .yamato/_abv.yml
  .yamato/config/abv.metafile
  com.unity.render-pipelines.core/Editor/RenderPipeline/RenderPipelineGlobalSettingsUI.Skin.cs
  com.unity.render-pipelines.core/Runtime/Debugging/ShaderDebugPrintManager.cs
  com.unity.render-pipelines.core/Runtime/Deprecated.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.core/Runtime/RenderPipeline/IShaderVariantSettings.cs
Labels: SRP, sdet

#6668 Shrink operator if possible (when changing data type)
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXOperatorUI.cs
Labels: vfx, needs-backport-2021.2, needs-backport-2022.1

#6751 [2022.2] Adding 079 and 125 to the test filters file for Android GLES3
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#6664 Empty inspector when user clicks in "void"
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
Labels: vfx, needs-backport-2022.1

#6745 [2021.2] VFX backports
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXContextTests.cs
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Outputs/VFXLitMeshOutput.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/visual-effect-bounds.md
  com.unity.visualeffectgraph/Editor/Compiler/VFXGraphCompiledData.cs
  com.unity.visualeffectgraph/Editor/Data/VFXDataParticle.cs
  com.unity.visualeffectgraph/Editor/Expressions/VFXExpressionTransform.cs
  com.unity.visualeffectgraph/Editor/GraphView/Blackboard/VFXBlackboard.cs
  com.unity.visualeffectgraph/Editor/GraphView/BoundsRecorder/VFXBoundsRecorder.cs
  com.unity.visualeffectgraph/Editor/GraphView/BoundsRecorder/VFXBoundsRecorderField.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXComponentBoard.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/Controller/VFXViewController.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXCopy.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXPaste.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Inspector/VFXAssetEditor.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Collision/CollisionCone.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Collision/CollisionSDF.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Collision/CollisionSphere.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Kill/KillSphere.cs
  com.unity.visualeffectgraph/Editor/Models/Blocks/Implementations/Position/PositionTorus.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXAbstractParticleOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicInitialize.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXBasicUpdate.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/Implementations/VFXMeshOutput.cs
  com.unity.visualeffectgraph/Editor/Models/Contexts/VFXContext.cs
  com.unity.visualeffectgraph/Editor/Models/Operators/VFXOperatorUtility.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/Templates/EmptyParticleSystem.vfx
  com.unity.visualeffectgraph/Editor/Templates/SimpleHeadsAndSparks.vfx
  com.unity.visualeffectgraph/Editor/Templates/SimpleHeadsAndTrails.vfx
  com.unity.visualeffectgraph/Editor/Templates/SimpleMeshOutput.vfx
  com.unity.visualeffectgraph/Editor/Templates/SimpleParticleSystem.vfx
  com.unity.visualeffectgraph/Editor/Templates/SimpleRibbon.vfx
  com.unity.visualeffectgraph/Editor/Types/VFXTypes.cs
  com.unity.visualeffectgraph/Editor/UIResources/uss/VFXComponentBoard-bounds-list.uss
  com.unity.visualeffectgraph/Editor/UIResources/uxml/VFXComponentBoard-bounds-list.uxml
  com.unity.visualeffectgraph/Shaders/VFXBoundsReduction.hlsl
  com.unity.visualeffectgraph/Shaders/VFXCommon.hlsl
  com.unity.visualeffectgraph/Shaders/VFXUpdate.template
Labels: vfx

#6679 Universal RP docs week post processing improvements
  com.unity.render-pipelines.universal/Documentation~/Images/AssetShots/Beauty/Overview.png
  com.unity.render-pipelines.universal/Documentation~/Images/AssetShots/Beauty/Template.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Bloom.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/BokehDepthOfField.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/ChannelMixer.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/ChromaticAberration.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/ColorAdjustments.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/ColorCurves.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/ColorLookup.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/FilmGrain.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/GaussianDepthOfField.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/LensDistortion.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/LiftGammaGain.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/MotionBlur.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/PaniniProjection.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/ShadowsMidtonesHighlights.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/SplitToning.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Tonemapping.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/Vignette.png
  com.unity.render-pipelines.universal/Documentation~/Images/Inspectors/WhiteBalance.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/bloom-lens-dirt.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/bloom-off.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/bloom.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/chromatic-aberration-off.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/chromatic-aberration.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/color-adjustments-off.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/color-adjustments.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/dof-bokeh-bladecount.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/dof-bokeh-curvature.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/dof-bokeh.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/dof-gaussian.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/film-grain-off.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/film-grain-response.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/film-grain.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/lens-distortion-off.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/lens-distortion.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/motion-blur-off.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/motion-blur.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/panini-off.png
  com.unity.render-pipelines.universal/Documentation~/Images/post-proc/panini.png
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Color-Adjustments.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Film-Grain.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Lens-Distortion.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Motion-Blur.md
  com.unity.render-pipelines.universal/Documentation~/Post-Processing-Panini-Projection.md
  com.unity.render-pipelines.universal/Documentation~/creating-a-new-project-with-urp.md
  com.unity.render-pipelines.universal/Documentation~/post-processing-bloom.md
  com.unity.render-pipelines.universal/Documentation~/post-processing-chromatic-aberration.md
  com.unity.render-pipelines.universal/Documentation~/post-processing-depth-of-field.md
Labels: Docs, universal, needs-backport-2021.2, needs-backport-2022.1

#6632 [RPW][1386964]Fix undo for DebugUI.Enum fields on the rendering debugger.
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Editor/Debugging/DebugState.cs
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.Builtins.cs
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.cs
  com.unity.render-pipelines.core/Editor/Debugging/DebugWindow.cs
Labels: SRP, needs-backport-2021.2, needs-backport-2022.1

#6186 [VFX] Fix Simulate (to 2021.2)
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/22_Prewarm.png
  TestProjects/VisualEffectGraph_HDRP/ProjectSettings/EditorBuildSettings.asset
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/015_FixedTime.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png
  TestProjects/VisualEffectGraph_URP/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/019_CustomSimulate.png.meta
  TestProjects/VisualEffectGraph_URP/ProjectSettings/EditorBuildSettings.asset
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_A.cs
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_A.cs.meta
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_B.cs
  com.unity.testing.visualeffectgraph/Runtime/SimulateTest_B.cs.meta
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.unity
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.unity.meta
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.vfx
  com.unity.testing.visualeffectgraph/Scenes/019_CustomSimulate.vfx.meta
Labels: testing, vfx

#6715 Added an option for culling objects out of the ray tracing acceleration structure.
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8001_SphereCulling.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8001_SphereCulling.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8002_NoCulling.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8002_NoCulling.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8003_FarPlaneCulling.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/8003_FarPlaneCulling.png.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling/Global Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling/Global Volume Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling/M_DiffuseCube.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling/M_DiffuseCube.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling/M_GreenLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling/M_GreenLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling/M_Mirror.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling/M_Mirror.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling/M_RedLit.mat
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8001_SphereCulling/M_RedLit.mat.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8002_NoCulling.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8002_NoCulling.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8002_NoCulling.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8002_NoCulling/Global Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8002_NoCulling/Global Volume Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8003_FarPlaneCulling.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8003_FarPlaneCulling.unity
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8003_FarPlaneCulling.unity.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8003_FarPlaneCulling/Global Volume Profile.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/8003_FarPlaneCulling/Global Volume Profile.asset.meta
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RecursiveRenderingData/RecursiveRenderingDisabled.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RecursiveRenderingData/RecursiveRenderingProfileFog.asset
  TestProjects/HDRP_DXR_Tests/Assets/Scenes/RecursiveRenderingData/Scene Settings Profile.asset
  TestProjects/HDRP_DXR_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracingSettings_extended_frustum.gif
  com.unity.render-pipelines.high-definition/Documentation~/Images/new-ray-tracing-culling-mode.png
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Settings.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-14.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RayTracingSettingsEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.HDRTASManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RayTracingSettings.cs
Labels: HDRP, testing, dxr

#6757 [VFX] API Migration
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/HDRenderPipelineMenuItems.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXComponentBoard.cs
Labels: HDRP, vfx

#6787 Fix core missing docs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePerSceneData.cs
Labels: SRP

#6341 [Universal][converter] batch mode support
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Converter/BuiltInToURP2DConverterContainer.cs
  com.unity.render-pipelines.universal/Editor/2D/Converter/BuiltInToURP2DMaterialUpgrader.cs
  com.unity.render-pipelines.universal/Editor/2D/Converter/ParametricToFreeformLightUpgrader.cs
  com.unity.render-pipelines.universal/Editor/2D/Converter/UpgradeURP2DAssetsContainer.cs
  com.unity.render-pipelines.universal/Editor/Converter/AnimationClipConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/BuiltInToURPConverterContainer.cs
  com.unity.render-pipelines.universal/Editor/Converter/ConversionIndexers.cs
  com.unity.render-pipelines.universal/Editor/Converter/ConverterItemDescriptor.cs
  com.unity.render-pipelines.universal/Editor/Converter/ConverterItemInfo.cs
  com.unity.render-pipelines.universal/Editor/Converter/Converters.cs
  com.unity.render-pipelines.universal/Editor/Converter/Converters.cs.meta
  com.unity.render-pipelines.universal/Editor/Converter/Converters/RenderSettingsConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/InitializeConverterContext.cs
  com.unity.render-pipelines.universal/Editor/Converter/MaterialReferenceBuilder.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/BloomConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/ChromaticAberrationConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/ColorGradingConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/DepthOfFieldConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/GrainConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/LensDistortionConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/MotionBlurConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/PostProcessEffectSettingsConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/EffectConverters/VignetteConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/PPv2ConversionIndexers.cs
  com.unity.render-pipelines.universal/Editor/Converter/PPv2/PPv2Converter.cs
  com.unity.render-pipelines.universal/Editor/Converter/ReadonlyMaterialConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConverter.cs
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConverterContainer.cs
  com.unity.render-pipelines.universal/Editor/Converter/RenderPipelineConvertersEditor.cs
  com.unity.render-pipelines.universal/Editor/Converter/RunItemContext.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
Labels: universal

#6797 2021.2/ant/bump 12.1.5
  .yamato/_copycat.yml
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.testing.graphics-performance/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, universal, vfx, sdet

#6794 Bump to 14.0.1
  .yamato/_copycat.yml
  TestProjects/HDRP_Tests/Packages/packages-lock.json
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/ValidationExceptions.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.testing.graphics-performance/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/Images/banner-urp-fixed-lit-output.png
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, testing, universal, vfx, sdet

#6761 [2020.3] VFX backport
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/Indeterminate Test.vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene.unity
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/LightingData.asset
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/101_ShadergraphSampleScene.unity
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/101_ShadergraphSampleScene/LightingData.asset
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: testing, vfx

#6774 [VFX] Fix 23_ParameterBinders
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/23_ParameterBinders.unity
Labels: testing, vfx

#6684 Disable HDRP package validation exception - Revert #6641
  com.unity.render-pipelines.high-definition/ValidationExceptions.json
  com.unity.render-pipelines.high-definition/ValidationExceptions.json.meta
Labels: HDRP

#6809 [backport] [URP] menu item for material conversion
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
Labels: universal

#6685 [ShaderGraph] Multiple Shader Output
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/ImportUpdateTests.cs
  com.unity.shadergraph/Editor/Drawing/PreviewManager.cs
  com.unity.shadergraph/Editor/Drawing/Views/MaterialNodeView.cs
  com.unity.shadergraph/Editor/Generation/Contexts/TargetSetupContext.cs
  com.unity.shadergraph/Editor/Generation/Descriptors/SubShaderDescriptor.cs
  com.unity.shadergraph/Editor/Generation/Processors/Generator.cs
  com.unity.shadergraph/Editor/Generation/Target.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInLitSubTarget.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInUnlitSubTarget.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphAssetPostProcessor.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporter.cs
  com.unity.shadergraph/Editor/Importers/ShaderGraphImporterEditor.cs
  com.unity.shadergraph/Tests/Editor/UnitTests/TargetTests.cs
Labels: Shader Graph, testing

#6799 [RPW]Fix Diffusion Profile Volume Component inspector when opened wit…
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/DiffusionProfileOverrideEditor.cs
Labels: SRP, HDRP, needs-backport-2022.1

#6818 [Universal] Fix for removed RenderingPath
  com.unity.render-pipelines.universal/Editor/Converter/Converters/RenderSettingsConverter.cs
Labels: universal

#6708 Read-only TextInput text is invisible
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/UIResources/uss/VFXDataAnchor.uss
Labels: vfx, needs-backport-2022.1

#6832 [PPV2] Fix compil issue
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessDebugLayer.cs
Labels: postprocessing v2

#6835 Remove HDRP Perf tests from the nighlty
  .yamato/all-hdrp.yml
  .yamato/config/hdrp.metafile
Labels: sdet

#6836 Remove Perf tests from nightly
  .yamato/all-hdrp.yml
  .yamato/config/hdrp.metafile
Labels: sdet

#6838 Make sky shadow multi compile global instead of local
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/HDRISky/HDRISky.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6776 [10.x.x][URP] Added workaround fix for case 1365447
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: XR, universal

#6765 [Ruby][SG][Backport] Sub-Window title clipping bugfix
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Resources/Styles/GraphSubWindow.uss
  com.unity.shadergraph/Editor/Resources/Styles/InspectorView.uss
  com.unity.shadergraph/Editor/Resources/Styles/MasterPreviewView.uss
  com.unity.shadergraph/Editor/Resources/Styles/SGBlackboard.uss
Labels: Shader Graph

#6760 [Sapphire][SG] Fix issue with shader graph subwindow header text sticking out when window is resized
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Resources/Styles/GraphSubWindow.uss
  com.unity.shadergraph/Editor/Resources/Styles/InspectorView.uss
  com.unity.shadergraph/Editor/Resources/Styles/MasterPreviewView.uss
  com.unity.shadergraph/Editor/Resources/Styles/SGBlackboard.uss
Labels: Shader Graph, needs-backport-2022.1

#6843 Backport "use xlarge flavor for dxr pipelines" to 2022.1/staging
  .yamato/config/hdrp_dxr.metafile
  .yamato/hdrp_dxr-win-dx12.yml
Labels: sdet

#6845 Backported #4799. Fixed the Priority description.
  com.unity.render-pipelines.universal/Documentation~/baked-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-simple-lit-shader.md
  com.unity.render-pipelines.universal/Documentation~/particles-unlit-shader.md
  com.unity.render-pipelines.universal/Documentation~/unlit-shader.md
Labels: universal

#6810 Fix simple lit pass not using the correct pass name for depth
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Mesh/PassDepthForwardOnly.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Mesh/PassDepthForwardOnly.template.meta
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/PlanarPrimitive/PassDepthForwardOnly.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/PlanarPrimitive/PassDepthForwardOnly.template.meta
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/VFXParticleLitMesh.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/VFXParticleLitPlanarPrimitive.template
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/SimpleLit.hlsl
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6785 [Ruby][SG][Backport] Fixing blackboard keyword duplication exception + invalid category data validation
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
Labels: Shader Graph

#6778 [Sapphire][SG] Fixing blackboard keyword duplication exception + invalid category data validation
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/Controllers/BlackboardTestController.cs
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/PropertyTests.cs
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardCategoryController.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
  com.unity.shadergraph/Editor/Drawing/Views/GraphSubWindow.cs
Labels: Shader Graph, testing, needs-backport-2021.2, needs-backport-2022.1

#6784 [2021.2][SG][Backport] Fixing blackboard keyword duplication exception + invalid category data validation
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
Labels: Shader Graph

#6779 [2021.2][SG][Backport] Shader graph subwindow title clipping fix
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Resources/Styles/GraphSubWindow.uss
  com.unity.shadergraph/Editor/Resources/Styles/InspectorView.uss
  com.unity.shadergraph/Editor/Resources/Styles/MasterPreviewView.uss
  com.unity.shadergraph/Editor/Resources/Styles/SGBlackboard.uss
Labels: Shader Graph

#6865 Add the Pow node in GTF Shader Graph.
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/Registry.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/RegistryPlaceholder.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Searcher/ShaderGraphSearcherDatabaseProvider.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/ShaderGraphStencil.cs
Labels: Shader Graph

#6857 [2022.2] Disabling some scenes in CI + Updating reference images
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Test/TestFilters/TestCaseFilters.asset
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/ReferenceImages/Linear/Android/Vulkan/None/230_Decal.png
  TestProjects/UniversalGraphicsTest_Terrain/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: universal

#6849 [2022.2] Fixing an issue with PostProcessingData being added in renderers with the feature disabled
  com.unity.render-pipelines.universal/Runtime/Data/PostProcessData.cs
  com.unity.render-pipelines.universal/Runtime/Data/XRSystemData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
Labels: universal

#6826 [Fogbugz # 1386436] Fixing FPTL failing when near and far are very tight.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild.compute
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6691 Various features for the water system
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9920_WaterSurface.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9920_WaterSurface/Global Volume Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9920_WaterSurface/m_Geometry.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/9x_Other/9920_WaterSurface/m_Geometry.mat.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/9920_WaterSurface.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/9920_WaterSurface.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/9920_WaterSurface.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/9920_WaterSurface.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/9920_WaterSurface.png
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
  com.unity.render-pipelines.core/ShaderLibrary/Packing.hlsl
  com.unity.render-pipelines.high-definition/Editor/Lighting/Water/WaterRenderingEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/ComputeVertexPosition_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/EvaluateFoamData_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/EvaluateRefractionData_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/EvaluateScatteringColor_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/EvaluateSimulationAdditionalData_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/EvaluateSimulationDisplacement_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/EvaluateTipThickness_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/PackVertexData_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Node/UnpackData_Water.cs
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Tessellation.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Tessellation.template.hlsl.meta
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/Vertex.template.hlsl
  com.unity.render-pipelines.high-definition/Editor/Material/Water/ShaderGraph/WaterSubTarget.cs
  com.unity.render-pipelines.high-definition/Editor/Water/WaterSurfaceEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Water/WaterSurfaceMenuItems.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Utilities/GeometryUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Utilities/GeometryUtils.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Water/Water.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Material/DefaultWaterMaterial.mat
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Subgraph/WaterSurfaceGradients.shadersubgraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/ShaderGraph/Water.shadergraph
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/Water/FoamSurface.png
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/Texture/Water/FoamSurface.png.meta
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/FrustumCulling.hlsl
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/FrustumCulling.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.Simulation.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.Simulation.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.Utilities.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.Utilities.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/ShaderPassWaterForward.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Water/ShaderPassWaterGBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterCaustics.shader
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterLighting.compute
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterRendering.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSimulation.compute
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSurface.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSystemDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterSystemDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterVertexTessellation.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterVertexTessellation.hlsl.meta
Labels: SRP, HDRP, testing

#6822 Fixed missing unit in ray tracing related tooltips and docs (case 1397491).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-GI.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Light-Cluster.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Recursive-Rendering.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDScreenSpaceReflectionEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/GlobalIlluminationEditor.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Raytracing/RecursiveRenderingEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/GlobalIllumination.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflection.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/LightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/RecursiveRendering.cs
Labels: HDRP, dxr

#6686 [Backport][21.2] Lens flare width/height scaling fix
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
Labels: universal

#6855 [backport][urp] Convert selected Materials
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineMaterialUpgrader.cs
Labels: universal

#6820 Fixed errors spamming when in player mode due to ray tracing light cluster debug view (case 1390471).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP, dxr

#6509 [URP][Backport] make the Vulkan RenderTexture MSAA support fallback work in the same way as the swapchain backend implementation
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.lightweight/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/package.json
  com.unity.visualeffectgraph/package.json
Labels: universal

#6801 Renamed the Exposure field to Exposure Compensation in sky volume overrides (case 1392530).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Gradient-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-HDRI-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.render-pipelines.high-definition/Editor/Sky/SkySettingsEditor.cs
Labels: HDRP

#6174 Improvements to APV Virtual Offset
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.VirtualOffset.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingProcessSettingsDrawer.cs
  com.unity.render-pipelines.core/Editor/Unity.RenderPipelines.Core.Editor.asmdef
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeBakingProcessSettings.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneData.cs
Labels: SRP, HDRP

#6846 [7.x.x] Update windows image for smoke tests
  .yamato/config/smoke_test.metafile
  .yamato/smoke_test-win-dx11.yml
  TestProjects/SRP_SmokeTest/Assets/Resources.meta
  TestProjects/SRP_SmokeTest/Assets/Scenes/SampleScene.unity
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/packages-lock.json
  TestProjects/SRP_SmokeTest/ProjectSettings/HDRPProjectSettings.asset
  TestProjects/SRP_SmokeTest/ProjectSettings/ProjectSettings.asset
Labels: SRP, testing, sdet

#6882 Cleaning up FPTL early out for ps4 and PC
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/lightlistbuild.compute
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6852 Fix warning on APV asset delete
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePerSceneData.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#6814 [VFX] Remove instable test
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXControllerTests.cs
Labels: testing, vfx

#6866 Fix an issue with SubGraphNode's inputs losing incoming connections on upgrade
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
Labels: Shader Graph, needs-backport-2021.2

#6581 [VFX/SG] Fix missing ObjectToWorld using Transform (to 2022.1)
  com.unity.shadergraph/Editor/Data/Nodes/Math/Vector/TransformNode.cs
  com.unity.shadergraph/Editor/Data/Util/SpaceTransformUtil.cs
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: Shader Graph, vfx

#6793 [Universal][2021.2] Fix editor lighting attenuation when build target is a mobile platform
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
Labels: universal

#6881 Updated screenshot
  com.unity.render-pipelines.high-definition/Documentation~/Images/Matcap1.png
  com.unity.render-pipelines.high-definition/Documentation~/MatCap.md
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6880 note formatting and typo
  com.unity.render-pipelines.high-definition/Documentation~/VR-Overview.md
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6458 Validity-based warping of trilinear UVW for APV sampling to reduce leaking in certain situations
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/007-BasicAPV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/007-BasicAPV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/007-BasicAPV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/007-BasicAPV.png
  TestProjects/HDRP_RuntimeTests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/007-BasicAPV.png
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/Global Volume Profile.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/LightingData.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/ProbeVolumeData-Default.CellData.bytes
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/ProbeVolumeData-Default.CellOptionalData.bytes
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/ProbeVolumeData.CellSupportData.bytes
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/ProbeVolumeData.asset
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.Dilate.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeCellDilation.compute
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeBrickPool.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeAsset.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs.hlsl
  com.unity.render-pipelines.high-definition/Editor/Lighting/ProbeVolumesOptionsEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/ProbeVolumesOptionsEditor.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumeLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ProbeVolume/ProbeVolumesOptions.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
Labels: SRP, HDRP

#6262 [URP] FSR Upscaling Filter
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/Vulkan/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/Android/Vulkan/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/108_UpscalingFilters_FSR.png
  TestProjects/UniversalGraphicsTest_PostPro/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/108_UpscalingFilters_FSR.png.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/108_UpscalingFilters/URP_Asset_Scaling_FSR.asset
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/108_UpscalingFilters/URP_Asset_Scaling_FSR.asset.meta
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/108_UpscalingFilters_FSR.unity
  TestProjects/UniversalGraphicsTest_PostPro/Assets/Scenes/108_UpscalingFilters_FSR.unity.meta
  TestProjects/UniversalGraphicsTest_PostPro/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/SerializedUniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/UniversalRenderPipelineAssetUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/UniversalRenderPipelineAsset/UniversalRenderPipelineAssetUI.Skin.cs
  com.unity.render-pipelines.universal/Runtime/2D/Renderer2D.cs
  com.unity.render-pipelines.universal/Runtime/Data/PostProcessData.asset
  com.unity.render-pipelines.universal/Runtime/Data/PostProcessData.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
  com.unity.render-pipelines.universal/Shaders/PostProcessing/EdgeAdaptiveSpatialUpsampling.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/EdgeAdaptiveSpatialUpsampling.shader.meta
  com.unity.render-pipelines.universal/Shaders/PostProcessing/FinalPost.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/ScalingSetup.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/UberPost.shader
Labels: SRP, testing, universal

#6789 2d/shadow bug fixes 2022
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/2D/Passes/Utility/RendererLighting.cs
  com.unity.render-pipelines.universal/Runtime/2D/Shadows/ShadowRendering.cs
  com.unity.render-pipelines.universal/Shaders/2D/Include/ShadowProjectVertex.hlsl
Labels: universal, 2d, needs-backport-2021.2, needs-backport-2022.1

#6884 [Backport] Fix an issue with SubGraphNode's inputs losing incoming connections on upgrade
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
Labels: Shader Graph

#6616 [2022.2] Docs: API changes - Part 2
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ShadingModels/BakedLitGUI.cs
  com.unity.render-pipelines.universal/Runtime/Data/PostProcessData.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineAsset.cs
  com.unity.render-pipelines.universal/Runtime/Data/UniversalRenderPipelineEditorResources.cs
  com.unity.render-pipelines.universal/Runtime/Data/XRSystemData.cs
  com.unity.render-pipelines.universal/Runtime/Debug/UniversalRenderPipelineDebugDisplaySettings.cs
  com.unity.render-pipelines.universal/Runtime/ForwardLights.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/Bloom.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ChannelMixer.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ChromaticAberration.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ColorAdjustments.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ColorCurves.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ColorLookup.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/DepthOfField.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/FilmGrain.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/LensDistortion.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/LiftGammaGain.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/MotionBlur.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/PaniniProjection.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/ShadowsMidtonesHighlights.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/SplitToning.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/Tonemapping.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/Vignette.cs
  com.unity.render-pipelines.universal/Runtime/Overrides/WhiteBalance.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyColorPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthNormalOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawObjectsPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawSkyboxPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/FinalBlitPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/RenderObjectsPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/RenderObjects.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/ShaderUtils.cs
  com.unity.render-pipelines.universal/Runtime/ShadowUtils.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineCore.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
Labels: universal

#6893 [2022.2][SG] Fixing Input Test Instabilities
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/PropertyTests.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
Labels: Shader Graph, testing

#6896 [Backport]Fix an issue with SubGraphNode's inputs losing incoming connections on upgrade
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Data/Graphs/GraphData.cs
  com.unity.shadergraph/Editor/Data/Nodes/Utility/SubGraphNode.cs
Labels: Shader Graph

#6894 [2022.1][SG] Fix input test instabilities backport
  TestProjects/ShaderGraph/Assets/CommonAssets/Editor/PropertyTests.cs
  com.unity.shadergraph/Editor/Drawing/Controllers/BlackboardController.cs
Labels: Shader Graph, testing

#6899 [2022.2] Updating reference image for the Bloom test in XR that was missed in #6369
  TestProjects/UniversalGfxTestStereo/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/Mock HMD Loader/014_xr_PostProc_Bloom.png
Labels: testing, universal

#6853 Updated codeowner files to remove Universal Trunk Guardian
  .github/CODEOWNERS
Labels: sdet

#6897 Fixed an issue in the instance ID management for tesselation shaders.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Material/ShaderGraph/HDStructFields.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/Water/Water.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/VertMesh.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Water/HDRenderPipeline.WaterSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/Water/ShaderPassWaterGBuffer.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Water/WaterVertexTessellation.hlsl
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6908 Disable the clouds in the indoor sample scenes (normal and DXR)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/Indoors/SkyandFogSettingsProfile.asset
  com.unity.render-pipelines.high-definition/Editor/SceneTemplates/IndoorsDXR/SkyandFogSettingsProfile.asset
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6891 [Performance] Update test framework dependency for boat attack
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-linux-vulkan.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/urp_performance_boatattack-win-dx12.yml
  .yamato/urp_performance_boatattack-win-vulkan.yml
  .yamato/urp_performance_boatattack-xrquest-opengles3.yml
  .yamato/urp_performance_boatattack-xrquest-vulkan.yml
Labels: sdet

#6803 Fixed an issue where sometimes full screen debug would cause render graph errors.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6805 Fixed a nullref exception when creating a new scene while LightExplorer is open.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightExplorerExtension.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6808 Fix warning on baking set renaming
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-2021.2, needs-backport-2022.1

#6811 Refresh baking set scene list when one baking set is removed.
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeBakingWindow.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-2021.2, needs-backport-2022.1

#6804 Stop Uber from running if no effect that needs it is enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6825 Register shadows OnDemand to the cached shadow system only when rendered for the first time.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowAtlas.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6827 Add comments around transparent motion vector - camera only
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6839 Fix for issue with SSAO (and in fact anything sampling depth pyramid) at edges
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/DownsampleDepth.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1
