Repository Unity-Technologies/Graphics, pull requests merged in 2022-02, with the labels that each got.

#6921 [2022.2][ShaderGraph] BuiltIn Target correctly add custom editor GUI to TargetSetupContext
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInTarget.cs
Labels: Shader Graph, backported-2021.2, backported-2022.1

#6922 2022.1/builtin target custom editor
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderGraph/Targets/BuiltInTarget.cs
Labels: Shader Graph

#6697 [HDRP] Fix reflection probe rendering order when visible in multiple cameras
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP

#6916 Cherrypicking hardware DRS fixes on dlss, rounding error causing arti…
  com.unity.render-pipelines.core/Runtime/Common/DynamicResolutionHandler.cs
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/ContrastAdaptiveSharpen.compute
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/DownsampleDepth.shader
Labels: SRP

#6816 Post Process can now be edited in the default frame settings.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Settings/FrameSettingsUI.Drawers.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6703 Fixed Screen Space Decal to work with fog
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Includes/ShaderPassDecal.hlsl
Labels: universal, needs-backport-2021.2, needs-backport-2022.1

#6915 [VFX] Fix Plamode XR
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
Labels: testing, vfx

#6927 [HDRP] Fix missing doc on volume parameters
  com.unity.render-pipelines.core/Runtime/Volume/VolumeParameter.cs
Labels: SRP, HDRP, needs-backport-2021.2, needs-backport-2022.1

#6456 [Universal] RenderPass RTHandles refactor
  com.unity.render-pipelines.universal/Runtime/Decal/DBuffer/DBufferRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/DeferredLights.cs
  com.unity.render-pipelines.universal/Runtime/NativeRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/AdditionalLightsShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DeferredPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/GBufferPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MainLightShadowCasterPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/ScriptableRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#6917 [2022.2] Bugfix: Case 1378545 - Adding fragment/vertex declarations to some KeywordDescriptors in URP ShaderGraph
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
Labels: universal

#6887 Backport of Update 2DRendererData_overview.md
  com.unity.render-pipelines.universal/Documentation~/2DRendererData_overview.md
Labels: universal

#6901 [RPW]Fix recovering the correct index for DebugUI.Enum field that are not autoenum
  com.unity.render-pipelines.core/Editor/Debugging/DebugState.cs
Labels: SRP, needs-backport-2021.2, needs-backport-2022.1

#6910 Bump Test graphics framework package version to 7.8.17-exp.2
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/Lightmapping/Packages/manifest.json
Labels: HDRP, testing

#6862 [Fogbugz # 1381103] Fixing hardware DRS performance when active with multiple views
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: SRP, HDRP, needs-backport-2021.2, needs-backport-2022.1

#6947 [HDRP] Update runtime test 001-template scene (rebuild lighting)
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate.unity
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/LightingData.asset
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/LightingData.asset.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/Lightmap-0_comp_dir.png
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/Lightmap-0_comp_dir.png.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/Lightmap-0_comp_light.exr
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/Lightmap-0_comp_light.exr.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/Materials/Graffiti.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/Materials/WaterPuddle.mat
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/ReflectionProbe-0.exr
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/ReflectionProbe-0.exr.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/ReflectionProbe-1.exr
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/ReflectionProbe-1.exr.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/ReflectionProbe-2.exr
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/ReflectionProbe-2.exr.meta
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/001-HDTemplate/VolumeSettings.asset
  TestProjects/HDRP_RuntimeTests/ProjectSettings/VFXManager.asset
Labels: HDRP, testing

#6746 [2022.1 backport] DecalRendererFeature: Convert to using RTHandles
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/Camera/UniversalRenderPipelineCameraUI.Drawers.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.render-pipelines.universal/Runtime/Decal/DBuffer/DBufferRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/DecalRendererFeature.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceAmbientOcclusion.cs
  com.unity.render-pipelines.universal/Runtime/RendererFeatures/ScreenSpaceShadows.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal

#5883 Srp workflows/align overdraw workflow
  com.unity.render-pipelines.core/ShaderLibrary/Debug.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugFullScreen.shader
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugViewTiles.shader
  com.unity.render-pipelines.universal/Runtime/Debug/DebugDisplaySettingsCommon.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugDisplaySettingsRendering.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugHandler.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugRenderSetup.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Debug/DebugViewEnums.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Debug/DebuggingFullscreen.hlsl
Labels: SRP, HDRP, universal

#6928 Fixed the list of included HDRP asset used for stripping in the build process
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6935 [Backport 2022.1] Fixed the list of included HDRP asset used for stripping in the build process
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
Labels: HDRP

#6932 [Backport 2021.2] Fixed the list of included HDRP asset used for stripping in the build process
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
Labels: HDRP

#6833 Fix Show/Hide all Additional Properties
  com.unity.render-pipelines.core/Editor/AdditionalPropertiesPreferences.cs
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#6821 [HDRP] Fix errors in the console when using the wizard to configure a project
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Wizard/HDWizard.Configuration.cs
Labels: HDRP, needs-backport-2022.1

#6859 [HDRP] Improve custom pass name UI
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassListSearchWindow.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6790 [HDRP] API for Diffusion profile override volume component
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/DiffusionProfileOverride.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Unlit/Unlit.shader
Labels: HDRP, needs-backport-2022.1

#6759 Debug data for probes is not longer cleared every time a cell is added/removed
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#6817 [HDRP] Prevent Gradient Diffusion parameter to be negative for the Gradient Sky
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Sky/GradientSky/GradientSky.cs
Labels: HDRP

#6795 Rename vertex color mode option
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/surface-inputs/layered-surface-inputs.md
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6847 Use correct index for light shadow
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadows.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6953 [HDRP] Disable volumetric clouds in lens flare sample indoor scene
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Samples~/LensFlareSamples/SampleScene/VolumeProfiles/Indoor.asset
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6938 bump com.unity.testframework.graphics" to "7.8.17-exp.2"
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/Lightmapping/Packages/manifest.json
Labels: HDRP, testing

#6952 [HDRP] Fix issue with accumulation motion blur and depth of field when path tracing is enabled
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6830 Make gate fit Vertical by default
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2022.1-to-2022.2.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/HDCameraUI.PhysicalCamera.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/Camera/SerializedHDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
Labels: HDRP

#5324 Fix first frame of SSR PRB Accumulation
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#5992 HDR Docs
  com.unity.render-pipelines.high-definition/Documentation~/HDR-Output.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDR-Output-ACES.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDR-Output-GamutClip.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDR-Output-GamutView.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDR-Output-HueShift.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDR-Output-Neutral.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/HDR-Output-OverPaperWhite.png
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.2-to-2022.1.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-13.md
Labels: HDRP

#6701 Fix for APV sampling outside of loaded cells area
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeRefereneVolume.Streaming.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolume.hlsl
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ShaderVariablesProbeVolumes.cs.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#6807 Changed the roughness value used for screen space reflections and ray traced reflections to match environment lighting (case 1390916).
  com.unity.render-pipelines.core/ShaderLibrary/CommonMaterial.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingReflectionFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
Labels: SRP, HDRP, dxr, needs-backport-2021.2, needs-backport-2022.1

#6819 Update Bloom and Chromatic Aberration Documentation
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Bloom.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Chromatic-Aberration.md
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6813 Fix Editor Issue for LiftGammeGain and ShadowsMidtonesHighlights
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/TrackballUIDrawer.cs
Labels: HDRP

#6918 Changed how the ambient probe is sent to the volumetric clouds trace pass (case 1381761).
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsAccumulation.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsFullResolution.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsLighting.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsLowResolution.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricCloudsSky.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricCloudsDef.cs.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/Sky/AmbientProbeConvolution.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyManager.cs
Labels: HDRP

#6957 Fix for sampling garbage outside of screen with low res transparent upsample and dynamic resolution
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/UpsampleTransparent.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6925 Fixed using the wrong directional light data for clouds and the definition of current Sun when the shadow pass is culled (case 1399000)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6661 [HDRP] Add time slicing to realtime reflection probes
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2223_ReflectionProbeTimeSlicing.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2223_ReflectionProbeTimeSlicing.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2223_ReflectionProbeTimeSlicing.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2223_ReflectionProbeTimeSlicing/Chrome.mat
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2223_ReflectionProbeTimeSlicing/Chrome.mat.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2223_ReflectionProbeTimeSlicing/ReflectionUpdateTest.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2223_ReflectionProbeTimeSlicing/ReflectionUpdateTest.cs.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2223_ReflectionProbeTimeSlicing/Scene Settings Profile.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2223_ReflectionProbeTimeSlicing/Scene Settings Profile.asset.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2223_ReflectionProbeTimeSlicing.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2223_ReflectionProbeTimeSlicing.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2223_ReflectionProbeTimeSlicing.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2223_ReflectionProbeTimeSlicing.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2223_ReflectionProbeTimeSlicing.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2223_ReflectionProbeTimeSlicing.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2223_ReflectionProbeTimeSlicing.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2223_ReflectionProbeTimeSlicing.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2223_ReflectionProbeTimeSlicing.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Reflection-Probe.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDProbeUI.Drawers.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/HDProbeUI.Skin.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/SerializedProbeSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/Core/Textures/TextureCache.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/HDProbe.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Reflection/ReflectionProbeCache.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/HDRenderUtilities.cs
  com.unity.render-pipelines.high-definition/Runtime/Utilities/ProbeSettings.cs
Labels: HDRP

#6954 [Hdrp] Merge Hd/bugfix
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Bloom.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Chromatic-Aberration.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/surface-inputs/layered-surface-inputs.md
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadows.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/UpsampleTransparent.shader
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6960 [HDRP] Backport various Prs
  com.unity.render-pipelines.core/ShaderLibrary/CommonMaterial.hlsl
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Bloom.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Chromatic-Aberration.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/surface-inputs/layered-surface-inputs.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassDrawer.cs
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/CustomPass/CustomPassListSearchWindow.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightLoop/LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/LightUtils.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/ScreenSpaceLighting/ScreenSpaceReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadows.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/HDRenderPipeline.VolumetricClouds.cs
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/Lit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.LightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingLightCluster.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/RaytracingReflectionFilter.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/Reflections/RaytracingReflections.raytrace
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/UpsampleTransparent.shader
  com.unity.render-pipelines.high-definition/Samples~/LensFlareSamples/SampleScene/VolumeProfiles/Indoor.asset
Labels: SRP, HDRP

#6958 Improve error message when upgrading cookie atlas
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineAsset.Migration.cs
Labels: HDRP

#6961 [HDRP] Fix compilation m_GateFit
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDAdditionalCameraData.cs
Labels: HDRP

#6966 Fixing 1 frame delay of ForceFallback hardware DRS.
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6965 [RPW]Fix missing docs core package
  com.unity.render-pipelines.core/Runtime/Debugging/DebugDisplaySettingsVolumes.cs
Labels: SRP

#6964 [Backport][RPW]Fix Diffusion Profile Volume Component inspector when opened wit…
  com.unity.render-pipelines.core/Editor/Volume/VolumeComponentEditor.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/DiffusionProfileOverrideEditor.cs
Labels: SRP, HDRP

#6967 Fixing formatting
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6968 Fixing unsigned / signed shader warning in Debug.hlsl
  com.unity.render-pipelines.core/ShaderLibrary/Debug.hlsl
Labels: SRP

#6885 Sg2/staging - Add 2d previews
  com.unity.shadergraph/Editor/GraphDeltaRegistry/AssemblyInfo.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/AssemblyInfo.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Generation/Interpreter.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/GraphDelta/GraphDelta.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/GraphDelta/IGraphHandler.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/PreviewManager.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/PreviewManager/HeadlessPreviewManager.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/PreviewManager/HeadlessPreviewManager.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/PreviewManager/PreviewSceneResources.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/PreviewManager/PreviewSceneResources.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/RegistryPlaceholder.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Unity.ShaderGraph.GraphDeltaRegistry.asmdef
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Utils.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Utils/GraphTraversalUtils.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Utils/GraphTraversalUtils.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Utils/PooledList.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Utils/PooledList.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Utils/SerializableMesh.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Utils/SerializableMesh.cs.meta
  com.unity.shadergraph/Editor/GraphUI.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataNodeModel.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/GraphPreviewStateComponent.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/GraphPreviewStateObserver.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/GraphViewStateObserver.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/GraphViewStateObserver.cs.meta
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphCommandOverrides.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphState.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/Preview/PreviewManager.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/Preview/PreviewManager.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Commands/ChangePreviewExpandedCommand.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Commands/ChangePreviewModeCommand.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/NodePreviewPart.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphEditorWindow.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphGraphTool.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphGraphTool.cs.meta
  com.unity.shadergraph/Tests/Editor/HeadlessPreview.meta
  com.unity.shadergraph/Tests/Editor/HeadlessPreview/HeadlessPreviewTests.cs
  com.unity.shadergraph/Tests/Editor/HeadlessPreview/HeadlessPreviewTests.cs.meta
  com.unity.shadergraph/Tests/Editor/HeadlessPreview/Unity.ShaderGraph.HeadlessPreview.Tests.asmdef
  com.unity.shadergraph/Tests/Editor/HeadlessPreview/Unity.ShaderGraph.HeadlessPreview.Tests.asmdef.meta
Labels: Shader Graph

#6506 Disable raytraced shadows when in full shadowmask
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Shadows.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightUI.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Light/HDAdditionalLightData.cs
Labels: HDRP

#6950 Disable URP template warning
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipelineGlobalSettings.cs
Labels: universal

#6772 Fixed missing setter in Debug Menu for undo (case 1393826)
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.Builtins.cs
  com.unity.render-pipelines.core/Runtime/Debugging/DebugDisplaySettingsVolumes.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugDisplaySettingsLighting.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugDisplaySettingsMaterial.cs
  com.unity.render-pipelines.universal/Runtime/Debug/DebugDisplaySettingsRendering.cs
Labels: SRP, universal, needs-backport-2022.1

#6851 2021.2/universal/backport/bugfix case 1392965 max light count mismatch
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
Labels: universal

#6840 2021.2/universal/case 1379188 particle unlit blend
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/BaseShaderGUI.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Unlit.hlsl
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesUnlitForwardPass.hlsl
  com.unity.render-pipelines.universal/Shaders/UnlitForwardPass.hlsl
Labels: universal

#6848 2022.1/universal/backport/bugfix case 1392965 max light count mismatch
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/UniversalRenderPipeline.cs
  com.unity.render-pipelines.universal/ShaderLibrary/Input.hlsl
Labels: universal

#6984 Missing link in ToC
  com.unity.visualeffectgraph/Documentation~/TableOfContents.md
Labels: vfx, needs-backport-2021.2, needs-backport-2022.1

#6900 Sg/hotfix test instability
  .yamato/all-shadergraph.yml
  .yamato/config/shadergraph.metafile
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/Scenes/InstancedRendering.unity
  TestProjects/ShaderGraph/Assets/Scenes/ProceduralNodes.unity
Labels: Shader Graph, testing, sdet

#6913 2022.1/sg/hotfix test instability
  .yamato/all-shadergraph.yml
  .yamato/config/shadergraph.metafile
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/Android/Vulkan/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/InstancedRendering.png
  TestProjects/ShaderGraph/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/ProceduralNodes.png
  TestProjects/ShaderGraph/Assets/Scenes/InstancedRendering.unity
  TestProjects/ShaderGraph/Assets/Scenes/ProceduralNodes.unity
Labels: Shader Graph, testing, sdet

#6942 GSG-529 - ThreadMapDetail and UVCombine node documentation
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/ThreadMapDetail-Node.md
  com.unity.shadergraph/Documentation~/UVCombine-Node.md
  com.unity.shadergraph/Documentation~/images/sg-threadmapdetail-node.png
  com.unity.shadergraph/Documentation~/images/sg-uvcombine-node.png
  com.unity.shadergraph/Documentation~/snippets/hdrp-latest-link.md
  com.unity.shadergraph/Documentation~/snippets/nodes-additional-settings.md
  com.unity.shadergraph/Documentation~/snippets/nodes-all-contexts.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-all.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-hdrp.md
  com.unity.shadergraph/Documentation~/snippets/nodes-controls.md
  com.unity.shadergraph/Documentation~/snippets/nodes-fragment-only.md
  com.unity.shadergraph/Documentation~/snippets/nodes-generated-code.md
  com.unity.shadergraph/Documentation~/snippets/nodes-inputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-outputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-related.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-control.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-input.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-output.md
  com.unity.shadergraph/Documentation~/snippets/nodes-subgraph-node.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-errors.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-bias-sample-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-ss-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-uv-table.md
Labels: Shader Graph, Docs, needs-backport-2021.2, needs-backport-2022.1

#6987 GSG-581 - 2021.2 Nodes Documentation
  com.unity.shadergraph/Documentation~/Blackboard.md
  com.unity.shadergraph/Documentation~/Branch-On-Input-Connection-Node.md
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/Dither-Node.md
  com.unity.shadergraph/Documentation~/First-Shader-Graph.md
  com.unity.shadergraph/Documentation~/Gather-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/Getting-Started.md
  com.unity.shadergraph/Documentation~/Graph-Settings-Tab.md
  com.unity.shadergraph/Documentation~/Graph-Target.md
  com.unity.shadergraph/Documentation~/Is-Front-Face-Node.md
  com.unity.shadergraph/Documentation~/Keyword-Node.md
  com.unity.shadergraph/Documentation~/Keywords.md
  com.unity.shadergraph/Documentation~/Main-Preview.md
  com.unity.shadergraph/Documentation~/Master-Stack.md
  com.unity.shadergraph/Documentation~/Node-Library.md
  com.unity.shadergraph/Documentation~/Node.md
  com.unity.shadergraph/Documentation~/Port.md
  com.unity.shadergraph/Documentation~/Precision-Modes.md
  com.unity.shadergraph/Documentation~/Sample-Virtual-Texture-Node.md
  com.unity.shadergraph/Documentation~/Shader-Stage.md
  com.unity.shadergraph/Documentation~/SpeedTree8-SubGraphAssets.md
  com.unity.shadergraph/Documentation~/Sub-Graph-Dropdown-Node.md
  com.unity.shadergraph/Documentation~/Sub-graph-Asset.md
  com.unity.shadergraph/Documentation~/Sub-graph-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/View-Direction-Node.md
  com.unity.shadergraph/Documentation~/View-Vector-Node.md
  com.unity.shadergraph/Documentation~/images/sg-branch-on-input-connection-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-branch-on-input-connection-node.png
  com.unity.shadergraph/Documentation~/images/sg-calculate-level-detail-texture-2d-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-calculate-level-detail-texture-2d-node.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example-2.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example-3.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-sample-order.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node-example-2.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node.png
  com.unity.shadergraph/Documentation~/snippets/nodes-fragment-only.md
  com.unity.shadergraph/Documentation~/snippets/sg-node-fragment-only.md
Labels: Shader Graph, Docs, needs-backport-2021.2, needs-backport-2022.1

#6991 [2022.1] Backport: GSG-529 - ThreadMapDetail and UVCombine node documentation (#6942)
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/ThreadMapDetail-Node.md
  com.unity.shadergraph/Documentation~/UVCombine-Node.md
  com.unity.shadergraph/Documentation~/images/sg-threadmapdetail-node.png
  com.unity.shadergraph/Documentation~/images/sg-uvcombine-node.png
  com.unity.shadergraph/Documentation~/snippets/hdrp-latest-link.md
  com.unity.shadergraph/Documentation~/snippets/nodes-additional-settings.md
  com.unity.shadergraph/Documentation~/snippets/nodes-all-contexts.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-all.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-hdrp.md
  com.unity.shadergraph/Documentation~/snippets/nodes-controls.md
  com.unity.shadergraph/Documentation~/snippets/nodes-fragment-only.md
  com.unity.shadergraph/Documentation~/snippets/nodes-generated-code.md
  com.unity.shadergraph/Documentation~/snippets/nodes-inputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-outputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-related.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-control.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-input.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-output.md
  com.unity.shadergraph/Documentation~/snippets/nodes-subgraph-node.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-errors.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-bias-sample-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-ss-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-uv-table.md
Labels: Shader Graph, Docs

#6990 [2021.2] Backport: GSG-529 - ThreadMapDetail and UVCombine node documentation (#6942)
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/ThreadMapDetail-Node.md
  com.unity.shadergraph/Documentation~/UVCombine-Node.md
  com.unity.shadergraph/Documentation~/images/sg-threadmapdetail-node.png
  com.unity.shadergraph/Documentation~/images/sg-uvcombine-node.png
  com.unity.shadergraph/Documentation~/snippets/hdrp-latest-link.md
  com.unity.shadergraph/Documentation~/snippets/nodes-additional-settings.md
  com.unity.shadergraph/Documentation~/snippets/nodes-all-contexts.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-all.md
  com.unity.shadergraph/Documentation~/snippets/nodes-compatibility-hdrp.md
  com.unity.shadergraph/Documentation~/snippets/nodes-controls.md
  com.unity.shadergraph/Documentation~/snippets/nodes-fragment-only.md
  com.unity.shadergraph/Documentation~/snippets/nodes-generated-code.md
  com.unity.shadergraph/Documentation~/snippets/nodes-inputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-outputs.md
  com.unity.shadergraph/Documentation~/snippets/nodes-related.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-control.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-input.md
  com.unity.shadergraph/Documentation~/snippets/nodes-single-output.md
  com.unity.shadergraph/Documentation~/snippets/nodes-subgraph-node.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-errors.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-bias-sample-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-mip-mode-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-ss-table.md
  com.unity.shadergraph/Documentation~/snippets/sample-nodes/nodes-sample-uv-table.md
Labels: Shader Graph, Docs

#6988 [2021.2] Backport GSG 581 / PR 6987
  com.unity.shadergraph/Documentation~/Blackboard.md
  com.unity.shadergraph/Documentation~/Branch-On-Input-Connection-Node.md
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/Dither-Node.md
  com.unity.shadergraph/Documentation~/First-Shader-Graph.md
  com.unity.shadergraph/Documentation~/Gather-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/Graph-Target.md
  com.unity.shadergraph/Documentation~/Is-Front-Face-Node.md
  com.unity.shadergraph/Documentation~/Keyword-Node.md
  com.unity.shadergraph/Documentation~/Keywords.md
  com.unity.shadergraph/Documentation~/Main-Preview.md
  com.unity.shadergraph/Documentation~/Master-Stack.md
  com.unity.shadergraph/Documentation~/Node-Library.md
  com.unity.shadergraph/Documentation~/Node.md
  com.unity.shadergraph/Documentation~/Port.md
  com.unity.shadergraph/Documentation~/Sample-Virtual-Texture-Node.md
  com.unity.shadergraph/Documentation~/Shader-Stage.md
  com.unity.shadergraph/Documentation~/SpeedTree8-SubGraphAssets.md
  com.unity.shadergraph/Documentation~/Sub-Graph-Dropdown-Node.md
  com.unity.shadergraph/Documentation~/Sub-graph-Asset.md
  com.unity.shadergraph/Documentation~/Sub-graph-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/images/sg-branch-on-input-connection-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-branch-on-input-connection-node.png
  com.unity.shadergraph/Documentation~/images/sg-calculate-level-detail-texture-2d-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-calculate-level-detail-texture-2d-node.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example-2.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example-3.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-sample-order.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node-example-2.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node.png
  com.unity.shadergraph/Documentation~/snippets/sg-node-fragment-only.md
Labels: Shader Graph, Docs

#6972 [VFX/HDRP] Update HDRP Debug Normal (OSX)
  TestProjects/VisualEffectGraph_HDRP/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/HDRP_DebugNormal.png
Labels: testing, vfx

#6951 [Docs] [HDRP] Update scripts in the accumulation API documentation
  com.unity.render-pipelines.high-definition/Documentation~/Accumulation.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6890 Check if a path is a folder before trying to import vfx
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests.cs
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: testing, vfx, needs-backport-2021.2, needs-backport-2022.1

#6985 Fixed RTGI potentially reading from outside the half res pixels due to missing last pixel during the upscale pass (case 1400310).
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/302_GlobalIlluminationPerfHalf.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/304_GlobalIlluminationDenoised1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/305_GlobalIlluminationDenoisedHalf1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/307_GlobalIlluminationFog.png
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.compute
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6996 [RPW]Fix per frame GC.Alloc caused by the Debug Volume Panel
  com.unity.render-pipelines.core/Runtime/Debugging/DebugDisplaySettingsVolumes.cs
  com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Scripts/DebugUIHandlerField.cs
Labels: SRP

#6777 Fixed couple bugs in the volumetric clouds shader code.
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/Lighting/VolumetricClouds/WorleyEvaluator.compute
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricClouds.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricClouds/VolumetricCloudsDenoising.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricClouds/VolumetricCloudsDenoising.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricClouds/VolumetricCloudsUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricClouds/VolumetricCloudsUtilities.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricClouds/WorleyUtilities.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricClouds/WorleyUtilities.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/Lighting/VolumetricLighting/VolumetricClouds.compute
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUpdateContext.cs
Labels: HDRP

#6934 list formatting
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Global-Illumination.md
Labels: HDRP

#6936 removed italics and fixed list formatting
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Reflections.md
Labels: HDRP

#6937 removed italics and fixed menu formatting
  com.unity.render-pipelines.high-definition/Documentation~/Images/RayTracingPathTracing3.png
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
Labels: HDRP, needs-backport-2021.2

#6941 replaced screenshot
  com.unity.render-pipelines.high-definition/Documentation~/Images/ContactShadowLightComponent.png
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Traced-Contact-Shadows.md
Labels: HDRP

#6962 Updated screenshot
  com.unity.render-pipelines.high-definition/Documentation~/Images/RaytracingQualityNode.png
  com.unity.render-pipelines.high-definition/Documentation~/SGNode-Raytracing-Quality.md
Labels: HDRP

#6963 reformatted list
  com.unity.render-pipelines.high-definition/Documentation~/UI-Best-Practices.md
Labels: HDRP

#6989 [2022.1] Backport GSG 581/PR 6987
  com.unity.shadergraph/Documentation~/Blackboard.md
  com.unity.shadergraph/Documentation~/Branch-On-Input-Connection-Node.md
  com.unity.shadergraph/Documentation~/Calculate-Level-Of-Detail-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/Dither-Node.md
  com.unity.shadergraph/Documentation~/First-Shader-Graph.md
  com.unity.shadergraph/Documentation~/Gather-Texture-2D-Node.md
  com.unity.shadergraph/Documentation~/Getting-Started.md
  com.unity.shadergraph/Documentation~/Graph-Settings-Tab.md
  com.unity.shadergraph/Documentation~/Graph-Target.md
  com.unity.shadergraph/Documentation~/Is-Front-Face-Node.md
  com.unity.shadergraph/Documentation~/Keyword-Node.md
  com.unity.shadergraph/Documentation~/Keywords.md
  com.unity.shadergraph/Documentation~/Main-Preview.md
  com.unity.shadergraph/Documentation~/Master-Stack.md
  com.unity.shadergraph/Documentation~/Node-Library.md
  com.unity.shadergraph/Documentation~/Node.md
  com.unity.shadergraph/Documentation~/Port.md
  com.unity.shadergraph/Documentation~/Precision-Modes.md
  com.unity.shadergraph/Documentation~/Sample-Virtual-Texture-Node.md
  com.unity.shadergraph/Documentation~/Shader-Stage.md
  com.unity.shadergraph/Documentation~/SpeedTree8-SubGraphAssets.md
  com.unity.shadergraph/Documentation~/Sub-Graph-Dropdown-Node.md
  com.unity.shadergraph/Documentation~/Sub-graph-Asset.md
  com.unity.shadergraph/Documentation~/Sub-graph-Node.md
  com.unity.shadergraph/Documentation~/TableOfContents.md
  com.unity.shadergraph/Documentation~/View-Direction-Node.md
  com.unity.shadergraph/Documentation~/View-Vector-Node.md
  com.unity.shadergraph/Documentation~/images/sg-branch-on-input-connection-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-branch-on-input-connection-node.png
  com.unity.shadergraph/Documentation~/images/sg-calculate-level-detail-texture-2d-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-calculate-level-detail-texture-2d-node.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example-2.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example-3.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node-sample-order.png
  com.unity.shadergraph/Documentation~/images/sg-gather-texture-2d-node.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node-example-2.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node-example.png
  com.unity.shadergraph/Documentation~/images/sg-subgraph-dropdown-node.png
  com.unity.shadergraph/Documentation~/snippets/sg-node-fragment-only.md
Labels: Shader Graph, Docs

#6973 note formatting and captions
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Main.md
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2

#6974 Initialism
  com.unity.render-pipelines.high-definition/Documentation~/Authoring-LUTs.md
Labels: HDRP

#6983 added anchor link
  com.unity.render-pipelines.high-definition/Documentation~/Default-Settings-Window.md
Labels: HDRP

#6998 paragraph restructures, formatting fixes
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Propagating-NaNs.md
Labels: HDRP

#7000 fixed table subproperty
  com.unity.render-pipelines.high-definition/Documentation~/Scene-View-Camera.md
Labels: HDRP

#7001 menu path and list formatting
  com.unity.render-pipelines.high-definition/Documentation~/Anti-Aliasing.md
Labels: HDRP

#6870 [VFX] Remove internal instable test
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset
Labels: HDRP, testing, vfx, needs-backport-2021.2, needs-backport-2022.1

#7006 [2021.2] Small fix from merge conflict when merging PR 6988
  com.unity.shadergraph/Documentation~/snippets/nodes-fragment-only.md
  com.unity.shadergraph/Documentation~/snippets/sg-node-fragment-only.md
Labels: Shader Graph, Docs

#7009 [10.x] Lerp Node documentation fix
  com.unity.shadergraph/Documentation~/Lerp-Node.md
Labels: Shader Graph, Docs, backported-2021.1

#7010 [2021.1/11.x] Lerp Node documentation fix
  com.unity.shadergraph/Documentation~/Lerp-Node.md
Labels: Shader Graph, Docs

#7011 [HOLD] Disabling hw drs test for macosx and setting up software drs correctly
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/4091_DRS-Software.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/4091_DRS-Software.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/4091_DRS-Software.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/4091_DRS-Software.png
  TestProjects/HDRP_Tests/Assets/Tests/TestFilters/TestCaseFilters.asset
  com.unity.testing.hdrp/RP_Assets/HDRP_Test_Def_Drs_Software.asset
Labels: HDRP, testing

#7016 [10.x.x] Fix perf jobs
  .yamato/config/universal_perf_boatattack.metafile
  .yamato/config/universal_perf_lostcrypt.metafile
  .yamato/urp_performance_boatattack-android-opengles3.yml
  .yamato/urp_performance_boatattack-android-vulkan.yml
  .yamato/urp_performance_boatattack-iphone-metal.yml
  .yamato/urp_performance_boatattack-osx-metal.yml
  .yamato/urp_performance_boatattack-win-dx11.yml
  .yamato/urp_performance_boatattack-win-dx12.yml
  .yamato/urp_performance_boatattack-win-vulkan.yml
  .yamato/urp_performance_lostcrypt-android-opengles3.yml
  .yamato/urp_performance_lostcrypt-android-vulkan.yml
  .yamato/urp_performance_lostcrypt-iphone-metal.yml
  .yamato/urp_performance_lostcrypt-linux-vulkan.yml
  .yamato/urp_performance_lostcrypt-osx-metal.yml
  .yamato/urp_performance_lostcrypt-win-dx11.yml
  .yamato/urp_performance_lostcrypt-win-dx12.yml
  .yamato/urp_performance_lostcrypt-win-vulkan.yml
Labels: sdet

#6651 [Fogbugz#1388961] Fixing PBR Dof for DLSS
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFCoCMinMax.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6652 [HDRP] Path tracer denoiser
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/PathTracing/PathTracingEditor.cs
  com.unity.render-pipelines.high-definition/Editor/Unity.RenderPipelines.HighDefinition.Editor.asmdef
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxFPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Fabric/FabricPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Hair/HairPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/LitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Material/StackLit/StackLitPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/DenoisePass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/DenoisePass.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/Shaders/Accumulation.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/Shaders/BlitAndExpose.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/Shaders/BlitAndExpose.compute.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/SubFrameManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCameraFrameHistoryType.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineRuntimeResources.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDStringConstants.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingAOV.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingAOV.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingMain.raytrace
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/Unity.RenderPipelines.HighDefinition.Runtime.asmdef
Labels: HDRP

#6975 Fixed the list of included HDRP asset used for stripping in the build process
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6978 [Backport 2021.2] Fixed the list of included HDRP asset used for stripping in the build process
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
Labels: HDRP

#6977 [Backport 2022.1] Fixed the list of included HDRP asset used for stripping in the build process
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
Labels: HDRP

#7022 [HDRP] Backport various PRs
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/302_GlobalIlluminationPerfHalf.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/304_GlobalIlluminationDenoised1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/305_GlobalIlluminationDenoisedHalf1.png
  TestProjects/HDRP_DXR_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/307_GlobalIlluminationFog.png
  com.unity.render-pipelines.core/Runtime/Textures/RTHandleSystem.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Accumulation.md
  com.unity.render-pipelines.high-definition/Documentation~/Ray-Tracing-Path-Tracing.md
  com.unity.render-pipelines.high-definition/Documentation~/UI-Best-Practices.md
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/Shaders/DoFCoCMinMax.compute
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.PostProcess.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRenderPipeline.RaytracingDeferredLightLoop.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/Shaders/IndirectDiffuse/RaytracingIndirectDiffuse.compute
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
Labels: SRP, HDRP, testing

#6919 [HDRP] Add custom post process error in the UI when the component is not added in the global settings
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/CustomPostProcessVolumeComponentEditor.cs
  com.unity.render-pipelines.high-definition/Editor/PostProcessing/CustomPostProcessVolumeComponentEditor.cs.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipelineGlobalSettings.cs
Labels: SRP, HDRP, needs-backport-2022.1

#7019 Added support for the NGGC graphics device type
  com.unity.render-pipelines.core/Runtime/Textures/TextureXR.cs
  com.unity.render-pipelines.high-definition/Runtime/Debug/DebugDisplay.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Prepass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.SubsurfaceScattering.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: SRP, HDRP, needs-backport-2021.2, needs-backport-2022.1

#6788 [1396416][1396418][1396422] Fixed Light2D Sprite Light not taking into account pivot and updates light properly when Sprite is modified
  TestProjects/UniversalGraphicsTest_2D/Packages/manifest.json
  com.unity.render-pipelines.universal/Editor/2D/Converter/ParametricToFreeformLightUpgrader.cs
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
Labels: universal, 2d, needs-backport-2022.1

#7012 Move ShaderPassSensorLidar.hlsl to SensorSDK package
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingIntegrator.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/PathTracingIntegrator.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/SensorIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassSensorLidar.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassSensorLidar.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipelineResources/HDRenderPipelineRuntimeResources.asset
Labels: HDRP

#7034 Remove boat attack XRQuest OpenGLES3 from nightlies
  .yamato/all-urp_performance_boatattack.yml
  .yamato/config/universal_perf_boatattack.metafile
Labels: sdet

#7035 APV Barebones info files
  com.unity.render-pipelines.high-definition/Documentation~/Images/Probe-Volume.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Probe-Volumes-Baking-Window.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Probe-Volumes-Brick-Debug.png.jpg
  com.unity.render-pipelines.high-definition/Documentation~/Images/Probe-Volumes-Debug.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Probe-Volumes-Options.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Probe-Volumes-Probe-Debug-Panel.png
  com.unity.render-pipelines.high-definition/Documentation~/Images/Probe-Volumes-Probes-Debug.jpg
  com.unity.render-pipelines.high-definition/Documentation~/Probe-Volumes.md
Labels: HDRP

#7008 Update Environment Lighting doc
  com.unity.render-pipelines.high-definition/Documentation~/Environment-Lighting.md
Labels: HDRP

#7036 Universal/blending fixes
  TestProjects/UniversalGraphicsTest_Foundation/Assets/Test/TestFilters/TestCaseFilters.asset
Labels: testing, universal

#6970 Gles/fix shader compilation errors
  com.unity.render-pipelines.core/Runtime/Utilities/Blit.hlsl
  com.unity.render-pipelines.universal/Shaders/CameraMotionVectors.shader
  com.unity.render-pipelines.universal/Shaders/PostProcessing/ScalingSetup.shader
Labels: SRP, universal, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#7031 Testing/test framework v30
  TestProjects/BatchRendererGroup_HDRP/Packages/manifest.json
  TestProjects/BatchRendererGroup_URP/Packages/manifest.json
  TestProjects/BuiltInGraphicsTest_Foundation/Packages/manifest.json
  TestProjects/BuiltInGraphicsTest_Lighting/Packages/manifest.json
  TestProjects/HDRP_DXR_Tests/Packages/manifest.json
  TestProjects/HDRP_PerformanceTests/Packages/manifest.json
  TestProjects/HDRP_RuntimeTests/Packages/manifest.json
  TestProjects/HDRP_Tests/Packages/manifest.json
  TestProjects/Lightmapping/Packages/manifest.json
  TestProjects/PostProcessing_Tests/Packages/manifest.json
  TestProjects/SRP_SmokeTest/Packages/manifest.json
  TestProjects/ShaderGraph/Packages/manifest.json
  TestProjects/ShaderGraphUniversalStereo/Packages/manifest.json
  TestProjects/UniversalGfxTestStereo/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_2D/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Foundation/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Lighting/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_PostPro/Packages/manifest.json
  TestProjects/UniversalGraphicsTest_Terrain/Packages/manifest.json
  TestProjects/UniversalUpgradeTest/Packages/manifest.json
  TestProjects/VisualEffectGraph_HDRP/Packages/manifest.json
  com.unity.testing.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, testing, universal, vfx, sdet, needs-backport-2021.2, needs-backport-2022.1

#7043 Fixed HDRP camera debug panel rendering foldout.
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.Builtins.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-2021.2, needs-backport-2022.1

#7041 Fix for Final Image Histogram debug mode not working on some hardware
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
Labels: HDRP, needs-backport-10.x, needs-backport-2021.2, needs-backport-2022.1

#6443 [HDRP] Graphics test for cascaded shadows with custom projection matrix
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2321_Shadow_Cascades_CustomProj.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2321_Shadow_Cascades_CustomProj.unity
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2321_Shadow_Cascades_CustomProj.unity.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2321_Shadow_Cascades_CustomProj/2321_Volume.asset
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2321_Shadow_Cascades_CustomProj/2321_Volume.asset.meta
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2321_Shadow_Cascades_CustomProj/SetProjection.cs
  TestProjects/HDRP_Tests/Assets/GraphicTests/Scenes/2x_Lighting/2321_Shadow_Cascades_CustomProj/SetProjection.cs.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2321_Shadow_Cascades_CustomProj.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/2321_Shadow_Cascades_CustomProj.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2321_Shadow_Cascades_CustomProj.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/2321_Shadow_Cascades_CustomProj.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2321_Shadow_Cascades_CustomProj.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/2321_Shadow_Cascades_CustomProj.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2321_Shadow_Cascades_CustomProj.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/2321_Shadow_Cascades_CustomProj.png.meta
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2321_Shadow_Cascades_CustomProj.png
  TestProjects/HDRP_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/2321_Shadow_Cascades_CustomProj.png.meta
  TestProjects/HDRP_Tests/ProjectSettings/EditorBuildSettings.asset
Labels: HDRP, testing

#7040 Fixed various issues with render graph viewer when entering playmode.
  com.unity.render-pipelines.core/Editor/RenderGraph/RenderGraphViewer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP, needs-backport-2021.2, needs-backport-2022.1

#7029 Update TextureGather Macros in GLCore.hlsl
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/ShaderLibrary/API/GLCore.hlsl
Labels: SRP, universal

#7003 Add compressed cookie formats to single channel detection.
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/LightCookieManager.cs
Labels: universal

#7047 Whats new light loop information
  com.unity.render-pipelines.core/Documentation~/whats-new-12.md
  com.unity.render-pipelines.high-definition/Documentation~/Lightloop-Burstification.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
Labels: SRP, HDRP

#7038 Disable Main Camera in HDRP_RuntimeTests 006-Compositor scene
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor.unity
Labels: HDRP, testing, needs-backport-2021.2, needs-backport-2022.1

#7049 Whats new for FSRUtils api
  com.unity.render-pipelines.core/Documentation~/whats-new-13.md
  com.unity.render-pipelines.core/Documentation~/whats-new.md
Labels: SRP

#7045 Distrotion Blur Upgrading Guide from 2021.1 to 2021.2
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.2-to-2022.1.md
Labels: HDRP

#6992 [Shader Management] Setting up Test Project for Foundry with Inline Tests
  .yamato/all-shaderfoundry.yml
  .yamato/config/shaderfoundry.metafile
  .yamato/shaderfoundry-linux-openglcore.yml
  .yamato/shaderfoundry-linux-vulkan.yml
  .yamato/shaderfoundry-osx-metal.yml
  .yamato/shaderfoundry-osx-openglcore.yml
  .yamato/shaderfoundry-win-dx11.yml
  .yamato/shaderfoundry-win-dx12.yml
  .yamato/shaderfoundry-win-vulkan.yml
  TestProjects/ShaderFoundry/Assets/CommonAssets.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/TestGraphicsTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/TestGraphicsTests.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/FoundryGraphicsTestsEditor.asmdef
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/FoundryGraphicsTestsEditor.asmdef.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/FoundryTestRenderer.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/FoundryTestRenderer.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/PreviewSceneResources.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/PreviewSceneResources.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Setup.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Setup/SetupProject.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Setup/SetupProject.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Scripts.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Shaders.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Shaders/DiffTest.hlsl
  TestProjects/ShaderFoundry/Assets/CommonAssets/Shaders/DiffTest.hlsl.meta
  TestProjects/ShaderFoundry/Assets/TestAssets.meta
  TestProjects/ShaderFoundry/Assets/TestAssets/TestGraphicsTests.meta
  TestProjects/ShaderFoundry/Assets/TestAssets/TestGraphicsTests/AddTest.shader
  TestProjects/ShaderFoundry/Assets/TestAssets/TestGraphicsTests/AddTest.shader.meta
  TestProjects/ShaderFoundry/Assets/TestAssets/TestGraphicsTests/ConstantRGB.shader
  TestProjects/ShaderFoundry/Assets/TestAssets/TestGraphicsTests/ConstantRGB.shader.meta
  TestProjects/ShaderFoundry/Assets/TestbedAssets.meta
  TestProjects/ShaderFoundry/Assets/TestbedAssets/SRP.meta
  TestProjects/ShaderFoundry/Assets/TestbedAssets/SRP/UniversalForwardRenderer.asset
  TestProjects/ShaderFoundry/Assets/TestbedAssets/SRP/UniversalForwardRenderer.asset.meta
  TestProjects/ShaderFoundry/Assets/TestbedAssets/SRP/UniversalPipelineAsset.asset
  TestProjects/ShaderFoundry/Assets/TestbedAssets/SRP/UniversalPipelineAsset.asset.meta
  TestProjects/ShaderFoundry/Assets/TestbedAssets/SRP/UniversalRenderPipelineGlobalSettings.asset
  TestProjects/ShaderFoundry/Assets/TestbedAssets/SRP/UniversalRenderPipelineGlobalSettings.asset.meta
  TestProjects/ShaderFoundry/Packages/manifest.json
  TestProjects/ShaderFoundry/ProjectSettings/EditorBuildSettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/EditorSettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/GraphicsSettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/ProjectSettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/QualitySettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/TagManager.asset
  TestProjects/ShaderFoundry/ProjectSettings/VersionControlSettings.asset
Labels: testing, sdet

#7051 [HDRP][Path Tracing] Updated What's new file
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-13.md
Labels: SRP, HDRP

#7046 Add ACES and mixed cached for directional to the what's new document
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-13.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#7042 What's new
  com.unity.render-pipelines.high-definition/Documentation~/Images/material-variants.png
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-13.md
Labels: HDRP

#7052 [HDRP] Update what's new and upgrade guide about decals and custom passes
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2022.1-to-2022.2.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-13.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6955 Update Light Anchor page
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/light-anchor.md
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#7048 Backport removal of SensorSDK files
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/SensorIntersection.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/Shaders/SensorIntersection.hlsl.meta
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassPathTracing.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassSensorLidar.hlsl
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/ShaderPass/ShaderPassSensorLidar.hlsl.meta
Labels: HDRP, needs-backport-2022.1

#6999 removed duplicated sentence
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
Labels: HDRP, backported-2021.2, backported-2022.1

#7021 removed italics, fixed notes
  com.unity.render-pipelines.high-definition/Documentation~/Alpha-Output.md
Labels: HDRP, backported-2021.2, backported-2022.1

#7023 recommended import settings
  com.unity.render-pipelines.high-definition/Documentation~/Mask-Map-and-Detail-Map.md
Labels: HDRP, backported-2021.2, backported-2022.1

#7027 api formatting
  com.unity.render-pipelines.high-definition/Documentation~/Accumulation.md
Labels: HDRP, backported-2021.2, backported-2022.1

#6956 Updated Light Anchor page in line with updated HDRP page
  com.unity.render-pipelines.core/Documentation~/Images/LightAnchor0.png
  com.unity.render-pipelines.core/Documentation~/Images/LightAnchorAnimation.gif
  com.unity.render-pipelines.core/Documentation~/View-Lighting-Tool.md
Labels: SRP, backported-2021.2, backported-2022.1

#6402 OnPreprocessMaterialDescription have a priority that override default users implementations [Waiting C++ PR]
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/AutodeskInteractiveMaterialImport.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/AutodeskInteractiveMaterialImport.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXArnoldSurfaceMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/FBXMaterialDescriptionPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/PhysicalMaterial3DsMaxPreprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/SketchupMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.universal/Editor/AssetPostProcessors/ThreeDSMaterialDescriptionPostprocessor.cs
Labels: HDRP, universal

#7030 Fix APV Display Probe Debug mode misbehaving with fog
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.Debug.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: HDRP

#7054 [HDRP] Backport various PRs
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/006-Compositor.unity
  com.unity.render-pipelines.core/Documentation~/Images/LightAnchor0.png
  com.unity.render-pipelines.core/Documentation~/Images/LightAnchorAnimation.gif
  com.unity.render-pipelines.core/Documentation~/View-Lighting-Tool.md
  com.unity.render-pipelines.core/Documentation~/whats-new-12.md
  com.unity.render-pipelines.core/Editor/Debugging/DebugUIDrawer.Builtins.cs
  com.unity.render-pipelines.core/Editor/RenderGraph/RenderGraphViewer.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Accumulation.md
  com.unity.render-pipelines.high-definition/Documentation~/Alpha-Output.md
  com.unity.render-pipelines.high-definition/Documentation~/Environment-Lighting.md
  com.unity.render-pipelines.high-definition/Documentation~/HDRP-Camera.md
  com.unity.render-pipelines.high-definition/Documentation~/Lightloop-Burstification.md
  com.unity.render-pipelines.high-definition/Documentation~/Mask-Map-and-Detail-Map.md
  com.unity.render-pipelines.high-definition/Documentation~/TableOfContents.md
  com.unity.render-pipelines.high-definition/Documentation~/Upgrading-from-2021.1-to-2021.2.md
  com.unity.render-pipelines.high-definition/Documentation~/light-anchor.md
  com.unity.render-pipelines.high-definition/Documentation~/whats-new-12.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.Debug.cs
Labels: SRP, HDRP, testing

#6948 Simplified Node Definition
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FunctionDescriptor.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FunctionDescriptor.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FunctionDescriptorNodeBuilder.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FunctionDescriptorNodeBuilder.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/ParameterDescriptor.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/ParameterDescriptor.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardNodeDefinitions.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardNodeDefinitions.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/TYPE.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/TYPE.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/TypeDescriptor.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/TypeDescriptor.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/Registry.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/RegistryPlaceholder.cs
  com.unity.shadergraph/Tests/Editor/Registry/RegistryPlaceholderTest.cs
  com.unity.shadergraph/Tests/Editor/Registry/TypeResolvingTest.cs
  com.unity.shadergraph/Tests/Editor/Registry/TypeResolvingTest.cs.meta
Labels: Shader Graph

#7044 2022.1 VFX backports
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/Editor/Tests/VFXSerializationTests.cs
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/37_DecalsHDRP/RefHDRP.mat
  TestProjects/VisualEffectGraph_HDRP/Assets/AllTests/VFXTests/GraphicsTests/Shadergraph/SampleScene/ShadergraphSampleScene/LightingData.asset
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/101_ShadergraphSampleScene.unity
  TestProjects/VisualEffectGraph_URP/Assets/GraphicsTests/Shadergraph/SampleScene/101_ShadergraphSampleScene/LightingData.asset
  com.unity.testing.visualeffectgraph/Scenes/007_SimpleMaterial.mat
  com.unity.testing.visualeffectgraph/Scenes/009_MultiCamera.mat
  com.unity.testing.visualeffectgraph/Scenes/009_OutputEvent.mat
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Documentation~/TableOfContents.md
  com.unity.visualeffectgraph/Editor/GraphView/Elements/VFXOperatorUI.cs
  com.unity.visualeffectgraph/Editor/GraphView/VFXViewWindow.cs
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXView.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
  com.unity.visualeffectgraph/Editor/UIResources/uss/VFXDataAnchor.uss
Labels: testing, vfx

#6902 Split cell resolve in two
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/ProbeVolumeData-Default.CellData.bytes
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/ProbeVolumeData-Default.CellOptionalData.bytes
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/ProbeVolumeData.CellSharedData.bytes
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/ProbeVolumeData.CellSupportData.bytes
  TestProjects/HDRP_RuntimeTests/Assets/Scenes/007-BasicAPV/ProbeVolumeData.asset
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeAsset.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumePerSceneData.cs
Labels: SRP, HDRP, testing

#7057 [2022.2] Adding a changelog entry that was missed in #6917
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: universal

#6929 [2022.1 Backport] Bugfix: Case 1378545 - Adding fragment/vertex declarations to some KeywordDescriptors in URP ShaderGraph
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
Labels: universal

#6930 [2021.2 Backport] Bugfix: Case 1378545 - Adding fragment/vertex declarations to some KeywordDescriptors in URP ShaderGraph
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalLitSubTarget.cs
  com.unity.render-pipelines.universal/Editor/ShaderGraph/Targets/UniversalTarget.cs
Labels: universal

#6773 [RPW]Unifiying elapsed time measurement among Shader Strippers.
  com.unity.render-pipelines.core/Editor/Utilities/TimedScope.cs
  com.unity.render-pipelines.core/Editor/Utilities/TimedScope.cs.meta
  com.unity.render-pipelines.core/Tests/Editor/Utilities.meta
  com.unity.render-pipelines.core/Tests/Editor/Utilities/TimedScopeTests.cs
  com.unity.render-pipelines.core/Tests/Editor/Utilities/TimedScopeTests.cs.meta
  com.unity.render-pipelines.high-definition/Editor/BuildProcessors/HDRPPreprocessShaders.cs
  com.unity.render-pipelines.universal/Editor/ShaderPreprocessor.cs
  com.unity.shadergraph/Editor/Generation/Targets/BuiltIn/Editor/ShaderPreprocessor.cs
Labels: SRP, HDRP, Shader Graph, universal, needs-backport-2022.1

#6332 Small Fix for Vortex subgraph addition
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Samples~/VFXGraphAdditions/Subgraphs/Blocks/Vortex.vfxblock
Labels: vfx, needs-backport-10.x, needs-backport-2021.2

#6716 Stop creating APV data assets for scenes in baking sets, but without probe volumes in it
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeGIBaking.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeVolumeSceneData.cs
Labels: SRP, HDRP

#7068 Sg2/graphtype hotfix
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FunctionDescriptorNodeBuilder.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Generation/Interpreter.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/RegistryPlaceholder.cs
  com.unity.shadergraph/Tests/Editor/Current/Unity.ShaderGraph.Editor.Tests.asmdef
  com.unity.shadergraph/Tests/Editor/Generation/GenerationTests.cs
  com.unity.shadergraph/Tests/Editor/GraphDelta/GraphDeltaPlaceholderTest.cs
  com.unity.shadergraph/Tests/Editor/HeadlessPreview/HeadlessPreviewTests.cs
Labels: Shader Graph

#7028 Add warning on Probe Volumes when enlighten is enabled
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeEditor.cs
  com.unity.render-pipelines.core/Editor/Lighting/ProbeVolume/ProbeVolumeUI.Drawer.cs
  com.unity.render-pipelines.core/Runtime/Lighting/ProbeVolume/ProbeReferenceVolume.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#7072 14 New Nodes
  com.unity.shadergraph/Documentation~/Alpha-Merge-Node.md
  com.unity.shadergraph/Documentation~/Alpha-Split-Node.md
  com.unity.shadergraph/Documentation~/Altitude-Mask-Node.md
  com.unity.shadergraph/Documentation~/Camera-Distance-Mask-Node.md
  com.unity.shadergraph/Documentation~/Color-To-Grayscale-Node.md
  com.unity.shadergraph/Documentation~/Face-Normal-Node.md
  com.unity.shadergraph/Documentation~/Flow-Map-Time-Node.md
  com.unity.shadergraph/Documentation~/Levels-Node.md
  com.unity.shadergraph/Documentation~/Triplanar-Direction-Masks-Node.md
  com.unity.shadergraph/Documentation~/UV-Flow-Map-Node.md
  com.unity.shadergraph/Documentation~/UV-Interior-Cubemap-Node.md
  com.unity.shadergraph/Documentation~/UV-Lat-Long-Node.md
  com.unity.shadergraph/Documentation~/UV-Sphere-Map-Node.md
  com.unity.shadergraph/Documentation~/UV-Triplanar-Node.md
  com.unity.shadergraph/Editor/Current/Data/Nodes/Artistic/Adjustment/Color To Grayscale.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/Artistic/Adjustment/Color To Grayscale.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/Artistic/Adjustment/Levels.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/Artistic/Adjustment/Levels.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/Artistic/Mask/Altitude Mask.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/Artistic/Mask/Altitude Mask.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/Artistic/Mask/Camera Distance Mask.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/Artistic/Mask/Camera Distance Mask.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/Artistic/Mask/Triplanar Direction Masks.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/Artistic/Mask/Triplanar Direction Masks.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/Channel/Alpha Merge.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/Channel/Alpha Merge.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/Channel/Alpha Split.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/Channel/Alpha Split.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/Input/Geometry/Face Normal.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/Input/Geometry/Face Normal.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/Textures.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/Textures/SmallNoiseMask.tga
  com.unity.shadergraph/Editor/Current/Data/Nodes/Textures/SmallNoiseMask.tga.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/Flow Map Time.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/Flow Map Time.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/UV Flow Map.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/UV Flow Map.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/UV Interior Cubemap.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/UV Interior Cubemap.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/UV Lat Long.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/UV Lat Long.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/UV Sphere Map.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/UV Sphere Map.shadersubgraph.meta
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/UV Triplanar.shadersubgraph
  com.unity.shadergraph/Editor/Current/Data/Nodes/UV/UV Triplanar.shadersubgraph.meta
Labels: Shader Graph

#7074 Use FunctionDescriptor to define the Pow node
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/FunctionDescriptor.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/ParameterDescriptor.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/STRINGS.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/STRINGS.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardNodeDefinitions.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/TypeDescriptor.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Examples/ShaderGraphExampleTypes.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphStencil.cs
  com.unity.shadergraph/Tests/Editor/Registry/RegistryPlaceholderTest.cs
  com.unity.shadergraph/Tests/Editor/Registry/TypeResolvingTest.cs
Labels: Shader Graph

#7083 Fix timed scope docs
  com.unity.render-pipelines.core/Editor/Utilities/TimedScope.cs
Labels: SRP, needs-backport-2022.1

#7065 Fix null check reference in CollectLightsForRayTracing (Fix 1398381)
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRaytracingManager.cs
Labels: HDRP, needs-backport-2021.2, needs-backport-2022.1

#6753 Use HDR texture format value from Graphics Tier Settings in Postprocessing v2
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Runtime/Utils/RuntimeUtilities.cs
Labels: high-priority, postprocessing v2

#6690 Fix compilation error when VR module is disabled in the built-in Unity modules
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessLayer.cs
Labels: high-priority, postprocessing v2

#6931 [2021.2 Backport] Fix error when using gizmos with camera stack in editor
  com.unity.render-pipelines.universal/Runtime/UniversalRenderer.cs
Labels: universal
