Repository Unity-Technologies/Graphics, pull requests merged in 2022-05, with the labels that each got.

#7389 [SG2] Target Settings UI
  com.unity.sg2/Editor/GraphUI/DataModel/ShaderGraphAssetModel.cs
  com.unity.sg2/Editor/GraphUI/EditorCommon/CommandStateObserver/ChangeActiveTargetsCommand.cs
  com.unity.sg2/Editor/GraphUI/EditorCommon/CommandStateObserver/ChangeActiveTargetsCommand.cs.meta
  com.unity.sg2/Editor/GraphUI/EditorCommon/CommandStateObserver/ChangeTargetSettingsCommand.cs
  com.unity.sg2/Editor/GraphUI/EditorCommon/CommandStateObserver/ChangeTargetSettingsCommand.cs.meta
  com.unity.sg2/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphCommandsRegistrar.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/LabelPropertyField.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/LabelPropertyField.cs.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/ListPropertyField.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/ListPropertyField.cs.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/SGModelInspector.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/SGModelInspector.cs.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/ShaderGraphNodeFieldsInspector.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/TargetSettingsInspector.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/TargetSettingsInspector.cs.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/TargetSettingsPropertyField.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/Inspector/TargetSettingsPropertyField.cs.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/Blackboard.uss
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/BlackboardView.uss
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/BlackboardView.uss.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/Blackboard_lightFix.uss
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/Icons/Blackboard.png
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/Icons/Inspector.png
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/Icons/Inspector.png.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/Icons/d_Blackboard.png
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/Icons/d_Blackboard.png.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/Icons/d_Inspector.png
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/Icons/d_Inspector.png.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/Inspector.uss
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/InspectorLabel.uss
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/InspectorLabel.uss.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/ShaderGraphModelInspector.uss
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/ShaderGraphModelInspector.uss.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/TargetSettingsField.uss
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/TargetSettingsField.uss.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/TargetSettingsList.uss
  com.unity.sg2/Editor/GraphUI/GraphElements/Stylesheets/TargetSettingsList.uss.meta
  com.unity.sg2/Editor/GraphUI/GraphElements/Views/Preview.cs
  com.unity.sg2/Editor/GraphUI/Importers/ShaderGraphAsset.cs
  com.unity.sg2/Editor/GraphUI/ModelInspectorFactoryExtensions.cs
  com.unity.sg2/Editor/GraphUI/Overlays/BlackboardOverlay.cs
  com.unity.sg2/Editor/GraphUI/Overlays/InspectorOverlay.cs
  com.unity.sg2/Editor/GraphUI/ShaderGraphEditorWindow.cs
  com.unity.sg2/Editor/GraphUI/ShaderGraphRegistryBuilder.cs
  com.unity.sg2/Editor/GraphUI/Unity.ShaderGraph.GraphUI.asmdef
  com.unity.sg2/Editor/GraphUI/Utilities/GraphElementHelper.cs
  com.unity.shadergraph/Editor/AssemblyInfo.cs
Labels: Shader Graph

#7408 Reenable old gitattributes (Fix ppv2 tests)
  TestProjects/.gitattributes
  com.unity.postprocessing/.gitattributes
  com.unity.template-hd/.gitattributes
  com.unity.template-hd/Assets/Scenes/SampleScene/LightingData.asset
  com.unity.template-universal/.gitattributes
Labels: needs-backport-2021.2, needs-backport-2022.1

#7420 Update TestCaseFilters.asset
  TestProjects/VisualEffectGraph_HDRP/Assets/TestCaseFilters.asset
Labels: testing, vfx

#7430 [10.x.x] Disable server cache
  .yamato/config/__shared.metafile
  .yamato/hdrp-linux-vulkan.yml
  .yamato/hdrp-osx-metal.yml
  .yamato/hdrp-win-dx11.yml
  .yamato/hdrp-win-dx12.yml
  .yamato/hdrp-win-vulkan.yml
  .yamato/hdrp_dxr-win-dx12.yml
  .yamato/hdrp_hybrid-linux-openglcore.yml
  .yamato/hdrp_hybrid-linux-vulkan.yml
  .yamato/hdrp_hybrid-osx-metal.yml
  .yamato/hdrp_hybrid-win-dx11.yml
  .yamato/hdrp_hybrid-win-dx12.yml
  .yamato/hdrp_hybrid-win-vulkan.yml
  .yamato/shadergraph-android-opengles3.yml
  .yamato/shadergraph-android-vulkan.yml
  .yamato/shadergraph-iphone-metal.yml
  .yamato/shadergraph-linux-openglcore.yml
  .yamato/shadergraph-linux-vulkan.yml
  .yamato/shadergraph-osx-metal.yml
  .yamato/shadergraph-osx-openglcore.yml
  .yamato/shadergraph-win-dx11.yml
  .yamato/shadergraph-win-vulkan.yml
  .yamato/shadergraph_stereo-win.yml
  .yamato/smoke_test-win-dx11.yml
  .yamato/universal-android-opengles3.yml
  .yamato/universal-android-vulkan.yml
  .yamato/universal-iphone-metal.yml
  .yamato/universal-linux-openglcore.yml
  .yamato/universal-linux-vulkan.yml
  .yamato/universal-osx-metal.yml
  .yamato/universal-osx-openglcore.yml
  .yamato/universal-win-dx11.yml
  .yamato/universal-win-dx12.yml
  .yamato/universal-win-vulkan.yml
  .yamato/universal_hybrid-android-opengles3.yml
  .yamato/universal_hybrid-android-vulkan.yml
  .yamato/universal_hybrid-linux-openglcore.yml
  .yamato/universal_hybrid-linux-vulkan.yml
  .yamato/universal_hybrid-osx-metal.yml
  .yamato/universal_hybrid-win-dx11.yml
  .yamato/universal_hybrid-win-vulkan.yml
  .yamato/universal_stereo-win.yml
  .yamato/urpupdate-win-dx11.yml
  .yamato/urpupdate-win-vulkan.yml
  .yamato/urpupdate_boatattack-win-dx11.yml
  .yamato/urpupdate_boatattack-win-vulkan.yml
  .yamato/urpupdate_top_asset_store-win-dx11.yml
  .yamato/urpupdate_top_asset_store-win-vulkan.yml
  .yamato/vfx_hdrp-linux-vulkan.yml
  .yamato/vfx_hdrp-osx-metal.yml
  .yamato/vfx_hdrp-win-dx11.yml
  .yamato/vfx_hdrp-win-dx12.yml
  .yamato/vfx_hdrp-win-vulkan.yml
  .yamato/vfx_urp-iphone-metal.yml
  .yamato/vfx_urp-linux-openglcore.yml
  .yamato/vfx_urp-linux-vulkan.yml
  .yamato/vfx_urp-osx-metal.yml
  .yamato/vfx_urp-osx-openglcore.yml
  .yamato/vfx_urp-win-dx11.yml
  .yamato/vfx_urp-win-vulkan.yml
Labels: sdet

#7436 Disable Validate Katana pipeline
  .yamato/_copycat.yml
Labels: sdet

#7381 Paint bucket label texture is now set to clamp instead of repeat to e…
  com.unity.template-universal/Assets/ExampleAssets/Textures/Props/Paint/PaintLabel.tif.meta
Labels: universal, needs-backport-10.x, needs-backport-2021.2

#7442 Bump urp template exception to 13.2.3
  .yamato/_formatting.yml
  com.unity.template-universal/Packages/com.unity.template.universal/ValidationExceptions.json
Labels: sdet

#7434 [URP] [10.x.x] Backport PR#6249 to URP10
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#7457 Fix AttributesMesh typos in HDRP Creating Custom Pass
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Creating.md
Labels: HDRP

#7455 Reduce Rendergraph CPU overhead (backport)
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/Runtime/RenderGraph/RenderGraph.cs
Labels: SRP, HDRP

#7456 DOCG-669 Add SSR transparents limitation to HDRP manual (backport)
  com.unity.render-pipelines.high-definition/Documentation~/Images/SSRTransparents.png
  com.unity.render-pipelines.high-definition/Documentation~/Override-Screen-Space-Reflection.md
Labels: HDRP
