Repository Unity-Technologies/Graphics, pull requests merged in 2022-09, with the labels that each got.

#7631 [URP 2D][10.x.x] Backport free form lights shape cache
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/2D/Light2DEditor.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2D.cs
  com.unity.render-pipelines.universal/Runtime/2D/Light2DShape.cs
  com.unity.render-pipelines.universal/Runtime/2D/LightUtility.cs
  com.unity.render-pipelines.universal/Tests/Runtime/Light2DTests.cs
Labels: universal

#7647 Fixed subgraph could not be created after a system is added
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/Editor/GraphView/Views/VFXPaste.cs
Labels: vfx

#7605 Fixed the fix button for vertex streams in particle shaders
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Editor/ShaderGUI/ParticleGUI.cs
Labels: universal

#7650 Fix issue with HW Dynamic Res. only on 10.x.x
  com.unity.render-pipelines.core/Runtime/Common/DynamicResolutionHandler.cs
  com.unity.render-pipelines.high-definition/CHANGELOG.md
Labels: SRP, HDRP

#7500 fixed link
  com.unity.visualeffectgraph/Documentation~/Block-SetPosition(Circle).md
Labels: vfx

#7499 fixed typo 'mash' -> 'mask'
  com.unity.visualeffectgraph/Documentation~/Context-OutputMesh.md
Labels: vfx

#7495 fixed typo
  com.unity.visualeffectgraph/Documentation~/Operator-Smoothstep.md
Labels: vfx

#7612 Backport from DOG-496 - Shader stripping documentation
  com.unity.render-pipelines.universal/Documentation~/shader-stripping.md
Labels: universal

#7508 fixed link
  com.unity.render-pipelines.universal/Documentation~/pixel-cinemachine.md
Labels: universal

#7507 fixed link
  com.unity.render-pipelines.universal/Documentation~/VolumeProfile.md
Labels: universal

#7460 Fix back face typo
  com.unity.render-pipelines.universal/Documentation~/simple-lit-shader.md
Labels: universal

#7613 Fixed motion blur for multiple cameras and added test scene for it
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/OpenGLES3/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/Android/Vulkan/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/IPhonePlayer/Metal/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/OpenGLCore/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXEditor/OpenGLCore/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/Metal/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/OSXPlayer/OpenGLCore/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/241_MultiCamMotionBlur.png
  TestProjects/UniversalGraphicsTest/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/241_MultiCamMotionBlur.png.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur.unity
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur.unity.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur/Bottom Volume Profile.asset
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur/Bottom Volume Profile.asset.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur/Material.mat
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur/Material.mat.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur/MoveCameraMotionBlur.cs
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur/MoveCameraMotionBlur.cs.meta
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur/Top Volume Profile.asset
  TestProjects/UniversalGraphicsTest/Assets/Scenes/241_MultiCamMotionBlur/Top Volume Profile.asset.meta
  TestProjects/UniversalGraphicsTest/ProjectSettings/EditorBuildSettings.asset
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/MotionVectors.cs
  com.unity.render-pipelines.universal/Runtime/MotionVectors.cs.meta
  com.unity.render-pipelines.universal/Runtime/Overrides/MotionBlur.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalAdditionalCameraData.cs
Labels: testing, universal

#7658 [2020.3] Reduce import times and domain reload times for VFX Graph
  com.unity.visualeffectgraph/Editor/Compiler/VFXCodeGenerator.cs
  com.unity.visualeffectgraph/Editor/Compiler/VFXShaderWriter.cs
  com.unity.visualeffectgraph/Editor/Models/VFXGraph.cs
Labels: vfx

#7651 [10.x.x] [URP] Removed forced clear on mobile
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
Labels: universal

#7617 [20.3][XR][URP] Fog is shifted in the right eye when Deferred rendering path is used with Single Pass Instanced render mode
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/Utils/StencilDeferred.shader
Labels: XR, universal
