Repository Unity-Technologies/Graphics, pull requests merged in 2022-03, with the labels that each got.

#7272 [URP RG] Refactor CopyColor/Depth Depth/DepthNormal
  com.unity.render-pipelines.universal/Runtime/Passes/CopyColorPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/CopyDepthPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthNormalOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererRenderGraph.cs
Labels: universal

#7244 Shader foundry/tests custom srp target
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/BlockTestRenderer.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/BoolPropertyTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/Float2PropertyTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/Float3PropertyTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/SimpleBlockShaderBuilder.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/SRP.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/SRP/SRPSetup.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/SRP/SRPSetup.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/SRP/SimpleSRPFoundryPipeline.asset
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/SRP/SimpleSRPFoundryPipeline.asset.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/SRP/SimpleSRPFoundryPipeline.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/SRP/SimpleSRPFoundryPipeline.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/Core.hlsl
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/Core.hlsl.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/Input.hlsl
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/Input.hlsl.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/ShaderPass.hlsl
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/ShaderPass.hlsl.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/UnityInput.hlsl
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/UnityInput.hlsl.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/UnlitPass.hlsl
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/UnlitPass.hlsl.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/Varyings.hlsl
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Shaders/Varyings.hlsl.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestSubTarget.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestSubTarget.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestTarget.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestTarget.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestUnlitSubTarget.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestUnlitSubTarget.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Templates.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Templates/ShaderPass.template
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Templates/ShaderPass.template.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Templates/SharedCode.template.hlsl
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Templates/SharedCode.template.hlsl.meta
  TestProjects/ShaderFoundry/Assets/TestAssets/TestGraphicsTests/AddTest.shader
  TestProjects/ShaderFoundry/Assets/TestAssets/TestGraphicsTests/ConstantRGB.shader
  TestProjects/ShaderFoundry/Packages/manifest.json
  TestProjects/ShaderFoundry/ProjectSettings/AudioManager.asset
  TestProjects/ShaderFoundry/ProjectSettings/ClusterInputManager.asset
  TestProjects/ShaderFoundry/ProjectSettings/DynamicsManager.asset
  TestProjects/ShaderFoundry/ProjectSettings/GraphicsSettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/InputManager.asset
  TestProjects/ShaderFoundry/ProjectSettings/MemorySettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/NavMeshAreas.asset
  TestProjects/ShaderFoundry/ProjectSettings/PackageManagerSettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/Physics2DSettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/PresetManager.asset
  TestProjects/ShaderFoundry/ProjectSettings/TimeManager.asset
  TestProjects/ShaderFoundry/ProjectSettings/URPProjectSettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/UnityConnectSettings.asset
  TestProjects/ShaderFoundry/ProjectSettings/VFXManager.asset
  TestProjects/ShaderFoundry/ProjectSettings/XRPackageSettings.asset
  TestProjects/ShaderFoundry/UserSettings/EditorUserSettings.asset
Labels: testing

#7276 [Hdrp] update path tracing denoising namespace
  com.unity.render-pipelines.high-definition/Editor/RenderPipeline/PathTracing/PathTracingEditor.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/DenoisePass.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Accumulation/SubFrameManager.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/PathTracing/PathTracing.cs
Labels: HDRP

#7286 Bump to 14.0.2
  .yamato/_copycat.yml
  TestProjects/BatchRendererGroup_HDRP/Packages/packages-lock.json
  TestProjects/BatchRendererGroup_URP/Packages/packages-lock.json
  TestProjects/HDRP_DXR_Tests/Packages/packages-lock.json
  TestProjects/HDRP_Tests/Packages/packages-lock.json
  com.unity.render-pipelines.core/CHANGELOG.md
  com.unity.render-pipelines.core/package.json
  com.unity.render-pipelines.high-definition-config/CHANGELOG.md
  com.unity.render-pipelines.high-definition-config/package.json
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/package.json
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/ValidationExceptions.json
  com.unity.render-pipelines.universal/package.json
  com.unity.shadergraph/CHANGELOG.md
  com.unity.shadergraph/package.json
  com.unity.testing.graphics-performance/package.json
  com.unity.testing.visualeffectgraph/package.json
  com.unity.visualeffectgraph/CHANGELOG.md
  com.unity.visualeffectgraph/package.json
Labels: SRP, HDRP, Shader Graph, testing, universal, vfx, sdet

#7229 [HDRP] Backprot various PRs to 10.x.X/release
  com.unity.render-pipelines.high-definition/CHANGELOG.md
  com.unity.render-pipelines.high-definition/Documentation~/Custom-Pass-Creating.md
  com.unity.render-pipelines.high-definition/Documentation~/Images/Matcap1.png
  com.unity.render-pipelines.high-definition/Documentation~/MatCap.md
  com.unity.render-pipelines.high-definition/Documentation~/Override-Physically-Based-Sky.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Bloom.md
  com.unity.render-pipelines.high-definition/Documentation~/Post-Processing-Chromatic-Aberration.md
  com.unity.render-pipelines.high-definition/Documentation~/VR-Overview.md
  com.unity.render-pipelines.high-definition/Documentation~/snippets/shader-properties/surface-inputs/layered-surface-inputs.md
  com.unity.render-pipelines.high-definition/Editor/AssetProcessors/FBXMaterialDescriptionPostprocessor.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/HDLightExplorerExtension.cs
  com.unity.render-pipelines.high-definition/Editor/Lighting/Reflection/PlanarReflectionProbesPreview.shader
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Mesh/PassDepthForwardOnly.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Mesh/PassDepthForwardOnly.template.meta
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/PlanarPrimitive/PassDepthForwardOnly.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/PlanarPrimitive/PassDepthForwardOnly.template.meta
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/VFXParticleLitMesh.template
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/VFXParticleLitPlanarPrimitive.template
  com.unity.render-pipelines.high-definition/Runtime/Debug/MaterialError.shader
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/HDCachedShadowAtlas.cs
  com.unity.render-pipelines.high-definition/Runtime/Lighting/Shadow/ScreenSpaceShadows.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/AxF/AxF.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLit.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/LayeredLit/LayeredLitTessellation.shader
  com.unity.render-pipelines.high-definition/Runtime/Material/Lit/SimpleLit.hlsl
  com.unity.render-pipelines.high-definition/Runtime/PostProcessing/PostProcessSystem.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCamera.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/RenderPass/MotionVectors/CameraMotionVectors.shader
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Settings/RenderPipelineSettings.cs
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/DownsampleDepth.shader
  com.unity.render-pipelines.high-definition/Runtime/ShaderLibrary/UpsampleTransparent.shader
  com.unity.render-pipelines.high-definition/Runtime/Sky/SkyUtils.hlsl
Labels: HDRP

#7284 Give the inspector view a "show shader code" button.
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Utils/FileHelpers.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Utils/FileHelpers.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/GraphDataNode.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/GraphUtil.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderGraphImporterEditor.cs
Labels: Shader Graph

#7295 Fix MaterialError shader API break
  com.unity.render-pipelines.universal/Runtime/ForwardRendererData.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererData.cs
  com.unity.render-pipelines.universal/Shaders/Utils/MaterialError.shader
  com.unity.render-pipelines.universal/Shaders/Utils/MaterialError.shader.meta
Labels: universal

#7296 Add BoolPart for boolean fields
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/GraphDataNode.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/BoolPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/BoolPart.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/IntPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/SingleFieldPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/BoolPart.uxml
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/BoolPart.uxml.meta
Labels: Shader Graph

#7297 Add dropdown, radio, slider, and text field parts
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/TestUINodes.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/GraphDataNode.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/DropdownPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/DropdownPart.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/RadioPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/RadioPart.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/SliderPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/SliderPart.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/TextFieldPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/TextFieldPart.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/DropdownPart.uxml
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/DropdownPart.uxml.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/RadioPart.uxml
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/RadioPart.uxml.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/SliderPart.uxml
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/SliderPart.uxml.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/TextFieldPart.uxml
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/TextFieldPart.uxml.meta
Labels: Shader Graph

#7245 Updated uniform declaration in the linker to be SRP Batcher compatible.
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/LegacyTemplateLinker.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/Properties/FieldPropertyContext.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/Properties/PropertyDeclarations.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/Properties/UniformBufferCollection.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/Properties/UniformBufferCollection.cs.meta
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/Properties/UniformDeclaration.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/Properties/UniformDeclarationData.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/AttributeUtilities.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/PropertyAttribute.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/ShaderGenerator.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/ShaderPropertyCollection.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/ShaderPropertyCollection.cs.meta
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/ShaderUniformCollection.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/ShaderUniformCollection.cs.meta
Labels: Shader Graph

#7283 [URP][RG] URP RenderGraph XR rendering
  com.unity.render-pipelines.universal/Runtime/Passes/DepthNormalOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DepthOnlyPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/DrawObjectsPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/MotionVectorRenderPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/XROcclusionMeshPass.cs
  com.unity.render-pipelines.universal/Runtime/ScriptableRenderer.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererRenderGraph.cs
Labels: universal

#7298 Renamed a couple of files to fix typos in the names
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Math/Advanced/NegateNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Math/Advanced/NegateNode.cs.meta
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Math/Wave/SquareWaveNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Math/Wave/SquareWaveNode.cs.meta
Labels: Shader Graph

#7300 [HDRP] Remove obsolete enum
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Camera/HDCameraFrameHistoryType.cs
Labels: HDRP

#7288 Added tests for VirtualTexture properties.
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/BlockLibrary/BlockBuilderUtilities.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/BlockLibrary/VirtualTexturePropertyBlockBuilder.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/BlockLibrary/VirtualTexturePropertyBlockBuilder.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/BlockTestRenderer.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/VirtualTexturePropertyTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/VirtualTexturePropertyTests.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/TestGraphicsTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/Utilities.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/Utilities/ColorExtensions.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/Utilities/ColorExtensions.cs.meta
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/FoundryTestRenderer.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/Properties/PropertyDeclarations.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/AttributeParsing.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/VirtualTextureAttributes.cs
Labels: Shader Graph, testing

#7301 Fix API breaking change for DrawFullscreen
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/HDRenderPipeline.RenderGraph.cs
  com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Utility/HDUtils.cs
Labels: HDRP

#7274 Sg2/gradients
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Generation/Interpreter.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/DefaultRegistry.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/Registry.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/StandardDefinitions/GradientType.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/StandardDefinitions/GradientType.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/Examples/ShaderGraphExampleTypes.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataNodeModel.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/NodeUICommands.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphCommandsRegistrar.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/GraphDataNode.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/GradientPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/GradientPart.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/GradientPart.uxml
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Templates/StaticPortParts/GradientPart.uxml.meta
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphStencil.cs
  com.unity.shadergraph/Tests/Editor/HeadlessPreview/PreviewTests.cs
  com.unity.shadergraph/Tests/Editor/Registry/RegistryPlaceholderTest.cs
Labels: Shader Graph

#7302 [Shader Foundry] Shader foundry fix customRP target
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestTarget.cs
Labels: testing

#7303 Results of format.pl
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/BoolKeywordPropertyTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/BoolPropertyTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/ColorPropertyTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/PropertyTests/UnityTexture2DArrayPropertyTests.cs
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/Targets/Target/FoundryTestUnlitSubTarget.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/LegacyTemplateLinker.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Linker/SimpleLegacyBlockLinker.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Samples/SimpleSampleBuilder.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/AttributeParsing.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Utilities/KeywordAttribute.cs
Labels: Shader Graph, testing

#7299 [URP] [RenderGraph] PostFX StopNaNs/SMAA/ColorLut
  com.unity.render-pipelines.universal/Runtime/Passes/ColorGradingLutPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererRenderGraph.cs
Labels: universal

#7307 [URP][RG] PostFX gaussian DoF
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPass.cs
  com.unity.render-pipelines.universal/Runtime/Passes/PostProcessPassRenderGraph.cs
  com.unity.render-pipelines.universal/Runtime/UniversalRendererRenderGraph.cs
Labels: universal

#7305 [SG2] Show labels on simple static port fields
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/ColorPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/SingleFieldPart.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/NodePreviewPart.uss
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/StaticPortParts/ColorPart.uss
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/StaticPortParts/ColorPart.uss.meta
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/StaticPortParts/SingleFieldPart.uss
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/StaticPortParts/SingleFieldPart.uss.meta
Labels: Shader Graph

#7306 [SG2] Support inline editors for gradients and colors
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/TestUINodes.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Examples/ShaderGraphExampleTypes.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/ConstantEditors.uss
  com.unity.shadergraph/Editor/GraphUI/GraphElements/Stylesheets/ConstantEditors.uss.meta
Labels: Shader Graph

#7281 [SG] Add implementation for "Save" and "Save As"
  com.unity.graphtools.foundation/Editor/GraphElements/CommandDispatch/Commands/GraphAssetCommands.cs
  com.unity.graphtools.foundation/Editor/Model/BasicModel/EdgeModel.cs
  com.unity.graphtools.foundation/Editor/Model/BasicModel/GraphElementModel.cs
  com.unity.graphtools.foundation/Editor/Model/BasicModel/GraphModel.cs
  com.unity.graphtools.foundation/Editor/Model/BasicModel/PortReference.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Generation/Interpreter.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/GraphDelta/GraphDelta.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/GraphDelta/GraphHandler.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/GraphDelta/GraphStorage.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Examples/ShaderGraphExampleTypes.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataEdgeModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataEdgeModel.cs.meta
  com.unity.shadergraph/Editor/GraphUI/DataModel/GraphDataNodeModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/ShaderGraphAssetModel.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/ShaderGraphModel.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/Preview/PreviewManager.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/GraphUtil.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/NewShaderGraphImporter.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderGraphAsset.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderGraphAsset.cs.meta
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderGraphAssetHelper.cs
  com.unity.shadergraph/Editor/GraphUI/Importers/ShaderGraphImporterEditor.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphEditorWindow.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphMainToolbar.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphOnboardingProvider.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphStencil.cs
  com.unity.shadergraph/Editor/GraphUI/Utilities/GraphAssetUtils.cs
  com.unity.shadergraph/Tests/Editor/GraphDelta/GraphDeltaPlaceholderTest.cs
  com.unity.shadergraph/Tests/Editor/GraphUI/GraphUITests.cs
  com.unity.shadergraph/Tests/Editor/GraphUI/Unity.ShaderGraph.GraphUI.Tests.asmdef
Labels: Shader Graph

#7322 remove perf jobs from nightly
  .yamato/all-urp.yml
  .yamato/config/urp.metafile
Labels: sdet

#7304 [ShaderFoundry] Remove calls to Block builder AddFunction
  TestProjects/ShaderFoundry/Assets/CommonAssets/Editor/EditorTests/BlockLibrary/VirtualTexturePropertyBlockBuilder.cs
  com.unity.shadergraph/Editor/ShaderFoundry/Provider/LegacyTemplateProvider.cs
Labels: Shader Graph, testing

#7321 FB1406776
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Runtime/PostProcessLayer.cs
  com.unity.postprocessing/PostProcessing/Runtime/Utils/RuntimeUtilities.cs
Labels: needs-backport-7.x, needs-backport-10.x, postprocessing v2, needs-backport-2021.2, needs-backport-2022.1

#7326 Fixed some test failures
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Registry/GradientType.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/Unity.ShaderGraph.GraphDeltaRegistry.asmdef
  com.unity.shadergraph/Tests/HeadlessPreview/PreviewTests.cs
  com.unity.shadergraph/Tests/Registry/RegistryPlaceholderTest.cs
  com.unity.shadergraph/Tests/Registry/TypeResolvingTest.cs
  com.unity.shadergraph/Tests/Registry/Unity.ShaderGraph.Registry.Tests.asmdef
Labels: Shader Graph

#7325 [SG2] Disabling node previews for nodes that don't need it, using a UI Hint
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Input/Matrix/Matrix2Node.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Input/Matrix/Matrix3Node.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Input/Matrix/Matrix4Node.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Math/Matrix/MatrixDeterminantNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Math/Matrix/MatrixTransposeNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Utility/Logic/AllNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Utility/Logic/AndNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Utility/Logic/AnyNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Utility/Logic/IsInfiniteNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Utility/Logic/IsNanNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Utility/Logic/NandNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Utility/Logic/NotNode.cs
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Utility/Logic/OrNode.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/GraphDataNode.cs
Labels: Shader Graph

#7320 [SG2] Enable node inspector, add inspector-only fields
  com.unity.shadergraph/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/TestUINodes.cs
  com.unity.shadergraph/Editor/GraphUI/DataModel/Examples/ShaderGraphExampleTypes.cs
  com.unity.shadergraph/Editor/GraphUI/EditorCommon/CommandStateObserver/ShaderGraphCommandOverrides.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/GraphDataNode.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/Inspector/StaticPortsInspector.cs
  com.unity.shadergraph/Editor/GraphUI/GraphElements/ModelUI/Inspector/StaticPortsInspector.cs.meta
  com.unity.shadergraph/Editor/GraphUI/GraphViewFactoryExtensions.cs
  com.unity.shadergraph/Editor/GraphUI/ModelInspectorFactoryExtensions.cs
  com.unity.shadergraph/Editor/GraphUI/ShaderGraphStencil.cs
Labels: Shader Graph
