Repository Unity-Technologies/Graphics, pull requests merged in 2022-07, with the labels that each got.

#7530 Rebake lighting data asset in UniversalGfxTestStereo's scenes 005+110.
  TestProjects/UniversalGfxTestStereo/Assets/Scenes/005_xr_PBS_EnvironmentBRDF_Spheres.unity
  TestProjects/UniversalGfxTestStereo/Assets/Scenes/005_xr_PBS_EnvironmentBRDF_Spheres/LightingData.asset
  TestProjects/UniversalGfxTestStereo/Assets/Scenes/005_xr_PBS_EnvironmentBRDF_Spheres/LightingData.asset.meta
  TestProjects/UniversalGfxTestStereo/Assets/Scenes/005_xr_PBS_EnvironmentBRDF_Spheres/ReflectionProbe-0.exr
  TestProjects/UniversalGfxTestStereo/Assets/Scenes/005_xr_PBS_EnvironmentBRDF_Spheres/ReflectionProbe-0.exr.meta
  TestProjects/UniversalGfxTestStereo/Assets/Scenes/010_xr_Shader_PBRvalidation_Specular.unity
  TestProjects/UniversalGfxTestStereo/Assets/Scenes/010_xr_Shader_PBRvalidation_Specular/LightingData.asset
  TestProjects/UniversalGfxTestStereo/Assets/Scenes/010_xr_Shader_PBRvalidation_Specular/LightingData.asset.meta
  TestProjects/UniversalGfxTestStereo/Assets/Scenes/010_xr_Shader_PBRvalidation_Specular/ReflectionProbe-0.exr
  TestProjects/UniversalGfxTestStereo/Assets/Scenes/010_xr_Shader_PBRvalidation_Specular/ReflectionProbe-0.exr.meta
Labels: testing, universal

#7527 Extend default editor priming timeout to 12h
  .yamato/_editor_priming.yml
  .yamato/config/_editor.metafile
Labels: sdet

#7536 Turn nightly into weekly
  .yamato/_abv.yml
  .yamato/config/abv.metafile
Labels: sdet

#7539 10.x.x/universal/backport 1375791 - lighting banding fix
  com.unity.render-pipelines.core/ShaderLibrary/Common.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: SRP, universal

#7549 Rename 22.2 nightly
  .yamato/_abv.yml
  .yamato/config/abv.metafile
Labels: sdet

#7550 Rename 22.1 nightly
  .yamato/_abv.yml
  .yamato/config/abv.metafile
Labels: sdet

#7551 Rename 21.3 nightly
  .yamato/_abv.yml
  .yamato/config/abv.metafile
Labels: sdet

#7546 [10.x.x Backport][URP] Case 1397612 SimpleLit shader instancing fix on SM 2.0
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/SimpleLit.shader
Labels: universal

#7569 [VFX][UUM-574] Invalid subscript on particle mesh flipbook blend
  com.unity.render-pipelines.high-definition/Editor/VFXGraph/Shaders/Templates/Mesh/PassDepthOrMV.template
  com.unity.visualeffectgraph/CHANGELOG.md
Labels: HDRP
