Repository Unity-Technologies/Graphics, pull requests merged in 2023-02, with the labels that each got.

#7810 [GSG-0] Fix hash computation
  com.unity.sg2/Editor/ContextLayeredDataStorage/AssemblyInfo.cs
  com.unity.sg2/Editor/ContextLayeredDataStorage/AssemblyInfo.cs.meta
  com.unity.sg2/Editor/ContextLayeredDataStorage/ElementID.cs
  com.unity.sg2/Tests/ContextLayeredDataStorage/ContextLayeredDataStorageTests.cs
Labels: Shader Graph

#7808 GSG-1594 Code coverage verification for PRs
  .yamato/sg2-tests.yml
Labels: Shader Graph, sdet

#7822 Update editor pinning
  .yamato/_editor_pinning.yml
  .yamato/_latest_editor_versions_trunk.metafile
  .yamato/config/_editor.metafile
Labels: sdet

#7830 [GSG-1502] Fix port display names not shown
  com.unity.sg2/Editor/GraphDeltaRegistry/FunctionDefinitions/ParameterUIDescriptor.cs
  com.unity.sg2/Editor/GraphUI/DataModel/SGNodeModel.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/SGNodeView.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/AbstractStaticPortPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/BoolPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/ColorPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/DropdownPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/FloatPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/GradientPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/IntPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/MatrixPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/RadioPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/SingleFieldPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/SliderPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/StaticPortOptionsPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/TextFieldPart.cs
  com.unity.sg2/Editor/GraphUI/GraphElements/ModelUI/StaticPortParts/VectorParts.cs
Labels: Shader Graph

#7820 2020.3: Adding LIGHTMAP_SHADOW_MIXING to ParticleSimpleLit shader
  com.unity.render-pipelines.universal/Shaders/Particles/ParticlesSimpleLit.shader
Labels: universal
