Repository Unity-Technologies/Graphics, pull requests merged in 2023-03, with the labels that each got.

#7840 Small update of HDRP Template
  com.unity.template-hd/ProjectSettings/ProjectSettings.asset
Labels: HDRP

#7837 [GSG-1644] codecoverage diff
  .yamato/sg2-tests.yml
Labels: Shader Graph, sdet

#7854 10.x.x/backport/uum 2997 uum 18553
  com.unity.render-pipelines.core/ShaderLibrary/SpaceTransforms.hlsl
  com.unity.render-pipelines.universal/CHANGELOG.md
  com.unity.render-pipelines.universal/Shaders/ComplexLit.shader
  com.unity.render-pipelines.universal/Shaders/LitForwardPass.hlsl
Labels: SRP, universal
