Repository Unity-Technologies/Graphics, pull requests merged in 2023-05, with the labels that each got.

#7863 [PPv2] Fix obsolete code
  TestProjects/PostProcessing_Tests/Assets/CommonAssets/Scripts/PostProcessingGraphicsTests.cs
  TestProjects/PostProcessing_Tests/Assets/ReferenceImages/Linear/LinuxEditor/Vulkan/None/0218_Std_MSVO_Deferred.png
  TestProjects/PostProcessing_Tests/Assets/ReferenceImages/Linear/LinuxPlayer/Vulkan/None/0218_Std_MSVO_Deferred.png
  TestProjects/PostProcessing_Tests/Assets/ReferenceImages/Linear/OSXEditor/Metal/None/0218_Std_MSVO_Deferred.png
  TestProjects/PostProcessing_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D11/None/0218_Std_MSVO_Deferred.png
  TestProjects/PostProcessing_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Direct3D12/None/0218_Std_MSVO_Deferred.png
  TestProjects/PostProcessing_Tests/Assets/ReferenceImages/Linear/WindowsEditor/Vulkan/None/0218_Std_MSVO_Deferred.png
  TestProjects/PostProcessing_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D11/None/0218_Std_MSVO_Deferred.png
  TestProjects/PostProcessing_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Direct3D12/None/0218_Std_MSVO_Deferred.png
  TestProjects/PostProcessing_Tests/Assets/ReferenceImages/Linear/WindowsPlayer/Vulkan/None/0218_Std_MSVO_Deferred.png
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/PostProcessing/Editor/Tools/DefineSetter.cs
  com.unity.postprocessing/PostProcessing/Runtime/Effects/ChromaticAberration.cs
  com.unity.postprocessing/PostProcessing/Runtime/Effects/TemporalAntialiasing.cs
Labels: testing, postprocessing v2

#7877 Patch 10.10.2 changelog
  com.unity.render-pipelines.universal/CHANGELOG.md
Labels: universal

#7881 [PPV2] Bump package to 3.3.0
  com.unity.postprocessing/CHANGELOG.md
  com.unity.postprocessing/package.json
Labels: postprocessing v2

#7878 [HDRP][Template] Removing Textmesh Pro from the dependencies and upgrading ugui to 2.0.0
  com.unity.template-hd/Packages/com.unity.template.hd/CHANGELOG.md
  com.unity.template-hd/Packages/com.unity.template.hd/ValidationExceptions.json
  com.unity.template-hd/Packages/com.unity.template.hd/package.json
  com.unity.template-hd/Packages/manifest.json
  com.unity.template.hdrp-blank/Packages/com.unity.template.hdrp-blank/CHANGELOG.md
  com.unity.template.hdrp-blank/Packages/com.unity.template.hdrp-blank/ValidationExceptions.json
  com.unity.template.hdrp-blank/Packages/com.unity.template.hdrp-blank/package.json
  com.unity.template.hdrp-blank/Packages/manifest.json
Labels: Template

#7886 [Template][HDRP Blank] bump to version 14.0.3
  com.unity.template.hdrp-blank/Packages/com.unity.template.hdrp-blank/CHANGELOG.md
  com.unity.template.hdrp-blank/Packages/com.unity.template.hdrp-blank/ValidationExceptions.json
  com.unity.template.hdrp-blank/Packages/com.unity.template.hdrp-blank/package.json
Labels: Template

#7887 [Template][HDRP Blank]bump to 14.0.3
  com.unity.template.hdrp-blank/Packages/com.unity.template.hdrp-blank/CHANGELOG.md
  com.unity.template.hdrp-blank/Packages/com.unity.template.hdrp-blank/ValidationExceptions.json
  com.unity.template.hdrp-blank/Packages/com.unity.template.hdrp-blank/package.json
Labels: Template

#7875 Added The Hexagon Grid node
  ShaderGraphPlayground/Assets/Shaders/Tests/SG2/test3.sg2
  ShaderGraphPlayground/Assets/Shaders/Tests/SG2/test3.sg2.meta
  com.unity.sg2/Documentation~/Hexagon-Grid-Node.md
  com.unity.sg2/Documentation~/Noise-Hash-Node.md
  com.unity.sg2/Documentation~/Sample-Triplanar-Node.md
  com.unity.sg2/Documentation~/TableOfContents.md
  com.unity.sg2/Documentation~/UV-Flow-Map-Node.md
  com.unity.sg2/Documentation~/previews/HexagonGrid.md
  com.unity.sg2/Documentation~/previews/WaterScatteringData.md
  com.unity.sg2/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Input/Lighting/LightTexture2DNode.cs
  com.unity.sg2/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Procedural/HexagonGridNode.cs
  com.unity.sg2/Editor/GraphDeltaRegistry/FunctionDefinitions/StandardDefinitions/Procedural/HexagonGridNode.cs.meta
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVFlowMap.shadersubgraph
  com.unity.shadergraph/Editor/Data/Nodes/UV/UVSphereMap.shadersubgraph
Labels: Shader Graph

#7907 Branch off 2022.2 -> 2022.3
  .yamato/_abv.yml
  .yamato/_cache_config.metafile
  .yamato/_editor_pinning.yml
  .yamato/_editor_priming.yml
  .yamato/_latest_editor_versions_2022.3.metafile
  .yamato/_templates.yml
  .yamato/all-postprocessing.yml
  .yamato/config/__shared.metafile
  .yamato/config/_editor.metafile
  .yamato/config/abv.metafile
  .yamato/postprocessing-linux-vulkan.yml
  .yamato/postprocessing-osx-metal.yml
  .yamato/postprocessing-win-dx11.yml
  .yamato/postprocessing-win-dx12.yml
  .yamato/postprocessing-win-vulkan.yml
Labels: sdet
